[2015-05-10 14:58] aMarCruz opened #1 "why cito?"
Hi @trueadm,
English is not my language, hope you understand me :)
I'm curious. Why you changed from Bobril to cito?
Seems to me that Bobril is superior code.
I think [virtual-dom](https://github.com/Matt-Esch/virtual-dom) is another good alternative, because of its current penetration in the community.

[2015-05-10 15:08] aMarCruz commented on #1
I think Bobril is the best codebase I've evaluated. However, desperately urges marketing approach, and tutorials and a good place, which is what has given others their success (eg. riot).
The Bobril site says nothing to neophytes in SAP like me, which are many.

[2015-05-11 18:36] trueadm commented on #1
Hi @aMarCruz, I changed to Cito because I've been working with the author of Cito on a project for the last few months and we've got very similar ideas on how we see the future of template engines in terms of performance.

I agree that Bobril has a decent codebase and it's well documented and coded – but currently, Inferno is in a transition period until @joelrich comes up with a finalised version

[2015-05-11 18:55] aMarCruz commented on #1
@trueadm thanks, I'm clear now.

[2015-06-16 19:09] #1 closed

[2015-07-26 18:43] Kflash opened #2 "[Q] How did you do it?"
Hi. @kflash here. Author of Trackira. I just wonder how you got this performance and your future plans?

Just to say it. When I did Trackira my goal was to create something average for people to use. And the performance are bob bob.

In my other private project I do things for real and this project is a component framework with a VD just like inferno. The performance on this is much better overall

[2015-07-26 19:12] trueadm commented on #2
Hey there @Kflash. I'll need time to best think about a reply – I've got a family event to attend to tonight so it won't be till later or tomorrow. I've had a large refactor over the last 3-4 days in terms of how it handles creation of the DOM (as reflected in the vdom benchmark).

Quickly though, the performance is from a combination of things:
- optimising the "vdom" output so it's excluding sta

[2015-07-27 07:53] Kflash commented on #2
@trueadm I had a quick look at your re-write. How are this `cachedNodes` working? Aren't you just inserting a bunch with *empty* nodes? For your text node, shouldn't it be a idea to do
` ... instanceOf Date` too? A date is a set of numbers, but will not be checked.

[2015-07-27 08:12] trueadm commented on #2
The cachedNodes were removed just now, they were copied over from the prototype I was working on. There was no speed performance gain from cloning pre-made empty nodes. There is quite a big improvement in cloning nodes that have a single textNode and using firstNode.nodeValue to update text rather than using textContent though.

I used to support Date conversion to string, but it's actually quite

[2015-07-28 13:42] tinchoz49 commented on #2
The improve of perfomance that you get is amazing and i really like the components implementation in inferno. good job!

[2015-07-29 09:02] cevek opened #3 "angular 2.0 alpha fastest inferno almost 2 times"
http://infernojs.org/benchmarks/angular-test-table/infernojs/index.html
do main table display none - for measuring only render dom without paint and reflow
create 5000 items

results:
angular2 - 100ms
inferno - 190ms

[2015-07-29 12:16] trueadm commented on #3
Hey cevek,

Thanks for pointing this out to me. I need to update the version of Inferno on there when I get around to it, I hope that this will also fix some performance problems on DOM creation.

[2015-07-29 15:02] trueadm commented on #3
I've just updated Inferno to 0.1.27 (prototype version). Could you please retest and let me know the results?

Thank you :)

[2015-07-29 15:10] cevek commented on #3
old version render time ~ 170ms
new version ~ 270ms

[2015-07-29 15:12] trueadm commented on #3
Odd, I get the same result in both now, 240ms. Are you running the tests the developer tools open?

[2015-07-29 15:14] trueadm commented on #3
Ah I know why, the t7 precompiler hasn't properly stripped out the static content as it should have. I'll need to fix that tonight. It's generating a huge amount of vdom code 5000 times – that would be why it's slowed down!

[2015-07-29 18:47] trueadm commented on #3
I haven't cleaned up the static code yet, but I did notice a bug in my code that I've fixed. Performance is better now. On another note, don't use the render time shown on the page for Angular 2, use the timeline or the profile. It's actually very cheeky what they've done – they're using async timers (RAF and setTimeout) to break out the rendering and model handling process. With the table hidden,

[2015-07-30 06:38] cevek commented on #3
render time results from timeline on incognito window:
new version inferno ~ 400 ms
angular2 ~ 120ms

[2015-07-30 06:47] cevek commented on #3
and your test is not correct because data load through ajax. It took 160ms delay after button click

[2015-07-30 06:52] trueadm commented on #3
I did some tests last night, it seems that this is to do with the fact that Angular is using RAF (which has benefits when the table is hidden) as it causes the DOM to updates to happen in async vs Inferno which is a sync library and thus all actions happen at once. If I switch to also using RAF for rendering the DOM, I lose performance when the table is visible and gain a huge amount of performanc

[2015-07-30 06:58] cevek commented on #3
Then you should measure full rendering time for all examples, now inferno ~ 2400ms

[2015-07-30 08:18] trueadm commented on #3
Your results don't match up with mine on full renders:

Inferno: 450ms
Angular2: 1800ms

[2015-07-30 09:36] cevek commented on #3
Other results with Macbook pro, but angular still faster
![image](https://cloud.githubusercontent.com/assets/3171573/8980138/22d5135c-36b7-11e5-9a48-a70e7620ef83.png)
![image](https://cloud.githubusercontent.com/assets/3171573/8980143/2ae05c1e-36b7-11e5-8d3e-3b54f20aa963.png)

[2015-07-30 09:36] cevek commented on #3
x.cevek my skype

[2015-08-03 08:41] Kflash opened #5 "focus are lost!"
You can't maintain focus in Inferno. You have no support for `document.activeElement()`.

[2015-08-10 08:00] gobwas opened #6 "Why there is not any tests?"
It is little bit scary to switch from some vdom to inferno bc of this =)

[2015-08-10 08:17] trueadm commented on #6
Very scary! But I'm going through too much of an early development conceptualisation stage right now – once I'm happy with the underlying root structure of Inferno I'll get those tests added :)

I'd envisage no longer than a couple of weeks before I start adding test coverage.

[2015-08-10 08:22] gobwas commented on #6
Good news :beers:
Also, will be there some events about `componendDidUpdate` and `componentDidMount` etc?

[2015-08-10 08:25] trueadm commented on #6
I'm looking to replicate the React component API where possible – to keep familiarity to those coming from React (plus I quite like their API and lifecycle events, they make lots of sense). So there will be the equivalent of  `componentDidMount` and `componendDidUpdate` etc

[2015-08-10 10:00] gobwas commented on #6
:fireworks: :fireworks: :fireworks:

[2015-09-01 08:46] trueadm commented on #3
This had now been addresses in 0.2.3 (you can check this code out on the proto branch).

[2015-09-01 08:46] #3 closed

[2015-09-01 08:47] trueadm commented on #6
Just to give an update to this: I've started some working on adding test coverage now. They'll be added to the `proto` branch for the time being.

[2015-09-01 08:48] trueadm commented on #5
@Kflash the upcoming 0.2.3 proto release will have support for focused elements.

[2015-09-01 10:29] gobwas commented on #6
Very good news! If I'll be possible to help - will glad to =)

[2015-09-02 15:27] AutoSponge opened #7 "[Q] License"
One of the issues my employers always have with React is the license issue and Facebook seems unwilling to go back to Apache. To date, I've used open source virtual-dom libraries to build apps where React would have worked.

Inferno looks like a great alternative (and possibly a better one) but you have a default "ISC" mentioned in the package.json and no license file. Is your intention to open so

[2015-09-02 16:21] trueadm commented on #7
Hey @AutoSponge,

I'll be honest, I've not invested any time into updating the license. It will definitely be fully open-source though, you can rest assured there :)

[2015-09-08 14:20] ghost opened #8 "What is the roadmap ?"
Hi, @trueadm

Seems great this project, but comparing to the readme. A couple of missing pieces?

- `createElement()`. Is this something coming soon? I think that will give you even more stars. I was looking into the code, and shouldn't be too hard to copy from your very great t7 script? Or maybe I'm wrong.
- different things seems unfinished inside the code, any plans for finishing this?
- any pl

[2015-09-08 14:35] rickardjanson commented on #6
Any progress on the test coverage?

[2015-09-08 14:37] rickardjanson commented on #5
Is this 0.2.3 the same version that is out now, or will it come another one soon? Any roadmap for it? Great stuff btw!

[2015-09-08 14:40] trueadm commented on #8
Hey @rickardjanson

- `createElement` is a tricky one. In the latest Inferno (check the proto branch), Inferno now relies heavily on the concept of virtual fragments and templates rather than virtual DOM nodes. This allows Inferno to gain a massive boost in performance both in creation and updating. Thus why there's a tight coupling with t7. I'm not sure how easy it would be to break away this cou

[2015-09-08 14:42] trueadm commented on #5
Nope, 0.2.3 is still in development. You can check the "proto" branch for a snapshot of 0.2.3 alpha (I don't believe I've pushed the focused elements fix yet though).

[2015-09-08 14:43] trueadm commented on #6
@rickardjanson I've written a few for the new 0.2.3 but have yet to push them as I encountered some issues regarding IE (Inferno doesn't like IE it seems :))

[2015-09-08 14:51] rickardjanson commented on #8
Server side rendring is a must indeed, and I hope you add it in the next version. Same for createElement(). As me, and other devs I know, use React.createElement() a lot in our work. Easier for us to write objects directly then using html / xml or whatever syntax inside our code.

I understand it could be tricky and probably loose performance a litle, but easy enough to put up a warning sign about

[2015-09-08 15:33] trueadm commented on #8
The only real way I could implement something that is quasi createElement like would be:

[code]

The template is only accessed once, and thus it's contents are only ever created once, so it takes pointers to where values exist within fragments. I don't see this being too much of an attractive API to use for a developer, so I see little value in it. As Inferno isn't a typical vdom implementation,

[2015-09-08 15:50] rickardjanson commented on #8
Hmm. Why not copy from your t7? I had a quick look.
So the first step would be to set key, dom etc. Then have a create value function creating the fragments as function. If the sub fragment has a template as well, return a function. Keep going as deep as you need and return a pure object you pass to the render function.

Isn't that possible? And in the value function as mentioned you could do

[co

[2015-09-08 16:13] trueadm commented on #8
Changing Inferno to work like that would mean re-writing most of how it works. Plus, t7 no longer generates that output, for Inferno it outputs:
[code]
So it's quite a bit different. I'd need to think about this more.

[2015-09-08 19:49] edge opened #9 "Build system and code revamp"
I love the design and concept behind Inferno -- it fascinates me and I'm just raring to switch from React. But before we get there, there are a few things Inferno needs to address. I'm a bit busy right now, so I'll just outline my main concerns:
- Grunt is outdated. Gulp is a much better and faster build system.
- Same with Closure. UglifyJS is a much more capable and supported utility.
- Since yo

[2015-09-08 20:09] trueadm commented on #9
Hi @edge,

- I agree, I plan to switch to Gulp, I simply re-used an old project template (that used Grunt) when starting with Inferno.
- It currently does use Uglify rather than Closure, although I've noticed noticeable performance benefits from using Closure's ADVANCED_OPIMISATIONS setting.
- I've intentionally avoided using ES6 features where they introduce more work for the compiler. Babel is g

[2015-09-08 20:26] edge commented on #9
@trueadm I love that you are so concerned about performance and memory usage -- it's what made me fall in love with this library. But the `ADVANCED_OPTIMISATIONS` setting is notorious for breaking code, and that deters people from contributing. It's something that a lot of people don't trust.

Webpack has some really advanced optimization functionality, and it truly shines when combined with Uglif

[2015-09-08 20:33] trueadm commented on #9
@edge Inferno shouldn't be popular. I've not attempted to spread word of it and I intentionally didn't want to do so just yet. The only place people find Inferno is from the vdom benchmark (it's only been on there a month). I hope it does become popular once I get it to a position where I am happy with it (which isn't where it is now).

I plan to get test coverage, build pipeline and all the other

[2015-09-08 22:25] rickardjanson commented on #8
The example above, would generate a message like this when I tried it:

`TypeError: Argument 1 of Node.replaceChild is not an object.`

I realy need this kind of feature, and can't use Inferno as it is without it. Could you quickly set up a basic function that works, and then I can deep dive into it and see if I can improve it and then PR if everything is OK ?

I understand too if you can't implem

[2015-09-08 23:20] rickardjanson commented on #8
In case other people wonder above this. The example given by the author is wrong.

Example: `fragment.element = root;`

is not valid in latest version. It should be `fragment.templateElements`.

However. `fragment.templateElements` require to be an array as far as I could see, else you would get this kind of console message `TypeError: fragment.templateElements is null`

So either way everything h

[2015-09-09 01:26] rickardjanson opened #10 "Broken source or what?"
I investigated a little and everything works just fine until this commit: ae217413b73757c483cdd3c59751144768444726

I also managed to get a benchmark working with this one. And also you may notice
https://github.com/trueadm/inferno/blob/ae217413b73757c483cdd3c59751144768444726/build/inferno.js#L323-L368

This is all iteration through arrays. Updatefragment doesn't.

However, I got the benchmark ru

[2015-09-09 06:59] trueadm commented on #8
My example wasn't meant to work, it was a pseudo function to kind of explain what actually happens now with Inferno 0.2.3 and how it handles fragments. Sorry for the confusion there! I'll give you a working example later today.

[2015-09-09 09:37] trueadm commented on #10
I'm a bit confused why you claim the source is broken? I've updated the vdom benchmark:

http://vdom-benchmark.github.io/vdom-benchmark/

Hopefully that can clean up some of the problems you've had. If you'd like me to help you make this createElement function for your project, I'll be happy to help you via email (dg@domgan.com) or Skype (trueadm).

[2015-09-09 09:37] #10 closed

[2015-09-09 11:14] #5 closed

[2015-09-09 11:15] trueadm commented on #7
Added the Mozilla license to 0.2.3 :)

[2015-09-09 11:15] #7 closed

[2015-09-09 11:15] trueadm commented on #9
I switched over to Gulp and Webpack in the latest `proto` branch commit.

[2015-09-09 13:09] trueadm commented on #2
Thanks for the feedback guys. More work is on the way :)

[2015-09-09 13:09] #2 closed

[2015-09-09 13:10] trueadm commented on #8
I've added  `createFragment()` to the latest Inferno `proto` build. Use that as a reference to see how fragments are composed.

[2015-09-09 15:21] rickardjanson commented on #8
@trueadm I will check that out, and see if you deserve a star now. As mentioned I abandoned this script, and out of what I see I can expect to get same performance with my beloved and needed createElement? Comparing ot t7? Hmm, I doubt this. Will it be equal in the future?

[2015-09-09 15:23] rickardjanson commented on #10
Neh source seems just fine now after you fixed it. It was broken, else I guess you didn't had to add all that extra code you pushed in the latest commits. Or I'm mistaken?

[2015-09-09 16:20] trueadm commented on #10
No, the vdom benchmark was working fine without the refactors (you can see in the main.js on the vdom bench test what you needed to put in the template functions to make them work). I simply added them to tidy the code up a bit.

[2015-09-09 16:30] trueadm commented on #8
You'll never get the same performance with createElement due to the fundamental flaws behind createElement and the idea of diffing a a virtual DOM on each pass.

Inferno isn't a typical vdom framework. It doesn't diff the vdom, it diffs the values that are pushed into fragments. Thus it can leave the static "elements" alone and simply check what has actually changed (which template strings can pro

[2015-09-11 08:30] trueadm commented on #8
Looking more into the feasibility of createElement in the way I added it as an experimental feature – it simply doesn't work or fit the criteria of Inferno. Inferno isn't React, the more it tries to be React, the more it moves away from its goal of providing superior performance by not having to diff vdom but instead diff values.

I feel I should expand on the templates with a better functional de

[2015-09-11 14:18] leeoniya commented on #8
big +1 from me. though i'd prefer a single letter fn rather than `this.createElement`. i guess it can easily be aliased like:

[code]

[2015-09-11 20:50] edge commented on #8
@leeoniya That'll deter people :)

Use
[code]

[2015-09-11 20:52] trueadm commented on #8
Alternatively, I could pass in template as the first param on the function, so:

[code]

[2015-09-11 23:56] leeoniya commented on #8
Guess it depends on whether you're in the _`this` considered harmful_ camp or not; I'm the former. Passing it explicitly would keep things more pure and composable, help with mocking/tests and make it largely self-documenting. In addition it would be a tiny minification win, since `this` cannot be mangled.

[2015-09-13 21:17] JohnPittman commented on #9
Stick to your path my man. Core framework development and documentation > the build system etc. Sounds like they're using a light-green cube but you're making a dark green circle and wants you to cater to his business without actually helping (a todo list is not help). He sure does plug webpack a lot, why not jspm? Don't care and not an issue because we're here for something lightweight, bug free,

[2015-09-17 09:53] trueadm commented on #6
We now have plenty of tests in the new-build branch. :)

[2015-09-17 09:53] #6 closed

[2015-09-17 09:54] trueadm commented on #9
@JohnPittman thanks for the feedback and comments :)

We're now a team of three working on this project, happy for additional help if you're up for contributing to Inferno and have passion to make the fastest JS framework out there :)

[2015-09-17 09:55] trueadm commented on #8
I've done some work on it @leeoniya. As you're interested in this, would you be interesting in working with us on contributing to Inferno?

[2015-09-17 10:05] gobwas commented on #6
@trueadm Great job! Cool! :+1:

[2015-09-17 10:13] trueadm opened #12 "Join in on the discussion on the Inferno + t7 Slack"
If anyone wants to join in on the discussion on the development of t7 or Inferno, please let me know via email and I'll send you an invite. :)

My email is: dg (at) domgan.com

[2015-09-17 12:47] edge commented on #9
@JohnPittman

It'd be a business if only I weren't 16. :)
I'm just an open source dev.

JSPM is a no-go because currently the tooling is a bit awkward. And it's also better as a dependency manager, not as a library build system. webpack has a lot of advanced optimization, and it has the smallest output size of pretty much anything out there.

Since we're currently using webpack and ES6+ in the new

[2015-09-17 12:47] #9 closed

[2015-09-17 15:08] leeoniya commented on #8
Sure, I'll contribute as I can, I'm a bit loaded down atm, though. It also looks like you guys are churning through a lot of code to refactor lately (on `new-build`), making it difficult to jump in and grok quickly.

[2015-09-17 19:06] trueadm commented on #8
@leeoniya we have a Slack group if you're interested in joining? Just throw me your email to dg (at) domgan.com and I'll add you :) we're moving fast but it's easy to jump right in.

[2015-09-17 19:28] edge commented on #8
@leeoniya By the way, the createElement API is pretty nice now.

It's what @trueadm posted a few comments up, and you can use it both ways.

https://github.com/trueadm/inferno/blob/new-build/tests/tests.js#L57-L62

[2015-09-17 20:10] leeoniya commented on #8
@edge I'm actually not sure what's going on in that test. How is the html embedded directly in js? I can't find that as valid syntax anywhere in [1]. Also, I can't see that format suggested anywhere in the comments above. The whole goal of `createElement` was to avoid template strings (as in the samples above).

[1] https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_

[2015-09-17 20:30] trueadm commented on #8
@leeoniya Ah, edge gave an example of where he refactored my createElement function (passed as the first argument in the callback on createTemplate). If you notice at the top of the document, he specified t as being JSX, so it's using JSX to do the createElement logic.

Inferno.template.createElement is used as a lower level API to create actual DOM/virtual nodes (for Node env).

[2015-09-17 20:52] leeoniya commented on #8
@trueadm Thanks, makes sense. I'm gonna play around with everything between today and tomorrow. Do you guys have an active TODO/TOFIX list somewhere? I sent you an email for the Slack join.

[2015-09-19 00:38] Kflash opened #13 "Children are not set correctly in createElement();"
@trueadm @edge  Children are not set correctly in `createElement()`

[code]
This will not create any children for the `ul` element as illustrated.

If we dig deeper into this, and use the `console.log` inside the `createElement()` function, we will see this:
[code]
and if we look at the rendered HTML in the `console.log`, we will see this:

[code]
There are no children!

It seems that only the `li

[2015-09-19 04:23] Kflash opened #14 "issues with createTemplate()"
@edge  @trueadm

This test spec:

[code]

will throw this error

[code]

My question is. What is this `[object Object] `, are the value not replaced or what? Where is this `[object Object] ` coming from?

This works if I set the value manually.

if we try to update, we will get an *element is null* in the console.log. I commented that out for now.

[2015-09-19 08:56] JohnPittman commented on #9
@trueadm That's awesome my friend. Thanks so much for the consideration and I am completely in on this but there's a "but." Officially signing a bunch of docs next week because I've now embarked on going all-in on a business and I'm the only one out of a lawyer, digital marketer/business analyst, and super hero hybrid nerd (me) that's able to build out the back-end cloud platform we need so it's g

[2015-09-19 11:14] trueadm commented on #13
I'm not sure what you were doing wrong here, but this works fine for me and has been added to tests:

[code]

[2015-09-19 11:59] trueadm commented on #14
Fixed :)

[2015-09-19 11:59] #14 closed

[2015-09-19 11:59] #13 closed

[2015-10-02 00:02] rickardjanson commented on #8
@trueadm  Did try this code over and over again because I wanted to use this in my daily work. And your new improvements was good, but still I ending up with too much trouble, and now I lost my work because 3 days over deadline because of this code :(

So I gave up this case, and just found the gun and will pull the trigger in a few sec... bye!  I'M NOT JOKING!! Bye!

[2015-10-13 16:30] caseyWebb opened #16 "main field in package.json is incorrect"
should be `dist/inferno.js`, is currently just `inferno.js`

this breaks requiring unless you do `require('inferno/dist/inferno')` in your app code

[2015-10-13 16:42] caseyWebb commented on #16
I see this has been fixed in the development branch. My apologies.

[2015-10-13 16:42] #16 closed

[2015-10-23 13:42] jvaloria opened #17 "Small typo in Overview example code"
https://github.com/trueadm/inferno#overview

![image](https://cloud.githubusercontent.com/assets/4265837/10694094/a51755de-7972-11e5-8fe7-effe86ba776b.png)

[2015-10-23 13:57] trueadm commented on #17
Thank you!

[2015-10-23 13:57] #17 closed

[2015-10-23 14:05] jvaloria commented on #17
Glad to help, and to see such a quick response. Total support for InfernoJS, keep it up!

[2015-11-26 19:18] ifraixedes opened #18 "Make license more explicit"
Hi @trueadm,

I've just discovered inferno and I liked the approach that you have had for the VritualDom and to use t7 as template system, actually I've discovered Inferno through t7.

I've seen that you decided to use ISC license, as it's in package.json, however I think that it's very helpful to add a LICENSE file to the root of the project or add a LICENSE section in the README.

Thanks.

[2015-11-26 19:23] trueadm commented on #18
Ah, the license should be more clear in the `new-build` branch. I'll be soon merging that to the master branch as much has changed in Inferno!

[2015-12-16 17:15] stevenvachon commented on #12
I don't see why t7 is mentioned as an exclusive template language. One could compile to the AST from any template language.

[2015-12-16 17:16] stevenvachon commented on #8
I prefer `{tag:"div", attrs:[], children:[]}`

[2015-12-16 19:27] trueadm commented on #8
@stevenvachon Agreed, this topic is actually very much out of date now. We've switched to using vdom structure in templates. :)

[2015-12-16 19:28] trueadm commented on #12
It's not a dependency at all. The master branch is out-of-date, check out `perf-spike` branch. It uses vdom now, so it's very easy to make whatever template language you want.

[2015-12-16 19:40] stevenvachon commented on #12
Hmm, v0.3.0 on that branch has not been released? npmjs.com/inferno shows v0.1.11

[2015-12-16 19:41] trueadm commented on #12
Not yet, hoping to merge with master and release in time for the New Year :) we're working hard to get the new system in place. Lots of nice new performance boosts all around too.

[2015-12-17 03:30] stevenvachon commented on #12
Looking forward to it!

[2015-12-17 19:45] kuraga opened #21 "What's the difference from virtual dom libraries?"
Good day!

Say please, what's the difference from virtual dom libraries making Inferno so fast?
Say from [virtual-dom](https://github.com/Matt-Esch/virtual-dom)...

Thanks.

[2015-12-17 23:48] kaanyurukcu opened #22 "#perf-spike: Having trouble using Inferno with JSX (babel-plugin-inferno)"
Hi,

First of all, thank you all for your efforts on this project!

Like I said in the title, I get this error: ```_src2.default.createFragment is not a function```. By the way, I am also using webpack.

I can see that compiler creates this template:
[code]

Here is my configuration so far:
[code]

[code]

And the app.js:
[code]

I am sorry if this is just a rookie mistake and a useless question,

[2015-12-18 00:24] trueadm commented on #22
Hey @kaanyurukcu, the JSX plugin is next on my list to update. Currently it doesn't support the new form of templates. As you found out, you can use it fine without JSX for now, so give me a few days to update the JSX plugin. Thank you for trying out Inferno :)

[2015-12-18 00:36] kaanyurukcu commented on #22
Hey there, thank you for quick response! Ah thats what I thought but wasn't sure.

Sure I'll be waiting :) Thanks again!

[2015-12-18 00:37] #22 closed

[2015-12-18 08:29] kuraga commented on #21
Ok, now I see readme of [perf-spike branch](https://github.com/trueadm/inferno/tree/perf-spike), so another question: are there (global) differences unnoted there? And does Inferno, on dynamic content, manipulate real DOM _or_ virtual DOM structures _and then_ mutate real DOM?

[2015-12-18 09:59] trueadm commented on #21
Hi @kuraga, thanks for checking Inferno out. The key difference is that Inferno uses templates to represent fragments of virtual DOM. The virtual DOM gets pre-compiled once into a DOM static nodes and gets given instructions and a shape. It then uses these to make highly optimal passes to the DOM to create/update/remove the dynamic parts. It never needs to "diff" virtual DOM, it simply diffs the v

[2015-12-18 10:27] kuraga commented on #21
@trueadm , thanks very much for reply! But _further_: Suppose the whole tree is dynamic. There are variables in each attribute, every tag name is variable and contents of tags are also variables :smile: Which scheme of updating do we have in _this_ case, and are there differences from other libraries _here_?

[2015-12-18 10:30] trueadm commented on #21
@kuraga in the case that everything is dynamic, it would simply traverse through each shape in the tree and update each one, ensuring the changes are all carried out. This should be a very fast operation, still much faster than typical virtual DOM implementations as they still have to carry out a `render` to work out what has changed. Inferno already knows what can change so simply does a `===` ch

[2015-12-18 10:59] kuraga commented on #21
@trueadm ,

Left operand is property of `Fragment` object (e.g. `{tag: 'li', attrs: { className: 'row' }, text: text}`, and right operand is property of `HTMLElement` object, am I right?

[2015-12-18 11:06] trueadm commented on #21
@kuraga Sorry I'm a bit lost by that comment. Inferno will build a tree for the fragment `{tag: 'li', attrs: { className: 'row' }, text: text}`. The tree will consist of shape(s) that are highly optimised objects that do very specific tasks to the DOM or of child shapes in the tree.

In the example given, it would know only to "diff" the `text` value on that fragment, thus only touching the `HTMLE

[2015-12-18 11:14] kuraga commented on #21
@trueadm Just my English is too bad to ask precisely... I'm asking about what __exactly__ does it compare with `===`.

Can you point out a line of code of this check, please?

[2015-12-18 11:32] trueadm commented on #21
@kuraga it's done within the shapes, for example:

[code]

[2015-12-18 13:07] kuraga commented on #21
So, shape is compared with shape.

Thanks very much!

Last question: are there plans about unit tests

[2015-12-18 13:23] trueadm commented on #21
Yes, there are plans for UTs although the ATs provide great coverage and feedback given the fact the API of Inferno is tiny.

[2015-12-18 14:02] kuraga commented on #21
Thanks very much!

[2015-12-18 17:38] trueadm commented on #21
@kuraga No problem! Inferno has always been about three things:

1 have the absolute best performance in regards to manipulation of the DOM
2 keep a React like API, allowing for people to migrate projects to Inferno with little overhead
3 have the absolute best performance when handing server-side rendered text (Node)

We're still to build on point 3, and point 2 still has some coverage that needs

[2015-12-18 18:04] kuraga commented on #21
@trueadm Big thanks for discussion.

I am just trying to create own __minimalistic__ component-based library. So, immutable model as a dependency, DOM manipulation as a dependency, and Application class (with application loop) and Component class (immutable). See: [RotorJS](https://github.com/kuraga/rotorjs).

It uses [virtual-dom](https://github.com/Matt-Esch/virtual-dom). And I like virtual-dom

[2015-12-18 18:25] trueadm commented on #21
The author of Cito and I have been working on ideas and concepts for a very long time. I've not taken much inspiration from else-where to be honest as I don't see too much value in what other people are doing in the virtual DOM scene (all attempting to solve the same "problem" even though the problem to begin with shouldn't have been one). I'll keep an eye on RotorJS, it looks promising.

In respe

[2015-12-18 18:25] stevenvachon commented on #21
@trueadm regarding point 2, couldn't that be handled with another library? React may be nothing in 1.5 years.

[2015-12-18 18:31] trueadm commented on #21
@stevenvachon whilst it's true, React might not be here in 1.5 years, I very much doubt that. React doesn't care about the DOM, it's more the fact it's addressed the hardest problem around, how to properly build componentized UIs regardless of their target endpoint (desktop, mobile, web etc). I don't see any other library coming remotely close to replacing React's principles.

I'm definitely behin

[2015-12-18 18:31] kuraga commented on #21
Yeah, agree with @trueadm ! Further-more I think (every) library should be as more modularized as possible... So, it's good idea to separate JSX (done), Ract-like features **and** DOM manipulate functions and component functions should (well, may) be in different libs...

[2015-12-18 18:33] trueadm commented on #21
@kuraga I like the idea of separating the DOM from the components, as React does with `react-dom`. I just haven't seen it as a priority right now.

[2015-12-18 18:37] kuraga commented on #21
Well, you're really fast result and painstaking (as of count of good-stored TODOs in code) approach are more important, you're right! :smile:

[2015-12-18 18:42] leeoniya commented on #21
@trueadm do you plan to have hyperscript [1] or jsonml [1] transpiler (probably augmented with any needed Inferno-isms) so that a dev can use those shortened formats to define templates rather than the long-form required by Inferno's `createElement`?

i'm also wondering how a template compiled using `createElement` rather than template strings can determine the immutability of any node without reg

[2015-12-18 18:46] trueadm commented on #21
Inferno's `Inferno.TemplateFactory.createElement` is simply a factory method that creates a object literal that looks like `{ tag: 'div', attrs: {}, children: [ ... ] }`. It would be very trivial to write your own that follows any other type of template out there, including `hyperscript`. These all go inside Inferno `templates` and works out what is dynamic or not by what is passed through as argu

[2015-12-18 19:13] leeoniya commented on #21
ah i see. i think the missing piece in that scenario for me would be something like function argument reflection [1]. that way the template can be compiled once with getters/setters inserted in place of where the arguments are used in the func body so the diff can be done just on the passed args and the setters/DOM patch invoked where they differ.

[1] http://stackoverflow.com/questions/1007981/ho

[2015-12-18 19:14] trueadm commented on #21
@leeoniya if I'm not confusing your question, Inferno does this already. Templates are only compiled once. Each variable in the arguments represents a pointer to where the value exists in the arguments for the fragment.

[2015-12-18 19:17] leeoniya commented on #21
no, no there's no question. just thinking out loud to grok the core idea and clarifying that it uses reflection to determine what parts of the func body are static.

[2015-12-18 19:20] trueadm commented on #21
@leeoniya this works the exact same as before. You can't do things like this inside templates `val1 + val2` or  `val1.map(...)`. Everything is literally based on pointers to values passed into the fragment. Exactly the same as how ES2015 template strings work.

[2015-12-18 19:45] leeoniya commented on #21
got it, thanks!

btw, sorry for disappearing off gitter, i couldn't realistically help with my schedule and spend time troubleshooting the bunch of issues that came up with installing the build dependencies on Windows. Contributing wasn't as simple as "git clone, npm install, write js" :) Maybe i missed something.

[2015-12-18 19:46] trueadm commented on #21
I believe @Kflash fixed that with a new workflow, so you should be able to do that now on Windows! on the `perf-spike` branch anyway. Which is in far better shape than the `new-build` branch. Just getting test coverage up to 95%+.

[2015-12-19 02:09] peterwmwong commented on #21
@trueadm Do you have any sense of what the performance of `perf-spike` is like versus `master`(or what is on [vdom-benchmark](https://github.com/vdom-benchmark/vdom-benchmark-inferno/blob/gh-pages/inferno.min.js))?

[2015-12-19 10:29] trueadm commented on #21
In my testing, the new `perk-spike` was about 30% faster than the last Inferno on the vdom-benchmark. :)

[2015-12-19 19:44] kuraga commented on #21
@trueadm ,

vs

What do you think? Not a good option?

[2015-12-19 19:47] trueadm commented on #21
Maybe we are mistaking different things, I was talking about the Component Lifecycle API. If we're talking about the general API, Inferno's API is vastly simpler than both.

`Inferno.render()` does everything you need, mounting, partial mounting and unmounting.

React's best API is its component API, i.e: `componentDidMount`, `componentWillUpdate` etc.

[2015-12-19 19:49] kuraga commented on #21
Hm... Yes. I'm interested about DOM manipulation :smile:

[2015-12-20 00:55] #18 closed

[2015-12-20 00:56] #21 closed

[2015-12-20 00:56] trueadm commented on #8
@stevenvachon Inferno 0.4.0 has now been released, aiming to update the benchmark pages in the coming days with the new version :)

[2015-12-20 01:25] Kflash commented on #22
@kaanyurukcu New Inferno version released on the master branch, with a updated JSX plugin

[2015-12-20 01:48] kaanyurukcu commented on #22
Thank you @Kflash and good job! Appreciate it!

[2015-12-20 03:02] yaycmyk commented on #8
:tada:

[2015-12-20 04:55] stevenvachon commented on #8
95kb?! Ugh. All that React stuff, probably :(

[2015-12-20 05:19] Kflash commented on #8
@stevenvachon How did you end up with that result?

[2015-12-20 05:42] yaycmyk commented on #8
He's looking at the unminifed version in the dist folder

[2015-12-20 05:48] Kflash commented on #8
@yaycmyk the unminifed is not 61 kb.

Anyway there is a huge difference between 450kb++ (*react*) and 91kb (*inferno*). So inferno have the smallest core size

[2015-12-20 06:13] yaycmyk commented on #8
I know, he said a higher number. Only you said 61kb.

[2015-12-20 06:26] Kflash commented on #8
@yaycmyk We should keep focused on things that matters. But to the record, he wrote this
`95kb (61kb minified) ?! Ugh. All that React stuff, probably :(`

61kb  are mentioned inside the parentheses.

This is only a small thing anyway. So now let us focus on things that matters.

[2015-12-20 07:19] kuraga commented on #8
:fireworks:

[2015-12-20 08:58] serapath opened #29 "Efficient Subtree Patching Proposal (for Inferno)?"
I'm not sure if the following proposal makes sense for Inferno.
Maybe it's already supported. (See: https://github.com/Matt-Esch/virtual-dom/issues/343 )
* **tl;dr:** A component should be able to listen to data changes and then update itself.

**I want to combine:**
* `virtual-dom`
* `level-js` (=leveldb in the browser),
* visual components as `stream modules`

**Concept:**
* After initial render

[2015-12-20 16:37] stevenvachon commented on #8
cito.js is 11.7kb

[2015-12-20 16:40] kuraga commented on #8
@stevenvachon cito.js is really simple but doesn't have serious optimizations...

[2015-12-20 16:47] stevenvachon commented on #8
I don't think that's what is bloating this library. The functions that are useless to a runtime are.

[2015-12-20 16:48] stevenvachon commented on #8
Take Handlebars -- there is the full and then there is a smaller runtime that does not compile strings.

[2015-12-20 19:33] trueadm commented on #8
@stevenvachon

There's a misconception that less code = better performance, that's simply not true at all. Inferno leverages on monomorphic JavaScript objects which in term make for *predictable* compilation. For example: we want the V8 JIT compiler to fully use hidden classes where possible – as it's extremely efficient, so we have to be careful how we go about writing our code. Unfortunately, do

[2015-12-20 19:46] stevenvachon commented on #8
Front-end apps needn't be 1–2mb, *especially* gzipped. Less code downloads faster and provides better SEO results, so it is a concern. I never said that less code meant faster runtime performance, which is clearly not the case even with regular expressions vs substrings.

I'm interested to see what happens when `inferno-server` is separated from `inferno-dom`.

[2015-12-20 20:14] trueadm commented on #8
@stevenvachon I work for a company that builds large SPAs on scale of like Gmail, Spotify, Soundcloud, etc. These apps can have thousands of SVGs, images, sounds and other large assets. These are great cases where using something like Inferno would have a massive impact on performance.

I think the separation of `inferno-dom` and `inferno-server` is what you're likely hinting at wanting the most a

[2015-12-20 20:22] stevenvachon commented on #8
Time will make that impossible for the beginning of 2016, surely. Perhaps after, but I have other projects already on hold.

[2015-12-20 20:56] trueadm commented on #29
So I did some playing around with this today using the ES7 `Observable`. You can totally get the same functionality using Higher Order Components and Observables with stateless components, for example:
[code]
Does that make sense?

[2015-12-20 21:05] serapath commented on #29
The `'autocomplete/'` and `'help/'` is defined inside the component and that's how it's supposed to be, but in your example it doesn't seem like that.

The main point is, that a component renders itself whenever necessary and does not get rendered by any ancestors.

[2015-12-20 22:14] trueadm commented on #29
The`autocomplete/` and `help/` are defined in the component as props, not from ancestors. ComponentStream knows its children and causes a render on the child upon getting new data.

[2015-12-20 23:42] trueadm commented on #29
I can add a `Container` higher order component to Inferno's component architecture. For example:

[code]

So that it passes down data from the subscribed observable upon getting it from the `db`.

[2015-12-22 14:27] Havunen opened #31 "Babel plugin / Inferno fails with rendering SVG"
Inferno babel plugin 0.2.5 or Inferno 0.4.0  is failing when there is component with SVG inside.

[code]

Exception is thrown:
<pre>
 ModuleParseError: Module parse failed: ****\node_modules\babel-loader\index.js?{"presets":["es2015"],"plugins":["babel-plugin-syntax-jsx","babel-pl
You may need an appropriate loader to handle this file type.
|             tag: 'use',
|             attrs: {
|

[2015-12-22 14:31] Kflash commented on #31
@Havunen Can you try to render it without JSX and see if it throws so we now if it's the plugin causing this, or something in the core.

[2015-12-22 14:32] trueadm commented on #31
It appears to be an issue with the core Babel JSX plugin when it encounters `xlink:href="#error"`. I'll investigate in more detail now.

[2015-12-22 14:35] trueadm commented on #31
Ah, so the issues is this:

`Namespace tags are not supported. JSX is not XML.`

So Bable does not support namespaced tags.

[2015-12-22 14:41] trueadm commented on #31
As per React:

https://github.com/facebook/react/issues/2250

I'll get `xlinkHref` attribute added so it achieves the same thing without breaking JSX. :) @Havunen how does that sound?

[2015-12-22 14:47] Kflash commented on #31
Everything is fixed and should work out of the box now with the compiled build on the dev branch.
Found here. https://github.com/trueadm/inferno/tree/dev/dist

[2015-12-22 14:58] Havunen commented on #31
Really quick reply guys!
I will try it out later today :)

[2015-12-22 16:59] Havunen commented on #31
Great work guys! It seems to work in dev branch. You can close this issue.

[2015-12-22 19:44] #31 closed

[2015-12-23 16:25] JoeLanglois opened #33 "Any way to implement React's context?"
I'm currently implementing a basic app using Inferno + Redux.
All of my components in the tree need to have access to my store.

I could implement a top-level StoreComponent class that imports the Store from which all of my components would inherit but I'd prefer using something more transparent.

Any plans or ideas on how I could implement [React's context](https://facebook.github.io/react/docs/c

[2015-12-23 17:00] tejacques commented on #33
Ultimately this is @trueadm's call, but personally I don't think React's Context API is the way to go for supplying store state to components.

I much prefer what Redux has done in [react-redux](https://github.com/rackt/react-redux) as a library implementation.

In addition to that, the Context API is not stable, and Facebook themselves even has a note that encourages you not to use it due to the

[2015-12-23 17:05] JoeDRL commented on #33
@tejacques You mean the Provider component?
Looking at the source, [it still uses's React's context](https://github.com/rackt/react-redux/blob/master/src/components/Provider.js#L20-L23).

[2015-12-23 17:23] tejacques commented on #33
Well then, I look pretty dumb now! Regardless I think it's still probably better to wait until that API becomes more stable and has figured out some pain points.

[2015-12-23 17:34] trueadm commented on #33
Hi @JoeDRL thanks for trying Inferno out. I've bee considering `context` for a while and have been thinking about performance gains and how it might fit in the roadmap. There was a plan for Inferno to support async partial renders on components, irrelevant of their parent node tree. If we did add that functionality, then we wouldn't be able to use context in the same way React handles it.

I was p

[2015-12-23 19:34] JoeDRL commented on #33
@tejacques Don't worry about it and thanks for trying to help out ;)

Hey there @trueadm, fantastic work on Inferno so far.
I will definitely start working on my implementation of inferno-redux, will keep you in the loop!

By the way, is there a gitter room/slack thingy to speak about inferno?

[2015-12-23 20:07] trueadm commented on #33
There is a Slack group, email me your email address and I'll send you an invite :) [dg@domgan.com]

[2015-12-23 20:08] #33 closed

[2015-12-25 12:30] thisconnect opened #34 "inferno without jsx (jsx alternatives)"
Hi I found inferno while looking for jsx alternatives though t7. Call me not openminded for not falling in love with jsx. Watching the redux series made me want to use redux and just confirmed that I never touch{' '}\<jsx /> . I know jsx is optional, but calling createElement() for every element does not make it any better.

From reading some of the tests I noticed that Inferno allows to create mu

[2015-12-25 12:49] trueadm commented on #34
Hey @thisconnect,

Quite a lot of points there and it's Christmas so I'm in a bit of rush (hope you don't mind, but trying to get a reply out before my wife kills me).

Firstly JSX is complete optional in Inferno, its done via the Babel JSX plugin. It's sugar syntax like you say for the creation of templates and passing in the raw values. Inferno doesn't need to use `createElement` in the `Templat

[2015-12-25 13:03] thisconnect commented on #34
Thanks for your quick reply I'm very happy with the `Inferno.createTemplate` syntax.

Happy xmas to you too, hope your wife isn't mad at you now!

[2015-12-26 10:32] Havunen opened #35 "simple if statement inside component DOM"
Hey,

This might be silly question, but I couldn't get it working so I decided to post it here. I'm not able to render component DOM based on boolean condition. For example if I want to hide or show different DOM nodes based on some logic.

versions:
-infernoJs dev
-babel-plugin-inferno: ^0.2.5,

I have tried following:
[code]

output:
[code]

fails with runtime exception:
Uncaught TypeError: Fail

[2015-12-26 10:48] Kflash commented on #35
@Havunen Sounds no good. When did you try this on the dev branch? A lot of changes happened the last 6 - 7 hours. Can you first try with the latest build I just pushed so we can start to narrow it down?

[2015-12-26 10:52] Havunen commented on #35
thanks for reply @Kflash, I just took latest and issue exists

[2015-12-26 10:54] Kflash commented on #35
Ok, could you try same thing without JSX to verify if this is a plugin issue?

[2015-12-26 10:54] trueadm commented on #35
@Havunen this seems to be a bug in the JSX plugin. It's trying to assign a `RootDynamicNode` to a tag value. I'll look into this later, as I'm travelling back home from the holidays right now.

[2015-12-26 11:00] Kflash commented on #35
@trueadm Can be something I did too. I rolled back.
@Havunen Can you try latest distro on dev branch too see if it still exist?

[2015-12-26 11:07] Havunen commented on #35
@Kflash I think this problem has been there for a while I had same issue before xmas. ( didn't have time to post it then)

@trueadm manually changing that line results into different exception,
failing here:
[code]

[2015-12-26 11:45] trueadm commented on #35
@Havunen actually scrap that, it's not a bug in the JSX plugin (the `tag: v0` is correct), I misread something on my phone. I'll take a look at this ASAP when I get back :)

[2015-12-26 14:27] trueadm commented on #35
@Havunen can you please try again using latest `dev`. Thanks!

[2015-12-26 15:01] Havunen commented on #35
Great work guys! Just minor issue with isVoid import

isVoid is undefined.  Adding it (src/util/isVoid.js)
[code]

and making new build fixes this issue now. Thx!

[2015-12-26 15:01] #35 closed

[2015-12-26 15:02] trueadm commented on #35
@Havunen nice find, do you want to discuss Inferno with us on Slack? If so, drop me a mail at dg@domgan.com so I can give you an invite :)

[2015-12-27 01:07] JoeLanglois opened #39 "Wrapper components throw error"
I'm building a Provider component for our `inferno-redux`bindings.
Unfortunately, the following always throws the same error: `Uncaught TypeError: Cannot read property 'create' of undefined`

Here is the (minimal code):
[code]

Returning this.props.children does not work either, it gives me `Uncaught Error: Inferno Error: A valid template node must be returned. You may have returned undefined, an

[2015-12-27 01:22] Kflash commented on #39
@JoeLanglois First off all you are missing `getChildContext`

I found the children if I do this

[code]
and then

[code]

But @trueadm will look into this. I'm offline now!

[2015-12-27 01:26] JoeLanglois commented on #39
@Kflash, I removed the getChildContext method to isolate the issue, that was on purpose.
The problem is not (so far) with context, the problem is a wrapper components that just renders its children does not work as in React.

[2015-12-27 15:31] JoeLanglois commented on #39
Here's the code that works, thanks to @trueadm for pointing out that the provider component needs to return fragments of its children, not the children themselves.

[code]

[2015-12-27 15:31] #39 closed

[2015-12-28 08:06] kuraga opened #41 "Documentation"
Good day, @trueadm !

We have `// TODO` in `README.md` in `API` section.
Could you finish this section, please?

Thanks!

[2015-12-28 12:13] trueadm commented on #41
Thanks @kuraga, not entirely sure why we had that `TODO` still there. Removed! Also if you're interested in coming to our Slack channel for a chat, feel free to email me at dg@domgan.com so I can send you an invite.

[2015-12-28 12:13] #41 closed

[2015-12-28 15:43] Svjard opened #42 "maximum callstack exceeded"
I'm new to Inferno, so apologies if I am missing something obvious here. I have a really basic component with just a render() function:
[code]
So Navbar is itself also a component, a basic `<ul>` for now. When I actually get to rendering the component as such:
[code]
I get a maximum call stack exceeded. It seems that in:
[code]
Its getting caught in the recursion. It has something to do with the N

[2015-12-28 16:25] trueadm commented on #42
Hi @Svjard, can you please post the `render` function for `Navbar`?

[2015-12-28 16:26] #34 closed

[2015-12-28 16:26] trueadm commented on #29
@serapath any thoughts on my comment above?

[2015-12-28 16:33] Svjard commented on #42
Sure. The actual component is pretty complex, but I simplified it to make sure it wasn't something in the component itself, this is the current render function of Navbar.
[code]

[2015-12-28 16:34] Svjard commented on #42
I'm using your gulp-jsx plugin for Inferno, if that adds any insight.

[2015-12-28 17:38] Svjard commented on #42
I was able to reproduce this as well by adding a simple test case in jsx/dom-component-tests.js where you have two trivial components where one is embedded in the other. Strangely enough if I change the main render to just put a `div` instead of the Navbar component and add an extra render() call it works fine, but not the most ideal solution.

[2015-12-28 18:44] trueadm commented on #42
@Svjard thanks for your help! Massively appreciated! I've tracked down the route cause of the issue and I'm working on a fix now :)

Would you be interested in coming onto our Slack and chatting with the team? If so, drop me a mail at dg@domgan.com so I can send you an invite.

[2015-12-28 18:49] Svjard commented on #42
@trueadm No problem, I am loving working with Inferno! You've done an awesome job with it. I'll drop you an email to get a slack invite. Thanks again!

[2015-12-28 20:32] Svjard opened #43 "Children not rendering properly"
Simple test case, tested against latest `dev` branch.

[code]

Inside `incrementCount` the correct `this` context exists with the prop.car set as well as state.count set but the only render() method called is with the `this` context for BMW.

I'll try to track this down inside the code and see if I can provide more insight.

[2015-12-29 18:12] trueadm commented on #43
This should be fixed in latest `dev` branch. Please can you confirm?

[2015-12-29 18:12] #42 closed

[2015-12-29 18:13] trueadm commented on #8
Given this thread is very much out-dated given our plans for 2016, I'm closing it in favour of a new roadmap issue.

[2015-12-29 18:13] #8 closed

[2015-12-29 18:15] trueadm opened #44 "Roadmap 2016"
Upcoming roadmap for Q1-Q2 2016.

- [X] Break `inferno` into separate packages, such as: `inferno-dom`, `inferno-server`, `inferno-component`
- [X] DOM node/component hooks
- [ ] `inferno-test-utilities`
- [ ] DOM node transitions
- [x] Server side rendering
- [ ] Chrome dev tool extension
- [ ] propTypes
- [x] Performance optimisations
- [x] When refs are strings, imply the same logic as React an

[2015-12-29 18:23] Svjard commented on #43
Just pulled the latest `dev` but still getting the same behavior as before.

[2015-12-29 18:24] trueadm commented on #43
That's strange as I've added a test on `dev`: `should render a component with a list of children that dynamically update via setState`. Can you please check this test as a reference?

[2015-12-29 18:43] Svjard commented on #43
So weird behavior. Rebuilt `dev` that was my first problem. The test case is fine. It works fine now expect for a unique test case. So if I click BMW then Volvo then Saab everything works as expected. It however I click BMW again I am fixed in the Saab context (this = Saab component) in both incrementCount() and render().

[2015-12-29 19:30] Svjard commented on #43
It is always the last component, if you expand the list once you click any item from [1, n - 1] then when you click the nth item it will act as though it is a click from the previous item clicked before the nth item was click. Something with that final child.

[2015-12-29 19:55] trueadm commented on #43
@Svjard can you try with the latest `dev` build now?

[2015-12-29 20:16] Svjard commented on #43
Confirmed, that fixed it. Thanks!

[2015-12-29 23:25] tejacques opened #45 "Test sometimes fails"
Error below -- the test fails about half the time, which seems VERY odd -- maybe there is a race condition or something?

DOM component tests (jsx)
should render a component with a list of children that dynamically update via setState
Second render (update) ‣
[code]

[code]

[2015-12-29 23:53] trueadm commented on #45
There's a 'waits' that invokes a `setTimeout`. So likely that we need to increase the timer. I don't see this as an issue though.

[2015-12-30 00:01] tejacques commented on #45
Yep that's definitely it. I can mess around with it so it's more reliable.

[2015-12-30 00:41] tejacques commented on #45
Would you be ok with changing the test to directly call the increment via simulated click event instead of using `setTimeout`? I changed the JSX test suite to mount the container node before, unmount after, and dispatch click events to the buttons before checking, which works even with `waits(0, ...)`

That sort of complicates it since it's testing multiple things, but it's deterministic, and more

[2015-12-30 00:48] tejacques opened #46 "Fails on IE -- ReferenceError: 'Symbol' is undefined"
I think this is a known issue, but posting it here to track it better.

Currently, tests on all versions of IE fail with: `ReferenceError: 'Symbol' is undefined`. Would be great to get back support for IE9+!

[2015-12-30 01:01] tejacques commented on #45
This is up in PR in #47, will wait for your feedback before merging.

[2015-12-30 07:41] Havunen commented on #46
We  could add polyfill for those older browsers.
for example: https://github.com/medikoo/es6-symbol

[2015-12-30 07:42] Kflash commented on #46
Question is how many extra byte would we allow? Should be small core, and a polyfill is around 5KB.

[2015-12-30 07:48] Havunen commented on #46
Yup. There is also another point of view that browsers are slowly getting their Ecmascript6 native support ready. For example Firefox 46 has 90% of spec supported and IE's are no longer developed. So maybe we could ship "ES6" native version of inferno and then another converted / polyfilled version.

[2015-12-30 07:55] kuraga commented on #46
http://babeljs.io/docs/plugins/transform-runtime/

[2015-12-30 07:57] Havunen commented on #46
I have been hoping I could do following during next year.

index.html
[code]

[2015-12-30 08:09] thisconnect commented on #46
Isnt there a pollyfill for the browser as part of babel?

They use the core.js polyfill https://babeljs.io/docs/usage/polyfill/

[2015-12-30 08:20] kuraga commented on #46
@thisconnect this is pollyfilling transformer - it adds used functions only.
Yes, it uses [core-js] so it [supports](https://github.com/zloirock/core-js#supported-engines) IE8 and pollyfills most of ES6 things (including [Symbol](https://github.com/zloirock/core-js#ecmascript-6-symbol)s).

[2015-12-30 08:23] kuraga commented on #46
@Havunen for why? Why not [babel-runtime](http://babeljs.io/docs/plugins/transform-runtime/)? It's an universal solution!

[2015-12-30 08:26] kuraga commented on #46
@Havunen You [**do** compile](https://github.com/trueadm/inferno/blob/master/package.json#L81) ES6 (syntax) to ES5 but don't want to pollyfill ES6 functions to ES5? Hm...

[2015-12-30 08:28] Havunen commented on #46
My point was I was hoping I could drop the compilation to ES5 for modern browsers and then include these polyfills / compiled ES5 / etc for IE only

[2015-12-30 08:32] kuraga commented on #46
Aaah, yes, that's another history...

Well so there's a good point for TODO: browsers testing. :smile:

[2015-12-30 08:33] kuraga commented on #46
And of this concrete issue try a transformer maybe...

[2015-12-30 08:36] kuraga commented on #46
No, I think we **should** use [babel-runtime](http://babeljs.io/docs/plugins/transform-runtime/) now. Now Inferno's code is neither ES6 nor ES5! (as I see...)

[2015-12-30 13:37] trueadm commented on #46
In the case of using `Symbol`, rather than polyfilling it, we can simply provide a *slower* but alternative method where the user hasn't got support for `Symbol`.

[2015-12-30 14:57] Kflash commented on #46
The problem should have been solved now. @tejacques can you confirm this, and close the ticket if solved?

[2015-12-30 14:58] Kflash commented on #43
Problem solved, so closing this.

[2015-12-30 14:58] #43 closed

[2015-12-30 15:18] kuraga commented on #46
I'm sorry for persistence but you really won't pollyfill ES6 functions in ES5 build? Why? Do you mean they're supported by supported browsers?

[2015-12-30 15:25] Kflash commented on #46
There is a feature detection check in the code base.  He only uses Symbol basic that is now supported by all major browsers. In case a newer browser only supports some parts of Symbol only we catch that.

IE is the bad wolf here. So watch up!

To implement a polyfill will bloat the core with say 5 kb extra code that is only used by IE. So best solution is to use a check as done now and fallback to

[2015-12-30 15:31] kuraga commented on #46
Ok, then what about _three_ builds: ES6, ES5, ES5-compat? I don't worry about IE and Symbols.

I'm just confused that ES5 build's code isn't really ES5-compatible, and that's interpreted as ok!

[2015-12-30 15:42] Kflash commented on #46
All code are transpiled down to es5 so shouldn't be any issues. @

[2015-12-30 15:42] #46 closed

[2015-12-30 16:56] tejacques opened #48 "Fails on IE9/10 -- 'Map' is undefined"
Comes from src/core/createTemplate.js:32

[code]

This issue is mostly just to document that a `Map` polyfill is currently necessary. One solution is to specify this in the README/documentation, another is to avoid using `Map`.

[2015-12-30 17:06] Kflash commented on #48
Where did you find that legacy browser?
Can you check for a faster solution then Map that does the same thing and
consider to implement it?
On Dec 31, 2015 12:56 AM, "Tom Jacques" <notifications@github.com> wrote:

[2015-12-31 00:52] thisconnect commented on #48
At my clients they are about to drop IE8 soon :), but there are still many corporate users using IE8 as their main browser.

I found only a few Map's in the dev/src as far as I see they only make use of Map.get and Map.set

https://github.com/trueadm/inferno/blob/dev/src/DOM/createTree.js
https://github.com/trueadm/inferno/blob/dev/src/core/scanTreeForDynamicNodes.js

Shouldn't a simple object loo

[2015-12-31 00:58] trueadm commented on #48
This won't work. Object literals can only accept strings as keys. Everything is passed in via 'toString' if they are not a string. This why I had to use 'Map'.

[2015-12-31 01:14] thisconnect commented on #48
Now it makes sense thanks! I'd rather there would be a note in the README/documentation about browser or environment support and a recommended polyfill

[2015-12-31 03:27] tejacques commented on #48
Doing this without `Map` would require some nontrivial changes. The smallest polyfill I can find is https://github.com/WebReflection/es6-collections

[2015-12-31 05:06] Kflash commented on #45
@tejacques This is merged. And - as you know - tests are refactored.  So I'm closing this.

[2015-12-31 05:06] #45 closed

[2015-12-31 05:07] Kflash commented on #48
There are ways to solve this, but we need to think about performance. I will look into it when I'm doing some core changes soon.

[2015-12-31 08:35] yak77 commented on #44
Hi,

Just started looking at inferno, and the performance looks very impressive.

I was wondering if there are plans for TypeScript integration such as creatng a ".d.ts" definition file?

Also, does inferno support animations?  If so, what is the recommended approach?

Thanks.

[2015-12-31 08:53] Kflash commented on #44
Hey, @yak77. Thanks for looking at Inferno.

Regarding TypeScript all I can say just now is that we will see what the future brings. Important for us now is to split Inferno in to three packages, and optimizations. Soon as that is done, we will see where the road will take us.

Animation is not directly supported. However Inferno supports all CSS properties that your browser supports. A difference

[2015-12-31 11:02] thisconnect commented on #48
My gut feeling is that you should **not** include a polyfill by defalut, but give some advice or build option how to incorporate a polyfill with inferno. Old browsers are mostly slower anyway, it is a waste to try to optimize them (IMO), since those are used to a slow internet experience.. There might be other ES2015 or ES5 polyfills needed for old browsers, but old browsers will go away at some p

[2015-12-31 11:56] Kflash commented on #48
@thisconnect You are right. Polyfill will also bloat the core with bytes we don't want. I will come back to this later on when I'm optimizing the core.
I need to be finished with AT and UT tests for Inferno before I can jump into this so I'm sure nothing breaks :)

[2015-12-31 12:06] thisconnect opened #49 "npm run build error"
On branch dev (8a3fd3d2c53b5411376855dbcda105428340e836), after a fresh `rm -rf node_modules` and `npm i` I get the following error when building. All tests pass

[code]

[2015-12-31 12:10] Kflash commented on #49
@thisconnect I know. Someone have been so smart that they have tried to lint that file :(
For now, can you play around with the bridge branch? I should be able to merge into dev in one hour I hope.

[2015-12-31 12:14] thisconnect commented on #49
no problem, good you know. just wanted to report that, don't hurry

[2015-12-31 12:15] Kflash commented on #49
Actually I will merge very soon. Can work from dev branch. One more push to bridge, and if it's all green I merge.

[2015-12-31 12:23] Kflash commented on #49
@thisconnect Let me know if everything works for you now

[2015-12-31 12:31] Kflash commented on #49
I confirmed myself this is working and issue solved. So I close this.

[2015-12-31 12:31] #49 closed

[2015-12-31 12:39] kuraga commented on #44
@trueadm add "Solve pollyfills problem" :smile:

[2015-12-31 12:58] thisconnect commented on #49
thanks a lot, just tested the tiger example from master (https://github.com/trueadm/inferno/blob/master/examples/svg/tiger/index.html) with the current dev build. Looks good.

Also the DOM looks pretty. Is that just this example or will Inferno add all those div's and crazy id's as react does?

![screen shot 2015-12-31 at 1 56 11 pm](https://cloud.githubusercontent.com/assets/546900/12064567/7b0d3

[2015-12-31 13:06] Kflash commented on #49
Inferno will try to follow React API, but we are not going to add crazy stuff like that. In fact Inferno as it is now will be broken into 3 packages very soon - DOM, Server and Core.

Regarding the tiger and SVG and CSS in general. Inferno supports the same CSS as your browser does - a difference from React. So transformation too works right out of the box. For SVG we are following the standards,

[2015-12-31 13:47] thisconnect commented on #49
I never liked the react DOM + react-dev-tools, which was kind of the initial reason to look for something else. I really really love that inferno supports nested nodes in 1 api call

[code]

[2015-12-31 14:15] kuraga commented on #49
@thisconnect so what didn't you like exactly (I didn't use react)?

[2015-12-31 15:44] thisconnect commented on #49
Ok the following is very opinionated, but I do believe that I am partly not the only one. So if you read that there will be a lot of `I`.

I have not used react extensively either, just one small project and maybe I am too emotional about API.

Using something like JSX is ok, I just don't want to touch it myself (see my screenshot from before or that you have to use react-dev-tools). Try to force

[2015-12-31 15:56] trueadm commented on #49
@thisconnect You make some valid points there that I agree with. I don't mind JSX too much, as it's simply a way to write what you wrote above in a shortcut manner (which will help us, as not everyone wants/or knows how to write JS like that). In terms of events being inside `attrs`, it's simply like that to keep the structures of templates somewhat easier to comprehend.

[2015-12-31 16:42] thisconnect commented on #49
`attrs: { onClick: handler }` is ok... now I wonder whether that will appear in the dom or not

[2015-12-31 16:44] trueadm commented on #49
Nope, any attribute starting with `on` is omitted from the DOM I do believe as is assumed to be an event.

[2015-12-31 16:46] thisconnect commented on #49
Good thanks for clarification.. I plan to play around and hopefully create a small useful example at some point to contribute to Inferno

[2016-01-01 18:14] tejacques commented on #29
@trueadm could this just be done with state updates? List Container could just be a regular Component that subscribes to an observable prop, and updates it's own state. It's render function could pass the state (current observable value, or whatever) as a prop to it's children.

This would require this.props.children to be interactable, though, which I think isn't currently the case, but that woul

[2016-01-02 10:23] serapath commented on #29
@trueadm thx, for thinking about it. I'm trying to come up with some "prototype" that will be virtual-dom based for now. I'd like to use not just some Observable, but node streams.

I'll return as soon as I have something :-)

[2016-01-03 04:40] andyrj opened #54 "Uncaught RangeError: Maximum call stack size exceeded in most recent dev branch"
I created a repo that has a minimal code sample to reproduce the bug, with latest dev branch of inferno as of 01/01/2016 20:38 PST

https://github.com/andyrj/inferno-max-call-stack-exceeded-bug

just git clone that repo, and then you can run the app with npm start...  load up localhost:8080 in browser and it will dump out the error in chrome dev tools.  The whole tab gets borked and chrome dev too

[2016-01-03 06:15] andyrj commented on #54
Well, if I remove the parameter being passed to the onClick handler inside the map operation in src/components/filters.js , the error goes away.

I guess this isn't supported like it is in React?  example can be found: http://rackt.org/redux/docs/basics/UsageWithReact.html , down at components/TodoList.js in the redux docs.

I can write my components to not need this, but it would be nice to be ab

[2016-01-03 07:56] Kflash commented on #54
@andyrj flow you was thinking about? Not supported in Inferno, but maybe something @trueadm will suggest to add in the future.

Should we close this ticket then if this is a user error?

[2016-01-03 07:58] trueadm commented on #54
@andyrj Hi, the error you've got is expected, as you're calling the event rather than passing it around as a reference. I just tried this in React now and it also breaks, so I'm confused how it works for you? You can achieve what you want with `bind`.

[2016-01-03 08:33] Havunen opened #55 "Child component focus / blur events and state are messed up in the latest Dev branch."
There is issue that focus / blur trigger immediately. Expected result focus should happen when item is focused changing the text to True CarModel, and when moving out it should change False CarModel.

However those trigger immediately now.

latest Dev of inferno, including @Kflash 's workflow fix.
Inferno-babel-plugin: v0.2.9

Source:
[code]

compiled output:
[code]

[2016-01-03 17:31] #54 closed

[2016-01-03 19:24] andyrj commented on #54
please close this was an error on my side as trueadm said...  sorry for the erroneous issue

[2016-01-03 23:01] andyrj opened #59 "Component Life Cycle Events not all firing?"
Everything is rendering fine, so this is more me trying to explore/understand the Inferno render process.

I am not sure if I've done something wrong here but I am only getting componentWillMount and componentWillUnmount events on my components.  Here is a link to the repo I am working on: https://github.com/andyrj/inferno-redux-starter-kit

I have refactored my components until they could almost

[2016-01-03 23:44] Kflash commented on #59
@andyrj This is a real issue. I tracked down why this happening. And it will be fixed soon.
But as you may notice if that all tests passes just fine, so there are some package issues.

[2016-01-04 16:37] kuraga opened #60 "Hooks"
https://github.com/paldepind/snabbdom#hooks

Is this approach interesting for Inferno?

[2016-01-04 17:38] Kflash commented on #60
As it is now. Not in current state. We have a few hooks for events etc that
will be exposed later on.
On Jan 5, 2016 12:37 AM, "Alexander Kurakin" <notifications@github.com>
wrote:

[2016-01-04 22:39] Kflash commented on #59
@andyrj I'm going to close this now. Problem solved.

[2016-01-04 22:39] #59 closed

[2016-01-04 22:40] Kflash commented on #55
@Havunen Is this still messed up? I asked @tejacques to look into this and try to fix it, but don't know his progress.

[2016-01-04 22:50] trueadm commented on #60
There are some future plans to enable hooks with refs. For example:

[code]
It's arguably not needed at all though, unless people are using Inferno to build bigger frameworks. You can get the above easily via the component lifecycle API. I do see big value in using it when using a stateless component model – so it will go on the roadmap!

[2016-01-04 22:51] trueadm commented on #55
@tejacques how is this coming along?

[2016-01-04 22:52] trueadm commented on #48
We'll let the user know to include a polyfill for `Map` if using on browsers that do no support it. Sounds the most sensible route here. Does everyone agree?

[2016-01-04 22:54] kuraga commented on #60
Yes, it's cool as helps Snabbdom to produce its plugin system. I just think plugin system is very valuable so it's important to remember possible approaches and don't miss it!

[2016-01-04 22:56] tejacques commented on #48
For now -- yes. In any case I don't think we should supply the polyfill for the library users (aside from suggesting one to use). If later we don't need to use `Map` we can remove the dependency on a `Map` polyfill.

[2016-01-04 22:57] tejacques commented on #55
I haven't had much chance to look into this particular issue. I can try to tonight, but progress is basically 0 so far!

[2016-01-05 02:10] Kflash commented on #48
@tejacques Is this issue a big issue for you?

@trueadm I ran into this issue myself, and I workaround that will work for IE9&IE10 should be up and go in short time. I created my own solution.

[2016-01-05 02:23] tejacques commented on #48
@Kflash Everything I work on still needs IE9 support, so yes, but I'm totally fine using a polyfill for it. That said, I disagree with @thisconnect -- because older browsers are slower, but still represent a large amount of traffic (Not just IE -- older Android/iPhone browsers, too), I think it's extremely important to try and give them a good experience, since this more or less guarantees that an

[2016-01-05 02:26] Kflash commented on #48
@tejacques I understand. I'm working on a solution for this now. It works for me as an replacement for Map() and small code size, but not sure if it will works for you.

Maybe you can test it later on?

[2016-01-07 06:29] Havunen opened #61 "new toggle issue in latest dev"
There is new issue with toggling components / elements.

[code]

I think it has something to do with children types as it works with other types / combinations

[2016-01-07 06:31] Havunen opened #62 "Looping is broken at latest Dev."
Hey,

Looping components seems to be broken at latest dev. It should render two <h1> elements inside div's but nothing happens.

[code]

[2016-01-07 14:59] trueadm commented on #62
You have a mistake in your code, this:

`this.state.list.map(function(result){`

should be:

`return this.state.list.map(function(result){`

[2016-01-07 15:20] trueadm commented on #61
This should be fixed in the latest `dev`.

[2016-01-07 16:25] Havunen commented on #62
Thanks its working :+1:

[2016-01-07 16:25] #62 closed

[2016-01-07 16:26] Havunen commented on #61
Verified its working now :+1:

[2016-01-07 16:26] #61 closed

[2016-01-08 05:36] tejacques commented on #55
I took this source code and I'm unable to replicate the issue -- it's working for me:

![image](https://cloud.githubusercontent.com/assets/1389520/12191188/9da38534-b59f-11e5-9206-edeacaa7f258.png)

![image](https://cloud.githubusercontent.com/assets/1389520/12191201/ca3f8c5a-b59f-11e5-889c-34bb54e927ed.png)

[2016-01-08 11:00] thisconnect commented on #48
I did not want to say that it has to be slow for IE9 users, but try using "the internet" with IE9 (gmail?). At my work we still support IE8, mostly due to one important customer. We know they are preparing to go to edge (hopefully in 2016) but at the moment they still use IE8.

Others try to polyfill Map too see https://github.com/ModuleLoader/es6-module-loader/issues/461 and https://github.com/Mo

[2016-01-08 14:40] Havunen commented on #55
Also verified this bug is not reproducing anymore. Closing ticket.

[2016-01-08 14:40] #55 closed

[2016-01-11 04:33] tejacques commented on #48
@thisconnect I understand what you're saying, but if you look at any of the top sites, they all work in IE9 at a level I would call good.

* Google
* Gmail
* Youtube
* Facebook
* Amazon
* Twitter
* Netflix
* Yahoo
* Reddit

None of the `Map` polyfills seem to be very performant at all (they pretty much all seem to simply use an array under the hood), or they modify the object, which can have some

[2016-01-12 21:17] trueadm commented on #60
Change of plan, I'll go down the route of providing direct element support for hooks (as like Snabbdom). They will be: `create, `insert`, `beforeUpdate`, `update`, `afterUpdate` and `remove`.

[2016-01-12 21:52] barneycarroll commented on #60
Good man! I'm sure this kind of low level hook will prove a godsend down the road as optimization vectors and use cases evolve.

[2016-01-13 23:37] mstijak opened #70 "Strange bug with computed children"
I'm playing with Inferno and it's really fast. Great work!
I encountered a strange problem with component updates. I don't know how to setup jsfiddle with babel-plugin-inferno and jsx so I'm going to paste here the code to repreduce the bug.

[code]

Basically it's a counter repeated three times. For some reason only the last instance is updated.
If you uncomment console.log statement in render me

[2016-01-13 23:42] trueadm commented on #70
Hi @mstijak, thanks for taking time to raise the issue. I'm investigating now :)

[2016-01-14 00:37] trueadm commented on #70
@mstijak I believe I've found the bug in your case, please can you test it out by using the `dev` branch locally (in this case `inferno-dom#dev`). Let me know! Thanks again.

[2016-01-14 00:43] trueadm commented on #70
also if you have the time, it'd be great to have you on our Slack channel too :) email me at dg@domgan.com for an invite!

[2016-01-14 03:10] JohnPittman opened #71 "Can't get my bundle working."
Trying to compile this JSX crap with new babel 6 after taking a month off and shit is broken. Please help so I can pitch using inferno over react to my new team.

using this in gulpfile:

browserify("src/index.jsx")
        .transform("babelify", {
            presets: [
                'es2015',
                'stage-0'
            ],
            plugins: [
                "babel-plugin-syntax-j

[2016-01-14 07:40] trueadm commented on #71
Hey @JohnPittman, good to see you around again :)

It looks like you're not requiring the `InfernoComponent` correctly. It's no longer in the `inferno` package, it's in its own package `inferno-component`. So simply do `import { Component } from 'inferno-component';` and that should get you passed that error!

[2016-01-14 09:18] trueadm commented on #70
Just realised the fix wasn't pushed last night – pushed it again now. Sorry about that.

[2016-01-14 10:14] mstijak commented on #70
@trueadm: It's working. Thanks. Like inferno, it seems you're very fast too :)

On a side note, I couldn't figure how to install dev branch to my test project using npm as root package.json file doesn't provide a name. I forked the project to tweak package.json and that worked. I guess it would be easier using submodules. Is there any other way?

[2016-01-14 10:14] #70 closed

[2016-01-14 11:22] trueadm commented on #70
@mstijak Thanks for the positive feedback, really appreciated! I hope you enjoy Inferno :)

The way I would do it would be to simply reference the repo and the `dev` branch, using this method:
https://docs.npmjs.com/files/package.json#git-urls-as-dependencies

[2016-01-14 17:09] tejacques commented on #71
I did go through this when setting up a simple example from the npm packages, for the same reason. It's just as @trueadm said, you need to include:
[code]

It's actually a bit annoying mainly because it breaks the ability to use a webpack-alias to change the imports for `'react'` -> `'inferno'` and `'react-dom'` -> `'inferno-dom'`. The only workaround I have for that is to make another package cal

[2016-01-14 17:12] trueadm commented on #71
@tejacques that would be a good package to have, something like `react-to-inferno`. Unless you can think of another way without having to bring `inferno-component` back into core again (which bloats the core a bit). I hope Facebook change this too.

[2016-01-14 17:30] tejacques commented on #71
I also hope facebook changes it. That said, it's pretty difficult these days to use only pure render function components, mostly because in order to use them at all there are a lot of helper/util components that wrap them, like `react-redux`'s `Provider` or `react-router`, etc. to the point where it's almost a necessity to use the `Component` class anyway.

I also guess that `inferno-component` co

[2016-01-14 20:27] trueadm commented on #71
@tejacques React is falling behind here, stateless components have the possibility to do so much more once individual elements have their own inline lifecycle events. Like:

`<Component onDidUpdate={ foo } />`

Guess what Inferno will have ;)

Closing issue, as it's been resolved.

[2016-01-14 20:27] #71 closed

[2016-01-14 20:29] NoiSek commented on #12
Would appreciate an invite, nsek (at) safaribooksonline.com

[2016-01-16 19:38] mstijak commented on #29
I'm evaluating different approaches for building an advanced spreadsheet control. Inferno offers amazing performance, however in the case of the spreadsheet control that might not be enough.    Spreadsheets may have thousands of cells which may be interconnected through formulas. Change in one cell may trigger updates in multiple other cells. Re-rendering everything and performing diff algorithm o

[2016-01-16 23:53] leeoniya commented on #29
Hi guys, just lurking. This issue got me curious :)

@trueadm I know Inferno architecture is hugely different from domvm, but I just pushed a small domvm patch for ultra-granular updates, so you can steal the bench code or ideas if you want, and also have some baseline to destroy :)

WARNING: 10,000 cell table, mobile users beware!

http://leeoniya.github.io/domvm/test/bench/patch/

This bench act

[2016-01-18 23:54] trueadm commented on #60
Okay, hooks have been implemented in the latest push of `dev` if you guys want to try it out and test it. You use it like:

`<div onCreated={ ... } />`

[2016-01-18 23:54] #60 closed

[2016-01-19 14:08] trueadm commented on #29
@mstijak that's an interesting take on handling updates for ES2015 components. It doesn't address stateless components though and one would expect (in my opinion) to have a transparent single render schema across multiple component types.

@leeoniya Nice bench. Maybe you should push this out into its own rep though and add the other popular libraries and frameworks on, kind of like how ui bench an

[2016-01-19 19:55] cvg1 opened #75 "Uncaught TypeError: Cannot read property 'nextSibling' of undefined"
hello,

in relation to the example case here on line #50:
https://github.com/trueadm/inferno/blob/master/examples/playground/playground.js#L50

i'm wondering if throwing of exception below:
Uncaught TypeError: Cannot read property 'nextSibling' of undefined

is valid or not in case that you provide empty array to the map() call.

specifically, instead of currently provided list of items:
 [ 'Volvo

[2016-01-19 20:05] cvg1 commented on #75
ok, sorry guys. error on my part.
this is how my wrong code looked like:

			<div class="loop">
 				a={ [].map((car) => {
					return (
						<FocusInput value={car} />
					);
				})}
			</div>

but instead, this had to be used:
			<div class="loop">
				{ [].map((car) => {
					return (
						<FocusInput value={car} />
					);
				})}
			</div>

notice the omitted a=
closing.

[2016-01-19 20:05] #75 closed

[2016-01-19 20:08] trueadm commented on #75
@cvg1 No problem! Thanks for trying out Inferno :)

If you have any other issues, we'd love to help you.

[2016-01-19 21:56] cvg1 opened #76 "state change in parent component will not reflect props value change in children's JSX template"
hello,

can some one help to clarify, why this will not return this expected output:
[code]

but instead returns this:
[code]

code:
[code]

regards,

[2016-01-19 22:26] trueadm commented on #76
Hi @cvg1, I've tracked down the bug and I'm in process of fixing it now :) thank you for making this issue.

[2016-01-19 22:34] cvg1 opened #77 "JSX rendering issue"
hello,

- expected output is:
[code]
- however returned output is:
[code]

code:
[code]

- note that if you modify the return () block in MyComponent99 from:
[code]
- to:
[code]

- real DOM render will return expected output correctly, thus in this case:
[code]

regards,

[2016-01-19 22:35] trueadm commented on #76
This has been fixed in the `dev` branch now.

[2016-01-19 22:55] cvg1 commented on #76
i do appreciate prompt fix, thanks.
now another attempt to build from repo, it didn't go well yesterday :-]

[2016-01-19 23:25] trueadm commented on #77
Fixed this on `dev` branch too. Thanks for raising these issues.

[2016-01-19 23:26] trueadm commented on #76
Let me know how it goes :) you can join us on Slack if you need more help – email me at dg@domgan.com for an invite!

[2016-01-19 23:49] cvg1 opened #79 "relative import of modules that were build from repo"
hello,

can some one help, how to use the master/dev repo modules builds?
after npm run clean && npm run build, i'll get these build results in inferno/dist/ directory:

[code]

however when trying to import modules via relative path:

[code]

no errors are reported during bundle creation, but inferno component will not get mounted into DOM node specified via getElementByID.
i apologize if the iss

[2016-01-19 23:50] cvg1 commented on #77
thanks, i'll try to verify it asap.

[2016-01-19 23:55] Kflash commented on #79
@cvg1 There was a bug in the bundle system. Try latest dev and bundle again. The files are now located in `packages/inferno/dist`

[2016-01-20 00:12] cvg1 commented on #79
i can confirm that packages are being built into path you've specified.
i've altered the relative imports to:
[code]

however, behavior reminds the same.

[2016-01-20 00:13] trueadm commented on #77
Try now, I've pushed and published the lastest code

[2016-01-20 00:19] trueadm commented on #79
This should be all fixed in the latest master/release.

[2016-01-20 00:33] cvg1 commented on #79
i've installed now 0.5.18 from npm again and using these imports again:
[code]
however, the inferno-component import doesn't work anymore:
[code]

[2016-01-20 00:36] terinjokes commented on #79
@cvg1 this was probably just fixed (after 0.5.18, sorry!) in https://github.com/trueadm/inferno/commit/285671030a97343181bb7cf277fac491865d45a5.

[2016-01-20 00:39] trueadm commented on #79
@cvg1 I applied this fix to master and update the `inferno-component` NPM module. Should all work fine now.

[2016-01-20 00:52] cvg1 commented on #76
confirmed as fixed, closing.

[2016-01-20 00:52] #76 closed

[2016-01-20 00:54] cvg1 commented on #77
works ok now. thanks.

[2016-01-20 00:54] #77 closed

[2016-01-20 01:02] cvg1 commented on #79
ok, i've installed inferno-component from npm and all npm imports work ok now.

i've also tried to build modules from master again. relative import of these two works ok:
[code]
but during import of:
[code]
i'll recieve:
[code]

[2016-01-20 01:05] trueadm commented on #79
As a separate node: you can simply require from NPM now as it's up-to-date with the changes that fixed your earlier issues. In terms of loading from static files, I've had countless issues there – I'd advise to use the usual route `import Inferno from 'inferno'` but selectively choose the Inferno branch in your `package.json`.

[2016-01-20 01:39] cvg1 commented on #79
i've tried doing symlinks to the node_modules/ dir instead of relative imports and it was working well.
thank you. closing as this is acceptable workaround.

[2016-01-20 01:39] #79 closed

[2016-01-20 07:40] localvoid commented on #29
Even without any optimizations, completely rebuilding entire grid and performing diff/patch is quite fast on 10k cell table http://localvoid.github.io/kivi-dbmonster/tablebench.html . Rebuilding entire grid and diffing overhead is almost nothing compared to text node changes.

[2016-01-20 10:12] trueadm commented on #48
We can probably switch out Map for an array in this case. Similar to how `rootFragments` are handled in `inferno-dom`.

[2016-01-20 10:28] trueadm opened #82 "Transitions/Animations"
My idea of how we might implement some transition states, in this case when a DOM node enter and leaves the document, we want to apply some form of transition along with a delay before the DOM node completes its enter or leave.

`<div className="box" transition={{ name: 'box-animate', enter: 500, leave: 250 }} />`

This would work very much like React's `ReactCSSTransitionGroup` (https://facebook.

[2016-01-20 13:50] leeoniya commented on #29
@localvoid any chance of putting up your original sources? kinda hard to compare apples-to-apples otherwise :)

[2016-01-20 14:37] localvoid commented on #29
@leeoniya https://github.com/localvoid/kivi-dbmonster/blob/master/web/tablebench.js

[2016-01-20 15:12] tejacques commented on #82
Is there an advantage to doing this as a core feature rather than a HOC like ReactCSSTransitiomGroup?

It appeals to me to have it as an outside lib because it means there is a tremendous amount of flexibility and control.

[2016-01-20 15:15] trueadm commented on #82
@tejacques of course, but given how limited this API is (intentionally) it makes sense for it be on `inferno-dom` for performance reasons and simplicity reasons. We already have hooks which can give the same features that `ReactCSSTransitiomGroup` offers for callbacks.

Inspiration for this comes from Snabbdom and some of the comments from @garth in the Cerebral community. Maybe @garth can elabora

[2016-01-20 15:26] tejacques commented on #82
Performance is a good reason, if there are performance implications of having it as an HOC then it makes sense. Another reason to have it as an HOC library though would be to provide existing React users an easier transition path to Inferno, but that is a secondary or tertiary concern, we certainly shouldn't limit Inferno because of it.

[2016-01-20 15:39] tejacques commented on #82
Actually thinking about it more, a more feature rich HOC library could just be built on top of this (and give compatibility), so I don't really see any downsides.

I think having animation as more of a first class citizen is definitely the way to go these days, too.

[2016-01-20 19:39] terinjokes commented on #44
@trueadm did you have any immediate plans/ideas for what `inferno-test-tools` would look like? I'm currently really missing tooling to do Shallow Rendering (and simulating some browser events).

[2016-01-21 13:31] thisconnect opened #83 "build inferno+ES6 code as dev (with webpack) and dist (with rollup) script"
Hi, I am trying to setup Inferno with npm build scripts. At this point my approach is to use webpack+watch+reload `npm run dev` for development and bundle a script with rollup for production `npm run bundle`.

The inferno packages on npm currently have a jsnext:main field, but that does not point to the es6 code, so rollup will rollup the distributed uml script that was already rollup-ed-up.

One

[2016-01-21 13:41] Havunen commented on #83
Simply create wrapper file for InfernoJS if you want to use it with rollup

You need to create Inferno wrapper file which imports ES6 source files and exports the features you want to use in your project.

to get sources you can do following:
package.json
[code]

You can see my complete setup here (obviously the whole project is work in progress) but you can see how I bundle Inferno with Rollup fo

[2016-01-22 00:42] Kflash commented on #83
@thisconnect Is this issue solved now?

[2016-01-22 00:58] terinjokes opened #84 "inferno-server fails simple case"
The following code snippet results in  thrown exception:

[code]

[code]

I'm using "inferno@0.5.18" and "inferno-server@0.5.18".

[2016-01-22 03:24] Kflash commented on #84
@terinjokes Is this solved now?

[2016-01-22 03:34] #84 closed

[2016-01-22 03:34] terinjokes commented on #84
Fix with #85

[2016-01-22 10:01] thisconnect commented on #83
Ok I got it working using `trueadm/inferno` git repo as dependency and importing as @Havunen suggested by importing from `inferno-src/src/<things>`

I want to emphasize that, once .es2015.js code is shipped in dist and jsnext:main points to the .es2015.js files, all this is not necessary.

[code]

##### main.js

For this:
[code]

[2016-01-22 10:03] thisconnect commented on #83
Additionally for this to work I had to install the 'rollup-plugin-replace' and `replace({'process.env.NODE_ENV': JSON.stringify(process.env.NODE_ENV)})` in the rollup script.

If you want I could setup a git repo for this.

[2016-01-22 10:03] thisconnect commented on #83
Please keep this issue open until .es2015.js is distributed in the npm packages

[2016-01-22 10:36] Havunen commented on #83
@thisconnect  Sounds good :+1: , my implementation was more like workaround anyway .

[2016-01-23 00:03] trueadm commented on #83
Applied in latest release

[2016-01-23 00:03] #83 closed

[2016-01-23 07:49] leeoniya commented on #29
@localvoid

Updated my table bench to match your impl (same url). Wow, kivi is *fast!* - about 2.5x domvm. I wonder why domvm lags so much on this table bench. For dbmonster, kivi is more in line with Inferno and domvm at high mutations and similar to Inferno at low. Maybe I'm doing something extra that impacts this table bench more than it should, something to dig into :/

BTW, you should fork an

[2016-01-23 09:28] localvoid commented on #29
@leeoniya We just spent ridiculous amount of time profiling and optimizing our codebases :) But it is quite boring right now, nothing interesting happened to vdom implementations for almost a year.

[2016-01-23 14:52] trueadm commented on #29
@localvoid it doesn't appear that you're using the same dataset for the dbmonster benchmark. You should be using this one: https://github.com/trueadm/inferno/blob/master/examples/dbmonster/libs/ENV.js

It's what all the other benchmarks are using – even if it is slow. It's the rules for the benchmark.

[2016-01-24 05:55] localvoid commented on #29
@trueadm This benchmark is broken in even more ways than vdom benchmark, there are many implementations that use kvo and they can't make any optimizations because they handle data mutations differently, or if we are trying to simulate loading of data snapshots from the server, then angular optimizations(keepIdentity) should be removed from `ENV.js`.
I couldn't even properly use `ENV.js` in previou

[2016-01-24 12:41] groundh0g opened #87 "Docs: README.md typo"
Replace "and becomings" with ", becoming" or "and becomes".

[2016-01-24 12:43] Kflash commented on #87
@groundh0g Nice catch! :+1:  Can you send a PR?

[2016-01-24 12:52] trueadm commented on #87
Thanks @groundh0g, I've updated the README.md.

[2016-01-24 12:52] #87 closed

[2016-01-24 16:49] Havunen opened #88 "Removing listitems causes exception"
When removing listitems in state list it causes exception:

Uncaught NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.

[code]

Clicking button (changing state to smaller list) causes the exception.

Expected result there should be four elements (0,1,2,3) at the beginning and when clicking button there should be one element (0).

[2016-01-24 16:50] Havunen commented on #88
Also opposite is not working. Initial state one item  and then change to four. In initial render there is one, but after changing state nothing happens. no exception either.

[2016-01-25 10:56] Pauan opened #89 "Children of template are not rendering properly"
Here is a demo of the problem:

http://codepen.io/Pauan/pen/572d2d405fcbbbaf6a85b38fd5517094

It uses the latest code from `trueadm/inferno/packages/inferno/dist/` on the `dev` branch.

The demo is a reduced test case: my real application is much more complex.

But the basic idea is the same: depending on a boolean condition, either render one subtree, or render another subtree.

The problem is, w

[2016-01-25 14:13] trueadm commented on #89
Hi @Pauan, thanks for finding this. I'll check it out later once I get some time and get back to you ASAP with a fix. :)

[2016-01-25 15:19] Havunen commented on #88
This issue is fixed but there is another related. Opening new ticket.

[2016-01-25 15:19] #88 closed

[2016-01-25 15:21] Havunen opened #90 "Adding listitems does nothing"
This is related to bug https://github.com/trueadm/inferno/issues/88, but instead removing, adding more listitems.

[code]

expected result: at the beginning there is single item: ( 0 ), then after clicking button there are four (0,1,2,3)

[2016-01-25 18:05] Havunen commented on #90
Adding key to div fixes the issue so this is minor level bug.

[2016-01-26 08:04] dfilatov opened #91 "Replacement DOM instead of adding css class"
Code:
[code]
In that case only css class "b" should be added but currently there's full replacement of DOM node.
It's easy to see via css with transition which isn't applied:
[code]

[2016-01-26 08:11] thisconnect opened #92 "rollup distributed .es2015.js"
Hi this is a followup of #83

If you import inferno and use in your project
[code]

and then try to rollup that all together in a script

[code]

This will produce an script that is babeled twice. Because the distributed .es2015.js have been "partly" babeled to es5. For example inferno-dom/dist/inferno-dom.es2015.js has babelHelpers.typeof.

I tried to build inferno without the babel plugin, but I

[2016-01-26 08:38] trueadm commented on #91
Hi @dfilatov, thanks for trying out Inferno. In regards to your issue, this is happening by design.

Each condition has a separate fragment associated with it, so upon switching the condition, you're essentially applying a new fragment in place of the old one. The quickest way to do this is to simply replace the last fragment's root DOM node with the next fragment's root DOM node.

If switching cl

[2016-01-26 08:44] dfilatov commented on #91
It's just a minimal example to represent the problem, a real-life example can be much trickier.
I think you can switch to comparing virtual doms in such cases.

[2016-01-26 08:56] kuraga commented on #91
As I know user will lost scroll position of DOM element, for example.

Can't we split using of "template"s and just "dynamic shape"s?

So, static option, replace DOM element:
[code]

Dynamic option as a fallback, compare virtual DOMs:
[code]

And some other differences, maybe.

[2016-01-26 13:51] Kflash commented on #91
@dfilatov Could you send a PR for this if you have a fix?

[2016-01-26 13:51] Kflash commented on #90
@Havunen Did this happen recently? If yes, do you know wich version this broke?

[2016-01-26 13:52] dfilatov commented on #91
Sorry, I have no this one )

[2016-01-26 14:03] mstijak commented on #89
I found one more bug, it might be related. `NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.`

It's easily reproducable using slight modification of Pauan's pen: http://codepen.io/mstijak/pen/RrMQrG

[2016-01-26 18:13] tejacques commented on #92
The problem with pointing to the src files is that anyone building without all of the presets/plugins inferno uses will need to add them. There is no good solution to this problem at this time (like Babel-dependencies) that I'm aware of, but I'd love to be wrong.

[2016-01-26 18:16] barneycarroll commented on #92
@tejacques these should be simple devDependencies, no? Nobody expects to run npm scripts without having run npm install.

[2016-01-26 18:17] thisconnect commented on #92
I understand that you don't want to ship all the src files. My solution is to build the es2015.js files a bit differently (i.e. only 'presets': ['stage-0'] ), then it is possible to roll them up again .

[2016-01-26 18:31] Havunen commented on #90
Its been broken for a while I think. I tested it with previous release by the time I found it (5.17?) and it was broken also there.

[2016-01-26 18:37] Havunen opened #93 "possible bug with StatelessComponents"
In latest DEV and Master there is strange behavior when using same StatelessComponent inside two different statefull components. The initial render renders correctly there are two buttons with two paragraph's showing: 0.  But when you click Second's button (update Second's state) its updating the stateless component inside first Component and not its own child.

JSX:
[code]

Is this correct behavi

[2016-01-26 18:53] tejacques commented on #93
Sounds like a bug. Is there any actual difference between `First` and `Second`? Does this reproduce by rendering `First` at each point?

My guess is this has something to do with the event bindings or the mapping from DOM to Component instances.

[2016-01-26 19:06] Havunen commented on #93
First and Second are identical. Yeah its all the time rendering Stateless inside ```First```

[2016-01-26 19:11] tejacques commented on #92
@barneycarroll I don't think it's that simple. Firstly `devDependencies` only come along for the ride if you install with `npm install <package> --dev`, second, I don't know if webpack/rollup respect the recursive .babelrcs of included dependencies. If they do -- that part is ok, but you still won't get the babel plugins included with a vanilla `npm install <package>`

[2016-01-26 19:23] barneycarroll commented on #92
@tejacques right, I get you, the bit rollup leaves out is how to unify compilation targets. Reading [this part of the README](https://github.com/rollup/rollup-plugin-babel/blob/master/README.md#external-dependencies) from a plugin that aims to resolve some of the practical issues in babel + rollup, they seem to come to the disappointing but fairly reasonable conclusion that procedural babel depend

[2016-01-26 21:32] trueadm commented on #93
Thanks guys, can you let me know how this fairs against the latest `dev`?

[2016-01-26 21:32] trueadm commented on #90
Can we try now? Use `dev` please.

[2016-01-26 21:33] trueadm commented on #89
@Pauan please can you try against the latest `dev`?. Thanks.

[2016-01-26 21:34] trueadm commented on #91
@dfilatov are you interested in joining our Slack channel so we can speak more about this in depth? It sounds like you have some ideas? If so, email me, dg@domgan.com and I can send you an invite :)

For now, I'm closing this, as this is intended behaviour, rather than a bug.

[2016-01-26 21:34] #91 closed

[2016-01-26 21:34] trueadm commented on #48
`Map` is no longer used in Inferno. So closing this issue. Ideas are definitely taken from this discussion though.

[2016-01-26 21:34] #48 closed

[2016-01-26 22:11] Havunen commented on #90
@trueadm Working as expected! Thanks, closing this issue.

[2016-01-26 22:11] #90 closed

[2016-01-26 22:33] Havunen commented on #93
Hey @trueadm

The original thing I posted seems to work, but slightly modified version fails still. When I change the statelessComponent to be rendered conditionally it doesn't update properly:

[code]

Removing the condition ```{true ? <StatelessComponent value={this.state.counter} /> : null}``` fixes this issue, but I guess it should work also with condition?

Its not recognizing first update an

[2016-01-26 23:43] trueadm commented on #93
@Havunen try now against `dev` please.

[2016-01-27 05:56] Pauan commented on #89
@trueadm It doesn't look like there is a pre-built file for the latest `dev` commit, so I tried cloning the repository.

When I did `npm install`, I got this error:

[code]

The issue is that `webpack` is being installed with version `2.0.5-beta` (because that is the latest).

I tried manually installing version `1.12.12`, but when I did `npm install` it automatically upgraded it to `2.0.5-beta`

[2016-01-27 06:08] Pauan commented on #92
@thisconnect I also ran into this issue. The current solution is to exclude `node_modules` from the `babel` plugin, like this:

[code]

https://github.com/rollup/rollup-plugin-babel#external-dependencies

This should work correctly. The only downside is that the `babelHelpers` will be included multiple times.

[2016-01-27 06:20] tejacques commented on #92
The duplicate helpers could be solved (on some combination of babel+bundlers side) by turning the helper definitions into:

[code]

Then a bundler would be able to dedupe them easily. As far as I can tell, this is the only issue with prebuilding libraries that are included, so hopefully a solution similar to the above can be implemented.

[2016-01-27 06:25] Havunen commented on #93
@trueadm  its still broken. Starting by clicking button John. it increases both of theirs value:

[code]

I added props name so its easier to explain. Strangely though if I start by clicking button Peter its working fine, but when starting with John it fails.

[2016-01-27 06:28] Pauan commented on #92
@tejacques Yes, I agree that the babel helpers should be written as ES6 modules, rather than inserting raw code like it currently does:

https://github.com/babel/babel/blob/99a224efd9ddd1e779910701d4368d88e284a8a1/packages/babel-helpers/src/helpers.js

But that's outside the scope of both Rollup and Inferno.

[2016-01-27 06:39] thisconnect commented on #92
@Pauan sure you could exclude `node_modules`, but what is the point of distributing the es2015 files?

I claim the current es2015 in inferno are useless.

@tejacques why would you add the helpers to the es2015 dist in the first place? and then fix the duplicated helpers?

I only propose that the es2015 build/dist is as little transpiled to es5 as possible.

[2016-01-27 06:48] thisconnect commented on #92
I propose 2 changes

1) only  transpile as little as needed
inferno should have a `dist/inverno*.es2015.js` ideally built without babel, but that errors during the built `npm run build:es6`, so you need at least `stage-0` (maybe `stage-1` would do as well), Doing this will result in a useable es2015 built.

2)
if the src files had an entry point like this: https://github.com/trueadm/inferno/blob/m

[2016-01-27 07:08] Pauan commented on #92
@thisconnect I personally agree with you that the `jsnext:main` should point to ES6 code, not pre-compiled ES5 code.

However, there have been discussions about this by other people (including the author of Rollup):

https://github.com/rollup/rollup/wiki/jsnext:main

https://github.com/jsforum/jsforum/issues/5

https://github.com/rollup/rollup/issues/106

From what I understand, the biggest issue

[2016-01-27 08:21] kuraga commented on #92
Why do you it's our problem? We provide ES2015 code, that's all. Is Babeling twice (i.e. second time) user issue to prevent of **Babel**ing it, isn't it? Isn't it what Babel or Rollup users have to discuss? What did I miss?

I don't use Rollup yet, but I prefer to use Babel's `ignore` option for ES2015 modules.

[2016-01-27 09:05] Pauan commented on #92
@kuraga I think there are two separate issues being discussed:

1) How to solve the problem of Inferno being "double-babelified". This is a configuration issue in Rollup, and it is not Inferno's problem.

2) Whether Inferno should distribute "raw" ES6 code, rather than pre-compiled ES5 code. This is also not Inferno's problem, because Inferno is correctly following the `jsnext:main` standard. If a

[2016-01-27 11:20] trueadm commented on #89
@Pauan I've rebuilt `dev` packages. Can you please try again? Thanks.

[2016-01-27 13:06] Pauan commented on #89
@trueadm Thanks, it seems to be fixed:

http://codepen.io/Pauan/pen/1ea02442d1092c8f0402c9a6404c9200

[2016-01-27 13:08] Pauan commented on #89
However, the bug found by @mstijak is still there:

http://codepen.io/Pauan/pen/7da64343fe2f2fad1990f2df70980366/

[2016-01-27 13:10] Havunen commented on #92
Offtopic: Sorry for closing / reopening... Something wrong in phones mobile github app

[2016-01-27 16:55] Pauan opened #94 "Feature request: the ability to set the innerHTML of a DOM node."
I expected the following demo to work:

http://codepen.io/Pauan/pen/b64a9308e647dcdc00047e064ec64b82

But instead it simply sets the `innerhtml` attribute on the DOM node.

Is there another way of setting the `innerHTML` of a DOM node?

[2016-01-27 17:12] leeoniya commented on #94
Not trying to hijack the thread, but i recently added this to `domvm` using this syntax:

[code]

So the body is intuitively the innerHTML with a flag to indicate that it's not a plain string. Some food for thought :)

[2016-01-27 17:13] trueadm commented on #94
@Pauan this was done intentionally. We weren't sure if adding via this route was a "safe" thing to do. You can alter the innerHTML by using a hook to the `domNode`. For example:

http://codepen.io/anon/pen/vLjLmw?editors=1010

[2016-01-27 17:22] Pauan commented on #94
@trueadm Understood. I'm okay with the `onCreated` workaround.

[2016-01-27 17:22] #94 closed

[2016-01-27 23:32] tbranyen commented on #12
tim (at) tabdeveloper.com

[2016-01-28 09:24] thisconnect commented on #92
thanks @Pauan the jsforum link was quite enlightening. My misconception was that jsnext:main should point to a not transpiled es6/7 file.

[2016-01-28 09:24] #92 closed

[2016-01-29 10:48] Pauan opened #97 "Some CSS styles aren't applied"
Here is a reduced test case:

http://codepen.io/Pauan/pen/c08297ea1143b11bdddf419a7b32ab3c

The `width`, `height`, and `backgroundColor` properties are all applied, however the `border` and `borderRadius` properties are not.

[2016-01-29 19:02] tejacques commented on #97
These didn't have a shorthand version associated with them in [`src/util/styleAccessor.js`](https://github.com/trueadm/inferno/blob/master/src/util/styleAccessor.js).

I have a fix for this, but need to update the tests.

[2016-01-29 19:28] tejacques commented on #97
Actually to be more correct, it's not a problem with shorthand, but a problem with the way Inferno detects CSS Style names in the document. In any case, will have a fix tonight.

[2016-01-29 19:57] tejacques commented on #97
@Pauan:

This should be working now: http://codepen.io/anon/pen/dGKXLJ

[2016-01-29 19:57] #97 closed

[2016-01-29 22:00] Pauan commented on #97
@tejacques Great, thanks!

[2016-02-01 23:05] Havunen commented on #93
Fixed in dev

[2016-02-01 23:05] #93 closed

[2016-02-02 00:20] davidmoshal opened #99 "home page docs broken"
[code]

note the back-tick instead of quotes
minor, but breaks cut and past of examples

[2016-02-02 00:22] trueadm commented on #99
Thanks again! fixed :)

[2016-02-02 00:22] #99 closed

[2016-02-02 01:36] davidmoshal opened #100 "Bundled sources not found"
404 on these:

http://infernojs.org/releases/0.5.22/inferno.min.js
http://infernojs.org/releases/0.5.22/inferno-component.min.js
http://infernojs.org/releases/0.5.22/inferno-dom.min.js
http://infernojs.org/releases/0.5.22/inferno-server.min.js

[2016-02-02 02:41] davidmoshal opened #101 "Reactive example"
Hi, maybe I'm missing something, but I'm not seeing an example of how to use Inferno for reactive / MVVM apps?

Thanks

[2016-02-02 14:42] Havunen commented on #100
what exactly is issue here? I'm not getting 404 on any of those links you posted?

[2016-02-02 14:46] trueadm commented on #101
@davidmoshal can you give me an example of what you mean from another library/framework that you have used? The term "reactive" gets thrown around a lot in the UI world, and it can mean different things depending on where it's being used.

[2016-02-02 14:47] trueadm commented on #100
I believe there was an issue with the CDN last night. Seems fine now.

[2016-02-02 14:47] #100 closed

[2016-02-02 17:56] davidmoshal commented on #101
MVVM - ability to bind to dynamically/observe changing data.

[2016-02-02 20:20] FrigoEU opened #103 "Template in template + function in template"
Hey,

I looked into Inferno for the first time today, I'm intrigued with its design. One of the first things I wanted to do was use a template inside another template. eg:

[code]
--> Throws this error: Failed to execute 'appendChild' on 'Node': parameter 1 is not of type 'Node'.

Secondly, I was trying to hook up a click handler in my template, but also couldn't figure it out.

[code]
--> Clickin

[2016-02-03 13:59] nightwolfz commented on #101
Something like [mobservable](http://mweststrate.github.io/mobservable/) ?

[2016-02-03 16:00] davidmoshal commented on #101
yes, or [baobab](https://github.com/Yomguithereal/baobab)

[2016-02-07 17:20] thisconnect opened #106 "https for infernojs.org"
Would allow to include the inferno pre-bundled from infernojs.org in jsfiddle.

[2016-02-07 19:31] terinjokes commented on #106
I work somewhere that can help with this.

[2016-02-07 21:42] trueadm commented on #106
@terinjokes that would be awesome :)

[2016-02-11 22:50] leolimasa opened #108 "Click event not firing"
Would anyone know why the following click event does not fire?

    import Inferno from 'inferno';
    import InfernoDOM from 'inferno-dom';

    const createElement = Inferno.TemplateFactory.createElement;

    window.onload = () =>
      InfernoDOM.render(
	  Inferno.createTemplate(() =>
		createElement('button',
			      {onClick: () => alert('clicked')},
			      'Click Me!'))(),
	  document.b

[2016-02-11 22:58] trueadm commented on #108
Hey @leolimasa,

You're passing an instance of a template into a render. Instead you should be passing in the return value from a template. Furthermore, you can't put logic in templates, they should be passed in as values. Try this:

[code]

[2016-02-11 23:01] leolimasa commented on #108
Awesome, that worked! Thanks for the clarification and fast response!

[2016-02-11 23:01] #108 closed

[2016-02-11 23:23] stevenvachon commented on #44
Some ideas: http://blog.bitovi.com/change-propagation/

[2016-02-11 23:36] trueadm commented on #44
@stevenvachon thanks for the link! I'll try and adopt that where possible :)

[2016-02-15 08:34] cvg1 opened #112 "JSX rendering issue#2"
hello,

- initial output is:
[code]
- after 2s timeout expires, rendered output is:
[code]
- expected output is:
[code]

[code]

regards,

[2016-02-15 09:15] trueadm commented on #112
@cvg1 Thanks for raising the issue, I'll try to take a look into it once I get a chance today (today is a very busy day for me however). Do you get the correct props passed through in your `console.log`?

[2016-02-15 09:18] cvg1 commented on #112
yes, props are correct. and don't worry, it's not urgent at all.
take your time.
thanks

[2016-02-15 10:07] Havunen commented on #112
Have you tried using latest dev? Some similar issues have been fixed there (not sure about this)

[2016-02-15 12:29] Gouigouix commented on #44
What! **"Inferno is supported by BrowserStack"** and there are no browser test ;o)
TypeScript support :+1:

[2016-02-15 17:37] Keats opened #113 "Hyperscript support"
Hey

I started looking at inferno recently and am trying to get it working with hyperscript as I find it nicer to use than JSX.
Currently there: https://gist.github.com/Keats/86f614619342f6ba91e4 it works for normals tags but I don't get how it should work for a stateless component (only interested in those for now).

In the last test in `h.tests.js`, I try to render a stateless component as a chi

[2016-02-15 19:50] cvg1 commented on #112
hello,
yes, i can confirm that this issue exists for 0.5.22(npm) and is fixed in latest dev.
closing.

[2016-02-15 19:50] #112 closed

[2016-02-15 21:25] rickmed commented on #113
@Keats maybe this? https://github.com/rickmed/inferno-helpers

[2016-02-15 21:26] terinjokes commented on #113
Also my project [`inferno-hyperscript`](https://github.com/terinjokes/inferno-hyperscript)

[2016-02-15 21:33] rickmed opened #114 "how to remove dom elements?"
besides css tricks, is there an equivalent unmount from React?

[2016-02-15 21:34] trueadm commented on #114
@rickmed you can `render` with null and it will achieve the same thing. So `InfernoDOM.render(null, document.body)` for example.

[2016-02-16 21:37] Cmdv opened #115 "CreateTemplate not returning value."
Hi,

We're trying to test out Inferno as a virtual DOM for [CycleJS](https://github.com/cyclejs/cycle-core) but are hitting a pain point with our current tests.

This is the test in question, ignoring the technicalities of Cycle under the hood we pass `html:` through a function called `toHTML`.
[code]

`div('.test-element', ['Foobar'])` get converted to example below
[code]

`toHTML` is the functi

[2016-02-16 22:34] trueadm commented on #115
Hey @Cmdv, I'd hold about for a few days. Currently, we're in the process of changing how Inferno works behind the scene. We're reducing the size of its core massively, improving performance and going to a stricter vdom structure by leveraging some other performance insights. I'll be happy to discuss this more on Gitter/Slack. :)

[2016-02-17 12:04] Keats commented on #113
@terinjokes how would you use ExampleComponent in h? My code is roughly the same as yours but I can't use it with h or by calling the function directly

[2016-02-17 19:34] terinjokes commented on #113
@Keats Sorry, I misunderstood your issue.

You've managed to find one of the dark spots of current Inferno, composing Components is less than ideal. Essentially, you must make the component's constructor a variable in the template, something similar to the following:

[code]

Like I said, this is less than ideal. (And I don't think the above works completely, since I don't think the props object i

[2016-02-17 22:38] Keats commented on #113
Ah ok i'll wait for the next version then, cheers!

[2016-02-18 01:58] stevenvachon commented on #82
What about the `transitionend` event?

Or more useful, an event when all transitions have completed. I wrote this a while back: https://github.com/stevenvachon/jquery.transitionsend
for which I intend to rewrite as a vanilla lib

[2016-02-20 10:42] cvg1 opened #117 "inferno-dom.js:391 Uncaught NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
hello,

i'm sporadically receiving this one below::
[code]

snippet from inferno-dom.js [390-394]:
[code]

i wasn't able to create example for reproducing it. i will re-try again in a few days.

using dev branch build: 3bb4223
thank you,
regards

[2016-02-20 20:32] trueadm commented on #117
Hey @cvg1,

We're currently working on a new branch, `spike` that has a re-written core. It has some major breaking changes in it, such as it no longer uses `createTemplate`. If you'd be interested to test this issue on it, that would be awesome. In fact, if you said hello on the Inferno Slack, we could get you working with it sooner! Let me know via email dg@domgan.com if you want an invite :)

[2016-02-20 22:16] cvg1 commented on #117
i did narrow down the cause to iterable rendered via JSX template. after i added key attribute to each iterated element to define uniqueness (same way as react is doing), the exception is not being thrown anymore.
note that i still cannot provide case for reproducing it.
[code]

[2016-03-06 13:53] ianbytchek commented on #44
TypeScript! TypeScript! TypeScript! :+1:

[2016-03-08 22:32] justinwilaby opened #125 "Whitelisted boolean attributes are removed indiscriminately"
Given the template:
[code]
The `disabled` attribute is never written to the element.  I've traced this to `addDOMStaticAttributes` and `setProperty` where the attribute is never acted upon if it's value resolves to false even though it is present in the `WhiteList`

[2016-03-15 02:50] mseeley opened #131 "Spread attributes failing within JSX"
Hi folks. Thanks for all the work on Inferno. My team currently shares code with a React application. React's memory churn is too much to consider it for the constrained devices my team works on. We were really encouraged by the vdom benchmarks illustrating superior memory and node creation according to Chrome's timeline. The speed is nice too.

I've check SO for help (no articles tagged). The [do

[2016-03-15 04:49] Kflash commented on #131
@mseeley Hi @mseeley. Thanks for your report! @trueadm will look into this as soon as he is back from his vacation.

[2016-03-15 05:34] mseeley commented on #131
Thanks a lot @Kflash. I super appreciate the ping. :+1:

[2016-03-15 06:29] mseeley opened #132 "Props with hyphens incorrectly transpiled during JSX transformation"
This is from Inferno `0.5.22` from NPM. My environment setup is explained in #131.

This simple component writes an HTML data attribute:

[code]

Causes a parse error, see the unquoted `data-id:` `attr` value:

[code]

Stashing props in a data attribute is an anti-pattern for certain. Although it would be kind to handle it more gracefully. Exposing data attributes is useful for integration with th

[2016-03-15 09:20] trueadm commented on #132
Hey @mseeley, hyphened JSX attributes are a very common request. I'll look at adding it to the `spike` branch, which will require the `spike` branch of Inferno (it's a large rewrite of the code base). I'll get back to you once this functionality is in!

[2016-03-15 12:43] mseeley opened #133 "`setState` in `componentWillReceiveProps` triggers `render`"
Hi there. While working through a bunch of mini prototypes tonight I spotted a behavior I'm hoping you all can nick. [This repro mocks a mini polling connector and consumer setup](https://gist.github.com/mseeley/e9e008df5a9ea8689e37). The end-consumer updates its `state` in response to a prop change using the `componentWillReceiveProps()` lifecycle method. It appears that a `setState` call in `com

[2016-03-15 12:51] trueadm commented on #133
@mseeley this sounds like something that might have been fixed in the newest `spike` branch of Inferno. Would you mind trying that and letting me know if you have the same issue? You will also need to use the `spike` version of the JSX Babel plugin too if you use this. https://github.com/trueadm/inferno/tree/spike

[2016-03-15 12:54] mseeley commented on #133
Hi @trueadm sure thing. I'll plug them into my `package.json` and run this and my other GHI through.

Thanks a million for pinging back. :+1:

[2016-03-15 15:20] JustinWilabyPrecor commented on #132
There are 2 enhancements being addressed [here](https://github.com/trueadm/babel-plugin-inferno/issues/8) and [here](https://github.com/trueadm/babel-plugin-inferno/issues/11) that should cover this request.

[2016-03-15 21:48] jpdutoit opened #134 "Order of new items and adding to an empty list."
The code snippet below renders two lists, each with a button to add another item. The first list initially contains no items. The second list contains one item.

Steps to reproduce:

1. (optional) Trying to add items to the first list fails silently.
2. Trying to add items to the second list works, but they are not rendered in the right order.

    They appear in the order: ```0, 5, 4, 3, 2, 1```

[2016-03-16 03:20] mseeley commented on #133
Okay, looking at it I'm really uncertain how to install the Inferno packages from subdirectories in the `spike` branch. If each package was its own repo I could easily do it within my package.json. Perhaps I can remove the local modules, clone the branch, then install the packages globally. Still poking.

[2016-03-16 05:27] buzinas commented on #44
:+1:  TypeScript! :)

[2016-03-16 06:36] Havunen commented on #133
This is how I did it.

simple wrapper for inferno, in case you want to switch to something else in future only this file needs to be changed:
[code]

package.json

[code]

[2016-03-16 09:17] trueadm commented on #134
Hi @jpdutoit, can you try this with the Inferno `spike` branch and let me know if the issue exists in this branch? Thank you!

[2016-03-16 12:30] jpdutoit commented on #134
I noticed that createTemplate has been removed from the spike branch. But it seems babel-plugin-inferno still generates createTemplate calls.

[2016-03-16 12:31] trueadm commented on #134
@jpdutoit you'll want to use the `spike` of the JSX plugin too. Sorry for the confusion.

[2016-03-16 12:44] jpdutoit commented on #134
It works perfectly! Also, the code generated by babel-plugin-inferno looks much better.

[2016-03-16 12:44] #134 closed

[2016-03-16 13:00] trueadm commented on #134
@jpdutoit Yes, the `spike` is a complete re-write of Inferno and has many benefits (both for the library and the Babel plugin). It's just taking time to get the spike ready to merge into master! It should also bring nice performance benefits with it.

[2016-03-16 18:26] mseeley commented on #133
@trueadm sorry no joy. I've
* pulled the repo
* `npm install` then `npm run build`
* next run the `http-server` npm module in the project's root
* Enable harmony features and restart Chrome
* Open `/examples/playground/playground.html`
* The `playground.js` file needs JSX conversion to run.
  * I stopped here.

If/when possible pushing the packages to repos of their own would facilitate very easy

[2016-03-17 10:30] trueadm commented on #132
I believe the `spike` branch for the JSX plugin and Inferno should resolve these issues now!

[2016-03-18 22:01] mseeley commented on #133
@Havunen thanks for your help. Took a little trial and error although I've been able get the babel-jsx plugin and component/DOM running from spike branches.

@trueadm still seeing the extra calls to render on `spike` as of b5905384.

![screen shot 2016-03-18 at 12 00 18 pm](https://cloud.githubusercontent.com/assets/30019/13893279/14fd64b8-ed01-11e5-90a1-841ca732f3a6.png)

[2016-03-18 22:10] mseeley commented on #131
@Kflash / @trueadm the `spike` branch as of b5905384 is also not handling spread. Although the error has changed slightly: https://gist.github.com/mseeley/766f5f34915161a96eed.

Any chance this issue could be fixed in `master`? Working around this issue requires us to manually pass props through descendant components. I'd really like to avoid building too much with the manual prop passing since we

[2016-03-18 22:20] trueadm commented on #131
@mseeley I'm looking into getting spread working on the Babel plugin now. Unfortunately, it will be on the `spike` branch, as that will soon be merged into master. Hopefully this won't be an issue for you?

[2016-03-18 22:20] mseeley commented on #132
Hi @trueadm the `spike` branch at b5905384 definitely handles the hyphen separated attribute.

[code]

renders:

[code]

Thanks!

[2016-03-18 22:21] trueadm commented on #133
@mseeley I think I've located the route of this problem. I'll push a fix for it to `spike` later tonight :) thanks for the help!

[2016-03-18 22:21] mseeley commented on #131
@trueadm thanks for the reply. :+1: We can work against the `spike` branch until it lands in `master`. Thanks a lot for the fix!

[2016-03-19 00:02] trueadm commented on #133
@mseeley can you let me know if the latest `spike` of Inferno fixes this?

[2016-03-19 00:03] #132 closed

[2016-03-19 00:03] trueadm commented on #132
@mseeley awesome :)

[2016-03-19 00:03] trueadm commented on #131
@mseeley can you let me know if `spike` on the Babel plugin now fixes this issue for you?

[2016-03-19 00:04] trueadm commented on #125
@justinwilaby does this occur on the `spike` branch?

[2016-03-19 00:04] trueadm commented on #117
@cvg1 does this still happen with the latest `spike` branches?

[2016-03-19 00:05] #114 closed

[2016-03-19 00:05] trueadm commented on #115
closing this as the `spike` branch no longer has this issue and will soon be merged to master.

[2016-03-19 00:05] #115 closed

[2016-03-19 00:06] trueadm commented on #89
@Pauan this should no longer be an issue in the `spike` branch. Closing issue.

[2016-03-19 00:06] #89 closed

[2016-03-19 00:09] mseeley opened #135 "DOM event propagation behavior change in `spike`"
Hi everyone. Sorry for the barrage of issues and thanks for your patience if this is known.

Running these components against production `inferno-dom` modules will log trigger the `Button#onClick()` then `Container#onClick()` handlers when the child `Label` component is clicked:

[code]

The same components code run against `spike` modules imported from source behaves differently. The ancestor `on

[2016-03-19 00:24] justinwilaby commented on #125
I haven't tested the spike branch but it looked like a fix was
implemented.
On Mar 18, 2016 5:04 PM, "Dominic Gannaway" <notifications@github.com>
wrote:

[2016-03-19 00:44] mseeley commented on #131
HI @trueadm still broken for me: https://gist.github.com/mseeley/2fc1f9c9832e83cae964. The gist shows the spread plugin installed from https://github.com/trueadm/babel-plugin-inferno/commit/0e9afd15db53a1fc2cffdf1cd3631f046a94b9f2.

For completeness here is are the components:
[code]

This is `inferno-src`:
[code]

Anything I can provide to help debug?

[2016-03-19 00:56] mseeley commented on #133
Hi @trueadm: I'm hitting a build error: https://gist.github.com/mseeley/8f00b8a3ea17dad6a0ce
Code: https://gist.github.com/mseeley/e4870ae2f55c40e2bf48 (and `inferno-src`: https://gist.github.com/mseeley/a7c7904c31749bf73e86)

[2016-03-19 01:04] trueadm commented on #131
@mseeley that's bizarre as parsing `<div { ...foo }></div>` now outputs the right thing for me.

[2016-03-19 01:06] mseeley commented on #131
Will reduce the components, find the error.

[2016-03-19 01:22] mseeley commented on #131
So, this doesn't generate an error:

[code]

It results in `<button style="[Object object]">Click me</button>`. My `...other` usage is funky for sure, just interesting it doesn't error.

The error is happening just extracting the `...other`:

[code]

[2016-03-19 09:18] jpdutoit opened #136 "Event handlers not updated when re-rendering"
In spike branch, when one rerenders, it seems that event handlers is not updated. In the below code it calls the original onClick handler every time instead of the one with the updated data reference.
[code]

[2016-03-19 09:30] Havunen commented on #136
Sounds like bug I will look into this.

[2016-03-19 09:35] jpdutoit opened #137 "Insertion position of new items when followed by static content."
In spike branch:

When pushing an item to a dynamic list and re-rendering, the new item is always placed as the last child of the parent element instead of the position as indicated in the virtual dom.

Also, when instead adding an item to the start of the dynamic list. The last item in the list jumps to after the static content at the end. (Replace push with unshift below to see this.)

[code]

[2016-03-19 09:48] trueadm commented on #136
I've added a test case for this issue and I can't seem to re-create the bug?

https://github.com/trueadm/inferno/commit/1005bbe82a670e09d524f73e559b06608496b45e

[2016-03-19 10:09] Havunen commented on #136
yeah tests also pass for me. However I think built version was lacking behind. I made new one.
@jpdutoit Can you test if this issue still exists?

[2016-03-19 10:10] jpdutoit commented on #136
I just updated to latest spike, last one I had was from a few days ago. It is working now!

[2016-03-19 10:10] #136 closed

[2016-03-19 10:10] Havunen commented on #136
glad to hear that! :)

[2016-03-19 10:13] jpdutoit commented on #137
Just retested this with the latest spike, the issue remains.

[2016-03-19 10:53] trueadm commented on #131
@mseeley I've added a test for the JSX Spread Attribute and it passes fine https://github.com/trueadm/inferno/commit/8c98e0d65fb30b4e14b93658b2771abe60c9ea91. I'm not sure why this is not working for you, are you definitely running with the latest versions of the branches?

[2016-03-19 10:54] trueadm commented on #125
@justinwilaby awesome, I'm closing this issue then.

[2016-03-19 10:54] #125 closed

[2016-03-19 10:55] trueadm commented on #103
Hey @FrigoEU, sorry for the late reply. Can you please try the `spike` branch. It no longer makes usage of `createTemplate` so I believe this issue should no longer affect you.

[2016-03-19 11:54] Havunen commented on #137
Thanks for reporting this issue. I will take a look into it now.

[2016-03-19 13:25] Havunen commented on #137
There was an issue when mixing nonKeyed and keyed childrens, it should now work.
I also added these tests as part of automated tests to avoid regression.

@jpdutoit can you please verify this works as expected now?

[2016-03-19 13:44] jpdutoit commented on #137
That works for my test case. But, it still adds the element in the wrong place if the tabs array starts out empty.

[2016-03-19 13:57] Havunen commented on #137
you are correct. I will look into that

[2016-03-19 14:24] Havunen commented on #137
ok that use case should be covered as well now :)

@jpdutoit  can you verify its working please

[2016-03-19 14:54] jpdutoit commented on #137
It does, except when there is an inline text element before the list. :)

[2016-03-19 15:32] Havunen commented on #137
ok, that was mistake in one of my previous fixes. Inline text is also now covered

[2016-03-19 16:12] jpdutoit commented on #137
Seems good now!

[2016-03-19 16:20] Havunen commented on #135
We are aware of this event behavior change. I think it requires discussion with @trueadm @Kflash how we should proceed with this.

[2016-03-19 16:21] Havunen commented on #133
@mseeley your build error should be fixed now

[2016-03-19 20:28] russelgal commented on #137
without key property, the issue remains (SFMBE)

http://codepen.io/russelgal/pen/mPWeVY

[2016-03-19 20:41] trueadm commented on #135
@mseeley can you try the latest `spike` of Inferno. I added some more logic that should fix this problem.

[2016-03-19 21:41] Havunen commented on #137
Yeah my fix was for keyed children only. I can take a look tommrow, thanks for reporting this :)

[2016-03-20 07:11] Havunen commented on #137
I verified nonKeyed children as still not working correctly. I added all same use cases for them as keyed children and many are failing. I will look into this. reopening issue as its related

[2016-03-20 09:52] Havunen commented on #137
@russelgal is this working correctly now?

[2016-03-20 11:04] russelgal commented on #137
It seems to be working properly now!
Thank you!

[2016-03-20 11:30] Havunen commented on #137
Alright, i will close this ticket. But continue writing more test cases for children diffing.
Thanks guys for reporting these issues!

[2016-03-20 11:30] #137 closed

[2016-03-20 12:53] cvg1 commented on #117
i'm trying to do some testing with latest spike (1db600c) and i'm having issues with components that have onKeyUp mouse set as these are not being triggered.

[2016-03-20 14:28] cvg1 commented on #117
there is also this trace below:
[code]

because this behavior was less sporadic in comparison to initial issue, here is the test case:
[code]

sorry for delays,
regards

[2016-03-21 11:50] soundstep opened #138 "Question about Inferno in a large app"
Hi,

Sorry this is not an issue, but I didn't find any "official" google group or something. It might be a good idea to create one. I have a few questions about Inferno.

I'm having a spike with Inferno on a large app that is already in production (around 40.000 LOC) with millions of monthly requests.

The app is running on connected TVs and we are using a TV abstraction layer for the hardware.
I

[2016-03-21 11:55] trueadm commented on #138
Hi @soundstep, we have a Slack setup. If you send an email to me at dg@domgan.com, I can get you an invite. We can then help with these questions/further questions in better detail.

In regards to unmounting a component, what you've already stated should work, but we're soon about to merge the `spike` branch into `master`. The spike branch was a large re-write of a lot of Inferno internals and I b

[2016-03-21 12:16] soundstep commented on #138
Hi @trueadm

Thanks for the quick answer. I'll send an email and investigate

I probably can find a way-around for the "node attached" by propagating something until the root node, and then I need to add the ```onAttached``` everywhere I need it. But a lot of boilerplate.

We are separating concerns a lot in our classes, views are only rendering and and they have mediators (a class act as buffers

[2016-03-22 12:05] soundstep opened #139 "Object.keys on a boolean throws an error."
In the ```createVoidNode```, the ```dynamicAttrs``` is not always an object.

This throws an error in some instances like an older webkit browser. I noticed this on a webkit instance that runs on a connected TV. The ```dynamicAttrs is sometimes a Boolean and you should not try to enumerate a Boolean

If you execute: ```Object.keys(true)```, latest Chrome version or Node will returns an empty Array

[2016-03-22 12:10] Havunen commented on #139
This issue should be resolved in spike branch

[2016-03-22 12:18] soundstep commented on #139
Ok, good to know, I was about to have a go with the spike branch.

[2016-03-22 12:22] soundstep opened #140 "Promise not always available"
I get an error on Browser instance that don't have native Promise implemented (connected TV, older browser).

In several places I can see in the inferno code: ```instance Promise```, this will throw an error if ```window.Promise``` doesn't exist.

Instead use something like:

[code]

![screen shot 2016-03-22 at 12 17 47](https://cloud.githubusercontent.com/assets/133293/13951383/878d874a-f028-11e5

[2016-03-22 12:32] cvg1 commented on #117
let me know if i can help any further. perhaps the case is too long?

[2016-03-22 13:11] Havunen commented on #117
I can take a look into this today

[2016-03-22 17:53] Havunen commented on #140
Hey, thanks for reporting this issue. I removed isPromise util and instead just check if then is defined (like we did already in other places in codebase). This change only affects spike branch (upcoming release)

[2016-03-22 18:27] Havunen commented on #117
I have successfully reproduced this issue. It looks like bug.

[2016-03-22 21:07] Havunen commented on #138
Is there any way to remove the component manually? I've been unable to trigger the onWillDetach and onComponentWillUnmount

There was bug in spike branch, this should work now same way as any other hook.

[2016-03-22 23:58] mseeley commented on #135
Hi @trueadm. The latest Spike branch finds the `Button` component from the `span` click. Although the `Container` components click handler is never invoked.

[2016-03-23 00:43] mseeley commented on #133
Hi @trueadm the behavior is exactly the same in the latest `spike` code. Do you see other results running the repo?

[2016-03-23 00:47] mseeley commented on #131
Thanks @trueadm. I can confirm the original repro is working as expected now. I think the last repo pass I did was a little poisoned by weird env. Cleaned up webpack and babel conf and spread is happy.

Thanks!

[2016-03-23 00:47] #131 closed

[2016-03-23 22:10] trueadm commented on #140
Closing this, as it's fixed in `spike`.

[2016-03-23 22:10] #140 closed

[2016-03-23 22:10] trueadm commented on #139
Closing this as its fixed in `spike`. :)

[2016-03-23 22:10] #139 closed

[2016-03-23 22:11] trueadm commented on #135
@mseeley How do you mean? Components can't have click events on them, only DOM nodes can? Maybe I've misunderstood something?

[2016-03-23 22:12] trueadm commented on #133
@mseeley I see different results. Can you speak on our Slack channel so we can get to the bottom of this one? Email me for an invite if you're not on there :)

[2016-03-23 22:13] trueadm commented on #117
@cvg1 can you try with the latest `spike`. I think I might have fixed this issue now.

[2016-03-23 22:13] #103 closed

[2016-03-23 23:55] cvg1 commented on #117
hello,
both test cases above are fixed now, however new case appeared.
here is new [gist](https://gist.github.com/cvg1/89deb98884b1788fc9c2) for reproducing.

[2016-03-24 00:02] mseeley commented on #135
Hi @trueadm, hopefully this'll make more sense:

In `master` both the `Button` and its parent `Container` have their `onClick` methods invoked. The event start propagation from the component instance closest to `event.target` then ascends the component hierarchy until it roots out.

In `spike` only the `Button` component is notified of the event. The event isn't propagated through ancestor compone

[2016-03-24 00:04] mseeley commented on #133
@trueadm, thanks. Emailed.

[2016-03-24 01:04] cvg1 commented on #117
i've also noticed that in spike, refs i've applied DOM modification in didmount/didupdate sections are sometimes not being reflected in real DOM. it seems that the 2nd time the component is going through didupdate process, ref is then reflected in real DOM.

[2016-03-24 02:49] mseeley opened #141 "`props` lost when creating child components."
Trying to stand-up a recursive `List` component I've run into a snag passing the prop through the components.

The first `List` component is constructed correctly yet `data` prop disappears causing an error on future component creations.

![screen shot 2016-03-23 at 4 47 39 pm](https://cloud.githubusercontent.com/assets/30019/14007061/21adf820-f117-11e5-9060-b97718cc7d81.png)

It could be I'm hold

[2016-03-24 14:31] Havunen commented on #141
Hey @mseeley thanks for reporting this issue, there seems to be bug in JSX plugin when using spread attributes. easy workaround is to define spread attributes as last one.

fe.
[code]

[2016-03-24 16:51] jpdutoit opened #142 "Exception: Failed to execute 'removeChild'"
With spike, I get the exception:
inferno-dom.js:356 Uncaught TypeError: Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'.

I have reduced the problem to the following test case:

All three renders are required.

[code]

The problem goes away if I replace the line
[code]
with
[code]

[2016-03-24 18:07] mseeley commented on #141
@Havunen thank you for determining what's going on and how to work around. :+1:

[2016-03-24 19:57] trueadm commented on #141
@mseeley this should be fixed now. Please let me know if it is (you'll need to install the latest Inferno Babel plugin).

[2016-03-24 21:06] Kflash opened #143 "No support for select and select multiple"
In master there are support for select / select multiple. This is missing in the spike branch.

This is an important feature. And in Edge there are issues regarding this. Edge cases.

I know all this was fixed in Master but now when spike is a total rewrite all this need to be done from scratch.

Events doesn't seem to support this either

[2016-03-24 21:09] Kflash opened #144 "Missing focus and blur events"
There are no support for focus and blur events. Master supports this but the code can't just be ported over

[2016-03-24 21:11] Kflash opened #145 "Non-bubble events not supported."
Non-bubble events such as scroll, change etc isn't supported. It was in Master branch.

Note that in React the change event get a special treatment.

[2016-03-24 21:13] Kflash opened #146 "Issues with active elements"
Sometimes on update the document active element loose focus. This was fixed in Master.

[2016-03-24 21:26] Kflash opened #147 "SVG issues"
There are issues with SVG. E.g. classes are not working properly. This is working in Master.
SVG elements doesn't handle className property.

[2016-03-24 21:26] Kflash opened #148 "No CSS transform support"
CSS transform doesn't work for Spike branch, only for Master. Need to be ported over.

[2016-03-24 21:34] trueadm commented on #147
SVG `class` is fully supported in the `spike`. This has been thoroughly tested over and over again. :)

[2016-03-24 21:34] #147 closed

[2016-03-24 23:13] jpdutoit commented on #142
My test case passes now, thanks! But a slight variation fails with:
[code]

Test code:
[code]

[2016-03-24 23:33] Kflash commented on #143
@trueadm @Havunen Select / select multiple could be implemented if you do this

1. Compile time. Before you do for IN on the attributes / props, you have to use this line:

[code]
The "node" is your vdom object.

2. After this you have to modify this two hackish functions for your usecase, and it should work

[code]

[2016-03-24 23:37] Kflash commented on #143
When it comes to SSR, you got some other issues. E.g. the `selected attribute`. Just loop through the vdom object the same way, and create a new prop object that you pass into the main function.

[2016-03-25 00:05] trueadm commented on #146
@Kflash this should now be fixed in the latest `spike`. Ported from `master`.

[2016-03-25 00:05] #146 closed

[2016-03-25 01:38] mseeley commented on #141
Yep solid now on https://github.com/trueadm/babel-plugin-inferno/commit/6161e536ef3d4e985139564b4c33207edeadeb97. Thanks!

[2016-03-25 01:38] #141 closed

[2016-03-25 06:04] Havunen commented on #143
I wonder do we need to provide this functionality, because the user can loop through options himself and mark those selected. Sure @Kflash is right here we need this workaround in case we have to support selecting by value.

[2016-03-25 06:10] Kflash commented on #143
@Havunen All major libraries support this kind of stuff. And not so easy just to loop through it. React used almost 2 years to come up with a good solution for this - and a lot of issue tickets. Still there is lot of issues in their implementation.

Regarding this. As seen often in React. During diff, the selected values often loose their state. Wrong order of the options, etc. Plus a couple of ha

[2016-03-25 06:15] Kflash opened #149 "Missing proper form element support"
There is no proper Form element support in the spike branch.  It was done through events on master branch.
Still not fixed yet for components and updates.

See react or angularjs as reference

[2016-03-25 06:27] Kflash opened #150 "mouseenter and mouseleave"
add support for mouseenter and mouseleave? Both need a special implementation, and didn't work 100% in master branch either.

https://github.com/facebook/react/pull/5762

[2016-03-25 06:30] Kflash opened #151 "Improve forceUpdate and state"
forceUpdate should have a better implementation ala what is found in React. Same with setState() and updateState(). Today on the spike branch forceUpdate() contains only a call to setState().
React include *willMount* here, and batch updates.

[2016-03-25 06:55] Havunen commented on #151
can you make PR? this is known area for improvement, also we could have queue for force update like in react.

[2016-03-25 07:30] Kflash commented on #145
@Havunen Why you need to verify if this is a bug? `scroll`, `load`, `error`, `mouseenter`, `mouseleave` are a few examples on non/bubbleable events that isn't supported by Inferno atm.
This was supported in the Main branch.

[2016-03-25 07:47] Kflash commented on #151
@Havunen I have no time this days to do online stuff. But I'm sure both you and @trueadm will handle this so all my issues opened today can be fixed so it's possible to merge to Mater branch today.

[2016-03-25 08:08] Havunen commented on #142
Hey @jpdutoit this should be fixed now. Can you verify please?

[2016-03-25 08:13] Havunen commented on #117
Hey @cvg1 This issue should be fixed in latest spike, can you verify please?

[2016-03-25 08:56] ghost opened #152 "radio buttons and form elements in Edge - reverse order etc"
Hi. Sometimes the radio buttons are reversed and displayed in wrong order Edge on Windows 10 comparing to Chrome and Firefox. Also during diff form elements on Edge can loose state and be inactive. You will find examples on this in the React code base.

There is also still a bug with checked radio buttons. An issue been there since IE9, and also now in Edge.

Regarding the reverse order.I know thi

[2016-03-25 09:04] trueadm commented on #148
@Kflash can confirm that this works fine. I have the `css example` working fine again. Closing issue.

[2016-03-25 09:04] #148 closed

[2016-03-25 09:05] trueadm commented on #144
@Kflash @Havunen I added functionality for this last night. Does it look okay?

[2016-03-25 09:07] Kflash commented on #144
@trueadm Travis was red and broken last time I checked. Anyway. Focus and blur need special treatment in Firefox, and current state will give issues with video playing it seems. Not tested yet.

[2016-03-25 09:08] trueadm commented on #144
@Kflash Travis is red due to memory leak tests failing. Firefox seemed to work fine with blur/focus in Inferno now.

[2016-03-25 09:11] trueadm commented on #145
@Kflash in theory, nothing bubbles in Inferno anyway, everything is on the document (minus focus and blur). We manually check descendants of elements if we're interacting with those.

[2016-03-25 09:15] trueadm commented on #144
Closing as this now works fine for me.

[2016-03-25 09:15] #144 closed

[2016-03-25 09:15] trueadm commented on #151
@Kflash @Havunen I'll pick this up today sometime.

[2016-03-25 09:16] Kflash commented on #144
@trueadm Yep. It works fine for now.....

[2016-03-25 09:21] trueadm commented on #150
This needs to be in for 0.6 release too. I'll look at it later.

[2016-03-25 09:22] trueadm commented on #149
@Kflash can you give an example please?

[2016-03-25 09:22] trueadm commented on #135
@Havunen @Kflash this needs to be fixed for 0.6 too.

[2016-03-25 09:23] trueadm commented on #117
@cvg1 are you having an issue with `refs` as a separate issue? If so, please can you raise another issue with an example? That would be awesome thanks!

[2016-03-25 09:25] trueadm commented on #133
@Havunen @Kflash This needs to be looked into before 0.6 release too.

[2016-03-25 09:26] ghost opened #153 "don't trigger disabled elements"
For form elements avoid trigger disabled checkboxes and radio buttons. In general disabled buttons etc shouldn't be triggered.
As it is now, a disabled element can still be used.

This is also related to https://github.com/trueadm/inferno/issues/143

This was fixed before in the Master branch for events and select / select multiple.

[2016-03-25 09:36] Kflash commented on #149
This is related to components and form elements. I choose to link to two other vdom libraries:

https://github.com/dfilatov/vidom/blob/master/src/createNode.js#L9-L19

https://github.com/localvoid/kivi/blob/master/src/vnode/vnode.js#L143-L153

React solve this in the same way and have done so since version 0.4.

[2016-03-25 09:38] Kflash commented on #150
@trueadm You better take a look at how jQuery implemented this one. More native then React.
Or I guess "bean" have a more native approach:
https://github.com/fat/bean/blob/master/src/bean.js#L64-L91

[2016-03-25 09:58] trueadm commented on #153
@Kflash this isn't actually a good thing. You may want to have events on an element that is disabled – it's completely valid.

[2016-03-25 10:02] Kflash commented on #153
So if you have select multiple with 3 options where the option in the middle are disabled. And you want to retrieve  and do some action on the selected values? Then you will trigger an action on a disabled option that shouldnt have any action? If that is a valid usecase in Inferno, well...

[2016-03-25 10:07] trueadm commented on #153
@Kflash you said disabled buttons. You might want to fire a `onMouseOver` event to show a tooltip to say "Not enough permissions to do this action" or something. Same for any input, including a multiple select.

[2016-03-25 10:09] Kflash commented on #153
Maybe I was unclear there. As I wrote when I opened this issue was the form elements. What you write about buttons is legit usecase

[2016-03-25 10:55] trueadm commented on #151
So I played around with having a update queue, but it instantly had a big effect on performance so I've removed it again. `setState` and `forceUpdate` now have callback arguments however.

[2016-03-25 10:55] #151 closed

[2016-03-25 11:05] jpdutoit commented on #142
A new variation :)

[code]

[2016-03-25 13:26] trueadm commented on #150
Fixed in latest spike. Closing issue.

[2016-03-25 13:26] #150 closed

[2016-03-25 13:30] trueadm commented on #145
@Kflash I've added these to the list of nonBubblingEvents, if you know of more, please add them :)

[2016-03-25 13:31] trueadm commented on #152
@Kflash @Havunen I'm going to park this one until merge. I don't think it's critical to the release and Edge only has 4% browser share globally.

[2016-03-25 13:32] trueadm commented on #149
Let's aim to get this in the 0.6 release too.

[2016-03-25 13:39] Kflash commented on #152
It's not critical. Issue is there if someone make a global website with radio buttons. It wont work in Edge or at least in reverse order.
@Havunen What about create a algorithm that make sure this is in correct order for all browsers using the vdom object?

[2016-03-25 13:48] trueadm commented on #143
@Kflash fixed this issue. Thanks mate.

[2016-03-25 13:48] #143 closed

[2016-03-25 14:05] trueadm commented on #101
On my todo: add an example of Inferno with baobab. Although, to point out, we do have [https://github.com/trueadm/cerebral-view-inferno](https://github.com/trueadm/cerebral-view-inferno).

[2016-03-25 14:06] trueadm commented on #113
@terinjokes would it be possible for you to update your package to support the new syntax in `spike`, which will soon be merged to `master` as 0.6?

[2016-03-25 15:09] Havunen commented on #142
Okay, new variation should work also. You still have some test cases in mind? ;)

[2016-03-25 18:19] jpdutoit commented on #142
I got one more :dizzy:

[code]

[2016-03-25 22:07] trueadm commented on #142
@jpdutoit can you please try now, this issue should be fixed.

[2016-03-26 00:26] jpdutoit commented on #142
Getting there:
[code]

[2016-03-26 08:50] Havunen commented on #142
added all test cases reported on this thread into nonKeyed / keyed test cases one for each. 4 failing at the moment.

[2016-03-26 14:52] #145 closed

[2016-03-26 14:52] trueadm commented on #142
@jpdutoit please let me know if latest fixes your issues :)

[2016-03-26 16:34] #142 closed

[2016-03-26 16:55] jpdutoit commented on #142
This fixes those issues

[2016-03-26 23:19] Kflash opened #155 "Unitless CSS properties"
There are issues with unitless properties. The list found here:
https://github.com/trueadm/inferno/blob/master/src/DOM/patching.js#L50

Some of the properties need a prefix - e.g. ms or webkit.

The ms prefix is required for some of the properties to work in Edge. Same for Chrome.

Transform and TransformOrigin is not in the list

Most of the flex properties need a webkit prefix

[2016-03-26 23:24] Kflash opened #156 "no support for xmlns namespace attributes"
There is no support for xmlns namespace attrs, only xlink. Both should be supported.
Current xlink implementation could give issues as well.
React supports both.

Is this supported at all in the JSX plugin? I couldn't see the code for it.

[2016-03-26 23:28] Kflash opened #157 "css issues with svg"
There are and can be some CSS issues with SVG. There are also missing unitless properties for SVG.

[code]

[2016-03-26 23:30] trueadm commented on #155
@Kflash I plan on removing auto prefixes to unitless properties. People will have to specify their own units when using them going forward.

[2016-03-27 00:14] Keats commented on #113
@trueadm still having some issues with stateless components: https://gist.github.com/Keats/86f614619342f6ba91e4
Last test fails with
[code]

That might be me being tired though, I'll have another look tomorrow

[2016-03-27 06:50] Havunen commented on #155
Agree no autoprefixes! thats why we have autoprefixer!

[2016-03-27 06:52] Havunen commented on #156
With latest jsx plugin you can type: xlink:href   and you get xlink:href no need for xlinkHref thing anymore.

[2016-03-27 07:37] Kflash commented on #156
Sounds great. Except I still have some issues...

e.g. xlink:acturate is not supported by the current jsx plugin because of
this :. This was fixed before.

I can't find support for xml attributes aka xml:lang, xml:space, xml:show

It was an issue ticket regardign this for Inferno 5.x where this was not
supported for JSX. And React has it's own workaround for this that is not
supported in current M

[2016-03-27 07:38] Kflash commented on #156
Out of topic I should also mention xmlns attribute. A common attribute for
setting SVG namespaces. It existed on Inferno 5.x, but not in Inferno 6.x.

Same with the 'is' attribugte for type extensions.

On Sun, Mar 27, 2016 at 3:37 PM, Kenny Flashlight <kflash123@gmail.com>
wrote:

[2016-03-27 07:41] Kflash commented on #155
with auto-prefixer you mean with auto set 'px' suffix? Or e.g. -webkit
prefix?

There exist issues for webkit and Edge regarding prefixes and React support
that. As @trueadm pointed out. Only the 'px' suffix support is removed from
React 15.

On Sun, Mar 27, 2016 at 2:50 PM, Sampo Kivistö <notifications@github.com>
wrote:

[2016-03-27 07:44] Kflash commented on #155
@havunen However. Inferno 5.x supported all this, and also shortcuts as in
React that many people are using. Maybe you should look into the shortcuts
again? Also the viewport of the screen should have auto-adjustments and
same with scroll when it comes to css. See React. Maybe a quick fix for
this too?

On Sun, Mar 27, 2016 at 3:41 PM, Kenny Flashlight <kflash123@gmail.com>
wrote:

[2016-03-27 10:11] Havunen commented on #155
IMO this feature could be dropped, why not let users choose their own units

[2016-03-27 10:15] Kflash commented on #155
Quote from the readme: `In principle, Inferno is compatible with the
standard React API, allowing painless transition from React to Inferno. `

Dropping all this is possible, but need a rewrite of the readme.

On Sun, Mar 27, 2016 at 6:11 PM, Sampo Kivistö <notifications@github.com>
wrote:

[2016-03-27 10:38] Havunen commented on #155
Yeah we could add into Readme what is different

[2016-03-27 12:34] trueadm commented on #156
@Kflash xml:lang, xml:space, xml:show are all supported by the Babel plugin. These should be easy enough to add to Inferno.

@Havunen we could look at add XLink support to Babel and Inferno. https://www.w3.org/TR/xlink11/

[2016-03-27 12:36] trueadm commented on #157
These are incorrect, the correct names are already supported in the SVG plugin (for example, `fillOpacity` should be `fill-opacity`) to which Inferno supports.

[2016-03-27 12:36] #157 closed

[2016-03-27 12:41] Kflash commented on #157
@trueadm I see. This was taken from React component api. They only support
camelCase and not snake - case.

Maybe an idea to update readme regarding this api difference?
On Mar 27, 2016 8:36 PM, "Dominic Gannaway" <notifications@github.com>
wrote:

[2016-03-27 12:46] Kflash commented on #157
@trueadm if you look into the source of current inferno 6.x you will see
the unitless props are camelCase too.
On Mar 27, 2016 8:41 PM, "Kenny Flashlight" <kflash123@gmail.com> wrote:

[2016-03-27 12:59] Kflash commented on #157
https://github.com/trueadm/inferno/blob/master/src/DOM/patching.js#L50

[2016-03-27 15:08] trueadm commented on #157
@kflash React supports snake-case too. Inferno should convert camelCase to snake-case

[2016-03-27 15:11] Havunen commented on #157
Can we do converting in jsx plugin?

[2016-03-27 22:24] trueadm commented on #155
Latest `dev` branch has unitlessProps removed. README has some info on it vs React and tests updated!

[2016-03-27 22:24] #155 closed

[2016-03-27 22:25] trueadm commented on #156
xml:lang, xml:space, xml:show are now supported in latest `dev`.

[2016-03-28 09:51] Kflash opened #159 "bug in Chrome for numeric keypad keys"
There is a bug in Chrome for numeric keypad keys:

 https://code.google.com/p/chromium/issues/detail?id=155654

If you scroll down to the bottom, you will see **wontFix**. So Inferno will need a workaround for it.

[2016-03-29 16:46] russelgal commented on #135
event propagation does not stop at the desired element
http://codepen.io/russelgal/pen/mPWeVY

[2016-03-29 18:27] Keats commented on #113
So looking at the source https://github.com/trueadm/inferno/blob/master/src/server/renderToString.js#L52 it doesn't seem to care about functions in renderToString, it assumes that the tag is a string.
It is working as expected or should I open an issue @trueadm ?

[2016-03-29 19:48] trueadm commented on #113
@keats renderToString is not yet complete. It still needs to process quite a few core features that normal render does. I'm happy for an issue to be risen again this so its easier to track

[2016-03-29 19:59] Keats opened #160 "renderToString is not complete"
For example it does not work with components

[2016-03-29 20:52] Kflash commented on #135
@russelegal I think @havunen are going to fix this today. And I think the whole event system needs a rewrite

[2016-03-30 13:43] Kflash commented on #153
@trueadm  @Havunen When will this be fixed for form elements?

[2016-03-30 13:43] Kflash commented on #149
@Havunen I think the milestone here is wrong?

[2016-03-30 14:09] Kflash opened #161 "Workflow issues"
There are a few workflow issues that need to be corrected. E.g. Sinon doesn't work correctly in browser tests (port 8080), same with spy and some other features.

Also rollup bundle have a few issues.

This is corrected in latest Boily update and should be a simple cut&paste to fix this issues.

There are also some new features in Boily that could be of interest e.g. rewire, mocking of modules , t

[2016-03-30 14:12] Kflash commented on #161
Also how the environment variabels are working have bugs.

[2016-03-30 15:49] Kflash commented on #156
@trueadm @havunen is xmlns and is attribute supported now? If not. When will it be implemented?

[2016-03-30 16:29] jpdutoit opened #162 "Vdom corruption"
The following test case causes an exception, probably due to the vdom getting corrupted
[code]

[2016-03-30 21:08] jpdutoit commented on #162
Another variant:
[code]

[2016-03-31 12:15] Kflash opened #164 "coverage report wrong info"
current coverage report doesn't pre-compile the source files correctly, and report wrong information and wrong line numbers.

[2016-03-31 15:20] Kflash commented on #133
@trueadm I'm not sure if @Havunen have looked into this yet. I haven't had time.

[2016-04-01 19:26] Havunen commented on #164
fixed in dev.

[2016-04-01 19:28] Havunen commented on #161
Can you send pull request please?

[2016-04-01 20:53] Kflash commented on #164
@Havunen I can confirm that is not fixed. The issue sticks deeper then this. You need to remove pretty and post loaders etc. So still issues with coverage.

I know this because I fixed this in boily. You can eventually copy that solution.

[2016-04-01 20:56] Kflash commented on #161
@Havunen @trueadm I have no time for props or anything else this days.

[2016-04-01 21:13] Havunen commented on #162
Hi @jpdutoit thanks for reporting this issue.
Both variations are fixed in latest dev closing this issue.

[2016-04-01 21:13] #162 closed

[2016-04-01 21:14] Havunen commented on #164
ok I will look into that tommorow.

[2016-04-01 21:17] Kflash commented on #164
You can see here how it's fixe: https://github.com/Kflash/boily/blob/master/config/webpack.karma.config.js#L10-L47

[2016-04-02 00:36] Kflash commented on #164
@trueadm @Havunen Sad news! This issue can't be fixed at all!! There are some major conflicts between webpack and Karma. So any tried on a solution will fail :(

I experienced this as well on the Boily repo. Also the solution I thought worked, failed now.

A solution on the problem is coming soon, but not in the way we wanted it.

[2016-04-02 02:48] mseeley commented on #135
Thanks for keeping on this guys. I'm looking forward to a fix.

[2016-04-02 06:51] Havunen commented on #135
@mseeley @russelgal can you specify what exactly is the issue here in @russelgal's example?

[2016-04-02 06:54] Havunen commented on #164
ok, meanwhile I think the current coverage is good enough. Even if line numbers are wrong in report you can see what is covered and what not. closing.

[2016-04-02 06:59] Kflash commented on #164
Sure thing. If you know what is on line 145 in index.js when the index.js in reality have 30 lines. And what is covered is totaly wrong if you look at the coveralls.io webpage.
Sure thing, then this wouldn't need a fix.

As @trueadm knows, there was and is issues with wrong lines reported on the coveralls.io as well.

[2016-04-02 07:04] Kflash commented on #164
@trueadm I just ran Inferno through a fixed coverage that works, and Inferno are actually 86% covered. Not 93% as reported.

[2016-04-02 07:18] Havunen commented on #164
looking into HTML report you see branches correctly ( I think )

[2016-04-02 07:19] Havunen commented on #164
but in case you find better way for Boily maybe you can just add it to Inferno also?

[2016-04-02 07:23] Kflash commented on #164
@Havunen Boily v. 3.0.0 just got released. Everything solved there. So just copy&paste

[2016-04-02 07:30] Havunen commented on #164
Ok good! I will look into that after events task.

[2016-04-02 07:30] Havunen commented on #161
I think this also works in Boily v3?

[2016-04-02 07:34] Kflash commented on #161
Travis for Boily is green, so I guess so.

[2016-04-02 08:22] Kflash commented on #164
In boily changes are made for travis.yml that is important you copy over. Just read the Q&A in the readme.

[2016-04-02 10:58] russelgal commented on #135
@Havunen, event attached to `div` element.
on click the innermost element pass to event handler function (`span`)
(SFMBE)

[2016-04-02 11:51] Havunen commented on #135
Event system is now refactored in dev branch. Also if you are using JSX plugin get dev branch from there as well.

Can you verify your issues are now solved @russelgal @mseeley ?

If you are using pure vdom objects you need speficy event like this:
[code]

notice 'on' before click

[2016-04-02 12:18] russelgal commented on #135
@Havunen
[code]
the issue remains
[http://codepen.io/russelgal/pen/grGeXz?editors=0010](url)

[2016-04-02 14:04] Havunen commented on #135
@russelgal  event.target is always the innerMost element in javascript unless this behavior is overwritten
see this codepen: http://codepen.io/anon/pen/jqGxbE

[2016-04-04 00:33] Kflash opened #167 "Inferno build (NodeJS issues)"
I tried to run a couple of tests server side and got well informed that document and some other DOM related stuff was not found. Very obvious because I was running it on node, but the point is: it throws for me.

Is this boilerplate working only for client side? In that case. How are Inferno going to test for SSR on server side?

[2016-04-04 02:40] Kflash commented on #164
@Havunen @trueadm I just ran coverage check, and I still get wrong coverage report. Is this going to be fixed?

[2016-04-04 08:12] trueadm commented on #167
@Kflash how do you mean? If you use `InfernoServer.renderToString` on the server, you shouldn't have any issues with it. Obviously, doing `InfernoDOM.render` isn't going to work.

[2016-04-04 08:56] Kflash commented on #167
I was just running the tests through node. Some of the tests throw. And it
was complaining about document that doesn't exist.

Easy fix I guess. For events etc do a check if it's node or browser
On Apr 4, 2016 4:12 PM, "Dominic Gannaway" <notifications@github.com> wrote:

[2016-04-04 09:11] trueadm commented on #167
@Kflash ah yes, although JSDOM should handle those use cases for events.

[2016-04-04 10:26] Kflash commented on #164
Related issue
https://github.com/webpack/karma-webpack/issues/13

[2016-04-04 13:15] Kflash commented on #161
@Havunen Added a new very basic workflow for Inferno. Should solve all issues reported so far. Also coverage are fixed there.
Supports the very basic for doing Inferno stuff, as I got the impression that @trueadm  wanted.

This workflow works for Mac. Not sure for PC.

[2016-04-04 15:22] Havunen commented on #161
I checked boily and just copy paste ain't enough. Also This is question of using Gulp I think you are using gulp in boily while we don't have it at all currently. @trueadm  What do you think should we include gulp in build process?

[2016-04-04 15:34] Kflash commented on #161
Gulp is included yes but never used. Boily uses the same npm commands as
before.
Gulp was needed because of general issues, pc and Mac conflicts, coverage
and jsdom issues.
On Apr 4, 2016 11:22 PM, "Sampo Kivistö" <notifications@github.com> wrote:

[2016-04-07 20:50] JustinWilabyPrecor opened #168 "Package.json incorrectly identifies "main""
Package.json has the following entry for main:
[code]
however `inferno.js` is located in `dist/inferno.js`.  This breaks tools like JSPM which rely on the package.json during bundling.

[2016-04-07 22:58] terinjokes commented on #168
@JustinWilabyPrecor there is a `inferno.js`… https://github.com/trueadm/inferno/blob/master/packages/inferno/inferno.js

[2016-04-08 13:10] JustinWilabyPrecor commented on #168
Looks like this could be a `jspm` issue `jspm install npm:inferno` does not have `inferno.js` while `npm install inferno` does. I'll look into this further.

[2016-04-08 16:26] TylorS commented on #117
Hello, I've been experimenting with a Cycle.js driver, and I'm also running into this bug rather sporadically  as well.

I'll hopefully have something to actually share soon.

[2016-04-08 17:09] TylorS commented on #117
I have a working Cycle.js driver here at: https://github.com/TylorS/cyclic-inferno
Everything seems to be as normal but then when I run into this bug everything stops rendering after that.

There is a runnable example in the repo; available by running  `npm install && npm run test-browser-perf`

I'm not very knowledgeable on Inferno, but if there is anything I can do to help please let me know :sm

[2016-04-08 18:24] trueadm commented on #117
@TylorS this is fixed in the latest `dev` branch. We're soon going to release, we're just waiting on some further perf fixes. :)

[2016-04-08 20:26] Havunen commented on #168
Hey,

This issue is fixed in dev and will be done in next release 0.7 I think.

[2016-04-08 20:28] JustinWilabyPrecor commented on #168
Thank you.  For `jspm` users, the workaround is to use `jspm install github:trueadm/inferno` instead of `jspm install npm:inferno`

[2016-04-08 21:07] massltov opened #169 "Returning multiple root elements from (stateless) component"
Hello everybody,

this seems to be a common problem with virtual dom libraries if you return multiple elements not wrapped in a root element:

[code]

This returns multiple root elements and does not work when just used as
`<Answers answers={ list } />`

My current workaround is to use the following javascript syntax which is working fortunately:
`{ Answers({answers: list}) }`

Is there something

[2016-04-08 21:40] trueadm commented on #169
Thanks @massltov I'll look into this ASAP for you :)

[2016-04-08 21:50] TylorS commented on #117
Wonderful :+1:

[2016-04-08 22:56] TylorS commented on #117
I'm running the sample text example with the latest from the `dev` branch, and I'm still experiencing this issue.

[2016-04-08 23:00] TylorS commented on #117
I take my previous comment back, the problem was me :+1:

Thank you!

[2016-04-09 06:36] Kflash commented on #142
@trueadm I was reading through this thread today, and tried all combos. If you thinking outside the box and try other combinations as well - not listed here. Inferno will break again, and again.

I tried 3 new combinations whre the code break.

I think @Havunen have a lot more to fix here.

As a quick info. I will soon enough show off a demo code on how it can be done without any issues.

Everythi

[2016-04-09 16:02] Kflash commented on #161
@Havunen any progress on porting the  the boilerplate?

[2016-04-09 16:49] Havunen commented on #161
@Kflash didn't have time yet. I have been working on other stuff.

[2016-04-09 18:56] trueadm commented on #160
@Keats `dev` branch now supports rendering of components :)

[2016-04-09 19:00] trueadm commented on #133
This should now be fixed in `dev` branch. Please confirm?

[2016-04-09 19:02] #117 closed

[2016-04-09 19:03] trueadm commented on #117
Thanks, closing issue now! :)

[2016-04-09 19:03] trueadm commented on #135
@russelgal can you confirm you are still experiencing an issue on this?

[2016-04-09 19:06] trueadm commented on #167
@Kflash please can you add JSDOM to the node tests and get these working? Really appreciated, thank you :) I want to get `0.7` out the door ASAP.

[2016-04-09 19:07] trueadm commented on #161
@Kflash by your boilerplate, I assume you meant the branch you made? Please can @Kflash and @Havunen work together on getting this resolved? I'm eager to get `0.7` out of the door this weekend as it's a big release.

[2016-04-10 12:34] Havunen commented on #169
I think component must have single root element, if we want to support array this needs little design change. What do you think @trueadm?

Following code works as you expect:

[code]

[2016-04-10 12:36] trueadm commented on #169
@Havunen this is right, a component can only have a single root element. This is also the same for React and if we change this it does break our parity with React's component model.

[2016-04-10 23:59] massltov commented on #169
This is ok with me. Is it my task to close this issue?

[2016-04-11 06:30] Havunen commented on #169
Ok, nice to hear it's not an issue!

[2016-04-11 06:30] #169 closed

[2016-04-11 07:15] russelgal commented on #135
@trueadm It is working now, thanks!

[2016-04-11 10:24] Kflash commented on #168
@trueadm If this issue is fixed, why is it still open?

[2016-04-11 10:31] massltov commented on #169
Thanks all for looking into this!

[2016-04-11 11:39] Havunen commented on #156
What about removing the "auto adding" namespace for example:

[code]

should output exactly same instead putting namespace there. It works perfectly without namespace so why add it?

[2016-04-11 11:41] Havunen commented on #135
Good to hear!
closing...

[2016-04-11 11:41] #135 closed

[2016-04-11 12:05] #168 closed

[2016-04-11 23:43] Kflash commented on #161
@Havunen @trueadm New boilerplate in the w branch. Need porting of test cases, and finishing the package config.

[2016-04-11 23:44] Kflash commented on #167
@trueadm JSDOM is alive and kicking on the new workflow in the w branch. You can close this.

[2016-04-11 23:44] Kflash commented on #164
@Havunen @trueadm No longer an issue. Fixed in the w branch.

[2016-04-11 23:52] Kflash commented on #161
@trueadm I'm also putting together now a very lightweight boilerplate that can be used as a starting point for Inferno. It will have the same basic stuff, so easy to get going as a first dev on Inferno. And build your first app.

I like to give my boilerplate crazy names, so I choose @Havunen this time.

The boilerplate will be located here: https://github.com/kflash/Havunen

[2016-04-12 01:16] Kflash commented on #161
@Havunen @trueadm Forget about the w repo. I'm doing a new boilerplate from scratch so it will be copy&paste only.

Boily 3.x isn't for Inferno. Too complex I figured out. So the new boilerplate in production is here: https://github.com/Kflash/havunen

So **Havunen** and not **Boily** will be the basis boilerplate for Inferno.

I will also try to configure **Havunen** so it can be used as a starte

[2016-04-12 08:44] Havunen commented on #161
You named that repo after me lol...

[2016-04-13 14:08] Keats commented on #160
@trueadm thanks, a bit busy right now so i think i'll wait for the 0.7 release

[2016-04-16 13:08] Havunen commented on #135
@russelgal I just wanted to comment that if you need current element where click is bound, its referenced in "this"

[2016-04-16 14:29] Kflash opened #175 "Needs a lot of validations"
@trueadm  The source need a lot of validations else it will throw. E.g. the render() function. Also elsewhere inside the core.

@Havunen Something you have time to fix?

[2016-04-16 14:49] trueadm commented on #175
I'm not sure. Thes changes will negatively affect performance without any real benefit to the end user.

[2016-04-16 14:57] Havunen commented on #175
I agree, also if this is really needed we could add that validation behind DEBUG flags which would be removed in production build. Anyway milestone should be 0.8? - to get this 0.7 out

[2016-04-16 15:10] Kflash commented on #149
@trueadm @havunen this is has been pushed forward all the time. Would be important to get this fixed ASAP. A lot of people uses select,  input elements etc

[2016-04-16 15:12] Kflash commented on #160
I guess it will be possible to boot from Ssr now in this version?

[2016-04-16 16:42] Kflash commented on #175
Just take a look how kivi did it.
On Apr 16, 2016 10:58 PM, "Sampo Kivistö" <notifications@github.com> wrote:

[2016-04-21 20:19] #133 closed

[2016-04-22 12:57] Keats commented on #160
Just noticed that 0.7 was released, I'll try it when I get time.

Any plan to add inferno to https://localvoid.github.io/uibench/ / dbmonster / other benchmarks?

[2016-04-22 12:57] trueadm commented on #160
@Keats new dbmonster bench has been updated at:
http://infernojs.org/benchmarks/dbmonster/

Need to update the other benchmarks when I get a chance.

[2016-04-22 13:56] Keats commented on #160
Thanks for the benchmark

Install doesn't actually work, inferno-dom depends on `No compatible version found: inferno@'>=0.6.5 <0.7.0'` so doesn't work with 0.7

[2016-04-22 13:58] trueadm commented on #160
@Keats try again now please?

[2016-04-22 13:59] Keats commented on #160
It does work now, thanks

[2016-04-22 14:03] Keats commented on #160
Another thing: `inferno-create-element` is an empty package, no actual code in it except:

[code]
but there is nothing at that import location

[2016-04-22 14:11] trueadm commented on #160
@Keats are you sure there, it's bundling the content fine from here:

https://github.com/trueadm/inferno/blob/master/src/createElement/index.js#L112

[2016-04-22 14:17] Keats commented on #160
Yep, installing `inferno-create-element@0.7.1 node_modules/inferno-create-element` gives me the following files:

dist/inferno-create-element.es2015.js
[code]

inferno-create-element.js - src/index.js (both are identical)
[code]

[2016-04-22 14:26] trueadm commented on #160
@Keats I think the issue is that we're not making the es2015 bundles anymore. Need to fix the build to add this. If @Havunen or @Kflash can take a look if they have time, that'd be awesome.

[2016-04-22 14:30] Keats commented on #160
Why not keep the src in npm and let the end users do minification etc themselves? I'm guessing anyone using inferno/react/etc will use webpack/browserify or something like that to do it

[2016-04-22 14:33] trueadm commented on #160
@Keats it's tricky as the source isn't actually with the package, it's a monorepo so it has to have a build step in order to get the source in the right place for the package to consume.

[2016-04-23 20:49] russelgal opened #183 "Something wrong with Lazy patching feature"
Version 52.0.2714.0 canary (64-bit) OS X 10.11.4
[devtools screenshot](https://monosnap.com/file/oJCejnGOhRn05fL780AAO6Ailbp3gI)

[2016-04-23 20:50] trueadm commented on #183
@russelgal that looks right to me, what part looks wrong to you?

[2016-04-23 20:53] russelgal commented on #183
@trueadm
100% load of CPU
http://take.ms/P1UXQ

[2016-04-23 21:00] trueadm commented on #183
@russelgal I get over 127% CPU, but that's normal, I've got 4 cores. I get that CPU usage on almost all the dbmonster benchmarks too, it comes with doing `setTimeout(func, 0)` which the benchmarks all use.

[2016-04-23 21:12] russelgal commented on #183
@trueadm
even with just one line
`InfernoDOM.render({tag:'h1',children:'test'}, document.body);`
consumption is 100% of one thread

tested both Chrome Version 49.0.2623.112 (64-bit) and Version 52.0.2714.0 canary (64-bit)
in Safari - ok

[2016-04-23 21:14] trueadm commented on #183
@Havunen @Kflash can you confirm this please on your side? I don't see it for the above example.

[2016-04-23 21:18] trueadm commented on #183
@russelgal can you check `0.7` to see if this is a regression please?

[2016-04-23 21:19] russelgal commented on #183
@trueadm in `0.7` everything is fine

[2016-04-23 21:25] trueadm commented on #183
@russelgal can you please try the `dev` branch.

[2016-04-23 21:30] russelgal commented on #183
@trueadm it's okay now

[2016-04-23 21:39] trueadm commented on #183
@russelgal updated to `0.7.2`

[2016-04-23 21:40] #183 closed

[2016-04-23 21:51] #161 closed

[2016-04-23 21:51] #164 closed

[2016-04-23 21:51] #167 closed

[2016-04-23 21:52] #156 closed

[2016-04-23 21:53] trueadm commented on #160
@Keats the original issue should be fixed now. So closing this issue. If you can raise a separate issue for es2015 bundles, that would be great!

[2016-04-23 21:53] #160 closed

[2016-04-24 10:34] Havunen commented on #149
Added test case for checkboxes I think this issue is related to it

[2016-04-24 10:38] Havunen commented on #149
I think supporting  checkboxes, basic select, textarea, text input is crucial.  This should be fixed asap

[2016-04-24 15:42] Kflash opened #184 "no tabIndex support"
React supports tabIndex. To catch up with React this should be supported. However setting this as an attribute with Inferno gives issues. There are also issues related to this attribute with Edge and IE11.

If choose not to support this, should mark this in readme.

[2016-04-24 15:43] Kflash opened #185 "muted not seen as boolean"
muted need to be set as property, and boolean value.

[2016-04-24 15:45] Kflash opened #186 "rowspan, start etc shouldn't take negative numbers"
some attributes take only number attributes. rowspan and start to mention a few. They shouldn't take negative numbers or other values then numbers. In Inferno this doesn't work as expected.

[2016-04-24 16:02] Havunen commented on #185
@Kflash I remember you had long list for boolean properties back then? Mind sharing?

[2016-04-24 16:03] Havunen commented on #185
Added muted to the list.

[2016-04-24 16:04] Havunen commented on #184
What issues are you having when setting it as attribute?

[2016-04-24 16:09] Havunen commented on #186
This is related to validation task: https://github.com/trueadm/inferno/issues/175

[2016-04-24 18:36] Kflash opened #187 "Video not playing"
Seems like inferno are missing some video etc properties that can't be set as attribute. And the volume property isn't working right either.

[2016-04-24 18:40] Kflash opened #188 "I frame issues"
I can't get inferno work with I frame.  Not iframe within components either.

[2016-04-24 18:43] Kflash opened #189 "Missing type extension support"
The is attribute isn't supported for this.

[2016-04-24 19:00] Kflash commented on #184
Tons  here are some links
https://nemisj.com/focusable/
http://adrianroselli.com/2014/11/dont-use-tabindex-greater-than-0.html

[2016-04-24 23:24] Kflash opened #190 "getboundingclientrect issues"
There is a lot of issues bound to **getboundingclientrect**. Cross-browser issues and Chrome related issues. You find 26 pages with Chrome issues here.
https://bugs.chromium.org/p/chromium/issues/list?can=2&q=getboundingclientrect&colspec=ID+Pri+M+Stars+ReleaseBlock+Component+Status+Owner+Summary+OS+Modified&x=m&y=releaseblock&cells=ids

For some of this issues Inferno would need to find workaroun

[2016-04-24 23:25] trueadm commented on #190
@Kflash `lazy` will have lots of doc when it's official in API, currently it's not, so I'm closing this issue as it's not to be used in production currently.

[2016-04-24 23:25] #190 closed

[2016-04-24 23:34] Kflash commented on #190
Sure thing. Just mention this in the docs so people knows there are tons of issues related to this.

[2016-04-24 23:35] trueadm commented on #190
@Kflash it's not in docs, because `lazy` is currently WIP as per release notes and thus not stable or supported by Inferno for production.

[2016-04-25 06:56] Havunen commented on #184
Inferno just uses the tabindex value user gives, no magic happens there.

[2016-04-25 06:57] Kflash commented on #184
Ok. Cause issues too
On Apr 25, 2016 2:56 PM, "Sampo Kivistö" <notifications@github.com> wrote:

[2016-04-25 07:02] #184 closed

[2016-04-25 07:24] Kflash commented on #184
@trueadm why close this when still a lot of issues regarding this? You want
separate issues? Would be an 20 - 25 issue tickets
On Apr 25, 2016 3:02 PM, "Sampo Kivistö" <notifications@github.com> wrote:

[2016-04-25 07:35] Kflash opened #191 "Tabindex should be integer only"
Tabindex should be integer only. In inferno also char allowed.

[2016-04-25 07:36] Kflash opened #192 "Tabindex issues with ie11"
Inferno supports ie11 and there are tabindex issues. Need a fix

[2016-04-25 07:37] Kflash opened #193 "Tabindex shouldn't be greater then 1"
Based on links regarding this to @havunen earlier. Tabindex value shouldn't be greater then 1

[2016-04-25 08:32] trueadm commented on #193
@Kflash this isn't an Inferno-land problem, it's a user-land problem. Right? I don't want to start validating all invalid attribute inputs, as it can put us down a slippery route.

[2016-04-25 08:40] Kflash commented on #193
Just make sure it's a digit and you should be good to go. else it can throw
On Apr 25, 2016 4:32 PM, "Dominic Gannaway" <notifications@github.com>
wrote:

[2016-04-25 08:48] trueadm commented on #193
@Kflash according to MDN, you can have greater than 1. https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex

[2016-04-25 08:49] trueadm commented on #191
@Kflash We can support character too, having a value of "0" as a string should use setAttribute, that is also valid.

[2016-04-25 08:58] Kflash commented on #193
http://adrianroselli.com/2014/11/dont-use-tabindex-greater-than-0.html
On Apr 25, 2016 4:48 PM, "Dominic Gannaway" <notifications@github.com>
wrote:

[2016-04-25 08:58] Kflash commented on #191
Let's wait for others to report this kind of issues then
On Apr 25, 2016 4:49 PM, "Dominic Gannaway" <notifications@github.com>
wrote:

[2016-04-25 09:02] trueadm commented on #193
Closing this.

@Kflash this is definitely a user-land issue. I don't want Inferno to validate against a value being greater than 1. I'm able to insert tabindex greater than 1 using React and Angular too.

[2016-04-25 09:02] #193 closed

[2016-04-25 09:04] trueadm commented on #191
@Kflash I don't understand what issues people will report? Inferno simply takes the string and applies it using `setAttribute`. There's no use of the property at all.

[2016-04-25 09:37] Havunen commented on #191
Yeah lets not add "magic"

[2016-04-25 09:37] Havunen commented on #192
Instead posting all the time new issues about tabIndex can you post steps to reproduce your issue?

[2016-04-25 09:38] Havunen commented on #193
tabIndex="-1"  also valid that makes html element not to gain focus with tab, we are actually using that in our application

[2016-04-25 10:04] Kflash commented on #191
Just wait and see and close this
On Apr 25, 2016 5:37 PM, "Sampo Kivistö" <notifications@github.com> wrote:

[2016-04-25 10:05] Kflash commented on #192
I linked. And there is google. Best source for all cross browser issues is
jquery
On Apr 25, 2016 5:37 PM, "Sampo Kivistö" <notifications@github.com> wrote:

[2016-04-25 10:09] trueadm commented on #192
@Kflash What links did you put in? I looked at the jQuery code, this is all I could find:

https://github.com/jquery/jquery/blob/91850ecbbe04ad8f5d89dc050aa1d9002047c435/src/attributes/prop.js#L60

This does not relate to us at all, we don't read the DOM for `tabindex` values.

[2016-04-25 10:10] #191 closed

[2016-04-25 10:49] Kflash commented on #192
I need to come back to it. Not home for a long time. 3 - 9 days
On Apr 25, 2016 6:09 PM, "Dominic Gannaway" <notifications@github.com>
wrote:

[2016-04-25 13:25] Keats opened #194 "inferno-create-element package is empty"
from a download on npm, no code in it.

See #160 for more details

[2016-04-25 13:52] trueadm commented on #194
@Keats the NPM package.json was pointing to the wrong `main`, this is fixed now. The es2015 bundle still needs to be fixed, but shouldn't stop NPM usage.

[2016-04-25 16:23] edgesoft commented on #188
For all browsers?

[2016-04-25 18:42] trueadm commented on #188
Tested on Edge, IE11, Chrome and Firefox. No issues at all, UT added too.

[2016-04-25 18:42] #188 closed

[2016-04-25 18:43] trueadm commented on #192
Did more testing tonight. There is no issue with Edge and using tabindex with "-1", "0" or "1". All work fine.

[2016-04-25 18:43] #192 closed

[2016-04-25 19:11] trueadm commented on #187
Fixed on `dev`.

[2016-04-25 19:11] #187 closed

[2016-04-25 19:28] #185 closed

[2016-04-25 19:29] trueadm commented on #186
This is a user-land problem in my eyes. Closing.

[2016-04-25 19:29] #186 closed

[2016-04-25 19:31] trueadm commented on #159
@Kflash just looked into this. Doesn't happen for us as long as you don't use `keyIdentifier`. User-land problem again.

[2016-04-25 19:31] #159 closed

[2016-04-25 19:32] #194 closed

[2016-04-26 13:24] Kflash opened #195 "issues with properties"
There are issues with properties / boolean properties in Inferno.  It's basic knowledge that a boolean can only be either true or false.

`Checked` is also a boolean, but not counted for on this line:
https://github.com/trueadm/inferno/blob/dev/src/DOM/patching.js#L124

Shouldn't be set to empty string. That is not a boolean value.

This line: https://github.com/trueadm/inferno/blob/dev/src/DOM/pa

[2016-04-26 13:47] trueadm commented on #195
@Kflash Thanks – truthy values resovle to true and falsey to false. Fixed and closed.

[2016-04-26 13:47] #195 closed

[2016-04-26 13:47] Kflash opened #196 "namespace attributes are not removed"
As I wrote on Slack namespace attributes should be removed as well on diff.

Look at this line:
https://github.com/trueadm/inferno/blob/dev/src/DOM/patching.js#L130

What if this is a namespace attribute? `removeAttributeNS` is missing.

This is per MDN specs.

Further reading here: https://developer.mozilla.org/en-US/docs/Web/API/Element/removeAttributeNS

[2016-04-26 13:53] trueadm commented on #196
@Kflash Thank you. Fixed.

[2016-04-26 13:53] #196 closed

[2016-04-26 14:24] Kflash opened #197 "missing support for custom namespace attributes and values"
E.g. `<html xmlns="http://www.w3.org/1999/xhtml" xmlns:havunen="http://www.example.com/trueadm">` will give issues. And so will  `abc:def` if set as attribute value.

Inferno only deals with xlink and xml. No custom.

Does the JSX plugin accepting this?

This is also after the specs. But various website to link to here, and to avoid trigger something. I suggest use Google to search for more info i

[2016-04-26 14:55] trueadm commented on #197
I made the decision a while back not to support custom namespaces, it's too messy to handle edge cases properly and it's not something I want Inferno to support at this time. If people need custom namespace support, I'd suggest they explain a good use-case for today's modern web.

[2016-04-26 17:12] Kflash opened #198 "missing boolean properties"
@trueadm. There are missing boolean properties in the list. Mentioned it to both you and @Havunen on slack.

This overview is little old, but you get the point: http://stackoverflow.com/questions/706384/boolean-html-attributes

There are also other boolean attributes for HTML 5.

In case of name confusion. The correct name is boolean attribute, but some attributes can be set as properties.

[2016-04-26 17:38] Kflash opened #199 "Attribute names should be lowercase"
Attribute names should be lowercase. Crucial for booleans.

https://dom.spec.whatwg.org/

[2016-04-26 18:15] trueadm commented on #199
This is a user land problem again. Attributes in HTML5 can be mixed case too. There are hundreds of mixed case attributes around.

[2016-04-26 18:18] #197 closed

[2016-04-26 18:45] Havunen commented on #199
btw JSX plugin is taking care of this

[2016-04-26 19:13] trueadm commented on #199
@Havunen Yep, it has to, as it's a intermediary in the user-land.

[2016-04-26 19:13] #199 closed

[2016-04-26 20:38] justinwilaby opened #200 "0.7.0 <MyComponent ref="myComponentInstance"/> not working"
Refs are being set properly for plain nodes but not for Stateful components.  Instead, the options passed to the constructor includes the "ref" property.

[code]

[2016-04-26 20:47] trueadm commented on #200
@justinwilaby Thanks for reporting this issue. It will be patched and included in the next release :)

[2016-04-26 20:47] trueadm commented on #198
Fixed.

[2016-04-26 20:47] #198 closed

[2016-04-26 21:28] Kflash commented on #197
I can't find any documentation about this missing? Stated in readme you say
you are close to react api. You are not
On Apr 27, 2016 2:18 AM, "Dominic Gannaway" <notifications@github.com>
wrote:

[2016-04-26 21:31] trueadm commented on #197
@Kflash We have no documentation yet. Our readme says nothing of the kind. `In principle, Inferno is compatible with the standard React API, allowing painless transition from React to Inferno.`

Like I said before, I'm happy to build something in when there is a demand for such a thing. I personally see no demand and from my experience, it's not something people do.

Inferno's goal is not to be a

[2016-04-27 16:52] Keats commented on #113
Can be closed with 0.7

For reference it looks like https://gist.github.com/Keats/4064b28989d1fa9a8721c7202cd97c74

[2016-04-27 16:52] #113 closed

[2016-04-27 16:53] terinjokes commented on #113
(And `inferno-hyperscript` supports inferno@0.7 as well)

[2016-04-27 16:54] Keats opened #201 "README needs some clarifications/update"
- The Virtual DOM Benchmark link points to inferno 0.5
- `lazy optimisation` is not mentioned anywhere in the doc but performs 1.5x better than the normal one on my machine so would be interesting to read what's the difference

[2016-04-27 17:50] Havunen commented on #201
@trueadm Corret me if I'm wrong. Lazy optimisation is still work in progress, but the idea mainly is that it updates items outside viewport with delay giving higher priority to visible stuff.

[2016-04-27 22:31] Kflash opened #204 "InfernoJS v0.2.3 still used?"
Just wonder if InfernoJS v0.2.3 is still used? This benchmark - found in the readme - http://infernojs.org/benchmarks/angular-test-table/infernojs/index.html.

Here it seems that InfernoJS v0.2.3 is a big thing.

Should this be updated? Or would you recommend me to use this version of Inferno?

[2016-04-27 22:32] trueadm commented on #204
It needs to be updated. But I'd highly recommend you use any version of Inferno – they all rock :)

[2016-04-27 22:32] #204 closed

[2016-04-27 22:33] #200 closed

[2016-04-28 08:45] trueadm commented on #201
@Keats I've had issues updating the vdom benchmark for a while now – GitHub Pages issues. Will give it another go soon.

In regards to `lazy`, it's undocumented as per the release notes as it's still a WIP and I'd rather people didn't use it just yet. Once it's available it will have a technical description about how it works. Essentially, it's just as @Havunen has mentioned. If a vNode is marked

[2016-04-28 10:33] localvoid commented on #201
Just remove link to vdom-benchmark, maybe it is time to shut down this broken benchmark :)

[2016-04-29 23:58] gajus opened #205 "Provide a guide for benchmarking a UI"
This is a rather generic question. However, it would be useful to an average developer when considering whether the performance boost when switching from React to Inferno is worth the migration.

Example:

Here is a real application using dummy data, https://applaudience.com/demo/showtime-app/#date=2016-04-30&latitude=48.845729&longitude=2.332658&zoom=11.

How would I record a series of events (e.

[2016-04-30 21:36] trueadm commented on #205
@gajus This is a very valid question. The most simple answer would be: use Chrome dev tools and the timeline to monitor the performance. Otherwise you could add `console.time` and `console.timeEnd` in your source code to determine how efficient certain perts of your application perform. Using the site in question, I see noticeable lag when scrolling the locations list panel on mobile – I believe t

[2016-04-30 21:45] gajus commented on #205
There is no simple way to replicate the exact same steps using Chrome dev tools and record a timeline. As far as my research goes, no one bothered to make this process scriptable. The closest I have got is using https://github.com/macbre/phantomas for the same purpose. I am still researching how to create a good test case though.

Simple to say, a lot harder to do.

When timing code blocks is easy

[2016-04-30 22:02] trueadm commented on #205
@gajus It's no easy at all to efficiently benchmark an app. If you were using Redux or another state management tool, you could easily profile upon each update happening and the profiling that. Again, I'd go back to what I said regarding using the Chrome dev tools: you can clearly see that on the timeline that updates take quite some time (http://imgur.com/FpNw7B3).

[2016-04-30 22:08] gajus commented on #205
I am this. This is what I am investigating: writing "stories", i.e. a series or actions being dispatched, timing their completion (not as straightforward as it sounds).

Thats all good, but overlaying this data against multiple execution is no easy task.

I am not saying that Chrome dev tools is a wrong tool for the job, but there needs to be some abstraction around it that enables controlled benc

[2016-04-30 22:25] trueadm commented on #205
@gajus My company heavily uses integration test software to determine performance metrics. You can then monitor the memory usage and FPS on the Chrome window as you action tests in a BDD style. For example:

Use case: "given user is logged in, when user opens menu from X":
Output: passed: <true/false> timeTaken <int> memoryUsage <int>

You can then use the tools to report this to you in terms of p

[2016-04-30 22:28] gajus commented on #205
The concept sounds great. Sounds a bit like http://www.webperformance.com/load-testing/selenium-webdriver.html.

Can you name the specific tools that you are using?

[2016-04-30 22:34] trueadm commented on #205
@gajus we also use Selenium. I'll speak to your QA lead who knows all the ins-and-outs of our PATs, which won't be till Tuesday due to the UK bank holiday Monday. The problem you are facing isn't isolated at all, it's as common as anything the JavaScript SPA industry, so I'll do my best to help you where I can. :)

All I can say, in terms of logic: Inferno does "less' and uses optimised JavaScript

[2016-05-01 03:44] jwarning opened #207 "Events being lost on child components"
I have run into an interesting issue where if a component is the only child component it seems to work correctly, however if there are others it seems to lose its events / attrs such as its onclick event. An example which demonstrates the behaviour is as follows:

[code]

If this is changed to:
[code]
The button's onclick method is correctly created and now works. Is there an issue in my syntax or

[2016-05-01 05:59] Havunen commented on #207
There seems to be issue in createElement api.

[2016-05-01 06:17] #149 closed

[2016-05-01 06:48] Havunen commented on #207
This will be fixed in next 0.7.6 release. Looks like I'm missing access rights to release Inferno module packages so we need to wait for @trueadm

[2016-05-01 07:35] trueadm commented on #207
Released on to NPM :) thanks @Havunen.