[2017-09-26 15:30] rendall commented on #1209
@Havunen @TedDriggs This gist can give you a good head start.  It's just the React typedefs modified for Inferno.

  https://gist.github.com/rendall/cdd23c962c88fac3dbd9322cc2b09d58

[2017-09-26 19:48] SimonMeskens commented on #686
I'd be willing to help with typings. I don't have a lot of time, but I have a lot of knowledge about TypeScript if that helps.

[2017-09-26 22:25] dakom commented on #596
I am having the same issue, I'm able to use/extend Component when importing as `import * as Component from "inferno-component"` or `import Component = require('inferno-component');` but I get errors in VSCode

@soyuka where you able to get it to work?

[2017-09-27 07:36] soyuka commented on #596
@dakom  nope

[2017-09-27 07:40] dakom commented on #596
:(

[2017-09-27 14:47] OvermindDL1 commented on #1188
For note, that'll make it fail the chrome audit as over cell networks downloading something over a meg in size can take 15+ seconds.

Whoo!

[2017-09-29 07:59] antoninadert commented on #1033
I used [ViewModel](viewmodel.org) with Inferno for state management, it does things about imports as well so my boilerplate code is minimal.
What I know is that it's easy to get it running with Meteor, see my project starter:
https://github.com/antoninadert/inferno-proto-starter

[2017-09-29 16:32] thepian commented on #1188
Well any solution will be appreciated. I haven't managed to make a reliable import of inferno so far.

[2017-10-02 15:24] foisonocean commented on #1208
Any update ?

[2017-10-05 16:52] lesar opened #1225 "TypeError: this is undefined on inferno-redux functional component use"
I use:
[code]

**Observed Behaviour**

I get:
TypeError: this is undefined on
index.js in inferno-redux line 191 calling `Component$$1.call(this, props, context);`
after the call in index.js in inferno-component line 213 the error occur in `this.state = null;`
**Expected Current Behaviour**

Inferno should work on functional component

**my code**
Have I misunderstand something?
[code]

**Inferno

[2017-10-11 04:34] alivedise commented on #1081
React 16 supports custom attributes which is heavily used in Web Components. What's the plan of inferno? Does it support custom attributes already?

[2017-10-11 08:57] Havunen commented on #1081
Inferno does simple `setAttribute`, if javascript dom API requires different function call, then not. @alivedise  can you add test case for it?

[2017-10-11 18:03] LucaT1 commented on #1154
It would be awesome if rollup was also supported!

[2017-10-12 01:16] mcjazzyfunky opened #1226 "createElement does not support iterables"
### Problem (checked with Inferno v3.9.0 in Chrome v61 on Windows 10):
Currenty, Inferno's "createElement" function does not support iterables (= object that have an iterator property: obj[Symbol.iterator] = function * () { ... }).

Therefore the following code will cause an error:

[code]

See: https://jsfiddle.net/wf0fnkno/2

Arrays (which btw are also iterables) on the other hand are supported

[2017-10-12 08:30] Havunen commented on #1188
There was bug that ES6 code was built using development settings. I will hotfix this for 3.10, then you can use alias as shown in the first post of this thread.

[2017-10-12 10:44] mcjazzyfunky commented on #1226
Some additial remarks:

1.) Just for information (maybe important for the implementation): Please be aware that strings are also iterables

2.) Nested iterables should also be supported - like in the following React example:

[code]

See: https://jsfiddle.net/k0ojLsr4/2/

[2017-10-12 11:08] trueadm commented on #1226
I believe Inferno used to have iterable support for children – maybe it was removed? One issue is that the performance of iterables is terrible compared to using plain arrays – especially on large collections.

[2017-10-12 11:13] Havunen commented on #1226
It has support when inferno-compat is used.

[2017-10-12 12:35] mcjazzyfunky commented on #1226
@Havunen: Thanks for the information about inferno-compat.

FYI: Please find some performance tests here:

https://jsfiddle.net/ruyhoq5o/15/

The results on my systems are (be aware that test # 0 uses array with  "for(...;...;...)" loop while test # 3 uses iterables - both with quite a lot iterations):

Time needed for test # 0: 2 s
Time needed for test # 1: 8 s
Time needed for test # 2: 21 s
Time

[2017-10-13 05:34] eddyerburgh commented on #892
I'm going to give this a go today.@garrensmith are you still working on it? Have you got any advice?

[2017-10-13 06:50] garrensmith commented on #892
I made some good progress but I haven’t had time to get back to it. I think the best way to do this would be to fork the React 16 adapter and use that as the starting point.

All misspelling thanks to my iPhone.
________________________________
From: Edd Yerburgh <notifications@github.com>
Sent: Friday, October 13, 2017 7:34:18 AM
To: infernojs/inferno
Cc: garren smith; Mention
Subject: Re: [infer

[2017-10-15 14:33] Havunen commented on #1222
Actually, I think we should follow same way as React does it. I'm not sure do they support this either. Do you have better insight @thepian ?

[2017-10-15 14:37] Havunen commented on #1223
@longlho Can you check this issue please.

[2017-10-15 14:49] Havunen commented on #1186
I had a look at this and it is indeed bug. I believe this will be fixed in next major version without any extra changes. Its caused by normalization that changes the flow to use keyed algorithm.

Here the workaround you can use before v4 is ready:
[code]

I don't know why `<br/>` is needed when content is empty, but at least Chrome seems to add it there.

[2017-10-15 14:51] Havunen commented on #1208
Sorry for late reply; I will look into this now.

[2017-10-15 16:26] thysultan commented on #1186
This part never branches `{<br /> || this.state.text}` even when `this.state.text` is not empty after `setState({text: '...'})`, so you run into the same problem when it does.

Seeing as it's not a textarea input i also think this is expected behavior – that is you won't get normal textarea behavior with a `contentEditable` div.

[2017-10-15 17:00] Havunen commented on #1208
It seems like there is something wrong in render order vs React. I need to look into this again later when I have more time. Couldn't solve it right now.

[2017-10-15 17:04] Havunen commented on #1186
@thysultan true I dont know what I was thinking, some brain fart :D

[2017-10-15 17:56] Havunen commented on #1166
as @LukeSheard mentioned, you need to replace "process.env.NODE_ENV" with "production" and then uglify the code after that. Closing, its working as intended.

[2017-10-15 17:56] #1166 closed

[2017-10-15 19:57] longlho commented on #1223
kk ill take a look. This is prob a rollup thing

[2017-10-16 10:08] garrensmith commented on #892
Sorry I'm not able to complete the work on this. I was initially working on this because we couldn't use React with Apache CouchDB. But now we can. So unfortunately I just don't have the time to continue this work. I got the basic concepts working and am happy to help anyone if I can. But unfortunately to avoid opensource burnout I just can't work on this. I'm very sorry.

[2017-10-16 11:25] eddyerburgh commented on #892
Ok that's fine, I got `find` and `simulate` working. I'll publish it soon

[2017-10-16 14:42] longlho commented on #1223
Yeah we cannot technically package a module w/ rollup that overrides another namespace & more (unless we do that manually). We'd probably have to export to a different namespace. Given that this is meant to override React, might as well take that instead

[2017-10-16 16:08] thepian commented on #1222
The render function is part of ReactDOM not React. To my knowledge there is no API for passing context as the React dev's don't like context and find that everything should be turtles all the way down(Higher Order Components). Hence my other options.

I'm using Inferno to implement Custom Elements so I am likely to have hundreds of root elements on the page. So if I auto-wrap a HOC by default I'll

[2017-10-16 18:27] mpal9000 commented on #1222
I have tried providing `context` to top level `render()` some time ago and it worked great with very few additions. I didn't have time to create a PR that includes the streaming render methods at that time.
The render signatures can stay the same to avoid breaking compatibility with React, but with an extra overload that accepts a single object parameter, which will be more future-proof.

[code]

[2017-10-16 20:01] thepian opened #1228 "Leave state as it is if not changed"
**Observed Behaviour**

Inferno is forcing state to be an object even if setState isn't called

**Expected Current Behaviour**

Inferno should let me `this.state = []` without turning it into an object.

[2017-10-17 11:50] IgnusG commented on #1228
Can I ask what your use case for this is @thepian?

[2017-10-17 23:49] effulgentsia commented on #501
#628 is now closed. Should this issue be reopened now that React 16 is out and has this feature?

[2017-10-19 20:54] thepian commented on #1228
I implement something similar to reselect. When the state changes I want it available as the state of the component. Having a component state that isn't the state is confusing. Right now I have to write render as

[code]

This seems like bad encapsulation for no reason. Even if I didn't do this I would see the mutation by default as a bug. If you set `this.state` and do nothing else, I don't see w

[2017-10-19 21:40] thepian commented on #1222
@mpal9000 Makes sense. I should refactor my PR. You have 3 variants of render. Are you not proposing that the third is

[code]

[2017-10-19 21:53] IgnusG commented on #1228
As far as I'm aware state is the state of the component and that’s it. Nothing less nothing more. If you don’t want to use setState but you require state to hold something - seems wrong.

I don’t quite understand your use case but you can always nest it into the state.

[2017-10-20 13:15] mpal9000 commented on #1222
@thepian just saw your comment. The purpose of the overloads is to keep a React compatible version of the client's render signature. Without different or extra parameters. The second version provides everything inside an options object. So the third one (implementation) should be
[code]
But I'm thinking now that the first existing `input:InfernoInput` parameter, which has a union type of `VNode |

[2017-10-21 18:13] menberg commented on #1215
Thanks. I'm trying to reproduce the issue on jsFiddle, but so far I wasn't able to isolate the bug. I'm a novice programmer though, so I guess I need more time to work on this issue as I'm still learning – sorry about that.

But what I found out in the meantime was the commit that introduced the bug in the first place:

https://github.com/infernojs/inferno/commit/640ac4644fecd31694b3dd771811fe58d0

[2017-10-22 16:12] menberg commented on #1215
Fixed by adopting my usage of Cerebral by implementing https://cerebraljs.com/docs/api/universalcontroller.html and using `controller.runSequence('app.Signal', {})` instead of `controller.getSignal('app.Signal')({})`

[2017-10-22 16:12] #1215 closed

[2017-10-22 21:43] thepian commented on #1228
Yes I can work around the implementation, but why does the component constructor have to change the value after construction? I don't see why this is correct behaviour? To my knowledge there is no concept stating that `this.state` is mutated unless you call `setState`. On the other side there is an `updateState` on the functional side which allows wholesale state replacement.

[2017-10-22 21:56] thepian commented on #1222
I'd like to have some consistency with the server API, and I'd prefer not to clash with React in future. The server API only has a single param. Will have to look at the stream API to see what the right changes need to be there. I think an options object is the right way to go `{options:...}`.

1. New function with additional param
2. `render(input, dom|options)`
3. `render(options)`

I will see i

[2017-10-23 10:43] IgnusG commented on #1228
State is an internal of the component so how it looks like depends on the class which defines it - `inferno-component`. You can see this in the [type definitions](https://github.com/rendall/inferno-jsx-type-definitions/blob/master/InfernoJSX.d.ts#L97) for Inferno which are almost a one to one copy of the React ones.

I guess the best reason for why it should always be an object, is the fact any ot

[2017-10-23 12:49] dehghani-mehdi opened #1231 "[Q] is there any plan to have Inferno's performance in React?"
Hi,

I'm sorry to ask this question here as an issue.

I read about your library, your interview in 2016, and seems like Inferno is the God.
So, is there any plan from React's team to your your source code and ideas, or from you to offer your ideas and use them in React?

BTW I decided to read Inferno's source code, seems like it is huge opportunity for me to lean more about JS.

Thanks and keep i

[2017-10-24 07:32] Havunen commented on #501
Yeah lets re-open, it will be there in next major release.

[2017-10-25 15:04] scripter-co opened #1233 "Missing `module: ''` definition in package.json"
**Observed Behaviour**

Inferno is not using module in the `package.json` so rollup cannot load the ES6 file. Instead, it offers a `inferno:main` - what is the use for this?

**Expected Current Behaviour**

Inferno should have a module definition in all package.json files so that plugins like rollup can load the ES6 fule.

If we're happy to add a module file referencing the module ES6 file, let me

[2017-10-25 15:16] scripter-co commented on #1233
Seems like this has been discussed before. Apologies for missing it when I initially searched. Reference: https://github.com/infernojs/inferno/issues/928

[2017-10-25 15:16] #1233 closed

[2017-10-25 16:53] scripter-co commented on #1188
@Havunen I know you're the one that [removed it](https://github.com/infernojs/inferno/issues/928#issuecomment-285875658), but why was the `module` field actually removed? Putting it back into the packages would resolve the rollup issue as it'd point to the ES6 file without having to do any funky stuff with the `namedExports` param or `alias` plugin.

[2017-10-27 16:44] longlho commented on #1188
we can reintroduce `module` field w/ ES import + ES6, just that people would have to transpile `inferno` when they package too, which at the time was a fairly confusing thing for a bunch of people

[2017-10-30 10:18] dominikstoetter opened #1234 "inferno removes onClick attribute from href vnode"
**Observed Behaviour**

inferno removes a onClick attribute from a href vnode. The vnode has a onClick Attribute which is bound to `this.getsForgotten.bind(this)`. Initially, the vnode has the onClick Attribute which is bound to a function. After switching the TabMenuIndex (causing the first TabMenu content to not be rendered) the href vnode with `getsForgotten` it's onClick gets nulled. Even afte

[2017-11-01 06:11] anthony-redFox commented on #1136
Fixed in dev branch and can be closed.

[2017-11-01 06:11] anthony-redFox commented on #1146
Fixed in dev branch and can be closed.

[2017-11-01 11:56] scripter-co commented on #1188
@longlho are you happy for me to open a PR to address this? If so, would we want to replace `inferno:main` or just create an additional key for `module`.

[2017-11-02 14:15] iHateYourGlasses opened #1235 "inferno-mobx - multiple mobx instances active"
Hello there. After upgrading from inferno-mobx 3.7.1 to 3.10.1 i got error:

`Warning: there are multiple mobx instances active. This might lead to unexpected results. See https://github.com/mobxjs/mobx/issues/1082 for details.`

It's because npm install mobx twice: in project and inside inferno-mobx:
![image](https://user-images.githubusercontent.com/14814468/32330387-08fca8a8-bff1-11e7-962b-9a5a

[2017-11-02 16:42] longlho commented on #1188
ping @Havunen: we're ready to give this another try?

[2017-11-02 17:31] #1136 closed

[2017-11-06 12:28] #1146 closed

[2017-11-06 12:57] ilyaigpetrov commented on #1146
Thank you! In what version will the fix be published?

[2017-11-08 00:13] cannuk commented on #892
@eddyerburgh any chance we could see what you got?

[2017-11-08 06:23] eddyerburgh commented on #892
@cannuk I've been working on it as part of 10% at work and I'm waiting for legal to give the OK to make it public. As soon as It's public I'll post it here.

It's not functional at the moment, my early success with find and simulate were hacks that mean the rest of the enzyme methods didn't work.

[2017-11-08 17:01] jhsware commented on #1045
This was fixed with the merge of #1161

[2017-11-08 17:01] #1045 closed

[2017-11-09 16:47] jhsware opened #1236 "Inferno attempts to remove the same child twice when combining router and Mobx"
This is an isolated example of the behaviour:

https://github.com/jhsware/test-inferno-bug

To test the code:

[code]

In browser, go to http://localhost:8080/

Open the console and click the link, you will get:

`Uncaught DOMException: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.`

---

## Issue Template

**Observed Behaviour**

Inferno is attempt

[2017-11-09 18:16] codemeasandwich opened #1237 "server-side rendering instructions are incomplete"
Hi guys, I am trying to move a project from React to Inferno.

I was using [node-jsx](https://www.npmjs.com/package/node-jsx) to parce the Jsx in Node. How can I do this for Inferno?

Thanks for an help

[2017-11-10 08:35] nightwolfz commented on #1237
Add https://github.com/infernojs/babel-plugin-inferno to your `.babelrc` plugins and done.

[2017-11-10 10:11] codemeasandwich commented on #1237
Thanks for the reply.

I created a `.babelrc `
[code]
and ran

`webpack && babel-node lib/server.js`

but get

`Unexpected token` with `return <div>` with `<`

I have
[code]

**I have also tryed**

At the top of server.js
[code]
and ran
`nodemon lib/server.js`

but get

`SyntaxError: Unexpected token ...` with `<PageContent {...this.props} />`

So, I think I am getting further with `babel-register

[2017-11-10 11:28] eddyerburgh commented on #892
It's public 😀 — https://github.com/bbc/inferno-enzyme-adapter

I copied tests over from Enzyme. About half of them are passing. The toTree method has some bugs, which is what I'm working on now.

It's not usable right now, but I don't think we're too far off.

[2017-11-10 12:34] trueadm commented on #1237
You need to upgrade to Node 8 which has syntax support for object spread or use the Babel plugin to support it (https://babeljs.io/docs/plugins/transform-object-rest-spread/).

[2017-11-12 13:38] thepian commented on #1228
I really don't understand these rationalisations. Please explain to me why a state set in the constructor and never changed by the component should be mutated.

Why is it up to a base class to enforce behaviour that it doesn't rely on?
Why is an array not considered an object when it clearly is considered one by JavaScript

[2017-11-12 13:50] #1228 closed

[2017-11-13 10:03] jhsware opened #1238 "Add support for deferred removal of DOM-elements"
To perform animations on unmount one currently has to make a clone of the elements belonging to a component. This adds orphan DOM-nodes and requires the animation library to perform cleanup. I have used this technique in https://github.com/jhsware/inferno-animation

It would be great if one on `componentWillUnmount` could mark the component for deferred removal, perform the animation and then trig

[2017-11-14 10:16] codemeasandwich commented on #1237
I have upgraded to Node 9.0.0
but still get `Unexpected token` with `return <div>` :disappointed:

[2017-11-14 10:22] trueadm commented on #1237
@codemeasandwich You still need to enable the Inferno JSX babel transform to support JSX.

[2017-11-14 12:07] codemeasandwich commented on #1237
I get webpack building
by adding `babel-plugin-transform-object-rest-spread`

[code]

----

on the server

Running `babel-node server.js`
1) I got `ReferenceError: Unknown plugin "transform-runtime"`
at `babel-core/lib/transformation/file/options/option-manager.js:328`

then I installed `npm i babel-plugin-transform-runtime`

2) Then I got `Error: Couldn't find preset "env" relative to directory "

[2017-11-14 12:21] trueadm commented on #1237
@codemeasandwich With the `babel-preset-env` you won't need `es2015` anymore I believe. This seems like a Babel related query though – I've not seen this error before. You might be best asking on the Babel Slack or issue tracker if that doesn't help.

[2017-11-14 17:01] Havunen commented on #1238
There is easier way to accomplish this, Simply do setState before you are removing the element. Then use the state to mark element fe. class "removing" do animation using CSS and then after x amount of time do the actual removal.

[2017-11-14 17:30] thysultan commented on #1204
Thenables would cover more future ground as far as future interop between observables/promises are concerned. @Havunen DIO allows you to return a Promise/thenable from componentWillUnmount that defers unmounting of the DOM node to when the Promise is resolved.

[2017-11-14 18:34] trueadm commented on #1204
@thysultan Older versions of Inferno had something similar to this in regards to `Promise` support. The issue is that Promises can't resolve sync, and it lead to UIs breaking when used this way so I removed it. It also prevented the rest of the component tree from unmounting till the promise resolved as the events have to occur in the same order.

[2017-11-14 18:57] thysultan commented on #1204
@trueadm Promises resolving async is what you would want in this case. Paired with `Node.animate` and the `onfinnish` event would allow you to design declarative unmount animations around this.

[code]

The implementation details of this in DIO halt only the DOM nodes removal and not the execution of `componentWillUnmount` lifecycle events down the tree given that `componentWillUnmount` is not rel

[2017-11-14 19:01] trueadm commented on #1204
@thysultan That's the point though. Those heuristics are not right, `componentWillUnmount` is a sync event and making it async in React causes the world to blow up in many apps. If a child component does a `setState` of a parent further up the tree in its `componentWillUnmount`, then `componentWillUnmount` might get fired twice on child components. You have to tackle this properly at the root – pr

[2017-11-14 19:20] thysultan commented on #1204
@trueadm It is sync in the DIO's implementation, the only aspect that is async is the resulting native DOM nodes removal and that too is only when `componentWillUnmount` returns a Promise/thenable.

From the scope of the virtual representation the element in question has been removed, only the related call to the native Node.removeChild(...) has been deferred.

That is – returning a Promise does n

[2017-11-15 08:29] eddyerburgh commented on #892
I've released 0.1.0 on npm.

[code]

[2017-11-15 08:33] jhsware commented on #1238
@Havunen To use the setState approach you need to control the animation from the parent element. But with deferred removal the actual component could do all the work regardless of the parent. This makes for nicer application code because you don't need a wrapper. It would work both for CSS-animations and JS-animations.

[2017-11-16 05:26] ianseverance opened #1239 "Alternative to missing `inferno-snapshot` package?"
First off, thank you to all that helped build Inferno 🔥 🚀

When reading through the documentation (namely, [here](https://github.com/infernojs/create-inferno-app/blob/master/packages/inferno-scripts/template/README.md#pre-rendering-into-static-html-files)), `inferno-snapshot` was mentioned as the appropriate tool to generate HTML pages for static hosting, but it doesn't look like it exists anymore

[2017-11-17 02:17] iambumblehead commented on #1136
when will this be published?

[2017-11-17 05:28] anthony-redFox commented on #1136
The same question.
When? @Havunen

[2017-11-18 18:49] DemiMarie opened #1241 "Document inferno-compat performance"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/inferno.js).
- Check that the i

[2017-11-21 00:47] iambumblehead commented on #1136
@Havunen would you take a look at merging and publishing this for us?

[2017-11-22 18:22] Havunen commented on #1231
Closing as non-related to Inferno. We are trying to keep this repository mainly for development.

[2017-11-22 18:22] #1231 closed

[2017-11-22 18:25] Havunen commented on #1136
I will make v4 beta next weekend. This will be available then for testing.

[2017-11-22 18:26] Havunen commented on #1136
Internal vNodes / removing normalization process won't be part of v4 as its taking so long to get it working correctly.

[2017-11-22 23:57] iambumblehead commented on #1136
Inferno v4 software is one I've been anxiously looking forward to. @Havunen good you're still alive and kickin' :)

[2017-11-23 04:59] dehghani-mehdi commented on #1231
So, my question is related to aliens?

[2017-11-23 08:51] trueadm commented on #1231
I think @havunen was hinting that this discussion was best held in the Inferno Slack. In terms of these changes being pushed upstream to React, some of the optimization’s were adapted slightly for React 16. The thing is - Inferno and React 16 work very differently under the hood - so things aren’t always 1:1.

[2017-11-23 17:11] Havunen commented on #1234
Fixed in dev, will be available in v4

[2017-11-23 17:11] #1234 closed

[2017-11-23 18:51] Havunen commented on #1236
This is fixed in dev, will be available in v4

[2017-11-23 18:51] #1236 closed

[2017-11-23 18:55] Havunen commented on #1235
Fixed in dev, fix will be available in v4. Also new version of mobx integration will be there.

[2017-11-23 18:55] #1235 closed

[2017-11-23 19:06] Havunen commented on #1001
Seems like touch events were missing in synthetic event list... I added them there now... This is fixed in development and will be available in v4 (next weekend). From then on you don't need to use `ontouchstart` syntax, and its also preferred to use `onTouchStart` because then there will be only 1 listener bound to DOM.

[2017-11-23 19:06] #1001 closed

[2017-11-23 19:11] Havunen commented on #962
Shall we close this issue? Anyway v4 beta will start next weekend, then this could be tested

[2017-11-23 19:13] Havunen commented on #1239
There is no such package, the readme is mostly copied from that repository's upstream (React). You can use react-snapshot with inferno-compat or port it. Some packages also work out of box by just aliasing React.

[2017-11-23 19:16] Havunen commented on #892
@eddyerburgh Can you send PR to add that package to Inferno's Readme / websites (https://github.com/infernojs/inferno-website)? Lets close this issue :)
Good job!

[2017-11-23 19:16] #892 closed

[2017-11-23 19:32] Havunen commented on #958
Multiple cdn providers have all inferno repos libraries now. Closing.

[2017-11-23 19:32] #958 closed

[2017-11-23 19:37] Havunen commented on #1228
I can't remember exact reason why it creates new object. I need to revisit the setState flow to be able to answer it. But I agree with @thepian as array is also JS object it should work, regardless that it sounds strange.

[2017-11-24 15:02] eddyerburgh opened #1242 "Move className to props"
I'm making an enzyme-inferno-adapter, but I've hit some problems getting the last few tests to pass.

Enzyme requires the `className` to be inside `props`. This is fine normally, because we can convert the inferno VNode tree to an enzyme RST tree. But when you call the Enzmye `contains` function, enzyme compares the RST node to the newly created VNode. The RST node has `className` inside `props`,

[2017-11-25 07:40] Havunen commented on #1242
className was moved from props to vNode because its the most common property of any html element. It has quite big impact on performance also, because when className is at the root, We don't need to loop props in diff.

[2017-11-25 14:35] ilyaigpetrov commented on #1146
Sorry for bothering, was this fix published in 3.x.x or will it arrive in 4.x.x?

[2017-11-27 05:17] anthony-redFox commented on #1146
Only 4.

[2017-11-27 17:27] Havunen commented on #1146
You can test out v4 by using following command: `npm i --save-dev inferno@next`  If you find any issues please open Github ticket.

[2017-11-28 12:06] ilyaigpetrov opened #1244 "v4: `Inferno Error: cannot update state via setState() in` componentDidMount()"
## Issue Template

**Observed Behaviour**

Calling `this.setState` inside `componentDidMount` is impossible. Error is thrown:
[code]

**Expected Current Behaviour**

Calling `this.setState` inside `componentDidMount` should be possible.

**Inferno Metadata**

Linux / Chromium / "inferno": "^4.0.0-1"

# Main Code

[code]

https://github.com/ilyaigpetrov/bug-inferno-v4-did-mount

[2017-11-30 17:44] Havunen commented on #1244
Thanks for reporting this.

[2017-12-01 23:29] ze6ke opened #1245 "Can't call render twice without user interaction"
**Observed Behaviour**

Inferno-router doesn't render correctly if render is called twice without any user interaction in between.

**Expected Current Behaviour**

Inferno/inferno-router should render the page when render is called, even if it's called a second time.

**Inferno Metadata**

This example was tested on Chrome.  For the second call to render, this.state.url is undefined in inferno-rou

[2017-12-04 15:37] Havunen commented on #1244
This happens because you using inferno-component - 3, Inferno v4 includes Component in main package so you need to change  import {Component} from 'inferno'

[2017-12-04 15:37] #1244 closed

[2017-12-04 15:39] Havunen commented on #1245
Hi @ze6ke Have you tested with Inferno v4? `npm i --save-dev inferno@next` Inferno v4 has new router and matches React router v4.

[2017-12-04 18:50] LukeSheard commented on #1245
I don't think this is a bug, since you'll end up rendering the same content in the example that you gave `shouldComponentUpdate` / similar will be false and so render will never be called.

[2017-12-04 19:30] ze6ke commented on #1245
@Havunen, I tried it with this setup.  The error text was quite different, but the behavior wasn't

├─ history@4.7.2
├─ inferno-component@3.10.1
├─ inferno-create-element@3.10.1
├─ inferno-router@3.10.1
├─ inferno-shared@3.10.1
├─ inferno@4.0.0-1
├─ path-to-regexp-es6@0.0.2
├─ resolve-pathname@2.2.0
├─ value-equal@0.4.0
└─ warning@3.0.0

Here's the error that I got when it didn't render the second

[2017-12-04 19:34] Havunen commented on #1245
You can remove `inferno-component@3.10.1`. Inferno v4 has Component inside it. I think we need to do something to detect that situation before main release. Everybody tries to use it ;-)

[2017-12-04 19:36] Havunen commented on #1245
Just to clarify you need to do:
`npm i --save-dev inferno@next`
`npm i --save-dev inferno-router@next`
`npm i --save-dev inferno-whatever@next`

[2017-12-04 19:36] ze6ke commented on #1245
Hi @LukeSheard.

My test case was a simple as a I could make it to generate the behavior.  I did come across it in a, I believe, valid use case.  I was displaying a component that needed to retrieve data from the server.  I'm working with stateless components and a small number of closure.  So, I rendered the component, kicked off a fetch, and then called render again once the fetch returned.  I w

[2017-12-04 19:39] ze6ke commented on #1245
@Havunen, the command that I ran was this:
'''
yarn add inferno@next inferno-router
'''

I tried initially with
'''
yarn add inferno@next inferno-router@next
'''
But, I got a different error while rendering the first time (not the second), which seemed off topic.  I'd be happy to regenerate and collect that error if it was helpful.

[2017-12-04 19:51] Havunen commented on #1245
@ze6ke Can you create some repository to Github or some other way to reproduce the issue please. Lets fix it for v4

[2017-12-04 20:49] Havunen commented on #1245
@ze6ke thanks I will look into it tomorrow

[2017-12-05 16:02] Havunen commented on #1245
I get "C was rendered ...." message two times, but you need to fix the version of inferno packages. It seems like this is working as expected in v4 and forwards.

[code]

@ze6ke Shall we close the issue?

[2017-12-05 16:03] Havunen commented on #1245
I think we need to add peerDependencies to v3 so they depend on v3 and v4 will depend on v4, to avoid conflicts between packages

[2017-12-05 16:09] Havunen commented on #1242
@eddyerburgh Can you do this in enzyme compat to wrap the vNodes? you can use `inferno.options.createVNode` to accomplish this

[2017-12-05 16:13] Havunen commented on #1226
@mcjazzyfunky Are you still thinking this would be good feature? What we could do is that we detect iterables in create-element package, using for example following snippet: https://stackoverflow.com/questions/18884249/checking-whether-something-is-iterable

and then if its iterable we use `Array.from(children)` to transform it into array. What are your thoughts ?

[2017-12-05 16:19] Havunen commented on #1205
@sheweichun Can you please test this using v4 of inferno. `npm i --SE inferno@next` + `npm i --SE inferno-router@next`

Router has been rewritten and that might have fixed this issue too.

[2017-12-05 16:24] Havunen commented on #1223
@longlho We have been thinking of dropping all default exports, does it help with this?

[2017-12-05 20:24] ze6ke commented on #1245
Weird,  I got the same behavior as you with both libraries at 4.0.0, but I'm fairly confident that that's not what I got the first time.

None the less, the results are dependable and look correct to me.  Thanks for the help @Havunen.  I'm closing the issue.

z

[2017-12-05 20:24] #1245 closed

[2017-12-06 12:38] Havunen commented on #1228
@thepian I'm confused to me this seems to be working as you explained.
[code]
I Added test for that:
https://github.com/infernojs/inferno/commit/ab16c69b64a7257d3a27b5e5e7b6e8f32c6f918e#diff-2508dd41641fa140e6864cad0e152b8b

What am I doing wrong / didn't understand?

[2017-12-06 12:46] Havunen commented on #1241
Did you try out masking React with Inferno, that is the first step. Basic things will work out of box by using webpack/rollup alias to mask React. Inferno-compat brings support for the non-recommended features like string refs, findDOMNode and iterable support.

[2017-12-06 18:51] #1074 closed

[2017-12-07 15:30] Havunen commented on #1204
@thysultan How do you handle use case when domNode1 is going to be replaced by domNode2, do you then defer the replaceNode call? Or do you append the next one and then call remove for the node1 later?

[2017-12-07 15:39] thysultan commented on #1204
@Havunen Something like this, Instead of `replaceNode` i create domNode2 and `insertBefore` domNode1, then remove domNode1 when appropriate(sync/async).

[2017-12-07 15:51] Havunen commented on #1223
One option could be to separate inferno-compat from inferno monorepo and write hand-made exports... :/

[2017-12-07 16:37] Havunen commented on #1050
This seems to be bug in normalization process.

[2017-12-07 17:08] Havunen commented on #1050
React 16 is actually behaving same way: https://jsfiddle.net/ogaj4nao/

[2017-12-07 17:11] Havunen commented on #1050
One way would be that we create one global number and when normalizing we normalize each component with globally unique key. However that would eventually start creating large numbers I dont know how well that would scale.

[2017-12-07 17:12] Havunen commented on #1023
This should be fixed in v4. Please try out `npm i inferno@next` `npm i inferno-XXXX@next` note: Component now lives inside inferno package and inferno-component is deprecated

[2017-12-07 17:12] #1023 closed

[2017-12-07 18:27] Havunen commented on #1103
The problem here is that, there is callback inside component constructor. Now when that callback is called, higher order component will do new render cycle and during that cycle: the current component is null because it is not yet constructed :(

[2017-12-08 20:29] eddyerburgh commented on #1242
I've made a PR in enzyme to fix this —https://github.com/airbnb/enzyme/pull/1423

[2017-12-08 20:29] #1242 closed

[2017-12-12 04:33] iambumblehead commented on #1136
:(

[2017-12-12 17:24] Havunen commented on #1136
@iambumblehead Inferno v4 is available by using following command `npm i --SE inferno@next` use "next" tag for all packages. Also NOTE: inferno-component is now inside inferno main package and `inferno-component` is deprecated and can be removed

[2017-12-15 16:22] Havunen commented on #565
Normalization process have gone through multiple optimization cycles and performance is close to optimal. However the process is now changed so that we normalize only when needed instead of normalizing always. noNormalize parameter has been removed and no normalization will be performed unless told. `createElement` and `hyperscript` API's will still do normalization and babel plugin will intellige

[2017-12-15 16:22] #565 closed

[2017-12-15 16:34] Havunen commented on #962
@markymark I know this is late reply, but I updated CONTRIBUTING.md (https://github.com/infernojs/inferno/blob/dev/CONTRIBUTING.md#debugging) about how to debug inferno code.  The issue is that we need to modify ts-jest sources to be able to see non -compiled sources.

[2017-12-15 16:35] Havunen commented on #962
This should be fixed in inferno v4. You can try it out by using `npm run inferno@next` (next tag for all packages) NOTE: `inferno-component` is gone and Component must be imported now from `inferno`

[2017-12-15 16:35] #962 closed

[2017-12-15 16:35] Havunen commented on #962
If you still experience issue with this. please re-open

[2017-12-15 16:51] leeoniya commented on #565
so, is the `createVNode` api the only way to fulfill the promise of the benchmark results?

[2017-12-15 16:59] Havunen commented on #565
@leeoniya currently yes, createElement has reserved all extra parameters for restSpread children so it cannot be extended, for hyperscript API we could provide third parameter `noNormalize` which would stop it doing normalization for children. It could be used when user has taken care of nulls/keys at application level. Do you think that would be useful?

[2017-12-15 17:02] Havunen commented on #1017
Inferno supports iterables when `inferno-compat` package is used.

[2017-12-15 17:02] #1017 closed

[2017-12-15 17:04] leeoniya commented on #565
yes. no one can reasonably be expected to use `createVNode`, so the bench results are a pipe dream. adding it to hyperscript at least makes it palatable for DX. i'm considering adding the same to domvm's normalization passes [1].

[1] https://github.com/leeoniya/domvm/blob/3.x-dev/src/view/preProc.js

[2017-12-15 17:07] Havunen commented on #565
[code]
JSX users will get this benefit out of box. As we can do processing compile time.

[2017-12-15 17:22] Havunen commented on #565
I added noNormalize parameter to inferno-hyperscript API.

[2017-12-15 17:23] leeoniya commented on #565
ah ok. i misread the original comment. it would make sense to rewrite the benchmark impls in JSX then. using a non-standard apis to get the numbers has a certain smell to it :)

[2017-12-15 17:27] Havunen commented on #1085
This is cool feature request, but I don't know how it could be implemented.
Background:
linkEvent was added for performance reasons, its basically work around for creating function context. for example:
`fat arrow syntax`, `function () {}`, and `bind()`. All will create new function context. When you are building application you can work around those by doing bind in Class Components constructor s

[2017-12-15 18:33] Havunen commented on #565
Yeah, but I dont know is it "non-standard", it has been the Inferno way since 0.6? createVNode is lower level API to create virtual nodes while createElement and hyperscript are higher level API's.

[2017-12-15 18:50] leeoniya commented on #565
perf numbers are disingenuous if the way to achieve "Insane Performance" is to rewrite whole apps in a way that's neither "React Compatible" nor promoted by the docs.

i suppose everyone has their threshold for how much impl tweaking is acceptable before it becomes uncomfortably misleading. i think adding a hyperscript param is a great optimization escape hatch, since it just slightly tweaks the e

[2017-12-15 19:01] Havunen commented on #565
Yep, I fully agree with you. In the next major version (4) we are trying to bring these performance gains to normal applications to people who don't know and does not need to know any implementation details. Moving normalization detection to compilation process is one step forward that goal.

[2017-12-15 19:15] Havunen commented on #1116
Lets implement this feature now. There will be new vNode flag added `VNodeFlags.Ignore` and similar attribute/property to babel plugin (I will document this later). When that byte is set to 1. Inferno will ignore all changes to given vNode. (hydration/patching). The node will be mounted/added to DOM in normal flow but unmount will happen only when its parent is unmounting.

[2017-12-15 19:19] brodybits commented on #565
I would not agree 100%. I discovered <https://github.com/krausest/js-framework-benchmark> from <https://github.com/hyperapp/hyperapp/issues/13> and <https://github.com/picodom/picodom/issues/52> which is not API dependant. Would it make any sense to consider benchmarking and documenting createVNote as its own component? Or even consider reusing something like picodom?

[2017-12-15 19:30] leeoniya commented on #565
can you clarify what you mean by this?

[2017-12-15 19:51] brodybits commented on #565
[krausest / js-framework-benchmark](https://github.com/krausest/js-framework-benchmark) does benchmark measurements of a number of operations on each framework, regardless of API. From <https://github.com/krausest/js-framework-benchmark#about-the-benchmarks>:

<blockquote>
The following operations are benchmarked for each framework:

* create rows: Duration for creating 1000 rows after the page lo

[2017-12-15 19:55] mcjazzyfunky commented on #1226
@Havunen Thanks for your response. Please give me some more days for some additional checks and evaluation. To be continued (hopefully) soon...

[2017-12-15 19:55] Havunen commented on #565
@brodybits its already doing `noNormalize` so its calling `createVNode` behind the scenes
(https://github.com/krausest/js-framework-benchmark/blob/master/inferno-v3.10.1-keyed/src/controller.jsx#L41-L48), my change here is that everybody will get close to the same performance without source code changes. + Server side rendering gets 10 times faster

[2017-12-15 19:55] leeoniya commented on #565
if you look at either of the threads you linked, you'll see that i contribute regularly to this bench :)

the inferno impl there is good. it uses JSX w/noNormalize: https://github.com/krausest/js-framework-benchmark/blob/master/inferno-v3.10.1-keyed/src/controller.jsx

[2017-12-15 20:25] trueadm commented on #565
Great work @Havunen, this is a great enhancement!

[2017-12-15 20:43] Havunen commented on #1073
This will not happen for v4. Moving target forward.

[2017-12-15 20:46] Havunen commented on #1158
`<div $ReCreate/>` - JSX flag and `VNodeFlags.ReCreate` will be available in version 4. It can be used to re-create any component element in update. Closing.

[2017-12-15 20:46] #1158 closed

[2017-12-16 15:41] skicomdev opened #1247 "=== PLEASE DELETE === onChange not fired on input type radio when checked attribute specified."

[2017-12-16 15:42] #1247 closed

[2017-12-16 15:44] kurdin opened #1248 "onChange not fired on input type radio when checked attribute specified. (Fixed in v4)"
After upgrade to latest inferno 3.10.1 I have problem with radio type inputs in my project. if I have `checked` attribute then `onChange` not fired. `onClick` works fine.

[code]
onChange will never fired in above case.

https://jsfiddle.net/3sL9p0gw/

[2017-12-17 12:38] anthony-redFox commented on #1248
Did you try last release 4?

[2017-12-18 16:50] kurdin commented on #1248
@anthony-redFox I could not find inferno-component package 4.0.0-3 , 4.0.0-alpha1 did not work on jsfiddle

[2017-12-18 18:11] Havunen commented on #1248
@kurdin `Component` moved to `inferno` main package. Also not that you need to update `babel-plugin-inferno` to 4.0.0-11. All v4 packages are tagged with `next` -tag `npm i --SE inferno@next` or `npm i --SE babel-plugin-inferno@next`.

[2017-12-18 21:27] Havunen commented on #1248
@kurdin here is link to 4.0.0-2 for the very latest we need to re-compile browser babel plugin https://jsfiddle.net/bcs9e9hu/

[2017-12-18 21:38] #963 closed

[2017-12-18 21:40] Havunen commented on #1078
Inferno-compat adds 2-3kb on top of Inferno. Lets close this issue and document this better in Readme and websites.

[2017-12-18 21:40] #1078 closed

[2017-12-18 21:46] Havunen commented on #1049
I'm closing this as V4 is moving to testing only phase soon.

Status of topics discussed in this thread:

- normalization is improved a lot ( SSR and JSX )
- VNodeFlags.Replace is implemented and will ship in V4 @kurdin
-Root level arrays most likely will not make it to V4.
- We will introduce 'module' entry point again.

[2017-12-18 21:46] #1049 closed

[2017-12-18 21:48] Havunen commented on #501
This will come in v5

[2017-12-18 22:00] Havunen commented on #1200
@nightwolfz any plans to support V2 or shall we close this issue?

[2017-12-18 22:00] #1239 closed

[2017-12-18 22:02] Havunen commented on #1205
I'm quite sure this is fixed in v4. Closing.

[2017-12-18 22:02] #1205 closed

[2017-12-18 22:04] #1241 closed

[2017-12-18 22:10] Havunen commented on #1188
Yes lets add module entry point again for V4. @longlho lets close this issue.

[2017-12-18 22:10] #1188 closed

[2017-12-18 22:11] #1178 closed

[2017-12-18 22:12] Havunen commented on #1178
Closed due to inactivity, lets re-open If this needs to Be discussed further

[2017-12-18 22:13] #1184 closed

[2017-12-19 02:14] kurdin commented on #1248
@Havunen Thanks!
@anthony-redFox
Yes, `onChange` works as expected on 4.0.0-2
https://jsfiddle.net/bcs9e9hu/1/

is it safe to move on 4.x right now ?

[2017-12-19 04:33] iambumblehead commented on #1136
:|

[2017-12-19 12:58] LukeSheard commented on #686
Happy to take a PR for the JSX. I think we can easily integrate it into our existing build process for the type definitions.

[2017-12-21 13:58] scripter-co commented on #1188
@Havunen I can get a PR in for this, which branch should it go into?

[2017-12-21 17:08] Havunen commented on #1188
@scripter-co That would be great! `dev` branch please  :+1:

[2017-12-22 11:19] scripter-co commented on #1188
@Havunen https://github.com/infernojs/inferno/pull/1249

[2017-12-23 00:14] t47io opened #1250 "Question about `inferno-server` bundle build"
Hi, I really like `inferno` and the ease of use with `inferno-compat`!

I have one question about webpack build when using `inferno` and `inferno-compat`. I noticed that my vendor bundle included `readable-stream` and `buffer`, which weren't there when I was using `preact` + `preact-compat`. See below:

![screen shot 2017-12-22 at 1 57 51 pm](https://user-images.githubusercontent.com/4424215/34315

[2017-12-23 00:18] t47io commented on #1250
I feel the problem is when I have a component that does:
[code]
Somehow it's not tree-shaking the rest of `inferno-server`.

[2017-12-23 12:45] Havunen commented on #1250
I'm confused why you are bundling SSR to client? To me this sounds like webpack setup issue or something similar

[2017-12-24 20:10] jeremyong commented on #993
I have many many roots in a page for a fairly good reason (I am forced to fallback to raw javascript/DOM manipulation in a few cases for perf reasons). Can we reopen this? I recommend a map with a thin array sitting on top as a cache maybe?

[2017-12-25 03:25] t47io commented on #1250
Right, because of this: https://github.com/kodyl/react-document-meta/blob/v2.1.2/lib/index.js#L3. Can close now.

[2017-12-25 15:08] #1250 closed

[2017-12-25 15:12] Havunen commented on #993
@jeremyong Can you explain what is the issue? Having map or having an array? in v4 beta I changed roots to be a Map, in v3 (master - stable) its still an array. Are you referring to v3 or v4 here? In Google Chrome (v8) there seems to be close to no difference between Map / Array.

[2017-12-26 05:17] jeremyong commented on #993
I'm on v3 so I'll give v4 a spin thanks. The issue is that I have a page where it actually makes sense to have a bunch of roots that are dynamically created and removed as a result of user interaction. The contents rendered per root are relatively lightweight.

[2017-12-26 11:16] Citrullin opened #1251 "LinkEvent vs. bind(this) for forms."
I have a simple question. I'm currently implementing a form. I realized that the documentation uses two ways of doing it.
Binding this into the scope of the function => https://infernojs.org/docs/guides/forms
and
Use linkEvent => https://github.com/infernojs/inferno/blob/master/README.md#linkevent-package-inferno

What do you generally prefer for forms? Generally I use everytime linkEvent. It's so

[2017-12-26 16:49] Havunen commented on #1251
linkEvent works very well together with functional Components, where you cannot bind function context to `this`. However with ES6 classes I think this is matter of taste

[2017-12-26 16:53] russelgal opened #1252 "inferno-router: content of Link component is not rendered"
**Observed Behaviour**

Inferno is...
`<Link to="/topics">Topics</Link>`
resulting
`<a href="/topics" aria-current="false"></a>`
**Expected Current Behaviour**
`<Link to="/topics">Topics</Link>`
resulting
`<a href="/topics" aria-current="false"> Topics </a>`

**Inferno Metadata**
[code]

[2017-12-26 17:53] Havunen commented on #1252
@russelgal which version of babel plugin are you using?

[2017-12-26 17:58] Havunen commented on #1252
Its indeed bug, I will fix this and release new beta

[2017-12-26 18:15] Havunen commented on #1252
I just published 4.0.0-4 from dev. This is fixed there.

[2017-12-26 18:15] #1252 closed

[2017-12-27 14:18] Havunen commented on #1248
@kurdin I have done some testing now and `inferno/4.0.0-5` and `babel-plugin-inferno/4.0.0-17` will be last beta. Only thing that will be added anymore is more documentation, more development warnings and some deprecation warnings

[2017-12-27 14:23] #1248 closed

[2017-12-28 17:16] LukeSheard commented on #1251
Closing this since I think @Havunen answered this pretty nicely.

[2017-12-28 17:16] #1251 closed

[2018-01-04 08:13] AnonymousLover opened #1253 "React switches to Inferno"
React switches to Inferno. `className` attributes are compiled to generate both `class` and `classname` properties

[2018-01-04 09:30] LukeSheard commented on #1253
This is a pretty vague issue, can you give some more information as requested in the issue template? What version of Inferno are you using? Can you provide a reproduction? Otherwise this is extremely difficult to debug.

[2018-01-04 20:10] iambumblehead commented on #1136
I tried using inferno@next and am getting this error
[code]
I resolved it by aliasing 'inferno' to 'inferno/dist/inferno' at my build tool. A solution (if you think this this is a problem) may be to define a 'browser' property in the package.json, which defines a specific entry file for browser applications.
[code]

[2018-01-04 20:28] iambumblehead commented on #1136
@anthony-redFox checkboxes are working in @next and its awesome thank you!

[2018-01-04 23:10] iambumblehead commented on #1136
checking/unchecking the checkbox does result in an error for me,
[code]

An error with a stack message showing two calls,
[code]

[2018-01-05 02:31] iambumblehead commented on #1136
sorry to bomb this thread with messages but another issue when trying to use the newest sources with jasmine unit testing.
[code]
This would be resolved by checking for window using `typeof window === "object"`

[2018-01-05 08:24] iambumblehead commented on #1136
I tried wading through some of these issues. The main file specified in the inferno package.json breaks in node even if you correct the 'window' issue. Its necessary to specify a different main file and fix the 'window' issue inside that,
[code]
After that, inferno-server fails (I'm also using inferno-hyperscript)...
[code]

[2018-01-05 16:25] Havunen commented on #1136
@iambumblehead Thanks a lot for doing some testing. I have fixed many of the issues you reported above, I will do another beta release so you can check if it fixes all your issues :)

[2018-01-05 16:55] Havunen commented on #1136
@iambumblehead  I just published new packages for `next` inferno packages are `4.0.0-6` and babel plugin is `4.0.0-21` please check if that fixes the issues you seen :)

[2018-01-05 19:08] iambumblehead commented on #1136
@Havunen ok I need a moment to clean a few things up here... and I'll let you know how it goes

[2018-01-05 19:19] iambumblehead commented on #1136
I updated the version in my package.json
[code]
but I still get an error and I wonder if its related to something wrong with the package sent by npm.
[code]
[code]

[2018-01-05 19:29] Havunen commented on #1136
Can you use development build please, so we get better error message

[2018-01-05 19:32] iambumblehead commented on #1136
I'll try. I'm not too familiar with setting things up that way.

[2018-01-05 19:33] Havunen commented on #1136
`process.env.NODE_ENV` needs to be something else than "production" or maybe you are requiring minified inferno package, is it alias issue?

[2018-01-05 19:35] iambumblehead commented on #1136
[code]

[2018-01-05 19:38] Havunen commented on #1136
There seems to be invalid object `{"sel":"div.:.uiroot","data":{},"children":[]}` correct object shape is somethig like this:
[code]

[2018-01-05 19:39] Havunen commented on #1136
Can you check where that object is coming from?

[2018-01-05 19:42] iambumblehead commented on #1136
My apology --that was a vnode from a different library I was trying out. I'll make changes to use inferno-hyperscript and let you know the result.

[2018-01-05 19:47] iambumblehead commented on #1136
Ok --one small issue of note, CJS style users need to make this change, though perhaps only I need to make this change do to an unusual build tool I'm using.
[code]
Anyway, this is the error I'm seeing now after restoring inferno-hyperscript...
[code]

[2018-01-05 19:50] iambumblehead commented on #1136
I added this to my build tool...
[code]
and it seems to be fully operational again in the browser environment

[2018-01-05 19:50] Havunen commented on #1136
Yeah default exports will be removed in v4. Industry is moving that direction and we follow it too. so all imports/requires need to be named.

[2018-01-05 19:51] iambumblehead commented on #1136
Checkbox does not uncheck for me

[2018-01-05 19:53] Havunen commented on #1136
How are you rendering it ? Can you create steps to reproduce somewhere?

[2018-01-05 19:54] iambumblehead commented on #1136
One moment... I'll try to make a small example and copy/paste it here.

[2018-01-05 19:58] iambumblehead commented on #1136
[code]

[2018-01-05 20:02] Havunen commented on #1136
If you render checked: true, it will always be true: see https://jsfiddle.net/hLtfvoj3/

[2018-01-05 20:04] iambumblehead commented on #1136
How would it be unchecked if the initial value is `true`/"checked"?

[2018-01-05 20:06] Havunen commented on #1136
This is controlled example: https://jsfiddle.net/z4u103qz/

[2018-01-05 20:07] Havunen commented on #1136
Or if you only want to set initial value you can use `defaultChecked` like this: https://jsfiddle.net/ht76avv0/

[2018-01-05 20:12] iambumblehead commented on #1136
awesome that works well. I'm not using the react state/props system here... thank you very much finding/showing this to me. The only outstanding issue I have is the radio control and perhaps a recommendation to add a specific browser entry script to the package.json
[code]

[2018-01-05 20:15] iambumblehead commented on #1136
Using defaultChecked with the radio form control makes the radio options selectable, but selecting one radio option does not deselect the other options.

[2018-01-05 20:16] Havunen commented on #1203
I'm closing this as we are preparing to moving v4 and the documentation is rewritten there.

[2018-01-05 20:16] #1203 closed

[2018-01-05 20:21] Havunen commented on #1136
Do you have the radio buttons in same "name" group?

[2018-01-05 20:26] iambumblehead commented on #1136
I changed the name values to use the group name and all is well! everything works :)! thank you!

[2018-01-05 20:28] Havunen commented on #1136
Good to hear! :) Happy to help!

[2018-01-05 20:32] iambumblehead commented on #1136
Since I am not using state management aspects of inferno and am just diffing/publishing vnodes, I am curious to know...

How much of the inferno sources are dedicated to managing state vs diffing of vnodes?

How

[2018-01-05 20:36] Havunen commented on #1136
I'm not entirely sure... difficult question, because there are non-direct relations in code which could be removed if there would be no Components at all? Don't you use any components? I guess 3kb gzip could be removed? or something like that

[2018-01-05 20:49] Havunen commented on #1208
This is fixed in `dev` branch. Thanks for reporting the issue. Fix has handled in `inferno@4.0.0-6` + `babel-plugin-inferno@4.0.0-21` next tags for both. Or wait until v4 is released.

[2018-01-05 20:49] #1208 closed

[2018-01-05 21:20] iambumblehead commented on #1136
I'm developing a concept that manages state in an entirely different way. I'd like to share a small comparison of my brief experience with react and snabbdom compared to inferno with this app specifically.

The inferno interface is smaller than snabbdom's. snabbdom requires node attributes and properties to be added inside an additional namespace of 'props' or 'attrs'.

For example, instead of { h

[2018-01-05 21:29] Havunen commented on #1225
Sorry for being late on this issue, can you create steps to reproduce somewhere? ( Maybe separate repository where this error can be seen ). Also you could try if this error has been fixed in `next` version. `4.0.0-6`

[2018-01-06 09:04] mcjazzyfunky commented on #1226
@Havunen @trueadm  Frankly, I think adding that feature to the "create-element" packages will surely work, but for those who use "createVNode" without using "createElement" the problem will still exist.
I think the best would be to add it directly within the rendering process instead of enhanding "createElement" or "createVNode". Moreover a simple ````Array.from(children)```` will not do the compl

[2018-01-06 09:04] #1226 closed

[2018-01-06 09:17] Havunen commented on #1226
@mcjazzyfunky Okay fair enough. There is also disadvantage of adding support to rendering process, it would have direct hit in performance. Anyway good to hear your issue is resolved. Thanks for status report.

[2018-01-07 01:40] rjarmstrong commented on #501
@Havunen I see you've been doing some work on this recently - does it look like it may  be released soon?

[2018-01-07 07:28] Havunen commented on #501
Next big release will be v4, which does not include fragments. They were dropped out due to some bugs. Also fragments are in jsx plugin which is currently in beta. I think its better to wait babel / facebook to stabilize the feature and then we can implement it.

[2018-01-09 10:25] lesar commented on #1225
If I do not use the connect it work:
const AddTodo = AddTodoPreBind;

obviously the form is not connect ...  but is displayed
so the error is in my mapStateToProps, mapDispatchToProps functions or in the connect implementation I presume

I' am checking

[2018-01-11 11:11] lesar commented on #1225
I haven' t solve the mistake
so I have make the project more small and use only a functional component App
using a single div.
if I use a connect it raise the error if I do not use connect it print 'pippo' on the screen
I have clear  node_modules and make a small zip attached to this message.

I hope someone can help ...

regards,
Leonardo
[frontend.zip](https://github.com/infernojs/inferno/files/

[2018-01-11 16:39] Havunen commented on #1225
The thing is, because you are not using JSX. You need to create component virtual nodes to be able to render them. Either call hyperscript to create the Components, use JSX or call createComponentVNode (inferno v4)  or createVNode (inferno v3).

Another note: Do not re-create your hyperscript helpers in every file that will be expensive and causes copy paste code. Instead do this once
[code]

[cod

[2018-01-11 18:00] lesar commented on #1225
Thanks very much.
Meantime you write the answer I had try  to change `AppPrebind` into a full component extending inferno-component and it work well.

    class AppPrebind extends Component<any, any>
    ...
    const App = connect()(AppPrebind);
    ...
    class ProviderApp extends Provider {
       render(): any {
          return new App({store: store}).render();
        }
    }

So it is impo

[2018-01-13 21:01] Havunen commented on #1168
Yeah. Basically this is all about masking React with Inferno. To support legacy APIs like findDomNode or string refs then you will need inferno-compat.

[2018-01-13 21:01] #1168 closed

[2018-01-13 21:02] #1200 closed

[2018-01-13 21:19] Havunen commented on #1110
Just for the update:

Here is link to pending implementation:
https://github.com/aretheregods/hackerinferno

And PR to main repo:
https://github.com/tastejs/hacker-news-pwas/pull/121

It would be awesome If somebody could go through The implementation and add Inferno JSX flags to optimize runtime performance. Also updating Inferno to V4 would not hurt. :)

[2018-01-13 21:22] Havunen commented on #1190
FYI:
Server side rendering performance has been improved a lot in V4. See:
https://github.com/NervJS/nerv/issues/16

V4 is now considered stable and it will move to master in coming days.

If you want to try it out yourself install
`4.0.0-11` and If you are using JSX Babel-plugin-inferno `4.0.0-26`

[2018-01-13 21:39] Havunen commented on #1237
@codemeasandwich did you solve your issue? There are at least two ways to do this. Either you need to use babel-register to compile JSX files runtime or you can Make separate babel build and pre-compile the server side code.   While the first option might be easier to setup second one will provide better runtime performance.

[2018-01-14 09:29] Havunen opened #1255 "Implement module entry-point"
Current situation is following:
We cannot just add `module` entry point into package.json, because that is production bundle. So what happens is Webpack & Rollup prefers that entry-point over others. Which means developers will get production build of Inferno during their development workflow. One way to fix that would be including `process.env.NODE_ENV` checks into the bundle. But then users woul

[2018-01-14 17:22] aretheregods commented on #1110
@Havunen I'm on it.

[2018-01-15 19:06] mpal9000 commented on #1255
hello @Havunen, you can have:
- compiled unbundled code with es modules, in the dist/mjs directory -> `package.module: dist/mjs/index.js` (bundler - development - all packages)
- compiled unbundled code with cjs modules, in the dist/cjs directory -> `package.main: dist/cjs/index.js` (node/bundler - development - all packages)

- compiled bundled code with es modules, in dist/inferno.js -> `<script

[2018-01-16 10:24] lesar commented on #1225
the syntax `return new App({store: store}).render();` seems to work producing some output but it is not the right manner to use inferno/react: it is a my mistake.

I'm new to inferno/react and haven't understand that `new MyComponent()` do not do the job: it is not enough.

It is the framework that have to create a new node using my component, so  like Havunen suggest the right manner is

    //Na

[2018-01-17 11:12] xkam opened #1257 "ref callback is not triggered when used on child component"
Inferno 4.0.0-12, Chrome 63, Win 7.

Inferno does not trigger ref callback on child components.

[code]
The expected behavior is alert popup, which does not happen in Inferno 4.0.0-12, while it works as expected in Inferno 3.10.1 and React 16.2 (callback returns reference to the component instance).

The issue is related to child components only, i.e. ref callbacks on HTML elements work as expecte

[2018-01-17 11:50] Havunen commented on #1257
Thanks for reporting this issue. I will look into it tomorrow

[2018-01-17 13:34] Havunen commented on #1257
@xkam what version of babel plugin you are using?

[2018-01-17 16:32] xkam commented on #1257
was using babel-standalone 6.24.2, same behavior with 6.26.0

[2018-01-17 17:10] xkam commented on #1257
No inferno plugin - just `/** @jsx createElement */`

[2018-01-17 18:12] xkam commented on #1257
https://codepen.io/anon/pen/goBJBR

[2018-01-18 14:54] Havunen commented on #1257
This is bug in `createElement` api, I will fix it now.

[2018-01-18 20:03] Havunen commented on #1257
Fixed and released `4.0.0-13`. Thank you for helping out! :)

[2018-01-18 20:03] #1257 closed

[2018-01-18 20:13] xkam commented on #1257
Confirm fixed. Thanks!!!

[2018-01-19 20:51] Havunen commented on #1225
Good to hear you have solved your issue. Closing this. :)

[2018-01-19 20:51] #1225 closed

[2018-01-22 14:01] lesar commented on #1225
I'm writing an example to take advantage of the excellent advice.
who is interested can see it [here](https://github.com/lesar/hyperscriptTodoList)

[2018-01-24 02:35] vincentmrlau opened #1258 "inferno-router use Syntax 'get',which is not support in IE 8"
[code]

` get` is not support in IE8

[2018-01-24 08:57] Havunen commented on #1258
What version of Inferno are you using? Getter and setter seems to be Ecmascript 5 features, we provide our bundles in Ecma5 standard if you want to support IE8 you need to compile them to Ecmascript 3. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/get

[2018-01-24 16:03] Havunen commented on #1258
I will start adding sauce labs browser suite back into action to see how much code changes it would need to have IE8+ compatibility and at what cost. Just recently we discovered IE11 does not support `Array.prototype.fill` so that will be reverted back to for loop.

[2018-01-26 05:01] crazy4groovy opened #1259 "Add live sandbox example: fetch + loading + router + redux"
Hi, I thought of something to add to the README https://github.com/infernojs/inferno#more-examples

A codesandbox starter project that I just put together with `fetch + loading + router + redux`:

https://codesandbox.io/s/8z4p6p0mkj

Deploys easily to https://zeit.co/now from there, too

You might want to clone it to your own CSB account, just for safety -- doesn't really matter to me.

Cheers

[2018-01-26 13:00] fopsdev opened #1260 "_lastChild always null"
just found a possible issue in v4 (installed next branch).
i found that when testing inferno components there was a `_lastChild` property.
now with v4 this property is always null.
if this doesn't ring a bell already i need to further dig in next week.

[2018-01-26 14:45] Havunen commented on #1260
Hi, _lastChild is now available as `component.$LI`

[2018-01-26 14:45] Havunen commented on #1260
Keep in mind that property might change in future when we implement fragments

[2018-01-26 22:32] kurdin commented on #1237
@codemeasandwich
Look at `Express View Engine for inferno JSX` https://github.com/kurdin/express-engine-inferno-jsx it can render inferno jsx component on server (with JSX layouts) and bootstrap same componet
on the client if necessary. Works very well and fast. You can build inferno's universal app with this view engine.

Full SRR and universal app demo is here:
https://github.com/kurdin/express-

[2018-01-27 01:13] crazy4groovy commented on #1259
Note a soon-to-be-released alias feature to support Inferno.js better:

https://github.com/CompuIves/codesandbox-client/issues/467

[2018-01-27 16:56] kurdin commented on #1190
There is not need for special cache in component with my experience with inferno SSR, on production just create component on first run and cache it to local var object, on next just reuse it with new props and that's it. Works super fast. Here is example from inferno jsx express engine view code:

[code]

[2018-01-27 17:14] kurdin commented on #1190
There is not need for special cache on component in my experience with inferno SSR. For production just cache component on first run to local var object, on next just reuse it with new props and that's it. Works super fast under heavy load then I tested. Key for cache can be passed with props object or use path to component.

Here is example from inferno jsx express engine view code:

[code]

[2018-01-27 17:56] kurdin opened #1262 "SSR Hydration numbers rendered on server render again as string on client"
When render component on server and bootstrap same component on client, all numbers in data will be retouched by client's render because in HTML they presented as a strings.

Example:
[code]

in results on Hydration dom is retouched for all numbers

![ssr-render-digits2string](https://user-images.githubusercontent.com/6027060/35474814-850c6a1a-0361-11e8-8497-8551ea7b27fc.gif)

Not use if this is a

[2018-01-27 19:47] kurdin commented on #1262
I just updated to inferno 4.X and this is not a problem anymore.  Good job!

[2018-01-27 19:47] #1262 closed

[2018-01-28 13:05] #1260 closed

[2018-01-29 01:58] vincentmrlau commented on #1258
thanks for your help firstly.
`"inferno": "^3.10.1"`
yes, getter and setter is ES5 features,and do not support by IE8.
I means,we might fix it by changing the way we access the attribute `location` and `url`.
It will no cost a lot but have IE8+ compatibility as inferno dose.

[2018-01-29 15:18] Havunen commented on #1258
Yeah true, I was thinking the same yesterday. I started changing other functionality too to get wider browser support. I need to do performance testing for that.

[2018-01-29 19:50] roastlechon opened #1263 "onChange not firing like onInput for text inputs using inferno-compat"
## Issue Template

**Observed Behaviour**

Inferno v4 (inferno-compat) is not firing onChange for input type text, like onInput would.

https://jsfiddle.net/roastlechon/w9957cco/6/

**Expected Current Behaviour**

Should behave like React when using inferno-compat

**Inferno Metadata**

macOS / Windowx / Linux
Safari / Chrome / Firefox / ...

[2018-01-29 20:12] kurdin commented on #1263
@roastlechon use `onInput` instead of `onChange`

https://jsfiddle.net/us9bgdj2/

[2018-01-29 20:17] kurdin opened #1264 "inferno-component ver. 4.x to inferno.component reference"
To make it easy to upgrade many 3.x packages to new inferno version can you please release new `inferno-component` 4.x npm package with link to 4.x `inferno.component`

[2018-01-29 20:19] Havunen commented on #1264
Yeah, this is good idea!

[2018-01-29 20:40] Havunen commented on #1264
I added it there, it will be available in beta `4.0.0-17`, but I need to do some performance testing before that release.

[2018-01-29 20:40] #1264 closed

[2018-01-29 20:52] roastlechon commented on #1263
Related to React's usage of onChange...

https://github.com/facebook/react/issues/3964

Could we trigger onChange as well? @Havunen

[2018-01-30 05:56] anthony-redFox commented on #1263
@roastlechon Use defaultValue insert of value in input element.

[2018-01-30 15:52] roastlechon commented on #1263
@anthony-redFox thanks for catching that. i updated the [jsfiddle](https://jsfiddle.net/roastlechon/w9957cco/4/)

[2018-01-30 16:15] kurdin commented on #1263
@roastlechon in your code, `onChange` event fires as expected, when focus is out of input field. Look into your console, on other hands `onChange` method of `Test` class will never be executed because it's not used anywhere in your code.

[2018-01-30 16:27] roastlechon commented on #1263
@kurden understood. I was making a point that `onChange` does not behave the same as `onInput`. React uses `onChange` the same as `onInput`. I was only assigning onChange and onClick to console log to show what it is.

[2018-01-30 18:07] kurdin commented on #1263
@roastlechon it was always like this for all inferno's versions. It is not a breaking changes in 4.x

Same, you can read here: https://infernojs.org/docs/guides/event-handling
I believe the reason is this `the native DOM event is oninput` that's it why inferno has onInput. Again `onChange` event on `input` has its own meaning why would you need to override it? I think it make sense to use `onInput

[2018-01-30 18:28] roastlechon commented on #1263
@kurdin I double checked our source code and to correct myself, the version that had onChange working like `onInput` is 3.9.x

I was looking for a jsfiddle with a 3.9.x version but only could find 3.10.x to test.

Do you have any explanation for why it would have worked in 3.9.x vs 3.10.x?

I will have to let my colleagues know that this is a breaking change going forward for any newer version of

[2018-01-30 18:50] roastlechon opened #1265 "Text vNode children not apart of props (inferno-compat)"
Carrying on this conversation from the #general slack channel. The library in question is `react-helmet`.

React helmet is used like:

[code]

When react-helmet is working with the children vNodes, the style vNode loses its contents for `body { background-color: 'black'; }` when react-helmet places it in the head, thus react-helmet not working correctly.

Further digging in react-helmet source cod

[2018-01-30 18:51] roastlechon commented on #1265
![screenshot 2018-01-26 17 35 58](https://user-images.githubusercontent.com/1642212/35584960-91cbb1c4-05c4-11e8-82b8-7baf42e5d331.png)

Screenshot of debugging where the text vNode is (see that it is not under props, where `react-helmet` expects it)

[2018-01-30 18:53] roastlechon commented on #1265
I also tested the theory if putting a prop named children on `style` works, and it does.

[code]

Note that the above is not best practice, so I hope for a solution that does not make me have to do that.

[2018-01-30 18:58] kurdin commented on #1263
@roastlechon
Nope, it works the same in v3.9, `onChange` fires on input focus out.
https://jsfiddle.net/ut5s4aof/1/

[2018-01-30 19:05] roastlechon commented on #1263
That's weird. Does `inferno-compat` do anything different to the behavior of it? Because I can verify in production code that onChange fires on each input lol.

[2018-01-30 19:41] Havunen commented on #1263
Yeah inferno-compat will transform `onChange` to `onInput` behind the scenes. See https://github.com/infernojs/inferno/blob/master/packages/inferno-compat/src/index.ts#L166-L182

[2018-01-30 19:44] roastlechon commented on #1263
So I guess now my issue is that it is not working correctly with `inferno-compat`. I will update the title.

[2018-01-30 19:48] roastlechon commented on #1263
Added https://unpkg.com/inferno-compat@4.0.0-16/dist/inferno-compat.min.js to the fiddle

[2018-01-30 20:38] kurdin commented on #1190
if anyone want to test inferno4 SSR and universal app take a look at example I made:

https://github.com/kurdin/express-jsx-engine-universal-inferno-app-example/tree/inferno4

Everything is super fast. Great job @Havunen on v4 release, new inferno-router is amazing.

[2018-01-31 01:37] vincentmrlau opened #1266 "will the next next version coming with any mechanism of error processing"
https://reactjs.org/docs/error-boundaries.html
like this, same as ReactV16

[2018-01-31 13:40] fopsdev opened #1267 "return NO_OP not working in next?"
i'm trying out the NO_OP functionality following the documentation
[code]
produces a $NO_OP rendered whereas (as i understand it) it should be ignored

[2018-01-31 14:11] fopsdev opened #1268 "how to use new defaultHooks in next"
[code]
the comp still updates... i was expecting that it doesn't update because i'm returning false in the onComponentShouldUpdate. maybe wrong usage here but would be nice to know what those hooks are good for :)

[2018-01-31 15:23] Havunen commented on #1268
This sounds like bug: Did you remember to update babel plugin? If so please create jsFiddle to reproduce the issue.

[2018-01-31 15:25] Havunen commented on #1266
Its not implemented atm. We could do it for v5

[2018-01-31 15:26] Havunen commented on #1267
This should work, maybe something wrong in the packages?

[2018-02-01 15:02] fopsdev commented on #1267
got it reproduced in jsfiddle:
https://jsfiddle.net/h294bvfd/1/

[2018-02-01 17:41] Havunen commented on #1267
It is working as expected see this fiddle:
https://jsfiddle.net/yu3f0s9s/

In your fiddle you return NO_OP in initial render, so it tries to render that string. It was never thought to be used for blocking mounting

[2018-02-01 18:06] fopsdev commented on #1267
i see, makes sense.

[2018-02-01 18:06] #1267 closed

[2018-02-01 19:45] Havunen commented on #1258
I did not find any `getters` or `setters` from inferno v4 sources. So I think this issue can be closed. I also updated our browser support policy. So you dont need to polyfill anything for these browsers:
https://github.com/infernojs/inferno#browser-support

We are not running all tests without polyfills, Map, Set, etc. they are removed.

[2018-02-01 19:45] #1258 closed

[2018-02-02 14:20] fopsdev opened #1269 "changed d"

[2018-02-02 14:24] fopsdev commented on #1269
hi there
i have a somewhat very basic question. (i'm using stateless components)
how does infernojs know which parts of the dom should be updated?
Is it because:
- inferno just renders everything to vdom and compares new vdom with last vdom?
- inferno compares submitted props (props checking) and if they change some magic happens?

i'm asking this because i'm currently transfer some functions thro

[2018-02-02 15:52] Havunen commented on #1269
@fopsdev Inferno compares previous `vNode` to next `vNode`, props are compared only when you render html elements, passing props to Components does not have any extra overhead.

[2018-02-02 16:01] fopsdev commented on #1269
thanks a lot for clearing that up!
so i should compare my props myself inside ```onComponentShouldUpdate``` to help infernojs a bit to decide if component should be updated?

[2018-02-02 16:17] Havunen commented on #1269
Yeah you can do that. basic `prevProps !== nextProps` check is done at framework level. If there is no state change either.

[2018-02-02 16:43] fopsdev commented on #1269
just to be 100% sure: can you link me the code where this check is done (still a bit shaky in js, so help is appreciated)

[2018-02-02 16:57] Havunen commented on #1269
This is for elements: https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/patching.ts#L73-L99

This is for Class Components:
https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/patching.ts#L230

Looks like Functional Components does not have that check... interesting, I can look into if adding that breaks any tests

[2018-02-02 17:46] Havunen commented on #1263
This was indeed bug when inferno JSX plugin was used together with inferno-compat, I have fixed this I just need to write test cases now. I will patch this today / tomorrow.

[2018-02-02 18:25] roastlechon commented on #1263
Thanks for troubleshooting! Can't wait for a fix

[2018-02-03 15:41] Havunen commented on #891
This is fixed in v4.

[2018-02-03 15:41] #891 closed

[2018-02-03 15:43] Havunen commented on #1268
onComponentShouldUpdate will not trigger on initial mount.

[2018-02-03 15:43] #1268 closed

[2018-02-03 15:44] Havunen commented on #1263
This will be fixed in 4.0.0-18

[2018-02-03 15:44] #1263 closed

[2018-02-03 16:03] Havunen commented on #1265
This will be fixed in `4.0.0-1`. I need to do performance review before publishing it.

[2018-02-03 16:03] #1265 closed

[2018-02-03 16:05] Havunen commented on #1253
This needs more information, please re-open with more details if it ever becomes an issue.

[2018-02-03 16:05] #1253 closed

[2018-02-03 19:43] xkxx opened #1270 "Support ReactDom.hydrate in inferno-compat"
Hello awesome inferno maintainers!

It would be great to support [hydrate](https://reactjs.org/docs/react-dom.html#hydrate) in `inferno-compat`, for maintaining React 16 compatibility.

I encountered this issue when I was researching using Inferno with next.js, as their latest version uses React 16 functionalities (https://github.com/zeit/next.js/issues/3264). This was brought up briefly in #1239.

[2018-02-03 20:12] Havunen commented on #1270
Ok, this is simple thing. It seems like React17 is deprecating hydration by `render` https://reactjs.org/docs/react-dom.html#hydrate

We can do the same in v5. I will rename and add `hydrate` to Inferno core.

[2018-02-03 20:17] Havunen commented on #1270
I will rename `hydrateRoot` to `hydrate` so its same as React. and add it to `inferno-compat` and `inferno` packages.

[2018-02-03 21:15] Havunen commented on #1270
I just published new version of next `4.0.0-18` hydrate is available there.

[2018-02-03 21:15] #1270 closed

[2018-02-03 22:09] xkxx commented on #1270
Wow cool, thanks for the super quick response and fix!

I guess I could contribute by updating the docs :) I'll start on that shortly.

[2018-02-06 09:18] fopsdev commented on #1269
somehow i like the idea that for functional components this needs to be done manually and no magic happens somewhere. but thats maybe just me.
one thing that bugs me though is that if i have a render tree like:
[code]
A and B are depending on a global store.
Now if  i return false in the functional lifecycle  componentShouldUpdate in Component A, Component B doesn't even get checked if there are c

[2018-02-06 11:52] alebedev opened #1273 "In Firefox, onClick is triggered by middle and right mouse buttons"
**Observed Behaviour**

Inferno is firing `onClick` handlers in Firefox when user presses middle or right mouse button on element.

See original Firefox bug https://bugzilla.mozilla.org/show_bug.cgi?id=184051

Since it's 15 years old, Inferno probably needs workaround.

**Expected Current Behaviour**

Inferno should not dispatch onClick events in Firefox when `event.button !== 0`

**Inferno Metada

[2018-02-06 20:26] Havunen commented on #1273
But If we stop those events how does one implement right click event listener?

[2018-02-07 18:58] kurdin opened #1274 "Creating Component vNodes using createVNode is not allowed (inferno4)"
I am trying to convert my inferno v3 component to v4 and I have problem with this error:

What is guideline for replacing `createVNode` with `createComponentVNode` in inferno 4 ?
Should I use `createComponentVNode` only if type is `Component` and `createVNode` for everything else? if so, why this code throw Error? `createVNode(2, 'div', props);` type 2 is HTMLElement.

![image](https://user-images

[2018-02-07 19:00] Havunen commented on #1274
Yep you are right, except type 1 is html element :)

https://github.com/infernojs/inferno/blob/master/packages/inferno-vnode-flags/src/index.ts#L4

Maybe you forgot to update package?

[2018-02-07 20:05] kurdin commented on #1274
@Havunen no, I want to reuse `inferno-transition-group` package but looks like it was not correctly updated to use with  v4, so I created local copy to play with it.

What would be the right way to update this code to work with 4?

`return createVNode(typeof component === 'string' ? 2 : 16, component, props && props.className, childrenToRender, props);`

https://github.com/infernojs/inferno-transi

[2018-02-07 21:18] Havunen commented on #1274
Yeah, looks like it old. Let me update it quickly. Maybe somebody else is having same issue

[2018-02-07 21:53] fenduru opened #1275 "Inferno always uses `patchKeyedChildren` (4.0.0-19)"
## Issue Template

**Observed Behaviour**

Inferno is always using the patchKeyedChildren algorithm even when the node is flagged as having nonKeyedChildren.

This seems to be due to:

https://github.com/infernojs/inferno/blob/d2469e34dcc2f1d1f9edcfe0190ca202c65d3b34/packages/inferno/src/DOM/patching.ts#L188

which will return true as long as the childFlags for next/lastVnode are the same. I belie

[2018-02-07 22:09] Havunen commented on #1274
There is now 3.0.1 (next) for inferno-transition-group, It should work.

[2018-02-07 22:15] Havunen commented on #1275
Yeah this is bug. Lets hotfix it. interesting that no tests fail.

[2018-02-07 22:20] Havunen commented on #1275
Need to write a test case that catches this issue.

[2018-02-07 22:32] Havunen commented on #1275
Thank you for reporting this. I added test case for regression and fix for it. I will release new version right away

[2018-02-07 22:37] Havunen commented on #1275
Okay. `4.0.0-20` published :)

[2018-02-07 22:37] #1275 closed

[2018-02-07 22:38] Havunen commented on #1274
Please re-open if there is still issue.

[2018-02-07 22:40] kurdin commented on #1274
@Havunen wow, so many changes )) Thank you for doing this. I could not figure this out on my own.
What the difference between `cloneVNode` and `directClone` ?

Another question that make v3 components harder to cover to v4 is what code/technique should we use instead `var node = Inferno.findDOMNode(this);` this is quite common in some React components.

[2018-02-07 22:45] Havunen commented on #1274
You can check our inferno-compat implementation for that, its pretty good (fast and small)

[2018-02-08 01:06] kurdin commented on #1274
@Havunen
After your update, first render of items is fine but then on adding new item to group I have error in `performEnter` method:

[code]

`let component = this.refs[key];` this new `key` item could not be found in
`this.refs` it's not updated with new item's `key`.

https://github.com/infernojs/inferno-transition-group/blob/next/src/TransitionGroup.js#L101

Look like this method not executed

[2018-02-08 03:56] vincentmrlau commented on #1258
@Havunen I found it in `Inferno-Router`

[2018-02-08 06:22] Havunen commented on #1258
@vincentmrlu Router was gone through rewrite in v4, I think those were also removed

[2018-02-08 14:03] kurdin commented on #1274
@Havunen looks like the problem in not in `TransitionGroup` but in inferno 4. When I have list and I add new item at the beginning of the lists, Inferno4 executes `mountClassComponentCallbacks` with `vNode` that last in the list (and was already there). Pushing element at the end works fine with  `TransitionGroup`.

[2018-02-08 15:48] Havunen commented on #1274
Ok, lets re-open this. I will look into this at some point. I'm busy atm.

[2018-02-08 16:25] Havunen commented on #1274
@kurdin If you got time, could you try to provide test case to `inferno-transition-group` repo?

[2018-02-08 16:46] kurdin commented on #1274
@Havunen  ok, will do

[2018-02-08 20:49] kurdin commented on #1274
@Havunen I rewrite tests to reflect my situation and everything works as expected. No errors. So this must be a problem with my parent component `InfernoCSSTransitionGroupChild` that I moving to inferno4. I think you can close this issue, 'inferno-transition-group' works as expected.

[2018-02-08 20:54] Havunen commented on #1274
Ok, sure. If you still run into an issue please open new ticket :)

[2018-02-08 20:54] #1274 closed

[2018-02-11 16:57] kurdin opened #1277 "inferno4 <input> value problem, can not type anything"
in **Inferno4** (4.0.1) when creating `input` element with `value={'something'}` you can not type anything else in that field. After replacing `value` to `defaultValue` it works.

[code]
is it a bug or for inferno4 must change everywhere `value` attribute to `defaultValue` ?

[2018-02-11 17:10] Havunen commented on #1277
That is working as expected. If you specify a value then the element will become controlled form element. This way the value you have in Javascript will always reflect to DOM. If you want to prefill the input with some value then, yes `defaultValue` is correct replacement.

[2018-02-11 17:42] kurdin commented on #1277
@Havunen ok, this is breaking change so we need to be aware of this when moving code to inferno4. I will add this to my **inferno3 to inferno4 quick migration guide**.
P.S can I post quick migration guide here in issues ? I think that will be useful for many people who will migrate to inferno 4.

[2018-02-11 18:02] Havunen commented on #1277
Yeah send PR here:
https://github.com/infernojs/inferno/blob/master/docs/v4-migration.md

[2018-02-11 20:55] kurdin commented on #1277
@Havunen still defaultValue has problems, you can not reset input to default value for example, if input has been changed manualy. $ReCreate attribute can help but input will lose its focus.

https://jsfiddle.net/eoqLuv9d/

[2018-02-11 21:10] kurdin commented on #1277
looks like React has same problem: https://www.webpackbin.com/bins/-L55f4c1l4x1qr--4LYL
Strange.
In my case I use function component with input, I pass value from parent and using `<input value={props.value}>` not working anymore in inferno4 but when I use `<input defaultValue={props.value}>` I can type in input and value goes to parent component but if I click reset to default button input's valu

[2018-02-11 21:13] Havunen commented on #1277
You need to use onInput callback and then use value property to set the value to input. When you call The callback to parent component make sure you do setState or new render or typed value will not change

[2018-02-11 21:46] kurdin commented on #1277
@Havunen this is exactly what I do. Not sure what it's not working. I use mobx to manage app state and I can see it rerenders component but nothing changed. Same code works fine with inferno 3.10.x.  Investigating.

[2018-02-12 06:27] Havunen commented on #1277
If you want to debounce it because of ajax calls or something similar, you can still debounce but just render the value without debouncing

[2018-02-12 18:17] kurdin commented on #1273
@Havunen,
Looks like @alebedev has a point with this. React 16 does not trigger right onClick event but Inferno 4 does in FireFox.

Check in FireFox and Chrome:
React:  https://jsfiddle.net/hfLnvgtt/
Inferno: https://jsfiddle.net/kbq2pL70/

For actual right click events/menus you need to use `document.addEventListener('contextmenu', this._handleContextMenu);` on `componentDidMount`:
Here is exampl

[2018-02-12 18:24] kurdin commented on #1277
@Havunen yes, this is exactly what I need to do.

Again, if someone has this issues with not controlled input, looks like it's always better to use controlled input and update value on each keypress with rerender.

[2018-02-12 20:14] Havunen commented on #1273
Okay I see now, We can fix it for next minor version :)

[2018-02-13 16:28] ematipico opened #1278 "Docs page are broken"
Just navigated to the website -> docs and I noticed that most of the links show all the same.
Is it intended because there's a new version coming out?

![image](https://user-images.githubusercontent.com/602478/36161140-d658ba28-10da-11e8-855c-c1304887faf5.png)

[2018-02-13 16:29] ematipico commented on #1278
Works fine now

[2018-02-13 16:29] #1278 closed

[2018-02-13 18:47] Havunen commented on #1278
Yeah that happens when Inferno v3 client side code comes from service worker cache.

[2018-02-13 20:09] Havunen commented on #1273
It is now tested / fixed, and will be available in next release. 4.0.3

[2018-02-13 20:09] #1273 closed

[2018-02-14 09:09] ematipico commented on #1278
Thanks for your feedback!

[2018-02-16 19:28] samsch opened #1279 "Upgrade to v4: `TypeError: Object(...) is not a function` for JSX"
**Observed Behaviour**

Inferno is... not working? I know that's the worst possible description. I was attempting to upgrade an Inferno v3 project to v4, and was unable to get it working after several hours. It appears that some of the imports which are generated by the inferno babel plugin are getting undefined values instead of functions (`TypeError: Object(...) is not a function` for `<p>Hello,

[2018-02-16 22:11] kurdin commented on #1279
@samsch There is something wrong with your webpack setup/config, imports not working correctly for some reason.

Try to replace your all your code in src/main.js with

[code]
and you will see strange output in browser console:
[code]

importing `inferno` not working properly in your setup but  `lodash` import does work fine

[2018-02-17 07:45] Havunen commented on #1279
The file-loader in your webpack.config is changing inferno imports to point static/media/[name].[hash:8].[ext]. Need to investigate more why this happens

[2018-02-17 07:49] Havunen commented on #1279
Ah of course. Because inferno es6 modules use `.mjs` (https://nodejs.org/api/esm.html) file extension. You need to exclude those from in the config! @samsch
Add this line into your file-loader exclude list:

[code]

And you don't need to import functions which your own code does not use. So for example this is enough:

`import { render as infernoRender } from 'inferno';`

[2018-02-17 07:50] #1279 closed

[2018-02-17 10:20] sxwebdev opened #1280 "Upgrade to v4: TypeError: (0 , _infernoMobx.connect) is not a function"
Hello. After migrating to v4 I got TypeError: (0 , _infernoMobx.connect) is not a function

![image](https://user-images.githubusercontent.com/3129246/36340113-93544d00-13e6-11e8-99a8-7f3c2dddd5a2.png)

![image](https://user-images.githubusercontent.com/3129246/36340074-39e3c4b8-13e5-11e8-9513-f78a74c59233.png)

![image](https://user-images.githubusercontent.com/3129246/36340089-afebbce2-13e5-11e8

[2018-02-17 10:58] Havunen opened #1281 "POLL: What feature would you like to see implemented next?"
POLL link:
https://strawpoll.com/gcafxc21

1. Component root level arrays ( JSX fragments )
https://reactjs.org/docs/fragments.html
or returning arrays from component render.
2. React like hot module reload (webpack)
https://github.com/gaearon/react-hot-loader
http://gaearon.github.io/react-hot-loader/
3. Native devtools for inferno
It would fix https://github.com/infernojs/inferno/issues/677
It c

[2018-02-17 11:16] Havunen commented on #1280
maybe you need to disable module transformation? Can you debug the code without sourcemaps to see what is `(0 , _infernoMobx.` object in this case.

[2018-02-17 11:52] sxwebdev commented on #1280
Thanks. This helped me!

[2018-02-17 11:52] #1280 closed

[2018-02-17 17:54] samsch commented on #1279
I really should have noticed that. Yep, that's the problem.

[2018-02-18 03:34] samsch commented on #1090
I think this is at least a related issue, if not the same, but in the 3.10.1 release, a text input with a value prop can still be changed, as if it was uncontrolled. It seems to be fixed in 4.0.3.

Since that's not how it is (and was in v3) supposed to work (judging by current event-handing doc and previous version of the page), I'd normally just consider this a bug in an older version and not imp

[2018-02-20 16:47] queses opened #1283 "isDefaultPrevented is not defined"
## Issue Template

**Observed Behaviour**

Inferno is not working properly with the certain type of React plugins. More specifically, I'm talking about the input-plugins which uses [isDefaultPrevented](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/070eb128b86954afae4f896dc0923c85c15c586a/types/react/index.d.ts#L448) method of the React's `SyntheticEvent`.

Here is the example behavior of

[2018-02-20 19:36] Havunen commented on #1283
We could probably add that to inferno-compat native javascript equilevant is https://developer.mozilla.org/en-US/docs/Web/API/Event/defaultPrevented

@queses you could probably just extent Event.prototype to get that proxy there

[2018-02-21 06:10] queses commented on #1283
Yup, it's working now with this "polyfill":
[code]
However, I would be appreciate it if you could add this method in `inferno-compat` package to get it work out of the box :)

[2018-02-21 10:04] Havunen commented on #1283
Yep, Do you want to send PR?
We already have `persist` method there:

https://github.com/infernojs/inferno/blob/master/packages/inferno-compat/src/index.ts#L182-L185

[2018-02-21 17:09] #1255 closed

[2018-02-22 04:36] jasontbradshaw opened #1284 ""Cannot find module 'inferno-shared'" after 3.10.1 -> 4.0.4 upgrade"
## Issue Template

**Observed Behaviour**
When upgrading from `inferno` 3.10.1 to 4.0.4 in a TypeScript/webpack/awesome-typescript-loader project, the included `index.d.ts` file declares a dependency on `inferno-shared` that can't be resolved at compile time, resulting in the following error:

[code]

This comes from `index.d.ts:8` in the `inferno` package:
[code]

**Expected Current Behaviour**
T

[2018-02-22 16:38] kurdin opened #1285 "[feat request] $ReCreate with condition"
Can we add condition check for $ReCreate attribute on Components?

Sometimes it is useful to test condition and if `true` only then add $ReCreate to Component.

[code]

[2018-02-23 08:13] FQ400 commented on #1285
Could the `key` prop of the component be used for that? Something like:
[code]

[2018-02-23 13:07] kurdin commented on #1285
@FQ400 Yes, it could be like this but again, we already have new `$ReCreate` attribute why not to use this instead of key? But may be you right `$ReCreate` is special attribute and should not be use with condition.

[2018-02-24 16:36] axules opened #1286 "componentDidUpdate poorly compatible with ReactJS"
**inferno v.4.0.2**
---
With ReactJS **this.DOM.titleForm** is defined.
But with InfernoJS **this.DOM.titleForm** is undefined.
[code]
Inferno configured in webpack
[code]

[2018-02-25 18:36] Havunen commented on #1286
Can you add more code please, `this.DOM.titleform` is application level thing Inferno or React does not have that.

[2018-02-26 13:11] axules commented on #1286
@Havunen, hi!
Example in code sandbox - https://codesandbox.io/s/j3oxlqro69
Video with case - https://www.screencast.com/t/AQYbhH8JZ
You can test it with React and inferno-compat.
I think `componentDidUpdate` was runned before `refs` in render function.

[2018-02-26 14:50] foisonocean opened #1289 "Avoid using side effect import of `inferno-devtools`"
Instead of side effect import, I prefer import devtools like that:

[code]

So that I can bundle the devtools in only dev mode.

[code]

If I don't use commonjs syntax(It's 2018, use es module syntax please), this is the only way to bundle devtools with condition.

[2018-02-27 05:29] axules opened #1290 "Uncaught TypeError: Failed to execute 'replaceChild' on 'Node': parameter 2 is not of type 'Node'"
InfernoJS v4.0.4
Uncaught TypeError: Failed to execute 'replaceChild' on 'Node': parameter 2 is not of type 'Node'
Function with error in inferno.js:
[code]

Because **lastDom** was null

I will write details and flow late.

[2018-02-27 15:35] jhsware opened #1291 "Input can't have children"
There is a Reactstrap test allowing children in inputs:
https://github.com/reactstrap/reactstrap/blob/0648cc2c24a5dd55f93892df9c6c9d144338f670/src/__tests__/Input.spec.js#L60

But the same test with Inferno 4 throws:
[code]

This test passed in Inferno 3. Is this a regression bug or intended behaviour?

[2018-02-27 15:42] jhsware commented on #1291
A quick review of the React-docs suggest that this is a bug in Reactstrap. An input shouldn't have children.

[2018-02-27 15:42] #1291 closed

[2018-02-27 17:47] Havunen commented on #1286
Yep this is bug, thanks for reporting it! :+1:

[2018-02-27 21:39] Havunen commented on #1284
Thanks for reporting the issue! This should be fixed in 4.0.6

[2018-02-27 21:39] #1284 closed

[2018-02-28 08:30] axules commented on #1286
@Havunen
No problems ;-) Thanks for the prompt response!

[2018-02-28 18:49] kurdin opened #1292 "inferno4 {0} not rendered in DOM"
Not sure why I have this problem but I have pager component with variable `z === 0` it was renders fine in DOM in inferno3. Now after inferno4 upgrade I need to add {variable + ''} to make sure `0` is visible.

Strange thing that I could not reproduce this on here: https://jsfiddle.net/vrydxohy/
and React 16 renders 0 just fine: https://jsfiddle.net/sfbg7eL3/

Who is responsible for not rendering

[2018-03-01 14:54] Havunen commented on #1292
I have never seen this before. We need steps to reproduce to be able to identify the issue.

[2018-03-01 19:10] kurdin commented on #1292
@Havunen
After few hours of digging thru few handers of files in our app, I finally found the problem.

We use `inferno-compat` in few places for `findDOMNode` and `React.cloneElement` in packages that we converted from react. So it turns out if you simple import `inferno-compat` anywhere in your app along with `inferno` then {0} wont be rendered in DOM in any component of app. Strange but looks l

[2018-03-01 19:16] Havunen commented on #1292
Yeah this is bug, also there seems to be performance issue in inferno-compat. It seems like in `inferno-compat` arrays fall into iterableToArray code path as arrays are iterables too. Need to fix that. The actual bug is also there:

https://github.com/infernojs/inferno/blob/master/packages/inferno-compat/src/index.ts#L192-L194

Let's hotfix this.

[2018-03-01 19:28] kurdin commented on #1292
@Havunen We trying to avoid using `inferno-compat` but sometimes it is quicker to convert some functionality from React.

What would be alternative for `React.cloneElement` in `inferno4` ?

[2018-03-01 19:31] Havunen commented on #1292
@kurdin

It depends: if all you want is clone and assign props, then you can use `const copy = Inferno.directClone(vNode);` and maybe `Object.assign` props into copied vNode. If you want same API then you can use `inferno-clone-vnode` package its drop in replacement

[2018-03-01 20:01] Havunen commented on #1292
Just released 4.0.7 this is fixed there. Thanks for reporting the issue. Closing

[2018-03-01 20:01] #1292 closed

[2018-03-02 08:41] tolg opened #1293 "Functional Lifecycle events doesn't work with the connect function of inferno-redux"
I tried to use the connect function of inferno-redux which mapped a prop function named "onComponentDidMount" to connect a functional component, but the function did not execute. I tried this both in version of 4.0.7 and 3.10.1 and not work. But it exactly worked well in v3.1.0.

The code like this:

[code]

I think it's useful to dispatch some action of some initial work when component just mount

[2018-03-02 12:56] Helidium opened #1294 "Typescript definition file"
Hi,

is it possible to use the "outputAsModuleFolder" flag when building the type definition file, because otherwise webstorm has issues resolving.

Specifically when importing the render method it gets imported as "inferno/DOM/rendering"...

Thank you

[2018-03-02 13:26] Helidium commented on #1294
Ignore my issue, makes a bigger problem...

[2018-03-02 13:26] #1294 closed

[2018-03-03 09:17] PedroGao opened #1295 "Please improve the typescript declare files !"
The .d.ts files has some mistakes which always made me confuse,would you improve them?

[2018-03-03 11:20] Havunen commented on #1295
@PedroGao It would help if you could tell where the issue is. Its open source project so if you find something to improve you can also contribute! There is btw pull request for more types, maybe you could code review that https://github.com/infernojs/inferno/pull/1287.  And possibly test it and give feed back for the PR author.

[2018-03-03 11:22] Havunen commented on #1295
Generally we want to improve this area there are couple of issues about this already:
https://github.com/infernojs/inferno/issues/686

[2018-03-03 11:23] Havunen commented on #1294
If you find way to improve please open new issue or open PR! :) I'm also interested getting better support for webstorm

[2018-03-03 11:24] Havunen commented on #1293
This might be bug, lets add test cases and fix it if there is problem.

[2018-03-03 13:19] PedroGao commented on #1295
okay ! Thank you very muck!

[2018-03-03 13:35] PedroGao commented on #1295
I just a newcomer of github and my English is poor ! So I just can write my suggestions here.
1. change the props of the router. I have checked the declare files of react-router , and I think the Props of Inferno-router should be like this above.
[code]
 2.  this is my declare files of inferno.  [.d.ts](https://github.com/PedroGao/inferno-jsx-type-definitions)

This is all.

[2018-03-05 17:07] Havunen commented on #1293
There was actually a bug and that will be fixed in 4.0.8 ( It will be released soon ).

There are two ways to define hooks.
Using the one you had with slight change ( see ref property ):

[code]

Or by defining default hook on Functional component itself. They serve different use cases, as you can override defaultHooks using props. Both ways probably fits your need.

[2018-03-05 17:07] #1293 closed

[2018-03-07 15:40] IgnusG opened #1296 "Inferno-* Packages break on V4 with Webpack 4"
**Observed Behaviour**

When using `inferno-mobx` with `inferno` 4 and webpack 4 the build fails with the following message:
[code]
`inferno-clone-vnode`, `inferno-compat`, `inferno-create-class`, `inferno-mobx` & `inferno-router` all seem to break with similar errors with either `Can't import` or `Can't reexport`.

This only happens when one of these packages is imported inside the code. Check ou

[2018-03-07 22:19] jdalton commented on #1296
Adopting .mjs is a bit premature since Node is still ironing out support. This means your code will be feature limited to a narrow path of known behaviors with .mjs in webpack.

[2018-03-07 22:37] elledienne opened #1297 "Support for react-router-config"
When using `inferno` and `inferno-compat` in combination with `react-router-config` the `hydrate()` function throws the following error

[code]

Did anyone else experience the same? Any idea what could be the reason?

[2018-03-07 22:59] jdalton commented on #1296
**Update:**

If you use ESM with `.js` then no `type` config is needed. It with automatically use `javascript/auto` and also give you named exports of CJS modules in ESM 🙌

[2018-03-08 08:18] Havunen commented on #1297
Can you create steps to reproduce it please

[2018-03-11 19:26] Ownelek commented on #1296
@jdalton so whats the solution to this error ? I am having exactly same problem.
I am not using any `.mjs` files inside my project.

[2018-03-11 19:28] jdalton commented on #1296
@Ownelek are you using a package that does use `.mjs`? If not it could be a webpack bug.

[2018-03-11 19:32] Ownelek commented on #1296
In my project only Inferno uses `.mjs`, and with Inferno I have this error.
[code]

[2018-03-11 19:32] IgnusG commented on #1296
All inferno packages use it I think

[2018-03-12 18:45] Havunen commented on #1296
I will change all file extensions from `.mjs` to `.esm.js` that should work without issues. We need to bump version to 5 because its breaking change.

[2018-03-12 19:33] IgnusG commented on #1296
Makes me sad for some reason. Was hoping for some big new features in 5 :sweat_smile:
Guess will have to wait for 6

[2018-03-12 20:42] kurdin opened #1298 "npm install error: inferno@4.0.8 postinstall: `opencollective postinstall`"
$ npm -v
5.7.1

npm install error:
---------------
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn
npm ERR! inferno@4.0.8 postinstall: `opencollective postinstall`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the inferno@4.0.8 postinstall script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR!

[2018-03-12 20:56] kurdin commented on #1298
ok, if you have this problem, just run `npm pure` after `npm install`

[2018-03-12 20:56] #1298 closed

[2018-03-13 06:31] Havunen commented on #1290
This can happen for example If you call external callback from Component constructor and then do setState before finishing the constructor call

[2018-03-13 06:32] Havunen commented on #1289
We need to bump version to V5. Lets include this too there.

[2018-03-13 06:35] Havunen commented on #1285
So this is actually feature request to babel-plugin rather than inferno-core. ReCreate is already a bit that can be on or off. Adding The request syntax needs babel plugin update.

[2018-03-13 11:57] kurdin commented on #1285
@Havunen you right. This is babel plugin update. No rush on this one, but maybe you can add this to list on next babel plugin update.

[2018-03-13 16:53] Havunen commented on #1285
Or maybe we could just add `$Flag={value}` API so it can be overridden at application level, then it should work with any future flags too

[2018-03-13 17:03] kurdin commented on #1285
@Havunen Yes, it would be cool

[2018-03-13 17:10] kurdin opened #1299 "[Feat Request] CreateContext API"
Any plans for CreateContext API support like React 16 ?

https://medium.com/dailyjs/reacts-%EF%B8%8F-new-context-api-70c9fe01596b
https://medium.com/workshop-me/render-props-react-createcontext-but-how-9c8e457a90e3
https://www.jernejsila.com/2018/03/04/new-react-context-api/

maybe this can be converted to inferno ? https://github.com/rognstadragnar/preact-context-utilities

[2018-03-13 19:34] Havunen commented on #1296
Fix for this has landed to dev https://github.com/infernojs/inferno/commit/96bc3af8278b6f46e1ae37fbba67cfcf1294086d
I will close this ticket as it will be fixed in next release. v5

[2018-03-13 19:34] #1296 closed

[2018-03-13 20:28] Havunen commented on #1290
I found and fixed one use case for this today. The fix will be available in v5

[2018-03-13 20:39] Havunen commented on #1050
I think this is currently feature as it works same way in React 16. If we would change that behavior we would need inferno-compat to revert it also. Closing this. Please re-open If this ever becomes ab issue again

[2018-03-13 20:39] #1050 closed

[2018-03-13 20:44] #1237 closed

[2018-03-14 04:21] axules commented on #1290
@Havunen, hi! It is great news! Thanks =)

[2018-03-14 07:29] elledienne commented on #1297
@Havunen sure, you can just try to add `inferno-compat` to this project https://github.com/wellyshen/react-cool-starter

[2018-03-14 16:02] Havunen commented on #1289
This will be available in v5

[2018-03-14 16:02] #1289 closed

[2018-03-14 16:15] Havunen commented on #1283
Added `isDefaultPrevented` and `isPropagationStopped` to inferno-compat Event polyfill. It will be available in v5

[2018-03-14 16:15] #1283 closed

[2018-03-14 16:16] Havunen commented on #1259
Can you send PR to inferno-website repository please. There is now section for community libraries.

https://infernojs.org/docs/guides/libraries
https://github.com/infernojs/inferno-website

[2018-03-14 16:16] #1259 closed

[2018-03-15 04:02] mienaikoe commented on #864
Seeing this in 3.6.4 using Chrome v64.

I'm using a state-controlled set of 3 radio buttons, and was using only onChange to capture input changes. Adding onClick handling is a workaround.

[2018-03-15 09:35] zerkalica opened #1300 "[inferno-mobx] Error: 'Atom' is not exported by mobx.module.js"
No more Atom class exported in mobx@4, use createAtom:

But in [inferno-mobx@4.0.8](https://github.com/infernojs/inferno/blob/master/packages/inferno-mobx/src/observer.ts#L120)

[code]

rollup reports:
[code]

[2018-03-15 20:13] Havunen commented on #864
@mienaikoe try updating to V4 it should fix it

[2018-03-15 20:14] Havunen commented on #1300
That is actually already fixed in dev. You can try it out by installing `next` or `5.0.0-0`

[2018-03-16 11:52] greenyas opened #1301 "Some dom nodes could be lost when patching dom"
## Issue Template

**Observed Behaviour**

Inferno is losing one dom element which is placed after array of elements in dom after patchchildren triggered by setState. setState actually raised by another component.
jsFiddle: https://jsfiddle.net/u6s2vq80/13/

**Expected Current Behaviour**

dom elements should not be lost

**Inferno Metadata**
Inferno v.4.0.8 & v.5.0.0
Windowx / Linux
Chrome (possi

[2018-03-16 12:13] Havunen commented on #1301
This is bug in patchKeyedChildren, this has been broken for quite a while... probably since Inferno 0.7

It marks nodes which have been handled by setting previous children null. This is issue because it can be referenced again later. Related code lines:
https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/patching.ts#L545

https://github.com/infernojs/inferno/blob/master/pack

[2018-03-16 12:20] Havunen commented on #1301
@localvoid I think this bug is also in IVI https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/patching.ts#L511

[2018-03-16 13:07] localvoid commented on #1301
@Havunen this use case should be handled by this check in ivi[1], but I can imagine some weird scenario when you pass two divs as props to component and then component swaps this divs.

1. https://github.com/ivijs/ivi/blob/c7e4eaaa3bb5e016708a8593f6ec28deb9c7b95a/packages/ivi/src/vdom/implementation.ts#L1021

[2018-03-16 16:26] Havunen commented on #1290
Another use case for this was discovered today:
https://github.com/infernojs/inferno/issues/1301

[2018-03-16 17:16] Havunen commented on #1301
@localvoid Yeah that is also the case in Inferno, it requires 3 renders to reproduce. props.children is reference to previousChildren and setting them null causes it eventually to fail. I found simple fix: simply unmounting children one by one instead of nulling them fixes it. However that kills fast path optimization for `removeAllChildren(dom, a); + mount all B` when nothing was patched. The mas

[2018-03-17 02:25] localvoid commented on #1301
@Havunen

That is how it worked until I've started to optimize for "clear" test case in krausest benchmark, and I always thought that this optimization will be useless in real application. Usually when there is such mass removal, parent node is removed with all its children. The only real world sceanario that will benefit from this optimization is pagination, but even in such scenario it is easy t

[2018-03-17 05:31] localvoid commented on #1301
@Havunen

In ivi, children props for components are stored in denormalized form, and when they are injected as a children to some element, they are copied to a new children array during normalization phase, so when they are diffed, original `props.children` array can't be mutated.

[2018-03-17 06:40] Havunen commented on #1301
@localvoid Yeah it can fail if vNodes are mutated in the application level, but that is question if we support that or not. However this is bad because library fails by itself. I think this must be fixed, I just need to do some benchmarking. Speaking of which; UIBench seems to be rounding performance results nowdays, is that intended?

[2018-03-17 06:47] localvoid commented on #1301
@Havunen

https://developers.google.com/web/updates/2018/02/meltdown-spectre#high-resolution_timers
https://developer.mozilla.org/en-US/docs/Web/API/Performance/now#Reduced_time_precision

[2018-03-17 13:01] Havunen commented on #1297
I had a look but didn't have enough time to figure out build process :/

[2018-03-17 16:48] Havunen commented on #1301
V5 is released. This is fixed there

[2018-03-17 16:48] #1301 closed

[2018-03-17 16:48] Havunen commented on #1300
V5 is released. This is fixed there

[2018-03-17 16:48] #1300 closed

[2018-03-17 16:49] Havunen commented on #1295
V5 is released. This is fixed there

[2018-03-17 16:49] #1295 closed

[2018-03-17 16:49] Havunen commented on #1290
V5 is now released. I believe this is now fixed. If not please re-open with steps to reproduce :)

[2018-03-17 16:49] #1290 closed

[2018-03-17 16:50] Havunen commented on #686
V5 is released. This is fixed there

[2018-03-17 16:50] #686 closed

[2018-03-17 16:50] Havunen commented on #1209
V5 is released. This is fixed there

[2018-03-17 16:50] #1209 closed

[2018-03-20 15:53] elledienne commented on #1297
@Havunen If you have specific questions I can help

[2018-03-20 16:36] kurdin opened #1308 "Inferno Error: Encountered child without key during keyed algorithm"
Mixing keyed child component with non keyed throw error in Inferno dev:

**Inferno Error: Encountered child without key during keyed algorithm**

https://jsfiddle.net/dcbxbto5/4/
[code]
Same code works fine in React 16: https://jsfiddle.net/vjkv1bkf/1/

[2018-03-20 16:57] Havunen commented on #1308
Yeah this is by design, it tries to help identify issues. Maybe we should add option to disable it?

[2018-03-20 18:52] kurdin commented on #1308
@Havunen maybe this should be a warning instead of error, so you can ignore it in dev env. It does not make clear message why you have this error for developers.

[2018-03-20 18:54] kurdin commented on #1308
@Havunen will this have same result if I move `key` to wrapping `div` ?

[code]

[2018-03-20 22:05] Havunen commented on #1308
Having key in the parent div will not affect anything. I believe it does not throw either. Yeah maybe it should do `console.error` instead throw.

[2018-03-20 22:23] kurdin commented on #1308
@Havunen This is what I thought. What would be a current work around? If I add key to `spans` error will go away. is it a best solution right now? With `throw` it block development and build on locals, which is not good.

[2018-03-20 22:36] Havunen commented on #1308
It depends on your use case: Do you want to use keyed algorithm or not. If you need keys then everything should be keyed. If you dont want keyed algo dont add keys to anything. It behaves differently

[2018-03-20 22:36] Havunen commented on #1308
Mixing some with keys and some not is bad practice

[2018-03-21 14:09] kurdin commented on #1308
@Havunen ok, maybe I don't understand how keys work. I always thought if you give to Component a key Inferno will be reused or umount (if not needed) on parent rerender, even if you have another Component with same name somewhere on the page.

So in this case `<Test>` on each update if `EvenOrOdd` changes from even to odd will be unmount and mound again.
[code]
in this case `<Test>` on each update

[2018-03-21 14:55] Omlet opened #1309 "createComponentVNode and components wrapped in redux connect"
Sorry if this is a little sparse - I'm on the road, but I can try providing more details if needed.

I have a simple HOC that is responsible for rendering out nodes depending on provided props. The issue I'm seeing is that specific components that are wrapped in a `connect` component, as provided by `inferno redux`, aren't rendering. Non-wrapped components work fine. I'm assuming this is because I

[2018-03-21 17:08] Havunen commented on #1308
Well they are not actually related to Components but you can think it that way too. Keys are used to identify the vNodes ( elements / Components ) during diffing process. When you use keys you should have unique key within all its siblings so if order of elements change, they don't get unmounted / or internal DOM state removed.

[2018-03-21 20:49] Omlet commented on #1309
Fixed - some weird versioning issue.

[2018-03-21 20:49] #1309 closed

[2018-03-22 00:39] jasontbradshaw opened #1310 "Incompatible event types between linkEvent and onWhatever handlers"
**Problem**

After upgrading from v4.0.8 to v5.0.1 in a TypeScript/JSX project, for code like:

[code]

I get lots of errors like:

[code]

I believe this is caused by the type of `linkEvent`:

[code]

being incompatible with the type of the various `onWhatever` handlers:

[code]

**Workaround**

I can "solve" this problem like so:

[code]

However, this is not a very clean solution.

As far as po

[2018-03-22 07:32] Havunen commented on #1310
[code]

Setting null to event listener should be possible. So there is something wrong in types.

[2018-03-22 15:38] #1310 closed

[2018-03-24 03:30] akhilshastri opened #1315 "Docs on https://infernojs.org not rendering correctly"
![image](https://user-images.githubusercontent.com/8503650/37859920-a1f4b400-2f41-11e8-9c13-1cffa632689a.png)

[2018-03-24 03:40] deamme commented on #1315
Seems like an old cached version of Inferno. Try clear your cache.

[2018-03-25 15:58] kurdin commented on #1308
@Havunen thanks for the explanation. I would move this to warning or console.error but without throw.

[2018-03-25 15:58] #1308 closed

[2018-03-25 16:08] kurdin opened #1317 "Error with production minified build of Inferno"
Inferno 5.0.1, Webpack 3

in Dev, no error, loading as external, inferno 5 not minified.
in Production, error in inferno, minified app build and loading inferno.min.js.

<img width="864" alt="screen shot 2018-03-25 at 11 55 25 am" src="https://user-images.githubusercontent.com/6027060/37877124-41eb3b18-3024-11e8-98f5-2705cb09438f.png">

Error in this Component's code:
[code]
No Error if code chang

[2018-03-26 20:53] gabimoncha commented on #1033
@kosiakMD what are you using now?

[2018-03-27 15:42] lesar opened #1319 "Questions on Differences between Component and Functional Component"
In my last example I'm using:
[code]
I'm writing two example on todo list. One using Components and other using Functional Components.
in first [example](https://github.com/lesar/hyperscriptTodoList/blob/master/src/todos/todo/todo.ts) the todo component work using an input text and it's behaviour  is like an ***uncontrolled*** input. in my next example using Functional component I have some troubl

[2018-03-27 18:31] roastlechon commented on #1116
@Havunen as discussed, we do need this feature...

[2018-03-30 11:46] iamf3i opened #1320 "inferno-router example not working ?"
Hi guys I'm trying to get the inferno-router example working but this is what I get.
Fresh install with npx create-inferno-app.

TypeError: parentDom is null

2208 | if (input.dom) {
  2209 |     input = directClone(input);
  2210 | }

  2212 |     mount(input, parentDom, LIFECYCLE, EMPTY_OBJ, false);
  2213 |     parentDom.$V = input;
  2214 |     roots.push(parentDom);

[2018-03-30 18:36] Havunen commented on #1315
Yeah its cache issue.

[2018-03-30 18:36] #1315 closed

[2018-03-30 18:43] Havunen commented on #1320
Hi @iamf3i  what example is causing the issue?

[2018-03-30 18:46] iamf3i commented on #1320
Hi @Havunen, maybe I'm missing something ?

This is the example :

import { render } from 'inferno';
import { BrowserRouter, Route, Link } from 'inferno-router';

const Home = () => (
  <div>
    <h2>Home</h2>
  </div>
);

const About = () => (
  <div>
    <h2>About</h2>
  </div>
);

const Topic = ({ match }) => (
  <div>
    <h3>{match.params.topicId}</h3>
  </div>
);

const Topics = ({ match })

[2018-03-31 21:26] iamf3i commented on #1320
My bad, I renamed the root div in index.html, I'm closing this.

[2018-03-31 21:26] #1320 closed

[2018-03-31 22:00] iamf3i opened #1322 "Issue with inferno-router"
Hello there,

When I run the basic router example (Usage [client-side]), it renders well in the browser but when I click a link it should change the URL and re render the component.

Changing the URL is ok but the component doesn't refresh. I have to hit F5.

(I'm not using redux or anything)

Rgds

[2018-04-01 10:47] iamf3i commented on #1322
Tried with version 4.0.8 and it's working.

Anybody experiencing the same issue with v.5.0.x ?

[2018-04-04 13:28] Havunen commented on #1317
I cannot reproduce this error, Can you share more details how to reproduce it? Maybe github repository or jsFiddle or something?

[2018-04-04 13:32] Havunen commented on #1319
Hi,

I'm not sure if I fully understood the question. When you define value the input becomes controlled input. This is expected behavior. Its designed this way so javascript value is always source of truth. If you don't define the value property then it can be anything ( user typed value, or JS edited value or whatever ). If you dont want to use controlled inputs then don't define value property,

[2018-04-04 13:33] kurdin commented on #1317
@Havunen will try to create example. Strange error. Maybe this is uglify problem or something.

[2018-04-04 13:36] Havunen commented on #1322
I will look into this now. I guess you referring to this example: https://github.com/infernojs/inferno/tree/master/packages/inferno-router#usage-client-side

[2018-04-04 14:27] Havunen commented on #1322
There was bug in Router, its now fixed. I will make new release.

[2018-04-04 14:27] #1322 closed

[2018-04-04 19:41] rosenfeld opened #1323 "Are there any plans to support getSnapshotBeforeUpdate / getDerivedStateFromProps hooks?"
Hi, it seems componentWillUpdate and componentWillMount are going to be deprecated in React. Are there any plans for Inferno to support the new getSnapshotBeforeUpdate / getDerivedStateFromProps hooks?

https://reactjs.org/docs/react-component.html

[2018-04-04 22:03] Lordiuz opened #1324 "mobx broke inferno-devtools 5.0.2"
inferno-devtools with mobx crash app

[code]

Without mobx usage inferno-devtools works as expected.

    "inferno": "^5.0.2",
    "inferno-component": "^5.0.2",
    "inferno-devtools": "^5.0.2",
    "inferno-mobx": "^5.0.2",
    "inferno-router": "^5.0.2",
    "babel-plugin-inferno": "^5.0.1",
    "mobx": "^4.1.1",
    "webpack": "3.11.0"

windows 10 x64,  nodejs v8.9.4

[2018-04-05 13:41] marvinhagemeister commented on #1323
FYI: We are currently having the same discussion for preact: https://github.com/developit/preact/issues/1047

[2018-04-05 13:45] rosenfeld commented on #1323
I know, I've commented there yesterday :)

[2018-04-05 20:09] iamf3i opened #1326 "inferno-devtools duplicating nodes"
Hi,

While using this basic example of inferno router:

https://github.com/infernojs/inferno/tree/master/packages/inferno-router#usage-client-side

If I don't wrap the BrowserRouter into a div, I'm witnessing this behaviour in the devtools extension:
![devtools behaviour](https://user-images.githubusercontent.com/4942641/38388749-6a4a37f2-391c-11e8-929c-ddf4d390fd7f.JPG)

It seems to dublicate eve

[2018-04-08 09:46] Havunen commented on #1326
I think inferno-devtools integration would be some love... It has not been properly tested for long time. @iamf3i Would you like to fix this?

[2018-04-08 09:47] Havunen commented on #1326
I have also heard there are some performance issues when using devtools.

[2018-04-08 09:48] Havunen commented on #1324
@Lordiuz Would you like to take a look at this issue? Inferno-devtools has not been tested properly for a long time.

[2018-04-09 15:08] Havunen commented on #1319
Ah you are using redux, that might be reason for it. In plain inferno there is no difference how inputs behave under what Component. Maybe there is a bug somewhere or I don't understand something. Could you setup the whole demo and I can take a look. Thanks :)

[2018-04-11 08:01] lesar commented on #1319
Yes, thank Havunen.
A few dais and I put online a new repository end add a new comment in this issue.

[2018-04-11 09:17] lesar commented on #1319
I have release a first deploy:

[not functional todo list](https://github.com/lesar/hyperscriptTodoList)

[functional todo list](https://github.com/lesar/functionalHyperscriptTodoList)

regards

[2018-04-11 15:07] kurdin commented on #1317
I could not reproduce this anymore. I'll reopen if I find it again and can create something reproducible.

[2018-04-11 15:07] #1317 closed

[2018-04-11 15:15] kurdin opened #1328 "Inferno fires method twice if rendered with 2 separate script tags"
Inferno 5.x

If I render components twice from different script tags, `increment` and `decrement` method fire twice. Happened even if all components' names in second script changed to `CounterStore2` and `Counter2`.

isolated bug example: https://github.com/kurdin/inferno-render-bug

[code]

[code]

Same code works with React as expected.

[2018-04-12 13:57] bernhardreisenberger opened #1329 "Inferno 5 does not allow objects as children"
**Observed Behaviour**

With Inferno 3.10.1 it was possible to pass objects as children
`<div>{{count: 5}}</div>`
The created vNode had a property children with the passed object `{count:5}`

With Inferno 5.x this is not possible anymore. The jsx `<div>{{count: 5}}</div>` will be transformed to `createVNode(1, "div", null, { count: 5 }, 0);` where the last parameter represents the childFlag. I cou

[2018-04-12 14:09] bernhardreisenberger opened #1330 "Inferno 5: cloneVNode not working as described by ReadMe"
**Observed Behaviour**

When using cloneVNode with a textNode (vNode that has flag VNodeFlags.Text), the passed new children will not replace existing one.
https://github.com/infernojs/inferno/blob/0c0786d938b89108d4e89ae1d9ac7edb1d1822e3/packages/inferno-clone-vnode/src/index.ts#L91

**Expected Current Behaviour**

`cloneVNode(textNode, null, "foo")` should return a new vNode with "foo" as childr

[2018-04-15 20:38] Havunen commented on #1328
It happens because there are 2 instances of inferno library active.  We could fix it by mutating global window object, but I don't know if that is good idea :/

[2018-04-15 20:38] Havunen commented on #1330
Fixed. Thanks for reporting the issue! :)

[2018-04-15 20:38] #1330 closed

[2018-04-16 09:54] bernhardreisenberger commented on #1329
with i18next you can define interpolation values in the translations files. e.g. english translation file:
`{
"userMessageUnread":"Hello {{name}}, you have {{count}} unread messages"
}`

in JSX i want to pass `name` and `count` to the translation lib. react-i18next solved this, by passing the name and count as children:
`<Trans i18nKey="userMessageUnread">
  Hello {{name}}, you have {{count}} unre

[2018-04-16 09:54] #1329 closed

[2018-04-19 12:32] cookiecavekeeper commented on #1324
I got the same error without using mobx, but with the devtools.

It seems that preact had the [same problem](https://github.com/developit/preact-cli/issues/538) (at least the same error messge in the same function) and fixed it here: https://github.com/developit/preact/pull/988/files

Apparently both preact and inferno devtools both use the same visitNonCompositeChildren function.

[2018-04-23 00:34] SeanHayes commented on #501
v5 is out, is this now supported?

[2018-04-23 09:27] IgnusG commented on #501
@SeanHayes V5 was in this case a major breaking change fix with esm modules. So this will most likely come with V6

[2018-04-24 14:24] kurdin commented on #1328
@Havunen
Good point. I would say it can be fixed by moving Inferno lib as external dependency.

[2018-04-24 14:24] #1328 closed

[2018-04-25 19:57] kurdin commented on #1323
Meanwhile we can use polyfill https://github.com/kurdin/inferno-lifecycles-compat

[2018-04-25 23:18] Elliot-Evans-95 opened #1332 "Property 'refs' is missing in type 'StaticRouter'"
Hello,

I am currently got an issue with inferno-server and I am hoping you can help me out.

**Observed Behaviour**

When using inferno-router server-side I am using `<StaticRouter>` to renderToString in my app. The project is using typescript with tsx files.

When compiling I am receiving an error:

Property 'refs' is missing in type 'StaticRouter'.

If you need an example of this behaviour I ca

[2018-04-26 07:02] tianyingchun opened #1333 "cloneVNode issue"
## Issue Template

cloneVNode will lose children props of JSXElement if this JSXElement has it's props

Inferno is...

cloneVNode should merge custom props to vNodeToClone.props

  } else if (flags & VNodeFlags.Element) {
    if (!props) {
      props = {
        children: vNodeToClone.children
      };
    }
    newVNode = createVNode(flags, vNodeToClone.type, className, null, ChildFlags.HasInval

[2018-04-27 05:29] Havunen commented on #1333
Inferno does not store children in props for element vNodes, this is done only when inferno-compat is in use. Are you using inferno-compat? In native inferno you can access children from `vNode.children`

[2018-04-27 05:30] Havunen commented on #1332
Hi @Elliot-Evans-95 it looks like bug, can you fix it? :)

[2018-04-27 07:35] Elliot-Evans-95 commented on #1332
@Havunen I will have a look into it and see if I can fix it 😃

[2018-05-02 22:32] fenduru opened #1335 "Avoid memory leaks through code change or documentation"
## Issue Template

**Observed Behaviour**

Inferno is keeping a reference to root elements (and via their handlers, other parts of my data) in its closure after the element has been removed from the DOM. This prevents the data from being garbage collected and leads to a serious memory leak.

**Expected Current Behaviour**

This occurred because I'm mounting an inferno component in the context of a

[2018-05-03 06:13] Havunen commented on #1335
To clean up, you need to render null using DOM element, but now if the DOM element is kept in reference by some other framework or code. Maybe we need to manually null the `.$V` property of DOM node.

[2018-05-03 16:50] fenduru commented on #1335
The leak is not due to the `.$V`, but rather that the `parentDom` is stored in `roots` at all. I'm not really sure what value the `roots` array is providing over just checking if `.$V` is defined on the element.

It doesn't look like roots is used for anything but determining if Inferno has previously rendered to it

[2018-05-03 17:38] Havunen commented on #1335
This is not only about having element reference in roots, you need to do:
[code]

Before removing the element, because event listeners are attached to DOM, no unmount callbacks will fire to your code etc if you dont unmount the "MyApp" component.

[2018-05-03 17:48] Havunen commented on #1335
To implement automatic tear down functionality we would need to use [Mutation Observer](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver) but that also means creating mutation observer per root node, which would affect perf and memory usage. I have heard some people use inferno to render multiple "mini apps" inside same web site, so there are many roots in their case :/

[2018-05-03 17:51] fenduru commented on #1335
Are synthetic events attached to `parentDom` or `document`? If `parentDom` then event listeners would just get garbage collected, but that still leaves unmount callbacks, so rendering `null` probably is as good as we can get so perhaps a docs change is all that's needed here.

The `mini apps` is essentially my use case as well. I'm using Inferno as an implementation detail of a component because o

[2018-05-03 17:53] Havunen commented on #1335
Synthetic events are attached to `document` that is the idea behind synthetic events. So there is only 1 real DOM event. You can however use lower case event names `onclick` instead of `onClick` not to use Synthetic events

[2018-05-03 18:08] Havunen commented on #1335
I think we can remove the roots array its sort of legacy thing anyway, but it does not fix your situation unless you convert all Event handlers too.

[2018-05-03 18:41] arqex opened #1336 "react-hot-loader compatibility"
Hey guys,

We are trying to make preact compatible with RHL and it would be great to play along with it too:

https://github.com/developit/preact/issues/1007

After having a look at Inferno and RHL together, the problems are very similar to the ones seen in preact. I am using inferno-compat and most of the components are working ok, but there are some problems using higher order components.

The w

[2018-05-03 19:13] Havunen commented on #1336
Hi,

I like the idea of supporting RHL. How does React handle this situation? I was just reading React source code and they do also have `child.type === element.type` check in place for Components.

https://github.com/facebook/react/blob/8dc8f88d5ae9fb96934ba43e3842b5dcf4074afd/packages/react-reconciler/src/ReactChildFiber.js#L1101-L1120

[2018-05-03 21:55] theKashey commented on #1336
The main problem - if you will follow "react" way - you will hit our main problem - https://github.com/gaearon/react-hot-loader/issues/304
[code]
This is not a problem for react/preact/inferno, as long they are comparing _result_ of createElement, but for a developer and third-party libraries.

After creating the proxy RHL just maintain it, patching with a new code in right moments. Finding "the r

[2018-05-07 13:47] Havunen commented on #1333
[code]

Be careful; That code might copy empty children over existing children in props.

[2018-05-09 10:12] mritzco commented on #505
Found the same problem using a library leaving this here just for reference:
Original code:
[code]
Tried one of the fixes in here
[code]
Checked the inferno-create-element repo and just replaced for their recommendation
This one works:
[code]

Hope it helps someone else

[2018-05-12 10:04] Havunen commented on #1332
Fixed in 5.0.5 https://github.com/infernojs/inferno/releases/tag/v5.0.5

[2018-05-12 10:04] #1332 closed

[2018-05-12 17:48] Lordiuz commented on #1324
Nice catch, thank you. It work fine for me.

[2018-05-12 17:48] #1324 closed

[2018-05-12 23:42] Elliot-Evans-95 commented on #1332
Thanks @Havunen Will try out v5.0.5 in my project to see if its fixed it! :)

[2018-05-14 07:42] cookiecavekeeper commented on #1324
@Lordiuz What worked for you? Has the issue been fixed?

[2018-05-15 00:01] gcfabri opened #1337 "Compatibility between Inferno.JS and Semantic UI React"
I was developing an application using Next.JS + Inferno.JS + Apollo and Semantic UI React .. Once done, in the build process some errors appear like this:

`Module not found: Error: Can't resolve 'react' in '/home/gcfabri/Workspace/myproject/components'`

Is there any known incompatibility problem about this?

[2018-05-15 20:40] ddivecs opened #1338 "`style` prop on div elements does not allow strings in typescript."
https://jsfiddle.net/8vc76wLu/

The component in this jsfiddle fails if used in a `.tsx` file. Style is required by typescript to be a `CSSProperties` which is an object. Should style be typed to take an object or a string?

[2018-05-16 19:32] Havunen commented on #1338
Released 5.0.6 this is fixed there. Thank you @ddivecs

[2018-05-16 19:32] #1338 closed

[2018-05-17 10:24] AdrianPiechota opened #1340 "Middle mouse click on anchors does not open new tab in Firefox"
Middle mouse click or CTRL + left click on anchors should open new tab/window.
In Firefox it doesn't work when Inferno events are used. In Chrome it works as expected.

The event is cancelled in `attachEventToDocument` function:
https://github.com/infernojs/inferno/blob/9338ac4acb3ce058723db20f2dba92a5a97543b9/packages/inferno/src/DOM/events/delegation.ts#L83
[code]
Is there way to restore default

[2018-05-18 15:06] Havunen commented on #1340
If we remove that code then right click will not work in Firefox :-/

Do you have better solution in mind?

[2018-05-18 15:18] Havunen commented on #1337
Make sure you have Aliased React to inferno if you use React packages with inferno

[2018-05-18 20:06] FQ400 commented on #1337
Here the relevant section from our webpack config. Maybe it helps. We use a react-datepicker in inferno.

[code]

[2018-05-18 20:10] FQ400 commented on #1337
Love the issue number. 😍

[2018-05-23 15:12] sxwebdev opened #1341 "export @inject @observer class error"
Hey. When I try to export class like here

![image](https://user-images.githubusercontent.com/3129246/40433323-72364b78-5eb4-11e8-9633-fdf21fba8461.png)

I get an error

![image](https://user-images.githubusercontent.com/3129246/40433369-8a4eb556-5eb4-11e8-8b21-b7148b15044d.png)

If I export like this `export default @inject(['rootStore']) @observer class Main extends Component {`
or this `@inject

[2018-05-24 19:46] Havunen commented on #1341
This seems to be babel / Webpack issue and not Inferno code related

[2018-05-25 18:20] MrFoxPro opened #1342 "Isomorphic application example"
Hi, im looking to any example for SSR (Full Isomorohic is better). Are there any? Or instruction, how to do it yourself? I tried to port various frameworks to create isomorphic React-based apps, but it did not work. I would be very happy to start learning and developing with Inferno on this example!

[2018-05-25 20:59] MrFoxPro commented on #1342
So, im currently working for boilerplate, maybe I will succeed

[2018-05-27 06:36] Havunen commented on #976
If you client side render matches SSR keys should not be an issue. You need to make sure render outputs match on initial render.

[2018-05-27 06:36] #976 closed

[2018-05-27 06:38] Havunen commented on #1342
Hi,

Somebody did build this:
https://github.com/aretheregods/hackerinferno

[2018-05-27 07:19] AlgoTrader commented on #976
React 16 works just perfect. I had a very big project on Inferno but it was ported it to React 16.

I do not have to match SSR and client render. Local client adds a lot of information from localStorage. Some info should not be in SSR render because of privacy restrictions.

Anway, this is my last message in this repo, I will never use Inferno again

[2018-05-27 08:36] Havunen commented on #976
@AlgoTrader Sorry to hear you had issues with inferno. Is React adding keys to html then or how does it work differently?

[2018-05-30 13:03] gcfabri commented on #725
Is ready the solution to use Inferno JS and Apollo properly?

[2018-05-30 13:12] gcfabri commented on #1337
@FQ400 Do you use Apollo and InfernoJS in your project? How did you accomplish that? Just add an alias to `react-apollo`? I am facing some errors with this.

[2018-05-31 22:15] FQ400 commented on #1337
@gcfabri We don't use apollo. I showed an example of how to alias react using webpack to inferno-compat.

[2018-06-01 11:36] rodhoward opened #1345 "Router Active NavLink"
**Observed Behaviour**
When you refresh the page the active link updates but then when you click another link the active state stays on the initial tab. Actual routing seems to be working fine.

This is my code:
[code]

**Expected Current Behaviour**
I was hoping that I wouldn't need to track the active state my self as the user clicks through the nav tabs.

**Inferno Metadata**
Linux
Chrome

[2018-06-02 08:05] Havunen commented on #1345
This is bug. It happens because inferno does `lastVNode !== nextVNode` checks in patch routines `patchVNode` and `patchChildren` We can tackle this issue when converting inferno logic to use private non mutable vNode tree similar to React fibers.

For the time being you can work around this issue by creating functional component wrapper to make sure vNode tree is re-created as needed.

Example:
[c

[2018-06-02 09:44] Havunen commented on #1335
I added documentation about unmounting vNode trees.

[2018-06-02 09:44] #1335 closed

[2018-06-02 09:50] rodhoward commented on #1345
Great thanks for the quick response, the work around has fixed it :).

[2018-06-02 12:02] MrFoxPro commented on #1342
Thank for reply, but currently im trying to use Inferno with express, so i followed the instructions on https://infernojs.org/docs/guides/routing. Seems like there is wrong example with express, at least there used undefined variables, like "match", "routes" etc.
![image](https://user-images.githubusercontent.com/17229619/40874283-a74c0300-6686-11e8-9690-c1bf21985e9a.png)

[2018-06-02 19:00] Havunen commented on #1342
When you find where to import those methods please send PR to update docs. I'm away atm.

[2018-06-04 13:53] ddivecs opened #1346 "Mouse events do not have types for non-sythentic events"
Mouse events need non-sythetic events. For example, i expect the following snippet to be valid jsx:

[code]

I've worked around this currently by adding the following in my code in a shim.d.ts file.

[code]

[2018-06-05 16:46] MrFoxPro commented on #1342
I made this: https://github.com/MrFoxPro/inferno-isomorphic-tempalte
I want to make a PR, but do not know what you meant on this page.

[2018-06-05 18:00] IgnusG commented on #1342
He meant the mistake in the docs you found https://github.com/infernojs/inferno/issues/1342#issuecomment-394082295

You can open a PR with the suggested fix on here (source code for inferno's website): https://github.com/infernojs/inferno-website/blob/master/src/docs/guides/routing.md#usage-server-with-express

[2018-06-06 19:21] MrFoxPro commented on #1342
https://github.com/infernojs/inferno-website/pull/119
https://github.com/infernojs/inferno-website/pull/119

[2018-06-06 19:21] #1342 closed

[2018-06-08 02:53] SeanHayes opened #1347 "TypeError: (0 , _infernoRouter.match) is not a function"
**Observed Behaviour**

I'm using this code for server side rendering:

    import {RouterContext, match} from 'inferno-router';
    ...
    const renderProps = match(...);

Which gives the error:
`TypeError: (0 , _infernoRouter.match) is not a function`

I'm upgrading from Inferno 3.6 to 5. The docs don't mention a change to this function, and this page still shows it being used server side, alth

[2018-06-08 10:41] MrFoxPro opened #1348 "inferno-router types"
I think there are wrong types for inferno-router.
Example:
[code]

Error:
![image](https://user-images.githubusercontent.com/17229619/41153448-1d045310-6b30-11e8-80fb-40fb64206599.png)

App:
[code]
**Possible solution**:
Replace this:
https://github.com/infernojs/inferno/blob/0ac0e61c001822b9db5f867d611131f1ab9606fa/packages/inferno-router/src/HashRouter.ts#L11
with:
[code]
Like here: https://gith

[2018-06-08 10:58] MrFoxPro commented on #1347
Can you try this example?
https://github.com/infernojs/inferno-website/blob/master/src/docs/guides/routing.md
It has`nt been uploaded to website yet.

[2018-06-09 01:39] brisqqltd commented on #1324
Same issue, not related to mobx specifically (I'm using redux) - fix is quite simple, as linked by @cookiecavekeeper

[2018-06-09 13:53] Havunen commented on #1324
I'm rewriting whole dev tools integration, it will be much better than old one. It will be released hopefully this weekend.

[2018-06-09 16:06] Havunen commented on #1326
This is now fixed in dev and will be available in next release

[2018-06-09 16:06] #1326 closed

[2018-06-09 16:06] Havunen commented on #677
This is now fixed in dev and will be available in next release

[2018-06-09 16:06] #677 closed

[2018-06-09 16:06] Havunen commented on #729
This is now fixed in dev and will be available in next release

[2018-06-09 16:06] #729 closed

[2018-06-09 17:18] Havunen commented on #1348
Your PR has been merged and it will be available in next release. Thanks

[2018-06-09 17:18] #1348 closed

[2018-06-09 17:22] Havunen commented on #1347
I think match no longer exists. Docomentation should be updated

[2018-06-10 19:27] Havunen commented on #1346
Hi @ddivecs thanks for reporting this issue. Its now fixed in dev and will be available in next release.

[2018-06-10 19:27] #1346 closed

[2018-06-12 09:09] Thebarda opened #1350 "Does (will ?) Inferno support React 16.4.0 ?"
Hello there,

React 16.4.0, released at the end of May, makes a lot of changes on component lifecycle, so my question is : Does (will ?) Inferno support the new React 16.4.0 component lifecycle ?

Thanks for your answer :)

[2018-06-12 11:35] springuper opened #1351 "inferno-compat document about ReactCSSTransitionGroup"
Document issue for [inferno-compat](https://github.com/infernojs/inferno/tree/master/packages/inferno-compat) is confusing.

[code]

It seems duplicated, which package should i use if i need `React/lib/ReactCSSTransitionGroup.js`?

please fix it.

[2018-06-12 11:47] Thebarda commented on #1350
Woops sorry :/

[2018-06-12 11:47] #1350 closed

[2018-06-12 17:17] Havunen commented on #1351
Hi

@joonaslut created native package for Inferno, maybe that fits your needs ? https://github.com/JoonasLUT/inferno-css-transition-group

[2018-06-12 17:29] Havunen commented on #1323
I think we should start using the new life cycle methods in next major release.

[2018-06-13 10:43] adventure-yunfei commented on #1281
Vote for fragments. It's making Virtual-DOM library possible to use outside DOM.

[2018-06-13 14:50] thebanjomatic opened #1352 "DomAttributes interface specifies onDoubleClick instead of onDblClick"
**Observed Behaviour**

The type definintion for `DOMAttributes` uses `onDoubleClick` instead of `onDblClick` as specified in the documentation here: https://github.com/infernojs/inferno#event-system

As a result, the following doesn't type-check correctly:
[code]

**Expected Current Behaviour**

`DomAttributes` should only specify `onDblClick` and `ondblclick`. If `inferno-compat` requires this e

[2018-06-13 20:45] Havunen commented on #1352
Good catch. Changing this should be straightfoward. Do you want to send PR?

[2018-06-14 03:37] springuper commented on #1351
Sure, i checked its source code and it looks good to me, will try it.

But could you update the README of inferno-compat, to arrange the substitute packages more clearly? It seems confusing for now, both `inferno-transition-group` and `rc-css-transition-group-modern` are good to replace `React/lib/ReactCSSTransitionGroup.js`?

[2018-06-14 03:37] #1351 closed

[2018-06-14 06:19] smcatala opened #1353 "error in codesandbox from v5.1.0: "sh: opencollective: command not found""
**Observed Behaviour**
dependency error in default codesandbox with inferno@^5.1.0:
https://codesandbox.io/s/m9qyj2wv4p
[code]
**Expected Current Behaviour**
ok in codesandbox with inferno@5.0.6 (and previous versions):
https://codesandbox.io/s/znmyj24w4p

[2018-06-14 06:33] Havunen commented on #1353
Hi,

Thanks for reporting this issue. I think this is bug in open collective package. I opened ticket for them.

https://github.com/opencollective/opencollective-cli/issues/10

[2018-06-14 06:34] Havunen commented on #1352
All types are defined here:
https://github.com/infernojs/inferno/blob/master/packages/inferno/src/JSX.ts

[2018-06-14 08:29] smcatala commented on #1353
@Havunen, has the opencollective version [changed](https://github.com/infernojs/inferno/blame/master/packages/inferno/package.json#L54) from v5.0.6 to v5.1.0 ?

[2018-06-14 08:50] smcatala commented on #1353
oddly, HTTP errors seem to occur when downloading inferno@5.1.0 from cloudfront before the opencollective error:
![image](https://user-images.githubusercontent.com/3369203/41401554-7121215a-6fc0-11e8-9f2b-7a371d886cce.png)

there are no such errors with v5.0.6:
![image](https://user-images.githubusercontent.com/3369203/41401495-4e8429c6-6fc0-11e8-93e5-225f53fbc107.png)

[2018-06-14 09:03] smcatala commented on #1353
could this be an issue with [caching npm packages by codesandbox](https://hackernoon.com/how-we-make-npm-packages-work-in-the-browser-announcing-the-new-packager-6ce16aa4cee6)?

or is the json file absent from the npm package ?

[2018-06-14 11:12] smcatala commented on #1353
filed a corresponding issue with codesandbox:
https://github.com/CompuIves/codesandbox-client/issues/904

[2018-06-14 12:06] smcatala commented on #1353
issue solved in codesandbox: https://github.com/CompuIves/codesandbox-client/issues/904#issuecomment-397262760

[2018-06-14 12:09] #1353 closed

[2018-06-21 05:42] sprlwrksAprilmintacpineda opened #1356 "npm run build Failed to minify the code from this file: ./node_modules/inferno-loadable/lib/index.js:3"
https://github.com/kurdin/inferno-loadable/blob/master/src/index.js#L3 directs to `const { createElement } = require('inferno-create-element');`

**Inferno Metadata**

macOS
Chrome
inferno@5.1.1
inferno-create-element@5.1.1

[2018-06-21 09:55] sprlwrksAprilmintacpineda opened #1357 "inferno-router does not call onComponentDidMount on the page component."
[code]

[2018-06-21 09:58] sprlwrksAprilmintacpineda commented on #1357
aa I was mistaken, it was `componentDidMount` for classes, so the prefix `on` works only for functional components.

[2018-06-21 09:58] #1357 closed

[2018-06-23 10:57] Havunen commented on #1356
Hey @sprlwrksAprilmintacpineda

This code is not part of Inferno repository. Please continue there: https://github.com/kurdin/inferno-loadable/issues/2

[2018-06-23 10:57] #1356 closed

[2018-06-25 09:22] sprlwrksAprilmintacpineda opened #1358 "Inferno component is re-mounting the entire tree (including its children) even when not necessary."
## Issue Template

**Observed Behaviour**

Inferno component is re-rendering the entire tree (including its children) even when not necessary.

**Expected Current Behaviour**

Inferno component should not re-render the entire tree but rather only the branches that requires re-rendering due to prop/state updates.

**Inferno Metadata**

macOS
(all of the above) Safari / Chrome / Firefox /
create-inf

[2018-06-25 09:25] sprlwrksAprilmintacpineda opened #1359 "inferno-router: catch Hash history cannot PUSH the same path;"
## Issue Template

Is there a way to catch this and do something?

**Inferno Metadata**

macOS
Safari / Chrome / Firefox /
inferno-router@5.1.1

[2018-06-25 09:33] sprlwrksAprilmintacpineda commented on #1358
`componentDidMount` of children gets called every time the parent re-renders.

[2018-06-25 09:58] sprlwrksAprilmintacpineda commented on #1358
I'm not sure if this  is related to router, the `routes` are the only thing that get's re-mounted. Everthing outside of `<Route />` would not be re-mounted.

[2018-06-25 10:04] sprlwrksAprilmintacpineda commented on #1358
This is how I render my routes:

[code]

The `page component` gets remounted everytime the parent's state changes. But components outside the route does not get remounted such as the topbar for example. I use the state of the parent to determine whether to display particular parts of the app shell or not.

[2018-06-25 19:43] Havunen commented on #1358
Can you create jsFiddle to reproduce it please. You are maybe creating The Component inside render so its different each time.

[2018-06-25 19:44] Havunen commented on #1359
Hi can you give concerete example what you are trying to do please

[2018-06-26 02:39] aprilmintacpineda commented on #1358
Yes! The main `<App />` component is a stateful class component and everything else is inside the render method.

[2018-06-26 02:56] aprilmintacpineda commented on #1358
Aa, I observed another behaviour issue. I have another component outside of the the page, i.e., not a `<Route />` component.

The app looks like this:

[code]

the `Modal` component is doing this:

[code]

This is not the actual code but rather the closes to what I have here. When the `Modal` component updates the state, `componentDidMount` get's called again resulting to this ->

![screen shot 20

[2018-06-26 09:09] sprlwrksAprilmintacpineda opened #1360 "Router nested route does not work properly"
## Issue Template

**Observed Behaviour**

Inferno router is not rendering routes properly.

`<App />` component renders the following

[code]

`<AllRoutes />` component renders the following

[code]

**Expected Current Behaviour**

- When I go to `/en/` it should render the home. (this works)
- When I go to `/en/test` it should render the test 1 route. (this does not work instead it renders the h

[2018-06-26 09:19] sprlwrksAprilmintacpineda commented on #1360
I did it like this:

[code]

didn't work

![screen shot 2018-06-26 at 5 15 47 pm](https://user-images.githubusercontent.com/39720421/41901965-daf8ce5e-7964-11e8-801e-1bbbd78b80d7.png)

So I tried this:

[code]

This time it didn't throw an error but it also didn't work as I expected it to work.

[2018-06-26 16:35] Havunen commented on #1360
I think we need to implement root level array support ( fragments ) to support this use case

[2018-06-26 16:39] Havunen commented on #1359
I'm not very familiar with the Router code base, maybe @nightwolfz @LukeSheard knows better. Meanwhile you can try to check this out yourself?

[2018-06-26 17:00] Havunen commented on #1358
The thing in this case is that you are creating function to `component` property. While this property is supposed to be static component class and not virtual node or function. If you want that you need to use `render` property. Please see documentation here:

https://reacttraining.com/react-router/web/api/Route

[2018-06-26 17:04] Havunen commented on #1352
This is fixed in dev :-) Thanks for reporting the issue

[2018-06-26 17:04] #1352 closed

[2018-06-26 17:16] Havunen commented on #1340
This way no event handlers get triggered but window still opens

[2018-06-26 17:20] Havunen commented on #1340
Fixed in dev

[2018-06-26 17:20] #1340 closed

[2018-06-27 01:52] sprlwrksAprilmintacpineda commented on #1358
@Havunen Ah! I skipped that part when I was reading the docs.

I saw this ->

Sorry, my bad!

[2018-06-27 01:52] #1358 closed

[2018-06-27 21:12] AndyOGo commented on #501
Unfortunately Next.js is using the [short syntax of `React.Fragment`](https://reactjs.org/docs/fragments.html#short-syntax) for it's [`Container`'s render method](https://github.com/zeit/next.js/blob/canary/lib/app.js#L75-L78), which breaks usability of next.js with Inferno 😞

Related issue at next.js:
https://github.com/zeit/next.js/issues/4031

[2018-06-27 21:13] AndyOGo commented on #501
Here is the original feature discussion for fragments in `jsx`:
https://github.com/facebook/jsx/issues/84

[2018-06-27 21:37] AndyOGo commented on #501
This could also be solved by babel JSX plugin similar to:
https://github.com/jquense/babel-plugin-jsx-fragment

[2018-06-27 22:34] smcatala commented on #1263
silently switching `onChange` to `onInput` in `inferno-compat` results in unexpected behaviour when
an `<input type='text' />` tag that calls both `onInput` and `onChange` in an Inferno component designed to run without `inferno-compat` is used together with React components for which `react` is replaced with `inferno-compat`. this occurs when viewing such a component in Storybook.
would it make s

[2018-06-28 05:53] Havunen commented on #1263
@smcatala That sounds like good idea, btw. Please always create new tickets instead of commenting old ones. So its easier to follow. Do you want to implement this?

[2018-06-28 07:15] smcatala opened #1361 "issue a console warning in dev mode when an `onChange` handler is reassigned to an `onInput` handler that already exists."
**Observed Behaviour**
https://github.com/infernojs/inferno/issues/1263#issuecomment-361710508
silently reassigning `onChange` to `onInput` in `inferno-compat` results in unexpected behaviour when
an `<input type='text' />` tag that calls both `onInput` and `onChange` in an Inferno component designed to run without `inferno-compat` is used together with React components for which react is replaced

[2018-06-28 10:18] sprlwrksAprilmintacpineda opened #1362 "TypeError: Cannot set property '$UPD' of null"
## Issue Template

**Observed Behaviour**

Throwing the error but I'm not sure what causes it.

![screen shot 2018-06-28 at 6 15 17 pm](https://user-images.githubusercontent.com/39720421/42028710-9f16a900-7aff-11e8-9c95-1969b9132699.png)

![screen shot 2018-06-28 at 6 19 38 pm](https://user-images.githubusercontent.com/39720421/42028804-f8dba5d0-7aff-11e8-87d9-50af5de2e3ad.png)

![screen shot 2018

[2018-06-28 12:37] Havunen commented on #1362
It usually happens after your own JS has crashed somewhere. Currently this is known issue, because virtual node tree is not matching correct DOM anymore

[2018-06-29 01:50] sprlwrksAprilmintacpineda commented on #1362
is it possible to know where the crash happened?

[2018-06-29 09:10] Havunen commented on #1362
Well just look for the first error in console. And check If that is it. If not then there could be bug. But we need steps to reproduce it. Another way to get this failure is to call callback during Component constructor and setState or forceUpdate on higher level Component before instance of child component is created. This use case will be patched when I have enough time to implement the major ch

[2018-06-29 09:48] sprlwrksAprilmintacpineda commented on #1362
hmmm, I know that the `will` APIs are quite dangerous and are prone to misuse that's why I don't use and and react has already replaced it with `getDerivedStateFromProps` so I'm always using `did` APIs. When I refactored my source codes to use functional components more often the error disappeared but I'm not really sure what caused it, I'm trying to trace back and see what happened.

[2018-06-29 12:52] kurdin commented on #501
We need `Fragment`, more and more React components using it.

[2018-06-29 13:00] Havunen commented on #1362
Are you using mobx or redux?

[2018-06-30 15:03] Havunen commented on #1347
Docomentation has been updated. Re-open If this is still ab issue

[2018-06-30 15:37] aprilmintacpineda commented on #1362
@Havunen no, I'm using [inferno-context-api-store](https://github.com/aprilmintacpineda/inferno-context-api-store)

[2018-06-30 15:40] aprilmintacpineda commented on #1362
my components also don't use `did` apis that match. I may have found a plausible reason. The thing is, I'm relying on the `persistent`  states. And on the library that I'm using, it's loading the persistent states on `componentDidMount`, so initial the `store` has all the initial states in it and will not be updated until the `Provider` has mounted. That's probably where it broke, when I added a c

[2018-06-30 15:41] aprilmintacpineda commented on #1362
I'm working to make `inferno-context-api-store` load the persisted states on the constructor. I think that's a better idea (or maybe not HAHA).

[2018-06-30 16:56] aprilmintacpineda opened #1363 "why does the inferno-test-utils require the DOM as the second param?"
I think it should be removed since it should automatically know to use `inferno-dom` (which I tried using but I got an error saying it's deprecated) or whatever.

The docs should really be improved.

[2018-07-01 06:37] Havunen commented on #1363
`inferno-dom` is legacy and will not work.  What method you are talking about here? This documentation https://github.com/infernojs/inferno/tree/master/packages/inferno-test-utils or something else?

[2018-07-01 11:33] Havunen commented on #1363
@aprilmintacpineda  Something like this could work
[code]

[2018-07-02 18:14] Havunen commented on #1319
Both of your applications seems to work for me, what is the issue?

[2018-07-02 19:00] Havunen commented on #1362
The basic use case for this has been patched in `5.3.0` https://github.com/infernojs/inferno/releases/tag/v5.3.0 I will close this ticket now, if you still experience this issue please re-open with steps to reproduce :)

[2018-07-02 19:00] #1362 closed

[2018-07-03 03:11] sprlwrksAprilmintacpineda opened #1364 "css style tags should be removed when an element has been removed from the nodes."
[code]

This is a component that has it's own css. I expect:
![screen shot 2018-07-03 at 11 11 04 am](https://user-images.githubusercontent.com/39720421/42196680-d7426282-7eb1-11e8-8da4-52dc05b680b7.png)

- The styles are not applied when the component is not rendered (dynamically rendered components).
- The styles are applied when the component is mounted (or before mounting).
- The styles are re

[2018-07-03 05:44] Havunen commented on #1364
Hi @sprlwrksAprilmintacpineda I think this is related to some plugin and not directly to Inferno. Can you create jsFiddle or some repository to reproduce it.

[2018-07-03 07:29] sprlwrksAprilmintacpineda opened #1365 "start inferno-scripts with host flag without using dnsmasq"
is it possible to give a `--host sub.domain.local` to `inferno-scripts start` so that it starts in `http://sub.domain.local:3000` instead of `http://localhost:3000`?

[2018-07-03 07:57] Havunen commented on #1365
@sprlwrksAprilmintacpineda This is in wrong repository, please refer to https://github.com/infernojs/create-inferno-app

[2018-07-03 07:57] #1365 closed

[2018-07-03 17:21] #1341 closed

[2018-07-04 16:55] Havunen commented on #1364
Inferno by itself does not create any script tags or css. Closing

[2018-07-04 16:55] #1364 closed

[2018-07-05 03:53] sprlwrksAprilmintacpineda commented on #1001
@Havunen onTouchStart is still not on the docs?

[2018-07-05 03:56] sprlwrksAprilmintacpineda commented on #1001
it's also good if we can add `onSwipe` event that will allow us to detect swipe directions (left, right, top, bottom).

[2018-07-05 03:58] sprlwrksAprilmintacpineda commented on #1363
That's going to require mocking the `document.body` because running tests is on nodejs environment, `document.body` does not exists there, right?

[2018-07-05 04:00] sprlwrksAprilmintacpineda commented on #1363
Basically, what I want to do, is I want to be able to do this with inferno-js

https://github.com/aprilmintacpineda/react-context-api-store/blob/master/__tests__/provider.spec.js

Notice that I did not have to mock anything about the DOM. All I needed to do was call `renderer.create(<div>I'm a component</div>)` and that's it.

[2018-07-05 05:19] Havunen commented on #1363
Inferno is made DOM in mind. There are no plans to build Inferno native. You need jsDOM If you want to run tests in Node

[2018-07-10 16:49] StefanoMagrassi opened #1366 "inferno-test-utils typescript definition file: broken import"
**Observed Behaviour**

`inferno-test-utils` package's definition file uses a wrong (?) path when "importing" a type for `utils/Wrapper` class:

[code]

and this breaks Typescript compilation:

[code]

It seems that this behavior was introduced in [version 5.2.0](https://unpkg.com/inferno-test-utils@5.2.0/dist/index.d.ts) and is probably due to [dts-bundle](https://github.com/TypeStrong/dts-bundle

[2018-07-11 15:23] mienaikoe commented on #1347
inferno-router documentation still shows match() in dev and master

https://github.com/infernojs/inferno/blob/dev/packages/inferno-router/README.md#usage-server-with-express

Also, what is the workaround for people who need to use match() ?

[2018-07-11 15:36] mienaikoe commented on #1347
StaticRouter is great for server-side rendering, but I was using match in order to do asynchronous API calls before rendering so I could deliver path-specific content. Does StaticRouter replace that behavior somehow?

[2018-07-11 15:50] SeanHayes commented on #1347
https://infernojs.org/docs/api/inferno-server

Is `getInitialProps()` what you're looking for?

[2018-07-11 15:52] mienaikoe commented on #1347
@SeanHayes I knew there was a better way to do this. Thanks for the link!!!

[2018-07-12 05:43] sprlwrksAprilmintacpineda commented on #1103
I experienced this too with `inferno-router`.

## What happened

On a route component, I render a simple div that says **hello**. I used `componentDidUpdate` and `componentDidMount` to call a method that basically checks a particular parameter on the url via `this.props.match.params` with `/my-route/param1`.

#### Sequence:

1. User clicked on a link.
2. User is taken to a **THIS** (where I am exp

[2018-07-13 16:21] mienaikoe commented on #1347
For people from the future:

This solution worked out for me. Nothing else was working.
https://www.youtube.com/watch?v=duhudXkHRf4

[2018-07-19 16:26] maasencioh opened #1368 "Multiple injection with inferno-mobx"
**Observed Behaviour**
If I use inferno-mobx like this, seems that the injected stores in the props are like the image bellow, but if I just inject a single element seems working fine.

[code]

<img width="1119" alt="screen shot 2018-07-19 at 11 20 22 am" src="https://user-images.githubusercontent.com/7273940/42956583-f2a9c81c-8b45-11e8-94bc-60d3ce77d1de.png">

**Expected Current Behaviour**

It s

[2018-07-19 16:39] maasencioh commented on #1368
**Update:** this works, so if the array is not going to be supported you should change your documentation
[code]

[2018-07-23 08:45] tianyingchun opened #1369 "inferno 5.x getChildContext issue"
**Observed Behaviour**

while use getChildContext() we cannot update child component while state changed while hoc component, please see inferno test code

[code]

**Expected Current Behaviour**

it works like react as below code

[code]

**Inferno Metadata**

macOS
Safari

[2018-07-23 08:46] tianyingchun commented on #1369
react it works perfectly, output test, test ,, again in console.log()

[2018-07-23 10:49] sprlwrksAprilmintacpineda opened #1370 "passing props to children"
I saw this question and answer -> https://stackoverflow.com/questions/32370994/how-to-pass-props-to-this-props-children#32371612. Then I saw this -> https://github.com/infernojs/inferno#clonevnode-package-inferno-clone-vnode. Then I saw this issue -> https://github.com/infernojs/inferno/issues/594 which looked almost the same with what I want to achieve. It didn't work. It throws an error saying:

[2018-07-23 10:50] sprlwrksAprilmintacpineda commented on #1370
When I try to use an HOC, it fails with `type is not a function`

[2018-07-24 07:59] sprlwrksAprilmintacpineda commented on #501
So what happened?

[2018-07-25 07:47] sprlwrksAprilmintacpineda opened #1371 "Can we implement getDerivedStateFromProps please?"
React's current `getDerivedStateFromProps ` is great because it would allow you to do state updates on initial mount and on subsequent update, which was previously done through `WillUpdate` and `WillReceiveProps` but was discourage so `getDerivedStateFromProps ` was introduce to handle such use cases.

[2018-07-31 23:30] Havunen commented on #501
I`m currently in USA FL. This is currently first task in my todo list. I will continue it Aug 6th unless somebody wants to send PR :-)

[2018-07-31 23:37] Havunen commented on #1371
Sure. Lets do it for the next major release. You can speed things up by sending PR with test cases ;)

[2018-08-02 09:45] sprlwrksAprilmintacpineda commented on #1362
This error keeps on appearing. I think it's related to multiple state updates. It happens when I update the state on `componentDidUpdate`. I'm pretty certain it has something to do with state update because doing something like this:

[code]

would not throw that error.

[2018-08-06 10:57] Havunen commented on #1368
Yeah, I think it was like that in some older version. I will update the docs. Thanks for raising an issue

[2018-08-06 10:59] #1368 closed

[2018-08-06 14:04] Havunen commented on #1370
Can you create JSFiddle to reproduce it please? https://jsfiddle.net/pzmqLjo7/  That way its easier to fix and create test case.

[2018-08-06 18:58] maasencioh commented on #1368
thank you 👏

[2018-08-07 08:31] sprlwrksAprilmintacpineda opened #1373 "Unmounting a component at will?"
Is there a way to unmount a component at will? For example

[code]

In which case inferno could check if the component should be unmounted, or maybe we could add a little life cycle for this?

[code]

if `componentShouldUnmount` returned `true`, then inferno would be able to detect that and unmount the component immediately.

[2018-08-07 08:39] Havunen commented on #1373
Hi @sprlwrksAprilmintacpineda  You can unmount component by rendering null. For example:

root level:
`render(<FoobarComponent, container);`
can be unmounted using
`render(null, container);`

or if you have sub component you can remove it by using parents render method

[code]

[2018-08-07 08:47] sprlwrksAprilmintacpineda commented on #1373
@Havunen Thanks for the quick reply. The component I want to unmount at will is quite unpredictable. What I am doing is I'm rendering a component that's been async-required, I have a custom made HOC that does the fetching of the component. When the fetching fails (maybe due to a network error), when it fails, I'm giving the user the option to retry it or not to retry it. If the user chooses not to

[2018-08-07 08:55] sprlwrksAprilmintacpineda commented on #1373
@Havunen Thanks for the quick reply. The component I want to unmount at will is quite unpredictable. What I am doing is I'm rendering a component that's been async-required, I have a custom made HOC that does the fetching of the component. When the fetching fails (maybe due to a network error), when it fails, I'm giving the user the option to retry it or not to retry it. If the user chooses not to

[2018-08-07 08:56] sprlwrksAprilmintacpineda commented on #1373
Note that I don't want to just render null because there are other Components that renders the an AsyncComponent during a state change.

I.e.

[code]

[2018-08-07 09:03] sprlwrksAprilmintacpineda commented on #1373
Note that I don't want to just render null because there are other Components that renders the an AsyncComponent during a state change.

I.e.

[code]

On the above example, when Loadable caught the error and the user opted out to retry. The user can still click on other elements on the dom which would change the value of `this.state.preview` which would cause the `<AsyncComponent />` to update **I

[2018-08-07 09:04] sprlwrksAprilmintacpineda commented on #1373
@Havunen I hope you understood my explanation for this use-case...

[2018-08-07 10:11] sprlwrksAprilmintacpineda commented on #1373
I ended up with the following solution:

[code]

Then on the `Loadable` HOC, when it caught an error and the user opted out to retry, it would check if `this.props.emergencyUnmount` is set, if it is it would call it and it's up to the parent to unmount the children that was loaded with it, the bad thing about this is that I'm going to need to pass a `emergencyUnmount` prop to every component that

[2018-08-07 14:58] Havunen commented on #1103
@sprlwrksAprilmintacpineda Are you able to create some place to reproduce the issue you are having, otherwise its difficult to create test case for it.

[2018-08-07 16:37] aprilmintacpineda commented on #1103
@Havunen not yet, I think these kind of error occur during multiple component updates. You can actually get around by setTimeout.

Also, it's not a good idea to do any state updates before the component mounts, you should ensure that the component has mounted before any state changes. In my case it was multiple component updates. My theory is that when I do a state change on the children and at th

[2018-08-07 16:51] Havunen commented on #1186
This is now fixed in dev, fix will be available in next release.

[2018-08-07 16:51] #1186 closed

[2018-08-07 16:52] Havunen commented on #1345
This is now fixed in dev, fix will be available in next release.

[2018-08-07 16:52] #1345 closed

[2018-08-07 16:54] Havunen commented on #1369
This is now fixed in dev. Fix will be available in next release

[2018-08-07 16:54] #1369 closed

[2018-08-07 17:11] Havunen commented on #1366
Thanks for reporting the issue @StefanoMagrassi ! This is now fixed in dev and will be available in next release.

[2018-08-07 17:11] #1366 closed

[2018-08-07 18:08] Havunen commented on #1223
This has been fixed by Rollup, long ago https://github.com/rollup/rollup/pull/499/files
Closing as it now extends Inferno

[2018-08-07 18:08] #1223 closed

[2018-08-07 19:25] Havunen commented on #1190
Im closing this ticket, because caching should not be in core IMO. We could implement hoisting for static elements later. But that is different thing.

[2018-08-07 19:25] #1190 closed

[2018-08-08 19:28] Havunen commented on #1347
Indeed, there is still issue in documentation, somebody please send PR to fix it :)

[2018-08-10 07:14] sprlwrksAprilmintacpineda opened #1374 "Possible bug: dynamic component's ref is always null"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/inferno.js).
- Check that the i

[2018-08-10 09:44] Havunen commented on #1374
It will be called, but `componentDidUpdate` is too early. Its been always like this in Inferno, but later it was discovered React calls refs before componentDidUpdate so its considered bug now. There is already ticket about this: https://github.com/infernojs/inferno/issues/1286

[2018-08-10 11:15] sprlwrksAprilmintacpineda commented on #1374
Any fix so far?

[2018-08-13 18:38] Havunen commented on #1374
@sprlwrksAprilmintacpineda You can try to take stab at this! To quickly run tests type: `npm run test:node` and if you need to debug, check out the `contribution.md`. The issue is that refs need to be called after they are actually attached to DOM.

[2018-08-16 09:24] ChrisKuBa opened #1375 "Setting css variables by a style object - style.setProperty is needed"
Hi,

I think an example is not necessary, because it is a raw javascript issue.

_inferno/src/DOM/props.ts - patchStyle_

The function sets the styles via object access: **domStyle[style] = ...**

The proplem is, that css variables can only be set by **domStyle.setProperty(style, ...)**

Please change that, if there isn't a performance or compatibility impact.

Thx

[2018-08-16 15:28] Havunen commented on #1375
Hi @chrkulbe thanks for reporting the issue. Fixing this seems trivial, but could you provide test case so we can make sure it does not break in future again please?

[2018-08-17 08:30] chrkulbe commented on #1375
Hi,

after writing a test its seems, setProperty has different parameters, because it requires the the hyp-hen syntax instead of camelCase keys.
To prevent breaking changes its the best that only css vars will be set with setProperty.
Maybe this has a performance impact, because an additional condition and two string reads for every changed style are necessary.

[code]

But the test case will fail

[2018-08-18 07:32] Havunen commented on #1375
Hi @chrkulbe I remember now that we actually had similar issue already last year. We used to do checks for hyphen in patchStyle routine but it has big impact on performance when application uses style as objects. If I remember correctly the issue was resolved by using style as text. In inferno you can write style as plain string and it will then use `cssText` property.  Can you try if that resolve

[2018-08-18 09:08] chrkulbe commented on #1375
Hi,

I know, that sting based style will change cssText directly. But this is on component level not performant when I use strings all the time (string manuipulation).
If I use style objects they must be converted to a string on every render call on each class. :o(

Another idea with an minimum performance impact is to use a reserved key like '--' with a subobject for the variables. If css variabl

[2018-08-18 10:06] Havunen commented on #1375
@chrkulbe Did you measure performance difference using string vs object literal? I believe ( didn't test ) setting DOM style property multiple times costs more than string manipulation. However I like this feature request, lets implement it and keep performance as good as possible.

[2018-08-18 12:16] chrkulbe commented on #1375
@Havunen No I didn't measure it in perfection.

[jsperf: style vs cssText vs setAttribute](https://jsperf.com/style-vs-csstext-vs-setattribute/19)
Different runs lead to different winners but all in range of one tenth slower. JQuery performance is bad every time.
Tested with latest Chrome and Edge.
IE 11: cssText twice faster than style / setProperty
FF latest: setAttribute("style", text) is six t

[2018-08-18 12:43] trueadm commented on #1375
Using the Typed CSSOM will be the fastest approach, otherwise strings tend to be faster in real-world applications as they are better on the GC than many object allocations/property accessing. I wouldn't use jsperf benchmarks to compare these sorts of things, they will never be representative of performance in an app's UI.

[2018-08-18 13:50] Havunen commented on #1375
We actually recently switched from object literal styles to string text, because there were some customers complaining lag. It improved one of our gantt view performance more than 30%

[2018-08-18 13:50] Havunen commented on #1375
In that view there can be hundreds or thousand elements, so it had big impact

[2018-08-18 14:01] chrkulbe commented on #1375
Interesting.

How do you do that.
Configure a style object and join all to a string where the keys are hyphen based and save time to prevent mapping from camelcase to hyphen based style?

Is this an option for inferno core?
Only iterate the current style object once ans overwrite the cssText (without delelting unser old style?)

[2018-08-18 18:01] Havunen commented on #1375
We actually manually converted all relevant source code to use hyphen styled version strings. I can try to post video or something similar here to show our case. before and after cases

[2018-08-18 20:05] chrkulbe commented on #1375
@Havunen

Yes, setting css var through cssText works in generally.

In a perfect world Inferno has an option/flag for a hint that a style object contains only hyphen based keys. Otherwise camelCase will be expected.

Why the camelCase syntax is currently the preferred style when an object is used? Compatibliity to react?

[2018-08-18 22:36] Havunen commented on #1375
@chrkulbe yeah its for React compatibility, we should also consider changing it. In my opinion Inferno should take its own path in this kind of things. Supporting CSS variables sounds big enough reason to me. What do you think? We can add transformation to inferno-compat pkg to supporting React way

[2018-08-19 06:52] chrkulbe commented on #1375
@Havunen I think Inferno can become a precursor :o)
Inferno is build for speed. If cssText is up to 30% faster we should support it with a hyphen based style object only.
Alternatively setAttribute('style, ...) if this is faster.
Css varaiables will become secondary, but supported.

But I dont know if a migration time span is necessary, so other developer can switch slowly if they use the camelcas

[2018-08-20 11:53] chrkulbe commented on #1375
What will be the next step?

- switching to hyphen based style in style object with react compat fallback?
- special key in the style object für css variables?

[2018-08-23 18:56] Havunen commented on #1103
Hey @aprilmintacpineda Do you still face this issue without setTimeout when using `inferno 5.4.2` If so, it would be nice to have steps to reproduce it somewhere, I would like to fix this.

[2018-08-24 02:29] sprlwrksAprilmintacpineda commented on #1103
Imagine if you have a component whose state changes based on the prop, you'll have to handle that on the `componentDidMount` and do setState there, which will update the component thereby running the `componentDidMount` again. So you have to check whether to update the state on the `componentDidMount` or not or else you'll be trapped in an infinite update. This is quite ineffective since you just

[2018-08-24 05:30] sprlwrksAprilmintacpineda commented on #1103
Hmm, looks like it's gone, I'm doing multiple state updates and without using the callbacks for the setState,

because before I do:

[code]

Now I do:

[code]

Anyhow, keep this open for the mean time. If could not replicate it tomorrow then it must have been fixed.

How did you fixed it? what went wrong?

[2018-08-24 19:54] Havunen commented on #1103
In inferno you can do setState in componentWillMount and componentWillReceiveProps and it wont render again only once and use new state.

About the issue there was bug that previous vNode was changed before update finished so that might have caused strange issues

[2018-08-24 19:57] Havunen commented on #1103
But I think I will just add those lifecycle methods for next release and new `createRef` API too

[2018-08-25 00:12] sprlwrksAprilmintacpineda opened #1376 "componentDidUpdate gets called more times than necessary"
## Issue Template

In the example repro below. There are two components, the `App` component and the `ChildOne` component, they both have `count` as their state and `increase` as their method. The `App` component renders the `ChildOne` component passing its count and increase method to it. In the `ChildOne` there's a button, when you click the button I expected the following to happen:

1. The `Ch

[2018-08-25 01:40] aprilmintacpineda commented on #1103
@Havunen I can't reproduce this issue anymore.

[2018-08-25 01:55] viotti commented on #486
In case anyone is interested, I made this: https://www.npmjs.com/package/inferno-compat-mui.

Seems to work with Material-UI 1.5.0 and Inferno 5.4.2.

[2018-08-26 10:07] Havunen commented on #486
@viotti If you want you can send PR to add it to website, you can add it here:
https://infernojs.org/docs/guides/libraries

https://github.com/infernojs/inferno-website

[2018-08-26 10:15] Havunen commented on #1376
Its working as expected; Because you are comparing prevProps to the current state;

Let me explain:
ChildOne does setSate => componentDidUpdate 1
Parent does setState which renders children again => componentDidUpdate 2
-> Now here you are comparing previous props, which are the old props not the recent props in, so it calls AppComponentIncrease  again
Parent does another setState renders children

[2018-08-26 10:15] #1376 closed

[2018-08-26 13:47] naruaway opened #1377 "Inferno 4.5.1 and 4.5.2 TypeScript typing errors"
Hello! Thank you for creating this awesome library.

I encountered a lot of typing errors when updating to Inferno 4.5.2 from 4.5.0.

I found that when using Inferno 4.5.1 and 4.5.2 with TypeScript,
`tsc` emits a lot of typing errors.
For you to check them, I created [a repo](https://github.com/naruaway/inferno-5.4.2-reproduce-typing-errors) for reproducing these errors.

With Inferno 4.5.0, there

[2018-08-26 17:46] Havunen commented on #1377
without using `outputAsModuleFolder` -option, dts-bundle emits declare module and namespace stuff which is not valid for external libraries... Do you have any glue how to fix this?

[2018-08-27 01:29] sxwebdev opened #1378 "contenteditable bug"
When I upgraded inferno to 5.4.2, I got this error [https://github.com/infernojs/inferno/issues/1186](https://github.com/infernojs/inferno/issues/1186)

Content does not update and sometimes i get this error
![image](https://user-images.githubusercontent.com/3129246/44635993-c9845a80-a9b1-11e8-89fe-adafebdf0617.png)

Code for test:

[code]

`package.json`

[code]

[2018-08-27 15:43] Havunen commented on #1378
Hi @sxwebdev thanks for reporting the issue. I have tried to reproduce it using the code you have provided but I could not get it to fail. Did you remember to update JSX plugin also 5.1.0, That upgrade is required for content-editable elements to work better

https://github.com/infernojs/inferno/releases/tag/v5.4.0

[2018-08-27 15:44] Havunen commented on #1378
https://github.com/infernojs/babel-plugin-inferno

[2018-08-27 15:57] sxwebdev commented on #1378
Hey. Version of the babel-plugin-inferno is 5.1.0.
You can create new inferno app and paste this code to `App.js`

[code]

If you try to enter text into the content area, you define this problem. The cursor moves to the beginning of the text.

In my current development application, if I focus on the content area, I will see the error that I described in the previous message.

[2018-08-27 15:59] sxwebdev commented on #1378
this code works as expected in previous version of infernojs

[2018-08-29 15:05] eramosr18 opened #1380 "Components aren't rendered after upgrade from 3.6 to 5.4.2"
Hi, I have a legacy app it was using a little old version of Inferno library, I updated to use the new 5.4.2 version after doing it the components don't render inside the UI, don't raise an exception though. I test it rendering html elements like **div**, **p** and it works, but when I use a custom component it doesn't show anything.
For references here is the **package.json**:
[code]

[2018-08-29 15:26] eramosr18 commented on #1380
It seems that **inferno-create-class** package is messing the object returned, since I tried with
`var el = template.container.create();

        const MyComponent = ({ name, age }) => (
          <span>My name is: { name } and my age is: {age}</span>
        );

        Inferno.render(
            <MyComponent />,
            el
        );`
and it works as expected

[2018-08-29 17:28] Havunen commented on #1380
@eramosr18 What are you using `inferno-create-class` for? Its mainly for React compatibility if you want to use `inferno-compat`, but I dont see that package in your list.

[2018-08-29 17:54] eramosr18 commented on #1380
@Havunen We have several components around 70 that use this component and they are written in an style similar to this example:

[code]

[2018-08-29 18:04] eramosr18 commented on #1380
@Havunen I could remove those packages, but I made some tests and it seems the issue is in the **inferno-create-class** , the object it returns don't seems to function with the **Inferno.render**.

[2018-08-29 18:08] Havunen commented on #1380
I need to look into it after I'm done with my current task

[2018-08-30 21:49] #1337 closed

[2018-09-01 14:57] Havunen commented on #1380
This is bug, thanks for reporting it @eramosr18

[2018-09-01 15:04] Havunen commented on #1380
This is fixed in dev and will be available in next release.

[2018-09-01 15:04] #1380 closed

[2018-09-01 15:16] Havunen commented on #1378
Hey @sxwebdev
I had a look at this and it happens, because your components props and state are not in sync. Basically you are rendering Hello World! over the typed text. This is because virtual DOM overrides html.

You can try out following code ( Pardon me, I did this quickly and did not pay that much attention to it)

[code]

See the console logs for updates

[2018-09-01 15:16] #1378 closed

[2018-09-01 16:07] Havunen commented on #1377
I found way to fix this. We need to include all typescript definitions created by typescript compiler with the library. I will make that change and release 5.5.0, That should work in both use cases. I also removed `dts-bundle` it seems not to be maintained.

[2018-09-01 17:05] Havunen commented on #1377
Inferno v5.5.0 released, it should fix this.

[2018-09-01 17:05] #1377 closed

[2018-09-02 08:58] Havunen commented on #1103
The errors in this thread has been fixed. The original repro will not work in React either so there is something wrong in it. Inferno works same way as React so I'm closing this as working as intended now.

Here is React version behaving same way as Inferno:
https://jsfiddle.net/2ukzrbwg/

[2018-09-02 08:58] #1103 closed

[2018-09-02 09:02] Havunen commented on #1375
I think we could switch to hyphen based styles in v6.0.0 and use `style.setProperty` to me it looks much more web compatible and future proof compared to directly assigning style properties. For `inferno-compat` we could transform hyphens to `camelCase` runtime. I will implement this now with test case, unless something unexpected shows up

[2018-09-02 19:59] Havunen commented on #1370
I noticed you can get this error if you do:

[code]

because `<div>` is not component in Inferno. I will improve the error message for v6

[2018-09-02 20:54] Havunen commented on #1360
I have improved the sub route handling in v6.0.0

and just for the record here is fixed route setup:

[code]

[2018-09-02 21:05] Havunen commented on #1370
to pass props, this is the safe way
[code]

[2018-09-02 21:11] Havunen commented on #1281
Fragments will land in 6.0.0

[2018-09-02 21:11] #1281 closed

[2018-09-02 21:12] Havunen commented on #1319
Closing due to no activity, please re-open if there is something we should fix in inferno. Or clarify in documentation

[2018-09-02 21:12] #1319 closed

[2018-09-02 21:27] Havunen commented on #1266
At first I thought this would be just optional try catch wrapper, but its not so simple, because Inferno uses native DOM events, and those will not be caught by simple try catch above diff routine. :/

I think this will not land in next release, maybe v7

[2018-09-02 21:29] Havunen commented on #930
I think this works as expected
https://jsfiddle.net/2axgrnkv/

Please re-open if its still an issue

[2018-09-02 21:29] #930 closed

[2018-09-03 13:31] aminshoman opened #1381 "Supprot React.forwardRef to HOC components"
Inferno not supporting  React.forwardRef propsed by React 16.3

https://reactjs.org/docs/forwarding-refs.html

[2018-09-03 16:11] Havunen commented on #1381
Ok, lets add it

[2018-09-03 18:05] Havunen commented on #1381
done

[2018-09-03 19:38] Havunen commented on #1222
I think we could just add the context as fourth parameter. It can be useful. And simple to implement

[2018-09-03 20:39] aminshoman commented on #1381
@Havunen thanks brother,
antther very important features is the rendering errors handeling that was interduced with React 16 as a life-cycle method "componentDidCatch"
https://reactjs.org/blog/2017/07/26/error-handling-in-react-16.html

Do you have this on the next plan? or shall I open a feature request issue?

[2018-09-04 05:53] Havunen commented on #1381
There is an issue about that already:
https://github.com/infernojs/inferno/issues/1266

I know some libraries just wrap the diffing in try catch and thats it, but its not actually how React does it, because it can catch event listeners too.

[2018-09-04 05:53] Havunen commented on #1381
Or maybe we implement it the basic way and document the difference

[2018-09-04 08:12] trueadm commented on #1381
React doesn’t catch event listeners. It unmounts from the root of a tree does not explicitly catch the exception in a componentDidCatch

[2018-09-04 16:09] Havunen commented on #1381
Ah okay! Should be doable then

[2018-09-04 21:15] aminshoman commented on #1263
@Havunen please include this in v6.0 it is very annoying issue with inferno-compact

[2018-09-05 05:34] Havunen commented on #1263
@aminshoman warning will be thrown if onInput handler is used https://github.com/infernojs/inferno/issues/1361

I recommend using inferno-compat for transition process to inferno, not permanent solution

[2018-09-06 03:00] sprlwrksAprilmintacpineda opened #1383 "componentDidUnmount on class components not being called."
https://jsfiddle.net/pzmqLjo7/205/

[2018-09-06 05:36] sprlwrksAprilmintacpineda opened #1384 "state changes clash"
**Observed Behaviour**

When doing state changes, some of the changes would clash together creating an inconsistent and unexpected changes to the state.

In my case, this happened like this:

[code]

This would register a listener to the `history` passed as `props` by inferno-router. The listener of course would fire for every route changes. When a condition is met, it would then check for a condi

[2018-09-06 05:40] Havunen commented on #1383
no Such thing as `componentDidUnmount` exist. Use `componentWillUnmount` not even in React:
https://jsfiddle.net/fo3krytv/

[2018-09-06 05:40] #1383 closed

[2018-09-06 05:42] Havunen commented on #1384
@sprlwrksAprilmintacpineda setState logic will be changed in v6, but without test case or steps to reproduce there is not much we can do

[2018-09-06 05:53] sprlwrksAprilmintacpineda commented on #1384
@Havunen I have updated the description, I couldn't create a repro in jsfiddle since I don't know how to  integrate inferno there with the inferno-router.

[2018-09-06 05:57] sprlwrksAprilmintacpineda commented on #1383
@Havunen

https://infernojs.org/docs/guides/components

![screen shot 2018-09-06 at 1 56 22 pm](https://user-images.githubusercontent.com/39720421/45137780-a9883e80-b1dc-11e8-8e6a-0c5f72cebd68.png)

[2018-09-06 05:58] Havunen commented on #1383
Ah, that seems like documentation error then

[2018-09-06 05:59] Havunen commented on #1383
I can update the website when I'm home

[2018-09-06 06:04] sprlwrksAprilmintacpineda commented on #1383
aa So it did exist then was removed? Is it safe to do state changes on the `willUnmount`?

[2018-09-06 06:34] Havunen commented on #1383
No it has never existed, yeah you can do state change, but it will unmount during the event loop. unsafe methods from React perspective are:

`componentWillMount`
`componentWillUpdate`
`componentWillReceiveProps`

But inferno perspective it does not matter, they are same as anything else

[2018-09-06 06:44] Havunen commented on #1384
@sprlwrksAprilmintacpineda You can use this: https://codesandbox.io/s/l99lxnk0nz  I created basics for it

[2018-09-06 12:13] IgnusG commented on #1384
@sprlwrksAprilmintacpineda Have you tried setting the state using a function?
[code]

This should ensure reliable state updates.

[2018-09-06 20:59] Havunen commented on #1373
Im closing this because you can simply do setState({unmount:true}) and shortcircuit render to return null.

[2018-09-06 20:59] #1373 closed

[2018-09-07 08:50] sprlwrksAprilmintacpineda commented on #1384
@IgnusG Still doesn't work, states are very unpredictable, I have no idea how inferno handles state updates but it certainly isn't very efficient. Consider the following:

- A component renders a child component.
- The child component calls a prop provided by it's parent component, the prop is a function that's going to `setState` on the parent component causing that component to update.
  - The c

[2018-09-09 09:27] Havunen commented on #1347
I updated the server side rendering documentation.

[2018-09-09 09:27] #1347 closed

[2018-09-10 09:57] Havunen commented on #1384
@sprlwrksAprilmintacpineda Were you able to reproduce the issue? The thing you described works as you said, because my understanding is that if you use `did update|mount` this comes after updates to the DOM so new render is must, if you do it in `will` events they occur before patching to DOM and state change could be merged into one.

[2018-09-10 10:56] chrkulbe opened #1385 "Testing with Jest and snapshot. renderToSnapshot function doesn't include className"
#1162

The fix above works for 3 month after fixing. Since 9 month a performance update break it.

The Problem:
className wouldnt be render to the snapshot, because inferno sets **props.className** to **undefined** and **vNodeToSnapshot** (jest adapter) **overrides** the **vNode.className** with **props.className** (=undefined).

Before the **delete props.className** removed the key from the props

[2018-09-10 11:00] Havunen commented on #1385
Hi @chrkulbe are you using `inferno-compat` ? There are test cases for className here: https://github.com/infernojs/inferno/blob/master/packages/inferno-test-utils/__tests__/testUtils.jest.spec.jsx#L22-L48 so maybe we are missing some use case

[2018-09-10 11:17] chrkulbe commented on #1385
Hi,

no we using pure inferno without compat.

But try to use jest with snapshots and renderToSnapshot from inferno-test-utils.

Jest and snapshots are independent of react! And renderToSnaphot should also.

[2018-09-10 14:35] Havunen commented on #1385
@chrkulbe `className` is preferred; I'm just trying to track down the issue; Are you using `babel-plugin-inferno` with JSX? or createElement / hyperscript API? because there must be issue somewhere. I would like to write test case for this to avoid regression in future

[2018-09-10 14:43] Havunen commented on #1385
Or maybe you are using `spread` attribute? The thing is: In inferno `className` should always be in virtual node. For React compatibility: `inferno-compat` will assign className to props. However, real inferno code never reads className from props.

Source:
https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/patching.ts#L104-L105

- I don't understand how this fixes the issue

[2018-09-10 15:07] chrkulbe commented on #1385
We dont use the hyperscript api but the babel inferno Plug-in.I think you can comprehend the issue by just looking at the linked source code lines if I understand the problem correctely.If you need a test I can wrote one tomorrow.

[2018-09-10 15:28] chrkulbe commented on #1385
Based on your comments I think I understood  your misunderstanding.The problem only exist in combination with snapshot tests. Inferno will render correctely. In the snapshot the className attribute is missing.The inferno testutil code prefers props.className instead vnode.className, but inferno sets props.className to undefined, so vNode.className will always overriden by undefined from props.clas