[2016-05-01 07:35] #207 closed

[2016-05-01 08:14] jwarning commented on #207
Awesome, good work guys! Works as expected now.

[2016-05-02 09:09] gajus opened #210 "Consider removing the style prop optimisation"
We are looking to migrate a large codebase to Inferno. However, this micro optimisation makes it virtually impossible. Not only because of the amount of work it would take to update our components, but also because of third-party components that we cannot update.

What exactly is the code that you have removed? It simply cannot be a bottleneck of any performance issue. I imagine it is something as

[2016-05-02 09:33] trueadm commented on #210
@gajus Thanks for the feedback. We've actually heard similar feedback from other users suggesting the same so we'll be adding it back into Inferno in the next update. Thanks for using Inferno :)

[2016-05-04 14:08] negamaxi commented on #201
How about this benches? http://mathieuancelin.github.io/js-repaint-perfs/

Inferno looks pretty damn fast here, but no mentioning what version was used.

[2016-05-04 14:24] Keats commented on #201
The source says inferno 0.1.3

[2016-05-04 14:28] trueadm commented on #201
@Keats @negamaxi it's a very old version, it's annoying that we cannot control the version on there without submitting a PR for each update (the author took a while to accept the last PR).

[2016-05-13 22:13] ghost opened #217 "isparta no longer maintained"
Seems like Isparta is is used as the code coverage reporter. It's no longer maintained.

Look at the badge on the repo: https://github.com/douglasduteil/isparta

[2016-05-24 13:22] Kflash opened #219 "Progress on v. 0.8?"
I took a break from Inferno, and come back online now. Seems like there are no v. 0.8 yet? And there are 2 - 4 days between each commit?
What is the progress of v. 0.8?

[2016-05-24 13:24] trueadm commented on #219
Hi @Kflash,

I've had a very busy week dealing with some RL events – so I've not had the time to work on Inferno as much as I'd like. Progress on 0.8 is going really well though and I'm happy with the adoption of TS.

[2016-05-24 23:08] Kflash commented on #219
I understand. Anyway. I will keep an eye on this project from time to time. So TS are good?

[2016-05-28 11:06] minimok opened #220 "Siblings"
Is it possible, given an empty <body>, to render into it the following:
<div class="sidebar-overlay"></div>
<div class="sidebar-left">...some sidebar content</div>
<div class="main-views">...the main application</div>

These are 3 siblings not a single hierarchy. Have not seen how this can be achieved in inferno, which only seems to render a single hierarchy. Wrapping the siblings inside the div i

[2016-05-28 11:07] trueadm commented on #220
Hi @minimok can you give some example code? It sounds like you want to render multiple adjacent children?

[2016-05-28 11:09] minimok commented on #220
yep...sorry...the editor swallowed it..markup problem...
"<body>" should contain..
"<div class="overlay">"
"<div class="sidebar">"
"<div class="main views">"

[2016-05-28 11:15] minimok commented on #220
Yes that's the idea. Cannot get the markdown into this editor.
but basically a body elem containing 3 divs
`<body>`
`<div class="overlay"></div>`
`<div class="sidebar"></div>`
`<div class="main-view"></div>`
The sidebar and the main view of course have their own elements inside. The overlay just gets its class set to visible/hidden.
So yep...just 3 siblings all parented to `body`

[2016-05-28 11:18] trueadm commented on #220
Well in terms of context, you need to make sure an `array` of child nodes has a single parent node. So for example:

[code]

[2016-05-28 11:20] minimok commented on #220
Aha, yes. This is my problem. That 'wrapper' div breaks the css for the app, which is 200k minified!

[2016-05-28 11:22] minimok commented on #220
Ok, will close. But thanks for confirming. Excellent job by the way. We have it working, driven off a 'mobx' instance and performance is excellent.

[2016-05-28 11:24] trueadm commented on #220
@minimok could you simply change how your CSS works to get around this? Mounting multiple "root" nodes is difficult to manage in a performant way, I mean it's definitely possible to change Inferno to support this (0.8 will have better support) but it means a more complex/slower handling of large lists of nodes. Ah, MobX is great, I'm glad you've had great results with Inferno :)

[2016-05-28 11:26] minimok commented on #220
Yep...will do. Changing the CSS was 'Plan B'. Thought I'd see first  if I'd missed any obvious way of rendering 3 elems without declaratively 'parenting' them...Enjoy the weekend!

[2016-05-28 11:26] #220 closed

[2016-05-28 11:28] trueadm commented on #220
Thanks, you too :)

[2016-06-01 10:33] buzinas commented on #44
Just saw that the new dev branch was migrated to TypeScript. That's awesome, congrats!

[2016-06-01 12:07] trueadm commented on #44
@buzinas Thanks :) I'm enjoying TS too. It's massively improved since I tried it out a few years ago.

[2016-06-01 12:11] buzinas commented on #44
Yeah, @trueadm, TypeScript today is all about Javascript Next with types. If you use VSCode is even better with its code intellisense, linting etc.

[2016-06-01 12:11] trueadm commented on #44
@buzinas I am indeed using VSCode – really enjoying it too. Although, lack of global find and replace is a bit annoying!

[2016-06-04 19:36] vic commented on #201
Also another clarification for the README: Cycle is not a DOM library, it actually uses vdom (and in an upcoming version snabbdom) for rendering and it'd actually be easy to create an Inferno driver for rendering on cycle apps.

[2016-06-04 20:39] devanp92 opened #223 "Potential performance improvement"
In [rendering.js](https://github.com/trueadm/inferno/blob/master/src/DOM/rendering.js#L9) each for-loop can be optimized by first caching the length of the array. Unfortunately, jsPerf is down, but [this article](http://www.2ality.com/2013/07/for-loop-performance.html) might provide insight.

[code]

[2016-06-04 20:44] leeoniya commented on #223
pretty much all modern Javascript JITs will detect the length invariance and do this optimization for you. it may have mattered when the article was written (2013), but not today.

[2016-06-04 20:44] #223 closed

[2016-06-04 20:45] devanp92 commented on #223
Ah, gotcha. Thanks  - I didn't know about that.

[2016-06-05 04:48] localvoid commented on #223
http://mrale.ph/blog/2014/12/24/array-length-caching.html

[2016-06-05 09:01] JSONVoorhees commented on #7
Is it possible to consider using ISC again for the reasons outlined in [this thread](https://news.ycombinator.com/item?id=11839361)?

[2016-06-05 12:08] JSONVoorhees commented on #7
:sparkles: :heart: :sparkles:

[2016-06-05 12:10] trueadm commented on #7
@JSONVoorhees I'll change Inferno over to MIT later today when I get a chance or if you have time a PR would be awesome :) I understand the valid reasons to use MIT now. So that's all cool with me :)

[2016-06-06 17:31] developit commented on #223
@devanp92 JSPerf won't be back any time soon sadly :(  I threw esbench.com together a while back as a replacement, using the same Benchmark.js lib. [Here's a benchmark](https://esbench.com/bench/5755b284db965b9a00965ade) showing @leeoniya & @localvoid are very much correct!

[2016-06-06 19:53] leeoniya commented on #223
@developit thanks for esbench, i'll be playing with it. you and @localvoid should collab to integrate https://github.com/localvoid/perf-monitor and/or https://github.com/localvoid/uibench into esbench.com ;)

[2016-06-06 20:18] developit commented on #223
Definitely. I use uibench probably 3 hours per day (is that embarrassing? I blame @trueadm lol). It would be super cool to have a benchmarking tool focussed on UI stuff that supported importing npm modules and/or files from disk.

[2016-06-06 20:18] trueadm commented on #223
@leeoniya @developit I wish everyone would stop using that "js-repaint" tool. It's completely inaccurate, has no actually bearing on performance and has been wholly misleading the entire community as to how dbmonster "really" performs. I was going to write a Medium thread on it actually, but didn't have the time.

[2016-06-06 20:23] trueadm commented on #223
@developit I'm glad my compulsive performance rubbed off on you :D

[2016-06-06 20:28] leeoniya commented on #223
@trueadm

It's difficult to agree with such a grand statement when the bench does in fact correlate well with the perceived performance attained and overhead incurred. At least in relative terms it is a very useful comparison/sanity-check tool even if the "fps" and other metrics are not accurate in the absolute. I would be very interested to read your writeup if you get around to it, btw.

[2016-06-06 20:33] trueadm commented on #223
@leeoniya It's inaccurate as you can easily gain "more" higher repaints artificially. Prime example is the Angular 2  and the Web Worker example, where it shows repaints at 130/s on my machine, yet you can't even scroll the page due to the lag it causes (I'm sure you saw/have the link, I'm on my phone atm so don't have it handy). The thing about pure FPS is, well it's actually the UI updating acco

[2016-06-06 21:08] leeoniya commented on #223
@trueadm it's one thing to say the bench is game-able but something else to state that it is therefore entirely worthless. You're right that the current crop of implementations need to be vetted for using such sneaky tactics. Without profiling tools built into the browser itself (like repaint/reflow/mem-alloc/gc events) i think it would be difficult (impossible?) to make perf tools that cannot be

[2016-06-06 21:14] trueadm commented on #223
@leeoniya In my profession and experience, and this is something I have a lot of experience with, if you don't make a stand and say something is useless in terms of a benchmark (even if it had some value at one stage) people will simply neglect changing it and continue to use said tools.

Personally: I think the uibench is far better indication of performance in terms of real world use. We could m

[2016-06-06 21:17] trueadm commented on #223
On a side note: I'm trying to work out why the new Mithril re-write:

https://cdn.rawgit.com/lhorie/mithril.js/rewrite/examples/dbmonster/mithril/index.html

Performs 4-5 FPS better than Kivi and Inferno. Not really had a chance to dwelve too deeply in it, but it's interested to know if @localvoid and I are missing some better way at applying DOM mutations.

@developit I'd really appreciate it if

[2016-06-06 21:22] leeoniya commented on #223
@trueadm for the record, the only person who mentioned "js-repaint" and "dbmonster" was yourself; i only brought up perf-monitor and uibench :D

[2016-06-06 21:24] trueadm commented on #223
@leeoniya you knew what I was referring to :)

[2016-06-06 22:38] developit commented on #223
@trueadm which FPS counter?  I actually ended up grabbing monitor.js and the FPS display from your hosted version since they seemed less bad.  I've been hacking on things privately but will publish soon as part of the official 5.0 cutover.  I'm still annoyed that for a performance benchmark, the monitor is creating an infinite stream of TextNodes (setting `.textContent` on an Element rather than o

[2016-06-06 22:59] leeoniya commented on #223
Something I use for DOM-op regressions (and is part of all tests) is a DOM-instrumentor I put together [1]. It ensures that only the expected quantity of specific DOM ops are performed during recycling. I've also considered using strictdom[1], but since done of our libs read the DOM, it may not be too useful. For lib overhead regressions not related to DOM i still use dbmonster/perf-monitor, but w

[2016-06-06 23:32] developit commented on #223
@leeoniya yeah. uibench is super helpful because you can see _which types_ of operations regressed (eg table/sort slows down a bunch? keys issue, recycler priority, offset bug - etc).

For fragments, that's actually an optimization I've had in preact ([here](https://github.com/developit/preact/blob/07737755f7f90bb7101261305e8baa917afc59cf/src/dom/index.js#L22-L28)) for a while but never directly t

[2016-06-07 03:11] localvoid commented on #223
@trueadm

Opened dev tools, found out that it recalculates styles way much faster, then opened css file: https://cdn.rawgit.com/lhorie/mithril.js/rewrite/examples/dbmonster/styles.css
The main difference is that we use //netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css

[2016-06-07 03:39] localvoid commented on #223
@leeoniya

There are no reasons to use fragments when inserting children:

https://chromium.googlesource.com/chromium/blink/+/master/Source/core/dom/ContainerNode.cpp#66
https://chromium.googlesource.com/chromium/blink/+/master/Source/core/dom/ContainerNode.h#367

[2016-06-07 14:13] kapouer commented on #21
Can the diff algorithm be used for diffing "real" DOM nodes or is it tied to inferno's vdom implementation ?

[2016-06-07 14:17] trueadm commented on #21
@kapouer Inferno only diffs against Inferno's vdom nodes and tries to avoid touching the DOM where possible (for better performance). The only exception to this is where Inferno needs to hydrate the vdom against the real DOM (which is currently a WIP for 0.8).

[2016-06-07 14:28] billsykes opened #228 "What is the recommended way to handle routing in inferno?"
Is there some equivalent to react-router? Or would it be possible to actually use react-router with inferno?

[2016-06-07 14:39] kapouer commented on #21
I'm asking because there is no "perfect" solution for diffing real dom nodes using basic level1 api (nodeType, attributes, nodeName, childNodes). Morphdom is not right and diffDOM has subtle errors,
hence the interest - but i don't want to take hostages about that :)

[2016-06-07 15:03] trueadm commented on #228
@billsykes there are plans to include an `inferno-router` at some point – I might even quickly get a working version up in the coming days. Long term, the plan is to also have routers for MobX, Cerebral and Redux equivalents.

in the mean time, someone in the Inferno community may have already made an `inferno-router` for a project they are working on, I can ask around for you :)

[2016-06-07 15:06] billsykes commented on #228
@trueadm thanks that would much appreciated!

[2016-06-07 22:21] trueadm commented on #201
@vic thanks for letting me know. I'll amend the README :)

[2016-06-09 10:10] Havunen commented on #228
I have been using Navigo ( https://github.com/krasimir/navigo ), Its really simple and has no dependencies. It supports hashtag routing and html5 historyapi. You just register routes and callback functions into it.

Then in callback you just need to call InfernoDOM.render(something)  depending on your app.

Also if you are building Single Page Application, its quite trivial to implement "Link" com

[2016-06-12 18:33] cvoege commented on #106
Have you considered https://letsencrypt.org? It's free and pretty easy to set up.

[2016-06-12 18:48] cvoege commented on #106
Also in the mean time @thisconnect and any others who would like https CDN links, you can find them at cdnjs.com:

https://cdnjs.com/libraries/inferno

Also @trueadm what do you think about putting the cdnjs links in the readme instead of the current ones? At least until you get SSL enabledon inferno.org, that way people can play around in JSFiddle. I'll submit a pull request if you'd like.

[2016-06-12 18:55] trueadm commented on #106
@cvoege sounds like a great idea, an a PR would be amazing thank you!

[2016-06-12 19:30] cvoege opened #238 "Error when using ternary operator in JSX with strings"
Hello,

So currently if you use a ternary expression like this:

`<div>{ this.state.showThing ? <span>Showing!</span> : '' }</div>
`
You will get this console error if you toggle the boolean a few times:

`Uncaught NotFoundError: Failed to execute 'replaceChild' on 'Node': The node to be replaced is not a child of this node.`

Here's a JSFiddle with the issue, hit the Toggle button a few times and

[2016-06-12 23:16] trueadm commented on #210
@Havunen @Kflash if either of you guys get a chance, could you possibly look into this one? I've been asked about it again recently and we should really get it in the next release :)

[2016-06-12 23:17] trueadm opened #239 "Add an `inferno-router` package"
As per recent work on this:

https://github.com/trueadm/inferno/tree/inferno-router

A new package called `inferno-router` will be supported by the core team and will be maintained in the Inferno monorepo along with other core tools/packages.

[2016-06-13 09:39] Havunen commented on #238
Hey,

I believe this is because Inferno's string optimization...

Using null instead empty string node should work (didn't test)
[code]

[2016-06-14 02:15] cvoege opened #240 "props.children can create a bizarre bug affecting other elements in a repeater"
Hey guys, so this is the most bizarre bug I've encountered so far. Basically with a specific combination of conditions you can really break things in a repeater (.map). This manage to pop up on a larger scale in my app

It took me some time, but I set up a minimum set of requirements to replicate it. Heres a JSFiddle of it.

https://jsfiddle.net/p7496kj0/1/

And a pastebin of the JS before compila

[2016-06-14 08:55] trueadm commented on #240
@cvoege Thanks for finding this bug, I'll need to dig deep into this later – ideally by making a test case for this and adding it to Inferno's tests so we can try and isolate this bug quickly. Thanks for the jsfiddle!

[2016-06-14 16:44] Keats commented on #239
Is there some kind of docs/rfcs on how it's going to work and what's different from the other js routers?

[2016-06-15 09:02] trueadm commented on #239
@Keats it's essentially a lightweight `react-router` equivalent. I'd appreciate PRs/feedback :)

It also has an example in the `examples` folder, where I added an example of using hashbangs as an option. It will all be documented once the API is established and everyone who might use it has had their input/feedback put back into the module.

[2016-06-15 14:28] Keats commented on #239
I think the main thing missing for me in react-router is some kind of `preload` fn that is called and only resolves the routes once the fn is done/promise is finished.
Having to use 3rd party for that with react-router when it's such a basic feature of a router

[2016-06-15 16:20] Havunen commented on #238
Thanks for reporting this issue. It was generic to all textNodes it has been fixed in dev and will be in next release.

[2016-06-15 18:54] Havunen commented on #240
Added test case to reproduce this issue. It has something to do with nested components update. @trueadm  please take a look.

[2016-06-15 19:57] trueadm commented on #240
This is now fixed on the `dev` branch. The issue was to do with adding `children` to a static components `props` object. It now makes a shallow clone of the `props` object along with the new children.

[2016-06-15 21:11] trueadm commented on #239
@Keats can you go into detail on the API for `preload`? Is this assuming the routes are only async? The router I built was only sync, I need to build in async functionality.

[2016-06-15 21:14] trueadm opened #241 "Add an `inferno-compat` package"
Lots of users coming from React and Webpack/Browserify want to easily switch out React for Inferno. We should offer an easy to use package that can do all of this for them without any major hassle. I'm created an `inferno-compat` branch that is essentially based off the `preact-compat` repo. I'd appreciate it if people could test it out and give feedback/response and maybe generate some PRs.

[2016-06-16 10:15] neemzy commented on #241
I'd be happy to do so :) Could you wrap up some quick steps to set it up on an existing React project? Cheers!

[2016-06-16 10:16] trueadm commented on #241
Is the README any help?

https://github.com/trueadm/inferno/tree/react-compat/packages/inferno-compat

[2016-06-16 11:46] neemzy commented on #241
Absolutely! I won't be trying this out right away, but will definitely do and keep you updated here. Thanks again!

[2016-06-17 14:23] Svjard commented on #239
Was using the new router yesterday, looking good. Is there going to injection of params into the components in a similar way react-router does it?

E.g.
/foo/:id

class MyComponent {
  // this.props.params.id ?
}

[2016-06-17 14:51] trueadm commented on #239
@Svjard it's my next task to work on :)

[2016-06-17 16:15] trueadm commented on #239
@Svjard just pushed param support to the `inferno-router` branch. :)

[2016-06-17 16:27] Svjard commented on #239
Thanks @trueadm, looks good.

[2016-06-19 22:50] Keats commented on #239
The idea for async is that some routes  can be async, not necessarily all of them.
You need access to the current url and the one we want to transition to and the devs can handle all the cases themselves.
Right now in our react/redux app we use react-router, https://github.com/Rezonans/redux-async-connect and https://github.com/reactjs/react-router-redux which is kind of mess.

I'm not sure how th

[2016-06-20 19:09] #240 closed

[2016-06-20 19:09] #238 closed

[2016-06-21 15:10] trueadm commented on #239
@Keats I've added `async` functionality to `inferno-router` on dev. Example of how to use it:

[code]

[2016-06-21 18:18] trueadm commented on #228
This is being covered with `inferno-router` https://github.com/trueadm/inferno/issues/239

[2016-06-21 22:30] trueadm opened #244 "Add an `inferno-redux` package"
Redux is a very popular state management library, the intention is to have `inferno-redux` bring all the Inferno bindings to Redux. This is currently in a separate branch. This package will be supported by the Inferno development team and be part of the core Inferno monorepo due to demand and requests.

There will also be examples given for usage of `redux` with `inferno-redux`.

[2016-06-21 22:35] trueadm commented on #219
TS is good, closing this as 0.8 is still a large refactor and redevelopment of Inferno -> TS and that includes all associated tests and packages. As the saying goes: "it will be done when it's ready".

[2016-06-21 22:35] #219 closed

[2016-06-21 22:36] trueadm commented on #228
Closing as the other thread is a better indicator for this topic.

[2016-06-21 22:36] #228 closed

[2016-06-21 22:36] trueadm commented on #175
Validations will be covered in 0.8, closing this as this is no longer an issue for 0.8.

[2016-06-21 22:36] #175 closed

[2016-06-21 22:38] trueadm commented on #189
There are no plans to bring this to Inferno 0.7. It may happen for 0.8, but it's not on the roadmap as there has been no demand for it. Will re-open if this becomes a future-spanning issue.

[2016-06-21 22:38] #189 closed

[2016-06-21 22:38] trueadm commented on #106
Closing this as cdnjs is perfect for this project :) thanks again @cvoege

[2016-06-21 22:38] #106 closed

[2016-06-21 22:40] trueadm commented on #201
Closing this as all README.md feedback has been applied and merged into `master`. If any other feedback comes about, please feel free to reply on this thread.

[2016-06-21 22:40] #201 closed

[2016-06-21 22:41] trueadm commented on #29
Inferno 0.8 will support proper subtree patching via a clean API. Closing this as this is no longer on the roadmap for Inferno (given 0.8 has incorporated the feedback).

[2016-06-21 22:41] #29 closed

[2016-06-21 22:42] trueadm commented on #101
Inferno 0.8 will be fully reactive, with both Promise and Observable support. Closing this, as this no longer on the roadmap.

[2016-06-21 22:42] #101 closed

[2016-06-23 06:46] niant commented on #138
I have similar situation and the same issue here as @soundstep . I'm having hard time to unmount Inferno component, or rather it's easy to remove, but hooks don't fire on stateless or stateful components. Is there a way to do this, am I doing something wrong?

Basically code is the same

[code]

[2016-06-23 10:06] niant commented on #138
The trick seemed to be rendering null, rather than <div/> as pointed here:
https://github.com/trueadm/inferno/issues/114

So for future:

[code]

[2016-06-23 10:28] trueadm commented on #138
@niant the hooks for components only apply to functional components rather than ES2015 components (as they have their own lifecycle events on their prototype). You're right in the correct way to unmount manually with `InfernoDOM.render` is by passing in `null`.

[2016-06-23 10:31] niant commented on #138
So I understood, but desperate times requires desperate methods ;) .. Got it working with rendering null, so I'm in paradise for now.

[2016-06-25 21:17] trueadm commented on #239
Released in `0.7.10`

[2016-06-25 21:17] #239 closed

[2016-06-28 11:45] edoroshenko opened #250 "InfernoDOM.render doesn't replace container's contents with new rendered node"
A call like `InfernoDOM.render(blueprint, container);` is expected to replace container's contents with new rendered node. Instead, it appends a new node to the end of container.

Here is a working example: https://github.com/edoroshenko/inferno-testcases/blob/master/replace-container-content.html

[2016-06-28 13:45] trueadm commented on #250
@edoroshenko thank you for submitting this issue. It should now be fixed in the latest `dev` branch and will be in the next release `0.7.11`. Thanks ;)

[2016-06-28 13:45] #250 closed

[2016-06-28 14:58] edoroshenko commented on #250
@trueadm thanks!
Probably you meant `0.7.12` :)

[2016-06-29 08:39] edoroshenko opened #251 "make inferno-component independent from browser environment"
When in node.js I try
[code]
then I get
[code]
That happens because `inferno-component` requires `Lifecycle` from `inferno-dom`, that depends on browser environment.
What I propose to do is to make `inferno-component` independent from browser environment or maybe to create a separate of `inferno-component`, that is designed only for server-side initial rendering. It doesn't have to support DOM-spe

[2016-06-29 08:57] edoroshenko opened #252 "infernoServer.render return null tags when renders from blueprint"
Running the following in node.js
[code]
prints to console an html with null tags
[code]
looks like a bug

[2016-06-29 09:01] trueadm commented on #252
@edoroshenko This has been fixed in the latest `dev` branch (if you want to try it) and will be in the next release :)

[2016-06-29 09:01] trueadm commented on #251
@edoroshenko Thanks for this, I'll push a fix for this to `dev` and this will be in the next release!

[2016-06-29 09:05] edoroshenko commented on #252
@trueadm tried, it works! Thanks!

[2016-06-29 09:06] trueadm commented on #251
@edoroshenko I've also pushed a fix for this to `dev` let me know if this helps (you should no longer need `jsdom`). Thanks :)

[2016-06-29 09:07] trueadm commented on #252
@edoroshenko Awesome, thanks!

[2016-06-29 09:07] #252 closed

[2016-06-29 09:30] edoroshenko commented on #251
@trueadm I tried, it solves the problem. Thanks!

[2016-06-29 11:00] volodalexey opened #253 "How to use Inferno with ES5"
In React I can use ES5:
[code]

Is there the same approach for Inferno?
[code]
I do not want to use babel shims for "class" and etc... (e.g. class ... extends Component ...)

[2016-06-29 11:13] trueadm commented on #253
@volodalexey Thanks for trying Inferno.

You can use functional components without needing ES2015, but for now only Inferno only supports ES2015 for classes rather than the `createClass` syntax (as a separate module). Once I have 30mins, I'll add a `inferno-create-class` (or something of that nature) module later today so you aren't hindered. Would that be okay for you?

[2016-06-29 11:28] volodalexey commented on #253
@trueadm Thanks for quick reply!

Sure, that will be ok!

I connected Inferno with ES6 and it works, however I want to find out how to use Inferno without es2015 preset for babel/webpack. The only thing I want to use jsx=>js compiler.

I am trying to find the fastest/supported/smallest library to use in my widget instead of huge React.

[2016-06-29 12:37] trueadm commented on #253
@volodalexey That completely makes sense. I'll get that sorted for you later today :)

[2016-06-29 12:37] trueadm commented on #251
Awesome, closing now :)

[2016-06-29 12:37] #251 closed

[2016-06-29 22:46] trueadm commented on #210
Release in `0.7.12`

[2016-06-29 22:46] #210 closed

[2016-06-30 01:10] vinej opened #255 "bool type generate Inferno Error: Expected function or string for element tag type"
version 0.7.12

I did a small example of a todo and I have a field that contains a 'bool' type with true, false

Not working -> Inferno Error: Expected function or string for element tag type
[code]

Working with toString()
[code]
Is it normal to have this error, because it was not obvious? The integer type is working, but not the boolean type. The integer type is not a string or a function !

Tha

[2016-06-30 06:47] trueadm commented on #255
Hi @vinej, thanks for making this issue. It's not normal to throw an error, but in either case of outputting a boolean, nothing should appear on screen unless you explicitly do `to.String()`. Numbers are different as they always convert to `string`, as they do in React and other libraries – but booleans can be used to infer that something is not to render (for example, `false` behaves like `null`

[2016-06-30 13:01] vinej commented on #255
I understand better why it's like that. I was expecting that the toString() would be apply to any expression. As I also doing some React development, I only expect that Inferno has the same behavior than React.

Thanks

[2016-06-30 13:10] trueadm commented on #255
@vinej the latest `dev` branch of Inferno now treats `true` booleans like React (ignores them). I'll release an update later today. :)

[2016-06-30 15:25] volodalexey commented on #253
@trueadm When I am trying to use "inferno-create-class" webpack could not find this module.
Looks like problem is here =>
/node_modules/inferno-create-class/package.json

"main": "inferno-create-class.js" // should be

[2016-06-30 15:36] trueadm commented on #253
@volodalexey I've published a new version of the `package.json` with this fix. Thanks for that :)

[2016-06-30 22:51] trueadm commented on #255
https://github.com/trueadm/inferno/releases/tag/0.7.13

[2016-06-30 22:51] #255 closed

[2016-06-30 22:52] trueadm commented on #253
https://github.com/trueadm/inferno/releases/tag/0.7.13

[2016-06-30 22:52] #253 closed

[2016-07-01 03:17] vinej opened #256 "Add boilerplate for Inferno with Mobx/Modx-Inferno"
If people are interested to try Inferno with Mobx, I created a boilerplate with a todo example

see: https://github.com/vinej/inferno-remux

Thanks

[2016-07-01 09:04] trueadm commented on #256
@vinej  awesome stuff :) thank you for this!

[2016-07-01 21:47] vinej opened #258 "{ ...props } for event is broken"
The code below is working very well with React, but  with Inferno a have an error into the console instead of the event + 'blur'. If you define an event directly into the tag, it's working, but if you define it with an object it's not working.

**Uncaught SyntaxError: Unexpected token (    **

Do you know why ?

I found this error because I was migrating a small UI library with this kind of defini

[2016-07-01 23:07] trueadm commented on #258
@vinej Thanks for this, I'll aim to get it fixed tomorrow evening and in the `dev` branch :)

[2016-07-02 06:56] sijad opened #259 "Browser Support"
couldn't find inferno browser support, inferno looks very promising, does it supports android 4.0+?

[2016-07-02 08:40] trueadm commented on #259
@sijad That's a valid point: we need to update the README.md to include support details. Essentially, Inferno should be supported in IE8+ with polyfills for `Map`, `Promise`, `Objecy.keys` (IE8) and `Object.assign`.

@Havunen does this look correct to you?

[2016-07-02 20:31] vinej opened #260 "Nested Route"
I was testing the router package to do a simple SPA with Link. It's seem that only standard redirect is supported. Is Nested Routes will be available ?

Or maybe I'm not using it the right way !

Something like that
[code]

Thanks

[2016-07-02 20:48] trueadm commented on #260
@vinej I'll work to add this functionality ASAP :)

[2016-07-02 20:56] vinej commented on #260
I think that it's working but not the way React do it,

I followed the example under the source code.

-> the Router must have the component set to the 'App' and Routes will be automatically nested under the App

[code]
for now, I don't need an extra layer of Nested Routes

You can close it

Thank

[2016-07-02 21:23] vinej commented on #260
At the same time, I think that the Link component do not passes all props to the 'a' tag. I tried to set a className to the Link and it's not working

Thanks

[2016-07-02 21:25] trueadm commented on #260
@vinej Okay, that is clearly a bug. I'll look at that too :)

[2016-07-02 23:19] trueadm commented on #258
@vinej please try the latest `dev` branch along with the latest `babel-plugin-inferno` version. This should be fixed now :)

[2016-07-02 23:51] vinej commented on #256
The name of the starter changed

inferno-mobx-remux-starter
see: https://github.com/vinej/inferno-mobx-remux-starter

Welcome to Inferno Mobx ReMux Starter

The boilerplate give you a minimum example to use Inferno with Mobx with the ES6 syntax
Also, you have the minimum implementation of the 'ReMux' flux pattern
* ReMux stand for : **Re**solver **M**obx Fl**ux** pattern

With 'ReMux' you have a v

[2016-07-03 04:13] vinej commented on #258
I tried the dev branches for inferno and the plugin. The error is gone, but the events are not fired.

I download the dev code and copy it under the node_module folder. Is there a better way to try a dev branch?

For my test the <Input> field is used into another component and not render directly with InfernoDOM.render like the example above

Thanks

[2016-07-03 08:37] trueadm commented on #258
@vinej try again on `dev` now? In regards to using `dev` mode, that way works fine. There are other ways you can do it too, but I don't think it makes a big difference.

[2016-07-03 16:13] vinej commented on #258
it's working now

Thanks very much

[2016-07-03 17:10] vinej commented on #258
Is-it possible that the 'props' are not passed the same way when a class is defined inside the same file and when the class is import, because it's seems that the function are not passed as props when I'm using a import

a go a ref(c) instead of the onChange function

Thanks

[2016-07-03 19:49] trueadm commented on #258
@vinej this is strange, is there a chance you could post some code that shows this happening?

[2016-07-03 22:04] vinej commented on #258
You are right, there is no bug. It was related to the way the class was registered and export with a higherOrders component that I'm trying to migrate.

Your modification is working fine

Thanks a lot

[2016-07-03 22:16] vinej commented on #258
I'm really impressed with Inferno. My simple application with Modx is 105k minimized with Inferno and 350k minimized with React. Continue your good job

Thanks

[2016-07-03 22:44] ghost opened #262 "Missing HTML integration point support"
http://www.w3.org/TR/html/syntax.html#html-integration-point

This is related to SVG.  `foreignObject`, `desc` and `title elements`.
A quick solution here will not properly handle <font> with color, face, or size attributes, which is also disallowed by the spec. But the easiest solution may be to just not create SVG element for this elements.

[2016-07-05 09:49] trueadm commented on #258
Awesome. I'm closing this issue now :)

[2016-07-05 09:49] #258 closed

[2016-07-05 21:07] vinej opened #263 "onChange event on key for input tag"
Is it normal that the onChange event is not fired on every key for an input tag with Inferno?

[2016-07-05 21:13] leeoniya commented on #263
`onchange` events only dispatch after you blur/defocus the text/textarea input. this is typical DOM behavior (unrelated to Inferno). `oninput` and `onkeyup` can be used instead.

[2016-07-06 19:42] trueadm commented on #260
@vinej this should be fixed in `0.7.14`. Can you confirm please?

[2016-07-06 19:42] trueadm commented on #259
@sijad added to README.md. Thanks :)

[2016-07-06 19:42] #259 closed

[2016-07-06 19:43] trueadm commented on #256
@vinej can you confirm everything works okay with `0.7.14`? Thanks.

[2016-07-06 19:46] trueadm commented on #241
@neemzy This has been published now with `0.7.14`. Let me know how it works for you? It's `inferno-compat` on NPM :)

[2016-07-06 19:48] trueadm commented on #263
@vinej This is expected behaviour for `onchange` – like @leeoniya has said above, you're best using another event for what you're trying to do :)

[2016-07-07 02:53] vinej commented on #260
This code below is working as expected with 0.7.14, but it was also working with 0.7.13. Here the master component { App } is defined into the **Router** tag

[code]

The code below is working with React but not with Inferno. for this reason I use the method above
In the React version, the master component is defined into the **Route** tag and under you can used nested routes. **With version 0.7.1

[2016-07-07 03:12] vinej commented on #256
For my example, yes I updated the example with the version 0.7.14 and every thing is working fine.

But there is still an error with 0.7.14 and 0.7.6 plugin for JSX.
* if the event is all lowercase, is working ;  onblur
* but if the event is in camel case, is not working : onBlur

I used a dev version and this correction was ok, maybe it has not been merged ?

the { ...props } bug is corrected

[c

[2016-07-07 07:39] trueadm commented on #256
@vinej Do you have the latest `babel-plugin-inferno` too? Can you see if that helps with your issue with `onBlur` -> `onblur`. Thanks :)

[2016-07-07 13:16] vinej commented on #256
Yes, I redo the test with a new install and latest versions and the "onblur" is working but not the "onBlur"

Ex: both events are not working with the following example. If you define the event in lowercase, both are working

[code]

Thanks

[2016-07-07 15:11] joshburgess commented on #82
If performance is a big concern, it might be worth looking at Velocity.js, GSAP, etc. instead of pure CSS. Eventually, you'd really just want a pluggable system so userland could choose on its own.

[2016-07-07 15:29] trueadm commented on #260
[code]
In the above example, the nested route's `component` gets passed to the route's `component`. Is this not the correct behaviour?

[2016-07-07 21:57] #241 closed

[2016-07-08 03:03] vinej opened #267 "inferno-compat need "import Inferno from 'inferno'"
I tried the inferno-compat package and it's better, but I have to add this a line at the beginning of each file.

**import Inferno from 'inferno'**
import React from 'react';
...
...

Without the import Inferno I have this error : Uncaught ReferenceError: Inferno is not defined

I installed 'inferno-compat' and changed the webpack.config.js to add the resolves section. Do I have to do something el

[2016-07-08 08:25] grahammendick opened #269 "Can't setState in componentWillReceiveProps"
Here's a [JsFiddle that shows you can't call setState in componentWillReceiveProps](https://jsfiddle.net/s4v889zL/). The error raised is:

The error incorrectly reports componentWillUpdate instead of componentWillReceiveProps. You should be able to call setState from componentWillReceiveProps. Here's what the React spec says about componentWillReceiveProps:

I think this bug is a regression introd

[2016-07-08 09:00] trueadm commented on #269
@grahammendick Thank you for this. I've pushed a fix to the `dev` branch. Can you confirm this fixes your issue?

[2016-07-08 09:01] trueadm commented on #267
@vinej I believe this is because you're using the `babel-plugin-inferno`, I've updated `inferno-compat` in the `dev` branch and it should now also include the dependency functions. You will need to alias `inferno` -> `inferno-compat` too in your webpack/browserify config.

[2016-07-08 09:01] #263 closed

[2016-07-08 09:28] grahammendick commented on #269
There was a lot in that dev commit! Happy to see you've removed the _blockSetState from around the componentWillReceiveProps. I've tried it out and can confirm it fixes the issue.

[2016-07-08 09:29] trueadm commented on #269
@grahammendick Yeah, the diff looks huge due to the new build of the distributables. Thank you for confirming :) it will be going out in the release today.

[2016-07-08 09:29] #269 closed

[2016-07-09 06:22] groundh0g opened #270 "Error in routing example."
The headers (H2 tags) in the child controls are not appearing. Looks like the Foo and Bar functions need a wrapping div?

Should read:

[code]

[2016-07-09 09:16] christianalfoni opened #271 "componentDidUpdate running too soon"
If I have a component something like this:

[code]

The `componentDidUpdate` seems to run a bit too quickly. As the input will not focus without wrapping it in a setTimeout

[2016-07-09 09:19] trueadm commented on #271
@Havunen is there any chance you have seen this issue too?

[2016-07-09 09:58] Havunen commented on #271
Yea, I though that is feature not bug as I have not used React before. Easy work around is to use onAttached callback for focus.

[2016-07-09 10:04] Havunen commented on #271
Edit: NVM scrap that I see now what you are trying to do here looks like bug

[2016-07-09 20:23] #271 closed

[2016-07-09 20:26] trueadm commented on #270
Fixed in latest release. Thanks :)

[2016-07-09 20:26] #270 closed

[2016-07-10 04:01] vinej commented on #267
I have updated to 0.7.17, but I still have an error with 'inferno-compat' with the **'inferno-router'**
[code]
I tried to use 'inferno-router' as is (no alias), but I also have an error

I tried to use an alias for the router but none is working
'react-router' -> 'inferno-compat'
'react-router' -> 'inferno-router'
'inferno-router' -> 'inferno-compat'

Is 'inferno-router' compatible with 'inferno-c

[2016-07-10 06:23] Havunen commented on #267
I don't have experience with those packages, but I think it would help if you can provide "empty" github repo with the setup you are using.

[2016-07-10 07:26] elfet opened #273 "Compare patchKeyedChildren with dift"
Hi,

Have you compare performance of `patchKeyedChildren` with another realization of keyed list diff like [dift](https://github.com/ashaffer/dift)?

Also, it will be very interesting if you can describe how your algorithm for `patchKeyedChildren` works.

[2016-07-10 09:07] Havunen commented on #273
definitely worth investigating. How it works is that it first tries to find all items with same keys looping from start and end same time. This way reducing the upcoming diff process.

[2016-07-10 09:09] Havunen commented on #273
Also I think all our benchmarks (except nonKeyed uiBench) are using keys so benchmarking for regression should be straightforward

[2016-07-11 03:43] localvoid commented on #273
It is copy-pasted from [kivi](https://github.com/localvoid/kivi), there is a good explanation of this algorithm in kivi sources: https://github.com/localvoid/kivi/blob/d57fa4ace96c0b4fe4f102f5b01ce3b6e14e5c1a/lib/reconciler.ts#L422-L653

If you don't want minimum number of dom ops, `snabbdom` has better keyed diff algorithm than `dift`. Nothing interesting in `dift`, we already had better algorith

[2016-07-11 10:22] grahammendick opened #274 "Navigation Inferno Router"
I've written a router for Inferno. You can see [some of what it can do in this JsFiddle](https://jsfiddle.net/qa2o6vc1/). When I say I've written a router for Inferno, what I actually mean is that I've plugged my existing router into Inferno. You see, I'm the author of a library-agnostic routing library called [the Navigation router](http://grahammendick.github.io/navigation/). So I just had to co

[2016-07-11 11:17] trueadm commented on #273
@elfet as @localvoid said, Inferno has the same keyed update implementation as Kivi. Although, this implementation is actually an accumulative combination of different ideas from other libraries plus our own (Bobril, Cito etc). Hopefully the comments in Kivi make sense as to how it works too :)

[2016-07-11 11:54] culyun opened #275 "Inconsistent line-endings"
I've noticed that some of the source mix windows and unix line-endings in the same file.  I recommend you enforce line endings to be one or the other.  There's a git config option somewhere that automates this for commits / checkouts.

BTW thanks for the fantastic work.

[2016-07-11 12:44] volodalexey opened #276 "Inferno router (render custom Component inside Router, multiple Route on the same path)"
All these question I've tried to, but I faced with some errors. So maybe I am doing something wrong.
Is it possible to render some components inside Router, that are not dependable from Router?
E.g. "Navigation" component should be visible all the time
[code]

Is it possible to render multiple components, that are dependable from the same path?
E.g. in this case I want to see two "Navigation" comp

[2016-07-11 13:18] capaj commented on #256
@vinej your boilerplate is not rendering with inferno but with react. Is there something I am missing?

[2016-07-11 23:08] vinej commented on #267
You can use the repo https://github.com/vinej/inferno-remux

This repo is working. To test for the bug:
1) remove the lines : import Inferno from 'inferno';  at the beginning of each component
2) add the alias 'inferno' : 'inferno-compat' as stated in the inferno documentation

alias: {
      'react': 'inferno-compat',
      'react-dom': 'inferno-compat',
      **'inferno': 'inferno-compat'**  //

[2016-07-11 23:20] trueadm commented on #267
Please check https://github.com/trueadm/inferno/blob/master/packages/inferno-compat/README.md

I've updated the README to include a better config. Remove this line:

`'inferno': 'inferno-compat' // for usage of babel-plugin-inferno`

Also you can update `inferno-compat` to the latest version.

[2016-07-12 00:39] vinej commented on #267
It's working now,

Thanks

[2016-07-13 12:25] anaran opened #277 "Unnecessary use of template literal in README.md"
See:

https://github.com/trueadm/inferno

Details:

import createVNode from \`inferno\`;

http://mzl.la/1vxCDgA

[2016-07-13 12:48] trueadm commented on #277
@anaran Thank you! Nice spot!

[2016-07-13 12:48] #277 closed

[2016-07-13 12:49] trueadm commented on #275
@culyun Thank you, did you notice any obvious files/areas where this is the case? I'd be happy for a PR to convert to Linux line breaks if you have the time. :)

[2016-07-13 12:50] trueadm commented on #276
@volodalexey This is not yet supported, but I'm totally going to add support for this feature :)

[2016-07-13 12:51] trueadm commented on #274
@grahammendick this looks good, I'll give it a good play with tonight. Maybe it can be an alternative choice for people using `inferno`? If you could package it up on NPM, I'd be happy to point people towards it :)

[2016-07-13 12:51] trueadm commented on #267
Great!

[2016-07-13 12:51] #267 closed

[2016-07-13 12:51] trueadm commented on #260
@vinej is this not working as you expect it to still?

[2016-07-13 21:27] vinej commented on #274
I tried it with my https://github.com/vinej/react-remux repo and I switched to this router. It's more flexible and I have more control over the routing.

I will update my https://github.com/vinej/inferno-remux repo to also use this router

Good job.

Thanks

[2016-07-13 23:10] vinej commented on #256
The latest version of the boilerplate use the 'inferno-compat' package. With this package you don't have to change your code to use Inferno. Only the files 'package.json' and 'webpack.config.js' are different.  Then you are really using Inferno even if the imports are with React. The 'webpack.config' contains aliases to use Inferno

[code]

Why do that : The generated bundle.js file with Inferno i

[2016-07-13 23:34] vinej commented on #260
I switched to the <navigation> package for the routing.

I don't have a user case for you question, then I don't know if this is the correct behaviour.

Thanks

[2016-07-14 20:26] capaj commented on #256
@vinej wow this is awesome. Now excuse me, I've got couple repos to migrate...

[2016-07-15 07:44] capaj commented on #256
@vinej well I tried it, but I got an error when running my project:

[code]

DO you know what this could be about?

[2016-07-15 08:08] trueadm commented on #256
That's likely to be due to React hot-reloaded. It attempts to access some core React modules directly. It's a very difficult thing to handle. Ideally I need to make an Inferno hot reloading module to use instead.

[2016-07-15 08:27] capaj commented on #256
@trueadm I can confirm. After removing a `'react-hot'` it works. There is one small bug I have noticed though, so I won't be transitioning to inferno just yet.

I have an input with onKeyDown handler and this handler does not seem to work alright with inferno. Weirdest thing is that when I put a breakpoint there in the handler, it works just fine.
I would not be too surprised if this was some bug

[2016-07-15 08:28] trueadm commented on #256
@capaj This might be a bubbling issue. React has its own bubbling system whilst Inferno uses the native event system. Although, if the event is firing okay, what is the logic in the event? Is it setting state? Would be good to fix this if this is a bug :)

[2016-07-15 08:31] stasnadol19856972 commented on #256
Wee

[2016-07-15 09:30] capaj commented on #256
@trueadm yes it is setting a state of the component.

[2016-07-15 12:19] volodalexey commented on #276
@trueadm do you any idea about issue that I've found?

[2016-07-15 12:20] trueadm commented on #276
@volodalexey what issue did you have with it?

[2016-07-15 12:23] volodalexey commented on #276
Just a case, when I try to render multiple children:
[code]
I see, that normalise function is undefined. I showed you link to that function.

[2016-07-15 12:28] trueadm commented on #276
@volodalexey What are the values of `icon` and `title`?

[2016-07-15 12:58] volodalexey commented on #276
icon is component, title is text
These screenshots should help:
[before execution mount()](https://s32.postimg.org/9qq0y41v9/image.png)
[inside mount()](https://s31.postimg.org/ikcdpi4d7/image.png)
as you can see normilase is undefined

[2016-07-15 13:00] trueadm commented on #276
@volodalexey are you using the latest Inferno? Sorry, I can't recreate this error locally so it's hard to figure out why it's failing as it's referenced in scope.

[2016-07-15 13:05] volodalexey commented on #276
I am using 0.7.20, because 0.7.21 doesn't work at all, I even can not render anything, I see "maximum call stack exceeded"

[2016-07-15 13:11] trueadm commented on #276
@volodalexey Ah, that's a far more pressing issue. How are you passing in the component? Via JSX or have you constructed the object manually? I've pushed a few changes to the `dev` branch, if you could try them out (the easiest route is to replace `inferno/dist/inferno-dom.js` with this one https://github.com/trueadm/inferno/blob/dev/packages/inferno/dist/inferno-dom.js).

[2016-07-15 13:18] volodalexey commented on #276
Now I see:
`throw new Error('Inferno Error: invalid object passed to mount()')`
however, chrome dev tools shows me that input and normalisedInput have reference to the same line number...

[2016-07-15 13:47] trueadm commented on #276
@volodalexey `normalise` should create a new node based off the the input passed into it. If it cannot, then the input being passed into it is likely to be invalid. Can you screenshot me the object that you're trying to pass in (so I can see its properties etc)?

[2016-07-15 13:59] volodalexey commented on #276
@trueadm `normalise` does not create new node, input just goes to the output.
[Screenshot](https://s32.postimg.org/m0hd13klx/image.png)

But in general input is the same, as I posted in the previous screenshots, you can see input there,
this is an Array with component and text.

[2016-07-15 14:46] trueadm commented on #276
@volodalexey `normalise` isn't creating a new node because it can't convert the `input`. In this case, it appears `input` is a component function that hasn't been put inside a `VNode`. Make sure you pass in the component inside JSX tags, i.e. `<Component />` rather than `Component`.

[2016-07-15 17:17] volodalexey commented on #276
I have used the same approach with React a lot of times, so I don't think that I am making something wrong.
(simplified code)
icon.js:
[code]

tab.js:
[code]

tabs.js:
[code]

index.js:
[code]

[2016-07-15 17:45] trueadm commented on #276
I tried that code in React, it doesn't work for me. If you do `Icon =props.icon` and then `<Icon />` instead of `{ icon }` then it works in React and Inferno.

[2016-07-15 17:55] volodalexey commented on #276
Thanks @trueadm ! Your solution works. Sorry, it is my fault.

[2016-07-17 08:16] aguilera51284 opened #280 "Gitter Channel"
You could create a channel in [Gitter(),](https://gitter.im) it would be good for faster communication :)!

[2016-07-17 11:05] capaj commented on #256
@trueadm I got it now-it was a textarea input element which in react sends events on each keystroke, whereas in inferno, `onChange` is only invoked when textarea loses focus.
This cam be easily worked around by hooking into onKeyUp event instead, but it is one more thing to look out for when using inferno instead of react.

[2016-07-17 11:32] trueadm commented on #275
This has been addressed by a PR and has been merged into `dev`. :)

[2016-07-17 11:32] #275 closed

[2016-07-17 11:35] trueadm commented on #256
@capaj Ah yes, the infamous custom `onChange` that React uses. Sorry, I thought you were using `onKeyDown` and `onKeyUp`, which should work great in all modern browsers. In older versions of Inferno we also had a similar synthetic event system, but we scrapped it to keep size down and improve performance. I do wonder if we should revisit this topic if others are having issues.

[2016-07-17 11:47] culyun commented on #275
Sorry boss, I was planning on fixing-up the line endings but came down with a cold while trying to entertain my kids during the school holidays.  Maybe next time :-)

[2016-07-17 11:53] capaj commented on #256
@trueadm great to hear that. I think it would be nice to have synthetic events included in inferno-compat. That is what people use when migrating existing react project to inferno.

When starting a new project, I don't need it. IMHO browser events are consistent enough in the browsers for couple of years already. It's better to work with the underlying DOM events directly.

[2016-07-18 11:18] trueadm opened #282 "Create an Inferno starter-kit and boilerplate"
Due to popular demand, we should give resources for people who may not have used React, to absorb and use Inferno with as little as friction as possible.

[2016-07-18 21:14] trueadm commented on #280
@aguilera51284 there is already one, although I'm not a huge fan of Gitter. Sorry!

[2016-07-20 06:01] hbstone commented on #280
More specifically: https://gitter.im/trueadm/inferno

[2016-07-20 11:19] believer-ufa opened #283 "How to wrap other DOM libs with Inferno?"
If we using React, we can use something like [Portals](https://github.com/ryanflorence/react-training/blob/gh-pages/lessons/05-wrapping-dom-libs.md).

How i can wrap other dom lib with inferno? Tell me please.

[2016-07-20 11:42] trueadm commented on #283
@believer-ufa Let me think about this. Ideally, we could try and replicate the React method in Inferno. :)

[2016-07-20 11:49] believer-ufa commented on #283
I managed to make a "portal" in Inferno with below code. The only small problem with the fact that I could not get a DOM object of its component immediately after his mount.

[code]

And second problem which i finded now - defaultValue dont works for selects. Inferno dosent support this React feature?

[2016-07-20 11:58] trueadm commented on #283
Inferno does not support defaultValue (yet). There hasn't been any demand for it, if you need it though I can certainly add it. In terms of the error, I'll make a test case for this later today when I get time and investigate it more. Than you fit your help :)

[2016-07-20 12:04] believer-ufa commented on #283
About `defaultValue` - many thanks for you care about me :) Its not important, i can rewrite my components)

[2016-07-20 16:38] believer-ufa opened #284 "Support for selecting few options in selects?"
Inferno dosent support it?

I tried to make select with selected multiple options, but i cant :( Sorry, dont can create example on jsFiddle - i cannot find working copy of library in CDN.

[2016-07-20 20:38] trueadm commented on #284
@believer-ufa The CDN URLs on the front page should work. I'll look into this too as @Havunen did some work on this not too long ago. It might be a regression.

[2016-07-21 08:08] loganjing opened #285 "id prop and event handler do not take effect"
hello, this is the example code, I hope input dom should include id attribute, and onclick event should be effect,but the result is not. I don't know why? Thanks.
`

    var container = document.getElementById("container5"); val1 = void 0,
        val2 = void 0;

    val1 = 'false';

    InfernoDOM.render(({
        download: val1
    }), container);

    val1 = 'true';

    InfernoDOM.render(({

[2016-07-21 08:13] loganjing commented on #285
when I debug, I found the "nextBp.attrKeys" don't include new attribute "id".

`
patchAttributes(lastVNode, nextVNode, lastBp.attrKeys, nextBp.attrKeys, dom, instance);
`

[2016-07-21 08:31] trueadm commented on #285
@loganjing Going by your example, it looks like you're not actually creating any virtual DOM, you're simply passing in object literals into `InfernoDOM.render`? For example, you want to create virtual DOM either with JSX or by hand, like:

[code]

[2016-07-21 09:30] loganjing commented on #285
Thanks your reply. Yes, I'm only passing in object literals into `InfernoDOM.render,`  but it will create VNode by blueprint, isn't it?

[2016-07-21 11:46] trueadm commented on #285
@loganjing In order to use blueprints, you need to create them ahead of time and then use call them to generate a `VNode`.

[code]

[2016-07-21 14:52] nightwolfz opened #286 "Inferno bindings for Mobx (release)"
This is a direct fork of [mobx-react](https://github.com/mobxjs/mobx-react).

Enjoy !

https://www.npmjs.com/package/mobx-inferno

Let me know if anything doesn't work ^^

[2016-07-21 14:53] trueadm commented on #286
@nightwolfz awesome stuff! thank you :)

[2016-07-22 06:02] niant opened #287 "Stateless component onComponentShouldUpdate hook does not receive children in lastProps"
Hey,

Should it be so that onComponentShouldUpdate - hook doesn't receive children property in lastProps if using stateless component?

[code]

[2016-07-22 12:24] volodalexey opened #288 "mountEvents is undefined"
I want to render button on the same place, but the button will have different event handlers:

[code]

And to use it somewhere in render:

[code]

I got an Error in Inferno (I think it tries to add event, code from Inferno):
[code]

Error is : "Uncaught ReferenceError: mountEvents is not defined"

Am I doing something wrong?

[2016-07-22 13:51] trueadm commented on #288
@volodalexey well spotted! I've pushed a fix into the `dev` branch.

[2016-07-22 16:35] aguilera51284 commented on #280
thx guys!

[2016-07-22 16:35] #280 closed

[2016-07-22 17:46] volodalexey commented on #288
@trueadm thanks for quick fix!

[2016-07-23 20:55] trueadm commented on #287
@niant I believe I've fixed this in the latest `dev` branch. Can you let me know please?

[2016-07-23 20:56] #288 closed

[2016-07-23 22:12] trueadm commented on #287
This should be fixed in latest release: https://github.com/trueadm/inferno/releases/tag/0.7.23

[2016-07-24 06:57] niant commented on #287
Seems to work now. Thanks! :thumbsup:

[2016-07-24 07:48] niant commented on #287
Oops, actually it does work - sort of.. A bit different, but propbably related issue popped up while checking equality of properties. Children property equality checking gives interesting and varying results due to differences in VNode.dom content. Should it be possible to make equality validation based on properties including children?

On stateless components:
In this example lastProps.children.

[2016-07-24 08:38] trueadm commented on #287
The children will only have a dom if mounted and stay mounted. If they are hidden, it will affect the children on props. Let me look into this more tonight :) thank you

[2016-07-24 09:47] niant commented on #287
Yea, I figured that might make it a bit weird (and could've caused some issues while testing), but it did the same if I changed display:none into color: red style for example. Also I'm changing styles on parent node and not the component.. There might be a reason for this, but for me it seems unintuitive initially at least :)

[2016-07-24 12:45] trueadm commented on #287
@Havunen if you can get a chance, can you get a test case for this? It sounds like an important bug t squash. :)

[2016-07-25 20:21] durango commented on #244
Should this be closed?

[2016-07-25 20:24] trueadm commented on #244
@durango awesome work :) thank you!

[2016-07-25 20:24] #244 closed

[2016-07-25 22:09] durango commented on #153
@Kflash could you provide a small example of what you're trying to do / what the issue is exactly? I can take a look into it

[2016-07-28 08:26] volodalexey opened #292 "reference (ref) on svg does not work"
If I want to receive reference to svg element:
[code]
I get an Error in Inferno:
[code]
It says: `Uncaught TypeError: Cannot read property 'props' of null`
Looks like Inferno could not determine instance of svg.

[2016-07-28 09:04] trueadm commented on #292
@volodalexey As per React, you cannot use refs in stateless functional components. You can use hooks instead within functional components or stateful components.

[2016-07-28 09:12] volodalexey commented on #292
@trueadm Thanks for the information. Ok. Then I will use stateful component.

[2016-07-28 09:12] #292 closed

[2016-07-28 13:45] edoroshenko opened #293 "rendering a Link throws `Cannot read property 'hashbang' of undefined`"
When I try to render `Link` component from `inferno-router` package I get an exception:
[code]

Here is the test case: https://github.com/edoroshenko/inferno-testcases/tree/master/router-link

[2016-07-29 14:25] #293 closed

[2016-07-29 15:13] edoroshenko opened #296 "add pushing state logic to Link component"
Now `inferno-router`'s `Link` produces a simple html link that has a passed url. Clicking to the link changes page url in a simple way with page reloading.

The gist is to make `Link` able to push the state into history and to prevent the default behaviour. Also we need to make sure that routing is also run at this moment. Note that link shouldn't stop event propagation, because it could be use fo

[2016-07-29 23:29] AlexChepura opened #298 "attributes duplication on every renderToString"
Hey,
Thank you so much for this amazing library.
I'm doing server side rendering and attributes are duplicated with each request.
[Example on jsfiddle]( https://jsfiddle.net/jd2om6y9/4/)

[2016-07-31 11:38] trueadm commented on #298
@AlexChepura thanks for bringing this issue to light. I'll look into sometime today and get a fix in place!

[2016-08-01 20:31] trueadm commented on #286
@nightwolfz added to readme :)

[2016-08-01 20:31] #286 closed

[2016-08-01 20:31] trueadm commented on #285
Closing this as I can't see an issue with Inferno.

[2016-08-01 20:31] #285 closed

[2016-08-02 07:45] Havunen commented on #287
As @niant commented the issue here is that Inferno stores DOM property to props (under children). And shouldComponentUpdate occurs before render so they will always be different and thus this will not work.

as a side note: Why blueprints also have dom property?

[2016-08-02 08:01] Havunen commented on #296
This is good idea and should be implemented IMO. Somehow it needs to be conditional to use hashBang routing or HTML5 historyAPI. This might be breaking change in router API.

[2016-08-02 08:04] Havunen commented on #298
I have seen this issue too, actually there are tests already for this (currently ignored). I tried fixing this once, but was not successful at that time. The issue is that it seems like removeAttribute() does nothing.

[2016-08-02 08:07] #273 closed

[2016-08-02 08:56] trueadm commented on #287
@niant so I looked into this, and I feel that you shouldn't really deep check Inferno vDOM as they don't make for good serialisable objects. You could create a separate function that checks over them and ignores `dom` properties. I'm not sure what you mean about changing of styles – do you mean changing them directly on the DOM node?

[2016-08-02 09:58] niant commented on #287
Yes, so I assume this works as intended? children properties are just not deeply equal.. I might do equality checking then by ignoring dom properties like @trueadm suggested! Or send child-view as parameter rather than children property, that might work too..

By styles I was just referring to my example code that the same happened with hiding or changing any style. So nothing special there :)

I

[2016-08-02 09:58] #287 closed

[2016-08-02 09:59] trueadm commented on #287
@niant I'm tempted to add a util that can deep check vDOM for you – it would mega useful for testing too! This will likely drop in version `0.8` though as the structure of vDom is going to change for many reasons.

[2016-08-02 11:38] Havunen commented on #296
Hey @edoroshenko,

I added basic support for pushState its available in latest DEV, can you check that out and verify it works for you. Also routeTo is exposed now.

BR
Havunen

[2016-08-02 15:20] durango commented on #296
Exposing `routeTo

[2016-08-03 05:39] nightwolfz commented on #282
I'm on it

[2016-08-03 08:17] trueadm commented on #282
@nightwolfz awesome stuff! Thanks

[2016-08-03 13:45] vinej commented on #282
I could give you some help with that (testing)

[2016-08-03 16:39] nightwolfz commented on #282
Sweet, now I just need to find time and figure out something similar to `match()` from react-router

[2016-08-04 06:22] Havunen commented on #296
@durango I thought this was about not refreshing browser window, but using HTML5 history api.

[2016-08-04 11:54] durango commented on #296
@Havunen omit the window.location part and throw in the pushState (really the purpose of the Link(..) was to grab the actual url without having to check for the hashbang option etc). In any case, I think routeTo is exposed in the next release anyway

[2016-08-04 20:34] Xerios commented on #298
Same here, can't do SSR without this.

[2016-08-04 20:45] trueadm commented on #298
@Xerios I'm looking into this one tonight.

[2016-08-04 21:52] nightwolfz commented on #282
Here's something I made in a rush

https://github.com/nightwolfz/inferno-starter

[2016-08-04 22:23] trueadm commented on #298
https://github.com/trueadm/inferno/releases/tag/0.7.25

[2016-08-04 22:24] #298 closed

[2016-08-05 12:18] edoroshenko opened #302 "`location is not defined` when rendering `Link` component on server"
Isomorphism is broken a little :)

[2016-08-05 17:32] vinej commented on #282
I did some tests and there is an error with the logout (I created an issue in inferno-starter)

Thanks

[2016-08-08 09:33] edoroshenko commented on #296
Hey @Havunen ,
I tried, but faced with the issue #302
But in a code it looks the same way as I implemented it myself earlier.

[2016-08-09 17:13] elishacook opened #306 "Adding events causes error during render"
Using 0.7.25, adding an event handler to a node that doesn't already have them causes and error.

For example:

[code]

results in: `Uncaught TypeError: Cannot read property 'length' of null`

It appears the reason is that `mountEvents()` is receiving a `null` `eventKeys` parameter but expects an array.

I can provide a PR with a null check in `mountEvents` if that's what is needed.

[2016-08-09 19:48] trueadm commented on #306
@elishacook thanks for reporting this issue! I'll get a fix for it sorted out for tonight :)

[2016-08-09 19:58] trueadm commented on #302
This will be fixed in next release!

[2016-08-09 19:58] #302 closed

[2016-08-09 19:58] trueadm commented on #306
Fixed in `dev`

[2016-08-09 19:58] #306 closed

[2016-08-10 02:49] minimok opened #307 "Charts + other external widgets"
This may be a dopey question - but is there a simple way to incorporate e.g D3, Chartist or similar into the page? Bearing in mind that these libs may be doing animations, interpolations etc on their element...I've had a a brief look at the hoops React has had to go through to make this work (looks horrendous!) and was wondering if there's an easier route in Inferno. Cheers.

[2016-08-10 17:18] nightwolfz opened #308 "Updating children's attributes?"
I have this simple thing that I just can't figure out.

I need to add a className to all the children of <Menu/> but no matter what I try, the changes aren't being rendered (although console.log does show the object with the new className).

[code]

Bug or am I doing it wrong?

[2016-08-10 17:58] trueadm commented on #308
@nightwolfz were the children being rendered with blueprints to begin with? If so, that might be why. Blueprints nodes should be treated as immutable objects really.

[2016-08-10 18:23] nightwolfz commented on #308
They were not. Here's my wrapper component

[code]

I have tried in different ways, using blueprints, using createElement, createClass ... no luck so far.

[2016-08-10 18:26] trueadm commented on #308
@nightwolfz using JSX defaults to using `createBlueprint`. Have you tried `createElement` instead of any JSX?

[2016-08-10 18:28] nightwolfz commented on #308
That makes sense!

I'd like to keep the syntax the same (using JSX), is there a way to clone children into mutable objects ?

[2016-08-10 18:30] trueadm commented on #308
You could try `<Menu>{ createElement(Link, { to: '/' }, 'Browser' }</Menu>` for example. That should work.

[2016-08-10 18:35] nightwolfz commented on #308
Thanks!

So there's no way to have a wrapper change `this.props.children` if they are written using JSX then ? Or even return clones of them with new values ?

[2016-08-10 18:38] trueadm commented on #308
The easiest thing to do is making blueprints mutable, so that when doing `setClassName` it makes sure to switch the Inferno blueprint flags. I'd merge it if you want to make a PR.

https://github.com/trueadm/inferno/blob/master/src/core/shapes.js#L32
https://github.com/trueadm/inferno/blob/master/src/core/shapes.js#L119

[2016-08-10 18:39] nightwolfz commented on #308
Thanks for the hint! Still getting used to the Inferno way 👍

[2016-08-10 18:39] #308 closed

[2016-08-10 18:43] trueadm commented on #308
No problem, thanks for keeping with Inferno. Inferno 0.8 will introduce quite a few changes by the way – which are all beneficial (no blueprints bring one of them).

[2016-08-10 18:59] nightwolfz commented on #308
Looks like it was a silly mistake on my end.

Should have done:

[code]

instead of
[code]

[2016-08-10 18:59] trueadm commented on #308
@nightwolfz awesome :)

[2016-08-12 12:57] stasnadol19856972 commented on #256
A more proper way should have been how to ask somebody something the answer
would have been yes

[2016-08-12 13:21] trueadm commented on #256
@stasnadol19856972 Sorry, what do you mean?

[2016-08-14 16:54] rtsao commented on #217
https://github.com/istanbuljs/nyc

[2016-08-14 20:55] trueadm commented on #307
@minimok Hey, I do believe we can port many of the current React based charting libraries to Inferno with relative ease – as Inferno properly supports SVG out of the box (React has only recently done so)

[2016-08-15 13:12] nightwolfz commented on #282
@vinej Thanks, it was a bit of a rushed job. The issues should be fixed now :)

[2016-08-19 15:25] Svjard commented on #284
https://jsfiddle.net/tmt1rLc9/1/, CDNs are fine.

Doesn't work if you give an array to value (single value is fine), expected behavior from React is to allow an Array of values. Also setting 'selected' on any set of the options, beyond just 1, results in no selected options.

[2016-08-19 16:05] Svjard commented on #284
@trueadm if you give me a couple hints I could try to look at a fix for this, and be happy to write the tests for this as well

[2016-08-19 17:26] trueadm commented on #284
@Svjard if you could possibly write a test for this example (you can use the Inferno codebase tests as examples). It would make it really easy for us to fix. Let me know if you need any help.

[2016-08-19 20:47] jackmoore opened #314 "getDefaultProps for inferno-compat"
Trying out inferno with an existing ES5 React application, and it seems to ignore default props provided by getDefaultProps.  Any plans on supporting that for ES5 components?

[2016-08-19 20:54] jackmoore opened #315 "inferno-compat: React.createElement children incompatibility"
Facebook's React.createElement can be passed children via the third argument, or as part of the props object.  For example:
[code]

inferno-compat only seems to support the passing the children as the 3rd argument.

[2016-08-19 21:04] jackmoore opened #316 "inferno-compat: support defaultValue for input elements"
React provides the `defaultValue` property so that non-controlled input elements can be provided with an initial value.  It seems that inferno-compat ignores `defaultValue`.  Unlike React, `value` seems to be uncontrolled in inferno.

Any plans to make a distinction between controlled and uncontrolled values?

[2016-08-19 22:18] trueadm commented on #316
@jackmoore I was reluctant to add this in the past but there has been quite a lot of reaction to this feature – so I'll look to adding it to Inferno :)

[2016-08-19 22:18] trueadm commented on #315
@jackmoore This is a bug, thanks, I'll fix `inferno-create-element` to add this support!

[2016-08-19 22:19] trueadm commented on #314
@jackmoore this is definitely a regression, as this should work. Thanks for letting us know – will be fixed ASAP.

[2016-08-20 20:35] trueadm commented on #284
@Svjard fixed in `0.8` :)

[2016-08-20 20:35] #284 closed

[2016-08-24 13:29] TenSoon opened #317 "inferno-route url params variable is undefined"
Hello,
I'm quite new to Inferno and I love it so far but I've hit a wall with the routes component.
I'm trying to pass an argument in the URL but it doesn't seem to work properly for me. Here's my code:

[code]

In the `PortfolioSection` the `params` variable is always undefined with the above code, but when I remove the `component={App}` from the `<Router...` the `params` variable is no longer un

[2016-08-24 13:36] trueadm commented on #317
@TenSoon `App` should have access to the `params` in props, so you can pass that down along with the children. So you could try this:

[code]

[2016-08-24 14:55] TenSoon commented on #317
@trueadm Unfortunately no. It spits out an error:
`inferno-dom.js:807 Uncaught TypeError: Component is not a function`

[2016-08-24 16:26] trueadm commented on #317
@TenSoon Ah yes, sorry I was I forgot that the children were a `VNode`. I'll add a new pacakge called `inferno-clone-element` tonight that will replicate `React.cloneElement` that will help here. I've updated the example above to have a workable fix for now.

[2016-08-26 13:21] nightwolfz opened #318 "[Feature request] Pass props to render() for aesthetic reasons"
Would it be possible to have something similar to Preact where the render methods receives props as the first argument and context as the second one ?

ex:
[code]

[2016-08-26 13:30] trueadm commented on #318
@nightwolfz is this for `render` methods inside ES2015 classes? As functional stateless components already have this.

[2016-08-27 10:29] nightwolfz commented on #318
That's right. It's pure sugar but it would be nice to have (even if in a separate inferno package)

[2016-08-29 18:56] aguilera51284 opened #319 "React Monocle"
Is there any plan to support this plugin?

[2016-08-30 08:17] trueadm commented on #319
@aguilera51284 something like this is planned to be supported in Inferno 0.8 :) along with Inferno's dev tools for Chrome.

[2016-08-30 17:11] aguilera51284 commented on #319
omg i cant wait :)! thx!!!!

[2016-09-02 07:04] Havunen commented on #307
You can use Inferno to render the SVG and then simply use D3 for modifying the contents of it. Its not optimal but works.

[2016-09-03 08:53] marvinhagemeister opened #322 "Which branch is the the current development branch?"
I'm thinking about contributing to inferno, but I'm insure into which branch to dive into. Does main development happen on the `dev` branch anymore? It seems like `0.8`and `1.0` is where development happens?

[2016-09-03 09:02] trueadm commented on #322
@marvinhagemeister the `0.8` was where `next` development was happening. A decision was made to instead work on `1.0` as the `next` branch. `0.8` set out to introduce templates, but during development, the performance and the amount of extra code that templates introduced wasn't really beneficial. If you want to develop on Inferno, use the `1.0` branch for now. I plan to merge `dev` into `master`

[2016-09-03 09:04] trueadm commented on #318
This will fall into development for Inferno `1.0` rather than `0.7`. `0.8` development is being skipped from now on in favour of `1.0`.

[2016-09-03 09:05] trueadm commented on #317
`Inferno.cloneVNode` into development for Inferno `1.0` rather than `0.7`. `0.8` development is being skipped from now on in favour of `1.0`.

[2016-09-03 09:05] marvinhagemeister commented on #322
Awesome, that clears things up! Thanks for the quick reply and an amazing vdom library!

[2016-09-03 09:05] #322 closed

[2016-09-03 23:04] nightwolfz opened #323 "Bug when using forceUpdate (or observable libraries)"
How to reproduce:

[code]

This will throw an exception:

[code]

[2016-09-10 21:42] buzinas commented on #44
Any ETA for DOM transitions? By the way, is there a simple way to do that today?

[2016-09-10 21:46] trueadm commented on #44
@buzinas Well, I've put a lot of thought into this. The way Snabbdom does transitions means integrating it into the core virtual-DOM layer, which isn't flexible. There are many ways of doing animation: JS, CSS3 and canvas. I thought it's best to be left to an exposable user-land library rather than being handled in core. Let me know if you think this a wrong decision.

[2016-09-10 22:12] buzinas commented on #44
@trueadm While working on some big projects using React, I always played with other libraries to see how the community is evolving some good ideas from them.

A couple of weeks ago, I started developing some smaller apps, and I decided to give Inferno a try (have been flirting with it for the last months). I loved the way you made the logic for `createBlueprint` and the performance overall.

Also,

[2016-09-11 01:03] stevenvachon commented on #44
I plan to write a vanilla version of [jquery.transition**s**end](https://github.com/stevenvachon/jquery.transitionsend) with web animations support in the future. It could be used to handle the completion of transitions.

[2016-09-11 10:41] trueadm commented on #323
@nightwolfz Can you see if this happens in `dev` branch – as lots has changed from 0.7 to 1.0? Thank you :)

[2016-09-11 20:28] trueadm opened #339 "Convert 1.0 codebase to TypeScript"
Currently the 1.0 codebase lives on the `dev` branch. It'll gradually be completely converted over to TS – with a keen eye on not reducing any regressions to performance. I'll need community help here (in form of PRs) to help get it all converted.

Currently the build works fine – it handles the mix of `js` and `ts` files and also accounts for the fact that our tests need to use `babel` for the `b

[2016-09-11 21:47] trueadm commented on #339
Tests now run thanks to help from the community!

[2016-09-11 22:13] Citrullin commented on #283
Same issue here. Maybe you can implement ref and this.node. I'm not deep enougth in this topic but i think there will be some reasons for this: https://github.com/yannickcr/eslint-plugin-react/issues/678

[2016-09-11 22:31] Citrullin commented on #283
Solved this issue in the following way:
`import Inferno      from 'inferno';
import Component    from 'inferno-component';
import InfernoDOM   from 'inferno-dom';

import Chart from 'chart.js';

export default class LineChart extends Component{

    initializeChart(self){
        setTimeout(function(){
            var element         = document.getElementById(self.props.id);

            console.l

[2016-09-11 22:33] trueadm commented on #283
@Citrullin what was the code before? It would be good to see a diff of what you needed to change. I can feed this all back into Inferno 1.0. :)

[2016-09-11 22:37] Citrullin commented on #283
@trueadm  It's simply a workaround with a id.
I create, in my render method, a random timestamp id. Add it to my component props and get the element directly from the DOM.

[2016-09-11 23:23] trueadm commented on #283
@Citrullin In Inferno 1.0 and (if I decide to do another release, 0.7) you can use refs as callback functions. This should solve your issue completely.

You can actually use Inferno 1.0 now, although it's still in development and early alpha.

`npm install --save inferno@alpha8`
`npm install --save inferno-dom@alpha8`
`npm install --save inferno-component@alpha8`
`npm install --save-dev babel-plug

[2016-09-12 01:23] buzinas commented on #44
Any thoughts, @trueadm?

[2016-09-12 06:38] trueadm commented on #44
@buzinas that's some valid uses of it. I'll look into this for Inferno 1.0. I haven't made any CSS transition examples with Inferno – but I do know some people that have (by using inline `style`).

[2016-09-12 15:31] Citrullin commented on #283
@trueadm Thanks! I will check it! :)

[2016-09-12 23:07] Citrullin opened #340 "Module build failed: Syntax Error"
`
ERROR in ./src/index.js
Module build failed: SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Module.load (module.js:343:32)
    at Function.Module._load (module.js:300:12)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at /

[2016-09-12 23:28] Citrullin opened #341 "createBlueprint is not a function"
Got the error:

`NavigationSidebar.js?2acf:2Uncaught TypeError: _inferno2.default.createBlueprint is not a function`

My package.json:

[code]

NavigationSidebar:

[code]

And the App.js which use the NavigationSidebar:

[code]

[2016-09-12 23:32] trueadm commented on #341
You're mixing 0.8 with 1.0. That's why you're getting this error. I've not yet published the other modules for 1.0 (will do soon) such as `inferno-router`. They're still under development.

[2016-09-12 23:32] trueadm commented on #340
You're mixing 0.8 with 1.0. That's why you're getting this error. I've not yet published the other modules for 1.0 (will do soon) such as `inferno-router`. They're still under development. (as per the other issue)

[2016-09-12 23:51] Citrullin commented on #341
Okay. Version 1 will not backwards compatible. Thanks for the info.

[2016-09-12 23:52] #340 closed

[2016-09-12 23:52] #341 closed

[2016-09-12 23:54] trueadm commented on #341
@Citrullin I've published `1.0.0-alpha8` for `inferno-router` and `inferno-redux`. No guarantees they will work, but you may have more success!

[2016-09-12 23:57] ajacksified commented on #341
@trueadm is there a v1 alpha for inferno-server going up anytime soon as well? (I'm seeing the same issue there.)

[2016-09-12 23:59] trueadm commented on #341
@ajacksified I've published alpha8 of `inferno-server` too. Again, no guarantees it will work. :) Have fun!

[2016-09-12 23:59] ajacksified commented on #341
Thanks!

[2016-09-13 00:04] ajacksified commented on #341
@trueadm no dice, using inferno-compat (v1 alpha 7) - I'll wait a bit, and provide more info when I get a little more time.

[2016-09-13 00:05] trueadm commented on #341
@ajacksified I published alpha8 of `inferno-compat`, does that do any better?

[2016-09-13 00:13] trueadm commented on #341
@ajacksified if you're not already, you should get on the Inferno Slack so I and the others can help you more :) email me your email address at dg@domgan.com and I'll get you an invite (as this issue has been derailed a bit).

[2016-09-13 17:20] nightwolfz commented on #323
Ok I'll give it a try. Your project structure is insane to setup though.

[2016-09-13 17:47] Havunen commented on #323
Hey @nightwolfz  I'm struggling with this same issue trying to link to latest Dev, haven't found nice way to do it yet. however if you want to test with latest published version you can do it simply by changing package.json to
[code]

[2016-09-13 18:16] trueadm commented on #323
@Havunen @nightwolfz Inferno uses a monorepo, so you can't use `git` URLs to pull in content, as that would require a repo per package. What I do is symlink your local `inferno` repo's `packages/inferno/dist` directory into your local `node_modules/inferno/dist`. Works perfectly fine on Linux/OS X. I believe Windows users can now use symlinks via the micro Linux kernel on Windows 10, otherwise you

[2016-09-13 18:18] trueadm commented on #323
Alternatively, we could look into using something like Lerna - https://github.com/lerna/lerna and changing the current Inferno monerepo into something that is more mainstream. Ideas?

[2016-09-13 18:20] leeoniya commented on #323
NTFS has always had support for symlinks, junctions, hardlinks, but you have to use cmd to create them. If you want a shell extension / gui for doing this, try http://schinagl.priv.at/nt/hardlinkshellext/linkshellextension.html

[2016-09-13 18:26] nightwolfz commented on #323
With @Havunen 's help I managed to setup the dev branch. Good news is that the issue is gone now!

The "bad news" is that I have to update [mobx-inferno](https://github.com/nightwolfz/mobx-inferno) now, which I'd gladly do! :D

[2016-09-13 18:27] trueadm commented on #323
@nightwolfz awesome :)

[2016-09-13 21:58] DylanPiercey opened #347 "Equivalent to react's context?"
Is there and equivalent to reacts [context api](https://facebook.github.io/react/docs/context.html)?
I find sideways loading component unrelated data extremely useful via this mechanism and am wondering if something similar exists in this lib or is planned?

[2016-09-13 22:03] trueadm commented on #347
@DylanPiercey Inferno has always supported `context` just like Inferno.

[2016-09-13 22:05] DylanPiercey commented on #347
@trueadm awesome glad to hear. Is the api exactly the same? Or can you link me to some doc's? I'd like to give this lib a whirl today :D.

[2016-09-13 22:07] trueadm commented on #347
@DylanPiercey No docs, unfortunately, but the API is exactly the same – so you should be able to use React docs without issue. Many of the common `inferno` third-party libraries like `redux`, `router` and `mobx` use this the exact same way, so I shouldn't envisage any issues.

[2016-09-13 22:36] DylanPiercey commented on #347
Ah awesome, thanks for the info.

[2016-09-13 22:36] #347 closed

[2016-09-14 03:28] Citrullin commented on #283
Currently I'm using
[code]
instead of
[code]

Can you explain me the benefit of using refs instead of this?

[2016-09-14 05:01] #323 closed

[2016-09-14 21:36] trueadm commented on #318
@nightwolfz are you on the Inferno Slack?

[2016-09-14 23:31] buzinas opened #350 "CDN InfernoServer not working"
When trying to use the CDN version of InfernoServer, it's throwing an error because `stream is not defined`.

[2016-09-14 23:36] trueadm commented on #350
Does this work via NPM?

[2016-09-14 23:37] trueadm commented on #350
@formula1 should be able to help here too.

[2016-09-14 23:39] buzinas commented on #350
Yeah, I only use npm in fact, and it's working properly.

The thing is that I was testing something in JSBin and saw that it is not working because of the stream renderer that was added in v0.7.26.

I reverted to v0.7.25 only to make some tests, and it worked as expected.

[2016-09-15 00:42] thinkpadder1 commented on #256
@trueadm Any updates to possibly bringing synthetic events back (at least in compat)? It really simplified development on React. Thank you.

[2016-09-15 09:42] pearofducks commented on #317
Just a heads up, from that change to `children`, I now get:

`inferno-dom.js:510 - Uncaught Error: Inferno Error: invalid object "object" passed to mount()`

[2016-09-15 09:45] trueadm commented on #317
@pearofducks Can you paste in the code you are using and let me know what version you are using?

It might be an idea to use Inferno `1.0-alpha8`, which has `Inferno.cloneVNode`. You can install `1.0alpha8` via NPM: `npm i --save inferno@alpha8` (same for `inferno-dom`, `inferno-router` etc).

[2016-09-15 09:59] pearofducks commented on #317
@trueadm

I tried upgrading everything inferno related to latest, I got another set of errors (IIRC related to blueprint once I had upgraded the babel plugin as well)

*components:*
[code]

*index:*
[code]

[2016-09-15 10:02] trueadm commented on #283
@Citrullin well, you're using an internal API, which means that it may change in the future. Although, I don't believe that property has changed in Inferno 1.0.

[2016-09-15 10:04] pearofducks commented on #317
With these upgraded, but old babel:

[code]

I get `components.jsx:7 - Uncaught TypeError: _inferno2.default.createBlueprint is not a function`

(line 7 is `import { Link } from 'inferno-router';`)

If I upgrade the babel package, then I get:

`inferno-dom.js:91 - Uncaught Error: Inferno Error: bad input argument called on mount(). Input argument may need normalising.`

[2016-09-15 10:30] trueadm commented on #317
@pearofducks if you use `babel-plugin-inferno@alpha8` that should help with some of those issues.

[2016-09-15 10:47] Centaur commented on #44
Since version 1.0 has been released now, I think a project template/generator like `angular-cli`/`create-react-app`/`ember cli` ... will be very useful for newcomers like me to try inferno out.

[2016-09-15 10:56] pearofducks commented on #317
That helped. It seems there some new incompatibility between `<Link>` and mobx reactions.

I'm using `mobx-observer`, because I couldn't get `mobx-inferno` working with alpha8.

This works:
[code]

This does not:
[code]

[2016-09-15 11:11] trueadm commented on #44
@Centaur hasn't been released yet as stable. It's still in alpha. I hope it will be stable within the next week. Once it is, looking at something like you mentioned is definitely on the cards!

[2016-09-15 11:13] trueadm commented on #317
Ah, third party libraries will need updating to support 1.0. 1.0 has a completely different internal API from 0.7.

[2016-09-15 11:15] Centaur commented on #44
@trueadm Looking forward to that. Thank you.

[2016-09-15 13:52] lucsky commented on #44
An external library that I would deem essential as of today would be `inferno-mobx`.

[2016-09-15 14:07] trueadm commented on #44
@lucsky There is a `mobx-inferno` package already out there, although third-party, rather than in the core repo. I plan on moving as many essential packages into the core Inferno monorepo.

[2016-09-15 15:17] Citrullin commented on #283
@trueadm Thanks. Accessing the internal API isn't a big problem. Yes, maybe I have to change the code on an upgrade but it's a better solution than the first one.

[2016-09-15 19:53] trueadm commented on #256
@thinkpadder1 I'm not sure about core. It might be something for `compat`. I've been asked this a lot recently too, even by people at Facebook. I need to spend some proper time investigating the level of effort, the affect on performance etc of doing such a thing. It won't be in for `1.0`, maybe a later version though.

[2016-09-15 19:55] trueadm commented on #350
@buzinas I don't think `InfernoServer` should be used on JSBin personally. That package really is only for NodeJS consumption (I should remove the URLs to it from the README). It doesn't make sense why you'd run it on the browser given it needs streams.

[2016-09-15 19:58] capaj commented on #256
@trueadm just going by my gut feeling, I too think putting it into `inferno-compat` is for the best. Inferno should not try too much to do everything react does. That is what `inferno-compat` lib is for.

[2016-09-15 20:00] trueadm commented on #256
@capaj I completely agree. Not everyone wants or needs the features that React offers. Inferno 1.0 will refine many parts of the API that people had issues with before, but I don't want to see synthetic events being a core feature – more an addition when using `inferno-compat` like you say.

[2016-09-15 20:54] buzinas commented on #350
In fact, I was using only the `renderToString` function, it doesn't need any kind of stream to take a Component and return the respective HTML code, right?

The stream is one form of rendering in Node.js, but the `renderToString` method should be used in any environment, at least, that's what I think.

But, in fact, I only created the issue because I saw the error when trying o make some tests. I

[2016-09-15 21:15] trueadm commented on #350
@buzinas Ah, I understand you now. Well the long term plan is to adopt streams to speed up `renderToString` as it can be dreadfully slow in large components (whilst streams give it far better performance, even more so with caching). I'll leave this out of the browser for now I think – it's not a showstopper for 1.0 in my eyes as the majority of people using a server package will be using Node.

[2016-09-15 21:15] #350 closed

[2016-09-16 03:42] rattrayalex opened #356 "Document the nature of performance gains over React"
Hi there,

This looks like a very exciting project, and terrific work!

I'm curious what about the way Inferno is built makes it faster than React, and what sort of application characteristics will benefit most (or least) from these performance boosts.

I see a "Performance" section in the Readme but it doesn't explain why Inferno is any better than React. In fact, it mostly seems like an advertis

[2016-09-16 04:42] rtsao opened #357 "inferno-create-element@1.0.0-alpha not published to npm"
Hey, it looks like the inferno-create-element package of the dev branch hasn't been published to npm.

I've been testing the 1.0.0-alpha releases so it'd be great to have this package published as well. Thanks!

[2016-09-16 06:03] rtsao opened #359 "Children not receiving context on subsequent renders"
Children receive context on the initial render, but not on subsequent renders.

https://github.com/trueadm/inferno/pull/358 demonstrates this behavior with a failing test

[2016-09-16 06:16] rtsao commented on #359
I haven't had a chance to attempt to debug this (I need to dig into the source code more), but I figured I'd might as well make an issue and PR with a failing test.

Awesome work on Inferno 😄

[2016-09-16 06:19] pearofducks commented on #317
@trueadm - just a heads up, `inferno-create-class` 1.0.0-alpha8 is missing from npm

[2016-09-16 08:21] trueadm commented on #357
@rtsao well spotted, published both create-element and create-class

[2016-09-16 08:21] #357 closed

[2016-09-16 08:22] trueadm commented on #356
@rattrayalex This has been asked numerous times, so it's definitely going to happen. I actually plan on re-doing much of the README.md in general. Given Inferno 1.0 has a new API and many of the things that people want to understand (JSX vs non-JSX) really need to be documented better.

[2016-09-16 08:23] trueadm commented on #317
@pearofducks published it. I'm going to close this issue now as the original issue has been added to Inferno 1.0.

[2016-09-16 08:23] #317 closed

[2016-09-16 14:23] rattrayalex commented on #356
Awesome, best of luck!

[2016-09-16 14:24] rattrayalex commented on #356
Feel free to close this issue if you'd prefer to keep track of it elsewhere (eg, in your head)

[2016-09-16 18:26] pspeter3 commented on #339
I'm happy to help with this if possible.

[2016-09-16 18:27] Schnueggel commented on #339
Yes sure.

[2016-09-16 19:03] Havunen commented on #359
Fixed in dev branch (1.0)

[2016-09-16 19:03] #359 closed

[2016-09-16 19:09] trueadm commented on #339
@pspeter3 @Schnueggel that would be awesome. If you could both jump on the Inferno slack (if you need an invite, email me at dg@domgan.com) and we can all discuss strategy and what files to convert to TS :)

[2016-09-16 22:58] rtsao commented on #359
Great, thanks! Would you mind publishing to npm?

[2016-09-16 23:57] Citrullin opened #362 "Build of SVG Component with metadata failed"
I have a svg component:

[code]

With metadata the build will fail. Without, it works. The message:

[2016-09-17 05:19] Nicolab commented on #356
:hear_no_evil: I take the occasion in this issue to congratulate you for this great work.
Thank you!

[2016-09-17 07:33] trueadm commented on #356
Thank you @Nicolab :)
@rattrayalex I'll leave this issue open as a reminder!

[2016-09-17 07:34] trueadm commented on #316
@jackmoore this should be handled better in the upcoming `1.0`.

[2016-09-17 07:34] trueadm commented on #314
@jackmoore this has been added to `1.0`.

[2016-09-17 07:34] #314 closed

[2016-09-17 07:35] trueadm commented on #359
This has been pushed to NPM as `alpha10`.

On Fri, Sep 16, 2016 at 11:58 PM, Ryan Tsao <notifications@github.com>
wrote:

[2016-09-17 15:28] jackmoore commented on #316
@trueadm Thank you, and congrats on recent praise from Sebastian Markbåge.  Keep up the good work.

[2016-09-17 23:18] trueadm commented on #362
@Citrullin what version of Inferno were you using when this happened? Sorry for the delay too – doing my very best to get everything in and working for the `1.0` release.

[2016-09-17 23:19] trueadm commented on #318
@nightwolfz did you get my last comment on this thread? Please email me at dg@domgan.com. Need to speak to you ASAP :)

[2016-09-17 23:23] Citrullin commented on #362
Everything is okay :) As i see, you have a family. That's definitely more important! :)

[code]

[2016-09-17 23:26] trueadm commented on #362
@Citrullin awesome, I'm glad to hear :) can you try `1.0` and see if you have different results? You can get it on NPM via `npm install inferno@alpha11` etc and `npm install --save-dev babel-plugin-inferno@alpha11`. :)

[2016-09-17 23:27] trueadm commented on #318
on a side note, this is now in `1.0`.

[2016-09-17 23:27] #318 closed

[2016-09-17 23:29] trueadm commented on #315
Added in next `1.0` alpha release.

[2016-09-17 23:29] #315 closed

[2016-09-17 23:29] Citrullin opened #364 "this.context.store vs props mapping"
Hi, I have a component where I map the store properties to the component properties:

[code]

Now i can use this.props.charts.forEach or store.getState().overview.charts.forEach. My question is: What is better and what are the differences? Okay, I know, can filter my information inside the mapping.   But are there more benefits of using the mapping?

[2016-09-17 23:30] trueadm commented on #316
@jackmoore thanks for the compliment, means a lot :)

[2016-09-17 23:30] #316 closed

[2016-09-17 23:31] Citrullin commented on #362
Yes, i give you a feedback in 5 minutes :)

[2016-09-17 23:33] trueadm commented on #364
This sounds like a Redux question, more than an Inferno question. I'd personally say (off the top of my head) than you could map `this.props.charts` rather than using `forEach` and using the props is better than doing `store.getState()`. I'll CC in @gaearon in case he see this and has time to also answer. :)

[2016-09-17 23:46] Citrullin commented on #362
Everytime i got this error: version not found: inferno@1.0.0-alpha9

[code]

[2016-09-17 23:47] trueadm commented on #362
@Citrullin so this is something a lot of people (and I) have seen. It appears to be an issue with NPM. To get around it, you'll need to manually do `npm install --save` bla bla rather than changing your `package.json` and doing `npm install`.

[2016-09-17 23:48] trueadm commented on #362
@joshburgess had this issue earlier too

[2016-09-18 00:00] Citrullin commented on #362
You already reported this?

[2016-09-18 00:04] trueadm commented on #362
@Citrullin not yet, I think it might be because I unpublished `inferno@alpha9` that NPM is messed up (bad build).

[2016-09-18 00:08] Citrullin commented on #362
But it's definitely something on npm's side. I cleared the cache, removed all my node_modules, removed also infero in my package. Still this error.

[2016-09-18 00:09] trueadm commented on #362
@Citrullin you need to explicitly install the modules again via command line using `--save` or `--save-dev`. It will get around this bug for now.

[2016-09-18 00:12] Citrullin commented on #362
@trueadm Yes and this works. I get the error:

Module build failed: SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Module.load (module.js:343:32)
    at Function.Module._load (module.js:300:12)
    at Module.require (module.js:353:17)
    at require (internal/modu

[2016-09-18 00:13] trueadm commented on #362
@Citrullin sounds like a `babel-plugin-inferno` error. What version of Node are you using? It needs version 6>

[2016-09-18 00:14] Citrullin commented on #362
@trueadm 2.15.8

[2016-09-18 00:36] Citrullin commented on #362
@trueadm
Have I also to update the babel plugins?

    at Plugin.init (/home/philipp/git/marketing-automation-frontend/node_modules/babel-core/lib/transformation/plugin.js:131:13)
    at Function.normalisePlugin (/home/philipp/git/marketing-automation-frontend/node_modules/babel-core/lib/transformation/file/options/option-manager.js:144:12)
    at /home/philipp/git/marketing-automation-frontend/no

[2016-09-18 00:37] trueadm commented on #362
The plugin also has `alpha11`. I'm off to bed now, so will continue to help you in the morning :)

[2016-09-18 00:37] Citrullin commented on #362
Yupp, it has. Good night.

[2016-09-18 06:18] Havunen commented on #153
Inputs are working correctly when disabled, in fact browsers handle that, not Inferno. I'm closing this.

[2016-09-18 06:18] #153 closed

[2016-09-18 08:11] marvinhagemeister commented on #339
@trueadm I'm really interested in helping out with the typescript port 🎉

[2016-09-18 08:43] Havunen commented on #362
Is this still an issue?

[2016-09-18 08:52] Havunen commented on #339
Also one issue loosely related to this conversion Is that we have util code duplicated accross packages. Previously I used to Import only features I needed directly from Inferno source. But after converting to typescript this Is no longer possible, without adding typescript compiler which Is out of question.

Somehow we should solve this code duplication issue accross prebuilt packages.

There are

[2016-09-18 09:10] #276 closed

[2016-09-18 09:11] Havunen commented on #217
I think this should be addressed for 1.0

[2016-09-18 09:17] Havunen commented on #296
I think this is fixed. Please open a new issue if you still have problems with this.

[2016-09-18 09:17] #296 closed

[2016-09-18 09:27] Citrullin commented on #362
@Havunen  I got an error. Mount, need to normalise etc. by Inferno. I will check it later.

[2016-09-18 09:34] gaearon commented on #364
Don’t use `context`, your code will break when React changes it. It’s an unstable API.
`connect()` exists precisely to shield you from its usage.

[2016-09-18 09:41] #364 closed

[2016-09-18 11:16] marvinhagemeister commented on #339
@Havunen That's great insight. Would it make sense to have one common utils package and hope for tree-shaking to do its best?

I'm confused by this. Don't we need the typescript compiler anyway?

Another thing that popped up when I dabbled a bit with the router package is how we should deal with the following use case:

[code]

but `createVElement` only returns an object without instance functions

[2016-09-18 11:25] Havunen commented on #339
Yes. What I meant is that previously I used to import stuff I needed directly from Infernos sources and I can no longer do that because my app don't use typescript.

@marvinhagemeister I think those existed in older version of Inferno. @trueadm can help you with those internal API changes

[2016-09-18 11:35] trueadm commented on #339
@marvinhagemeister Yes, we now use plain old object literals for all VNodes (including VElement). They're faster than constructors and prototype methods (which add overhead, as we don't really need them).

[2016-09-18 12:33] Havunen commented on #339
Hey,

I noticed running unit tests for server side code is down
[code]
Also building code coverage is down
[code]
This is also most likely related to typescript conversion. Somebody with better understanding of TS tools please take a look.

[2016-09-18 16:16] marvinhagemeister commented on #339
@Havunen I see, thanks for your reply!

@trueadm Awesome, didn't know that! What are the main architecture changes and thinks we should know when preparing a PR for 1.0? If that is ok with you I'd love to get my hands on the router package for the typescript port.

[2016-09-18 16:57] trueadm commented on #339
@marvinhagemeister Quite a bit has changed since `0.7`. The codebase was simplified, independent VNodes were made for VElements and VComponents. Blueprints were expanded on and a new shape of VComponent was made called OptVElement. Your best bet is saying looking through the source and then asking questions on Slack :) I'll be happy to help!

[2016-09-18 19:00] svenanders commented on #256
Just noticed Inferno last week and have been playing with it this weekend. Absolutely love it, and part of it is the small surface area. I also agree that synthetic events doesn't belong in the core.

I built a demo comparing React/MobX with Inferno/MobX and noticed that the React version gets non-responsive after scrolling, while the Inferno version keeps up noticeably better. Pretty exciting :)

[2016-09-18 19:13] trueadm commented on #256
@svenanders awesome to hear :)

[2016-09-18 21:06] trueadm commented on #339
Having a very frustrating issue trying to get the Node tests running. I've added `ts-node` as a compiler for `mocha`:

https://github.com/trueadm/inferno/blob/dev/config/mocha.opts

But it doesn't like mixing `js` and `ts` files that can have various compilers attached to them, I get this error when running `npm run test:server`:

[code]

Can a TS guru check out the Inferno repo and try running `n

[2016-09-18 21:31] blakeembrey commented on #339
@trueadm Add TypeScript _before_ Babel. `ts-node` falls back to using the `.js` loader to read from the filesystem (which allows other people to potentially inject changes).

[2016-09-18 21:32] trueadm commented on #339
@blakeembrey The thing is all the test files are in `js`, all the main source of Inferno is in `ts`. If it fell back to using `js` that then imported a `ts` file, would it work?

[2016-09-18 21:34] trueadm commented on #339
@blakeembrey Switching around the compilers brings about a different error:

[code]

I suspect this is because the `js` test file is trying to load a `ts` file. Just to also point out, all the tests pass fine using webpack and its ability to resolve multiple extensions. I do wonder if this is an overly complex case for Node to handle?

[2016-09-18 22:41] trueadm commented on #339
One other thing to note is, the `tsconfig` looks like this:

[code]

[2016-09-18 22:50] blakeembrey commented on #339
If you log `require.extensions`, it seems like `.ts` is never registered which is weird. This is what I got:

[code]

[2016-09-18 23:03] blakeembrey commented on #339
Here's where I got to. If you use `--compilers ts:ts-node/register,js:babel-core/register` (one line) it works. But you run into more issues. It looks like you've got a pretty messy dependency chain. One issue is you're emitting TypeScript as ES6 modules, which won't run under `node`. You could use CommonJS modules instead, assuming you actually want ES6 output. The other option is to register Bab

[2016-09-18 23:12] trueadm commented on #339
@blakeembrey going by what is in the webpack config for tests:

https://github.com/trueadm/inferno/blob/dev/config/webpack.dev.conf.js

We do use Babel after TS has compiled, so ES6 modules get compiled down again (plus any code that includes non TS stuff, such as Stage-0 or the JSX plugins). How would this configuration look?

I tried:  `--compilers ts:ts-node/register,ts:babel-core/register,js:b

[2016-09-18 23:20] trueadm commented on #339
@blakeembrey if you can email me at dg@domgan.com I can send you an invite (if you want one) to our Slack – we're all trying to crack through it but I need to go to bed soon.

[2016-09-18 23:32] Schnueggel commented on #339
changing module in tsconfig.json to "commonjs" works for me. The tests runs. Showing some typescript syntax errors in the Router.ts

[2016-09-18 23:38] trueadm commented on #339
@Schnueggel but then that will skew the actual build that needs ES modules for rollup? Can't we inline these settings changes for only the `npm run test:server` somehow? Good work non the less :)

[2016-09-18 23:48] Schnueggel commented on #339
I was not able to give ts-node options except with TS_NODE_COMPILER_OPTIONS={"module":"commonjs"}

[2016-09-19 00:06] blakeembrey commented on #339
You can change `tsconfig.json` for TypeScript. For Babel, you would need to set up the babel configuration to include `.ts` in the extensions. I think it's a `.babelrc` file, but it's been a while since I used it.

[2016-09-19 05:35] trueadm commented on #339
@blakeembrey The thing is, a separate thing for Inferno is its build. All the core `ts` files need to be output as ES6 modules for Rollup to come and tree-shake and optimise the bundle sizes it outputs – this doesn't work if we use CommonJS modules. So I'd prefer to explicitly being able to override `tscofnig` somehow via `ts-node` options, but as stated above, it doesn't work unless with an ENV v

[2016-09-19 18:17] blakeembrey commented on #339
@trueadm You can register it manually if you desire, just read the documentation. But environment variables is the **only** way possible in the way you're using it. The other solution is to use the `.babelrc` as I mentioned.

[2016-09-19 19:34] Nepoxx opened #369 "Learning resources"
As a newcomer, I find the readme lacking in resources to learn the framework ([this starter project is a good start](https://github.com/nightwolfz/inferno-starter)). The assumption that the user knows how to use React is a barrier to entry, at least for me.

Links to tutorials/blog posts/projects using Inferno without a React background would be great.

In the meantime, I'm assuming that learning

[2016-09-19 19:36] trueadm commented on #339
I've updated `dev` branch, see:

https://github.com/trueadm/inferno/blob/dev/package.json#L110
https://github.com/trueadm/inferno/blob/dev/config/mocha.opts#L1

`npm run test:server` is still not working for me @Schnueggel with this approach. How did you get it working locally? Can you make a PR please?

[2016-09-19 19:41] trueadm commented on #369
@Nepoxx Hey, sorry for making the entry barrier hard. This isn't actually intentional. It was assumed that people coming into Inferno pre 1.0 would be coming from React. There is a huge ambition to add docs/website in time for 1.0 release so that people can understand and learn Inferno independently from knowing React. The issue has always been around the API – we knew the API was going to change

[2016-09-19 20:20] trueadm commented on #362
@Citrullin can you come to the Inferno Slack so we can dig into this bug in detail? If you're not on there, email me at dg@domgan.com and I can send you an invite. Thanks!

[2016-09-19 20:27] Schnueggel commented on #339
I think its because I cleaned the cache of ts-node. I have to try again and see.

[2016-09-19 21:46] Schnueggel commented on #339
I am a bit confused on how I got it work last night. Its not working anymore. Its only working for me when using tsconfig.json right now.  Perhaps thats what I did and forgot about it later.

[2016-09-19 22:07] Schnueggel commented on #339
Ah ok its the && between cross-env and mocha command. This will make both commands run in different environments. If you remove the && and put the env value into single quotes it works for me

"cross-env TS_NODE_COMPILER_OPTIONS='{\"module\":\"commonjs\"}' mocha --recursive --bail --opts config/mocha.opts"

One test fails

[2016-09-19 22:08] trueadm commented on #339
@Schnueggel sounds good to me, if you commit that, we can get on fixing the failing test :)

[2016-09-19 23:31] deamme commented on #260
Is this being worked on? I need this to work:
[code]

[2016-09-20 00:03] deamme opened #371 "BrowserHistory push API"
Inferno-routers BrowserHistory needs a push API just like in react-router which uses https://github.com/mjackson/history#navigation.

[2016-09-20 09:44] mstijak opened #372 "Focus cannot be changed during render"
Inferno reverts focus after render to the input element which was active before the render.

Here is a mini example of a lookup component which works with React. https://jsfiddle.net/cax25kem/1/

The same scenario is not possible with Inferno because the framework removes the focus from the search field.

[2016-09-20 10:10] mstijak opened #373 "Consider supporting `className` instead of `class` on SVG elements similar to React"
React allows using className on SVG elements.
Please consider supporting this with inferno-compat too.

[2016-09-20 10:16] russelgal commented on #373
`<svg class="..."></svg>` working for me instead `className`

[2016-09-20 10:17] mstijak commented on #373
Does it work for all svg elements?

[2016-09-20 11:27] trueadm commented on #373
@mstijak This should work on `1.0` – have you tested it there?. SVG elements can't actually use `className`, that's part of the reason why.

[2016-09-20 11:28] trueadm commented on #371
@deamme what benefits would that bring us apart from additional dependencies? Are you experiencing issues on compatibility?

[2016-09-20 11:29] mstijak commented on #373
@trueadm I'm using inferno@1.0.0-alpha11. I probably missed something. I'll check again...

[2016-09-20 11:49] deamme commented on #371
@trueadm My current solution is this:
[code]
Just seems hacky to me. I don't know if we could an api for it in browserHistory.

[2016-09-20 12:05] Citrullin commented on #371
@deamme Why do you need the history? I have a reducer for my url changes. And this is a good solution for me. I can insert, later, an example code.

[2016-09-20 12:10] deamme commented on #371
@Citrullin I want to see your example code, perhaps I'm just doing something unnecessary.

[2016-09-20 12:13] trueadm commented on #260
@deamme it's on the backlog for Inferno `1.0` :)

[2016-09-20 12:18] buzinas commented on #373
Not working here too. I was using `class` for everything, but it's complicated when you want to use with destructuring etc. Then, I changed to `className` everything, but the SVGs stopped working. So, I switched back to `class` only the SVGs.

Actually, I think that `class` and `className` should work exactly in the same way,

[2016-09-20 12:24] deamme opened #374 "React-router migration to inferno-router"
How do I make the equivalent inferno-router code of this:
[code]

[2016-09-20 12:27] deamme commented on #374
Oh, it's on the backlog of 1.0

[2016-09-20 12:27] #374 closed

[2016-09-20 16:58] Havunen commented on #373
className will give better performance, but svg don't support classname API. We could hide this behavior from user by internally using patchAttribute when className is sent to SVG

[2016-09-20 16:59] buzinas commented on #373
@Havunen That would be a great solution, imo.

[2016-09-20 18:28] trueadm opened #375 "Inferno 1.0 release checklist"
- [ ] Ensure `inferno-dom` allows components to return arrays and add tests for this feature
- [ ] Fix all existing issues/bugs that have been reported
- [ ] Improve test coverage for `inferno-redux`, `inferno-router`, `inferno-server` and DOM hydration
- [ ] Convert JS codebase to TS and fix all type errors
- [ ] Improve the build size, investigate using GCC (Java version with flags) to improve p

[2016-09-21 01:43] eshell commented on #282
I pulled the config from create-react-app, made a few tweaks, and https://github.com/eshell/inferno-starter was made. Needs lots of cleanup by someone more experienced in webpack/babel than i to remove react stuff if someone wants to fork it and take over.

[2016-09-21 03:34] Citrullin commented on #371
Okay. Now, I have a time :)
My reducers. Simple an short:

[code]

The reducer has a switch statement for all actions which resulting in a new URL. In my case: navigation- and sub-navigation-click.
[code]
Yes, the switch statement is currently a bit pointless but maybe I have, in the future, actions which haven't direct URLs. Something like: action.type + action.id which results in /campaign/97324

[2016-09-21 05:00] crapthings commented on #287
@trueadm  onComponentShouldUpdate

i've just put this as an attr on stateless component, and log the 3 args, but nothing happened

what's wrong onComponentShouldUpdate work like react shouldComponentUpdate ?

[2016-09-21 12:19] formula1 commented on #350
Ill take a look at this. I was under the impression that inferno just used browserify dependencies on native modules would be taken care of. It should still work in the browser, Give me some time

[2016-09-21 15:34] mciparelli opened #377 "Support Passive Event Listeners"
It would be nice to have support for passive events.
Related: https://github.com/facebook/react/issues/6436

[2016-09-21 16:08] Havunen commented on #373
class and className will now both work for SVG. Implemented in 1.0. https://github.com/trueadm/inferno/commit/aa17a5298a5a9592275b2e86a96ac806267c68a4
Closing this issue.

[2016-09-21 16:08] #373 closed

[2016-09-21 16:16] buzinas commented on #373
@Havunen not sure if this solves the issue. The `className` already worked for SVG, the only problem was when it was being patched to another value. The `className` property is _readonly_ when talking about SVGs. None of those tests check that, and it doesn't seem that any of the file changes handle that too.

Am I missing anything?

[2016-09-21 16:20] Havunen commented on #373
It should work because it uses internally setAttribute('class', *) instead className API. See tests here: https://github.com/trueadm/inferno/blob/aa17a5298a5a9592275b2e86a96ac806267c68a4/src/DOM/__tests__/svg.spec.browser.js#L326-L331

Or maybe I missed something... :P

[2016-09-21 16:24] Havunen commented on #373
Removing implementation makes all tests fail with:
`TypeError: Cannot assign to read only property 'className' of object '#<SVGSVGElement>'`

[2016-09-21 16:30] buzinas commented on #373
Oh, great, thanks! So it will work starting from v1.0 :)

[2016-09-21 16:37] Havunen commented on #362
This fails because there is no custom namespace support for SVG's not in the babel plugin neither in Inferno DOM according to my knowledge.

[code]
that is the content of metadata, Inferno should internally do following:

[code]
Those namespaces are defined on SVG element root. Too difficult task for me, most likely needs @trueadm 's input.

[2016-09-21 17:04] Havunen commented on #262
This is HTML5.1 draft and not currently supported in Google Chrome either.
Try running example here:
https://developer.mozilla.org/en-US/docs/Web/SVG/Element/foreignObject

It will not work even in plain html file. Closing this.

[2016-09-21 17:04] #262 closed

[2016-09-21 17:11] Havunen commented on #274
Example of using this with Inferno could be added to upcoming website for 1.0 release.

[2016-09-21 17:36] Havunen commented on #377
Currently Inferno adds events using inline way. equivalent to:
[code]

To support this feature new way of handling methods is needed. We used to use addEventListener, but that resulted memory leaks and slow rendering because of removeEventListener (to avoid that leak).

[2016-09-21 17:59] Havunen commented on #372
@mstijak  thanks for reporting this issue, @trueadm  has fixed this already for 1.0. You will be able to test it with next npm publish.

[2016-09-21 17:59] #372 closed

[2016-09-21 18:08] Havunen commented on #138
Hooks are fixed for Inferno 1.0 closing this issue.

[2016-09-21 18:08] #138 closed

[2016-09-21 19:01] Havunen commented on #217
Fixed in 1.0

[2016-09-21 19:01] #217 closed

[2016-09-21 19:23] trueadm commented on #362
@Citrullin this is something that React doesn't yet support either. It's a tricky one, I'll be honest: we "could" add this feature but it would mean we'd have to re-do a lot of the core foundations of Inferno and the plugin, which might have an impact on performance.

Can you work without using some of the specialist namespaces?

[2016-09-21 19:25] trueadm commented on #44
Closing this in favour of the 1.0 roadmap https://github.com/trueadm/inferno/issues/375

[2016-09-21 19:25] #44 closed

[2016-09-21 19:25] trueadm commented on #152
This is longer an issue.

[2016-09-21 19:25] #152 closed

[2016-09-21 20:52] LukeSheard opened #378 "Ensure `inferno-dom` allows components to return arrays"
Taken from #375.

Include tests in this feature.

[2016-09-21 20:53] #260 closed

[2016-09-21 20:59] LukeSheard opened #379 "Maximise test coverage"
Taken from #375.
- [ ] inferno-redux
- [ ] inferno-router
- [ ] inferno-server
- [ ] DOM hydration

[2016-09-21 21:01] LukeSheard opened #380 "Covert .js files to .ts"
Taken from #375.

Convert javascript codebase to Typescript including types and lint errors.

[2016-09-21 21:02] LukeSheard opened #381 "Improve build size"
Taken from #375.

Improve the build size, consider investigating GCC (Java version) flags to improve performance and bundle.

[2016-09-21 21:10] LukeSheard opened #382 "Update README.md"
Taken from #375.

Improve the README.md and `/docs` and explain the 1.0 API.

[2016-09-21 21:12] LukeSheard opened #383 "Update README.md in core packages"
Taken from #375.

Ensure that core packages have technical process explained somewhere.

[2016-09-21 21:12] LukeSheard opened #384 "Add tests in inferno-hyperscript"
Taken from #375.

Inferno-hyperscript is now a core package. Update the README and tests to improve coverage.

[2016-09-21 21:13] LukeSheard opened #385 "Introduce mobx-inferno as core package"
Taken from #375.

[2016-09-21 21:16] LukeSheard opened #386 "Inferno-server testing"
Taken from #375.

Add further inferno-server tests and introduce streams into core API.

[2016-09-21 21:16] LukeSheard opened #387 "Update example"
Taken from #375.

Ensure that all examples within the repo work.

[2016-09-21 21:17] LukeSheard opened #388 "Update babel-plugin-inferno"
Taken from #375.

- Ensure it doesn't duplicate Inferno constants
- Ensure support for Node 4.5 LTS.

[2016-09-21 21:18] LukeSheard opened #389 "Investigate Chrome Dev Tool"
Taken from #375.

Investigate effort required to create a chrome dev tool similar to React Dev Tool. (https://github.com/facebook/react-devtools)

[2016-09-21 21:19] LukeSheard opened #390 "Create inferno-test-utils"
Taken from #375.

Create package and support 1.0 API.

[2016-09-21 21:24] LukeSheard commented on #375
This issue has been split into smaller issues which can be seen across the Milestone 1.0.

[2016-09-21 21:24] #375 closed

[2016-09-22 06:51] nightwolfz commented on #385
Should I transfer ownership for this ?

[2016-09-22 09:20] trueadm commented on #385
@nightwolfz please. also can you come to the Inferno Slack when you get a chance? :) (send me an email to dg@domgan for an invite).

[2016-09-22 12:46] Citrullin commented on #362
@trueadm I can also work without metadata and I do. It's only a think you have to know. If this fact is in the documentation, I'm fine with it. It's only a thing other users have to know.

[2016-09-22 13:38] Citrullin commented on #371
@deamme Updated my post. routing inside a reducer isn't a good idea. (Not a pure function)

[2016-09-22 14:10] ipeychev opened #391 "Improve the `inferno-redux` example in the README.md to include store"
Hello,

Inferno+Redux [example](https://github.com/trueadm/inferno/tree/master/packages/inferno-redux) throws an exception:

[code]

Please check the attached file, there is a code for reproducing the issue. You may open the index.html inside the `bin` folder.

Thanks,
[inferno-redux-example.zip](https://github.com/trueadm/inferno/files/487479/inferno-redux-example.zip)

[2016-09-22 14:42] trueadm commented on #391
@ipeychev I believe this has been fixed in Inferno 1.0-alpha11. Are you using Inferno 1.0 or 0.7?

[2016-09-22 14:49] ipeychev commented on #391
I'm using 0.7, what is pushed to NPM

[2016-09-22 14:51] trueadm commented on #391
@ipeychev can you please try Inferno 1.0-ahlpha11?

`npm install --save inferno@alpha11`
`npm install --save inferno-redux@alpha11`

If you use JSX:

`npm install --save-dev babel-plugin-inferno@alpha11`

[2016-09-22 15:01] ipeychev commented on #391
No, it looks it is not fixed in alpha11 :(

[2016-09-22 15:02] trueadm commented on #391
@iclanzan okay, I'll try and get a fix sorted tonight :)

[2016-09-22 15:14] iclanzan commented on #391
Excuse me? 😛

[2016-09-22 15:20] trueadm commented on #391
I meant @ipeychev, sorry @iclanzan :)

[2016-09-22 15:32] bsr203 opened #392 "use with relay"
Is it possible to use inferno with https://github.com/facebook/relay

Any bindings needed/ available / planned.

thanks,
bsr.

[2016-09-22 16:00] trueadm commented on #392
It may be possible with `inferno-compat`, there are no Inferno bindings for Relay. Shouldn't be too hard to port `react-relay` to a package called `inferno-relay` though.

[2016-09-22 16:13] bsr203 commented on #392
thanks. keeping upto date with relay would be a challenge though as it is under active development with few dedicated resource from FB. also there will be a total rewrite, relay 2, already scheduled to release shortly. haven't used inferno yet, but an easy way to replace react with inferno in a react + relay project would be cool. thanks again for super quick response.

[2016-09-22 19:37] trueadm commented on #391
I looked into this more and it's simply because we didn't define `store` in the example. I guess we should have included a demo `store`. We need to do this, I'll update this issue.

[2016-09-23 09:51] xialvjun opened #394 "Wrap inferno to use react component library..."
I don't know if it's possible. I hope it is.
I hope sometime I can:

[code]

then In my inferno app, I can use many other react component library easily.

[2016-09-23 11:38] trueadm commented on #394
Have you tried using 'inferno-compat'? It has confit to do just this sort of thing.

[2016-09-23 11:39] trueadm commented on #394
https://www.npmjs.com/package/inferno-compat

[2016-09-23 13:12] xialvjun commented on #394
Wow, that's just what I want. Thanks.

[2016-09-23 17:23] xialvjun commented on #394
[code]

It seems it doesn't support those addons of react.

[2016-09-23 18:08] nightwolfz opened #395 "Update inferno-mobx for inferno v1"
+ Make it work with inferno v1
+ Rename mobx-inferno to inferno-mobx to keep consistency with other packages

[2016-09-23 18:22] trueadm commented on #394
Ah they are hard ones to add a comparability layer for. Libraries that directly use the private interval modules are problematic. :(

[2016-09-25 15:08] pearofducks commented on #395
Just a heads-up that the dependency for this package pegged at `1.0.0-beta1` won't work as it is right now in npm. Inferno `1.0.0-beta1` doesn't include inferno-mobx in `dist`.

[2016-09-25 19:13] nightwolfz commented on #385
Done

[2016-09-25 19:13] #385 closed

[2016-09-25 23:29] nightwolfz opened #403 "Inferno-dom not passing props and context to render"
`renderComponentToString` does not pass props and context correctly to the `render` method

[2016-09-26 19:01] trueadm opened #404 "inferno-server stream usage should be updated and baked in more"
@formula1 Is this something you'd be interested in picking up? Would be good to have you on our Slack too? Email me at dg@domgan.com if you want an invite :)

[2016-09-26 19:45] trueadm commented on #403
This is in review? If so, please can you link the PR, or commit URL so I can review?

[2016-09-26 20:19] pearofducks opened #405 "inferno-router should support stateless component hooks"
Not sure if this is a usecase you want to support, but (IMO) the stateless component + hooks would feel more rounded out if it was also supported in Router and Route. Unless of course I've missed how one would accomplish this?

`<Route path="/" component={ StatelessComponent } onComponentDidMount={ doStuff() } />`

[2016-09-26 20:45] trueadm commented on #388
https://github.com/trueadm/babel-plugin-inferno/commit/f68669bbd931481a3902a66e9f940232f8b5b495

[2016-09-26 21:19] buzinas opened #406 "Question about the `key` prop"
React recommends the use of `key` for tracking dynamic children by its "primary key". When we don't use it, it also displays a warning.

Inferno doesn't warn when we don't use, and I also saw somewhere (unfortunately, I was not able to find it again) that there is a huge performance improvement when we don't use the `key` prop. So, I would like to ask: what are the recommendations? What exactly ar

[2016-09-26 21:38] trueadm commented on #406
@buzinas Unlike React, Inferno promotes correct usage of instances where you might want, and not want, keys. Using either in different situations can have different performance characteristics depending on what is being "patched". Inferno *could* warn for not using keys on lists that contain stateful DOM elements that can have big issues if not keyed (e.g. inputs, selects, iframes, video, audio et

[2016-09-26 22:03] trueadm commented on #405
@pearofducks this totally should be on the radar and will happen for 1.0. Let me re-title this issue and add it to the backlog for 1.0 :)

[2016-09-26 23:33] LukeSheard commented on #405
Which hooks would we want to support here?

[2016-09-26 23:43] buzinas commented on #406
I'm not using `key` anywhere, and I'll only use it when/if I catch any problem because of it.

[2016-09-27 02:29] buzinas commented on #405
Well, there are a couple of hooks that I would really appreciate if we have here (React doesn't and sometimes I had to create some ugly hacks to simulate that behavior): `onBeforeEnter` and `onBeforeLeave`.

The general idea is to prevent a router to be entered or left. The callback should return a `Boolean` specifying whether it should perform the routing or not.

By the way, the names are just a

[2016-09-27 10:54] LukeSheard commented on #405
@buzinas What are you going to do with a Boolean value though? That's a very specific use case, I think the current system in react-router works better with

`onEnter(replace, callback)`

Where `replace(url : String)` replaces the URL with where you want to transition to, and `callback` fires rendering.

[2016-09-27 14:10] buzinas commented on #405
@LukeSheard the idea is not to remove the current behavior, but implement a new one: the ability to __prevent__ a route from being entered (__before__ entering).

And I wouldn't do anything with the `boolean` value, Inferno would. Think it like a `shouldComponentUpdate`. If the value returned from the callback is `true`, everything happens as expected. But if it is `false`, then Inferno would stop

[2016-09-27 14:20] LukeSheard commented on #405
@buzinas sure. I get that, but my question was. What do you do if you return a false value? Do we

a. Display a blank screen,
b. Route somewhere else?

If b. How do you propose we set where to route?

[2016-09-27 14:33] buzinas commented on #405
The idea is to __prevent__ a route from being entered, so you simply don't do anything. You keep the user in the current route he is.

[2016-09-27 14:36] pearofducks commented on #405
I'd just like to see the ones originally mentioned, and I think most commonly used - namely `onEnter` and co.

It'd ofc. be great if these callbacks have the same access to props and such as the existing ones.

[2016-09-27 19:14] trueadm opened #410 "Create inferno-create-app"
As per title, this would help newcomers majorly. Could we however deal with this differently?
- can we use Rollup instead of Webpack and get all the same features – @Rich-Harris?
- what do we use as the standard test framework? Jest works great with React, but no work has been done around it with Inferno
- can we use Bublé rather than Babel? Given the JSX plugin is in Babel, probably not right now

[2016-09-27 23:31] Rich-Harris commented on #410
depends on which specific features you mean. we're probably going to investigate code-splitting in the near future, but we haven't thought too seriously about what that means.

I'm not too familiar with Inferno's Babel plugin – right now Bublé has out-of-the-box support for JSX but it's naive. I'm probably not going to get much time to work on Bublé in the near future but I'm in favour of smarter

[2016-09-27 23:44] trueadm commented on #410
Just quickly replying as I'm in bed: regarding JSX, Inferno JSX is nothing like React JSX. Rather than create virtual DOM per each JSXElement, Inferno creates optimised elements that rip out static content and hoists them as blueprints. It's a bit difficult to describe, so if you have time, I'd check this for context: https://github.com/trueadm/inferno/blob/dev/examples/dbmonster/app.js

There are

[2016-09-28 08:50] nightwolfz commented on #381
#407

[2016-09-28 09:35] nightwolfz commented on #403
@trueadm Sorry, it's in DEV

https://github.com/trueadm/inferno/commit/a19328507df32ab58e9c884a33226fc5462e7de4

[2016-09-28 09:44] nightwolfz opened #411 "Declaration in inferno-dom breaks SSR"
https://github.com/trueadm/inferno/blob/dev/packages/inferno-dom/src/index.js#L5

[code]

[2016-09-28 09:47] nightwolfz commented on #388
@trueadm Tested on my personal projects, everything still works 👍

[2016-09-28 11:37] trueadm commented on #403
@nightwolfz all good! :)

[2016-09-28 12:01] trueadm commented on #411
@nightwolfz I wonder why this is getting pulled in? `inferno-dom` shouldn't be used on Node.

[2016-09-28 12:24] eshell opened #412 "inferno-router should support sub-routes/index-routes/canActivate hooks"
Something like this would be nice.

[code]
the current path should be passed to every component as a prop

[2016-09-28 16:09] nightwolfz commented on #411
@trueadm I get the error just from importing inferno-dom even if I don't use the functionality on the server-side.

A simple

[code]

should fix this.

[2016-09-28 16:15] nightwolfz commented on #411
#413

[2016-09-28 17:31] #403 closed

[2016-09-29 03:11] buzinas commented on #411
What @trueadm said is completely true. Usually when you're server rendering, you have a `client` folder, a `common` one, and a `server` one. `InfernoDOM` should be used only inside the `client` (while `InfernoServer` only inside the `server`).

I always use server rendering in all my applications and never got this error.

[2016-09-29 10:44] nightwolfz commented on #412
I'm halfway through porting react-router v4 to Inferno. I'll probably release a bit after inferno v1.

[2016-09-29 10:54] nightwolfz commented on #411
@buzinas I have exactly the same structure. Are you sure you are on the **dev** branch ?

[2016-09-29 10:56] trueadm commented on #411
@nightwolfz I'm confused here. the `inferno-dom` bundle file is the only place where this can be created. Why is this being used on your Node stack? The only way to take it in is being doing a require on `inferno-dom`.

[2016-09-29 11:29] eshell commented on #412
That would be even better! :smiley: I had thought about asking about a react-router v4 port, but i thought about just asking for the simplest things every router needs imo. I implemented my own hooks to prevent component rendering for now, but preventing actual construction would be even better. Can't wait to see your work. :+1:

[2016-09-29 12:00] #412 closed

[2016-09-29 12:11] nightwolfz commented on #411
@trueadm

My app is isomorphic/universal. Same component rendered on both server and client, however only the client version executes DOM methods.

Imagine it's this [component](https://github.com/nightwolfz/inferno-starter/blob/master/src/client/components/Todos.js) (it's not) which includes inferno-dom and executes it on componentDidMount. This same component is also executed on node for SSR and

[2016-09-29 12:57] trueadm commented on #411
@nightwolfz I'm still a bit confused: https://github.com/nightwolfz/inferno-starter/blob/master/src/client/components/Todos.js doesn't require `inferno-dom` either, so it shouldn't be in there. We can however use the `utils.ts` `isBrowser` flag to wrap the statement like we have done elsewhere in the codebase but given that this was a bundle file, not actual source I was hoping we'd be able to avo

[2016-09-29 13:33] buzinas commented on #411
@nightwolfz now I got what you mean. You never said you were using `findDOMNode` in your original post. This explains why I never saw this error: I simply never use this method.

[2016-09-29 14:47] nightwolfz commented on #411
@trueadm It wasn't `inferno-mobx` that was causing the problem at that moment, I was migrating a dropdown component from React. Although now that you mention it, I'm also using `findDOMNode`.

I'm in favour of getting rid of that method but you know that many people are going to cry over it.

[2016-09-29 15:03] trueadm commented on #411
@nightwolfz I know, we can always add `findDOMNode` to the `inferno-compat`? It's just a lot of code for no real gain.

[2016-09-29 15:46] nightwolfz commented on #411
+1

[2016-09-29 23:01] #411 closed

[2016-09-29 23:02] #395 closed

[2016-09-29 23:33] buzinas commented on #410
I would love to use Rollup instead of Webpack, and the only reason I don't is the lack of HMR, which comes in handy for development productivity.

A couple of weeks ago, I was thinking about using Webpack for development and Rollup for production, but I got afraid of having two different codes - and then a possibility of two different behaviors.

Another concern I had was: I couldn't find any way

[2016-10-01 03:45] formula1 commented on #404
Im certainly interested. Sent you an email

[2016-10-02 00:29] Mosho1 commented on #339
I would love to help with this if needed.

[2016-10-02 12:36] trueadm commented on #339
@Mosho1 if you can email me at dg@domgan.com then I can send you an invite. Thanks!

[2016-10-02 16:02] pearofducks commented on #405
Vue has a good example of how hooks could be done:

http://router.vuejs.org/en/advanced/navigation-guards.html
http://router.vuejs.org/en/advanced/data-fetching.html

[2016-10-03 17:58] Havunen commented on #406
Performance wise it depends on situation, if you have fe. deep component hierarchy you definitely want to use keys to avoid horrible large changes in DOM tree. Also keyed works very nicely with shouldComponentUpdate while nonKeyed doesn't make much sense. in other hand if you compare it in simple UL LI I think non keyed wins. But like @trueadm mentioned already the main point is to keep the state.

[2016-10-05 16:03] mciparelli opened #422 "[inferno-compat] Radium does not work"
I've been trying to use inferno-compat in an app I'm already using Radium.
I'm getting ` instance.componentWillMount is not a function` error when wrapping a component with `Radium`. Does anyone know of a way to make it work? Thanks

[2016-10-05 16:43] trueadm commented on #422
@mciparelli Hey, what version of `inferno-compat` are you using?

[2016-10-05 16:50] mciparelli commented on #422
I installed the `1.0.0-beta3` and I get the same error with `0.7.27` so it probably has something to do with Radium implementation (of course), but I found weird that it outputs `componentWillMount is not a function`. This can be tested wrapping any component with Radium.

[2016-10-05 17:03] trueadm commented on #422
I'll try and port radium to Inferno-radium tonight for you and get these issues resolved! Thank you

[2016-10-05 17:13] mciparelli commented on #422
That sounds great Dominic! I don't know, maybe there's a way to make it work with inferno-compat, I just didn't go into details to see why is that error being thrown.

[2016-10-05 17:31] trueadm commented on #422
Any chance you could put your code/repo anywhere for me to fix in that case?

[2016-10-05 18:31] mciparelli commented on #422
https://github.com/mciparelli/inferno-compat-radium

[2016-10-05 18:53] trueadm commented on #422
@mciparelli thanks, I'm having an issue running your repo though, specifically `browser-run -b chrome` doesn't work for me at all. ```internal/child_process.js:313
    throw errnoException(err, 'spawn');```

[2016-10-05 19:02] mciparelli commented on #422
Switched to [budo](https://github.com/mattdesl/budo). Give it a try now

[2016-10-05 19:18] trueadm commented on #422
@mciparelli It appears that Browserify isn't properly applying `inferno-compat`. It's attempting to use the actual React for `createClass`. I'd suggest moving to webpack if possible – as I've never seen this issue on webpack. It's likely that the package.json `browser` config isn't working properly here.

[2016-10-05 19:27] mciparelli commented on #422
Where did you see that? If you run `npm start` in my repo and open `http://your-hostname:your-port/index.js` you'll see no reference to `React` at all, it's not being included in the bundle. So `inferno-compat` seems to work just fine, actually the app works. The problem is specifically when I wrap it with `Radium`.

[2016-10-05 19:28] trueadm commented on #422
@mciparelli it's when you use Radium that it brings in the React instance into the bundle (if you check the bundle you should see it in there).

[2016-10-05 19:42] mciparelli commented on #422
ah, I see what you mean now. Weird how Radium causes this. Such a shame browserify has these issues

[2016-10-05 19:44] mciparelli commented on #422
looks like it might be related to `browser` field only working for `local modules`

[2016-10-05 19:44] trueadm commented on #422
@mciparelli Yep, I just saw this, it doesn't apply to `node_modules`. It's a no-go in this case, utter shame.

[2016-10-05 19:58] Mosho1 commented on #422
[aliasify](https://www.npmjs.com/package/aliasify) might be handy in this situation, though I haven't tried it. (or used browserify in ages, you should definitely consider moving to webpack)

[2016-10-06 11:30] Efflam opened #423 "Problem when using glamor with inferno"
Hello,
I'm trying to use [glamor](https://github.com/threepointone/glamor) with inferno and I face a little problem when using spread operator with function call directly.

[code]

will render this
[code]

[2016-10-06 11:48] trueadm commented on #423
@Efflam What version of Inferno are you using 1.0 or 0.7?

[2016-10-06 11:54] Efflam commented on #423
Hello @trueadm, I'm using inferno 0.7.27

[2016-10-06 11:55] trueadm commented on #423
Would you mind trying Inferno 1.0:

`npm install --save inferno@beta3`
`npm install --save inferno-dom@beta3`
`npm install --save-dev babel-plugin-inferno@beta2`

[2016-10-06 12:03] Efflam commented on #423
Problem solved ! Thx a lot @trueadm

[2016-10-06 12:03] #423 closed

[2016-10-06 12:04] trueadm commented on #423
@Efflam Awesome. It's a tricky period right now as 1.0 is close to release and 0.7 is pretty dated, but for stability reasons we can't push 1.0 out publicly until it's all ready. Let me know if you have any more issues and thank you for using Inferno :)

[2016-10-06 13:12] russelgal opened #424 "inferno-mobx"
is `inferno-mobx` ready for inferno 1 beta?

`ERROR in ./app/templates.js
Module parse failed: /Volumes/sites/tork812.dev/node_modules/babel-loader/index.js?{"cacheDirectory":true,"plugins":["transform-decorators-legacy","inferno"],"presets":["es2015","stage-0"]}!/Volumes/sites/tork812.dev/app/templates.js Unexpected token (530:149)
You may need an appropriate loader to handle this file type.
| va

[2016-10-06 13:21] trueadm commented on #424
Is this using `beta3`? @nightwolfz might know more on this issue.

[2016-10-06 13:28] russelgal commented on #424
thanx for fast answer!
beta3 - of course.

[2016-10-06 20:36] Havunen commented on #378
This should be working fine now. Closing this ticket we can report issues (if any found) as bugs

[2016-10-06 20:36] #378 closed

[2016-10-07 14:30] mciparelli commented on #422
Applying a global transform is the solution apparently, and `aliasify` could work here. At least it let me run my app and debug inferno-compat with **Radium**.

So I noticed that **Radium** inspects a VNode's `props` property here: https://github.com/FormidableLabs/radium/blob/9c61f148d51a611af24705fee7f4d9734d336526/src/resolve-styles.js#L316
This works fine in **React** because a VNode in **Reac

[2016-10-07 14:46] trueadm commented on #422
@mciparelli This is still going to be an issue with Inferno, especially in 1.0 as the new `OptVElement` does not have a `props` property; this should be used when compiled to JSX. On a side note, I can add `isValidElement` to `inferno-compat` although this is likely a separate issue. Thanks for your work on this :)

[2016-10-07 14:56] mciparelli commented on #422
But https://github.com/trueadm/inferno/blob/dev/src/factories/createElement.ts does have `props`, and I normally use that to create VNodes, so I think I should be good? If you can add that it'd be great. In official **React** implementation, they just check for a `$$typeof` `Symbol` to see if an element is a valid **React** element. Since I don't see that in **inferno** I suppose `isValidElement`

[2016-10-07 14:57] trueadm commented on #422
@mciparelli that's a good idea, I can validate all the properties are as they should be. Using `createElement` is fine as it creates a `VElement` rather than a `OptVElement` and `VElements` *do* indeed have `props` :)

[2016-10-07 17:44] cmnstmntmn commented on #410
@buzinas you may consider @porsager 's https://github.com/porsager/Wright - very neat any easy to plug with any kind of project.

[2016-10-07 19:18] wski opened #426 "inferno-dom Component is not a function"
My root level component works by using the example in the readme, but creating a child component creates "Component is not a function" from inferno-dom
[code]
is my child component's js file

I'm using by requiring it via `const NavBar = require('./somepath/navbar.js');`

and inside the parent render passing `<NavBar someprop={somevalue} />`

Specifically the error happens on this line
`var node$1

[2016-10-07 19:54] trueadm commented on #426
@wski Hey, can you tell me two things please:

- what version of Inferno are you using?
- can you `console.log` `Component` and let me know the output? It might be due to ES2015 exports that what you're trying to require needs `default`. So something like this `const Component = require('inferno-component').default;`.

[2016-10-07 20:20] wski commented on #426
Uncaught TypeError: Class extends value undefined is not a constructor or null when trying

const Component = require('inferno-component').default;

using .default Components logs to undefined

Otherwise component is
[code]

[code]

[2016-10-07 20:20] wski commented on #426
my babelrc is
[code]

[2016-10-07 20:23] trueadm commented on #426
@wski would it be possible for you to upload your example somewhere so I can fix it and get back to you? I know it's a big, but I'd be extremely grateful :)

[2016-10-07 20:25] wski commented on #426
do you have a gitlab account? I can add you to the repo, I really appreciate the help and quick replies!

[2016-10-07 20:26] trueadm commented on #426
I do, I'm @trueadm on there.

[2016-10-07 20:27] wski commented on #426
https://gitlab.com/niceservers/launcher you should be added

[2016-10-07 21:02] trueadm commented on #426
@wski Thanks. I fixed the issue, it appears you are not exporting the `navbar.js` component, thus it doesn't exist. I changed it to this:

[code]

[2016-10-07 21:03] trueadm commented on #426
[code]

[2016-10-07 21:05] wski commented on #426
Oh duh! thanks a lot man, my mistake.

[2016-10-09 08:50] gaspard commented on #410
Maybe a short video on how to do the transition from a newly created react app to inferno would help a lot already (something like what Christian did for Cerebral2: https://www.youtube.com/watch?v=9DrMC20tkQg):

[code]

[2016-10-09 19:31] #426 closed

[2016-10-10 23:49] nightwolfz commented on #424
@russelgal Can you try the latest version of [inferno-mobx](https://github.com/nightwolfz/inferno-mobx) 1.0.0-beta1 ?

Let me know if the issue is still there (or even better, an example !)

[2016-10-11 00:19] russelgal commented on #424
@nightwolfz, thank you
everything works with es2015 components

but stateless components - no:

[code]
shows error
[code]

[code]
and as usual I'm sorry for the English

[2016-10-11 07:18] nightwolfz commented on #424
@russelgal Thanks for the example! I pushed a fix to the `dev` branch of inferno.

I guess we'll have to wait until 1.0.0-beta4 is out before it's on NPM

[2016-10-11 17:01] pspeter3 opened #432 "Consider moving to yarn"
Since inferno only has dev dependencies, may be we can move to [yarn](https://yarnpkg.com/) which should help with sandbox reliability.

[2016-10-11 17:03] trueadm commented on #432
Yep, totally agree.

[2016-10-12 06:40] Havunen commented on #424
@nightwolfz did you also include tests?

Note: when committing code you can include github ticket by using hashtags in comment. fe this ticket is #424, then it shows here in this thread.

[2016-10-12 20:24] #432 closed

[2016-10-13 18:58] nightwolfz commented on #424
@Havunen  #431

Yes, although they don't cover everything yet

[2016-10-16 14:25] nightwolfz opened #438 "SSR rendering of null children"
When I try to SSR the following component

[code]

I get this as output
[code]

I believe it should be this instead

[code]

[2016-10-16 14:29] nightwolfz commented on #438
5a87569c524023be719e86cde91b1ee561e1f955

[2016-10-17 19:06] #438 closed

[2016-10-17 19:06] #424 closed

[2016-10-18 18:49] nightwolfz opened #443 "Investigate pushing to CDNJS"
Currently for cdnjs to put our bundles on their servers, we need to commit generated files to git.

However if you check one of the libs on cdnjs, for example https://github.com/ternjs/acorn

We can see that they don't have their dist files committed while  `https://cdnjs.cloudflare.com/ajax/libs/acorn/4.0.3/acorn.js` is a dist file generated by their build script from packages.json

We should inv

[2016-10-19 04:51] Mosho1 commented on #443
It's possible to use `npm ` rathern than `git`. From `acorn`'s cdnjs [`package.json`](https://github.com/cdnjs/cdnjs/blob/master/ajax/libs/acorn/package.json)), this is the relevant part:

[code]

[2016-10-19 14:26] nightwolfz commented on #443
Nice find !

[2016-10-20 03:40] xialvjun opened #445 "Hope inferno-compat be more compatitable..."
I tried to use this code block to mock `isValidElement`, but `react-router` need the `element's type` property which is in fact the `tag` property, so I wrap the `createElement` method. But I don't know at somewhere the `type` property be split and the vnodes passed to `react-router` have no `type`... Hope it be add soon.

[code]

[2016-10-20 07:40] trueadm commented on #445
@xialvjun what version are you using? Can you try `1.0.0-beta5`? You can install it via `npm install --save `inferno-compat@beta5`. 1.0 has a `isValidElement`, so that should help. Is `react-router` looking for `type` directly? In which case, I can think of some ideas to get around that.

[2016-10-20 08:36] xialvjun commented on #445
Well, thanks. `inferno-compat@beta5` just works for `react-router`.
But I used to write a package `cache-react-component` which will take use of element.type.displayName/name...And it's broken.
inferno-compat has a long distance to emulate react...

By the way, this repo's build process is too complicated that I can not even set it up and make some contributes.

[2016-10-20 10:34] trueadm commented on #445
@xialvjun I understand now. Thank you for the feedback. One direction could be to make the `component` property on `VComponent` `type` so it has better out-of-the-box compatibility.

In regards to the repo build process, what is too complicated? Are you trying to link to a package? If you can email me at dg@domgan.com, the team and I can help you in detail on our Slack :)

[2016-10-20 14:54] Havunen commented on #445
@trueadm I see compatibility important, but Instead adding it to VComponent, inferno-compat could add into its prototype or inject that property? So it wouldn't come into core.

[2016-10-20 15:06] trueadm commented on #445
@Havunen we could use `defineProperty` to make a getter on it that takes the actual property, as a sort of proxy.

[2016-10-22 12:10] nojvek commented on #356
I've been looking at inferno to understand is internals. A good technical piece would be great.

Let us know if there is something we can help with.

[2016-10-22 12:11] trueadm commented on #356
@nojvek if you'd be up for joining our Slack. I could go through some of the details there, otherwise there's a WIP gist here: https://gist.github.com/trueadm/3944f0aa1c1a6998257b80901ac1d152

[2016-10-22 12:39] nojvek commented on #339
How is the ts work being tracked? I may know a thing of two about Typescript. Happy to help.

[2016-10-23 18:37] trueadm commented on #381
Closing this as the merge of `inferno-dom` into core has made a big impact on bundle size.

[2016-10-23 18:37] #381 closed

[2016-10-23 18:37] #388 closed

[2016-10-23 18:40] trueadm commented on #406
Closing as this topic seems finished :)

[2016-10-23 18:40] #406 closed

[2016-10-23 18:41] #422 closed

[2016-10-23 18:42] trueadm commented on #445
@xialvjun the next beta of 1.0 will have `type` rather than `component` applied to `VComponent`s. So this should hopefully resolve your issue!

[2016-10-25 22:41] nickcolley opened #449 "Bundle size"
I'm interested in how inferno compares with React (and Preact) in terms of filesize.

[2016-10-26 06:01] nightwolfz commented on #449
@nickcolley Way smaller than React, slightly bigger than Preact 👍

[2016-10-26 08:47] dchambers commented on #449
Thanks @nickcolley, this is something I'm interested in too. This [framework-sizes gist](https://gist.github.com/Restuta/cda69e50a853aa64912d) has a few hard numbers for reference, and preact advertises a bundle size of 3kb on its homepage. Would be great to advertise the same for inferfno too.

[2016-10-26 08:50] trueadm commented on #449
@nickcolley Inferno 1.0 will be quite a bit smaller than previous versions of Inferno whilst having quite a lot more functionality – weighing in 9kb (`inferno-dom` is now within `inferno`, rather than being a separate package like before, like Preact).

[2016-10-26 08:53] dchambers commented on #449
Thanks @trueadm, those are really impressive numbers given that Inferno's main focus is run-time performance!

[2016-10-26 15:43] nightwolfz commented on #371
#448

[2016-10-26 15:46] nightwolfz commented on #410
FYI `Bublé` doesn't support generators and a bunch of other features.

[2016-10-26 15:48] trueadm commented on #410
@nightwolfz Nope: https://gitlab.com/Rich-Harris/buble/issues/71

Let's stick with Babel for now then. Plus people will be using Stage 0 coming from `react-create-app` and expect the same features.

[2016-10-26 17:08] ritz078 opened #450 "string refs support in inferno-compat"
As react supports it for now, inferno-compat should also support it.

[2016-10-26 18:04] trueadm commented on #450
@ritz078 Inferno 0.7 supported string refs but the amount of code to maintain them and the performance problems it brought with it weren't deemed necessary given the relative ease for a user to transition off of them to callback refs. Why? String refs require a constant tracking of parent components and their parents too, as a ref might be a child of a component and thus this makes it awfully slop

[2016-10-26 18:09] ritz078 commented on #450
I agree that this will have performance issues and even react doesn't encourage this way but I also believe that inferno-compat should be able to run existing code out of the box. That's the point of having this compatibility layer. But I agree that this way of using refs shouldn't be encouraged.

[2016-10-26 18:10] trueadm commented on #450
@ritz078 I almost wish there was an official codemod from FB that auto upgraded string refs to callbacks, would save so much pain in the long run!

[2016-10-26 18:11] ritz078 commented on #450
totally agree

[2016-10-26 19:12] Havunen commented on #450
We had string support in core previously and it created a lot of complexity with it...  :(

[2016-10-26 22:05] LukeSheard commented on #356
@nojvek if you're considering writing something please take a look at the docs repo and consider contributing something! (https://github.com/infernojs/docs)

[2016-10-27 07:34] ritz078 commented on #450
Whenever someone tries to use inferno compat in a large project , he may not want to make changes to his codebase as far as its supported by React. Maybe this is the reason preact implemented it ?

[2016-10-27 08:44] Havunen commented on #450
yes its valid point. Hopefully we can implement it so that it affects only Inferno-compat package

[2016-10-27 10:06] ritz078 commented on #450
Yes. I will never want inferno to support it but inferno-compat should have it.

[2016-10-27 12:17] trueadm commented on #450
@ritz078 I'll try and add it tonight/tomorrow

[2016-10-27 12:56] trueadm commented on #450
Added to `dev` - https://github.com/trueadm/inferno/commit/74e869b78ce3299dd19deb71a1f99191a25ee85a

[2016-10-29 19:38] nightwolfz opened #454 "Inferno-router params"
Given the following setup, only the `Profile` component gets the params.

It might be a good idea to pass them to the parent as well.

## routes
[code]

## Main.js
[code]

## Profile.js
[code]

[2016-10-30 19:40] LukeSheard opened #455 "Code Coverage Fails"
Since upgrading the test to typescript in #452 code coverage has broken.

[code]

[2016-10-30 21:04] Mosho1 commented on #455
c547d8c424c6e03af6bdb84bff8c4ed93bbdab0c

[2016-10-30 21:04] #455 closed

[2016-10-30 23:33] LukeSheard commented on #454
@nightwolfz did you fix this earlier?

[2016-10-30 23:34] nightwolfz commented on #454
@LukeSheard should be in beta6

[2016-10-30 23:34] #454 closed

[2016-10-31 22:42] wasd171 opened #457 "Errors when rendering array-like structures (beta6)"
Minimal working example:

[code]

Clicking the button throws `Uncaught Error: Inferno Error: bad input argument called on mount(). Input argument may need normalising.`. Changing the structure to
[code]
fixes the issue. Seems that Inferno tries to patch a `dom-fragment` by an array of objects, which, recording to @trueadm , might be a bug with `VFragments`

[2016-10-31 23:22] LukeSheard commented on #457
Any chance you could extend this into a JSFiddle? There's a simple base example here https://jsfiddle.net/lukesheard/axw5869e/

[2016-11-01 00:50] wasd171 commented on #457
Not a problem!

[https://jsfiddle.net/mjz6cc57/](https://jsfiddle.net/mjz6cc57/)

[2016-11-01 07:04] Havunen commented on #457
With quick look, I think this is user land error. You are mixin Keyd nodes and non keyed nodes, Inferno should give warning in this scenario when not in prod build I think. remove key="unique" form your test and it works, or add keys for all

[2016-11-01 08:14] wasd171 commented on #457
Here is a fully keyed version: [https://jsfiddle.net/y7008e5k/](https://jsfiddle.net/y7008e5k/) and a bug persists

[2016-11-01 20:24] Havunen commented on #457
You are still mixin keys, see:
[code]

[2016-11-01 20:30] Havunen commented on #457
Found real render issue related to this though. Looks like bug in keyed algo:

steps to reproduce here:
https://jsfiddle.net/y7008e5k/1/

[2016-11-03 10:07] slmgc opened #458 "Simple Clock (@JSFiddle) is broken"
I think it's a good idea to update [the simple clock example](https://jsfiddle.net/rqwmkx40/) as `InfernoDOM` was deprecated and `render` method should be imported from `Inferno` instead.

[2016-11-03 10:11] trueadm commented on #458
@slmgc good spot, I just updated the URL to point to :) https://jsfiddle.net/00as83tx/

[2016-11-03 10:11] #458 closed

[2016-11-03 10:14] capaj commented on #389
maybe this PR https://github.com/developit/preact/pull/339 would be a good source of inspiration.

[2016-11-03 10:16] trueadm commented on #389
@capaj I've actually already done quite a bit of work on this. Rather than trying to get the React dev tools working with Inferno, I rebuilt the devtools to use Inferno and tidied up a bunch of things. It's not ready yet. Reference: https://github.com/infernojs/inferno-chrome-dev-tools-extension

Although, a quick win might be to get the devtools working with Inferno like @robertknight has done fo

[2016-11-04 12:13] #449 closed

[2016-11-04 12:14] #256 closed

[2016-11-04 12:14] #274 closed

[2016-11-04 12:14] #282 closed

[2016-11-04 12:15] #283 closed

[2016-11-04 12:15] #319 closed

[2016-11-04 12:19] #307 closed

[2016-11-04 12:19] #394 closed

[2016-11-04 19:50] nightwolfz opened #460 "[inferno-router] Query string params support"
Current router does not support querystring params.

I'm going to add it.

[2016-11-05 07:47] Havunen commented on #450
Closing this ticket as its now implemented, crate new issue if problems found with it.

[2016-11-05 07:47] #450 closed

[2016-11-06 13:54] #460 closed

[2016-11-06 13:56] stasnadol19856972 commented on #460
I need a redeem code to get stuff off google play

[2016-11-06 13:56] LukeSheard commented on #405
Closing this as we have implemented `onEnter` and `onLeave` currently. We will be looking to support more hooks in the future, but for now we're aiming to maintain consistency with React Router v3 before adding new features.

[2016-11-06 13:56] #405 closed

[2016-11-06 13:56] #380 closed

[2016-11-06 13:57] #371 closed

[2016-11-06 14:17] Havunen commented on #457
keyed algorithm issue with vFragments has been resolved now.

Also here is fixed version with keys of original ticket:
https://jsfiddle.net/mjz6cc57/1/
(note: Only items inside array are keyed) - div and button are siblings of array thus non keyed

[2016-11-06 14:17] #457 closed

[2016-11-06 15:52] pinandtucker commented on #391
@trueadm it's not clear in the thread if this was indeed a bug in alpha11. I want to apply a temporary patch to get this going, can you describe what needs to be adjusted?

I'm noticing the context in the components aren't being populated with the store value.

[2016-11-06 18:11] LukeSheard commented on #391
@pinandtucker So in the example we don't create a store or any reducers to handle the changes. You'll need to create a reducer to to take any actions that are dispatched. In this case something that takes a type `CHANGE_NAME`

[2016-11-06 18:20] nightwolfz opened #465 "[inferno-router] Make compatible with React Router 3"
To do

- [x] Add `IndexRoute`
- [x] Add `IndexLink`
- [x] Add `IndexRedirect`
- [x ] Add `Redirect`
- [x] Move “render” into a `RouterContext`
- [x] browser/memory history support
    - [x] `browserHistory`
    - [x]  `memoryHistory`
- [x] Expose `router` object on the context
- [x] Use same paths as RR (ex: `import Link from 'react-router/lib/Link'`)
- [x] Get as close to 100% coverage as possibl

[2016-11-07 09:14] Havunen commented on #391
I think example should be improved if it's not clear for people

[2016-11-10 13:59] minimok opened #468 "SSR Example?"
I hate to be *that* guy...but would it be possible to get a simplest possible example of an app with a Component e.g. `import Inferno from 'inferno'
import InfernoDOM from 'inferno-dom'
import Component from 'inferno-component';

class MyComponent extends Component {
    render() {
        return <div>
          <p>Hello</p>
		  <p>World</p>
        </div>
    }
}

export default MyComponent
`

wh

[2016-11-10 15:31] trueadm commented on #468
@minimok I can ask if someone else on the team has an example, I believe @nightwolfz might have. Otherwise, I can put one together later tonight if that's okay?

[2016-11-10 15:37] minimok commented on #468
would be amazing. I have looked at nightwolfz example. Looks really great - but it's a "ferrari" - and to start off I'm needing a bicycle :-)

[2016-11-10 20:59] nightwolfz commented on #468
Just for SSR, I think something like this will work (untested, wrote on the spot):

[code]

[2016-11-10 21:38] trashhalo opened #469 "Lazy Nodes - ReferenceError: setClipNode is not defined"
https://github.com/trueadm/inferno/blob/7f8ab5d2e2fa52a4131b696b809d511a053616d9/src/DOM/patching.js#L256

setClipNode isnt imported into this file so its saying the function is not found. you can see this by clicking the link above and ctrl f - `setClipNode`

[code]

[2016-11-10 21:41] stasnadol19856972 commented on #469
Not lazy, need a plug for true work

On Nov 10, 2016 4:38 PM, "Stephen Solka" <notifications@github.com> wrote:

[2016-11-10 21:42] stasnadol19856972 commented on #469
I have been looking. 200 percent profit from all work is guaranteed

On Nov 10, 2016 4:41 PM, "Stanislav Nadol" <stasnadol@gmail.com> wrote:

[2016-11-10 21:43] trueadm commented on #469
@trashhalo can you try the latest Inferno 1.0.0-beta7? Lazy nodes were removed from Inferno in earlier versions due to the amount of edge cases they brought with them.

`npm install --save inferno@beta7`
`npm install --save inferno-component@beta7`

etc, just add `@beta7`. Note: `inferno-dom` has been removed, you can use `inferno` for `render` etc now.

If you use JSX:

`npm install --save-dev ba

[2016-11-10 21:51] trashhalo commented on #469
Works! Though its not noticeably faster for my specific use case. Feel free to close if you dont want to fix this guy in 0.7.

[2016-11-10 21:52] trueadm commented on #469
@trashhalo 0.7 is quite out-of-date for now. The focus has been on 1.0 and improving memory/performance/features. Has there been a regression in performance for you since moving from 0.7?

[2016-11-10 21:56] trashhalo commented on #469
Nope no regression. Feels about the same. I have 152 rows with 7 columns each cell has a chunk of dom in it. Some minor freezes as I sort and filter. No biggie, im excited about 1.0.

Its a printed report so I actually need to show all the data and cant get tricky with lazy rendering.

[2016-11-11 09:51] minimok commented on #468
Very nice - good starting point. My own express / node setup won't allow the ES6 - so I guess I'm gonna have to transpile (at least the SSR portion as I plan on having inferno-mobx + decorators in the mix) - but that's v helpful. Much Appreciated!

[2016-11-11 09:51] #468 closed

[2016-11-13 20:58] ddibiase opened #471 "Strange comment insertion using renderToString"
I'm using the renderToString method on InfernoServer and noticed that my output on every node has  beside it. Here's an example of my source and the output:

    import Inferno from 'inferno';
    import Component from 'inferno-component';
    import InfernoServer from 'inferno-server';
    import InfernoDOM from 'inferno-dom';

    class MyComponent extends Component {
      constructor(props) {

[2016-11-13 21:50] trueadm commented on #471
Hi, @ddibiase this is intended. Comments are used to break up nodes, so they don't get merged together. For example, given the following:

`<div>{ [ 'one', 'two', 'three' ] }</div>`, if that were rendered on the client, it would be as three `TextNode`s. If they are rendered on the server, we need a way to know to get their structure intact, so Inferno uses comments. I believe React 15+ also does t

[2016-11-14 03:20] ddibiase commented on #471
@trueadm ahhh I see! Thanks for pointing that out.

Nice work on Inferno. Big fan here. Hope to show you guys some open-source work we're doing on top of the library. ;-)

[2016-11-14 07:50] trueadm commented on #471
@ddibiase awesome to hear! Also, make sure you're running from `dev` aka 1.0.0-beta7. I'll be releasing 1.0.0-beta8 later today which is a noticeable improvement.

[2016-11-14 14:22] ddibiase commented on #471
@trueadm oh fantastic, updating now. If you need any help with documentation, testing or implementation don't hesitate to reach out. Myself or someone on my team would be interested in lending a hand.

[2016-11-14 14:23] trueadm commented on #471
@ddibiase sounds awesome, would you/you're team mind joining the Slack so we can all chat there? https://inferno-slack.herokuapp.com/

Much appreciated again!

[2016-11-14 20:35] #12 closed

[2016-11-14 22:01] Havunen commented on #379
Core parts of Inferno are now well covered (90%+, 99,06% for patching). there are some "stupid" checks left we could add just for the sake of coverage. But overall I think it looks good now. All logic branches now have tests against them. This is since -beta8.

[2016-11-14 22:54] billti opened #472 "Routing example doesn't work - pathToRegExp is undefined"
On the Dev branch, the example under 'examples/routing' doesn't work.

Firstly was an error in `inferno-router.js` that `Component` was undefined. Adding the tag `<script src="../../packages/inferno/dist/inferno-component.js"></script>` after the `inferno.js` script fixed this.

However now I see that similarly `pathToRegExp` isn't defined in the below line in `inferno-router.js@14`

[code]

Looks

[2016-11-14 22:58] LukeSheard commented on #379
Now that we've got this high coverage do we want to impose a limit on coverage? It might be something useful so that it doesn't degrade over time.

[2016-11-14 23:10] billti opened #473 "Incorrect assignments to globals in dist files"
After building the 'dev' branch, I can see in `inferno-hyperscript.js` the expression `(global.h = factory())` and in `inferno-create-element.js` the expression `(global.createElement = factory())`. I'm assuming these should go via other names.

Note currently the examples assume the following names:

 - In "examples/form/index.html": `var h = InfernoHyperscript;`
 - In "examples/svg/tiger.html":

[2016-11-15 01:13] trueadm commented on #473
@billti I was playing around with the globals actually to better reflect how they might be used in the browser (as `h` and `createElement`). I didn't update the examples to show this, I was more trying something a bit different. What are your thoughts on this?

[2016-11-15 01:14] trueadm commented on #472
@nightwolfz mentioned this as soon as we released. I'm off to bed now, but we'll get this fixed asap tomorrow and release `beta9` with the fix :)

[2016-11-15 01:50] billti commented on #473
Personally, if there is going to be global pollution by a library, I prefer it all to hang off one namespace on the global. Each script could append a name onto `Inferno` maybe (after creating it if not present), so the code might look something like:

[code]

If you assume `inferno.js` is always loaded first, which currently creates `global.Inferno` already, then it could simplify to:

[code]

Ju

[2016-11-15 08:43] trueadm commented on #473
@billti in that case, I'd rather people used `NPM` or I build a `inferno-with-addons.js` that has everything, otherwise people who use the browser libs vs NPM have a completely detached experience in using the Inferno API (maybe I'm wrong here). I agree though in terms of polluting globals – it was just an experiment to see if we could rename the globals better, rather than have `InfernoCreateElem

[2016-11-15 16:27] trueadm commented on #473
@billti @Havunen @nightwolfz actually, after thinking about this some more. It does makes sense for users who use the client version to have them namespaced under `Inferno`. I can also update the `README.md` and docs to reflect both node and browser usage cases :)

[2016-11-15 19:37] nightwolfz commented on #473
+1 for namespacing under `Inferno`

[2016-11-15 20:12] trueadm commented on #473
They will be all be namespaced in next release and `examples` will be updated! Thanks :)

[2016-11-15 20:12] #473 closed

[2016-11-15 20:13] #471 closed

[2016-11-15 20:13] trueadm commented on #472
Will be fixed in next release :)

[2016-11-15 20:13] #472 closed

[2016-11-16 00:52] #469 closed

[2016-11-17 13:03] jeffutter opened #474 "Controlled numeric inputs increment sporadically"
If you check this example (on -beta9) you will see that the controlled input increments sporadically. It appears that it increments correctly and then the browser repaints the wrong value ontop of the correct one.

https://jsfiddle.net/bmbbbxv4/

[2016-11-17 17:38] jeffutter commented on #474
Here is an example of the same code working correctly in React.

https://jsfiddle.net/eqnbcbrf/

[2016-11-17 19:55] trueadm commented on #474
Fixed in `dev.` Thanks!

[2016-11-17 19:55] #474 closed

[2016-11-18 06:50] rtsao opened #478 "Uncaught TypeError: Cannot set property 'dom' of null"
I upgraded from `beta5` to `beta9` (and `babel-plugin-inferno@1.2.0-beta9`) and I now get an error on this line:
https://github.com/trueadm/inferno/blob/dev/src/component/es2015.ts#L141

I'll try and reproduce with test case, but it happens when a re-render is triggered via setState.

[2016-11-18 08:40] trueadm commented on #478
That should be _lastInput rather than _lastVNode I believe. Can you try that?

[2016-11-18 08:54] rtsao commented on #478
Yep, that seems to have fixed it 👍

[2016-11-18 09:56] trueadm commented on #478
@rtsao however it would be good to get a JSFiddle to replicate this issue, as that's more of a hack fix. Could you check if https://github.com/trueadm/inferno/blob/dev/src/DOM/patching.ts#L326 ever sets `instance._vNode` to null/undefined?

[2016-11-19 03:14] rtsao commented on #478
That line is actually never reached at all. FWIW I'm getting this error with a server-rendered application, but I'm not sure if it has anything to do with it though I haven't had any luck reproducing on a JSFiddle. If you like, I can send you a URL to an app build that exhibits this error (though it is minified).

[2016-11-19 16:18] ddibiase opened #479 "New Inferno site design suggestions/mockups"
Let's use this thread to aggregate a collection of ideas/notes and mockups for the new InfernoJS website. If you have a design you're working on submit it here for consideration.

[2016-11-19 16:30] mysticmode commented on #479
Quick design. I can iterate this more. Would be helpful If i get more suggestions.

[LandingPage.pdf](https://github.com/trueadm/inferno/files/601563/LandingPage.pdf)

[2016-11-19 16:31] ddibiase commented on #479
Here are two mockups posted by @trueadm and @nightwolfz on Slack.
![website_nightwolfz](https://cloud.githubusercontent.com/assets/1168397/20456798/b6289540-ae4b-11e6-93b9-997282018386.png)
![website_trueadm](https://cloud.githubusercontent.com/assets/1168397/20456799/b63010cc-ae4b-11e6-9407-6d7a53c9df28.png)

[2016-11-19 17:01] mysticmode commented on #479
[LandingPage2.pdf](https://github.com/trueadm/inferno/files/601573/LandingPage2.pdf)

[2016-11-19 17:12] mysticmode commented on #479
[LandingPage_Iteration_3.pdf](https://github.com/trueadm/inferno/files/601577/LandingPage3.pdf)

[2016-11-19 17:18] ddibiase commented on #479
Can everyone post JPGs instead of PDFs? That way they appear inline in the page for quicker viewing.

[2016-11-19 17:24] mysticmode commented on #479
i think people want to see clear cut design, so pdf is good. I couldn't get the jpeg output properly with sketch app.

[2016-11-19 19:52] trueadm commented on #479
Based on @nightwolfz + my last version

![website-v2](https://cloud.githubusercontent.com/assets/1519870/20458040/9ad5c20e-ae91-11e6-84f0-52924522798c.png)

[2016-11-19 19:54] trueadm commented on #479
Here are the PSDs if anyone wants to play around with them: [psds.zip](https://github.com/trueadm/inferno/files/601691/psds.zip)

[2016-11-19 20:43] ddibiase commented on #479
The followings an iteration on the recent posted by @trueadm. Changes include:

1. Trying to make typography more consistent
2. A bit more iconography to make the page interesting.
3. Redesigned footer with Slack/Github and call out to supporters

Some suggestions:

1. Should pad the hero a lot more (above and below) because it looks conjested.
2. The Highly Optimised Performance section could use

[2016-11-19 21:04] ritz078 commented on #479
- I see the usage of thin font. That seems a bit odd keeping the whole website in picture.
- Github and slack icons in the footer are too big.

[2016-11-19 21:25] ddibiase commented on #479
Good point @ritz078. I'll factor those in on the V3 iteration. For now here's a more radical concept that messed around with. Note: I'm not a trained designer :-p and yes it shows. Haha.

![website-v4](https://cloud.githubusercontent.com/assets/1168397/20458486/adae1e84-ae74-11e6-8bd9-685fbe6ac9ff.jpg)

[website-v4.zip](https://github.com/trueadm/inferno/files/601739/website-v4.zip)

[2016-11-19 21:27] trueadm commented on #479
@ddibiase I don't mind that at all – except the top nav bar looks completely out of place now.

[2016-11-19 21:28] ddibiase commented on #479
@trueadm yeah I was going to move it but just ran out of time/ideas. Maybe we throw the nav on the left.

[2016-11-19 21:29] ritz078 commented on #479
@ddibiase I think this design will give you problems on adjusting for different screen sizes. Its always good to keep a centered design. easier to optimize for mobile.

[2016-11-19 21:30] ddibiase commented on #479
@ritz078 it shouldn't be much effort to make it responsive. Not all designs have to be center justified. Plus I'd argue it helps make Inferno look/feel different from the rest.

[2016-11-19 21:33] ritz078 commented on #479
agreed.

[2016-11-19 21:36] trueadm commented on #479
also for the Inferno logo flame and the red we consistently use – I've changed it quite a bit between designs and on the current http://infernojs.org, what is the best "red" to use?

[2016-11-19 21:41] ddibiase commented on #479
I have a colour specialist on staff at my office. I'll have her identify a few options for us with the proper hex and rgb. Colour theory is not a domain developers should get involved in 😜haha

On Sat, Nov 19, 2016 at 4:36 PM Dominic Gannaway

<
mailto:Dominic Gannaway <notifications@github.com>

a, pre, code, a:link, body { word-wrap: break-word !important; }

also for the Inferno logo flame and

[2016-11-19 23:28] grayrest commented on #479
If you're going to sell the framework in the current environment, I think you need to sell it direct-marketing style. You're cargo-culting the popular landing page style but *everybody* cargo-cults the popular landing page style and *everybody* claims to be fast. I suspect you could swap out the Inferno logos and colors, cherry pick benchmarkes, and have that be the landing page for pretty much an

[2016-11-19 23:35] trueadm commented on #479
@grayrest that's actually a great depiction of typical "I need more perf" user-story. Would you mind jumping onto our Slack so you can join in on the convo with everyone else? https://inferno-slack.herokuapp.com/

That would be awesome. Thanks again for all your hard work – I see it all over the show promoting Inferno. It means a huge amount to me.

[2016-11-19 23:48] leeoniya commented on #479
I think you could simply state that React offers a 2-3% overhead vs painstakingly hand-optimized vanilla JS in 1/xx the size while keeping full React compatibility. And then show how a comparison vs React. I don't think you need a lot of prose to establish credibility for a project that already has 4.5k stars.

I also don't think you need to try to convert people that are using other vdom libs, be

[2016-11-20 04:10] mysticmode commented on #479
Iterated more with inspiration from @grayrest

![landingpage4](https://cloud.githubusercontent.com/assets/1125199/20460326/4881df8c-af05-11e6-8230-b44f4a366c07.png)

[2016-11-20 07:50] Havunen commented on #479
I like all of these! :+1:

Don't overthink it, they are all looking good and fresh.

[2016-11-20 08:20] mysticmode commented on #479
Another iteration.

![landingpage5](https://cloud.githubusercontent.com/assets/1125199/20461569/362776bc-af28-11e6-8445-2c9dbc39a199.png)

[2016-11-20 20:07] LukeSheard opened #480 "Mix Inferno & React?"
Can we mix Inferno and React using `inferno-compat`? Attempting to clone a Gatsby Theme into Inferno here: LukeSheard/gatsby-inferno-default and using LukeSheard/gatsby but run into
[code]

Do we need to include `babel-plugin-inferno` with this as well?

[2016-11-20 20:09] trueadm commented on #480
@LukeSheard `inferno-compat` doesn't contain any React, it's all Inferno. You need to ensure that `react` is fully aliased out to `inferno`, you can't mix the two as their internals are totally different.

[2016-11-20 21:38] #480 closed

[2016-11-20 22:17] rtsao commented on #478
Yeah, this issue doesn't happen after disabling server-side rendering, so I think this has something to do with getting into a weird state after hydration.

[2016-11-20 22:17] trueadm commented on #478
@rtsao ah these are tricky issues to solve, let me dig into it more.

[2016-11-20 22:37] trueadm commented on #478
Please try out `dev`, this should now be fixed :)

[2016-11-20 22:42] rtsao commented on #478
That seems to have worked, thanks! 😄

[2016-11-20 22:42] #478 closed

[2016-11-23 00:31] #362 closed

[2016-11-23 14:16] trueadm commented on #479
@mysticmode that last design, I like, although:

- the 3 info boxes should be above benchmarks – people want to first know what they are looking at.
- I'd remove the quotes from the title, it adds clutter IMO
- the header looks a bit aggressive, it might be a bit too much in peoples faces

[2016-11-23 14:24] mysticmode commented on #479
@trueadm Sure, I'll do that and show you another iteration.

[2016-11-23 15:29] mysticmode commented on #479
Iteration 1
![landingpage6](https://cloud.githubusercontent.com/assets/1125199/20567635/7de7b1a8-b1bf-11e6-8ddb-44d81e080725.png)

Iteration 2
![landingpage7](https://cloud.githubusercontent.com/assets/1125199/20567638/8198ab4a-b1bf-11e6-941e-342b18a0a379.png)

@trueadm Please let me know which iteration you like, and what changes you need. Thanks.

[2016-11-23 15:38] trueadm commented on #479
@mysticmode IMO that's much better. I really like it. I'm not completely sure about the icons in the boxes (icons are a good idea, they just don't fit the text perfectly and look a bit close to the text). I wonder if we should put some more content below the benchmarks too – like Preact, we could have an example of some code and some more points as to why Inferno is amazing.

[2016-11-23 15:41] mysticmode commented on #479
@trueadm Ok, I'll stick with **iteration 2**. Please give me some examples and content to put it below.

[2016-11-23 15:48] mysticmode commented on #479
I was trying to show some fun attitude to the landing page. When you see babel homepage, they have insane amount of attention seeking blobs, which I don't like it IMO. But I was trying to be consistent with icons and content. I'm totally fine if we remove the icons and keep the necessary contents, good design is showing the content in a clear and honest way possible.

[2016-11-23 19:58] trueadm commented on #479
@mysticmode let's take Preact's new site as a good example, we can use that area to go into more detail on Inferno vs React, Inferno vs Preact, Inferno vs Angular etc and also talk about SSR, the extra features Inferno offers over others etc. Followed by a code example (like Preact has).

[2016-11-23 20:14] mysticmode commented on #479
Shall we show the detail on performance in a separate page?. Let me know if it is really important to show in the landing. I think it will be too much to read if we show them in the landing page. Something like this

![landingpage8](https://cloud.githubusercontent.com/assets/1125199/20577223/68b25838-b1e7-11e6-89b2-332e40b3a72e.png)

[2016-11-23 21:16] mysticmode commented on #479
Changes - Remove Green Accent Color + Include Dropdown Asset in the Top Nav.

![landingpage9](https://cloud.githubusercontent.com/assets/1125199/20578973/0f1ea94e-b1f0-11e6-854e-8355d5452530.png)

[2016-11-23 23:01] robbiewxyz opened #484 "Consider allowing class={{ }} syntax"
Passing an object with class names as keys and truthy/falsy as values allows for some pretty slick JSX:

    const selected = selection [key]
    <div class={{ box-item: true, selected }}/>

Any thoughts?

[2016-11-23 23:08] trueadm commented on #484
@robbiewxyz interesting, so `selected` acts as both a key and value in the case it's true, are the values space split, what if you have hyphen-case?

Maybe you can explain some input -> output (HTML) so I can understand the output easier?

The only potential issue with this, is that it will have a negative effect on performance. It will have a lot more logic to deal with on objects passed through,

[2016-11-23 23:08] trueadm commented on #387
Done

[2016-11-23 23:08] #387 closed

[2016-11-23 23:09] trueadm commented on #379
I'm happy with this now.

[2016-11-23 23:09] #379 closed

[2016-11-23 23:09] trueadm commented on #339
I'm happy with this now.

[2016-11-23 23:09] #339 closed

[2016-11-23 23:09] trueadm commented on #386
We still need more tests here IMO.

[2016-11-23 23:10] trueadm commented on #389
This won't be for 1.0 anymore, it's just too time consuming with everything else.

[2016-11-23 23:11] trueadm commented on #391
Has this been done? @LukeSheard

[2016-11-23 23:11] trueadm commented on #443
We don't need this for 1.0 anymore.

[2016-11-24 00:11] robbiewxyz commented on #484
Here's some example cases:

    {{ 'list-item': true, 'disabled': false, 'is-selected': true }} => "list-item is-selected"

    const notificationClasses = { 'badge-error': true, 'badge-important': false  }
    { 'notification': true, ...badgeClasses } => "notification notification-error"

It's inspired by the https://github.com/JedWatson/classnames tool for React.

[2016-11-24 00:22] LukeSheard commented on #484
What's to stop this from turning into a rebuild of classnames?

[2016-11-24 00:24] rtsao commented on #484
A couple reasons not to integrate this functionality into core:

1. This is would introduce a difference from React, etc. I don't think this is necessarily a bad thing, but unless there's a large benefit I'm not sure the tradeoff is worth it.

2.

[code]

[code]
is barely more verbose (and arguably more clear, I think) than

[code]

[2016-11-24 00:33] LukeSheard commented on #479
We should find a way to make the benchmarks in a "bigger is better" format. Personally at first glance of the benchmarks I see Inferno as being the worst.

[2016-11-24 00:43] LukeSheard commented on #391
@trueadm I wasn't sure if @pinandtucker wasn't going to submit a PR. I'll do it when I next get on.

[2016-11-24 00:55] LukeSheard commented on #390
@trueadm, we've finished this right?

[2016-11-24 10:04] mysticmode commented on #479
@LukeSheard I'm showing one benchmark at a time. We can set the timer and move to other benchmarks. Also changed the colors for source code, fonts and buttons.
![landingpage10](https://cloud.githubusercontent.com/assets/1125199/20594215/524066d4-b25b-11e6-9634-416ac2bf9a25.png)

[2016-11-24 12:50] Havunen commented on #484
You can use that same plugin on your projects, same way as you do with React. Or simply copy paste or fork his repository to create your own version of it. You can also improve performance of that function by dropping features(that's what I have done)

[2016-11-24 12:50] Havunen commented on #484
IMO this does not belong to core

[2016-11-24 16:27] ddibiase commented on #479
Here are some iterations left off from the previous designs.

**Option A (Landing view)**

![options 1](https://cloud.githubusercontent.com/assets/1168397/20605334/cbbc63dc-b238-11e6-8571-fedf5f068206.png)

**Option A (Scroll view)**

Notice on scroll the Inferno logo inserts itself into the locked nav bar at the top.

![option 1 - scroll](https://cloud.githubusercontent.com/assets/1168397/2060534

[2016-11-24 16:31] ddibiase commented on #479
**Option B (Landing view)**

![option a](https://cloud.githubusercontent.com/assets/1168397/20605460/8eeb744c-b239-11e6-948c-9a04946b4b87.png)

**Option B (Scroll view with drop down)**

![option a scroll](https://cloud.githubusercontent.com/assets/1168397/20605474/9a0064c8-b239-11e6-8633-98dc61f135da.png)

[2016-11-24 16:33] ddibiase commented on #479
**Option C (Just an iteration on element)**

Sketch file for all options is attached.

![option c](https://cloud.githubusercontent.com/assets/1168397/20605507/b7ac2124-b239-11e6-8e42-d1326347a466.png)

[inferno3.sketch.zip](https://github.com/trueadm/inferno/files/611811/inferno3.sketch.zip)

[2016-11-24 17:12] struckm commented on #479
Without any scale the bar graphs don't add much value. And the red is too bright, it should be more subtle.  In version C you should center the top part, you are mixing left aligning and centering the rest, it's inconsistent.

[2016-11-24 17:17] ddibiase commented on #479
@struckm the colours have already been selected and I think everyone's fine with them (unless @trueadm says otherwise). Well, not everything needs to be centred. The hero will be large enough and when you scroll it will be out of frame. If Option C is picked we'll likely constrain the element to be closer to the centre of the page.

Either way we're looking for upvotes or downvotes on the options,

[2016-11-24 20:57] nightwolfz commented on #479
Can we have consistent colors (with more red) for the code samples as well ?

[2016-11-24 23:33] nickbalestra commented on #479
Nice job all! I've started pulling together some of your ideas...haven't finish yet, but here a sneak preview:

![anotheroption](https://cloud.githubusercontent.com/assets/389705/20611208/b57887b2-b29d-11e6-8403-7551bcac3bbb.png)

shortly:
- Charts are central for us, so they should be really polished and as up the fold as possible.
- The inferno-red used on buttons & text  is a bit strong on the

[2016-11-25 00:08] trueadm commented on #479
@nickbalestra the charts look great – I'm really liking that. The slightly faded red also works really well on the page too – almost pink. Can we remove `.js` from the name and see how that looks? also can we get the info boxes under the benchmarks.

I'm also not sure people really know what this is – if they see the header then the benchmarks, dot hey connect performance? or is it file size? or i

[2016-11-25 00:20] nickbalestra commented on #479
@trueadm: yes totally agree about the benchmarks, I need to add some context in order to "don't make me think".

Yes, I obviously still need to add info boxes and code example :) So, thanks a lot for the quick and gr8 feedback.

[2016-11-25 22:03] ddibiase commented on #479
@trueadm @nickbalestra here's an iteration that accounts for a bunch of requests from various people including rounded buttons, drop down menu, chart adjustments, code example colours etc.           I also added a section dedicated to React.

The hero copy literally mentions React and there's no content on the homepage related to it. I thought that was odd so copied some of the copy @LukeSheard wr

[2016-11-26 00:18] mysticmode commented on #479
I took inspiration from all the others and did with proper spacing and size.
![landingpage11](https://cloud.githubusercontent.com/assets/1125199/20636879/c0d33c98-b39b-11e6-9838-aedfa6a9ddf4.png)

[2016-11-26 13:36] ddibiase commented on #479
Here's Option E which includes more elements in the features section below the hero (I like how @mysticmode added it into his recent mockup). I plucked the copy from the current README.

![option e](https://cloud.githubusercontent.com/assets/1168397/20640692/30bba4d4-b3b3-11e6-8d9b-301f8944b0de.png)

[2016-11-27 10:25] trueadm commented on #479
Closing this for now, as we'll be going with Option E (except making some tweaks). The tweaks are:

- Instead of "Examples" on the CTA, we'll have "Github"
- The grey background for the examples needs to be lighter

[2016-11-27 10:25] #479 closed

[2016-11-27 10:26] trueadm commented on #484
Agreed. Closing :)

[2016-11-27 10:26] #484 closed

[2016-11-27 14:00] cia48621793 opened #486 "Make compatible with Material-UI"
Slick material design without bloat vdom library == Material-UI + InfernoJS.

But:
[code]

Give me a fix or a workaround.

[2016-11-27 14:15] trueadm commented on #486
I'll need to look into this. I believe that this will no longer be part of React 15.4 as it requires an internal API, rather it will be an external lib. I'll look into this later today

[2016-11-27 19:30] trueadm commented on #486
In fact, @cia48621793 have you tried this with React 15.4 at all?

[2016-11-28 10:03] Havunen commented on #457
commenting this ticket for the sake of documentation:
Since beta14 Inferno will flatten arrays into single array, so above example must have all nodes keyed (button, array items, and unique). Same behavior than with React

[2016-11-28 14:46] trueadm commented on #486
@cia48621793 can you try with `beta16`? It was just released.

[2016-11-29 18:30] mstijak opened #492 "textAnchor prop should be rendered as text-anchor"
Please open the following page:
http://cx.codaxy.com/v/inferno/docs/charts/line-graphs

You'll notice that axis labels are not aligned correctly.
Inferno is not transforming `textAnchor` props into `text-anchor` attributes as React does.

I'm using inferno-compat@1.0.0-beta21

[2016-11-30 13:58] cia48621793 commented on #486
@trueadm it doesn't work either.
[code]
[code]

[2016-11-30 14:04] cia48621793 commented on #486
Even with this simple example:
[code]
[code]
(It's CoffeeScript, the reason I don't have ugly brackets)
[code]

[2016-11-30 14:08] cia48621793 commented on #486
With beta@21:
[code]
Good work!

[2016-11-30 14:10] trueadm commented on #486
@cia48621793 awesome, I'll get that sorted today for you :)

[2016-11-30 14:13] cia48621793 commented on #486
It can now render the flat button as expected. However, when I presses the button
[code]
The same culprit of @developit/preact

[2016-11-30 14:56] trueadm commented on #486
I've pushed a potential fix to `dev`. Can you let me know if it works? If you cope the contents of this:

https://github.com/trueadm/inferno/blob/master/packages/inferno/dist/inferno-compat.js

to your `node_modules/inferno/dist/inferno-compat.js` (this is for the event.persist error)

Thanks!

[2016-11-30 21:02] tbranyen opened #494 "Supporting PureComponent"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/inferno.js).
- Check that the i

[2016-12-01 07:08] geohuz commented on #486
I'm also trying to use inferno with material-ui, and here is additional issue when react-tap-plugin is used in the project(it's for mobile touchtap and used internally in material-ui):

`
ERROR in ./~/react-tap-event-plugin/src/injectTapEventPlugin.js
Module not found: Error: Cannot resolve module 'inferno-compat/lib/EventPluginHub' in /Users/geohu/Codings/RR_ESSMob/react-redux-starter-kit/node_mo

[2016-12-01 10:32] trueadm commented on #486
@geohuz I'll try and add support for `EventPluginHub` too, although likely to be stubbed out. The other thing is that, and this applies to all `react/lib/...` requires – they've been removed in React 15.4. So they won't even work with the latest React anyway. How has the materialui dealt with React 15.4?

[2016-12-01 11:02] trueadm commented on #494
Thanks @tbranyen, I've added PureComponent support in `dev` branch for `inferno-compat`. :)

[2016-12-01 11:20] trueadm commented on #486
Here's some more info on this: http://stackoverflow.com/questions/40642662/material-ui-response-to-breaking-change-in-react-15-4-0-cannot-resolve-module

[2016-12-01 16:17] sospedra opened #498 "Inferno real size?"
You state that Inferno is 7K size but I don't know if this is only the core or inferno and some packages. Because is not that amazing against React core which is 7.2k.
Which is the real number?

[2016-12-01 16:59] trueadm commented on #498
@sospedra Inferno core contains the equivalent of ReactDOM, as Inferno doesn't have an InfernoDOM (although once upon a time it used to). Stateful/ES2015 components are also not part of core, but stateless/functional components are (along their their lifecycle events). You can build a fully functioning app with only the `inferno` package.

[2016-12-01 17:04] sospedra commented on #498
Got it! But one more question then: What's doing this https://github.com/trueadm/inferno/tree/master/packages/inferno-dom ?

[2016-12-01 17:05] trueadm commented on #498
It's telling people not to use it anymore :)

[2016-12-01 17:05] sospedra commented on #498
Many thanks!

[2016-12-01 17:05] #498 closed

[2016-12-01 17:57] tbranyen commented on #494
That's awesome! Is there a way for me to install this using npm/yarn? I never really thought about it, but you can't point to SHA/ref since it's a nested folder (/packages/inferno-compat) in a repo right?

Normally you'd do something like this:

[code]

Is there an equivalent here? Should I clone and symlink?

[2016-12-01 20:01] trueadm commented on #494
@tbranyen there are no simple ways really, we've been telling people to either checkout Inferno locally and symlink/npm link or to manually copy over the `inferno-compat.js` file into their node_modules. It's one of the downfalls of NPM with monorepos. I'll get out an NPM release sometime tonight though :)

[2016-12-01 23:08] trueadm commented on #494
@tbranyen `beta22` is out.

[2016-12-01 23:13] LukeSheard commented on #391
Closed with #499

[2016-12-01 23:13] #391 closed

[2016-12-02 00:02] tbranyen commented on #494
Hey @trueadm I'm hitting this:

[code]

[2016-12-02 00:25] trueadm commented on #494
@tbranyen awesome, this isn't related to `inferno-compat`, more an underlying bug with hoisted nodes – I believe I have a fix in place in `dev` now, let me get you to try putting this:

https://raw.githubusercontent.com/trueadm/inferno/dev/packages/inferno/dist/inferno-compat.js

into your `node_modules/inferno/dist/inferno-compat.js` please?

[2016-12-02 09:49] LukeSheard commented on #356
There's now a guide in the dev branch! https://github.com/trueadm/inferno/blob/dev/docs/guides/comparisons/react.md

[2016-12-02 10:08] darsain opened #501 "Rendering fragments"
Or in other words, support for components to render multiple children:

[code]

It was said on slack it's a wanted feature with intention to be implement in future, so I'm creating this issue to have a place to track the progress.

Someone mentioned that it was already once in Inferno, but at the cost of performance, so it was dropped until a faster implementation is discovered. Was the performanc

[2016-12-02 12:45] trueadm commented on #494
This has now been released in `beta23`.

[2016-12-02 17:30] mariusandra opened #503 "findDomNode not compatible with React when ref assigned to HTML elements"
## Issue Template

With this code:

[code]

React prints:

![screen shot 2016-12-02 at 17 19 50](https://cloud.githubusercontent.com/assets/53387/20841291/92cd992a-b8b3-11e6-9c3f-73ac258c80a7.png)

(so gives the DOM Element twice)

**Observed Behaviour**

With the same code Inferno outputs:

![screen shot 2016-12-02 at 17 24 31](https://cloud.githubusercontent.com/assets/53387/20841461/3656f654-b8

[2016-12-02 17:41] trueadm commented on #503
@mariusandra Hey, thanks for trying out Inferno. Inferno's `findDOMNode` was designed for finding component DOM nodes given an instance, rather than when provided element refs. Although I can totally apply that simple change that you've explained (in fact have done now in `dev` branch). Thank you :)