[2016-12-02 17:43] trueadm commented on #486
@geohuz can you try `beta22` please?

[2016-12-02 17:48] geohuz commented on #486
@trueadm thanks for helping me out! And I can confirm that the EventPluginHub error has gone now. But others are persistent, I'm using the following version:
[code]

So I'm using all the newest version.

BTW, I noticed somebody in the material-ui said "You need to use the latest version of react-tap-event-plugin which relies on the correct internal library from react-dom instead of react",  and I

[2016-12-02 17:51] trueadm commented on #486
@geohuz what error messages are you getting now? I need to know so I can map the internal API calls to Inferno. Thankfully these will be all gone one day once React cuts of internal private usage.

[2016-12-02 17:53] geohuz commented on #486
@trueadm, here is my error list:
[code]

[2016-12-02 19:00] thysultan commented on #501
Mounting fragments is cheap, it's the moving/removing fragments that introduces complications since they can be seen as essentially a paired set. I'm interested in knowing how React-Fiber rewrite does this if they do and to what extent.

[2016-12-02 19:01] leeoniya commented on #501
having a similar convo over at https://github.com/leeoniya/domvm/issues/106#issuecomment-264525612

[2016-12-02 19:02] viveleroi commented on #382
I'm using `0.7.27` and the readme isn't entirely accurate even for non-1.0. For example, `render` does not appear to be a valid property when using `import Inferno from 'inferno` as the example shows, yet it's listed in the ways Inferno is different from react.

I had to use `import InfernoDOM from 'inferno-dom'` for the `render` method.

[2016-12-02 19:19] trueadm commented on #382
The master readme was updated quite a few days ago with the latest API @viveleroi. You need to use NPM tags to install Inferno 1.0 beta, otherwise you'll get the older 0.7.

[2016-12-02 19:31] viveleroi commented on #382
The tagging wasn't clear to me, my fault. I assumed `beta23` preceded 0.7.

[2016-12-02 19:32] trueadm commented on #382
@viveleroi Sorry for the confusion – beta23 is the most recent and most stable :)

[2016-12-02 19:36] nyrosmith commented on #465
Wouldn't it be better to use RR v4?
The components approach is ways more natural...
https://react-router.now.sh/

[2016-12-02 19:44] darsain commented on #501
@thysultan support for fragment rendering in React Fiber is mentioned here:

https://github.com/acdlite/react-fiber-architecture#child-and-sibling

Also I've heard it described in one talk, but can't recall enough about it to find it again :)

[2016-12-02 19:51] LukeSheard commented on #465
@nyrosmith we decided that we wanted to track RR3 because of two reasons:

1. It's the current major release version at the time we authored this issue and the router.
2. We prefer the declarative router in RR3 so we authored it that way.

That being said as you can see this is a really early stage and basic routing project so we'd love to see people's takes on other routers for inferno!

[2016-12-02 20:00] nyrosmith commented on #465
Thx for the quick response!
I really have no clue how much work it would be to port RR4.
Maybe I'll give it a try

[2016-12-02 20:18] trueadm commented on #486
@geohuz Thank you, I'll aim to get these sorted tonight. I can't help but think though – it might be easier to alias the TapEventPlugin with an Inferno version.

[2016-12-02 22:58] jrf0110 opened #505 "Trouble importing from inferno-create-element in a TypeScript project"
**Observed Behaviour**

When attempting to import from `inferno-create-element`, I get the following error:

[code]
[code]

I dug into inferno's generated definitions file and saw this:

[code]

**Expected Current Behaviour**

I would think that the `.d.ts` file would look like this:

[code]

And indeed, changing inferno's definition file to the above seems to fix the problem.

Any thoughts on tha

[2016-12-02 23:12] trueadm commented on #505
CCing @LukeSheard @nightwolfz @Schnueggel

@jrf0110 if this fixes your issue, I'm totally down with a PR to apply this fix and any others you might have. Thank you for raising this issue – I hope to do a release a bit later, so this might get in too :)

[2016-12-03 00:09] trueadm commented on #505
@jrf0110 I've released `beta24` on NPM, please let me know if that fixes your issues.

[2016-12-03 00:09] trueadm commented on #503
I've released `beta24` on NPM, please let me know if that fixes your issues.

[2016-12-03 00:09] trueadm commented on #486
I've released `beta24` on NPM, please let me know if that fixes your issues.

[2016-12-03 00:10] trueadm commented on #492
I've released `beta24` on NPM, please let me know if that fixes your issues.

[2016-12-03 01:57] dchest commented on #505
Hm, while typings were changed to export `default`, modules themselves don't actually export default:

[code]

This causes mismatch between modules and typings, so it will compile but throw runtime error (I tried with TypeScript's compiler option "module": "commonjs"), because the import gets compiled into something like `require('inferno-create-element').default`.

The correct import for what cur

[2016-12-03 02:00] trueadm commented on #505
@dchest this is more of an annoying feature/bug of TypeScript and how it deals with NPM modules. The initial require is requiring a module with default. If you have any ideas how to fix, please do raise a PR or let me know. These things are a right PITA to get perfectly right on a UMD package.

[2016-12-03 04:01] geohuz commented on #486
@trueadm oh yeah!, thanks a lot! The issues are all gone now!

[2016-12-03 06:20] cia48621793 commented on #486
The errors faded away, it however doesn't mean the voyage ended here.

There were still many problems. Some elements depends on tap-event-plugin, and for example, AppBar, will never work.

[2016-12-03 08:02] trueadm commented on #486
@cia48621793 can you list the problems you're having?

[2016-12-03 14:42] Lodin commented on #505
@trueadm it might not be a bug at all. According to an [opinion](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/5128#issuecomment-131638288) on the same problem with react import, importing npm module as default is a Babel behavior, and it is not described in the specification.

So, in my opinion, this behavior should not be treated as a bug, and we can just use code suggested by @dches

[2016-12-03 15:04] dchest commented on #505
I think @Lodin is correct — `module.exports` are not equivalent to `default`, but I don't mind one way or the other (the `default` way looks cleaner though), just pointing out the the current typings in `beta24` unfortunately don't work.

[2016-12-03 17:37] STRML opened #513 "Component is not a function"
Error: Component is not a function (`mountComponent, inferno-compat:1047`)

**Code**:

[code]

**Expected Current Behaviour**

Should run, at least with inferno-compat; `React.createElement('a')` is valid syntax.

[JSFiddle](https://jsfiddle.net/zhsvwk5t/4/)

[2016-12-03 21:12] gelidus opened #518 "SimpleClock example not using state properly"
jsFiddle is not using the `state` set by the interval, instead, it is rendering new Date value.

https://jsfiddle.net/d5o3oza0/57/

This is my update to the fiddle.

[2016-12-03 23:43] isergey opened #521 "Inferno in tsx files"
How to use Inferno with Typescript? Typescript compile <AnyComponent /> to React.createElement(AnyComponent...). Is is possible tell to TS compile as Inferno.createElement(AnyComponent...)?
Thanks a lot!

[2016-12-03 23:53] trueadm commented on #521
@isergey No, due to limitations in Typescript (for now), there's no way to tell it to use a custom JSX parser, as we create and handle JSX differently from the default React version. How the Inferno team have dealt with this, is to ensure JSX remains as is (not compiled by Typescript) and then to use Babel to compile the JSX to ES5/ES6. I hope that helps!

[2016-12-03 23:54] trueadm commented on #518
@gelidus thank you – so you've provided us with a fixed JS Fiddle or does your fiddle show something that is broken?

[2016-12-04 00:19] trueadm commented on #518
Ah I understand. Thanks, I've updated :)

[2016-12-04 00:19] #518 closed

[2016-12-04 00:20] trueadm commented on #513
@STRML this should be fixed on `dev` now, it seems there's a typo/bug in your fiddle though. Thanks!

[2016-12-04 00:21] #503 closed

[2016-12-04 00:21] #494 closed

[2016-12-04 00:21] trueadm commented on #492
I believe this has been fixed now.

[2016-12-04 00:21] #492 closed

[2016-12-04 00:23] STRML commented on #513
Thanks, updated the fiddle link.

[2016-12-04 00:25] STRML commented on #513
Does not appear to be fixed in dev - see https://jsfiddle.net/zhsvwk5t/5/

[2016-12-04 00:27] STRML commented on #513
Hmm, yeah, still broken on `dev`, it appears you updated the build 20 minutes ago so it seems this bug is still present. https://jsfiddle.net/zhsvwk5t/5/

[2016-12-04 00:27] trueadm commented on #513
@STRML the previous issue was fixed (to do with hydration), the issue you are seeing now is because it's trying to mount the String literal `a`, which obviously cannot be done.
[code]

[2016-12-04 00:32] STRML commented on #513
Yet this does work in React; `<Component />` is compiled to
`React.createElement(Component)`, and `React.createElement('a')` is
valid. Perhaps this should only be supported in compat but it's a valid
pattern.

[2016-12-04 00:47] trueadm commented on #513
@STRML Thank you, I've put in a fix for it. It's a bit invalid for JSX as anything that is Uppercased should always be assumed to be a component, I guess they have fixes in case of mistakes in this case – so I've added them too. Thank you for your help :)

[2016-12-04 01:15] STRML commented on #513
[It works!](https://jsfiddle.net/zhsvwk5t/6/) Thanks!

[2016-12-04 12:34] dchest commented on #521
FYI, there's `jsxFactory` compiler option coming in TypeScript 2.1 (currently available in `typescript@next`) https://github.com/Microsoft/TypeScript/pull/12135

[2016-12-04 17:36] marvinhagemeister commented on #521
Man the typescript guys are killing it!

@dchest would love to take on a PR? Otherwise I can do it the following days.

[2016-12-04 17:39] dchest commented on #521
@marvinhagemeister I'd leave it to you, as I'm afraid I'm confused with all this type declaration stuff, need to learn it properly first ;)

[2016-12-04 17:48] mariusandra commented on #503
Hey! Cool and thanks for that!

With beta24 this issue was fixed!

I started experimenting with Inferno to see if it would make my site ([Apprentus](https://www.apprentus.com)) load and run a lot faster than it currently does. Inferno's small footprint and fast rendering speed made it very interesting.

Unfortunately I ran into several other bugs as well.

As I have a growing backlog of other task

[2016-12-04 22:35] trueadm commented on #521
I'm happy to take a PR for these changes against `dev`. I'll be honest – I'm super overloaded right now with this project + job + family so any help would be amazing. If you guys could make sure you're on the Inferno Slack too, so we can all properly communicate that would be great. https://inferno-slack.herokuapp.com/

[2016-12-04 22:37] trueadm commented on #503
@mariusandra please can you come to the Inferno Slack - https://inferno-slack.herokuapp.com/. Let's go through each of these issues one-by-one. If you have a Github repo with this using Inferno, that also would be great, because the team and I can keep powering through till all these issues are squashed :) Thank you for the detailed reply.

[2016-12-04 22:38] trueadm commented on #505
I'm closing this for the other issue, that covers this and more. Inferno in tsx files #521

[2016-12-04 22:38] #505 closed

[2016-12-04 22:39] trueadm commented on #445
This was done a while ago.

[2016-12-04 22:39] #445 closed

[2016-12-04 22:39] trueadm commented on #377
@Havunen this is now a possibility again with our new event system.

[2016-12-05 00:22] trueadm commented on #82
We have third-party libraries to deal with animations. We had a poll and overwhelmingly, everyone voted to not hardcode fragile animation code into core like other libraries have done, but rather let others provider offerings to better support each individual's use case.

[2016-12-05 00:22] #82 closed

[2016-12-05 00:22] #443 closed

[2016-12-05 00:22] #382 closed

[2016-12-05 00:23] #205 closed

[2016-12-05 15:57] jrf0110 commented on #505
Hey @trueadm I appreciate you guys deliberating and coming up with a solution here. I basically turned off programming projects this weekend, so I'll let y'all know early this week how everything goes.

[2016-12-05 20:22] trueadm commented on #383
@Havunen @LukeSheard @nightwolfz please can we call go through the various README.md of the packages and update examples and remove misinformation. This is crucial to a good 1.0 launch – the last thing we want is for someone to copy a broken example and give up on Inferno straight away.

[2016-12-05 20:23] trueadm commented on #356
I'll work on this.

[2016-12-05 20:23] trueadm commented on #384
@terinjokes is this something you have time to do at all? It would be very much appreciated.

[2016-12-05 20:24] trueadm commented on #404
@formula1 can you please update the streams to match that of the latest `renderToString` implementations? I've made some changes to make tests pass, but feel it could be improved on. Thank you!

[2016-12-05 20:25] trueadm commented on #386
@rtsao @nightwolfz I know you guys are super busy, but it would be awesome if you could help improve `inferno-server`'s tests. They're a bit lacking right now and code coverage is poor.

[2016-12-05 20:29] trueadm opened #529 "Improve test coverage"
We need to improve test coverage in Inferno. I'd be happy if anyone could chip in (core team or not) and add tests where they can to help. We have a bunch of ways to run tests locally, they are:

`npm run browser`
`npm run test`
`npm run test:server`

Below is the latest test coverage results, so people can work on what to look for:

[code]

[2016-12-05 20:30] trueadm commented on #529
I can deal with:
- `linkEvent.ts`
- `src/DOM/wrappers`

Does anyone want to take the Router tests?
- `IndexLink.ts`
- `Link.ts`

[2016-12-05 20:31] trueadm commented on #390
you're happy to work on this still @LukeSheard?

[2016-12-05 21:57] maxguzenski opened #531 "styled-components not work even with inferno-compat?"
I'm using inferno-compat, last version, with styled-component and it just not render anything (with any error on console)... Did you know about this? if yes, there is any plan to make it compatible?

I started to port my app to inferno today, so I just has no ideia if this is a bug or something already expected...

thanks!

[2016-12-05 21:58] trueadm commented on #531
@maxguzenski This is strange.  Do you have an example repo for me to try out?

CC/ @mxstbr

[2016-12-05 22:08] maxguzenski commented on #531
Is a private project, But I'll try to put here a minimal example

my webpack resolve alias
[code]

My first component with styled-component, with React its just works, with inferno children just not appear (but it generate correctly css and inject it on html header)
[code]

my code:
[code]

[2016-12-05 22:18] maxguzenski commented on #531
I got the issue, props is not been passed to styled components

[code]

[2016-12-05 22:19] trueadm commented on #531
@maxguzenski thanks, what should be passed in there? I'm digging into this now

[2016-12-05 22:23] maxguzenski commented on #531
inside styled.div I should has all receved props, plus "theme" props (from context)... but I only has theme prop.

something happens inside styled-components that didnt "see" received props, included children prop (only with inferno/inferno-compat)

[2016-12-05 22:23] LukeSheard commented on #390
Yup. I will work on it after #527 !

[2016-12-05 22:23] LukeSheard commented on #356
@trueadm update the guide in the `/docs` folder?

[2016-12-05 22:24] trueadm commented on #531
@maxguzenski I'll do my best to get a fix out to you tonight my time (2300 here). :)

[2016-12-05 22:27] maxguzenski commented on #531
Wow, thanks a lot!!
But if you can't, dont worry... I start to port to inferno today, so I have no plan to release it to production very soon.

[2016-12-05 22:37] ehtb commented on #468
A quick follow up question: this example is not using streams, which is one of the benefits of Inferno (compared to React). Would it be possible to create an example for that too, just to get a reference of how you're approaching that problem. Thanks.

[2016-12-05 22:45] leeoniya commented on #468
FWIW, the SSR performance of non-streams, is still ~38x faster (25/s vs 950/s) than React [1]

[1] https://github.com/dfilatov/vidom/issues/257#issuecomment-262195991

[2016-12-05 22:47] trueadm commented on #531
@maxguzenski Can you please test this file:

https://raw.githubusercontent.com/trueadm/inferno/dev/packages/inferno/dist/inferno-compat.js

You'll need to copy it over your local `node_modules/inferno/dist/inferno-compat.js`.

[2016-12-05 22:48] maxguzenski commented on #531
doing it now.

[2016-12-05 22:55] maxguzenski commented on #531
Ok, I rendering half page of my site... ;). Props are been received by styled-components correctly. Now I has a issue with mobx.... but ok, I'll investigate it.

mobx.js:969 [mobx] An uncaught exception occurred while calculating your computed value, autorun or transformer. Or inside the render() method of an observer based React component. These functions should never throw exceptions as MobX wil

[2016-12-05 23:01] trueadm commented on #531
@maxguzenski what happens when you take out the alias for `inferno-mobx`? as That library was designed to be used with vanilla Inferno without a compatibility layer.

[2016-12-05 23:04] maxguzenski commented on #531
ahhh, yes, its work... now my problem is with react-router (and history) v4  ;)

inferno-component.js:373 Uncaught TypeError: Cannot read property 'parentNode' of null
    at applyState (webpack:///./~/inferno/dist/inferno-component.js?:373:38)
    at History.forceUpdate (webpack:///./~/inferno/dist/inferno-component.js?:439:5)
    at eval (webpack:///./~/react-router/History.js?:46:21)
    at eva

[2016-12-05 23:09] trueadm commented on #531
@maxguzenski Okay I'll dig into `react-router` v4 tomorrow :)

I know you probably don't have time, but if you have time, could you throw up a repo with a snippet of your private app using `react-router`. That would really help as it's a beast to debug.

Thank you so much for your help!

[2016-12-05 23:13] maxguzenski commented on #531
I'll, but not for tomorrow... with react-router inferno is "appending" new page, not replacing it. I have some issue with https://github.com/react-bootstrap/react-overlays , errors is (its looks like that is using some unstable react function):

[code]

[2016-12-05 23:17] trueadm commented on #531
Meh `unstable_renderSubtreeIntoContainer` is really something that no third-party library should be using. Thus the name. :P

[2016-12-05 23:42] maxguzenski commented on #531
Is here, I used creat-react-app:
https://github.com/maxguzenski/inferno-test

yarn start // react version,
yarn run inferno // inferno test

You will see styled-component issue and react-router v4 issue.

[2016-12-05 23:42] lukeed opened #532 "Router: Cannot nest routed components"
**Observed Behavior**

I've replicated [the example](https://github.com/trueadm/inferno/tree/master/packages/inferno-router#usage-client-side) from `inferno-router` readme. The components in question are `Users` and `User`.

When nesting these routes, the `<Users />`'s `children` is always `null`. This is true when visiting `/users`, `/user/foo`, `/user/bar`.

**Expected Current Behavior**

`<User

[2016-12-05 23:45] LukeSheard commented on #532
What happens when you go to "/user/:username" ?

[2016-12-05 23:47] lukeed commented on #532
Nothing, no `children`. Only the static `<Users />` content is rendered.

[2016-12-05 23:51] lukeed commented on #532
@LukeSheard @trueadm I was going to upload this as a Routing example to `infernojs/examples` anyway. Should I go ahead & do so now?

[2016-12-05 23:57] LukeSheard commented on #532
So this is designed behaviour the same as RR3 where if a url starts with `/` then it is an absolute URL. This should be changed to `user/:username` in the example to account for this. We should also add an `IndexRoute` component to handle the case for `/users`.

[2016-12-06 00:05] lukeed commented on #532
I've tried that.

With `<Link to="/users/bob">Go to Bob</Link>` in all cases:

[code]

[2016-12-06 00:05] maxguzenski commented on #531
Your fix on styled-components is not working with defaultProps.

[code]

[2016-12-06 00:11] lukeed commented on #532
Of course, that last version is not _nested_.

It's only "working" in the sense that `<User />` content is rendered to the screen. Nothing from `<Users />` is visible/inherited.

[2016-12-06 00:16] lukeed commented on #532
Pushed & accessible [here](https://github.com/infernojs/inferno-examples/tree/master/routing).

[2016-12-06 00:16] LukeSheard commented on #532
Interesting. Can you add a this as new test script `/src/router/__tests__/simpleExample.ts` that runs the example for the different routes and myself we can take a look at it.

cc @nightwolfz since you wrote the matching code.

[2016-12-06 18:06] echonox opened #534 "What's more preferable ES6 or Standard JS?"
I apologize if this isn't the place for posting this, but I would like to know what are the benefits of using ES6 in Inferno JS?

1. Will the file size increase if I use ES6?
2. Are there any performances drops over standard JS
3. Whats the best option to use with inferno?

[2016-12-06 18:31] trueadm commented on #534
Hi @echonox. I'll do my best to help :)

1. It depends, if you use ES6 and compile to ES5 via Babel (or other tools), you're likely to increase the file size of your bundle. If you stick with plain ES6, due to all the nice shortcuts, you'll likely have a smaller bundle.
2. ES6 is still not currently fully optimised and you're likely to see regressions in performance depending on the JavaScript eng

[2016-12-06 18:41] lukeed commented on #534
You'll have a much easier time writing in ES6, especially when creating & extending classes.

1) Your compiled code _will_ be larger than a pure ES5 alternative, but it's made minimal by all the build tools out there now: Webpack, Rollup, Splittable, etc.

2) Nothing to add ^^

3) Most of the time, I opt for ES5. But with Inferno i'm going for ES6 without hesitation. As said, you can turn off more

[2016-12-06 20:50] echonox commented on #534
Hi @trueadm and @lukeed thanks for your respond, and clarification, but as I've read inferno is really speddy and as I've read that runs very well on mobile, so lets take Cordova/Phonegap into account and try to answer all this question again. Would you rather use ES5 or ES6 with Inferno for Cordova/Phonegap Apps?

[2016-12-06 20:52] trueadm commented on #534
@echonox I'd still stick with ES6. You'd still need to compile it, but you shouldn't run into any issues doing so :)

[2016-12-06 20:53] echonox commented on #534
@trueadm Thanks. Closing Ticket. ^_^

[2016-12-06 20:53] #534 closed

[2016-12-06 21:04] Havunen commented on #534
Es6 with babel for now. Then eventually drop transpiler or create separate bundles for different browsers. ES6 classes makes inheritance really easy and saves development time compared to manually setting up ES5 prototypes.

Performance wise you want to use pure function components as much as possible.

[2016-12-07 07:19] mstijak commented on #492
It's fixed. Thank you.

[2016-12-07 15:46] EmilTholin opened #537 "Compat: unstable_renderSubtreeIntoContainer"
Thank you for all the hard work that has gone into inferno-compat lately. I just dropped in 1.0.0-beta31 into a project of mine, and it worked beautifully with React Router v4. Awesome!

I also dropped it into a more esoteric project that uses [react virtualized](https://github.com/bvaughn/react-virtualized) and [google-map-react](https://github.com/istarkov/google-map-react). Both these projects

[2016-12-07 16:09] trueadm commented on #537
@EmilTholin Thanks for trying out Inferno :)

I'll aim to add `unstable_renderSubtreeIntoContainer` in `beta32` which should hopefully drop tonight! It should come with a whole load more bug fixes too for `inferno-compat` :)

[2016-12-07 16:21] nightwolfz commented on #532
@LukeSheard I'll take a look

In the meantime @lukeed can you try this syntax?

[code]

[2016-12-07 16:29] trueadm commented on #537
@EmilTholin I've pushed some changes to `dev` can you possible try them out please?

https://github.com/trueadm/inferno/tree/dev/packages/inferno/dist

You'll need to copy the various files into your `node_modules/inferno/dist`:
- `inferno-compat.js`
- `inferno.js`
- `inferno-component.js`
- `inferno-create-element.js`
- `inferno-create-class.js`

Thanks :)

[2016-12-07 16:34] lukeed commented on #532
Sure. Just tried, and it's the same result.

No `children` within `<Users />` on any route. It's a greedy match and stops once fulfilled.

[2016-12-07 16:48] EmilTholin commented on #537
It worked like a charm! Fantastic!

[2016-12-07 16:50] trueadm commented on #531
@maxguzenski thanks for the help! I've fixed all the issues and they're on `dev`. I will do a release tonight

[2016-12-07 19:48] Abazhenov commented on #529
Hello,
I'd be interested in taking a shot at the router tests! However,  I can't seem to find a contributor guide anywhere.  Is there anything like a slack channel or irc where I can ask questions or should I just start trying to write some tests?

[2016-12-07 19:50] Havunen commented on #529
https://inferno-slack.herokuapp.com

[2016-12-07 19:50] LukeSheard commented on #529
@Abazhenov Our contributing guide is here https://github.com/trueadm/inferno/blob/master/.github/CONTRIBUTING.md and you can join our slack here: http://inferno-slack.herokuapp.com

[2016-12-07 19:59] Abazhenov commented on #529
Thanks!  I'll take a crack at those tests then

[2016-12-07 20:57] LukeSheard commented on #529
@Abazhenov can you also take a look at https://github.com/trueadm/inferno/pull/535/files ?

[2016-12-07 20:57] #537 closed

[2016-12-07 21:36] trueadm commented on #531
This should be fixed in `beta32` closing now :) thanks!

[2016-12-07 21:37] trueadm commented on #410
This has been done!

[2016-12-07 21:37] #410 closed

[2016-12-08 00:01] trueadm commented on #537
@EmilTholin so much for it staying around :P https://twitter.com/sebmarkbage/status/806649110879027200

[2016-12-08 00:04] EmilTholin commented on #537
@trueadm I apologize. I had no idea.
If I understand it correctly, it will still be supported, but portals will be the new way going forward.

[2016-12-08 02:30] maxguzenski commented on #531
Hi, thanks a lot!
But I still have 2 issues on my app.

One I reproduce it on inferno-test, it's related when a router has inner routers. (please, update inferno-test, run yarn install, to see it)

Second I can't reproduce it into inferno-test. Maybe is it related to mobx? I have no glue, error is:

[code]

[2016-12-08 09:57] trueadm commented on #531
@maxguzenski thanks for that. I'll re-open the issue and get those issues resolved :)

[2016-12-08 12:17] gaspard commented on #410
BTW, the link is: https://github.com/infernojs/create-inferno-app

[2016-12-08 13:43] trueadm commented on #531
@maxguzenski the React version seems to be broken too?

[2016-12-08 14:21] srinukanta opened #539 ""ref" callback functionality is not working after upgrading from "v1.0.0-beta25""
Hi,
I like Inferno because of its performance. I am doing some example and i am learning the framework and its concepts. I am having one issue after i upgraded from beta 24. Below is the error description. Please help if i am doing any mistake.

**Issue:**
`ref` functionality is not working when i upgraded to `v1.0.0-beta25` version. it is working before beta24. Below is the code:
[code]

[2016-12-08 14:25] trueadm commented on #531
@maxguzenski well, I've fixed it in Inferno (but it still seems to be broken for React). :) will be out in next release!

[2016-12-08 14:33] trueadm commented on #539
@srinukanta please can you try `beta32`?

[2016-12-08 14:49] wasd171 commented on #539
@srinukanta Also make sure you have the latest `babel-plugin-inferno` installed. Had a similar problem yesterday with `inferno@beta32`, the solution was to upgrade to `babel-plugin-inferno@beta13`.

[2016-12-08 14:49] srinukanta commented on #539
Thank you @trueadm for your quick reply. I tried till beta31. I will try with beta32.

[2016-12-08 14:50] maxguzenski commented on #531
@trueadm Wow, I did see that react was broken, I'll fix

[2016-12-08 14:53] trueadm commented on #531
@maxguzenski Inferno and React were complaining about passing an object to `createElement()` where the first argument is an object, rather than a string or component. I fixed it in Inferno so it works, but if it's not working in React – I'd rather remove that change too.

[2016-12-08 15:03] maxguzenski commented on #531
My mistake, I fixed. Inner1/Inner2 dont was a valid react component. I commit a new version on inferno-test.

[2016-12-08 15:05] maxguzenski commented on #531
react-router v4 has two ways to render a component:
<Match pattern="/" component={Page1} />
<Match pattern="/" render={() => <Page1 text='something' />} />

On inferno-test, Page1 use component to render Inners, Page2 use render. So, you can test both cases.

[2016-12-08 15:14] maxguzenski commented on #531
This issue started with a styled-component (that is fixed), now is about react-routers, fill free to start another issue if you want.

[2016-12-08 15:19] maxguzenski commented on #531
Buy the way, styled-components is not 100% fixed. On my app I have 90% of components received all props/defaultProps correctly, but there a 10% that is not (on react is 100%).

I'm investigate it, soon I'll reproduce it on inferno-test.

[2016-12-08 15:28] trueadm commented on #531
@maxguzenski please can you put files from here:

https://github.com/trueadm/inferno/tree/dev/packages/inferno/dist

Into your your `node_module/inferno/dist`:
- `inferno-compat.js`
- `inferno-component.js`

Let me know if these solve your router issues (they do for me) thanks!

[2016-12-08 15:28] maxguzenski commented on #531
I catch it, take a look:

This works perfect.

[code]

This not
[code]

I put this test on inferno-test

[2016-12-08 15:40] trueadm commented on #531
@maxguzenski Fixed this too:

@maxguzenski please can you put files from here:

`https://github.com/trueadm/inferno/tree/dev/packages/inferno/dist`

Into your your node_module/inferno/dist:

`inferno-compat.js`
`inferno-component.js`
`inferno.js`

[2016-12-08 15:43] trueadm commented on #531
@maxguzenski odd, did you put make sure you copied over `inferno-component.js`? That first error was removed from it.

[2016-12-08 15:45] maxguzenski commented on #531
Yes, But I have inferno and inferno-compat on my package.jsx ... sure that I only has to move to node_modules/inferno ??

[2016-12-08 15:46] trueadm commented on #531
I edited my reply :)

[2016-12-08 15:46] maxguzenski commented on #531
I believe that I move correctly, because the last styled-component issue is fixed.

[2016-12-08 15:49] trueadm commented on #531
@maxguzenski Sorry, I changed my reply as I realised it was a different error from before. Let's try and get all your errors fixed :)

[2016-12-08 16:02] maxguzenski commented on #531
I pretty sure that I do everything ok, but it keep errors.

[code]

ps.: last command will start webpack too

My erros so far:

1-
[code]

2 -  component: react-autosize-textarea
[code]

3 -
All my forms are empty, dont show defaultValue (I dont use value + onChange). There is no error on console.

4 -
style-component and react-router v4 look like to be 100% ok now.

[2016-12-08 16:06] maxguzenski commented on #531
I could test it more because everything stop to works after first error (about setState)

[2016-12-08 16:08] trueadm commented on #531
@maxguzenski is there any possibility I could see the code and help fix it directly on the repo?

[2016-12-08 16:12] srinukanta commented on #539
Thanks @wasd171. Fixed the issue after upgrading babel plugin to `babel-plugin-inferno@beta13`

[2016-12-08 16:14] trueadm commented on #531
@maxguzenski also it would be great to have you on Slack so we can chat more there?

[2016-12-08 16:14] trueadm commented on #539
@srinukanta awesome, thanks!

[2016-12-08 16:14] #539 closed

[2016-12-08 16:23] maxguzenski commented on #531
Mm, could be, but it is a comercial large project, you have to keep it private ;P. But we are moving to react now (production version is still a rails default project). It is a social network like facebook but for adults (read: "porn")

Now it use elixir/phoenix and postgres, right now I dont has any script or docker to put this project up in a easy way... Even react version isnt finished yet (wil

[2016-12-08 16:31] trueadm commented on #531
@maxguzenski well I wasn't expecting your repo to be that! It might be better to talk about this on Slack – https://inferno-slack.herokuapp.com/. I'm pretty sure we can get all these errors resolved, but we shall see :)

[2016-12-08 16:32] nightwolfz commented on #532
Sorry it was supposed to be `path="/:username` with a slash.

Anyway I managed to make it work, fixing linting issues now from the rest of the code base. Sometimes I feel like I'm the only one with the linter enabled 🍴

[2016-12-08 16:33] trueadm commented on #532
@nightwolfz Linters only kick in on files you change, they ignore files that haven't That could be why.

[2016-12-08 16:35] nightwolfz commented on #532
@trueadm "Unfortunately" it's project wide with Webstorm :shit:

[2016-12-08 19:44] lukeed opened #542 "Request: Add on{Input,Submit,Keydown} to `linkEvent()`"
Taken from Slack:

The `oninput` and `onsubmit` handlers are core vanilla handlers. They power any `<form>` manipulation and validation libraries, and so I'd like to cast my vote for their support within `linkEvent()`.

Arguably, `onkeypress`, `onkeyup`, and `onkeydown` fit the mold here too; but all three aren't necessary. One can easily be elected to represent the trio.

I find `onkeydown` to be

[2016-12-08 19:55] lukeed commented on #532
@nightwolfz Can't believe I didn't try `/:username`. 😱

This was the final version that ended up working. I will close this issue & update my PR (of router tests) with the new expected syntax. Thanks!

[code]

[2016-12-08 19:55] #532 closed

[2016-12-09 03:59] nadrane opened #543 "Interesting in participating"
Hey, I was looking to contribute to the project and was wondering if anyone has a good issue/task for me to take a stab at.

[2016-12-09 04:19] lukeed commented on #543
Hey there!

Right now, there's a need for complete testing (see #529) and improving documentation.

Version `1.0` is right around the corner, so a lot of aspects are already done/completed. But what you _can_ do is start using Inferno is production-like applications & report any bugs. That helps a lot!

That's all I know for sure. Someone else may respond with more insight within the next day or s

[2016-12-09 06:04] nyrosmith commented on #543
I just wanted to open a similar issue.
There is no CONTRIBUTING.md and I also looked for labeled issues/tasks

[2016-12-09 08:06] LukeSheard commented on #543
@nyrosmith. There is a CONTRIBUTING.md in `.github` in the root of the project! I will make this more apparently in the contributing section of the README. 🙂

[2016-12-09 08:57] nyrosmith commented on #543
Oh, sorry... I was looking at the root dir. Thx for clarification!

[2016-12-09 13:58] ddibiase opened #544 "Call for Inferno examples for website (help contribute to Inferno!)"
So the team working on the brand spanking new Inferno website is looking for example components to include in the website which you can see here in beta: https://beta.infernojs.org/.

We'd like to populate the page with 3-5 new examples. We would like examples that focus on varying use cases that expone the power and ease of the library. Here are some general ideas in case anyone is interested in

[2016-12-09 19:49] trueadm opened #548 "Benchmark and improve various internal functions"
We really need to benchmark and improve several areas that I feel are somewhat fragile and under-performing right now. They are:

- [`normalize`](https://github.com/trueadm/inferno/blob/dev/src/core/shapes.ts#L144) - this is applied every time `createVNode` gets called (which is a core entry point to creating VNodes), to gain performance, the user can specify to not normalize but then lots of edge

[2016-12-09 20:46] echonox opened #549 "Uncaught Error: Cannot find module "url""
This is happening on any browser, I wanted to use the "Fetch" library together with async/await like in React Native, so I've added the "latest" present which includes, es2015, es2016 and es2017 and I get this error, here is my .babelrc:

[code]

[2016-12-09 20:48] trueadm commented on #549
@echonox If you remove `babel-plugin-inferno` does this work? This doesn't seem like something that Inferno would impact.

[2016-12-09 20:53] echonox commented on #549
@trueadm nope, fyi I am using the starter project suggested on the github repo.

[2016-12-09 20:55] trueadm commented on #549
@echonox would it be possible to put your repo online somewhere? that would really help :)

[2016-12-09 21:10] echonox commented on #549
@trueadm Here you go: [Inferno Sample Repo](https://github.com/echonox/inferno-sample.git)

[2016-12-09 21:35] trueadm commented on #549
@echonox it looks like you're missing the `.babelrc` file?

[2016-12-09 21:59] steadicat commented on #513
This doesn't work for me. If I try to render a tag using its name in a string with JSX, I get a weird DOM node that does not render. See this fiddle: https://jsfiddle.net/on7exn2n/

[2016-12-09 22:05] trueadm commented on #513
@steadicat the reason that is failing is because when you use JSX and do `<Div>`, it means that there must be a local variable of `Div` that is a component. What you actually want is `<div>`, lower case, so that it recognises it as an element. This exact same example also fails in React.

[2016-12-09 22:10] trueadm commented on #549
@echonox this issue isn't related to Inferno – I just tested it without `"env": { development: ... }` and the issue goes away. I'd suggest asking on the Babel issues channel how to use the env setting (which I believe requires its own plugin).

[2016-12-09 22:12] trueadm commented on #548
CCing @localvoid @thysultan

[2016-12-09 22:35] steadicat commented on #513
You sure about that? Here's the React version: https://jsfiddle.net/ufrmoeh5/

Like it was mentioned earlier in this conversation, `ReactDOM.createElement` (which JSX compiles down to), can take both a component and a tagname string. It works in React. I thought that was the whole point of this issue.

I don't get your point about the local variable. In my example `Div` is in scope, and that's all

[2016-12-09 22:50] STRML commented on #513
Yes, that should work - in fact, it appears my fiddle from 6 days ago is broken again.

[2016-12-09 22:53] trueadm commented on #513
@steadicat Ah sorry, I completely misunderstood the problem – it's been a super crazy day with this project! I've updated `dev` and the change should be on JSFiddle soon.

[2016-12-09 23:04] trueadm commented on #513
@steadicat just so you know, it was actually to do with hydration on SSR code (or pre-existing DOM content) that was causing this issue.

[2016-12-09 23:41] trueadm commented on #513
@STRML @steadicat is the JSFiddle working for you guys now?

[2016-12-09 23:56] steadicat commented on #513
Yup, works now. Thanks!

[2016-12-10 00:01] STRML commented on #513
Yep, both fiddles are working now. Should I keep this open until there's a regression test?

[2016-12-10 00:03] trueadm commented on #513
@STRML if you have time (I really wish I did) and would like to write a test for Inferno on `dev` branch, I'd love it if you could. It's been a struggle doing this project (mostly solo) so any help would be awesome :)

[2016-12-10 00:14] STRML commented on #513
Sure!

[2016-12-10 01:01] nilz3ro opened #553 "inferno-motion - production Webpack bundle is incorrect."
## Inferno Motion - production Webpack issue.

**Observed Behaviour**
inferno-motion's production Webpack build is not exporting Inferno libraries correctly.

[2016-12-10 23:42] echonox commented on #549
@trueadm thanks it works. closing issue

[2016-12-10 23:42] #549 closed

[2016-12-10 23:45] echonox opened #556 "Uncaught ReferenceError: regeneratorRuntime is not defined"
When I try to use the es2017 async/await I get this error, here is the repo:

[inferno-sample](https://github.com/echonox/inferno-sample.git)

[code]

[2016-12-10 23:47] lukeed commented on #556
Can't open on my phone right now, but unrelated to Inferno.

You likely need to install `babel-plugin-transform-runtime`.

[2016-12-10 23:57] echonox commented on #556
@lukeed yes my apologize I've fixed it, will google better next time ;)

[2016-12-10 23:57] #556 closed

[2016-12-10 23:58] lukeed commented on #556
All good. On computer now & can confirm.

Here's an [older article for getting started with `async` with babel](http://masnun.com/2015/11/11/using-es7-asyncawait-today-with-babel.html).

[2016-12-11 19:00] echonox opened #559 "How to load css file as module in inferno js?"
How to load css file as module in inferno js and use it?

[2016-12-11 19:09] LukeSheard commented on #559
This is a very open ended question. If you're using webpack your best bet is to look at [style loader](http://npm.im/style-loader) which is a module designed for processing all forms of style sheets (CSS, SASS, LESS) together with [css loader](npm.im/css-loader) which will parse your CSS. Webpack will then add this to your HTML file via your `bundle.js` if you're running webpack-dev-server. or you

[2016-12-11 19:41] lukeed commented on #559
@echonox This is also unrelated to Inferno, specifically. 😄

It's a generic Webpack thing, and you can checkout [this repo](https://github.com/developit/preact-todomvc/tree/b6c92097819fd212bfb604e429e32854e810bb66) for a very basic setup of "CSS modules".

Please note that I linked you to an older, specific version of the project; so browsing the most up-to-date version will not include CSS module

[2016-12-11 19:41] #559 closed

[2016-12-11 21:19] mariusandra commented on #503
@trueadm thanks, I'm on Slack now, user "marius".

Unfortunately I can't give access to this work repo, but I finally found some time to check these issues. Here are some updates.

1. It actually wasn't an issue with `react-portal`. That worked as it should. The issue was with a component called `velocity-react/velocity-transition-group`. However I've been wanting to remove that component anyway,

[2016-12-11 21:38] mariusandra commented on #503
4. Investigating `rc-slider`

I get a funny error: `string "refs" are not supported in Inferno 1.0. Use callback "refs" instead.`.

<img width="728" alt="screen shot 2016-12-11 at 22 34 55" src="https://cloud.githubusercontent.com/assets/53387/21083490/13f7341c-bff2-11e6-958d-221f581fca09.png">

AFAIK string refs are now supported: https://github.com/trueadm/inferno/issues/450 .

However, the ref

[2016-12-11 21:49] mariusandra commented on #503
It seems my issue 5 with `react-google-map` is very closely connected to nr 7. I get the same errors from it:

<img width="729" alt="screen shot 2016-12-11 at 22 49 30" src="https://cloud.githubusercontent.com/assets/53387/21083603/18c466a2-bff4-11e6-938a-24325e94a1cd.png">

[2016-12-11 23:25] trueadm commented on #503
@mariusandra I hate to be a pain, but can you raise these issues each as separate problems so they're easier to track?

[2016-12-12 07:40] clooudch opened #561 "Inferno overwrites global process variable in electron renderer environment"
Inferno overwrites the global process variable if it is running in a browser environment.

Here is the code that overwrites the variable: https://github.com/trueadm/inferno/blob/master/packages/inferno/src/index.js#L11-L18

Can you please check if the global process variable already exists before overwriting it.

Something like that would be great:

[code]

[2016-12-12 07:47] lukeed commented on #561
Generally, you define your own `NODE_ENV` thru Webpack. Doing this works fine (and is common to other libraries too):

[code]

[2016-12-12 08:13] clooudch commented on #561
I do not want to overwrite the process variable at all.

An electron-renderer has node-integration so the global 'process' variable is the same as in [node](https://nodejs.org/api/process.html).

So i do not think that the webpack.DefinePlugin stops Inferno from overwriting the global process variable.

Currently you can easily work around that issue by accessing the node process module with requi

[2016-12-12 08:18] lukeed commented on #561
Again, this is fairly common. The `NODE_ENV` is injected at build time & that's where it stops.

You can "precompile" your application, and then attach it to your Electron app's main view. At that point, it functions like a regular html page.

If you need "server-side" rendering / live-compiling, import from a pre-built, production Inferno file directly, instead of the flexible version included in

[2016-12-12 09:05] mariusandra opened #562 "Exception with keyed children when some of them are nulls"
**Observed Behaviour**

In this code:

[code]

Setting `broken` to `true` causes Inferno to crash with this error:

[code]

<img width="733" alt="screen shot 2016-12-12 at 09 59 32" src="https://cloud.githubusercontent.com/assets/53387/21093379/b7a3edda-c051-11e6-8d54-3d9ce555f44f.png">

Here is a repo where it can be reproduced: https://github.com/mariusandra/inferno-keyed-children (clone, yarn,

[2016-12-12 09:38] LukeSheard commented on #562
Can you add the code for FunnyComponent or make a JSFiddle out of this?

[2016-12-12 09:43] Havunen commented on #562
I think it has been working like this for long time. The root question behind this is: which node to unmount or do we simply normalise nulls away from the list.

Main reason why we should use keys is to keep internal state of components/Dom elements unchanged and being able to move them within lists.

But if there is null it means something unmounted? But imagine 2 or more nulls we could compare t

[2016-12-12 09:48] Havunen commented on #562
@trueadm what do you think about this behavior. We have discussed this multiple times.

[2016-12-12 09:53] mariusandra commented on #562
@LukeSheard the `FunnyComment` code is very simple: https://github.com/mariusandra/inferno-keyed-children/blob/master/app/scenes/homepage/index.js#L24

[code]

[2016-12-12 10:00] Havunen commented on #562
@localvoid has implemented keyed algorithm mostly and this function is same across many libraries. I wonder what is his opinion about this.

[2016-12-12 10:08] trueadm commented on #562
@localvoid has a method of dealing with children by removing nulls and other invalid entries. We should see how he does it in ivi.

[2016-12-12 10:09] trueadm commented on #561
We can totally change this. Easy enough of a change. Thanks @clooudch

[2016-12-12 10:12] trueadm commented on #561
How about this?

[code]

[2016-12-12 10:18] mariusandra opened #563 "string refs don't work with cloneElement in inferno-compat"
**Observed Behaviour**

I'm using a component called [`rc-slider`](https://www.npmjs.com/package/rc-slider). It calls `cloneElement` with a string ref, like so:

https://github.com/react-component/slider/blob/master/src/Slider.jsx#L491

[code]

This causes `inferno-compat` to crash with such an error:

<img width="728" alt="screen shot 2016-12-11 at 22 34 55" src="https://cloud.githubusercontent.c

[2016-12-12 10:23] trueadm commented on #563
A way we could fix this (if anyone is up for the task) is by changing:

https://github.com/trueadm/inferno/blob/dev/packages/inferno-compat/src/index.js#L52

So rather than passing the Inferno's `cloneVNode` directly to `cloneElement`, we create a proxy function that does this, but applies our string ref monkey patch, like we do already for `createElement` in `inferno-compat`:

https://github.com/

[2016-12-12 10:24] mariusandra commented on #562
I have created a JSFiddle: https://jsfiddle.net/mariusandra/bv8engdw/2/

[2016-12-12 10:32] mariusandra commented on #563
@trueadm I created a PR based on the above patch: https://github.com/trueadm/inferno/pull/564

I'm unable to use the code directly in my app due to the issues reported above with linking the projects, but this does seem to work. When I manually updated files under node_modules it worked. `npm run build` also works.

[2016-12-12 10:36] mariusandra commented on #563
Another question. I'm not 100% sure what these lines do:

https://github.com/trueadm/inferno/pull/564/commits/020a740c4dd741c42fe96a62cb5b5712f3d508af#diff-d3e3b3c9e04b8ff8476c6a0dbb068117R87

[code]

Thus, should they apply to `cloneVNode` and `infernoCreateElement` both like in the PR, or just `infernoCreateElement` as it was until now?

[2016-12-12 10:37] trueadm commented on #563
@mariusandra ah that's a valid point. This check is for createElement, as the type coming in can either be `string` (element) or `function/class` (component).

[2016-12-12 10:42] mariusandra commented on #563
@trueadm hmm... is it possible there's actually no issue then? `typeof` is a very fast operation and if `cloneElement` never gets a `string`, nothing will break?

[2016-12-12 10:44] trueadm commented on #563
@mariusandra I see no real issue here, so I merged it :) we can always take a look at this again if issues come back.

[2016-12-12 10:51] mariusandra commented on #503
@trueadm no problem at all!

Besides the 2 new issues I reported, the only one still broken is the one about HMR. Probably something with my setup. I'll check that and report back later.

Thanks for all the help!

[2016-12-12 10:53] trueadm commented on #503
@mariusandra you can't use React's HMR with Inferno, instead you can use the standard HMR way offered by webpack.

[2016-12-12 13:44] trueadm opened #565 "Improve the VNode normalization process"
# Background

Unlike React, Inferno's VNodes are not immutable. They are handled like pseudo-immutable objects in that if multiple instances are detected within Inferno, it attempts to clone the VNode. Inferno does this to reduce object creation and to improve performance (the `dom` property on VNodes constantly get updated as the mount/patch/unmount process happens during run-time).

# What we cu

[2016-12-12 15:03] clooudch commented on #561
@lukeed I do not understand what webpack or the webpack.DefinePlugin has to do with my issue ...

I think it is generally not a very good idea to overwrite global variables. It can break code of other scripts/libraries because they may depend on it.

In an browser environment it is totally okai to overwrite the global process variable (because it normally does not exists). But in an electron-rende

[2016-12-12 15:18] clooudch commented on #561
The solution to the issue has been implemented in commit ddacfa679cc719bac635655e1867192a710cb76b
Thank you @trueadm

[2016-12-12 15:18] #561 closed

[2016-12-13 00:20] kzc opened #570 "doc typo: 'infrno-create-element'"
missing an 'e'
[code]
https://github.com/trueadm/inferno/blame/7f8ab5d2e2fa52a4131b696b809d511a053616d9/packages/inferno-create-element/readme.md#L13

[2016-12-13 01:53] lukeed commented on #542
Added in d2f5583f9c24c8bf7da3223b24df4d52570b88b0 🙌

[2016-12-13 01:53] #542 closed

[2016-12-13 11:06] echonox opened #573 "Uncaught SyntaxError: Unexpected token <"
Using the Router works great, but when using params doesn't work so great, example:

1. Going to ``` /courses ``` works ok.
2. Refreshing page when at ```html /courses ``` works ok
3. Going to ``` /course/:name ``` works ok
4. Refreshing ```/course/:name ``` doesn't work (gives the ``` unexpected token < ```) error

[2016-12-13 11:17] trueadm commented on #573
@echonox this sounds like a compilation error, can you show the full error message?

[2016-12-13 11:37] #570 closed

[2016-12-13 11:38] trueadm commented on #553
@nilz3ro is this something you could pick up? I've battled with the webpack config to get it working, but I had no luck. :(

[2016-12-13 11:39] #531 closed

[2016-12-13 11:39] #513 closed

[2016-12-13 11:41] mxstbr commented on #531
You made me laugh out loud here!

Writing "like facebook but for porn" would've been too dirty, so let's make sure we say "for adults. (read: "porn")" at the end, because that's better 😆💯

Thanks for that! 😁

[2016-12-13 12:53] wasd171 opened #575 "readOnly behaviour is not correct"
**Observed Behaviour**
https://jsfiddle.net/3taojbyk/3/

`textarea` tag is not mutable with any provided `readOnly` property

**Expected Current Behaviour**

`textarea` should be mutable when rendered with `readOnly={false}`

[2016-12-13 13:14] wasd171 commented on #575
How do you use it? Rendering `<textarea readonly/>` does not seem to work

https://jsfiddle.net/3taojbyk/4/

[2016-12-13 13:22] trueadm commented on #575
@wasd171 ah I understand now. Would you mind make a PR for this please? There should be a `readonly` string in `constants.ts` that needs to be `readOnly`.

[2016-12-13 13:32] nilz3ro commented on #553
@trueadm yes definitely, I'll work on it this week. By the way, I think the modules in `create-inferno-app` need to be re-published. I'm getting errors on `npm install` because there's no name property in the package.json file. I think someone may have run `npm publish` instead of the custom publish script `npm run publish`.

[2016-12-13 13:33] thysultan commented on #565
The holy grail would be to offload all the work to the JSX transformer, i build [https://github.com/thysultan/jsx.js](https://github.com/thysultan/jsx.js) with this exact intention for dio. What does JSX transformer convert something like `<div class="foo"></div>` into?

[2016-12-13 13:36] LukeSheard commented on #573
This sounds more like an HTML markup issue. Check that you're not using relative links in your HTML page that you're sending from your server?

[2016-12-13 13:38] trueadm commented on #565
@thysultan `Inferno.createVNode(4, { className: 'foo' })`. How could you transform expressions that you don't know at compile time?

[2016-12-13 13:39] trueadm commented on #553
@nilz3ro I've republish `create-inferno-app`, can you let me know if everything works okay now?

[2016-12-13 13:39] thysultan commented on #565
Example?

[2016-12-13 13:42] trueadm commented on #565
@thysultan `<div>{ createChildren(foo) }</div>`

[2016-12-13 13:43] nilz3ro commented on #553
@trueadm `npm install create-inferno-app` works fine now, along with all of the generated npm scripts including eject. 💯

[2016-12-13 13:55] trueadm commented on #565
@thysultan that's pretty much what the Inferno JSX plugin already does, except I stopped using inline object literals. In recent changes to V8 they don't perform as well anymore and they don't perform anywhere near as well in other JavaScript engines either.

[2016-12-13 14:08] thysultan commented on #565
Yes the object literals was an example, optimally it would construct function calls `Inferno.createVNode(4, { className: 'foo' })`... why isn't the current JSX plugin doing 2, 3.2 and 3.3. I still don't understand why 3.1 is being done and adding that key to the array maybe deopting the array to a hash-map.

... so as function calls

[code]

`createVNode` looks like it's extracting className from

[2016-12-13 14:10] trueadm commented on #565
@thysultan it does pass them directly in – so it does what you've said above. The issue is that `normalize` converts text nodes to nodes, removes `null` etc and lots of other things.

[2016-12-13 14:26] thysultan commented on #565
That could all get done at the compile step, at least from working on jsx.js that's what i've found.

i.e

[code]

would constructs the internal shape for a textNode then....

[code]

would compile it to a function call that constructs textNodes. This all together removes the need for normalisation at runtime.

[2016-12-13 15:38] wasd171 commented on #575
Closed by https://github.com/trueadm/inferno/pull/576

[2016-12-13 15:38] #575 closed

[2016-12-13 16:12] trueadm commented on #565
@thysultan where would `stringify` get called? So if I were to take this JSX, what would the compiled code look like?

[code]

[2016-12-13 16:25] steadicat commented on #513
There is still not a published version with the fix, right? I’m trying to convince someone to use Inferno for a new project but my position becomes more and more untenable every day that the latest published version of Inferno renders to... nothing.

[2016-12-13 16:27] trueadm commented on #513
@steadicat Sorry, we haven't published a new version yet. The current version has been the same version for a while now. I'll get a version out for you tonight :) `beta33`

[2016-12-13 17:06] thysultan commented on #565
[code]

stringify is called when each node(including text nodes) in the AST are converted to a string,
the other methods define how the shape of a node in the AST looks like.

It's dependant on how you define the what strinifgy will render.

If i define the stringify method like this,

[code]

will produce the following code

[code]

coupled with how you define how components, elements, text and p

[2016-12-13 17:15] trueadm commented on #565
@thysultan the output you put above is pretty much what the JSX plugin already does :)

[2016-12-13 17:38] thysultan commented on #565
That specific case is the same but I don't think it works the same way, the way i see it is all the points can be addressed in the compile step, i don't know if the current JSX plugin handles this but for example looking at point 2. normalizeProps, you could do.
ref, events, children or key
[code]

then the stringify function will normalisation the output to avoid normalisation at runtime.

[2016-12-13 23:07] trueadm commented on #562
Fixed in `beta33`.

[2016-12-13 23:07] #562 closed

[2016-12-13 23:07] trueadm commented on #563
@mariusandra can you confirm this works now in `beta33`?

[2016-12-14 03:45] seangrogg opened #586 "inferno-create-element seems to depend inferno-dom still"
In reference to:
https://github.com/trueadm/inferno/tree/master/packages/inferno-create-element

When I use the example code as-is I get an error:

Though I found the example in the npm registry that uses `inferno-dom` works.

Inferno 0.7.27, macOS El Capitan, Chrome Latest

[2016-12-14 06:43] mariusandra commented on #563
@trueadm Yes, it works! :)

[2016-12-14 06:45] mariusandra commented on #562
@trueadm It works, thank you! :)

[2016-12-14 07:15] xiaokekeT opened #587 "Hot Module Reloading didn't work."
# react-hot-loader and inferno can't work

[code]

[code]

webpack config
[code]
![image](https://cloud.githubusercontent.com/assets/7436176/21172791/fd3017d4-c20e-11e6-994b-347d55171370.png)

Each change will be reloaded. Not using inferno is normal.

**Expected Current Behaviour**

hot reload

**Inferno Metadata**
package:
[code]
OS: macOS
Browser: Chrome

Test project: [inferno-starter](https:/

[2016-12-14 07:58] trueadm commented on #587
I don't believe you can use React HMR with Inferno at all. You can still enable default HMR without needing the React version though

[2016-12-14 07:58] soyuka opened #588 "[Performance] Add lots of items to the DOM"
Hi,

I'm looking for some informations on how to add lots of items to the DOM.

[Here's a jsfiddle example](https://jsfiddle.net/o01mvsyn/29/).

Note that in this example I'm using a `while` loop with 2000 items. It makes the browser freeze.
If I use an interval instead, everything works fine.

Now, in my real use case I'm getting about 6600 items through websockets. When an item is received it's

[2016-12-14 08:22] trueadm commented on #586
@seangrogg can you please try the latest version (beta33). It's behind a tag on NPM, so `npm install --save inferno@beta33` same tag for `inferno-create-element`.

[2016-12-14 08:29] trueadm commented on #588
@soyuka Inferno's `setState` when used in your case will be sync on each call, thus causing it to do a diff each time. You can however force the `setState` to by async by passing in a callback as the 2nd parameter. In your case, you don't really need a callback, so you can pass in a NO OP function and get much better performance. As shown:

https://jsfiddle.net/r9g44v7m/

[2016-12-14 08:30] lukeed commented on #588
Hi @soyuka,

In general, you want to avoid `Component` whenever you can because functional components are faster (as opposed to "stateful components").

In your case, since you're just passing static/dummy data, there's no need to use or set a `state` here. Ergo, I remade your fiddle with functional components.

Here's the fiddle: https://jsfiddle.net/lukeed/htegwjeh/

Another major difference is

[2016-12-14 08:30] #588 closed

[2016-12-14 09:00] echonox commented on #573
@trueadm That's the only error it throws, I'm currently at work later today will push a sample repo

[2016-12-14 09:39] soyuka commented on #588
Hi, thanks for both of your answers!

It's kinda hard to find docs/examples about inferno, hope the website will be released soon!

I understand the `functional` vs `stateful`, didn't found any `functional` example though. Also, I must say I dislike JSX, so here's your fiddle with hyperscript:

https://jsfiddle.net/htegwjeh/1/

Though, how would you render the children in an asynchronous way? I do

[2016-12-14 10:35] Havunen commented on #588
@lukeed  you are comparing one render vs 2000 renders, also using class in given scenario shouldn't make any noticeable difference because there is only 1 class constructed

[2016-12-14 10:57] Havunen commented on #588
I created jsfiddle with functional components resulting same as bad performance as with classes.
https://jsfiddle.net/htegwjeh/2/
and now it cannot even be async anymore? (according to my knowledge).

 There is no silver bullet to get best performance. It highly depends on usage and requirements

[2016-12-14 11:15] soyuka commented on #588
@Havunen thanks for the second example, interesting that indeed it cannot be async anymore (according to you knowledge).

@trueadm Thanks about the `setState` tip! Works great (even better then my poor vanillajs implementation)

The slowest uses the above vanillajs implementation:

![inferno-rocks-2](https://cloud.githubusercontent.com/assets/1321971/21179976/f3346b26-c1f6-11e6-8a4a-c208fe1adf8e.p

[2016-12-14 11:19] nightwolfz commented on #587
@xiaokekeT You can get some hot reloading inspiration from this project:

https://github.com/nightwolfz/inferno-starter

[2016-12-14 11:23] Havunen commented on #563
Good work guys, closing this ticket.

[2016-12-14 11:23] #563 closed

[2016-12-14 12:28] sai-prasanna commented on #544
A React compatibility

How about using something like react-toolbox with inferno compat?

[2016-12-14 17:18] lukeed commented on #588
@Havunen Correct. I learned something new after looking at @trueadm's answer 😄

[2016-12-14 19:13] LukeSheard commented on #573
@echonox Ping me the repo when it's up and I can take a look.

[2016-12-14 21:38] mariusandra opened #590 "componentWillUnmount performance and safety"
Hey!

When trying to convert my app from React to Inferno (beta33), I ran across either a bug, a broken component or both... and in the process stumbled upon a possible optimisation.

The bug:

A component called `google-map-react` threw an exception `TypeError: Cannot read property 'removeEventListener' of null` during its `componentWillUnmount()`, at [this line](https://github.com/istarkov/googl

[2016-12-14 22:37] Havunen commented on #590
This sounds something we should definitely think of. For performance tracking we are mainly using dbMonster you can run it in your local machine by starting `http-server` at the root of repo and navigating to benchmarks / uibench  then to get some results and compare to other libraries you can use website created by @localvoid here: https://localvoid.github.io/uibench/

We also have fastUnmount fl

[2016-12-15 03:16] seangrogg commented on #586
@trueadm Confirming that the latest version (beta33) works as intended.

[2016-12-15 03:35] #586 closed

[2016-12-15 04:28] xiaokekeT commented on #587
@nightwolfz Thank you

[2016-12-15 04:28] #587 closed

[2016-12-15 07:45] Alxandr opened #591 "Lessons from react-redux 5"
React-redux 5 was just released with a new API and also a new way of handling subscriptions, which according to them can in some cases vastly improve performance. There is also a new `connectAdvanced` API which `connect` is built on. Should this maybe be ported?

**[Update]**
That being said, if there is interest in this being done, I am willing to attempt the porting myself and can make a PR.

[2016-12-15 08:26] trueadm commented on #591
@Alxandr sounds great if you feel like you'd like to port over? We already have an `inferno-redux` which you could use as a guidebook for some of the ways we've ported things. A few things to mention (unless these have changed in version 5): you'll have to remove string refs and make them callback refs, you'll have to change usage of findDOMNode and if Redux still uses createClass, you'll need to

[2016-12-15 09:12] Alxandr opened #592 "Improve .d.ts file(s)"
I've done some work with react in typescript, and in general it works quite well (except when it doesn't :-/), but the d.ts file for inferno is severely lacking. Everything is just typed as `any`, and I get no typescript errors if I do the following:

[code]

[2016-12-15 09:13] trueadm commented on #592
@Alxandr would you be interested in helping us improve this? We could really use the help :)

[2016-12-15 09:15] Alxandr commented on #592
No promises on this one, cause the scope might be too big for what I have time for currently. I'll get back to you on this.

[2016-12-15 16:44] LukeSheard commented on #548
So are we looking to just determine number of operations per second we can run for these functions?

[2016-12-15 16:45] trueadm commented on #548
@LukeSheard we are looking to yes, with various inputs into them. @stingrayfunk will look into `createElement`.

[2016-12-15 18:27] ryanbas21 opened #594 "Passing Props with inferno-router"
## Issue Template
**Observed Behaviour**
  Need a way to be able to pass props down into the router, so that dumb components can access methods from a stateful one. Currently the props.children is an object, and cannot be mapped through.
**Expected Current Behaviour**
  Similarly, in React, you can ` {React.Children.map(children, child => React.cloneElement(child, { loadData }))}`
Currently, I can

[2016-12-15 18:36] LukeSheard commented on #594
@nightwolfz A fix to this could be that we always pass children as an Array?

[2016-12-15 20:37] wasd171 opened #595 "inferno-mobx behaviour differs from mobx-react > 4"
Consider the following example: `Parent` and a `Child`, both subscribed to the same store. Store is changed the way that triggers both `Parent` and `Child` to re-render. The question is, what would be the order?

Using `react` and `mobx-react`, the order would be `Parent` first. In `inferno-mobx` that differs, which might cause unwanted re-render of `Child` component first.

The behaviours can be

[2016-12-15 20:42] stasnadol19856972 commented on #595
Depending on the situation, age of child, and whether the mother's input
was for bettering the child

On Dec 15, 2016 3:37 PM, "Konstantin Nesterov" <notifications@github.com>
wrote:

[2016-12-15 23:26] soyuka opened #596 "Typescript issue with default imports"
Hi,

[code]
Transpiles to :

[code]

Which outputs:

[code]

If you log `inferno_create_element_1` (without the `default` key), you will get the corresponding function.

The same goes for `Component`:

I tried to import with the following (because of the issue above):

[code]

You can now get the Component through, but the typescript compiler isn't happy about it not beeing a constructor:

[code]

[2016-12-15 23:31] trueadm commented on #596
@soyuka I do not have this issue with `inferno-create-element` any more (latest version of TypeScript fixed this as it was a known issue with TS). Make sure you remove any globals of TS and try again.

We should definitely fix the `most` issue though. @LukeSheard mind picking up please?

[2016-12-15 23:37] soyuka commented on #596
Tried with typescript@next (2.2.0) and typescript@latest (2.1.4). Couldn't find the related typescript issue would you have a link? Thanks!

[2016-12-16 00:02] LukeSheard commented on #596
I've removed the other modules from the type definitions in our `inferno.d.ts` this should solve your problem.

[2016-12-16 01:32] LukeSheard commented on #596
I'm going to close this and track changed to this file in #592

[2016-12-16 01:33] #596 closed

[2016-12-16 01:44] LukeSheard commented on #356
I feel like the level of documentation in the README for this is pretty high now. Opinions on closing?

[2016-12-16 01:46] nojvek commented on #356
I feel we should talk a bit about blueprint tricks used. That's where react
and inferno fundamentally differ right?

On Thursday, December 15, 2016, Luke Sheard <notifications@github.com>
wrote:

[2016-12-16 02:05] stasnadol19856972 commented on #356
For every action, there is a positive, negative, or equal reaction. As soon
as people realize that I am not a program, or your actions have no effect
on me, the better

On Dec 15, 2016 8:47 PM, "Manoj Patel" <notifications@github.com> wrote:

[2016-12-16 02:43] nojvek commented on #356
I'm not sure if I understand you. is @stasnadol19856972 a bot?

On Thu, Dec 15, 2016 at 6:05 PM, stasnadol19856972 <notifications@github.com

[2016-12-16 02:58] stasnadol19856972 commented on #356
Seeing a real situation and knowing how people act. When you know someone
and they act completely different comes to being a test scenario. Reading
people comes naturally for me

On Dec 15, 2016 9:43 PM, "Manoj Patel" <notifications@github.com> wrote:

[2016-12-16 06:33] Keats commented on #592
I might be wrong but putting types in the libraries themselves should allow TS to generate accurate declaration files? It would also improve the libraries themselves.

Once types haven been filled in, you can also turn on the `noImplicitAny` flag to make sure everything is typed.
Can be done per library without needing to do all of it at once, what do you think @trueadm?

[2016-12-16 07:26] soyuka commented on #596
You managed to make it work with `inferno-component` and `extend`? Could you please give me an example? I tried lots of things without success :|.

[2016-12-16 08:07] trueadm commented on #592
@Keats In regards to the TS code giving accurate declarations: each package has it's own set of defined end points (inside `/packages/PACKAGE/src/index.js`, which get compiled with TS (from `/build`), then further bundled and altered with Rollup for UMD.

I'm all for adding types through the entire codebase, right now we used inferred types in most places, which works well actually with TS 2.1, bu

[2016-12-16 10:10] Keats commented on #592
I did a first batch, will do more when I have time

[2016-12-16 15:42] soyuka commented on #596
Bump, I can make a failing example if you want. As said `createElement` does work when using `import * as createElement`, but not by using `import createElement`.
And by using `import * as Component from 'inferno-component'`, typescript things it's an object, not an extendable class, therefore compilation isn't possible.

[2016-12-16 16:31] LukeSheard commented on #596
@soyuka if you know the solution for this can you submit a PR please? If not add your comments on to #592

[2016-12-17 00:40] nightwolfz commented on #595
I looked into this and it seems like the latest `mobx-react` is using an experimental feature of React (batched Updates?) which we don't have. Can't really do anything about it.

[2016-12-17 00:40] #595 closed

[2016-12-17 03:06] nightwolfz commented on #594
I pushed a fix and a test, so with the next release you should be able to do

[code]

@ryanbas21  Let me know if that is enough

[2016-12-18 13:19] #553 closed

[2016-12-18 20:10] trueadm opened #602 "Cerebral issue with Inferno"
For context, see repo: https://github.com/menberg/cerebral-inferno-bugfix

[2016-12-19 21:04] trueadm commented on #573
Any updates on this?

[2016-12-19 21:07] trueadm commented on #501
So this will likely going in for the future along with my refactor of normalization within Inferno. It won't be in for 1.0 due to the amount of edge cases it brings and things it breaks for now.

[2016-12-19 23:35] #602 closed

[2016-12-20 04:10] Keats opened #604 "Remove findDOMNode before 1.0?"
Looking at the docs, it seems that there are no upsides and is going to be removed so why keep it for the initial release? Once it's released, it will be there for some time

[2016-12-20 06:17] ddibiase opened #605 "Router Link doesn't match the current route path"
On the new Inferno site, using inferno-route I'm noticing the activeClassName isn't being set properly because we're doing a direct comparison against the route path: `if (router.location.pathname === to) {`.

In the website's case we have a route set for `/docs/:path*` and in the Link component we're setting `to="/docs"`. The comparison is not accounting for the path expression and so doesn't set

[2016-12-20 14:07] trueadm commented on #604
@Keats Removing it from core will break `inferno-compat` unless we spend time majorly re-writing certain parts of how `inferno-compat` can regain this feature. So it's definitely on the roadmap, although unlike to happen for 1.0 given the aim is to get 1.0 out in the next week.

[2016-12-20 21:58] ddibiase commented on #605
Irrelevant. Closing.

[2016-12-20 21:58] #605 closed

[2016-12-20 22:54] standy commented on #465
Is there is a way to async delay transition to next page like in RR3 with `callback` ?
https://github.com/ReactTraining/react-router/blob/master/docs/API.md#onenternextstate-replace-callback

[2016-12-21 04:29] degroote22 opened #608 "React.Children.map behavior different from Inferno-compat's"
**Observed Behaviour**

Inferno breaks if you call React.Children.map with undefined (no children).
If you call it with undefined it first goes to [toArray](https://github.com/trueadm/inferno/blob/master/packages/inferno-compat/src/index.js#L37) which will return [undefined] (array with length 1). Then, it will return to the [map fn](https://github.com/trueadm/inferno/blob/master/packages/inferno-

[2016-12-21 04:41] degroote22 commented on #608
I'm dumb and can't operate fiddles aswell...
But here is the code that works:

[code]

Change the imports to this and it won't work.

[code]

the error:
![screenshot from 2016-12-21 02 31 55](https://cloud.githubusercontent.com/assets/12750442/21377606/f3e1743a-c726-11e6-984e-ad90a78818d4.png)

[2016-12-21 06:16] thomascmost opened #609 "@types for Inferno"
Hey, I'm a big fan of TypeScript and have been a little stymied in my most recent project by the lack of @types for Inferno. I know 1.0 isn't even out yet but you do have a types definition file on the github, would it take much to add it to the @types npm module?

Thanks! Excited to dive into this more

[2016-12-21 06:46] Keats commented on #609
There is no need to have a @types package if the package itself is shipping with its definition like inferno does

[2016-12-21 07:12] thomascmost commented on #609
Ah, then I've simply failed to configure something on my end.

[2016-12-21 07:21] Keats commented on #609
I don't think the current typings works for TS 2.0 depending on your tsconfig options though, but there is a `typings` branch to improve them (I believe)

[2016-12-21 17:56] dfleury opened #611 "Server-side rendering can't deal with null returned from a render method"
**Observed Behaviour**

inferno-server fails to render when component (stateless or not, first child or not) is returning `null`
My use case is: when rendering at server side, I want to save time by avoid rendering some visual-only components which don't need to be preset in the generated markup.
A sample of the error:
`TypeError: Cannot read property 'flags' of null
    at renderVNodeToString (/U

[2016-12-21 19:20] thysultan commented on #611
doesn't react render <noscript> since rendering nothing may affect hydration?

[2016-12-21 19:22] dfleury commented on #611
I guess react render a

On qua, 21 de dez de 2016 at 17:20 Sultan Tarimo <notifications@github.com>
wrote:

[2016-12-21 19:26] trueadm commented on #611
@thysultan In this case, it doesn't matter. We don't have to render anything on the SSR for null returns. On hydration we should be adding back in an empty TextNode and insert it correctly into the DOM though.

[2016-12-21 19:46] trueadm commented on #611
Actually, it's best we do render a comment node. I'm working on this now :)

[2016-12-21 19:51] dfleury commented on #611
I'm not sure why React renders a comment but I guess it's something around cross browser issues on how browsers deal with empty elements...

[2016-12-22 08:45] switz opened #616 "Keys cause ref string error to be thrown"
**Observed Behaviour**

Inferno is throwing an error on any keyed component.

[code]
throws
[code]
Removing keys resolves the issue.

**Expected Current Behaviour**

Inferno should not throw an error when using keys.

**Inferno Metadata**
Mac, chrome stable, 1.0.0-beta37

[code]

[code]

[2016-12-22 09:00] trueadm commented on #616
I tried to replicate this locally, but had no luck. Can you make sure that beta37 is definitely installed? If you change the package JSON entry to "beta37" only and reinstall, do you still get the same problem?

[2016-12-22 10:22] trueadm commented on #611
Fixed. Will be out in next release.

[2016-12-22 10:22] #611 closed

[2016-12-22 10:22] trueadm commented on #608
@degroote22 thanks for this, could you possibly apply your PR again (dev tests should pass now).

[2016-12-22 16:15] degroote22 commented on #608
@trueadm I'm on it. :)

[2016-12-22 17:35] Havunen commented on #616
Hey @switz  you might be hit by npm bug by using `^` before versions try removing that and re install node_modules for example: `inferno": "1.0.0-beta37`

[2016-12-22 17:39] Havunen commented on #594
Is this still an issue?

[2016-12-22 17:44] Havunen commented on #590
@mariusandra Is the issue described here already fixed, I believe @trueadm has fixed node being null? I  will work on componentWillUnmount optimisation tonight, but its separate issue.

[2016-12-22 17:50] ryanbas21 commented on #594
@nightwolfz @Havunen I haven't personally had time to go back and test this, but ill close it for now, looks like it should work

[2016-12-22 17:50] #594 closed

[2016-12-22 18:03] switz commented on #616
I'll give it a shot later tonight. Thanks

[2016-12-22 18:38] Havunen commented on #616
also note latest babel plugin is `1.3.0-beta17`

[2016-12-22 19:06] mariusandra commented on #590
@Havunen hey, indeed it's fixed. I just tried it about 2h ago and it worked with beta37. Thanks @trueadm ! 😄 👍

[2016-12-22 21:35] Havunen commented on #590
good to hear, closing this issue :)

[2016-12-22 21:35] #590 closed

[2016-12-22 23:17] andyrj opened #620 "inferno-devtools <br /> causes doubling of dom elements in react-devtools"
**Observed Behaviour**

Inferno-devtools@1.0.0-beta39 crashes when opening a component with a "br".

stack trace:
backend.js:8455 Uncaught TypeError: Cannot read property '_currentElement' of null
    at getData (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/backend.js:8455:22)
    at walkNode (chrome-extension://fmkadmapgofadopljbjfkapdkoienihi/build/backend.js:8364:48)
    at chrome-

[2016-12-23 00:24] andyrj commented on #620
fixed by the wizard @trueadm

[2016-12-23 00:55] andyrj commented on #620
the sleepy wizard left the fix for this one out of the beta40 push ;)

I bet he still has the original but below is patch of file he sent me to test out the fix.

--- node_modules/inferno/dist/inferno-devtools.js	2016-12-23 00:47:12.949976788 +0000
+++ node_modules/inferno/dist/inferno-devtools.js	2016-12-23 00:45:41.393310286 +0000
@@ -24,7 +21,9 @@
     return isString(obj) || isNumber(obj);
 }

[2016-12-23 01:06] andyrj commented on #620
closed fix is in beta40

[2016-12-23 01:13] andyrj commented on #620
ok I didn't want to make a new ticket for this, now the components with <br /> show up in react-devtools but they cause a duplicate of the entire dom...

you should see the following in react-devtools dom pane:

<(Function.name missing) store={path: "/" routes: ...>
  <Provider store={path: "/", routes: ...>
    <Cl>
      <Component ...>
      </Component>
    </Cl>
 </Provider>
</(Function.name

[2016-12-23 01:30] cia48621793 commented on #486
@trueadm Sorry now but I have abandoned InfernoJs in flavor of Preact, they have working examples already.

[2016-12-23 02:27] Keats opened #621 "Revamp structure of repo?"
I mentioned it a bit on slack but wouldn't it be easier to have one folder per npm package in the repo? I believe (never used it myself) that something like https://github.com/lerna/lerna would help.

Not expecting to do any action on it before 1.0 obviously, just wondering if it was considered before/rejected since I couldn't find any discussion on that.

## Pros

- easy to see which code is part

[2016-12-23 02:42] rtsao commented on #621
I agree that the repo structure was an initial barrier to me understanding which parts of the code were part of which module. Another factor was the way code is published to npm, which seems a bit unconventional to me: https://github.com/trueadm/inferno/tree/master/packages/inferno/dist (where all code for all packages is shipped in the main package, and the other packages are simply references to

[2016-12-23 02:45] stasnadol19856972 commented on #621
I went to college, and speak 3 languages. I want to learn c+, so I can
program my future wife's phone

On Dec 22, 2016 9:42 PM, "Ryan Tsao" <notifications@github.com> wrote:

[2016-12-23 02:56] lukeed commented on #621
I fully agree. Been trying not to mention this point too often, but it really is anti-pattern. Took me a solid couple days to **start** making sense of it. And I still find myself looking in the wrong places for things.

I also think packing everything into `inferno`'s core NPM package is uniquely strange.

However, all that said, I'm fairly certain (perhaps just wishful thinking) that this is for

[2016-12-23 03:59] Keats commented on #621
That is my issue as well, spent 1h yesterday on the typings branch before realising that it was a waste of time to maintain a definition file when the code is written in TS and should be generated automatically. Not having accurate/up-to-date definitions is a hard blocker for lots of people using TS I would say

[2016-12-23 04:14] stasnadol19856972 commented on #621
I'm not crazy, but people are trying to put me out like that. I graduated
from high school w a 3.4 GPA and the year I attended in college for
business e-commerce, a 3.5. I wish that if someone wanted to help me, just
come and talk to me like a regular person, because I shut every thing else
out because of how people act around me. I pray to God every day about it.

On Dec 22, 2016 10:59 PM, "Vince

[2016-12-23 04:33] xz64 opened #623 "Inferno-redux should use Redux as the global name for redux"
## Issue Template

**Observed Behaviour**

Inferno-redux is using `redux` as the global name for redux instead of `Redux`.

**Expected Current Behaviour**

Inferno-redux should use `Redux` as the global name for redux.

**Inferno Metadata**

Linux / Firefox

[2016-12-23 06:26] renjiza commented on #21
hi there can anyone help me how to use inferno js in php, i mean what must i do for make it working in php, i use inferno v1.0.0 beta 37, thanks before .

[2016-12-23 06:44] Havunen commented on #621
Repo structure was initially copied from React (https://github.com/facebook/react). I have no opinion if its good way or not.

[2016-12-23 07:51] switz commented on #616
You guys were correct, the carot was installing an old beta version and keys now work. However, this has uncovered a new bug:

[code]

With only defaultProps or only a key the code works, but with defaultProps *and* a key, I get this error: ```Uncaught TypeError: Can't add property foo, object is not extensible``` (referring to props). I inspected the error and `props` in `copyPropsTo` is definite

[2016-12-23 08:13] Havunen commented on #623
Thanks for reporting this isssue and closing it yourself 👍

[2016-12-23 08:13] #623 closed

[2016-12-23 08:23] renjiza opened #625 "Super expression must either be null or a function, not undefined"
when i trying use inferno in php

i had some problem with it
it's my html source

<!doctype html>
<html>
	<head>
		<title>Inferno Exam</title>
	</head>
	<body>
		<div id="app"></div>
		<script type="text/javascript" src="assets/js/inferno.js"></script>
    <script type="text/javascript" src="assets/js/inferno-dom.js"></script>

    <script type="text/javascript" src="assets/js/babel.min.js"></scri

[2016-12-23 10:00] trueadm commented on #486
@cia48621793 working examples of material ui?

[2016-12-23 10:21] trueadm commented on #621
Yeah, this is something we've always wanted to fix. The issue was that (and I spoke to James Kyle, who made Lerna) about this and there was no easy way to fix shared libraries with that style of monorepo. Inferno imports lots of helper functions from `shared`, this isn't a package, it's just a collection of helpers that each package can take individually.

We need to work out how we fix that and o

[2016-12-23 10:49] trueadm commented on #625
@renjiza there appears to be a few things wrong here:

- it appears you're using Inferno 0.7, you should be using 1.0 instead. `inferno-dom` is no longer a package. You can try using:
    - https://cdnjs.cloudflare.com/ajax/libs/inferno/1.0.0-beta40/inferno.min.js
    - https://cdnjs.cloudflare.com/ajax/libs/inferno/1.0.0-beta40/inferno-component.min.js
    - https://cdnjs.cloudflare.com/ajax/libs

[2016-12-23 10:50] trueadm commented on #620
@andyrj Do you have a repo anywhere that I can debug this against?

[2016-12-23 10:58] cia48621793 commented on #486
＠trueadm Actually, it's 'working', made possible by me, [here it is if you're interested](https://github.com/cia48621793/preact-material-ui-docs).

IIRC only the front page works. The menu/navigation bar isn't functional yet.

I'm really obsessed by the superior performance of InfernoJS but the lack of UI and therefore UX is my main drive to abandon Inferno, while React Bootstrap still can be the

[2016-12-23 11:03] trueadm commented on #486
@cia48621793 So you're using React Bootstrap with `preact-compat` and material UI doesn't work in Preact either?

I'm not sure what Inferno is doing totally wrong here. Unfortunately, any library that pulls in the Tap library will never work properly in either – as it has a solid hard dependency on React's synthetic events system. Inferno has its own system and Preact doesn't have one at all.

On

[2016-12-23 11:20] Keats commented on #621
Any reason that shared file can't be part of the `inferno` package or published as a `inferno-helpers` package? I have no experience in making npm packages so it might be a stupid idea

[2016-12-23 11:26] trueadm commented on #621
@Keats because `inferno` shouldn't have any dependencies or people using it as UMD in the browser will need to add `inferno-helpers.min.js` and it gets messy quickly. It's even worse for AMD users.

[2016-12-23 11:28] cia48621793 commented on #486
＠trueadm Well we should've end it here :( yep it doesn't work either. Preact vs Inferno. Just a pot calling the kettle black.
And I also guess you won't appreciate a good UI be working on such a good platform too. 'Shortsighted' people like me, that are being realistic, unfortunately, are depending on those essential 'crappy' tools you hatred.

[2016-12-23 11:38] trueadm commented on #486
@cia48621793 you've got me all wrong – I'm not saying you're shortsighted and unrealistic. I'm saying that we can easily fix/improve on these tools even if they are somewhat crappy. There are other UI kits out there that are better fits too – let me ask around for the names of those that work out of the box with Inferno :)

[2016-12-23 12:03] trueadm commented on #616
@switz so I tried this out locally and it works fine for me. What is the value for `i`?

[2016-12-23 12:31] trueadm commented on #608
Released in `beta41` :)

[2016-12-23 12:31] #608 closed

[2016-12-23 12:31] trueadm commented on #616
Please do try `beta41` and let me know if this still occurs :)

[2016-12-23 12:34] trueadm commented on #621
Actually, come to think about it – we might be able to get away with this during the Rollup bundle stage. `inferno-helpers` could be included with each bundle, as to not need a dependency. With Lerna, we'd move all the `src` files into their respect `package` folder in `packages` and have all packages shared the same version (a Lerna option) like React and Babel do.

[2016-12-23 13:43] andyrj commented on #620
beta42 cleared this up

[2016-12-23 13:43] #620 closed

[2016-12-23 14:01] trueadm opened #626 "A massive Thank You to all contributors!"
Hopefully this is everyone and I've not missed anyone!

@Havunen @LukeSheard @nightwolfz @tejacques @greenkeeperio-bot @edge @hbstone @Mosho1 @Schnueggel @Abazhenov @mstijak @longlho @wasd171 @rtsao @mciparelli @thisconnect @terinjokes @marvinhagemeister @buzinas @menberg @cvoege @craigmichaelmartin @pspeter3 @degroote22 @iclanzan @kuraga @jpdutoit @massltov @aarontam @Koleok @russelgal @formula1

[2016-12-23 14:02] trueadm commented on #626
@pvorona @vanesyan @davwards @acorncom @toastman @apkiernan @akupila @gurlinTheDark @mscdex @9Y5 @mreq @lukeed @STRML @wrabbit-revisited @mariusandra @deamme @Keats @clbn @xz64 @koglerjs @callumlocke @dmitriz @asantos00 @nilz3ro @chee @idkjs

[2016-12-23 14:03] buzinas commented on #626
Thanks @trueadm, congrats for this awesome library, and I hope you the same :)

[2016-12-23 14:05] Havunen commented on #626
**Merry Christmas and happy new year Inferno and its contributors! :)**

[2016-12-23 14:07] andyrj commented on #626
Thank you everyone for the work on inferno, amazing library.  Have a great Christmas/New Year/Holidays.

[2016-12-23 14:24] d4tocchini opened #627 "Elaborate on "Supports asynchronous rendering using `requestIdleCallback`""
When I read this feature in the summary it brought to mind a simple `setState` on `requestIdleCallback` or `requestAnimationFrame`, is there more to it to merit mention?  Shed light on the feature & usage?  Search of the repo for `requestIdleCallback` returns that lone readme mention

_Happy Holidays & a massive thank you for all the hard work that made this possible!_

[2016-12-23 14:32] trueadm commented on #627
We actually had async hydration in core yesterday, but we reverted it due to incompatibility with libraries using Inferno due to expectations of sync rendering. React Fiber uses `requestIdleCallback` and has implemented its own Stack. Preact uses the default JS stack, but has the ability to use multiple different ways of async rendering via a queue system.

Also on the note of `setState`, Inferno

[2016-12-23 14:53] a0viedo commented on #626
Thanks @trueadm! Merry Christmas and a very happy New Year :smiley:

[2016-12-23 15:16] iclanzan commented on #626
Thank you @trueadm, Merry Christmas and a prosperous New Year!

[2016-12-23 15:17] lukeed commented on #621
Yeah. Your last point wold work. Can also "embed" the helpers directly within the core inferno package (accessible as module exports) and then import those from each addl inferno package. Tree shaking would still take place.

I prefer the separate `inferno-helpers` because it'll be more distinct/declarative & documentation will be easier to find.

[2016-12-23 15:50] pspeter3 commented on #626
Thanks @trueadm! Looking forward to 1.0!

[2016-12-23 15:52] lukeed commented on #626
🎄Merry Christmas & Happy Holidays 🎉 to you & yours @trueadm and the Inferno team. Big things to come in 2017 👌

[2016-12-23 17:06] trueadm opened #628 "Post 1.0.0 roadmap"
This is a WIP:

1. Refactor the main monorepo codebase to use Lerna.
   - Move `shared.ts` functions into `inferno-helpers` as a package.
   - Move all `core`/`DOM` into the `inferno` package.
   - Move all other related `src` into their own packages along with tests.
   - There should be no `src` folder at the route, `src` should be related to.
2. Move out `inferno-redux`, `inferno-mobx`, `infern

[2016-12-23 19:03] akx commented on #626
Thank you @trueadm! Happy holidays & new year to everyone involved! 🎉 ❤️

[2016-12-23 19:59] tejacques commented on #626
@trueadm here here! Couldn't be happier with the success of the project! Hope you have a great Christmas/Holiday Season/New Year as well.

[2016-12-23 20:03] aarontam commented on #626
Merry 🎄 ☃️ @trueadm and everyone involved with Inferno 🔥!

[2016-12-23 20:58] metainfa opened #629 "server rendering + linkEvent = errors"
Inferno lastest version `1.0.0-beta42`

I am doing server rendering,  using into `app.jsx` `linkEvent` and get errors (into browser `http://localhost:5000/`)
[code]

index.js
[code]

app.jsx
[code]

If i remove  `onClick={ linkEvent(this, handleClick) }` from `input`  then code is working

[Test repo on github](https://github.com/metainfa/inferno-linkevent-error-test)

[2016-12-23 21:09] lukeed commented on #629
Thanks for packaging up a repo! makes it 10x easier to diagnose.

I'll take a look into this~

[2016-12-23 21:19] trueadm commented on #404
@formula1 have you had more time to look at this?

[2016-12-23 21:19] trueadm commented on #465
@nightwolfz can we get this all tidied up and ready for 1.0?

[2016-12-23 21:20] trueadm commented on #592
Let's push this back to post 1.0.0 release when we fix the monorepo! Will be much easier then!

[2016-12-23 21:20] #592 closed

[2016-12-23 21:21] trueadm commented on #573
I believe this is resolved in the later versions of beta.

[2016-12-23 21:21] #573 closed

[2016-12-23 21:21] #616 closed

[2016-12-23 21:21] trueadm commented on #609
As per the other thread, let's focus on this post 1.0.0.

[2016-12-23 21:21] #609 closed

[2016-12-23 21:21] lukeed commented on #629
Hey @metainfa, so it's actually quite simple. Lot of people having this issue right now, so you're not alone.

Because your `package.json` is declaring `^1.0.0-beta42`, an improper version is being resolved. So you're not actually getting `linkEvent`.

To get around this, you can specify `beta42` directly. (I do this.) Your `package.json` would look like this:

[code]

After making those changes,

[2016-12-23 21:21] #629 closed

[2016-12-23 21:22] trueadm commented on #543
@nyrosmith the best way to get involved is joining Slack. Closing this now as it's quite out of date.

[2016-12-23 21:22] #543 closed

[2016-12-23 21:22] trueadm commented on #356
@nojvek Inferno no longer uses blueprints. Inferno and React use almost identical methods now.

[2016-12-23 21:22] #356 closed

[2016-12-23 21:23] trueadm commented on #383
@LukeSheard this still needs a refine when you have time.

[2016-12-23 21:23] trueadm commented on #369
The new docs site should fix all these issues. :)

[2016-12-23 21:23] #369 closed

[2016-12-23 21:23] trueadm commented on #377
Let's revisit this post 1.0.

[2016-12-23 21:24] #384 closed

[2016-12-23 21:24] #389 closed

[2016-12-23 21:24] #390 closed

[2016-12-23 21:24] trueadm commented on #392
There are no plans for the core Inferno team to support Relay. It's going to have to be a third-party package.

[2016-12-23 21:24] #392 closed

[2016-12-23 21:25] trueadm commented on #501
We can add this to the post 1.0 roadmap. @Havunen @lukeed mind adding please?

[2016-12-23 21:25] trueadm commented on #521
Let's add this to the 1.0 post roadmap @Havunen @nightwolfz @lukeed @LukeSheard

[2016-12-23 21:25] #521 closed

[2016-12-23 21:26] trueadm commented on #604
We can look into this post 1.0. So let's add to roadmap @Havunen @nightwolfz @lukeed @LukeSheard

[2016-12-23 21:26] #604 closed

[2016-12-23 21:28] trueadm commented on #621
Already on the roadmap for post 1.0 :)

[2016-12-23 21:28] #621 closed

[2016-12-23 21:28] #627 closed

[2016-12-23 21:28] trueadm commented on #529
Let's also add this to roadmap. @lukeed @LukeSheard @Havunen @nightwolfz

[2016-12-23 21:28] #529 closed

[2016-12-23 21:29] trueadm commented on #625
I don't believe this is an issue with Inferno though. If you want more help, I'd recommend coming tot he Inferno Slack: https://inferno-slack.herokuapp.com/

[2016-12-23 21:29] #625 closed

[2016-12-23 21:29] trueadm commented on #377
Add to roadmap @lukeed

[2016-12-23 21:30] trueadm commented on #386
This has improved a lot.

[2016-12-23 21:30] #386 closed

[2016-12-24 00:31] LukeSheard commented on #383
@trueadm I'm going to do a proper typings and README comb this weekend now that test utils is done.

[2016-12-24 00:33] LukeSheard commented on #548
Anything in a `__benchmarks__` will now be run as a benchmark and run through `npm run test:bench`

[2016-12-24 10:02] Havunen commented on #486
Hey

I was looking for this same thing, getting material-ui working with Inferno. I think I could make fork of their upcoming version "next" and port it to Inferno without need of Inferno-compat etc.

I will start working on this tomorrow.

[2016-12-24 12:58] metainfa opened #630 "linkEvent + onInput, onChange = errors"
## Issue Template
Inferno 1.0.0-beta42
Node v7.2.1
Chromium 55.0.2883.87
Ubuntu 16.04 (64-bit)

app.jsx
[code]

failed with error
[code]
 if i remove  from `input` element code  `onInput={linkEvent(this, handleOnInput)} ` then all work OK

I created for testing identical repos:
- [webpack](https://github.com/metainfa/inferno-linkevent-error-client-webpack)
- [rollup](https://github.com/metainfa/in

[2016-12-24 14:17] mariusandra commented on #626
Merry Christmas to all of you! Onward to great things in 2017! 🎆 🎉 🎄

[2016-12-24 16:35] Havunen commented on #630
Hey,

Thanks for reporting this issue. I will look into it tomorrow.

[2016-12-24 17:25] mciparelli commented on #626
Thank you @trueadm for such amazing library. Merry Christmas to everybody!

[2016-12-24 19:02] lukeed commented on #630
I'll be at a computer in 30 to 45min

[2016-12-24 19:05] degroote22 opened #632 "dbmonster benchmark crashing"
It also logs
[code]

[2016-12-24 21:10] lukeed commented on #630
@Havunen @trueadm I can confirm: `onInput` is not working in `beta42`. Upgraded the TodoMVC example to verify, in addition to @metainfa's repos.

[2016-12-24 22:15] Vpr99 opened #634 "Best method for rendering components to a string /snapshot testing?"
Hi all,

First, thank you for all the hard work that you're doing on Inferno! We just deployed our first Inferno app to production at work yesterday and it's 🔥! Gonna start migrating the rest after the holidays.

One question I did have though is about the best method for rendering a component to a string. In React, I was using Jest's snapshot functionality for resting my UI components and I'd lik

[2016-12-24 22:17] lukeed commented on #634
Hey! Happy Holidays 🎄

I'm not sure if it's "the best" (someone will correct me if it isn't) but there's a method _called_ `renderToString` within the [`inferno-server`](https://github.com/trueadm/inferno/tree/master/packages/inferno-server) package. Maybe that's what you're looking for?

[2016-12-24 22:27] LukeSheard commented on #634
Hey, as you've discovered we haven't implemented ShallowRender yet (feel free to submit a PR). There is discussion of extending enzyme to different render functions as well though. 

For now you can enquire the state of the `DOM` by calling render and inspecting the tree. This will require a DOM to run though.

Any further questions let me know. 

On Sat, 24 Dec 2016 at 22:17 Luke Edwards

<
mailt

[2016-12-24 23:09] trueadm commented on #630
@metainfa so the issue here is that you can only use `onInput` and `linkEvent` on controlled components (where you control the `value` property). I need to better update the documentation on this.

[2016-12-24 23:15] trueadm commented on #630
@metainfa if you pass in `value` and control it manually from props or state, you can use `linkEvent` without issues :)

In the future we want to open up `linkEvent` to uncontrolled components, i.e: `<input>`, `<textarea>`, `<select>` too.

[2016-12-24 23:18] #632 closed

[2016-12-24 23:31] lukeed commented on #630
@trueadm when did this change? I used to use `linkEvent` with input elements' `onInput` handler. And I only passed in a context and a callback, as done here.

Similarly, I can still do:

[code]

without any issues.

[2016-12-24 23:34] trueadm commented on #630
@lukeed as per the updated README, `onKeyDown` is treated by controlled components – only `onInput` and `onChange`.

[2016-12-25 03:08] degroote22 commented on #544
[Pigeon](https://github.com/mariusandra/pigeon-maps) was ported to Inferno. I believe it will be on the main branch tomorrow. We should definitively do a Maps-Inferno thing, performance is a beast on that thing!

[2016-12-25 03:33] degroote22 commented on #531
I'm trying to use styled-components with inferno-compat and I can't get the ThemeProvider to work...
I keep gettins this error
[code]
@maxguzenski how did you make it work?

[2016-12-25 05:21] degroote22 opened #635 "cloneVNode + patchComponent bug (inferno-compat)"
**Observed Behaviour**

It's been kinda hard to debug this one as I haven't been able to reproduce outside my main project.
But I went through the source-code and realized that[ cloneVNode may return an object that has no children property](https://github.com/trueadm/inferno/blob/master/src/core/VNodes.ts#L139). Later, [patchComponent will try to access the children property](https://github.com/tr

[2016-12-25 06:36] metainfa commented on #630
Thanks everyone for attention. I assumed that it is not a bug, but React don't have analog, therefore i look up Inferno README.

[2016-12-25 08:08] trueadm commented on #635
@degroote22 I believe we just need to refine the logic in `cloneVNode` and how it deals with children better. Given it's Christmas here, I'll try and get on this later tonight if that's okay ;)

[2016-12-25 08:09] trueadm commented on #531
@degroote22 have you got an example repo where you can show this failing? I believe quite a few people use styled-components with `inferno-compat` fine. I also believe Inferno will be getting native `styled-component` support soon too.

[2016-12-25 14:38] chee commented on #626
aww lol i only fixed a link <3

[2016-12-25 19:34] maxguzenski commented on #531
I never tried theme from styled-components with inferno...

[2016-12-25 21:06] degroote22 commented on #531
I'll try to make one, @trueadm

[2016-12-25 23:24] degroote22 commented on #531
@trueadm, here it is.
https://github.com/degroote22/themeprovider-infernobug

What did I do?

- create-inferno-app myapp

- npm install --save styled-components inferno-compat

- npm run eject

- add aliasing

[code]

- Add the ThemeProvider with any theme.

[code]

What is going on here is that on Inferno [getChildContext](https://github.com/styled-components/styled-components/blob/master/src/mod

[2016-12-26 01:36] renjiza commented on #625
thanks you for answer, i'll contact u on Slack.

[2016-12-26 02:45] ddibiase commented on #383
@lukeed just nudging this one as a reminder. Once they're done, have to make sure the site is updated with the modified README.

[2016-12-26 02:46] ddibiase commented on #404
Should we close this out and put it on a post-1.0 milestone list?

[2016-12-26 02:50] ddibiase commented on #544
@degroote22 wow, looks great. As an example it might be a bit heavy, but we may want to consider a case study section to house Inferno uses in userland. Would you be willing to contribute a short write-up on how Inferno helped with the project?

For anyone else not interested in creating an actual example, a write-up + demo we can host on our site to pair along with the copy would be pretty neat.

[2016-12-26 02:52] ddibiase commented on #628
4. Updated SSR in inferno-server + library could use some minor clean-up

[2016-12-26 02:53] ddibiase commented on #591
@Alxandr just following up on this issue, wondering if you had a chance to dive into this at all?

[2016-12-26 03:15] durango commented on #591
If this gets dropped by the time I return home from the holidays I'll pick it up, but that'll be a few days

[2016-12-26 03:17] durango commented on #626
Late to the show, but Merry Christmas everyone and a happy new year 🎊

[2016-12-26 04:26] degroote22 commented on #544
@ddibiase I can do whatever is better for the project, but I didn't get what you wanted me to do, I guess.
I can do a write-up on the performance of the maps under Inferno, if that's the case...

[2016-12-26 06:35] Koleok commented on #626
Thanks for all the fearless improvement you real collaborators :)

[2016-12-26 08:57] trueadm commented on #531
@degroote22 we could move `getChildContext` to happen after `componentWillMount`?

[2016-12-26 10:27] Alxandr commented on #591
@ddibiase, @durango most of it's already done. All the code is ported except for tests. I've had some problems with tests (most of it discussed on slack) but I think that has been resolved by now. Problem is that it's christmas and I have a bunch of family parties to attend, but I try to get in time to work on it whenever I can.

[2016-12-26 11:47] Havunen commented on #465
missing functionality:

context with isActive:

    const router = this.context.router;
    const styles = this.getStyles();
    const title =
      router.isActive('/get-started') ? 'Get Started' :
      router.isActive('/customization') ? 'Customization' :
      router.isActive('/components') ? 'Components' :
      router.isActive('/discover-more') ? 'Discover More' : '';

[2016-12-26 12:41] olsn opened #637 "Issue with children (react-resizable + inferno-compat), solution-suggestion included"
I have the following issue with using [react-resizable](https://github.com/STRML/react-resizable/) through inferno-compat, the content of resizable containers will not be rendered (with using react this works)
I have narrowed the issue down and got it to work for me locally, however I started just last week with react and inferno (was pure angular before) so I don't really feel like I'm in the pos

[2016-12-26 12:44] olsn commented on #637
Okay, I just saw this PR: https://github.com/infernojs/inferno/pull/636 and it might be already closed by that - will verify in a minute.

[2016-12-26 15:27] godu opened #639 "Adds <optgroup/> support"
**Observed Behaviour**

`value` props isn't set properly when its wrapped in `<optgroup/>`.

- Component
[code]
- output html
[code]
https://jsfiddle.net/rc36amff/1/

**Expected Current Behaviour**

Inferno should render `value` props properly.
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/optgroup

**Inferno Metadata**

Inferno master&dev

[2016-12-26 15:55] degroote22 commented on #531
@trueadm I'll have to take a look into that as I have no idea on what getChildContext does. Anyways, creating another themeProvider wouldn't be so dfficult but I was hoping to have it working out of the box

[2016-12-26 17:21] durango commented on #591
@Alxandr that sounds awesome, and thank you for taking the time in doing the work :+1: Family comes first, we can wait, just don't forget about us ;)

[2016-12-26 20:04] trueadm commented on #637
@olsn this actually is something I've noticed too. Can you make a PR for this with your solution, it looks fine on my end. Thank you for the help!

[2016-12-26 20:27] mariusandra commented on #544
Hey, author of pigeon-maps here :).

@ddibiase I think pigeon-maps would be an interesting performance case study. Comparing the [react version](https://mariusandra.github.io/pigeon-maps/) and [inferno version](https://mariusandra.github.io/pigeon-maps/inferno/) that @degroote22 helped build, you can clearly see how much faster Inferno is.

The react version (with a 5x slowdown) in Chrome Timeline

[2016-12-26 23:07] #637 closed

[2016-12-26 23:08] trueadm commented on #637
On second thoughts, this should live within `inferno-compat` directly, as it adds overhead to VNodes that do not have `props`. Let me look into this.

[2016-12-26 23:10] olsn commented on #637
That's why I guessed and ment with _"I don't really feel like I'm in the position of being able to judge if this is a viable fix"_ 😄

[2016-12-26 23:12] trueadm commented on #637
@olsn I've pushed a change to `inferno-compat`, can you try this out locally please?

[2016-12-26 23:13] trueadm commented on #637
Use this locally in your `node_modules/inferno/dist/*`:

- https://raw.githubusercontent.com/infernojs/inferno/dev/packages/inferno/dist/inferno-compat.js
- https://raw.githubusercontent.com/infernojs/inferno/dev/packages/inferno/dist/inferno.js

[2016-12-26 23:28] olsn commented on #637
Yes that wors 👍
I had to fix 2 things though:

- inferno-compat.js:707: `option.createVNode` -> `inferno.options.createVNode`
- inferno-compat.js:709:
[code]

[2016-12-26 23:33] trueadm commented on #637
@olsn Thanks for that – I've fixed (hopefully) and re-pushed if you can confirm all is well on your side :)

[2016-12-26 23:35] olsn commented on #637
Awesome, that works :)

[2016-12-27 12:56] #639 closed

[2016-12-27 14:55] trueadm commented on #630
Can we retry this with `beta43` please?

[2016-12-27 15:19] metainfa commented on #630
I retry with inferno `beta43` now is working.

[2016-12-27 16:09] trueadm commented on #630
Awesome, closing this for now then.

[2016-12-27 16:09] #630 closed

[2016-12-27 16:10] trueadm commented on #635
Is this all good now in `beta43`?

[2016-12-27 16:14] degroote22 commented on #635
I'll give it a shot, @trueadm

[2016-12-27 16:47] degroote22 commented on #635
I'm having the same issue as before but now the stack trace is a little bit better.
Reproducing it minimally is proving to be quite hard so I'll make a clone of my project and strip unrelated parts out of it and upload it here.
Anyway, [here it is happening live - it's not minified](https://promocaes.firebaseapp.com/busca/-19.5815631/-42.647519999999986)
Dont mind it being in Portuguese, all you h

[2016-12-27 18:43] gavindoughtie opened #644 "Controlled Components Docs not formatted"
Look at the Controlled Components section of the readme. Somewhere the HTML quoting is out of sync and the section is not really readable. It's probably a missing "\" someplace...

[2016-12-27 19:12] trueadm commented on #644
Fixed thanks!

[2016-12-27 19:12] #644 closed

[2016-12-28 01:56] andyrj opened #646 "Nested component with synthetic onClick event, silently fails to call user supplied event handlers"
**Observed Behaviour**

Inferno is failing to call my event handlers given to synthetic onClick handler, when the component is nested more deeply than another instance...  Changing to onclick, fixes issue, but this appears to be a bug as the same component with the same props, within another component that is not as deeply nested triggers the event handler just fine.

Bug can be reproduced at the

[2016-12-28 02:07] lukeed commented on #646
Perhaps you _should_ stick with `onclick`? I see that that's what's used within `inferno-router`'s `Link` component ([here](https://github.com/infernojs/inferno/blob/def0408ad92e68a859283d4026c7a25f97c9476e/src/router/Link.ts#L31-L42))

[2016-12-28 02:10] lukeed commented on #646
This is because `onclick` naturally occurs before the `href` is accessed. The `onClick` delegation would run after both of these.

[2016-12-28 03:30] andyrj commented on #646
I plan to use onclick for the time being.  I just didn't expect where the component is placed in the dom to cause onClick to behave differently.  Is there some rule I should follow as to when it is not ok to use the synthetic events?

[2016-12-28 06:28] andyrj commented on #646
also to clarify, I didn't define both onclick and onClick at the same time or anything strange like that

[2016-12-28 10:24] trueadm commented on #646
`onClick` delegates from the document body, whilst `onclick` is attached directly on the element itself. I'm unsure how can make the `onClick` delegate properly in such cases to be honest – it's probably an edge case that we have to deal with. We need to do an investigation on this it seems.

[2016-12-28 15:05] andyrj commented on #646
ok so it's using the event bubbling and attaching a single listener on the body for the synthetic event.  So I know there are ways that can be interferred with via javascript so that it won't bubble could it be material-components-web/drawer interferring with that click event propagation?

I wasn't sure what optimizations were involved on the synthetic events thanks for clarifying.  I am going to

[2016-12-28 18:35] andyrj commented on #646
here is a simple fiddle that shows, event delegation without inferno but using all of the same code to setup the material-component-web temporary drawer...  https://jsfiddle.net/andyrj/bxjjknzn/15/

it appears to work, when clicking the inbox or star links within the drawer, the event delegation triggers the alert('1') as expected.

I believe this is enough to show that the material-components-web

[2016-12-28 18:58] lukeed commented on #646
@andyrj This is still hooking into the native event listeners. Doing `el.addEventListener('click')` is the same as `el.onclick =`. The `onclick` handler itself (appearing in either form) still manifests before the `href` is picked up.

You can see this by changing `<button id='delegateTest'>Test</button>` to `<a href="//google.com" id="delegateTest">Test</a>`. The alert will popup before navigatin

[2016-12-28 21:26] andyrj commented on #646
@lukeed, My jsfiddle was just to show that material-components-web was not the source of the issue...  I do have preventDefault in my example branch...

I still don't see why the RouterLink in the body of the page will work with onClick as expected, but the exact same RouterLink inside of side menu does not...  as verification, if you run the code in that branch, the preventDefault will run for th

[2016-12-28 21:27] andyrj commented on #646
I will make another jsfiddle with inferno@beta44 to reproduce the issue more clearly

[2016-12-28 22:14] andyrj commented on #646
I apologize I just realized I didn't send you the full jsfiddle on that last one, it was missing changes I forgot to save lol...  woops

[2016-12-28 22:27] andyrj commented on #646
sorry for the noise...

[2016-12-28 22:27] #646 closed

[2016-12-28 22:49] lukeed commented on #646
It's ok :)

No one was saying that the material components were affecting anything. Because they're not.

Your fiddle(s) still are purely native DOM behavior, that's why it works.

When you click on `a#test` (was `button#test`), the `onclick` handler (which is the same as `addEventListener('click')` is called first. In your case, the element does not have a handler attached correctly, so the `even

[2016-12-28 23:18] andyrj commented on #646
I do think that MDC is preventing the click event propagation in my last fiddle :)  but I'll let dead logs lie here, sorry for going off-topic and what not...

I don't want onClick to change behaviour or override onclick, I was just confused as to why it was working differently in different parts of my dom.

[2016-12-29 12:53] edli opened #648 "props contains ref when using inferno-compat"
Hello!

I tried to migrate my React project to inferno-compat@beta44 (as a first step of rewriting to inferno) and faced a problem. Not sure if bug or feature.

When using refs, React doesn't pass them to child components.
But inferno-compat does it (props object includes ref property).
We can invoke it by hand or pass it down to some child component or DOM node.
When using jsx spread it happens s

[2016-12-29 15:28] trueadm commented on #648
Nice one, we should totally remove the `ref` prop if found.

The code to change is in this function on this file: https://github.com/infernojs/inferno/blob/dev/src/core/normalization.ts#L91

We simply need to `delete props.ref` in this instance. We should also do this for `key` too. Is this something you can help with a PR for?

[2016-12-29 17:10] degroote22 commented on #635
i believe it was related to fast unmount optimization, right? isnt this closed then? thanks

[2016-12-29 17:25] Havunen commented on #635
@degroote22 I'm still getting that error by opening you link and clicking any of the items on the right hand side. Can you please update website to beta44 ?

[2016-12-29 17:27] 9Y5 opened #649 "Webpack Production Build"
## Webpack Production Build

**Observed Behaviour**

I have defined `NODE_ENV` to `production` using `webpack.DefinePlugin` as suggested [here](https://github.com/infernojs/inferno#webpack). However, I am still getting this warning:
`It looks like you're using a minified copy of the development build of Inferno. When deploying Inferno apps to production, make sure to use the production build which

[2016-12-29 17:33] trueadm commented on #649
@9Y5 can you try with Inferno `beta44` please?

[2016-12-29 17:43] dfleury opened #650 "Inferno isn't entering on production mode when bundling with webpack 2."
**Observed Behaviour**

Inferno isn't entering on production mode when bundling with webpack 2.
It's defining a constant called process [here](https://github.com/infernojs/inferno/blob/master/src/shared.ts#L89).
When it's placed in the bundled file, the result is like below:
[code]
The problem is that `process` is being defined by the "users" code, preventing webpack.DefinePlugin, babel plugin tra

[2016-12-29 18:12] lukeed commented on #650
I believe it still should be. Perhaps related: https://github.com/webpack/webpack/issues/868

You may also want to try [`EnvironmentPlugin`](https://github.com/webpack/docs/wiki/list-of-plugins#environmentplugin) which is a more direct way to tunnel through your _true_ `process` variables into your bundles & access them there:

[code]

[2016-12-29 18:14] lukeed commented on #648
@trueadm Shouldn't `ref` be kept if we find that it's a function? Perhaps user started porting modules that were accessible.

[2016-12-29 18:38] Havunen commented on #649
Seems to be related to https://github.com/infernojs/inferno/issues/649

[2016-12-29 18:41] 9Y5 commented on #649
hi @trueadm sure, I'm still facing this issue with `beta44`.

If it helps, I downloaded `react@^15.4.1` and was trying to throw an error:

**Without** defining `webpack.DefinePlugin` to `production`:
<img width="939" alt="screen shot 2016-12-30 at 2 32 54 am" src="https://cloud.githubusercontent.com/assets/1814687/21550948/a3389fea-ce38-11e6-8343-120d0492d9fb.png">

**With** `webpack.DefinePlugin`

[2016-12-29 18:46] Havunen commented on #649
This is indeed bug happening in beta44

[2016-12-29 18:48] lukeed commented on #649
@9Y5 Can you try using `EnvironmentPlugin` instead of `DefinePlugin`?

[code]

[2016-12-29 18:50] trueadm commented on #649
This is indeed a replica of #650 then.

[2016-12-29 18:50] Havunen commented on #649
I'm having same issue, it was working fine in beta36 at least. I remember there was some process.env changes recently. Just tested that `dev` is also affected

[2016-12-29 18:51] trueadm commented on #649
@Havunen does @lukeed's suggestion fix it?

[2016-12-29 18:55] 9Y5 commented on #649
I get the same errors as the second image -- minified react error, etc.

[2016-12-29 18:56] Havunen commented on #649
No, didn't help. I tried both these. no luck.

[code]

[2016-12-29 18:58] trueadm commented on #649
I think we'll have to ship a browser specific `dev` version then and not try and unify them.

[2016-12-29 18:59] lukeed commented on #649
@trueadm Then the `process.env` changes in 468c87e07f552050640dc34d50ee1a83923e35e3 should be reverted to a static `process.env.NODE_ENV` so that the string can be replaced in non-node environments with Rollup/Webpack.

[2016-12-29 19:00] trueadm commented on #649
Rather than revert the commit (as the README.md changes still should apply). We can simply revert the code changes and change the build browser specific bundles.

[2016-12-29 19:01] lukeed commented on #649
Yeah; but the "browser bundles" should just be a build wherein `process.env.NODE_ENV` has already been replaced.

[2016-12-29 19:03] lukeed commented on #650
Closing as this is a duplicate os #649. Please feel free to follow the status there :)

[2016-12-29 19:03] #650 closed

[2016-12-30 07:38] edli commented on #648
I think there is a mistake in 23fae9f3a53a4366ecdcd3d97e2a6efe50fc8992
Aren't we just losing ref and key?
My ref functions aren't invoked at all:
![image](https://cloud.githubusercontent.com/assets/12293945/21561198/56a0b2ca-ce7a-11e6-9c58-5175adb60912.png)

I think fix should be implemented [this](https://github.com/infernojs/inferno/pull/653) way.

[2016-12-30 16:16] Havunen commented on #649
this is fixed. closing.

[2016-12-30 16:16] #649 closed

[2016-12-30 16:17] Havunen commented on #648
Your pull request was merged, this should be done. Closing

[2016-12-30 16:17] #648 closed

[2016-12-30 23:32] olsn opened #654 "componentToDOMNodeMap is empty in 1.0.3 (works in 1.0.2)"
**Observed Behaviour**
`findDOMNode` is not returning any dom-node for the requested component.

After updating from `1.0.2` to `1.0.3` the `findDOMNode` from [here](https://github.com/infernojs/inferno/blob/7f8f923b0f93094375180eb65789e634c9f256bd/src/DOM/rendering.ts#L42) did not work any more because the `componentToDOMNodeMap` seems to be empty now - my own components still work, but I'm using

[2016-12-31 00:18] lukeed commented on #654
Hey @olsn, any chance you can throw together a repo or fiddle to illustrate this? You can use [this](https://jsfiddle.net/r9g44v7m/) as a starter. Makes it much easier to pinpoint :)

[2016-12-31 02:45] 9Y5 commented on #649
Thanks for the fix!

[2016-12-31 12:13] Havunen commented on #654
Hey,

Can you make sure you have `findDOMNodeEnabled` true.

[2016-12-31 12:15] trueadm commented on #654
Just to note, this is done off options now:

https://github.com/infernojs/inferno#options-package-inferno

`Inferno.options.findDOMNodeEnabled = true`

[2016-12-31 13:10] olsn commented on #654
It did not thow an error that is has to be turned on, but I will verify it in a minute - regarding the code - I can push the whole snapshot to a public github repo later.

[2016-12-31 14:09] trueadm commented on #383
We can probably take a lot of the content from the new website and put them into the READMEs.

[2016-12-31 14:11] trueadm commented on #654
Seems like a regression then. Once we can see your repo, we can squash this bug before releasing `1.0.4` @Havunen

[2016-12-31 14:18] olsn commented on #654
I've pushed it here: https://github.com/olsn/infero-compat-issue
My current `package.json` contains `1.0.3` but when you downgrade to `1.0.2` the dragging-/resizing-features from `react-grid-layout` will work just fine.

Is there an _easy_ way to use `inferno-compat` in an jsfiddle? Then I could maybe publish a fiddle next time, it might be easier to check for a bug in a live version directly.

[2017-01-02 06:54] Vpr99 opened #658 "connect() in inferno-redux with inferno-component broken in 1.0.3 (Works in 1.0.2)"
Happy new year guys! Just wanted to bring up something I came across in doing a version bump of inferno to the latest in my project. It appears as though `connect()` in `inferno-redux@1.0.3` isn't working, while it's fine in `1.0.2`. Is there anything that could have impacted this?

**Observed Behavior:**

After upgrading to 1.0.3, no props are being provided to to the `inferno-component`. Console

[2017-01-02 10:19] deamme commented on #658
This works for me:
[code]
Versions of relevant packages:
[code]

[2017-01-02 13:17] degroote22 commented on #635
i'm travelling right now. will do when i'm back. happy 2017

[2017-01-02 13:23] degroote22 commented on #658
update all inferno related stuff to the same version. I had this issue when I had inferno-component on a different version than inferno. you seem to have the wrong version of inferno-create-class

[2017-01-02 16:58] Vpr99 commented on #658
@degroote22 no dice on updating all versions, unfortunately. Though having a mismatched version of some between 1.0.2 and 1.0.3 breaks stuff. Still having the same issue. Here's the current versions:

[code]

@deamme I tried simplifying your example to just using `mapStateToProps` and not worrying about the dispatch. Unfortunately this still isn't working for me either.

Next, I tried refactoring

[2017-01-02 17:25] Havunen commented on #658
I'm working on updating inferno-motion it has references to beta versions, need to go through all inferno packages.

[2017-01-02 18:10] Vpr99 commented on #658
@Havunen that shouldn't impact this component, though right, since It's not being called here? (Pardon my naïveté, since I don't really understand how all the inferno packages work together!)

Thanks for all your help guys :)

[2017-01-02 18:32] Havunen commented on #658
can you try removing it and re install npm packages?

[2017-01-02 18:34] SuhairZain opened #659 "inferno-component size larger than inferno itself"
Hi,
I'm working on a simple personal SPA using React which I then ported to Inferno. The file size savings are HUGE, even though I haven't run any benchmarks for performance yet. The webpack bundle file size for non-gzipped React vs Inferno is ~140KB to ~28KB respectively. The problem is when I had to use an ES6 Component to create a stateful component. I imported the inferno-component package and

[2017-01-02 18:38] Havunen commented on #659
Inferno-component is 4.1kb minified. non gzip  so something is definetly wrong there.

[2017-01-02 18:47] lukeed commented on #659
@SuhairZain You're importing `Inferno` twice.

2 x 28kb + 4kb = 60kb

[2017-01-02 18:58] Havunen commented on #635
ok! 1.0.4 now latest btw

[2017-01-03 03:37] SuhairZain commented on #659
@lukeed

The ~28KB size was for inferno + app code. I don't think duplicate import is the issue though, check the following:

This one comes at **23.8KB** (Minimal example, no inferno-component)
[code]

Just added an import for inferno-component (No usage, no app code), comes at **53.2KB**
[code]

I think this code is easily reproducible. Can anyone try and see? I shall include my package.json and

[2017-01-03 03:40] lukeed commented on #659
Yes, you are correct. Throughout the day I discovered this issue as well.

Currently investigating. Thanks~

[2017-01-03 03:42] SuhairZain commented on #659
@Havunen @lukeed
Super-fast response as well. Good work, people. Let me know if I can be of any help. 👍

[2017-01-03 04:04] lukeed commented on #659
@SuhairZain 😄 No difference with Rollup. Others are experiencing the same issue across multiple bundlers.

[2017-01-03 05:02] Vpr99 commented on #658
@Havunen deleted `node_modules`, cleared yarn cache and reinstalled all dependencies. Currently using:

[code]

Still nothing. Sorry to be such a pain in the neck. Is there anything I can do to help diagnose? I suppose I can try refactoring or staying with 1.0.2 for the time being.

[2017-01-03 05:28] lukeed commented on #658
Hey @Vpr99, any chance you could hop into the Slack real quick? I'm applying a fix & curious to see if it helps your issue.

[2017-01-03 10:17] magnus-bergman opened #661 "Inferno-redux problem when dispatching from componentDidMount."
First of all, thanks for an awesome framework!

**Observed Behaviour**

I noticed something weird after upgrading from the beta versions to 1.0.4. When mounting a component due to a change in props from a dispatched action and then calling a new dispatch in the the newly mounted components componentDidMount hook there seems to be some kind of race condition. The second dispatch doesn't trigger exp

[2017-01-03 10:20] trueadm commented on #661
@magnus-bergman what beta version did you upgrade from?

[2017-01-03 10:21] magnus-bergman commented on #661
@trueadm beta36

[2017-01-03 10:24] trueadm commented on #661
@magnus-bergman we made `setState` (something Redux uses) to always be async, I wonder if this could be having this affect. To rule something else out, can you please try 1.0.2 and see if you have the same issue there? Thank you.

[2017-01-03 10:30] magnus-bergman commented on #661
@trueadm experiencing the same issue using 1.0.2, also tried 1.0.0-beta45 with the same problem. But reverting back to 1.0.0-beta36 works.

[2017-01-03 10:35] magnus-bergman commented on #661
@trueadm tested all beta versions from 36 and up now, and it seems like the issue is occurring between 43 and 44.

[2017-01-03 10:37] trueadm commented on #661
That was when the `setState` change was made. I'll look more into this today. Do you have a repo I can test against?

[2017-01-03 10:43] magnus-bergman commented on #661
I'll see if I can replicate the issue in a isolated repo, just have to deal with another issue first. The project I'm working on is hosted on a private gitlab.

[2017-01-03 10:47] trueadm commented on #661
@magnus-bergman if you can come to our Slack, that would be awesome as I and others can help you in more detail there https://inferno-slack.herokuapp.com/

[2017-01-03 11:08] trueadm commented on #661
@Havunen actually, this looks like it might be a `fastUnmount` issue. The `setState` changes came quite a bit later.

@magnus-bergman if you open your `node_modules/inferno/dist/inferno.node.js` file and replace all `!lifecycle.fastUnmount` instances with `true` to see if that fixes your issue (it's a hack, but allows us to see if this is the right area to look into).

[2017-01-03 14:24] Vpr99 commented on #658
It actually looks like @lukeed's fix in `1.0.5` fixed it. Everything seems to be happily up and running again. Thanks for all the help folks!

[2017-01-03 14:24] #658 closed

[2017-01-03 14:26] trueadm commented on #658
No problem! Happy to help :)

[2017-01-03 14:29] magnus-bergman commented on #661
Closing as this has been solved in 1.0.5. Thanks for the awesome support!

[2017-01-03 14:29] #661 closed

[2017-01-03 16:53] dfleury commented on #649
@9Y5 Did it work to you? I'm still getting the message on both, server and client sides

[2017-01-03 16:53] trueadm commented on #649
@dfleury with 1.0.5?

[2017-01-03 16:56] dfleury commented on #649
@trueadm No, 1.0.4
I've just tested the 1.0.5 and the message was gone and the bundle is smaller now.
Thanks!

[2017-01-03 17:23] Havunen commented on #565
Hey,

How is it possible to normalise following compilation time:

[code]

we don't know what getMoreNodes will return compile time. However can we detect such a cases? Because what we could do is skip normalisation if DOM tree doesn't have anything to normalise.

[2017-01-03 21:42] Vpr99 commented on #634
Thanks guys. Testing kinda got backburnered there for a bit, but here's the best I could come up with. Seems to work well enough with Jest, though it would be nice to have a _true_ shallow renderer so you're only testing a component's immediate children and not getting all the subcomponents rendered.

Here's what I ended up doing:

[code]

[2017-01-03 21:42] #634 closed

[2017-01-04 11:46] trueadm commented on #659
This was fixed in 1.0.5, you should use 1.0.6 though! :)

[2017-01-04 11:47] trueadm commented on #654
This should be fixed in the latest version 1.0.6

[2017-01-04 12:40] thiamsantos opened #662 "PropTypes"
It's planned to add support for [typechecking with proptypes](https://facebook.github.io/react/docs/typechecking-with-proptypes.html) just like React does?

[2017-01-04 12:42] trueadm commented on #662
@thiamsantos It's not on the roadmap.

Personally, I see far more value in use TypeScript/Flow for these cases (already do this for the React apps I've built). Is this something you've explored at all?

[2017-01-04 12:51] thiamsantos commented on #662
@trueadm thanks for the quick answer.
I can't see much value on this feature either. I just asked to know what are the plans.

[2017-01-04 13:06] #659 closed

[2017-01-04 16:37] Havunen commented on #654
This should be fixed. Closing ticket. Reopen if you still experience issue with this.

[2017-01-04 16:37] #654 closed

[2017-01-04 18:24] alastaircoote opened #665 "render() does not remove existing children from target node"
## Issue Template

According to the [docs](https://beta.infernojs.org/docs/api/inferno), `Inferno.render()` should replace any existing content in the target node.

**Observed Behaviour**

Inferno instead prepends the new content into the target node. As seen here:

https://jsfiddle.net/2ecLw94a/

**Expected Current Behaviour**

According to the docs, it should replace, not prepend. I know the doc

[2017-01-04 19:04] Havunen commented on #665
This is indeed what would happen if content would have been created by inferno.

[2017-01-04 19:06] Havunen commented on #665
@trueadm  Should inferno clear root node content? Any thoughts on this?

[2017-01-04 19:40] olsn commented on #654
Just installed the latest version, works perfectly.
Awesome, thx! 👍

[2017-01-04 19:54] trueadm commented on #665
@alastaircoote @Havunen If Inferno detects content already in a render target without a previous root virtual DOM, it will attempt to hydrate from it. Hydration will repair and patch the existing DOM to be that of the new virtual DOM.

This would actually be a bug in hydration rather than how `Inferno.render` works.

[2017-01-04 19:56] Havunen commented on #665
@trueadm okay I didn't know it was bug in hydration, in that case there is another one to fix also. In animation example you can't swap multiple times between Inferno and other vDom lib

[2017-01-04 20:05] trueadm commented on #665
The issue appears to be with whitespace, if you remove it from the existing DOM content, it works fine:

https://jsfiddle.net/eg0abvxb/

[2017-01-04 20:57] alastaircoote commented on #665
Aha! That does indeed fix it. Thank you very much @trueadm. In fact, now I remember, I feel like this came up when I was working with React some time ago, but a warning message caught it for me. D'oh.

[2017-01-04 21:00] trueadm commented on #665
@alastaircoote they do pretty much the exact same thing here :) the next version of Inferno will have this covered for you! Thank you so much for the help. Drop by the Slack some time if you have any other questions/ideas/issues! :)

[2017-01-04 21:07] LukeSheard commented on #662
Closing this issue as we're in agreement.

[2017-01-04 21:07] #662 closed

[2017-01-04 21:10] LukeSheard commented on #404
@ddibiase moved this to post 1.0

[2017-01-04 23:04] trueadm commented on #665
Released `1.0.7` which fixes this issue :)

[2017-01-04 23:04] #665 closed

[2017-01-04 23:32] LukeSheard commented on #465
Closing since this is now complete.

[2017-01-04 23:32] #465 closed

[2017-01-05 10:51] PhiLhoSoft opened #666 "enableFindDOMNode no longer (?) exists"
I am both a beginner at Inferno and React, and I am making a fake project to test the features (aim is to test CSS-in-JS libraries, actually).
Using Inferno@1.0.0-beta45

As I try to use a jQuery component using the Portal pattern, I have an error which made me try `Inferno.findDOMNode()`. I get an error:

First, I find the *use enableFindDOMNode() enabled findDOMNode()* part a bit cryptic...
Next

[2017-01-05 10:52] PhiLhoSoft commented on #666
I just created issue 666, am I Do(o)m-ed?

[2017-01-05 11:50] PhiLhoSoft commented on #666
Re.: 1.0.7 -- Cool! I see it is very recent, I will update my package Asap.

For the ref, that's what I did. I just made a Fiddle showing my trouble (which is not the main purpose of this issue, but thanks for helping, and it is still on-topic, I think):
https://jsfiddle.net/xprjsup7/7/
See http://antenna.io/demo/jquery-bar-rating/examples/
Ah, while I was typing this, I found one error. Apparentl

[2017-01-05 12:09] SuhairZain opened #667 "List of React libraries that support Inferno"
I was looking for a library to include media queries in my website as inline styles and I could find only one library that mentioned support for Inferno ([Fela](http://fela.js.org/)). I think that better than waiting for people to update their library's documentation, the community could list libraries that they have found to be working with Inferno. If you think this is something good to have, I'

[2017-01-05 12:57] Zalastax commented on #628
* Inferno in tsx files, as of https://github.com/infernojs/inferno/issues/521#issuecomment-269047296

[2017-01-05 13:51] PhiLhoSoft commented on #666
I made it work at https://jsfiddle.net/xprjsup7/8/ but I feel I don't use the "portal" at all, as it isn't suited to the way the library works. Not sure what it implies.

Anyway, I see you added the _question_ label, but remember the main point of the issue is to point out an incorrect or ambiguous message that is still in the v. 1.0.7 (in two places now!).

[2017-01-05 14:35] trueadm commented on #666
You're right, we need to update the JSFiddle to not use `document.body`. I've updated that now:

https://jsfiddle.net/u7p19pvc/

[2017-01-05 17:16] programmerrrr opened #668 "onChange with file input"
I am using inferno-compat. I have used onChange on file input

`<input type="file" onChange={this.handleChange}/>`

This works fine with react. handleChange method is invoked. But on using inferno-compat, onChange doesn't work

[2017-01-05 18:13] nightwolfz opened #669 "inferno-router bug"
Theres a new issue with nested routes within `inferno-router`

Issue 1)

[code]

When _loading_ `localhost:3000/blog/title1`, the `Article` component is loaded & inherits `Blog`. (no ssr in use) If loading any other page & navigating towards the same URL, the `Error404` intercepts.

Issue 2)

For this, I've removed the wildcard route & started with any non-nested URL. After I navigate to the `blog

[2017-01-05 18:30] lukeed commented on #669
Ah, yea. Forgot to open this

[2017-01-05 18:31] lukeed commented on #668
Try `onInput`. React's is synthetic, `onInput` is the native trigger.

[2017-01-05 18:42] trueadm commented on #668
@programmerrrr nice spot, this is a bug in `inferno-compat`!

[2017-01-05 20:18] kanzelm3 opened #671 "iOS event delegation on non-interactive elements is broken"
I found a bug in iOS that is handled by React but not by Inferno that relates to how iOS handles event delegation on non-interactive DOM elements (div, li, etc.) See [this article](http://www.quirksmode.org/blog/archives/2010/09/click_event_del.html) for detailed information about the issue, but the workaround for this bug involves attaching an empty click listener on the target node.

Here is whe

[2017-01-05 20:20] trueadm commented on #671
@kanzelm3 you can get around this by using `onclick`, all lowercase. It will force the event to be attached without Inferno's event system. We need to document this – it is an actual feature :)

[2017-01-05 20:52] kanzelm3 commented on #671
@trueadm we are migrating over from React, so this issue is in a lot of places obviously. Do you mind if I take a stab at implementing this feature in a PR?

[2017-01-05 20:59] Havunen commented on #671
Is this bug present in latest version of iOS? Also can we make it so that only iOS devices are affected?

[2017-01-05 21:18] trueadm commented on #671
@kanzelm3 feel free to take a stab at it in a PR, we can always review and discuss in more detail.

[2017-01-06 12:42] programmerrrr commented on #668
@lukeed Even `onInput` is not working with file input
@trueadm Is there any workaround until this bug is fixed?

[2017-01-06 13:20] trueadm commented on #668
@programmerrrr I've applied a fix to `dev` branch if you'd like to check it out?

[2017-01-06 14:04] Havunen commented on #671
Fix for this has been merged. Closing :) thanks for your work @kanzelm3

[2017-01-06 14:04] #671 closed

[2017-01-06 14:29] programmerrrr commented on #668
@trueadm yeah!!! It's working!!

[2017-01-06 14:45] Havunen commented on #668
Glad to hear! Closing this issue.

[2017-01-06 14:45] #668 closed

[2017-01-06 17:43] larpo opened #674 "setState callbacks are sometimes not called"
Like the tittle says, it seems that inferno (inferno-compat@1.0.7) loses setState callbacks occasionally. Not exactly sure what triggers the bug (setState from inside componentWillReceiveProps?). Anyway, in the snip below, the setState callback in inner component never gets executed.

[code]

Made a jsfiddle out of it: [https://jsfiddle.net/9fg6sxjk/9/](https://jsfiddle.net/9fg6sxjk/9/)
Notice how

[2017-01-06 17:48] kanzelm3 opened #675 "Inferno compat does not transform svg xlink attributes"
Inferno, using the babel inferno plugin, handles `xlink:href` and other `xlink` ns attributes properly; however, when using `inferno-compat` with the standard react babel preset, we are unable to use the `xlink:href` attribute.

If you try to use `xlink:href` babel will complain that it does not support svg namespace tags, and the build will fail. If you try to use `xlinkHref`, then inferno does n

[2017-01-06 19:21] kanzelm3 commented on #675
My mistake, @lukeed made sure I installed and used babel-plugin-inferno and that fixed the issue! I did not think I needed to use that with inferno-compat simple misunderstanding.

[2017-01-06 19:58] kanzelm3 commented on #675
I spoke too soon, please see comment on PR #676

[2017-01-06 20:43] Havunen commented on #675
Yeah this was needed for 3rd parties. Closing this issue as PR is now merged. Thanks for your work!

[2017-01-06 20:43] #675 closed

[2017-01-06 20:48] Havunen commented on #674
I have verified this is indeed bug, I hope dominic could take a look. ping @trueadm

[2017-01-06 20:52] lukeed commented on #674
Verified as well, even after fixing the `componentWillReceiveProps` body. It should be this:

[code]

This is because (1) `props.text` never changes in this fiddle and (2) the last `this.setState` lost its parent context.

[2017-01-06 21:01] larpo commented on #674
@lukeed oops, good catch! I'll update the fiddle so that it won't confuse ppl...

[2017-01-06 22:07] trueadm commented on #674
I'll look into this one tomorrow if I get time. Some RL stuff to deal with this weekend!

[2017-01-07 00:11] junxianlim opened #677 "inferno-devtools breaks functional component lifecycle events"
Inferno's functional component lifecycle events breaks if you `require('inferno-devtools')`

[code]

ES6 Class lifecycle events work fine:

[code]

[2017-01-07 07:18] SuhairZain opened #678 "Lifecycle hooks on Stateful Class Components"
Hi,
I realize that Inferno is different from React in how it works under the hood, but is there a reason why Inferno chose not to support lifecycle hooks on Class components? It'd be nice to have support for lifecycle hooks on Class components in addition to functional components.

Also, in cases where it's absolutely necessary to have lifecycle hooks on stateful components, are there any current

[2017-01-07 07:50] lukeed commented on #678
Hey,

That's actually not the case. Functional components do have life cycle hooks and that's one of the most unique features of inferno. Please check [this](https://github.com/infernojs/inferno/blob/master/README.md#functional-component-hooks) for info.

For stateful components you need to install `inferno-component` and then you can use class components as expected.

[2017-01-07 08:06] Havunen commented on #678
Our ES6 Components have same API as React, both state and lifecycle hooks ( they are class methods ).

[2017-01-07 08:39] SuhairZain commented on #678
@lukeed
I'm sorry for not framing the question correctly. I know that functional components have lifecycle hooks. I meant to say support for hooks in class components as well. I have edited the question to reflect the same.

[2017-01-07 08:42] SuhairZain commented on #678
@Havunen
It states [here](https://github.com/infernojs/inferno/blob/master/README.md#using-hooks) that class components **do not** support lifecycle hooks (It's written in bold there as well) 😄

[2017-01-07 08:54] trueadm commented on #678
@SuhairZain Sorry, there was a bit of confusion over this. Components don't support "hooks", "hooks" was the old name for functional components using lifecycle events. I've updated the README.md now to reflect these changes.

[2017-01-07 08:57] SuhairZain commented on #678
@trueadm
Got it now. Thanks for the clarification. I'll be closing it now. 😄

[2017-01-07 08:57] #678 closed

[2017-01-07 09:14] trueadm commented on #677
This is a known bug for now when using devtools. The reason is because of this function:

https://github.com/infernojs/inferno/blob/master/src/devtools/init.ts#L15

React dev tools can only work with class components, not functional components. So we wrap the functional component in a class component. This means that we have to strip off the functional lifecycle events (stored in `ref` on the VNod

[2017-01-07 20:18] oreqizer opened #680 "Injecting static markup to HTML"
## Issue Template

**Observed Behaviour**

Inferno doesn't provide a clear way to server render an application and then inject it into HTML to render as static markup. Maybe I'm trying to do something I should not?

**Expected Current Behaviour**

Inferno should be able to handle case such as this:

[code]

**Inferno Metadata**

macOS
Chrome

...I guess this ain't that relevant in this case.

[2017-01-07 21:13] #674 closed

[2017-01-08 00:21] sebastianmacias opened #681 "TypeScript Support Not Working"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/inferno.js).
- Check that the i

[2017-01-08 01:07] sebastianmacias commented on #681
Tested with current [latest master commit](https://github.com/infernojs/inferno/commit/e979b5899a8f30e59b8406b3c2f0522585606360), same results.

[2017-01-08 03:50] ingelity opened #682 "Dynamic children bug [recycling]"
When passing method that renders different types of children based on conditions, the content of some object form the inferno-mobx store that is completely unrelated to the current view gets injected among the children as well.

Sorry, I can't reproduce it with a simple structure, but the outline is like:

[code]

The #problem div would get this totally unrelated content injected alongside its inn

[2017-01-08 07:40] robertknight commented on #681
You are using an old version of TypeScript (1.8) which lacks support for some of the language features used in Infero's type definitions. You'll need to update to TS 2.0 or later.

[2017-01-08 07:51] oreqizer commented on #681
also, you have to turn `noImplicitAny` off.

[2017-01-08 08:02] Havunen commented on #682
Hey

Does it work if you disable recycling? Set Inferno.options.recyclingEnabled = false; at the beginning of your app.

[2017-01-08 08:29] Havunen commented on #682
This issue requires steps to reproduce.

[2017-01-08 08:32] Havunen commented on #666
Is this still an issue?

[2017-01-08 08:35] Havunen commented on #677
Having our own devTools would solve this :)

[2017-01-08 08:43] ingelity commented on #682
@Havunen  Setting that flag solves the problem. Thanks!

[2017-01-08 10:53] Havunen commented on #682
okay, but that means there is possibly bug in recycling. It would be good to track it down. By setting that flag false you disable recycling optimization.

[2017-01-08 11:40] PhiLhoSoft commented on #666
Unless you removed or changed the message about using the `enableFindDOMNode` function which doesn't exist, yes.

Now, I solved my issue about using the ref, but that was an aside of the issue.

[2017-01-08 12:55] Havunen commented on #666
I have fixed error message and removed function from type file. I just need to sort things out before 1.1.1. Thanks for confirming this closing issue! :)

[2017-01-08 12:55] #666 closed

[2017-01-08 14:11] MarshallOfSound opened #684 "inferno-transition-group@1.1.1 is not published"
**Observed Behaviour**

Inferno compat is failing to install.

[code]

The above command results in an `ETARGET` error from NPM indicating that `inferno-transition-group@1.1.1` does not exist (which it does not). The version of that module does not appear to have been bumped correctly.

**Expected Current Behaviour**

Inferno should install 😄

[2017-01-08 14:45] LukeSheard opened #685 "Automate Build Process"
We should write build scripts for:
- [x] Change log
- [x] Publishing
- [x] Updating Version

Any others that people can think of?

[2017-01-08 14:46] LukeSheard opened #686 "Produce JSX Typings file"
There have been questions and issues raised about our typescript definition files (#592 , #596, #609, #681) as well as questions on Slack.

We should refactor our definition files to include a `globals.d.ts` which should be internal to Inferno, and then also have namespace and module definitions for each Inferno module. We can then wrap these up in a `inferno.d.ts` typings file which we export wit

[2017-01-08 14:47] Havunen commented on #681
This issue should be resolved now using latest version: 1.1.1

[2017-01-08 14:48] Havunen commented on #684
Ooops! Looks like I missed something! I will look into this now

[2017-01-08 15:34] Havunen commented on #684
published that package, it should be fixed now :) sorry for this issue.

[2017-01-08 15:34] #684 closed

[2017-01-08 15:34] Havunen commented on #685
We should really automate this, another mistake was done when publishing manually: https://github.com/infernojs/inferno/issues/684

[2017-01-08 15:47] #681 closed

[2017-01-08 15:48] Havunen commented on #669
@lukeed @nightwolfz is this issue resolved?

[2017-01-08 17:09] lukeed commented on #669
I will check in ~30m

[2017-01-08 17:12] lukeed commented on #685
I could set this up with a custom series of Fly tasks, you just have to let me know the exact commands.

There's also `np` for versioning and publishing and `zeit/release` to handle releases and automatic changelog notes.

[2017-01-08 18:14] lukeed commented on #669
Working now. Thanks @nightwolfz

[2017-01-08 18:14] #669 closed

[2017-01-08 18:30] oreqizer commented on #680
Maybe it would be worth introducing React-like API to maintain similarities between the two, thus the part

[code]

would be valid.

[2017-01-08 18:44] LukeSheard commented on #680
@oreqizer Your syntax above should work just fine. Have you tried implementing this?

[2017-01-08 18:49] oreqizer commented on #680
actually no 😅 I was just reading docs

[2017-01-08 18:51] oreqizer commented on #680
Ah i see! https://github.com/infernojs/inferno/blob/a27ed7e63a554370da3aa6a0c5fc0b1b32eec13b/src/server/prop-renderers.ts

Sorry for useless issue then - would be useful to add this to the docs, though!

[2017-01-08 18:57] LukeSheard commented on #680
@oreqizer No problem! If you create and issue in inferno-website then we can get it addressed in the guide!

[2017-01-08 19:46] prabhjots commented on #686
The whole JXS experience inside typescript could be improved by providing better type definitions as explained here
https://www.typescriptlang.org/docs/handbook/jsx.html

We need to add the following to the `inferno.d.ts` file

[code]

Also it would be a good idea to provide a different `d.ts` file for strongly typing the standard dom components.
Please have a look at this gist for a starting poin

[2017-01-08 20:54] oreqizer opened #687 "[hydration] Inferno eats invalid markup even though it should not"
## Issue Template

**Observed Behaviour**

Inferno doesn't throw `failed to hydrate` error, even though it should. A bit of digging showed me that it is maybe caused by the check [here](https://github.com/infernojs/inferno/blob/master/src/DOM/hydration.ts#L205), however, `dom` is valid in any case there's any valid node to be rendered (at least from my observation).

**Expected Current Behaviour**

[2017-01-08 20:56] trueadm commented on #687
@oreqizer Inferno will try to "fix" the difference from SSR to what is rendered, rather than bail on the user. This is done to ensure Inferno is the true "source" of everything and allows for much faster page renders when a lot of the SSR HTML is correct, but might be off in certain places.

[2017-01-08 20:58] oreqizer commented on #687
Ah I understand. So the check I highlighted is in case some deep structure is indeed invalid, am I correct?

[2017-01-08 21:01] trueadm commented on #687
@oreqizer It's now unlikely that the check will ever fail now – it would have before. What we found, when writing quite complex apps with Inferno, is due to how other libraries can work and how the "real-world" of apps goes, unless you can guarantee that Inferno/React is the only thing doing any rendering, it's hard to fix problems when things go wrong.

What are your thoughts on this?

[2017-01-08 21:04] trueadm commented on #687
@oreqizer I mean, we could also throw a warning if the SSR is invalid, like React does.

[2017-01-08 21:16] oreqizer commented on #687
We have an [isomorphic react app](https://www.kiwi.com/en) and what we currently do is we make sure to render everything React first, then fire off the additional renderings from 3rd party software, widgets etc. either 1. in a different root 2. in `componentDidMount` lifecycle (thus when React is done with the initial render).

I personally would do such check in the development mode, and warn the

[2017-01-08 21:19] trueadm commented on #687
Sounds good – if you're up for the task and would like to contribute to Inferno and get mixed in with the awesome team we have, throw up a PR and mix in on Slack! :)

Otherwise, I'm sure someone else on the core team could pick this up (I would, but I've got a lot of stuff to deal with atm: new job + separation with wife + finding new place to live + bla bla). I'll CC @Havunen @nightwolfz @lukeed

[2017-01-08 21:22] oreqizer commented on #687
I'd go for it, just today I was doing some deeper digging in the codebase, but I'm still pretty new so I'll ask around people on slack and see what I'll come up with!

[2017-01-08 21:23] trueadm commented on #687
@oreqizer awesome! Thank you for sticking with Inferno and helping where you can – it's really appreciated :)

[2017-01-09 09:45] ytbryan opened #692 "Can we include an Inferno.version?"
This is so that the version number is retrievable through javascript?

Thank you!

[2017-01-09 10:31] Havunen commented on #692
Sure! 👍  Can you send PR for this? If not possible I can look into this later tommorow

[2017-01-09 21:36] i-like-robots opened #693 "Hyperscript does not support children as an argument when tag is a component"
I'm trying to use the [inferno hyperscript](https://github.com/infernojs/inferno/tree/master/packages/inferno-hyperscript) package to define my templates but I have found a problem when trying to use the following syntax:

[code]

I may be misunderstanding but insofar as I can tell the above should work. However, `props.children` is undefined. I believe the issue may be with [this line](https://gi

[2017-01-09 21:38] lukeed commented on #693
Hello! Your `Parent` component is incorrect. The `children` is always a third argument. It should be:

[code]

[2017-01-09 21:40] i-like-robots commented on #693
Example code updated - the demo was correct. The issue however is that `props.children` is undefined.

[2017-01-09 21:48] lukeed commented on #693
Ah, thanks for updating. The same typo is in Codepen 😄 .

But you are correct; this is a bug. The `children` key is only populated if passing `props.children` directly, like below:

[code]

[2017-01-09 21:49] i-like-robots commented on #693
Thanks for your very prompt response!

(I can see the module does support passing children as the second arg courtesy of some juggling here: https://github.com/infernojs/inferno/blob/fae656cdbe734983838eed95df9302ca8053aa17/src/factories/hyperscript.ts#L94)

[2017-01-10 00:25] LukeSheard commented on #693
Closed by #697

[2017-01-10 00:25] #693 closed

[2017-01-10 07:59] i-like-robots commented on #693
Thank you! 👍

[2017-01-10 15:31] yury-dymov opened #700 "Using 3d party react components with inferno"
Hey guys,

It seems that you created a really nice alternative to react, great job!

I have a question regarding using 3d party components developed by the react community with inferno. I checked the site, the docs, and issues and was not able to find any guides or best practices, how to do this.

I assume, that if React API and Inferno API are so similar, than it should be possible to use React c

[2017-01-10 16:25] Vpr99 opened #701 "Inferno-router ignoring ⌘-Click"
Hey all, hope you're having a great day. I had a quick question regarding `inferno-router`'s `<Link>` component. I'm trying to get these links to behave like regular HTML anchors and open the corresponding page in a new window/tab when the user holds down ⌘ while clicking. The default behavior now is that it just navigates in the same tab.

Any help would be greatly appreciated!

[2017-01-10 16:25] Havunen commented on #700
Hey!

Inferno has already pretty good compatibility with Reac when no internal React API is used. Using inferno-babel-plugin should cover all basic scenarios with JSX syntax. We have also built `inferno-compat` package which gives better compatibility with React. However it adds more overhead and performance won't be as good as purely written for Inferno.

[2017-01-10 16:26] Havunen commented on #701
@nightwolfz @lukeed Should know, they have built Router.

[2017-01-10 16:54] Havunen commented on #692
Implemented in next release.

[2017-01-10 16:54] #692 closed

[2017-01-10 17:50] Havunen commented on #685
Release process for me is following:

before starting:
verify all tests / linting / build pass

process:
- bump all package versions with (patch / minor / major)
- bump all package dependencies between inferno-packages, so that inferno-component 1.1.2 has dependency to inferno 1.1.2
- do new build
- git add . -m "Inferno 1.1.2"
- git push

after that:
- "npm publish" for each package (except infer

[2017-01-10 18:52] yury-dymov commented on #700
Hi @Havunen,

First of all, thank you for your quick response.

My use-case is following, let's say there is some random react-super-package, which I want to use in my project. Somewhere in the source code there is `import React from 'react';` line and in peerDependencies there is a react mention.

Obviously, I don't want to have both inferno and react in my project. I also don't want to modify re

[2017-01-10 18:55] Havunen commented on #700
inferno-babel-plugin takes care of JSX syntax only, I know some people already did some aliasing with webpack to mask React with Inferno. ping @LukeSheard  @nightwolfz @lukeed

[2017-01-10 18:55] lukeed commented on #700
Hey @yury-dymov, what build tools are you using? Webpack? Browserify? Rollup?

Most build tools out there include an `alias` option. See [here](https://github.com/infernojs/inferno/tree/master/packages/inferno-compat#usage-with-webpack) for a bunch of examples.

[2017-01-10 19:01] lukeed commented on #701
Unfortunately, this is true. Nice catch. Only right-click & "Open in New Tab" works as that skips the click event entirely. Normal clicks send the path directly to `history.push`.

@Havunen @nightwolfz @LukeSheard We can listen for `event.metaKey` and interrupt the cycle.

@Vpr99 You're also welcome to open a PR for this 😄

[2017-01-10 20:11] yury-dymov commented on #700
@Havunen, @lukeed, thank you! I am using webpack, and as I mentioned, I considered an alias option, but wanted to confirm that it is a recommended way.

I think that adding "migrating from React smoothly" section to the documentation would be very helpful.

I am closing the issue as for now but feel free to reopen it if you have something to add.

[2017-01-10 20:11] #700 closed

[2017-01-10 21:53] chickendinosaur opened #702 "inferno-router - Error when using Redirect"
Browser console error:

[code]

From the source code:

[code]

Using inferno-router.
When using a Redirect I get that.

[code]

[2017-01-10 21:56] chickendinosaur opened #703 "inferno-redux - Not seeing my store being passed down."
[code]

Browser console output from logging App props:

[code]

See. Nothing except params is coming down.

[2017-01-10 22:05] lukeed commented on #702
What version of Inferno & Inferno.Router are you using?

[2017-01-10 22:32] lukeed commented on #702
@chickendinosaur

1. You can't use `browserHistory` and use hash-based routing.

  Changing:

[code]

  to:

[code]

  will work just fine.

2. Your build tools are improperly setup. You will only have traces of `process` if you haven't replaced or injected your environment value correctly. (Same issue as yours from Slack a few days back.) Please post your webpack/rollup/browserify config (whichev

[2017-01-10 22:49] lukeed commented on #703
Not reproducible. You're not showing how or where you're logging, but this works as expected (and documented).

[code]

[code]

[2017-01-10 22:49] #703 closed

[2017-01-10 23:45] Stuk opened #704 "getInitialState doesn't use mixins [inferno-create-class]"
**Observed Behaviour**

Inferno is not calling `getInitialState` defined on mixins

**Expected Current Behaviour**

Inferno should call all of the `getInitialState` functions defined in mixins and combine the resulting objects, throwing an error if keys collide

**Inferno Metadata**

Initial bit of clearly incorrect code is [here](https://github.com/infernojs/inferno/blob/c4b752b33c129997b6e52fd62

[2017-01-11 00:06] Stuk opened #705 "this.context isn't available in getInitialState"
**Observed Behaviour**

Inferno has an empty object for `this.context` when `getInitialState` is called

**Expected Current Behaviour**

Inferno should have evaluated the `context` for the component when `getInitialState` is called

[2017-01-11 00:16] nightwolfz commented on #701
I haven't noticed the issue since I'm on Windows, but yeah @lukeed `event.metaKey` might be the solution

[2017-01-11 00:35] jdalton opened #706 "CDN builds missing reference to PropTypes"
I'm trying to use `inferno` + `inferno-compat` via a cdn:

but it's complaining about missing `PropTypes` which is an `undefined` reference.

at
[code]
of `inferno-compat` because `global.PropTypes`, which is equiv to `window.PropTypes`, is `undefined`. This comes from not compiling [proptypes](https://www.npmjs.com/package/proptypes) into the `dist` build.

[2017-01-11 06:16] michaelAndersonCampingWorld opened #707 "Functions created with linkEvent don't work with lodash functions"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/inferno.js).
- Check that the i

[2017-01-11 06:22] Havunen commented on #706
Hey. Thanks for reporting this issue. I Will look into it later today.

[2017-01-11 06:26] Havunen commented on #707
Hey.

LinkEvent does not return function. It returns object which is used to avoid creation of function, this makes huge performance difference within loops.

Can you specify more why you need linkEvent returnValue and not the callback you are using?

[2017-01-11 06:44] michaelAndersonCampingWorld commented on #707
I'm not really sure what linkEvent is really for so I might be using it wrong, but I used it to create a function which I can use to manipulate the state of components like the example below.

`<input onInput={linkedEventOnInput} />`

I then tried to throttle the event with lodash's throttle it when I was passing `linkedEventOnInput` to `<input />`. Are you suggesting that I throttle it when I pas

[2017-01-11 13:03] rafaelkallis opened #708 "Brunch boilerplate in addition to existing boilerplate"
First of all congratulations to your recent release.

Secondly, I would like to ask if a brunch based inferno boilerplate (brunch skeleton) would be appreciated.

A list of existing brunch skeleton can be found [here](http://brunch.io/skeletons).

Willing to make one if the inferno community would like it.

[2017-01-11 14:11] chickendinosaur commented on #702
What do I need to do to be able to use hash history?

Here's my rollup config:

// Rollup plugins
import babel from 'rollup-plugin-babel';
import commonjs from 'rollup-plugin-commonjs';
import resolve from 'rollup-plugin-node-resolve';
import replace from 'rollup-plugin-replace';
import sass from 'rollup-plugin-sass';
import builtins from 'rollup-plugin-node-builtins';

var isProduction = process.

[2017-01-11 16:23] Havunen commented on #706
Hey,

propTypes will be bundled together with inferno-compat in next release. Sorry for this issue. Closing.

[2017-01-11 16:23] #706 closed

[2017-01-11 16:26] Havunen commented on #707
Yes. According to my knowledge this:
[code]

is the correct way. I might be wrong, ping @trueadm

[2017-01-11 16:28] Havunen commented on #708
Sounds good,
We could advertise it on the website also.

Is this something you could maintain? ( I have too many repos atm. )

[2017-01-11 16:33] jdalton commented on #706
Thank you!

[2017-01-11 17:57] lukeed commented on #707
For most `throttle` libraries, I believe you have to save the throttled function to a variable & call that, otherwise the counter is reinitialized on each call.

[code]

[2017-01-11 18:15] lukeed commented on #702
@chickendinosaur To use hashed routing:

[code]

See the `history` [usage](https://www.npmjs.com/package/history#usage). Note that there are some options you can use.

As for rollup config, it's fine. @nightwolfz removed the `process` outlier & so it wasn't related to your config.

[2017-01-11 19:15] trueadm commented on #707
@lukeed is spot on :)

[2017-01-11 19:36] lukeed commented on #707
@michaelAndersonCampingWorld Do you have any further troubles or questions? Otherwise closing this.

[2017-01-11 20:24] Havunen commented on #707
Does linkEvent need to be called on every render?

[2017-01-11 20:45] trueadm commented on #707
@Havunen Yes, it's like a virtual DOM object really.

[2017-01-11 21:59] Vpr99 commented on #701
@Havunen @lukeed @nightwolfz, @benmai and I opened up a PR.

[2017-01-12 01:55] dfleury opened #711 "event handlers added by inferno are breaking on phantomjs (via casperjs)"
**Observed Behaviour**

When using casperjs with phantomjs, inferno fails to deal with triggered events on handlers designated by itself like this:
[code]

[code]
[code]
[bundle.js:13859](https://github.com/infernojs/inferno/blob/1.1.2/src/DOM/events/delegation.ts#L77)
With this error, the event isn't dispatched as [it should](https://github.com/infernojs/inferno/blob/1.1.2/src/DOM/events/delegati

[2017-01-12 01:58] lukeed commented on #711
This has to do with Inferno's (partially) synthetic event system.

You can achieve the same workaround by changing `onClick` to `onclick`; however, you lose the benefits of Inferno's system, including the ability to use `linkEvent` (which you should in your case).

Pinging @Havunen and @trueadm because I'm not sure how to approach this.

[2017-01-12 08:59] avesus opened #712 "Inferno doesn't work in Android browser (Android 4.2) [needs more info]"

[2017-01-12 09:23] rafaelkallis commented on #708
@Havunen thanks for the quick answer.

Yes, I would be willing to do that.

[2017-01-12 10:08] Havunen commented on #712
Did you add polyfills?

[2017-01-12 10:11] Havunen commented on #711
Hey,

I dont know anything about casperjs, but make sure virtualDOM the node where you are rendering content to is appended to document body.

I have been using following simulate click (which works at least in IE, Edge, Chrome, FF):

[code]

[2017-01-12 11:40] dfleury commented on #711
Thanks, I made sure and isn't the case.

On qui, 12 de jan de 2017 at 08:11 Sampo Kivistö <notifications@github.com>
wrote:

[2017-01-12 12:10] Ashot-KR opened #713 "Devtools issue with JSX and numbers"
**Observed Behaviour**

Devtools breaks when printing numbers in JSX.
**React Developer Tools** throws error in console
[code]
Issue can be reproduced in [inferno-boilerplate](https://github.com/infernojs/inferno-boilerplate): just place `{ 1 }` somewhere in components. `{ '1' }` or `{ 1+'' }` works fine.

**Inferno Metadata**
versions `1.0.0-beta42` and `1.1.2` has this issue
macOS 10.12.2
Chrome

[2017-01-12 19:37] avesus commented on #712
I was running tests http://vdom-benchmark.github.io/vdom-benchmark/ and https://localvoid.github.io/uibench/ and https://jsfiddle.net/u7p19pvc/

None of them was able to work in the browser. We need to support that Android platform on Cordova. Can you please specify which polyfills we need on Android browser (I only found the description for IE, which is meaningless for us)?

Thank you for the qui

[2017-01-12 19:40] lukeed commented on #712
You'd likely need all the same polyfills. Android 4.2 doesn't even cover all of ES5! You certainly need `Promise` in Android 4.2.

[2017-01-12 20:27] GyrosOfWar opened #714 "Value attribute is skipped when rendering <progress> elements"
**Observed Behaviour**

Inferno is not rendering the `value` attribute of a `<progress>` element. Here's a JSFiddle example: https://jsfiddle.net/qLooabfg/
The progress bar is moving (at least for me in Chrome/Firefox), but that's just the default behavior for a progress bar with unspecified progress (missing `value` attribute).

**Expected Current Behaviour**

Inferno should output the value attr

[2017-01-12 20:46] avesus commented on #712
[code]
helps running the simplest example.

Of course, including `Promise` is great idea for other things.

[2017-01-12 20:46] #712 closed

[2017-01-12 21:21] LukeSheard commented on #701
Closed by #709

[2017-01-12 21:21] #701 closed

[2017-01-12 21:26] LukeSheard commented on #702
This original issue should have been fixed in `dev`.

[2017-01-12 21:26] #702 closed

[2017-01-12 21:26] #680 closed

[2017-01-12 22:47] STRML opened #715 "rc-css-transition-group incompatibilities"
## Issue Template

**Observed Behaviour**

A few errors thrown from `rc-css-transition-group`:

* The string ref [here](https://github.com/react-component/css-transition-group/blob/master/src/CSSTransitionGroup.jsx#L195) confuses `injectStringRefs` (not sure how, quite yet). Replacing it with a function fixes the issue.
* [CSSTransitionGroupChild](https://github.com/react-component/css-transition-

[2017-01-12 22:57] STRML commented on #715
I have fixed these bugs in https://github.com/STRML/rc-css-transition-group-modern if you'd like to update the dep.

[2017-01-12 23:54] LukeSheard commented on #685
It might be a good idea to wrap this up in moving to lerna, rather than duplicate all of that work as well?

[2017-01-13 00:24] lukeed commented on #685
I thought that was the correct timeline too.

[2017-01-13 01:23] SimonMeskens commented on #686
I think the JSX namespace also needs this:

[code]

This will type the return type of `elem()` correctly I think.

[2017-01-13 06:42] Havunen commented on #712
@avesus also Map is needed

[2017-01-13 10:39] rafaelkallis commented on #708
Done. [Here's](https://github.com/rafaelkallis/brunch-with-inferno) the repository. Feedback welcome.

@Havunen Would it be possible to create a "brunch-with-inferno" repository on infernojs?

[2017-01-13 14:59] Havunen commented on #715
Sure, sound good! 👍 I will include this in 1.0.4

[2017-01-13 15:14] ddibiase commented on #708
@rafaelkallis the repository has been created: https://github.com/infernojs/brunch-with-inferno

[2017-01-13 15:17] ddibiase commented on #708
Forgot to grant you write access, should be available now. Also if you write up a quick md we can incorporate into the website docs.

[2017-01-13 15:27] Havunen commented on #711
This is related to PhantomJS bug: https://github.com/ariya/phantomjs/issues/13895

[2017-01-13 17:34] rafaelkallis commented on #708
@ddibiase regarding the md for the website docs: would you like me to create an entirely new md in the [guides folder](https://github.com/infernojs/inferno-website/tree/master/src/docs/guides) or should I just edit [installation.md](https://github.com/infernojs/inferno-website/blob/master/src/docs/guides/installation.md)? I think creating a new md is an overkill.

Let me know and I'll send a pull

[2017-01-13 17:37] ddibiase commented on #708
I think a new md will help keep it separate. We can link from installation
as we will likely add more boiler plate like support tools. If you create
the md I'll go ahead and add the linking once you're done.

Thanks for your help :-)
On Fri, Jan 13, 2017 at 12:34 PM Rafael Kallis <notifications@github.com>
wrote:

--
This email and any files transmitted with it are confidential and intended
solely

[2017-01-13 17:50] rafaelkallis commented on #708
Sounds good. Conversation can follow in this [issue](https://github.com/infernojs/inferno-website/issues/59) since it is not relevant anymore here. I believe we can close this issue now.

[2017-01-13 18:39] Havunen commented on #715
This is done and will be changed in next release. Thanks for your work!

[2017-01-13 18:39] #715 closed

[2017-01-13 18:39] Havunen commented on #714
Test added to dev.

[2017-01-13 18:40] Havunen commented on #708
Thanks for your work @rafaelkallis  :+1:

[2017-01-13 18:40] #708 closed

[2017-01-13 18:51] dfleury commented on #711
Well, I think there is no reason to stay with this issue open.
Thanks for that finding!

[2017-01-13 18:51] #711 closed

[2017-01-13 19:49] pspeter3 commented on #686
@LukeSheard I'd be happy to help with this if possible.

[2017-01-13 21:27] doytch opened #717 "devtools throws an exception when handling react-router Links"
**Observed Behaviour**

When using `react-router` with devtools enabled (`require('inferno-devtools');`), Inferno throws an exception at [devtools/bridge.ts:331](https://github.com/infernojs/inferno/blob/master/src/devtools/bridge.ts#L331) complaining that `forceUpdate` is undefined. The particular VNode type it's handling when crashing is a `<Link>`, who's children (which becomes the `instance`)

[2017-01-13 21:52] Havunen commented on #714
This will be fixed in next release.

[2017-01-13 21:52] #714 closed

[2017-01-13 23:07] trueadm opened #718 "inferno-compat should support `onDoubleClick`"
The native event is `onDblClick`. Inferno should proxy `onDoubleClick` to the native DOM event `onDblClick` as per:

https://github.com/evcohen/eslint-plugin-jsx-a11y/pull/161

[2017-01-14 01:27] doytch commented on #717
Wrote this bug up before leaving work today and haven't been able to reproduce it in a reduced test case at home. Assuming I'm unable to this weekend, I'll try and shed more light on it on Monday.

[2017-01-14 08:11] #707 closed

[2017-01-14 10:54] Havunen commented on #705
Hey @Stuk thanks for reporting this issue. It will be fixed in next release.

[2017-01-14 10:54] #705 closed

[2017-01-14 11:45] Havunen commented on #704
@Stuk Is this something you could make PR for?

[2017-01-14 12:09] oreqizer commented on #687
done, closing

[2017-01-14 12:09] #687 closed

[2017-01-14 17:16] lovethebomb commented on #486
Hello @Havunen, may I ask if you made any progress/found obstacles yet?
Would also be looking forward material-ui+inferno :)

[2017-01-14 20:33] degroote22 commented on #635
Hi! I'm sorry for the delay, but I tested it and the problem is really gone.
[Its here on a new URL.](https://teste-firebase-822c4.firebaseapp.com/busca/-19.5815631/-42.647519999999986)
The website is not really functional anymore but the map / mounting issue is really gone(even when using sync setState).

off-topic: Are all setStates in Inferno async?

[2017-01-14 20:45] #635 closed

[2017-01-14 22:03] Havunen commented on #486
I started working on it. One of the major issues I faced so far was that material ui is reading children properties before they are mounted. It is very Bad coding practice... And I dont think we want support it.

I have started development and basics are there there, but lately I have been busy with inferno core related issues.

I Will continue this work and Make it public once its in good shape.

[2017-01-15 02:06] cia48621793 opened #720 "First frame performance?"
I want to know how's the time,  and therefore the performance of the first frame in Inferno DOM, especially on mobile.

[2017-01-15 02:16] cia48621793 commented on #720
I guess uibench is enough.  Didn't found that 'first time' field, sorry.
But, how many calls and how long does `Inferno.render` do? That could be more interesting.

[2017-01-15 09:50] shockw4ver commented on #383
Interesting about the AMAZING name ‘Inferno’.
Does it mean components will layer like the Dante Hell?
Cool!

[2017-01-15 10:30] anilanar opened #721 "Simple clock fiddle is broken"
https://jsfiddle.net/00as83tx/
https://jsfiddle.net/u7p19pvc/

[2017-01-15 10:48] Havunen commented on #721
works again, other one has import issue.

[2017-01-15 10:48] #721 closed

[2017-01-15 10:50] Havunen commented on #720
It highly depends on your application @cia48621793

[2017-01-15 10:51] Havunen commented on #720
Rendering has been optimised multiple times already. Some areas we could still improve at least:
`patchKeyedChildren`
`patchProps`
`hydration`

[2017-01-15 11:13] anilanar commented on #721
@Havunen Both fiddles still don't work for me :(

[2017-01-15 12:26] lovethebomb commented on #486
No need to say sorry! :)
Not sure if I can help, but if needed, ask!

Good luck!

[2017-01-15 12:29] wasd171 commented on #486
Perhaps we should select more lightweight library to port? I was experimenting a bit with `md-components`, it looks much cleaner from inside.

[2017-01-16 05:45] abukurov opened #723 "[inferno-router] Nested Routes query params support"
Currently only parent route contains query parameters. This can be fixed by replacing `pathToMatch` to `currentURL` in [routes/match.ts](https://github.com/infernojs/inferno/blob/master/src/router/match.ts#L51)

[2017-01-16 08:09] seancheong opened #724 "Keep getting "ReferenceError: Can't find variable: Map" when try running it on Karma"
I am trying to create my own boilerplate based on a React boilerplate that I have created earlier.

However, whenever I try to run *.spec.js on Karma, I keep getting this:
[code]

I am not sure why is this happening, as I don't see this error in my React boilerplate.
Hence, I am able to compile the artifact fine, if I am not running the Jasmine test cases.

Below is the github link to the repo:
ht

[2017-01-16 08:21] trueadm commented on #724
@seancheong What browser + version are you using with Karma? It sounds like it's an old version with no ES6 Map support.

[2017-01-16 08:44] seancheong commented on #724
@trueadm I am using PhantomJS (version 2.1.1) to run the Karma test. Just did a quick search, seems like PhantomJS does not fully support ES6.

So, in order for it to work, I have to convert everything to ES5 first before running the test?

[2017-01-16 09:10] trueadm commented on #724
@seancheong you'll need the ES6 polyfills for Map, WeakMap and Promise.

[2017-01-16 09:20] seancheong commented on #724
@trueadm Thanks for the tip.

I able to solve the issue by adding polyfill inside karma.conf.js
[code]

[2017-01-16 11:14] JacobSoderblom opened #725 "react-apollo"
Hey!

Is there anyone that working on a port for `react-apollo`? Otherwise I am willing to port it and make a PR if there are any interest in this.

[2017-01-16 15:10] #724 closed

[2017-01-16 15:11] Havunen commented on #723
ping @lukeed @nightwolfz

[2017-01-16 15:31] marudor opened #726 "[inferno-compat] inferno-server renderToStaticMarkup"
## Issue Template

**Observed Behaviour**

renderToStaticMarkup also renders the children prop. This breaks a lot of libraries and should work differently.

Example:
```<p children="foo">foo</p>```
This gets generated by a VNode with no props, type "p" and "foo" as children.
It should generate
```<p>foo</p>```
though.

I've monkey patched the method in my application currently. (Trying to get draf

[2017-01-16 15:51] trueadm commented on #726
@marudor Why are you passing `children` prop? VNodes (when elements) have a `children` property on the root of the VNode.

[2017-01-16 16:03] marudor commented on #726
I'm not. Inferno does it. (inferno-compat)
```renderToStaticMarkup(React.createElement('p', {}, 'foo'))```
produces the output from above. (With the children prop)

[2017-01-16 16:56] kurdin opened #729 "[inferno-devtools] waiting for root to load ... (message)"
inferno-devtools@1.2.0
inferno@1.1.2
node@v6.9.4

App Code:
[code]

**Observed Behaviour**
in chrome dev tools, React tab message is:
<img width="1193" alt="screen shot 2017-01-16 at 11 42 10 am" src="https://cloud.githubusercontent.com/assets/6027060/21991839/2bb01914-dbe2-11e6-8a5e-a27878a5e4ac.png">

**Expected Current Behaviour**
React Dev Tools should display inferno component / components tr

[2017-01-16 19:28] LukeSheard commented on #723
Pushed a change into dev @Havunen @abukurov

[2017-01-16 22:34] longlho commented on #729
tks for reporting @kurdin we're looking into it :)

[2017-01-17 01:44] longlho opened #732 "Monorepo"
So there's been discussion around converting Inferno to a monorepo (pending PR from https://github.com/infernojs/inferno/pull/719, thanks @oreqizer) so I just wanna propose and discussion some points:

- 1 of the biggest gain in monorepo is centralizing build tools & build steps for all sub-packages. The current state of Inferno right now has some packages written in TS, some in ES5, some ES6 so t

[2017-01-17 06:12] d4tocchini commented on #732
At the Grid, we've recently moved to a Lerna monorepo. I'd recommend Lerna, minimally enforced convention & as you mentioned, kinda emerged as the defacto.

Only issue we ran into was circular package deps, didnt impact builds but did confound npm publishing, but our circular deps were lazy artefacts readily removed.

Before inferno 1.0 release, i had actually copy-pasted in the built inferno dev

[2017-01-17 06:56] rafaelkallis opened #733 "Hydration error since Inferno@v1.2.0"
This issue is a follow up on [this issue](https://github.com/infernojs/brunch-with-inferno/issues/2)

**Observed Behaviour**

Since the latest inferno update `v1.2.0`, a new error gets logged in the console while using brunch.

`Inferno hydration: Server-side markup doesn't match client-side markup`.

Can confirm that in inferno `v1.1.2` this error doesn't show up.

**Expected Current Behaviour**

[2017-01-17 07:11] Havunen commented on #733
1.2.0 added that warning validation, previously it has not been there, issue still exists on both.

[2017-01-17 07:38] rafaelkallis commented on #733
I also would like to point out that even though the warning gets fired, the elements get rendered correctly.

[2017-01-17 14:03] longlho commented on #732
@d4tocchini yup that's similar to what we're doing at YFinance as well, using lerna only for bootstrap :)

[2017-01-17 16:04] kurdin opened #734 "SSR without babel on server?"
I am trying to understand how to use SSR with simple `require` of inferno component in node. I want to share component with client and server on small amount of pages and I thought if I use `inferno-create-class` and `require` I can do that without use of any babel transpiler in node, but JSX part of component won't recognise by node without babel-plugin-inferno transpiler.

I guess I can somehow

[2017-01-17 16:08] kurdin commented on #729
@longlho I moved from static html file that https://github.com/infernojs/create-inferno-app generates to express server with webpack-dev-server and now same code works with React chrome extension.

[2017-01-17 16:19] Havunen commented on #729
Inferno devTools 1.20 needs Inferno 1.20, not sure  If matters in this case

[2017-01-17 16:21] Havunen commented on #734
You can go advanced mode and write everything using createVNode then you dont need Babel.

[2017-01-17 16:37] kurdin commented on #734
You can't use createVNode in serious project because you have people like designers who are responsible for dealing with HTML and CSS, JSX is close to that but createVNode is not a good options.

[2017-01-17 16:43] thysultan commented on #734
you can also use inferno-hyperscript.

[2017-01-17 16:43] skmexyz commented on #587
Hi @nightwolfz, I'd need a bit of help with this issue!

[code]

[code]

The issue I have is HMR does not work at all (as in, no changes in browser) when you modify `index.jsx`, but with just app and vendor in entry, the entire page refreshes on editing the component (instead of just that component refreshing)

[2017-01-17 16:48] lukeed commented on #734
The JSX plugin just converts your node representations _into_ `createVNode` calls.

You can also use the `inferno-hyperscript` plugin, which sacrifices a little bit of performance but not a huge amount.

If i were you, I'd compile the server side as its own bundle. IMO, server bundles should always be compiled & minified too; there's still performance to be gained.

Or, with your idea, you'd essen

[2017-01-17 17:23] kurdin commented on #734
@lukeed I don't want to end up with 3x as many files ))

Your examples, is what I did so far but I am trying to figure out how to compile JSX on `require` with something like that:
[code]

I am looking at https://github.com/Automattic/jsx-require-extension/blob/master/index.js and
https://github.com/infernojs/babel-plugin-inferno/blob/master/example.js and trying to understand if something like co

[2017-01-17 17:33] lukeed commented on #734
As long as this compiles ahead of time, it should be fine? It's essentially the same thing except that you're not saving to disk (which I'd personally feel more comfortable with).

If it compiles lazily or on the fly, you're screwed. You'll suffer a huge perf hit.

[2017-01-17 17:41] kurdin commented on #734
@lukeed hmm, this will definitely compiles on node start when it hits `const ThingHTML = require('./thing-html.jsx')` I don't see where it can hit performance, just longer startup time. Right?

[2017-01-17 17:44] lukeed commented on #734
If that's the case, then yes 👍 I haven't used this method, so I'm only cautioning you. 😄

[2017-01-17 17:52] kurdin commented on #734
@lukeed thanks for your time.
Last question, how do you usually use babel with node on production without any hit to performance? It is on deployment, in your build steps, babel-cli compiles every server file to separate build folder, minify them and then run node from that build folder?  Node 6 already supports almost all ES6, only few things like `import` does not work. Is it worse it?

[2017-01-17 18:06] lukeed commented on #734
Well, what I mean is that using Babel at runtime (eg `babel-runtime`) is going to hurt you, because Babel itself is fairly slow; especially at start-up.

I meant that you compile a server bundle (eg `server.bundle.js`) the same way you compile a client bundle. This becomes your "build step" & then it essentially becomes a static asset. You have your server or server-entry point to this bundle, and

[2017-01-17 18:12] kurdin commented on #734
`server.bundle.js` is interesting... :) I will look into this, thanks for demo example.

[2017-01-17 18:19] lukeed commented on #734
You definitely should. Especially if still have any existing React apps. Creating & minifying the bundle allows you to optimize the code & remove any redundant/dead code blocks. Most of the time, when you `import` or `require` from a module, you're getting a development file. Ergo, you're using development files in production. 😢

Is this okay to close @kurdin?

[2017-01-17 18:38] kurdin commented on #734
@lukeed yes, you can close this. Looking at rollem, not sure if this approach can work for large apps with binary modules, but I will try it.

Thanks for your help.

[2017-01-17 18:38] #734 closed

[2017-01-17 18:40] lukeed commented on #734
Cool, thanks 👍 Rollem is just allows for multiple bundles with Rollup (the underlying bundler here).

More often than not, Webpack will do what you want. Rollup was used in this example to keep things as simple & lean as possible.

[2017-01-17 19:58] briansakal opened #735 "MobX Provider produces Error with hyperscript"
**Observed Behaviour**

Inferno is producing an error when using `Provider` from `inferno-mobx` in `hyperscript`:

`Inferno Error: a valid Inferno VNode (or null) must be returned from a component render. You may have returned an array or an invalid object.`

The offending code snippet:

[code]

Full example:
[code]

**Expected Current Behaviour**

Inferno should not produce an error.

**Inferno M

[2017-01-17 20:09] #726 closed

[2017-01-17 20:25] terinjokes commented on #735
I can take a look at this.

[2017-01-17 22:22] xnuk opened #736 "Empty <select> tag returns a error"
[CodePen snippet here](http://codepen.io/xnuk/pen/QdGBjo)

**Observed Behaviour**
[code]

If you run the code above, you'll get:

[code]

**Expected Current Behaviour**

It should support empty `<select>` tag or throw some meaningful message

**Inferno Metadata**
Tested on Windows 10, Firefox Developer Edition 52.0a2 (2017-01-15) (64-bit).

[2017-01-17 22:58] hilary-L opened #737 "Inferno-mobx: is there a difference between the connect and the observer decorators?"
I'm learning Mobx to go along with my new inferno app and I noticed that in the latest inferno-mobx package the examples all use "@connect" rather than "@observer". Both decorators appear to work in my application. Is there a difference between the two, and if so what is it?

[2017-01-18 02:05] terinjokes commented on #737
No, they are exactly the same, `@observer` is [an alias](https://github.com/infernojs/inferno/blob/f84408f5869b880b62ae9a12ffb5eea0869f6461/packages/inferno-mobx/src/index.js#L10) of `@connect`.

[2017-01-18 02:05] #737 closed

[2017-01-18 02:40] terinjokes commented on #735
@briansakal As *\<Provider\>* doesn't render anything, it seemly returns its children from the `render` function. In this case, you're providing an array, and a component can't return an array. In this case, ensure the direct descendant of *\<Provider\>* is singular.

[code]

I'm hesitant at calling this an error since you'd get the same behavior from the `createElement` API.

[2017-01-18 12:19] fmarsoni opened #738 "Controlled input, cursor jumps to the end"
**Observed Behaviour**

In controlled inputs after a change cursor jumps at the end of the field

**Expected Current Behaviour**

Inferno should preserve cursor position on input change

[https://jsfiddle.net/ua8hqfjf/3/](https://jsfiddle.net/ua8hqfjf/3/)

Inferno and inferno-component version 1.2
macOS
Chrome

[2017-01-18 13:20] briansakal commented on #735
That makes perfect sense, I didn't know what `Provider` did internally. I treated it as any other Component because that's how I saw it used in JSX style, so I figured in `hyperscript` I should treat it like an other Component. Should I close the issue?

[2017-01-18 13:30] oreqizer commented on #732
I was inspired by how [babe](https://github.com/babel/babel) has their repo set up. at least from what it seems (see [Makefile](https://github.com/babel/babel/blob/master/Makefile#L63)), they don't seem to do topological publishing, even though they do have packages that others depend on

[2017-01-18 14:11] oreqizer commented on #733
maybe the warning should get fired only if the second half of the condition is met (tags don't match)? https://github.com/infernojs/inferno/blob/master/src/DOM/hydration.ts#L115

[2017-01-18 14:41] hardcoar opened #739 "Question: Performance"
hyperscript & createElement (both from examples in this repo) and ES2016 through compilation:

which one is faster than which? are there any significant difference at all?

also hyperscript, createElements have smaller bundles right? thanks in advance!

[2017-01-18 16:37] Havunen commented on #738
Confirmed its bug: https://jsfiddle.net/69z2wepo/67824/ (React, same codebase)

[2017-01-18 16:40] Havunen commented on #739
the best you can go for performance point of view is pure createVNode or (precompiled JSX with babel plugin)

I think createElement and hyperScript will perform about same. It could be benchmarked tho. Anyway all of them will give good performance.

[2017-01-18 16:42] Havunen commented on #733
sounds right to me. @oreqizer can you send PR for that

[2017-01-18 16:44] Havunen commented on #735
Good to hear you got it sorted out. Closing :)

[2017-01-18 16:44] #735 closed

[2017-01-18 17:22] Havunen commented on #733
Its bug in brunch repo, closing this.

[2017-01-18 17:22] #733 closed

[2017-01-18 17:30] Havunen commented on #736
Hi, thanks for reporting this issue.

[2017-01-18 17:31] Havunen commented on #736
This will be fixed in upcoming release 1.2.1

[2017-01-18 17:31] #736 closed

[2017-01-18 17:33] Havunen commented on #723
Okay, thanks @LukeSheard I will close this then.

[2017-01-18 17:33] #723 closed

[2017-01-18 17:33] xnuk commented on #736
Thanks a lot! :+1:

[2017-01-18 17:42] Havunen commented on #738
This works if you use synchronous setState   (setStateSync)
https://jsfiddle.net/ua8hqfjf/9/

[2017-01-18 17:47] Havunen commented on #738
Ultimately setState should work same way with React to not confuse people. Changing that is anyway larger task than simple patch and won't be included for 1.2.1 @trueadm is this doable?

[2017-01-18 17:48] #718 closed

[2017-01-18 17:49] Havunen commented on #717
Hey @doytch I need more info to be able to help with this.

[2017-01-18 17:50] trueadm commented on #738
@Havunen this change would basically need to set a flag on a component with something like `isCommiting`, i.e. when a `mount`, `patch`, or `unmount` is occurring. During this phase, the `setState` should be async always, otherwise sync?

[2017-01-18 20:36] Havunen commented on #714
Just for the sake of history:
to support IE / Edge  "max" attribute must be defined before "value"

[code]

[2017-01-18 21:06] kurdin opened #742 "onInput event losing cursor position inside input element"
## Issue Template

Form example from page: https://infernojs.org/docs/guides/forms

**Observed Behaviour**

Type anything in input field then try to insert/delete something in the middle of typed text. Cursor will jump at the end of the text on each rerender.

**Expected Behaviour**

Cursor must stay at the position in the middle of added/deleted text .

**Inferno Metadata**
inferno@1.2.0

Looks l

[2017-01-18 21:11] lukeed commented on #742
Duplicate of #738

[2017-01-18 21:20] kurdin commented on #729
@Havunen I think you right. I tried again, used `create-inferno-app test` then `npm run eject` and `npm i inferno-devtools` now inferno-devtools@1.2.1 and inferno@1.2.1 and React Dev Tools works as expected.

For anyone having this problem, make sure your  inferno-devtools and inferno versions match.

[2017-01-18 21:33] kurdin commented on #742
Sorry. Did not see other ticket.

[2017-01-18 21:34] lukeed commented on #742
No problem! 😄 Thanks for reporting & providing additional details.

Going to close this issue because the other is already being tracked.

[2017-01-18 21:34] #742 closed

[2017-01-18 21:40] kurdin commented on #738
Not sure if this related but if I have input field without event but with default value in template like this:
[code]
let say default value empty ``this.state.value = ''``
Typing to that input field does not work. No text entering. I don't see that render get called as well. That would explain why text not appearing. This looks like 2 way binding or something, which is not good.

[2017-01-18 21:45] lukeed commented on #738
Sorry @kurdin, this actually isn't related. You're setting the value to `''` on every render, and without any handlers attached (eg, `onInput`), you have no way of setting the new `state.value`.

Please see [this example](https://github.com/infernojs/inferno-examples/blob/master/todomvc/src/item.js#L18-L57) for a reference on how to update an input's value via state.

You may also hop into our Sla

[2017-01-18 22:18] kurdin commented on #738
@lukeed ok, I understand that state value did not change, because I don't have onInput event handler with setState call for value. But why/how value of input set to '' on text enter/type? Render method did not get called (I am sure because I used console.log inside render to check so). How come when I type value sets to '' again without render method? This does not sound right. What if I want to s

[2017-01-18 22:33] trueadm commented on #738
@kurdin by using `value` you are telling Inferno to take ownership of this DOM element. Meaning, whatever you do on the browser is no longer important because you're not handling it with an `onInput` event listener – so it gets discarded.

If the value you have set is `this.state.value` and you don't actually change `this.state.value`, then why should the input ever change too?

This is exactly ho

[2017-01-18 22:52] kurdin commented on #738
@trueadm Thanks for explaination. I thought in React like approach UI views controlled by render method. Set new value in setState should call render and then input gets new value from state. Simple. Now it is turns out that inputs and some form elements have it own behavior linked to value. What if I want set default value of input on mount only then check errors and setState onBlur? Looks like i

[2017-01-18 22:55] kurdin opened #743 "defaultValue and defaultChecked attributes for uncontrolled form elements"
Found this on React website:

[code]

I think adding ``defaultValue`` attribute to inferno would be useful.

[2017-01-18 22:55] trueadm commented on #743
@kurdin Inferno should fully support `defaultValue`. It's actually a native DOM property.

[2017-01-18 22:56] trueadm commented on #738
@kurdin as per you other issue, you should be able to use `defaultValue` to do what you're describing.

[2017-01-18 22:57] kurdin commented on #743
Did not work for me.

[2017-01-18 22:58] trueadm commented on #743
@kurdin could you please give an example on JSFiddle with Inferno? https://jsfiddle.net/trueadm/d5o3oza0/

[2017-01-18 23:01] kurdin commented on #743
@trueadm  You right it works! Forgot to change this.state.value from '' to 'test'!

[2017-01-18 23:02] kurdin commented on #738
@trueadm confirmed that ``defaultValue`` works with inferno.

[2017-01-19 02:50] kurdin commented on #743
SSR not displaying input's value with `defaultValue` after same component renders on client side input value became visible.

Perhaps SSR should add `value` attribute with value of `defaultValue` if input's defaultValue exist.

[2017-01-19 08:42] fmarsoni opened #745 "Textarea defaultValue"
**Observed Behaviour**

defaultValue in textarea doesn't work when defaultValue in a prop or a state

[https://jsfiddle.net/ua8hqfjf/16/](https://jsfiddle.net/ua8hqfjf/16/)

textarea goes blank when component receives new props: same behaviour when changing other inputs

inferno 1.2.0
macOS / Windowx / Linux
Safari / Chrome / Firefox / ...

[2017-01-19 08:44] fmarsoni commented on #738
@Havunen @trueadm
I found the bug in a different scenario. Basically my input is not controlled by the state. onInput dispatches an action to a redux store and the component receives back the value as a prop. So value={this.props.value}. This works with react and it's useful to make the whole app react on input change. A simple fiddle to emulate this scenario:

[https://jsfiddle.net/ua8hqfjf/16/](