[2017-04-01 12:15] trueadm commented on #993
@zerkalica It might be faster to use the DOM node and assign a property to it instead of using arrays or maps. For example `parentDomNode.__someRoot`.

[2017-04-01 13:53] zerkalica opened #994 "Thinking about forceUpdate for pure components"
Bindings mobx to inferno requires [wrapper-classes](https://github.com/infernojs/inferno/blob/master/packages/inferno-mobx/src/connect.ts):

[code]

createClass is a function generation, that slow down cold start of our application.

What if all components are statefull. For example, primitive button can use localizations and js-to-css source structures in observable state. We change color or lang

[2017-04-01 13:54] zerkalica commented on #993
Thanks, i am agree, for this purpose map is enough

[2017-04-01 13:54] #993 closed

[2017-04-01 16:29] Havunen commented on #992
somewhere its calling it with wrong params. children should be in route.props.children

[2017-04-01 16:34] Havunen commented on #992
can you create small repo to reproduce it or jsFiddle ?

[2017-04-01 16:37] AlgoTrader commented on #994
I have dozens of MobX observer classes and writing such code looks much more complex than decorating function components with `connect` or `observer`.

Decorating is cheap and easy. I just write

[code]
Do you have any performance measurements? I think it is rather microseconds, not milliseconds

[2017-04-01 16:53] AlgoTrader commented on #992
babel-plugin-inferno changed it's major version number and just erasing the node_modules did not work. I had to edit package.json to switch the packet's major version.

I suggest adding the upgrade notes, 1.5.6 upgrade proved to be somewhat tricky

[2017-04-01 17:47] Havunen commented on #992
added it closing.

[2017-04-01 17:47] #992 closed

[2017-04-01 18:36] Havunen commented on #987
@nightwolfz can you look into why server does this, locally it works when using scripts or pm2...

[2017-04-01 20:35] zerkalica commented on #994
https://esbench.com/bench/58dfe38a99634800a0347bcb

In this example function generation is 5 times slowly.
If component initialization time is 10 microseconds and we have 500 components: 5ms vs 25ms.

But i talking about of hundreds and may be thousands components and some optimizations inside inferno, based on idea of reducing layers between observable state and rendering.

What if inferno core h

[2017-04-02 05:17] AlgoTrader commented on #994
If you have thousands of components, then it is likely to be something very unique. I can imagine table with 1000 cells, I cannot imagine page with 1000 unique components

[2017-04-02 06:21] aretecode commented on #994
@AlgoTrader funny you say that https://github.com/diegochavez/diegochavez.github.io/tree/master/inferno-1k-components

[2017-04-02 08:07] zerkalica commented on #994
@AlgoTrader

1000 components not only on the page, in whole application.

About statefull. In my example:

[code]

If i remove onComponentWillMount - component became pure.
My idea based not only on removing component wrappers, but removing react legacy state handling logic to separation concern layer like mobx and providing simple and universal interface for interactions, like forceUpdate. Infern

[2017-04-02 11:24] AlgoTrader commented on #994
It's not 1000 different components. It's 1000 instances of the same component

[2017-04-02 11:36] nightwolfz commented on #987
[code]

Something's up with `inferno-server`

[2017-04-02 11:49] nightwolfz commented on #987
Magically fixed.

[2017-04-02 11:49] #987 closed

[2017-04-03 15:58] Havunen commented on #967
setStateSync and setState will be 100% identical in 1.6. setStateSync will be deprecated

[2017-04-03 15:58] #967 closed

[2017-04-03 19:26] roastlechon opened #997 "`TypeError Cannot read property 'opacity' of undefined` when using `renderToString.queuestream.js`"
## Issue Template

**Observed Behaviour**
[code]
**Expected Current Behaviour**
[code]
**Inferno Metadata**
[code]

macOS / Windowx / Linux
Safari / Chrome / Firefox /
[code]

[2017-04-03 19:39] Havunen commented on #997
are you using JSX, is babel plugin version 3+ ?

[2017-04-03 19:41] roastlechon commented on #997
Let me check

[2017-04-03 19:44] roastlechon commented on #997
We are using JSX, and babel plugin is:
[code]

[code]

[2017-04-03 19:45] Havunen commented on #997
"babel-plugin-inferno": "^2.0.0",   must be "^3.0.0" as mentioned here: https://github.com/infernojs/inferno/releases/tag/v1.5

[2017-04-03 19:45] roastlechon commented on #997
ahh thanks!

[2017-04-03 19:45] roastlechon commented on #997
ill verify and test

[2017-04-03 19:46] Havunen commented on #997
never the less I added test cases for regression:
https://github.com/infernojs/inferno/commit/2b92da246a99bde6b5b58aa05cc9999624b644b2

All seems to pass

[2017-04-03 20:01] roastlechon commented on #997
I asked @hulkish and he mentioned just now that we arent using `babel-plugin-inferno` but are relying on `inferno-compat`'s `createElement`.

[2017-04-03 20:07] hulkish commented on #997
Yep.

[2017-04-03 20:32] Havunen commented on #997
can you try re-installing node_modules and if that doesn't work, then it would be nice if you could send the snippet that is causing this exception, I'm unable to reproduce it.

[2017-04-03 20:54] roastlechon commented on #997
I changed it to use latest `babel-plugin-inferno` and it still breaks. I verified in the bundle that `createVNode` is being used instead `createElement` (except for third party libraries).

[2017-04-03 21:07] roastlechon commented on #997
Testing `renderToString` instead of `streamQueueAsString`

[2017-04-03 21:10] roastlechon commented on #997
Same issue occurs on renderToString

[2017-04-03 22:26] roastlechon commented on #997
I found something interesting. We have a separate preset repository with the babel-plugin-inferno (which I upgraded). For shits and giggles, I went ahead and added babel-plugin-inferno into the consuming app and it does not show this error anymore (shows another one however...)

I am now back to debugging the next error.

[2017-04-03 23:35] roastlechon commented on #997
I eventually came back to this error again... so leaving it open until I can determine issue.

[2017-04-03 23:44] roastlechon commented on #997
<img width="697" alt="screenshot 2017-04-03 19 42 30" src="https://cloud.githubusercontent.com/assets/1642212/24636093/ce43770c-18a5-11e7-823b-8dd4acda5ab4.png">

Seems to fail at `internal_isUnitlessNumber`

[2017-04-04 01:01] roastlechon commented on #997
This is my current thought as to what the issue is...

[code]

[2017-04-04 08:40] Havunen commented on #997
Can you create simple repository to reproduce it please

[2017-04-04 10:08] logvi opened #999 "Input type="range" doesn't work properly"
I can't set defaultValue more than 100. I have prepared example component:
[code]
If defaultValue is less than 100, it will work properly, so value is passed. If remove shouldComponentUpdate, defaultValue will be changed to 260 in next update.

Expected behaviour: value will be 260 Initially
It's working properly in React

[2017-04-04 14:50] roastlechon commented on #997
Here's a better way to reproduce with command line

[code]

[2017-04-04 16:21] hulkish commented on #997
`require('inferno/dist/index').default` exports different contents vs `require('inferno/dist/index')`. Therein lies the problem.

[2017-04-04 21:13] deamme commented on #999
It sets `dom.defaultValue = defaultValue + '';` but doesn't set `dom.value`.
https://github.com/infernojs/inferno/blob/2862240d060030e0d9e00c786f01878b837f77ce/packages/inferno/src/DOM/wrappers/InputWrapper.ts

[2017-04-04 21:40] Havunen commented on #999
Can you send PR for fix please 👍

[2017-04-04 22:58] deamme commented on #999
@Havunen Seems like it's a bit more complicated than that. Basically one need to first set `min` and `max` before you can set `value` because the input has the type `range`.  If I write a fix in the same block as `dom.defaultValue = defaultValue + '';` it will then be double work because `min` and `max` are then again set afterwards because of some other code..

[2017-04-05 02:18] luosong commented on #985
I will try again with a clean and simple environment.

[2017-04-05 05:22] hguillermo opened #1001 "Touch events not supported?"
I am migrating a code like this from a React codebase:
[code]
Those events are working on React but they are not being fired in Inferno. Am I doing something wrong? I think it is just not supported right now. Ideas?

Thanks a lot for all your support guys!

[2017-04-05 06:49] Havunen commented on #1001
We use them and they are working just fine... Is this again old version of JSX plugin issue? Make sure you have v3+

[2017-04-05 06:50] Havunen opened #1003 "How to force latest babel-plugin for JSX users"
Do anybody here know is it possible to force specific version of JSX plugin to be used with specific version of Inferno. The thing is that not everybody uses JSX so making it dependency would cause extra download. Any thoughts, help wanted

[2017-04-05 06:51] Havunen commented on #1003
This is causing a lot of issues for inferno users

[2017-04-05 07:18] TrySound commented on #1003
Maybe peer dependency in plugin? Not the best case but there will be a warning at least

[2017-04-05 07:27] rikkertkoppes opened #1004 "Inferno.render in ts strictNullChecks mode does"
Inferno.render should work nicely with document.querySelector and document.getElementById in a ts environment with strictNullChecks. It does not.

[The implementation](https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/rendering.ts#L96)

    export function render(input: InfernoInput, parentDom?: Element | SVGAElement | DocumentFragment)

Allows types

    undefined | Elemen

[2017-04-05 07:40] Havunen commented on #1004
Can you send PR to fix this please :)

[2017-04-05 09:20] deamme commented on #1001
Seems like some events are missing, which also can be read here:
https://github.com/infernojs/inferno/blob/f90018a083807e03d938fe8c16e312090c84fe25/packages/inferno/README.md#event-system

[2017-04-05 09:57] rikkertkoppes commented on #1004
Not quite sure about the impact. I could just change the implementation to

    export function render(input: InfernoInput, parentDom?: null | Element | SVGAElement | DocumentFragment

However, that would probably have impact on other places.

Furthermore, there are some other instances where typing could be a bit better. For example, createVNode accepts as children `InfernoChildren`, which is:

[2017-04-05 15:21] hguillermo commented on #1001
@deamme you are right. @Havunen Can we add these touch events? Thanks

[2017-04-05 15:21] trueadm commented on #1001
These have worked in the past, just not via the synthetic event system. Can you try with the event name being all lowercase?

[2017-04-05 15:34] deamme commented on #1001
@trueadm Are non synthetic events created by setting the name to lowercase?

[2017-04-05 15:35] trueadm commented on #1001
@deamme all lowercase events use the native event system and bypass Inferno's system entirely.

[2017-04-05 15:43] LexRiver opened #1005 "inferno-devtools from typescript project"
I'm trying to run inferno-devtools from inferno-typescript-example.

What is the proper way to load inferno-devtools from typescript project?
I'm trying like this:
```import 'inferno-devtools';```

But in React Developer Tools instead of DOM I got this:
[code]

How can I fix this?

[2017-04-05 16:01] hguillermo commented on #1001
@trueadm Oh. Let me test. I will keep you posted.

[2017-04-05 16:06] hguillermo commented on #1001
@trueadm I updated the event names to lowercase but they are not being rendered. Somehow Inferno is removing it? This is what I did:
[code]
Based on what you are saying this should work. Not sure what is going on here.

[2017-04-05 16:15] trueadm commented on #1001
@hguillermo Can you show what the compiled JSX code looks like? I have a feeling you might be using an old version of the JSX plugin for Inferno.

[2017-04-05 16:33] hguillermo commented on #1001
@trueadm I am using "babel-plugin-inferno": "^3.1.0" and I just updared inferno to 1.6.1 but I am getting this error now: ``Inferno Error: cannot update state via setState() in componentWillUpdate() or constructor.``. But I am not setting the state in the constructor or componentWillUpdate. After I fix that problem I will check again. Thanks for your help!

[2017-04-05 17:18] Havunen commented on #1005
possibly related : https://github.com/infernojs/inferno/issues/984

[2017-04-05 18:07] hguillermo commented on #1001
@trueadm Inferno is removing those events. I tested using "babel-plugin-inferno": "^3.1.0" and "inferno": "1.5.6".

Input
[code]

Output
[code]

cc @deamme

[2017-04-05 18:28] trueadm commented on #1001
Are you looking at the rendered HTML lookup? Events won't appear there, as they're added as properties to th DOM Node, rather than as attributes. You'll need to access the nodes property to find these.

[2017-04-05 18:45] hguillermo opened #1007 "Inferno 1.6.1: Wrong error message for setState & maybe a breaking change."
I updated inferno to 1.6.1 and I got this error:
[code]
I didn't use setState on those but in componentWillMount. The message is not correct and confusing.
Additionally I think this change broke the possibility of setting up the state for server side rendering:
[code]
If ``_blockSetState = true;`` by default then I can't setup the state before to render. In the client side no problems because I ca

[2017-04-05 19:14] trueadm commented on #1007
The error message is confusing. Typically though, you shouldn't be using `componentWillMount` to `setState` as it will be async. You should be assigning the state in the constructor instead. If state is something you need to compute/work out, you can probably do this in the constructor as long as it's sync and not async (server-side rendering with `renderToString` isn't async).

Personally, I feel

[2017-04-05 19:43] Havunen commented on #999
Thanks for comments, I fixed this in dev branch, had to re-arrange some function calls

[2017-04-05 19:49] #999 closed

[2017-04-05 20:40] hguillermo commented on #1007
@trueadm Yes, I did set the state in ``componentWillMount`` because I have my own Provider to pass the data to the components in the SSR process. In the components I use ``this.context`` to access to the data. Unfortunately the ``this.context`` is null in the constructor but later it is available which I don't know if it is a bug or an expected behavior.,
By the way I tried using setState in the c

[2017-04-05 20:43] trueadm commented on #1007
@hguillermo `context` is passed in as the 2nd argument to your constructor. We should probably define it too beforehand though in the base component. Rather than revert that commit, I'd rather `_blockSetState` get set to false after the constructor has been executed.

[2017-04-05 20:45] trueadm commented on #1007
In fact, this is already the case it appears:

https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/utils.ts#L34

I'm confused as to how this error is being thrown if that flag is being set to false.

[2017-04-05 20:47] Havunen commented on #1007
Yeah it sounds like bug or something really strange is happening there, also all our tests pass :/

[2017-04-05 20:51] Havunen commented on #1007
@hguillermo could you debug and check why its giving that error as the flag should be set false immediately after constructor call?

[2017-04-05 20:56] Havunen commented on #1004
Okay I had quick look at this and one of the major issues here is that we cannot do following with typescript:

[code]

because typescript will complain obj can be null. If the code is written like this:

[code]

Then typescript is happy...

[2017-04-05 20:56] Havunen commented on #999
1.6.2 out.

[2017-04-05 21:03] hguillermo commented on #1001
oh I see. I can see those events now. They are not being fired but maybe that is an error in my code. I will debug and keep you posted. Thanks!

[2017-04-05 21:38] hguillermo commented on #1007
@Havunen @trueadm Ok. I will create a fiddler or so soon. Thanks again for all your support guys.

[2017-04-05 22:05] hguillermo commented on #1001
@trueadm I fixed it doing this:
[code]

From the React original code:
[code]
Thanks for all your help.

[2017-04-05 22:37] hguillermo commented on #1007
@trueadm @Havunen Check this fiddle: https://jsfiddle.net/zy4fof9m/6/

You will see that the code does work but if you replace:
[code]
By
[code]
it won't work.

[2017-04-05 22:38] hguillermo commented on #1001
I am going to close this issue. Not an inferno error. Thanks again for all your help.

[2017-04-05 22:55] trueadm commented on #1001
@hguillermo you can use camelCase too, like React – well you should be. It sounds like the issue was the fact your events weren't bound the the class. Were you using `createClass` before in React by any chance?

[2017-04-06 01:30] trueadm commented on #1007
@hguillermo you can't and never should do `setState` in the constructor, ever, that's why!

[2017-04-06 02:59] hguillermo commented on #1007
@trueadm I see! I got confused because I read this: ``Never mutate this.state directly, as calling setState() afterwards may replace the mutation you made. Treat this.state as if it were immutable.``. From this link https://facebook.github.io/react/docs/react-component.html#setstate (at the end). Is that not the case for inferno? Maybe the react documentation is not good?
I am okay if we can use t

[2017-04-06 03:07] luosong commented on #985
Everyone in my team has same error. We use inferno-compat@1.5.3 inferno@1.5.3 inferno-component@1.5.3 works correctly. but 1.5.3 has #974 error (#974 reporter is my team member).
So we need upgrade to 1.5.6.

[2017-04-06 03:08] hguillermo commented on #1001
@trueadm From the react code: ``export default class Slider extends React.Component {``

 and of course in React I have this in the constructor:
[code]
I try that in inferno but it didn't work. I am going to try again. Maybe after many tries and errors I got confused or so.

[2017-04-06 05:25] Havunen commented on #1007
Okay documentation should be improved, you need to initialize state object in constructor but not call setState. Happy that you got your issue resolved

[2017-04-06 05:40] hguillermo commented on #1007
Thank you @Havunen! I guess the only pending thing is the message:
[code]
I got that message when I had setState in componentWillMount(). Maybe we can just update the error message? I suppose after that we can close this ticket if you think it is worth it to modify the message.

Also I remember you were going to include a section in the web site for companies using inferno? I will be happy to add

[2017-04-06 05:56] luosong commented on #985
The issue is invalid. close it.

[2017-04-06 05:56] #985 closed

[2017-04-06 06:07] ggpp224 opened #1008 "componentDidUpdate(prevProps, prevState), `prevState` is not previous State"
version: 1.6.2,
componentDidUpdate(prevProps, prevState), `prevState` is not previous State. the prevState was Changed to current State.

the previous version 1.5.3 is ok.

e.g.
[code]

[2017-04-06 08:37] logvi opened #1009 "currentTarget value always is null in Event object"
Inferno 1.6.0+:
currentTarget value always is null in Event object. I have prepared example component:

[code]

Expected behaviour: currentTarget should be div
It's working properly in Inferno 1.4.0

[2017-04-06 09:47] ul commented on #930
You could verify that issue persists by minimal example in this fiddle https://jsfiddle.net/kh35ugbo/ or by opening locally file from this gist https://gist.github.com/ul/9a8c40285ba9e28ae781a591d2493cbc

[2017-04-06 10:35] ul commented on #930
Ah, sorry, examples try to set lifecycle on element, not components, which is not supported at the moment.

[2017-04-06 12:20] AlgoTrader opened #1010 "Inferno with multiple render roots, the second root is managed by inferno-compat"
I have inferno app that renders into `body > div#root`. I also use `react-portal` for showing modals. react-portal creates the second render root as `body > div`

When the modal closes, it calls `ReactDOM.unmountComponentAtNode(this.node);`  and after it, the inferno removes document's event listener for click event. The modal close is ok, but the "main" application stop to react on clicks.

react

[2017-04-06 13:12] AlgoTrader commented on #1010
The problem is in the following code

[code]
`delegatedRoots.count--` optimistically decrease count. `delegatedRoots.items.delete(dom);` tries to delete root, but it's not in Map.

delegatedRoots.count and delegatedRoots.items.length are getting out of sync. count is 0 but delegatedRoots.items has plenty of numbers!

[2017-04-06 13:20] munkyjunky commented on #662
Can you explain how Flow/TypeScript would replace PropTypes? Surely that would move prop validation from a component to it's parent instead?

[2017-04-06 14:39] TrySound opened #1011 "Fix internal dependencies with tilde"
## Issue Template

**Observed Behaviour**

Inferno is crashed on every minor update and I can't fix dependency because of careted internals.

**Expected Current Behaviour**

https://github.com/infernojs/inferno/blob/master/packages/inferno/package.json#L40

Inferno should fix internal dependencies at least with tilde

**Inferno Metadata**

inferno1.6

[2017-04-06 15:53] MichaelRando commented on #1009
aka #874

[2017-04-06 16:14] IgnusG opened #1012 "onFocus & onBlur don't fire in latest release"
Inferno ignores onFocus and onBlur events entirely.
On 1.6.1 if both were present only the onBlur event fired. On 1.6.2 nothing happens

[code]
`this.doStuff` console.log doesn't output anything on 1.6.2 when focused.
`this.doStuff` console.log only outputs `"Focus is false"` on 1.6.1 when focused

**Expected Current Behaviour**

Inferno should fire the handlers passed to onBlur and onFocus.

**In

[2017-04-06 16:46] hguillermo commented on #1012
@IgnusG if you use onfocus and onblur it should work via not synthetic events. Check this https://github.com/infernojs/inferno/blob/f90018a083807e03d938fe8c16e312090c84fe25/packages/inferno/README.md#event-system. Let me know if it does work for you. I had a similar issue https://github.com/infernojs/inferno/issues/1001

[2017-04-06 16:47] hguillermo commented on #1011
@TrySound Did try inferno 1.6.2? Same issue?

[2017-04-06 16:50] TrySound commented on #1011
@hguillermo I guess not initialized state is passed. Or something similar

[2017-04-06 16:55] hguillermo commented on #1012
@IgnusG Also...are you using "babel-plugin-inferno": "^3.1.0",? An older version was giving me issues

[2017-04-06 18:43] jmhdev opened #1014 "Use of linkEvent in non-synthetic event handling causing unattached event handlers and unexpected data passed to event handlers"
**Observed Behaviour**

Inferno does not:
1) Add event listeners for undeligated (meaning non-synthetic event system) events using linkEvent proceeding first undeligated event to use linkEvent:

Example:
[code]
onmouseover method never fires because it is not attached.

2) The 'data' passed to the final undeligated event will "override" the data from any subsequent undeligated events using linkEve

[2017-04-06 19:51] jmhdev commented on #1012
@IgnusG I just opened issue #1014 a bit ago.  Not sure if this is the source of your issue, but the behavior you are seeing sounds pretty similar. Could be wrong, but I think inferno is automatically converting onBlur and onFocus to non-synthetic events.  In that case, you only seeing Focused = false makes complete sense based on the description I gave in #1014

What happens when you change the or

[2017-04-06 21:56] deamme commented on #1014
I don't know much about this but this seems to work:
[code]

[2017-04-06 22:12] TrySound commented on #1011
There's `--exact` flag in learna for doing this.

[2017-04-06 22:13] jmhdev commented on #1014
@deamme:
Is the dom._data necessary in your method? The original method did that because the eventlistener function results in a call to the _data property of the event target.  Seems like it would no longer be necessary since your method never calls the _data property.

[2017-04-06 22:15] deamme commented on #1014
@jmhdev Yeah you're right.

[2017-04-06 22:20] jmhdev commented on #1014
@deamme: I don't quite know just glancing at the original method, and either your solution or my solution whether they result in any type of memory leak issues if the nextValue.data is an object?  Do these methods create a scoping of nextValue/nextValue.data?

[2017-04-07 05:14] Havunen commented on #1007
"I got that message when I had setState in componentWillMount().". It should be allowed to updated state on componentWillMount can you share code that causes this exception

[2017-04-07 05:29] Havunen commented on #1008
Can you send pullo request with test case please?

[2017-04-07 05:53] Havunen commented on #1008
This sounds like bug, but without steps to reproduce its difficult for me to help.

[2017-04-07 05:54] Havunen commented on #1009
It was removed there, if we want to make it back we need to support different environments. `linkEvent` should replace this.

[2017-04-07 05:54] Havunen commented on #1011
Lets fix deps from next release on, state is not initialized by purpose. as React does not do it either.

[2017-04-07 07:29] ggpp224 commented on #1008
`class Test extends React.Component<{scrollTop?: number}, {scrollTop: number}>{

    constructor(props, context) {
        super(props, context)
        this.state = {
            scrollTop: 0
        }
    }

    componentWillReceiveProps(nextProps) {
        if(nextProps.scrollTop !== 0){
            this.setState({scrollTop: nextProps.scrollTop});
        }
    }

    componentDidUpdate(prevPro

[2017-04-07 07:32] TrySound commented on #874
@trueadm @Havunen It's not only about dataset on element. I use this to have more isolated event handlers. I don't want to pass DOM elements as props to get it size on mouseMove.

[2017-04-07 08:42] TrySound opened #1017 "Uncaught TypeError: Cannot read property 'key' of null"
And again and again and again...

**Observed Behaviour**

Inferno is...

Uncaught TypeError: Cannot read property 'key' of null
    at patchKeyedChildren (patching.js:421)
    at patchChildren (patching.js:200)
    at patchElement (patching.js:86)
    at patch (patching.js:25)
    at patchComponent (patching.js:324)
    at patch (patching.js:17)
    at patchComponent (patching.js:275)
    at patch

[2017-04-07 09:25] AlgoTrader commented on #1010
I failed to make a simple test case, I cannot get the same situation on a simple synthetic test.  I did perf testing and it seems map.size is quite efficient - 180,000,000 in Chrome and 90,000,000 in Firefox on a collection with 10,000 items.

[2017-04-07 12:23] thysultan commented on #1008
Interesting, if this is how it works in React that would mean that React merges the current state into the new state/both into a new object, instead of the current state, which is what Inferno might be doing.

[2017-04-07 12:59] trueadm commented on #1009
We should test if we can set `currentTarget` using a try/catch.

[2017-04-07 14:21] jmhdev commented on #1017
@TrySound Have you been able to isolate the component that the error is stemming from? Does this occur on intial render, after a setState, or some other event?

[2017-04-07 14:44] Havunen commented on #1009
Uh-huh... That is quite a hack :/

[2017-04-07 14:45] Havunen commented on #1017
Steps to reproduce missing :(

[2017-04-07 14:46] TrySound commented on #1017
Yeah, don't have a time yet. I guess I miss key props somewhere.

[2017-04-07 18:26] jmhdev commented on #1009
@TrySound @trueadm @Havunen Is there a reason not to just use the undelegated onclick instead (just for cases where you need access to currentTarget)?

[2017-04-07 18:34] trueadm commented on #1009
@jmhdev you can already do that, just use `onclick` without camel-casing and you get the native browser version. @Havunen try/catch is no longer slow with Ignition/TurboFan in Chrome 58.

[2017-04-07 18:42] MichaelRando commented on #1009
I switched to preact over this. Maintaining React-compatibility is greater value than having to support infernojs breaking differences in the event system from React's. If you could support the React event API and make your special case optimizations opt-in instead of mandatory, it would be better for my use.

[2017-04-07 18:53] trueadm commented on #1009
@MichaelRando I'm confused with this one – Preact doesn't support synthetic events? You can back out of them by using lowercase event names, so it would work like Preact.

Unless you're mixing Inferno up with `inferno-compat`?

[2017-04-07 18:58] MichaelRando commented on #1009
@trueadm So in preact-compat, without synthetic events, my code does not change between React and preact versions. I can create various build targets and performance tests and compare the two. Because w/o synthetic events, the API itself is compatible with React's.

Using lowercase event names is not React-API interchangeable.

As far as I've read, inferno-compat does not include changes to event

[2017-04-07 19:01] trueadm commented on #1009
@MichaelRando Is there any chance you can help us with this?

[2017-04-07 19:11] MichaelRando commented on #1009
It would be my pleasure to help out with respect to testing the platform and debating design decisions. I'm not likely to contribute pull requests since I'm not a contributor here and my work isn't open source compatible.

I think the problem is only partially emulating the React event api.

Maybe the native events should map to camelcase (preact) or maybe currentTarget and the React list of event

[2017-04-07 19:23] trueadm commented on #1009
@MichaelRando I'm happy for you to contribute code here if you can in free time? That's pretty much what the entire Inferno team does anyway. We're not paid for any of this.

I think there are two things:

- fixing `currentTarget` in our synthetic events so it aligns with React/Preact
- discuss if we should still be using delegated events by default

Personally, I'd like to rip out the event syste

[2017-04-07 19:51] MichaelRando commented on #1009
There's

- fixing `currentTarget`, which should be as easy as putting it back and not sweating Safari7
- touch events #1001
- and then the conversation about delegated events or no.

I don't think the event system is detachable; I presume synthetic events fall out of using nodes that are not DOMElements and the reason it works for preact is that it doesn't go that far.

My recommendation is to get

[2017-04-07 19:53] trueadm commented on #1009
#1001 was a non issue as far as I was aware, I couldn't create the issue locally. We can fix `currentTarget` with a try/catch for Safari.

The reason we support both delegated and not is because the usage of one or the other can have big performance impacts depending on how they are going to be used.

[2017-04-08 09:05] Havunen commented on #874
Due to high demand from community for `currentTarget` we will re-introduce it in next release.

[2017-04-08 09:07] Havunen commented on #874
There is guarantee that currentTarget will work in Safari7 or PhantomJS

[2017-04-08 10:07] Havunen commented on #1009
Due to high demand from community for currentTarget we will re-introduce it in next release.

[2017-04-08 10:55] Havunen commented on #1008
Will be fixed in next release

[2017-04-08 11:10] Havunen commented on #1007
This is bug, I have reproduced it now.

[2017-04-08 15:21] teehemkay commented on #928
@Ashot-KR @Havunen

FWIW, I've noticed that code in `inferno/dist-es/*` imports from `inferno-shared`. But shouldn't they instead import from `inferno-shared/dist-es`?

[2017-04-08 15:53] hguillermo commented on #1007
ok. I will debug it and try to put a PR.

[2017-04-08 15:54] hguillermo commented on #1007
nvm. It is fixed! Thanks a lot. I am going to close this issue.

[2017-04-08 15:54] #1007 closed

[2017-04-09 01:06] rkhunter commented on #48
I injected https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/shim.min.js before inferno, and it worked for IE9

[2017-04-09 04:58] AlgoTrader commented on #1003
Plugin major versin should be in sync with Infeno major version. Inferno minor version changes, so npm install update it. npm install do not upgrade to major version of plugin.

That is exactly the reason the Angular 2 become Angular 4.

[2017-04-09 14:17] Havunen commented on #48
you can also use https://polyfill.io/v2/docs/

[2017-04-09 17:22] Havunen commented on #1004
I have found syntax to make this possible. I will implement this for 2.0.0

this syntax makes typescript happy
[code]

[2017-04-10 16:20] IgnusG commented on #1012
@jmhdev I tried it but it didn't work. Nothing happens.

When I removed `linkEvent` though it works:

**Doesn't work**
[code]

**Works**
Outputs blur on blur and focus on focus. Btw. the order of `onFocus` and `onBlur` didn't matter.
[code]

PS: Does the label mean this is going to be released in 2.0? If so when is the estimated release date of it?

[2017-04-10 16:40] Havunen commented on #1012
Yeah that is fixed, it will be available once 2.0 is released. We will change the versioning to match semantic versioning and thus the version bump.

[2017-04-10 19:59] jdhines opened #1019 "Can't resolve 'history/createBrowserHistory'"
Just trying a sample app, and can't get this to work, despite following [what's written in the docs](https://infernojs.org/docs/api/inferno-router):
It gives this error:
[code]

**index.js**
[code]

Where is this `history` module? It's not in `node_modules`.

[2017-04-10 20:25] deamme commented on #1019
You need https://github.com/reacttraining/history, I think..

[2017-04-10 20:27] Havunen commented on #1019
Yeah, I think we can safely move that package to dependency for Router

[2017-04-10 20:38] Havunen commented on #1003
Makes sense, thanks

[2017-04-10 20:38] #1003 closed

[2017-04-10 20:44] #1014 closed

[2017-04-10 22:51] Havunen commented on #1019
New version 3.0.2 released. Closing

[2017-04-10 22:51] #1019 closed

[2017-04-10 22:51] Havunen commented on #1012
New version 3.0.2 released. Closing

[2017-04-10 22:51] #1012 closed

[2017-04-10 22:51] Havunen commented on #1011
New version 3.0.2 released. Closing

[2017-04-10 22:51] #1011 closed

[2017-04-10 22:51] Havunen commented on #1010
New version 3.0.2 released. Closing

[2017-04-10 22:51] #1010 closed

[2017-04-10 22:51] Havunen commented on #1009
New version 3.0.2 released. Closing

[2017-04-10 22:51] #1009 closed

[2017-04-10 22:51] Havunen commented on #979
New version 3.0.2 released. Closing

[2017-04-10 22:51] #979 closed

[2017-04-10 22:51] Havunen commented on #1001
New version 3.0.2 released. Closing

[2017-04-10 22:52] Havunen commented on #1004
New version 3.0.2 released. Closing. Please send PR if you find more types to be added.

[2017-04-10 22:52] #1004 closed

[2017-04-10 22:52] Havunen commented on #1008
New version 3.0.2 released. Closing

[2017-04-10 22:52] #1008 closed

[2017-04-11 01:00] MichaelRando opened #1023 "Inferno setState issue on an Input type component. possibly currentTarget related."
Code is:
[code]
When the setState sets the error field, the currentTarget.value gets reset to initial state instead of containing the new text. I didn't investigate further, but it is a difference from react here.

[2017-04-11 05:10] Havunen commented on #1023
In Inferno currentTarget is reference to DOM node. So I guess value in DOM was resetted?

[2017-04-11 05:12] Havunen commented on #997
Can somebody send PR to move those internal functions into default export also

[2017-04-11 05:19] roastlechon commented on #997
Ah I confused the recent release as to being a fix for this. I just saw that the PR was to fix `getFlagsForElementVnode`.

I will hopefully get to this tomorrow!

[2017-04-11 05:34] Havunen commented on #997
I will do this quickly and release 3.0.3

[2017-04-11 05:38] Havunen opened #1024 "Fix karma test suite IE11 / Safari"
Unit tests are running some ES6 code and thus IE fails into syntax error. Could somebody look into whats wrong with our setup. There should be no issue in Inferno codebase, but in webpack / karma configs.

[2017-04-11 05:42] Havunen commented on #997
Okay. Fixed.

[2017-04-11 05:42] #997 closed

[2017-04-11 14:08] Havunen commented on #1024
it was travis issue, build passing now without any changes.

[2017-04-11 14:08] #1024 closed

[2017-04-11 14:12] Havunen commented on #377
Re-opening as this was never implemented

[2017-04-11 17:23] MichaelRando commented on #1023
Yes. The setState has a long and complicated series of consequences. The currentTarget gets reset somewhere in:
[code]

[2017-04-11 17:32] Havunen commented on #1023
Can you create jsFiddle to reproduce it

[2017-04-11 17:52] MichaelRando commented on #1023
No, I'm at work. I think I've shown enough work for this, clearly the currentTarget is an alias to an element that gets it's props reset on the setState before the pending value change applies. See:
![domelement_snag](https://cloud.githubusercontent.com/assets/1012585/24922981/f418ce0a-1ea4-11e7-968d-600fa8c36995.png)

[2017-04-11 19:26] Havunen commented on #1023
Is it controlled input? Same issue happens with `onclick` listener instead of `onClick` ?

[2017-04-11 19:30] MichaelRando commented on #1023
I believe this style is 'controlled', it the onChange handler where the validation is setting state.
[code]

[2017-04-11 21:16] Darguelles opened #1026 "Inferno-router { Link } Cannot read property 'createHref' of undefined"
I've imported { Link } from 'inferno-router' and this works correctly, but now i need to write a test and start using 'inferno-test-utils', all works but when i test an element with the Link component inside, i get this error:
[code]

I dont know if its because in the test context not exists a Link element, i hope you can show me a propper way to test this kind of components.

Thanks in advance.

[2017-04-12 08:57] kongdigital opened #1027 "Inferno is not firing shouldComponentUpdate [inferno-mobx]"
Inferno is not firing `shouldComponentUpdate` when using `connect` from `inferno-mobx`. If you remove the `connect` from `<IndexRoute component={connect(App)}/>`, `shouldComponentUpdate` fires correctly.

[code]

[2017-04-12 12:40] kongdigital commented on #1027
Thanks for fixing the title.

I found the problem in 'inferno-mobx'. But it makes me think is this behaviour intended? I mean are we meant to delegate the update decision to mobx?

[2017-04-13 12:05] kirill-kruchkov commented on #712
Hi there! Object.defineProperty is needed as well

[2017-04-13 13:02] zerkalica opened #1028 "Bug, can't remove onClick handler in div"
Inferno: 3.0.3
Browser: Chrome 58.0.3029.54
OS: Ubuntu

Problems with onClick handler in div:

[code]

Example: https://jsfiddle.net/bnseuoo7/3/

1. Click on version and see alert
2. Click on button: div will be rerenders without onClick handler
3. Click on version and see alert again - this is a bug

[2017-04-13 13:17] munkyjunky opened #1029 "Child componentWillUnmount called after parent removed from DOM"
While porting an app from React to Inferno I've come across the following:

We have a component that requires listening to an elements resize event. We're using `element-resize-event` for this. When mounting we attach the event listener, and on unmount we remove the listener - adding it via a ref to the DOM element in JSX.

[code]

The issue that is happening is `componentWillUnmount` is being run

[2017-04-13 14:16] Havunen commented on #1028
This is major bug there is typo in removeProp. I will release 3.1.0 now

[2017-04-13 14:33] Havunen commented on #1028
Released 3.0.4

[2017-04-13 14:33] #1028 closed

[2017-04-13 15:00] Havunen commented on #1029
Can you create JSFiddle to reproduce it? Inferno has two ways of unmounting:
- Removing all children of parent  [1,2,3,4,5,6] => null
- Remove few of children  [1,2,3,4,5,6] => [1,3,5]

Maybe one of them is buggy?

[2017-04-14 06:25] Havunen commented on #1029
Possibly its these lines that are causing the issue for you:
https://github.com/infernojs/inferno/blob/d28ccd03e860c72e32503b220dfac1512094bd52/packages/inferno/src/DOM/utils.ts#L182-L184

[2017-04-14 09:40] munkyjunky commented on #1029
I'll try get a js fiddle over to recreate the issue soon (may be 2 or 3 days though sorry). The issue occurred when removing 1 of 2 children from a parent component, and the componentWillUnmount fired in the child after the DOM node was removed

[2017-04-14 14:10] LukeSheard commented on #1026
@Darguelles This is most likely because you haven't wrapped your components in a Router component to provide the context. We could definitely take a PR to check that the context is set here: https://github.com/infernojs/inferno/blob/master/packages/inferno-router/src/Link.ts#L8 or you can change your test and add a simple MemoryRouter around the component

[2017-04-14 15:02] LukeSheard commented on #662
@munkyjunky You can use them in two ways. With Component we have the syntax in TS of
[code]

Where `P` and `S` are the Props and State. This means that when you use  typescript, it will show an error with which of the someProps which aren't of the correct type.

[2017-04-14 16:05] LexRiver opened #1030 "inferno-mobx connect in typescript"
In my ```inferno-mobx/dist/connect.d.ts``` I have the following line
[code]
so when I try to use this function in typescript I'm getting the compilation error.

The correct version of this line should be:
[code]
I don't know why, maybe that is related to typescript compilation.

I think that changing the line
[code]
in ```inferno-mobx/src/connect.ts``` to
[code]
will fix the issue

[2017-04-14 17:54] Havunen commented on #1030
Thank, I will make a change for this.

[2017-04-14 18:00] Havunen commented on #1030
Fixed in dev. Thanks @LexRiver

[2017-04-14 18:00] #1030 closed

[2017-04-15 04:32] Havunen commented on #1027
It looks like it was like this in older version of react-mobx, the newer implementation seems to use user specified sCU when its provided and fallback into its own one.

[2017-04-15 04:36] Havunen commented on #977
PR for this has been merged and no issues reported. Closing

[2017-04-15 04:36] #977 closed

[2017-04-15 04:39] Havunen commented on #815
I did short investigation on this and it seems that mobx is wrapping all functional components with class components to be able to re-render them...

[2017-04-15 04:40] Havunen commented on #815
Basically it means with the current state of mobx integration using functional components is anti pattern

[2017-04-15 04:43] Havunen commented on #793
Btw you can use key to make it force unmount remount just make it number and increase all the time by 1

[2017-04-15 04:46] Havunen commented on #729
Can somebody create simple repository to reproduce this issue

[2017-04-15 04:46] #793 closed

[2017-04-17 14:51] FQ400 opened #1031 "Selected attribute of option tags are not rendered"
**Observed Behaviour**

Inferno is omitting `selected` attribute on `<options>` when rendering into DOM. Even when `selected` was set explicitly.

**Expected Current Behaviour**

Inferno should render the attribute when it is trueish.

**Inferno Metadata**

macOS, Chrome

Here is the repo with the issue: https://github.com/FQ400/inferno-playground
There is only one component (`src/app/components/c

[2017-04-17 15:40] trueadm commented on #1031
@FQ400 I'm not entirely sure I get what you mean. `selected` is a property, so it can be set without it appearing as an attribute on the element in HTML form. Is this issue only for server side rendering or for client side rendering?

[2017-04-17 16:38] FQ400 commented on #1031
The issue is for client side rendering. I was trying to render the [selected attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option).

Does it mean it will never appear?

[2017-04-17 19:22] DoumanAsh commented on #1031
@trueadm Curious fact is that `<option Selected={true}>...</option>` produces `<option selected="">...</option` while `selected={true}` will not produce it.
 Capital seems to matter, but i'm not sure why because it is not documented anywhere

[2017-04-17 19:42] thysultan commented on #1031
In the DOM if you grab an element say `document.querySelector("option")` then check it's `el.selected` property it will reflect whatever inferno has set it to, this may not appear in the developer tools depending on the browsers implementation but the element will have its `selected` property set to what has been set. `<option Selected={true}>...</option>` works because inferno doesn't recognised

[2017-04-17 19:44] trueadm commented on #1031
@FQ400 @DoumanAsh what @thysultan has said is the perfect answer to this. I hope this helps :)

[2017-04-17 19:46] DoumanAsh commented on #1031
I think i tested it some time ago and it didn't work the way @thysultan described.
Let me re-check

[2017-04-17 19:49] trueadm commented on #1031
@DoumanAsh I tried it just now and it worked for me `document.querySelector('option').selected`.

[2017-04-17 19:56] DoumanAsh commented on #1031
Hm... i'm not sure what i'm doing wrong then but here is example:
[code]

But i don't get second option selected. Instead i get first option as selected as if Inferno ignored.
If then i hack my way through using capital letter, i'll get second option as selected.

[2017-04-17 20:08] trueadm commented on #1031
@DoumanAsh Ah, this is indeed a bug. Likely a recent regression too.

@Havunen https://jsfiddle.net/tf4b09nk/

https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/wrappers/SelectWrapper.ts
https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/patching.ts#L772

It appears that because when the `value` property is omitted (i.e. this is an "uncontrolled compo

[2017-04-17 20:12] DoumanAsh commented on #1031
I looked over tests and it misses even such test... I think it might be good idea to add test to catch such regression.

[2017-04-17 20:41] trueadm commented on #1031
@DoumanAsh can you possibly create a PR that adds such test so we can track this forever from now on – that would be amazing and really appreciated! Once you do, I and the team can prioritize this issue and get a bug fix out. Thank you again!

[2017-04-18 06:18] DoumanAsh commented on #1031
@trueadm I created PR to add such test case ( i had issues though to run all tests on Windows, it seems no one is using windows here :) )

[2017-04-18 13:58] vladejs opened #1033 "[example] - Usage with Meteor.js"
Is there a guide to migrate a React + Meteor app to Inferno.js + Meteor ?
I ask because Meteor has its own build tools, so I can't use webpack's guide like creating an alias

[2017-04-18 14:15] Havunen commented on #1033
I have not heard of that, maybe you could ask in our Slack channel?

[2017-04-18 14:23] Havunen commented on #1031
@DoumanAsh what issue did you have? I use windows randomly

[2017-04-18 14:25] DoumanAsh commented on #1031
Hm... Actually it seems to be rather strange:
[code]

[2017-04-18 15:08] Rayraegah commented on #984
@Havunen This is caused by package version mismatch between inferno, inferno-component, and inferno-devtools.

[2017-04-19 08:05] Ashot-KR commented on #1026
@LukeSheard I could create PR. I see 2 options for case, when `<Link />` used without router context:
1. throw an error
2. show warning message in console and render simple link (without router specific props)

Which is more appropriate?

[2017-04-20 09:29] zerkalica opened #1036 "Extract prop-types to separate module"
Extract prop-types from inferno-compat.

Some libraries imports propTypes from separated module, this makes inferno not compatible with react.

[react-flatpickr](https://github.com/coderhaoxin/react-flatpickr/blob/master/lib/index.js)

[code]

[2017-04-20 16:41] kurdin commented on #82
I converted 2 React animations packages to Inferno js. In case if anyone still looking for easy animations for Inferno's single or list components, try those:

https://github.com/kurdin/velocity-inferno
https://github.com/kurdin/inferno-animate.css

[2017-04-20 18:18] Havunen commented on #82
@kurdin Nice work. We could advertise them in website if you want? If you are interested creating documentation please send PR here. https://github.com/infernojs/inferno-website

[2017-04-20 18:20] Havunen commented on #1036
proptypes must be inlined at least in browser bundle.

[2017-04-20 18:53] kurdin commented on #82
@Havunen thanks, I have to do some work right now but maybe later I can create Animations section on inferno website and add documentation.

[2017-04-20 20:57] zerkalica commented on #1036
Yes, webpack alias support, something like this:

[code]

[2017-04-20 22:39] kongdigital commented on #1027
That's what I thought. Let me see if I can fix it.

[2017-04-21 05:14] Havunen commented on #1036
Can you send PR for this?

[2017-04-21 10:58] LukeSheard commented on #1026
@Ashot-KR I would say that when `NODE_ENV !=="production"` that it should do `console.warn` saying that there is no router context and it should just set `otherProps.href = to` and edit the `onclick` prop appropriately as well.

[2017-04-21 11:02] anthony-redFox opened #1038 "onFocusIn/onFocusOut events"
FocusIn and FocusOut doesn't works in inferno. The main issue in browsers Chrome, Firefox and MS Edge which doesn't work with property event (element.onfocusout)

Example focusout -[https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_onfocusout_dom]( https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_onfocusout_dom)

[2017-04-21 11:44] trueadm commented on #1038
@anthony-redFox this sounds like something that you should maybe avoid using if it's not supported properly by browsers? Inferno doesn't try to polyfll events like React does, keeping the filesize down dramatically.

[2017-04-21 12:44] anthony-redFox commented on #1038
@trueadm I don't think that is a browser bug.
Look at the Firefox issue [https://bugzilla.mozilla.org/show_bug.cgi?id=687787#c114]https://bugzilla.mozilla.org/show_bug.cgi?id=687787#c114

**Let's not add onfocusin/out handlers. Other browsers don't have them either.**

I don't found an issue in other browsers about onfocusin/out property.

And I have no way to attach on events in inferno.

[2017-04-21 12:50] trueadm commented on #1038
@anthony-redFox I'm a little confused with your issue. You want `onFocusIn` and `onFocusOut` support, but it's not properly supported in browsers?

I don't think you need this event at all. Can you explain what your problem is, maybe with some code so I can help you find an alternative way to do the same thing? Have you tried using `onBlur` for example?

[2017-04-21 14:32] anthony-redFox commented on #1038
@trueadm  Yes, you right, we have another solution.
But the basic reason why we use onFocusIn and onFocusOut events is **compatibility**. I am working on big enterprise project and move our project on virtual dom way. So, sometimes we need to use different approaches to support the old code.

@trueadm thanks for your time and your work. I close the issue.

[2017-04-22 22:20] kurdin commented on #1036
@zerkalica why is it a problem to use 'prop-types' package? I don't think it depend on react so you can use it with inferno.

[2017-04-22 23:03] zerkalica commented on #1036
@kurdin Just fbjs as dependency and inferno uses own prop-types shim, so better reuse it.

[2017-04-22 23:32] kurdin commented on #1036
@zerkalica You will not reuse anything, inferno does not have prop-types only inferno-compat does, so it would be extra code anyway. Maybe you right about fbjs as extra dependency but I don't think it a big deal (but I want to check it)
There is another package https://github.com/developit/proptypes without any dependencies.

[2017-04-23 09:31] zerkalica commented on #1036
Yes, but inferno-compat provides own prop-types shim, why i need to use any external library, instead of extracting prop-types shim from index.ts to separated file?

IMO, convertation is very bad practice, this is a copy-paste. React is a vendor lock in, but inferno-compat and webpack aliases are the right way here. Convertation acceptable, if you need some low-level inferno optimizations.

[2017-04-23 16:30] FezVrasta commented on #1036
`prop-types` are used only in development bundles AFAIK... Why do you care so much? I would use the same package used by React, which is the same strategy adopted by Preact AFAIK.

[2017-04-23 23:06] kurdin commented on #1036
@zerkalica you right about copy-paste but I don't want to use inferno-compat and inferno on the same page and in 80% of cases you need to change react code (make it simple in some ways) to make it work. So there is no easy solution here. Again, I don't see any disadvantages to use already existed `prop-types` no need to create new one only because it extracted from inferno-compat.

[2017-04-24 08:04] Ashot-KR commented on #1026
@LukeSheard finally found some free time for PR

[2017-04-24 18:42] hguillermo opened #1044 "[New Feature] inferno-router should have onChange event"
I have a component that links to a similar route `` (Example: /video/VIDEO_ID_1/slug-here-1 to /video/VIDEO_ID_2/slug-here-2)`` with a different param id. It would be nice to have an onChange event. onEnter doesn't run for the second route.

[2017-04-24 19:51] hguillermo commented on #1044
It seems like onUpdate works but it is not in the documentation for the router.

[2017-04-24 20:40] kurdin commented on #992
@AlgoTrader I have the same error after update inferno from 1.2.2 to 3.0.5
I have babel-plugin-inferno@3.2.0 did you try latest inferno with SSR and match ?

[2017-04-24 22:03] skicomdev commented on #992
babel-plugin-inferno was not update to latest babel-plugin-inferno@3.2.0 on SSR but only on front-end (different folder) after update everywhere, it start working as expected.

[2017-04-24 22:04] kurdin commented on #992
[solved] babel-plugin-inferno was not updated to latest @3.2.0 on SSR code but only on front-end (different folders) after updates everywhere, match starts working as expected.

[2017-04-24 22:06] #1026 closed

[2017-04-25 08:34] Ashot-KR commented on #1031
@trueadm @Havunen @DoumanAsh i've fond something interesting: https://jsfiddle.net/3o5Lq5a8/1/
If anything(text node or HTML-element node) follows `<select>` element, it renders properly.

This test case will pass
[code]

[2017-04-25 10:44] jhsware opened #1045 "Perform async data fetch prior to transition in router"
I need to perform async data fetching prior to SSR-render of my component. Also, I need the calls to be fired prior to performing any transition in the browser to mimic normal page navigation.

This is related to #881 which when fixed might be the preferred way to do async calls. If not, I would like to suggest the following solution to allow async calls to fetch data before performing transitions

[2017-04-25 13:24] Ashot-KR commented on #1031
@trueadm @Havunen BTW, shouldn't `selected` be added in `booleanProps`?

[2017-04-25 14:16] tkshnwesper opened #1046 "Invoking method after write to DOM"
**Observed Behaviour**

My app is using Materialize/Jquery along with Inferno, and there are some Javascript components in Materialize which require you to invoke a method after the HTML part is in the DOM. I'm trying to find a way of doing that.

For example, [SideNav](http://materializecss.com/side-nav.html)

**Expected Current Behaviour**

In React `refs` would be used to get the element and ex

[2017-04-25 14:29] trueadm commented on #1046
@tkshnwesper Hi, you should still be able to use `ref`, just the callback version. You don't need `findDOMNode`, they're all legacy APIs now. For example:

`<div ref={ domNode => this._myDomNode = domNode } />`

then in your lifecycle even on your component you can access `this._myDomNode` as you would before.

[2017-04-25 15:03] tkshnwesper commented on #1046
No luck with that 😿

Let me post in which case I have made it work (but this is so hacky! :P):

[code]

And the `ref` thing I tried right now

[code]

[2017-04-25 15:10] tkshnwesper commented on #1046
Oh! It worked.
[code]

[2017-04-25 15:10] #1046 closed

[2017-04-25 15:11] trueadm commented on #1046
@tkshnwesper You shouldn't create JSX `<script>` tags. You should use jQuery directly in the lifecycle events.

[code]

[2017-04-25 16:21] Havunen commented on #1031
if we want to render selected attribute then it should not be boolean prop

[2017-04-25 16:35] Ashot-KR commented on #1031
@trueadm @Havunen one more thing after investigation: if `select` has any props, it also renders with selected second option
[code]
-----
It looks like algorithm can't reach [this point](https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/mounting.ts#L115) (where `processSelect` called) because [at this point](https://github.com/infernojs/inferno/blob/master/packages/inferno/

[2017-04-26 13:55] jhsware opened #1047 "Inferno-server fails to render wrapped input component properly"
This test isolates the issue:
https://github.com/jhsware/inferno/commit/22fbc36e4bb492a2c5f3612c92bc900243347709

---

## Issue Template

**Observed Behaviour**

inferno-server renders `<input type="text" selected>`

**Expected Current Behaviour**

Should render `<input type="text" value="foo">`

**Inferno Metadata**

macOS
Server side render

[2017-04-26 15:31] Havunen opened #1049 "Inferno V4 plans"
I created this issue with the purpose of starting discussion on what new functionality we should bring in the next major release.

## Remove normalization
We will at least improve performance even further, this will be done by removing normalization. Main reason behind this decision is that most of the community don't know or don't care what it is and how or when it can be disabled. This should gi

[2017-04-26 15:46] Havunen commented on #1047
I will soon release next version and this will be included.

[2017-04-26 15:46] #1047 closed

[2017-04-26 19:42] doytch opened #1050 "Inferno reuses components with the same key when inappropriate"
When replacing a component with another component that has the same key, Inferno patches or reuses the vnode rather than creating a new one.

This was found when creating a set of tab components that would switch the visible tab when a tab button is clicked. When a component is part of several tab's contents and it happens to have the same key, the component's instance is reused which results in i

[2017-04-26 21:26] kurdin opened #1051 "Wrong component behavior on hydration with SSR"
## Issue Template

**Observed Behaviour**

after SSR component behave wrong after first update.

I have code (pager) with HTML renders on server
[code]
after inferno mounts, if I click next page it goes on next page but second click to next or prev pages makes Pager component thinks I am still on the page that was set on component init.

if you remove component from the page and re-render it back,

[2017-04-26 21:28] trueadm commented on #1051
@Havunen what major changes did we make after 1.3 other than the className stuff?

[2017-04-26 22:04] kurdin commented on #1051
I have this problem in all my list components that updates with new data but onClick event it behaves like nothing updated. Here is another look

![an](https://cloud.githubusercontent.com/assets/6027060/25459146/d885a386-2aaa-11e7-8607-f7daa02b6523.gif)

[2017-04-26 23:33] trueadm commented on #1051
@Havunen wasn't that last bug recently fixed?

[2017-04-27 21:26] kurdin commented on #654
@trueadm @Havunen
Guys, I have same error in inferno 3.0.6 I am working on https://github.com/kurdin/inferno-animate-css and I need find DOM node where to apply animation classes. Everything works on my local demo page, same inferno 3.0.6 but when I import `Animate` component in my real application `componentToDOMNodeMap` is empty and any node is `null`.
`Inferno.options.findDOMNodeEnabled` is `tr

[2017-04-28 04:48] dmitriz opened #1055 "Any functional App example using createRenderer as in the Readme?"
The Readme gives a very brief sketch of how `createRenderer` can be used:

https://github.com/infernojs/inferno#createrenderer-package-inferno

Would it be possible to provide a complete example instead or link to some?

I feel that would greatly help understanding, appreciating the benefits and avoiding confusion.

[2017-04-28 11:56] kirill-kruchkov commented on #895
Hello. The issue seems to be back again starting v1.6 (also reproduced in 3.0.6) with error message "Uncaught TypeError: Cannot read property 'flags' of null" when dispatching redux actions from `componentWillReceiveProps`.

[2017-04-28 12:45] Ashot-KR commented on #1049
How about #928? i'd like to use inferno as es2015 modules in my projects.

I'm in love with it already

[2017-04-29 07:42] oreqizer commented on #1049
Flow types in `flow-typed`

[2017-04-30 07:45] kosiakMD commented on #1033
I have read here https://infernojs.org/docs/guides/installation

`npm install --save-dev inferno-compat`

[2017-04-30 09:55] Havunen commented on #654
no idea, steps to reproduce needed

[2017-04-30 09:57] Havunen commented on #1051
no idea, steps to reproduce needed

[2017-04-30 09:59] #1044 closed

[2017-04-30 10:26] Havunen commented on #1051
is there shouldComponentUpdate ?

[2017-04-30 11:58] Havunen commented on #1031
@Ashot-KR all the code you pasted here seems to work just fine?

[2017-04-30 12:14] Havunen commented on #1031
Ayea, server side tests didn't work without select being in boolean props. Anyway rendering selected attribute is different thing.

[2017-04-30 12:31] Havunen commented on #1031
Released 3.1.0

[2017-04-30 12:31] #1031 closed

[2017-05-01 14:54] kurdin commented on #1051
@Havunen I will try to create isolated example.

[2017-05-02 17:36] gc-victor commented on #1051
I didn't debug the code, but looks like inferno is caching the handlers, and that is why the id is not updated.

[2017-05-02 19:03] kurdin commented on #1049
Can we please add `replace` method on component mount / update. No diffs, no extra code to run, just create new DOM and replace old with new on element. Currently some workaround on update can be done to achieve this, we can supply new `key` attribute with something like `{ Date.now() }` and inferno will create new component on each render. I would like to do component update with DOM replace meth

[2017-05-02 19:13] kurdin commented on #1051
@Havunen @gc-victor I extracted code from our large app server and I could not reproduce this problem locally. Everything works as expected on simple list with pager, but still this problem exists in our main app. Strange. We use some additional libraries, may be they are causing that problem. Will be digging more on this.

if anyone wants to try it out https://github.com/kurdin/inferno-ssr-hydrat

[2017-05-03 16:12] IgnusG opened #1060 "Devtools doesn't seem to update props"
**Observed Behaviour**

Inferno Devtools doesn't update props when changed in the react devtools plugin. It just flashes and reverts to old value.

**Expected Current Behaviour**

Inferno should update the props

**Inferno Metadata**

Chromium
Running Inferno 3.1.0

[2017-05-03 20:43] kurdin commented on #1051
ok, seems to be working now. Not sure what was the problem but I had main application in one folder and shared components in another (root) folder with separate package.json and node_modules. Inferno was loaded from each of folders (twice) if I moved everything together, problem disparaged.

Now, in webpack config I added resolver for shared folder node_modules only, so inferno packages shared acr

[2017-05-03 20:43] #1051 closed

[2017-05-04 11:07] aseem2625 commented on #729
Seems like pretty tight coupling for inferno-devtools and inferno(not sure about inferno-routes). Even 3+ versions for each didn't work unless updated to exact same versions.

My Current working versions:
[code]
Earlier had 3.0.3 for ```inferno``` and ```router``` but it didn't work with 3.1.0 of ```devtools```. So, I had to update to match versions(all latest)

[2017-05-05 17:45] Havunen commented on #1036
3.1.1 released

[2017-05-05 17:45] #1036 closed

[2017-05-07 16:53] LexRiver opened #1070 "inferno router scroll to top"
Hello, what is the correct way to scroll to the top of the page on each route change?
I'm making it right now by adding
[code]
in ```componentWillMount``` in ```Route.ts```

[2017-05-07 18:48] Luke123443 commented on #1070
I think you should run this in the `onUpdate` event of the router, or in the `onEnter` of each page element(i think the first option is much better)

Sources: [here](https://github.com/infernojs/inferno/blob/master/packages/inferno-router/README.md#onupdate-event) and [here](https://github.com/infernojs/inferno/blob/master/packages/inferno-router/README.md#onenter--onleave-hooks)

[2017-05-08 05:03] LexRiver commented on #1070
Oh yes, perfect.
I think this documentation should be on the website also.

[2017-05-08 11:15] Luke123443 commented on #1070
Well on enter and leave hooks are documented

[2017-05-09 20:50] kurdin commented on #974
Same problem with latest version 3.1.1

`onclick={ e => e.stopPropagation() }` works
`onClick={ e => e.stopPropagation() }` does not

is it ok to use `onclick` in this case ?

[2017-05-10 14:48] Luke123443 commented on #1049
What i'd like to see, tough it's not a feautre, is to have separate repository for each inferno project. So split the core, the router, the compat etc, into different repositories, as it is on npm. I think issues would be more focused on the specific problem inside of the specific part of inferno, and the code would be easier to find(not that now it's hard, don't get me wrong). If there's a reason

[2017-05-10 14:52] longlho commented on #1049
@Luke123443 the reasons are pretty much summed up here:
https://danluu.com/monorepo/
https://medium.com/@bebraw/the-case-for-monorepos-907c1361708a
https://www.google.com/#q=monorepo

[2017-05-10 16:22] hguillermo commented on #1070
and yes...it would be nice to update the website documentation.

[2017-05-10 18:11] joelchen opened #1071 "inferno-compat 3.1.1 throws s.getChildContext is not a function"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/inferno.js).
- Check that the i

[2017-05-10 18:32] Havunen commented on #1049
@kurdin yes. I think we could introduce new flag for that purpose, something like always re-create ? But there will still be overhead because we need to support lifecycle events. Anyway V4 should make diffing faster because currently Inferno uses keyed algo by default but that is most likely changing in next version.

[2017-05-10 18:35] Havunen commented on #1071
Thanks for reporting this. It sounds like bug, lets fix it for next release

[2017-05-10 20:00] kurdin commented on #974
@Havunen I will look at your tests. Will try to create sample from this https://jsfiddle.net/6y6z12qv/

[2017-05-10 20:30] kurdin commented on #974
@Havunen I think everything is working as expected.
Problem was I am trying to stopPropagation native click to document from bootstrap library. As you said before, it is not going to work so maybe using `onclick` with lower case is only solution.
If I use `onClick` with alert on parent then `onClick={ e => e.stopPropagation() }` on child stopPropagation works.

https://jsfiddle.net/uvzop6oe/

[2017-05-10 20:59] menberg commented on #1071
Maybe related to https://github.com/infernojs/inferno/pull/1034

[2017-05-11 01:19] avitex commented on #962
Was there any progress made on this issue?
I'm having a similar problem.

**For example:**
[code]

[2017-05-12 05:31] cia48621793 opened #1073 "Support react-optimize"
https://github.com/thejameskyle/babel-react-optimize

transform-react-inline-elements would be a little bit problematic for Inferno I guess?

[2017-05-12 09:14] trueadm commented on #1073
@cia48621793 it wouldn't give Inferno any performance benefit as Inferno's VNodes are not immutable.

[2017-05-12 16:45] Havunen commented on #1073
There are plans to make inferno vNodes immutable in v4.

[2017-05-12 16:47] Havunen opened #1074 "Reduce code duplication in hydration vs mount"
Hydration and mounting has a lot in common, after basics are implemented in v4. Refactor the duplication away to reduce inferno size.

[2017-05-12 16:48] Havunen commented on #1029
Any news?

[2017-05-12 16:50] Havunen commented on #974
Yeah I guess there is nothing we can do here, because if we use `useCapture` mechanism with synthetic events, then regular click events and synthetic events don't trigger in correct order anymore :(

[2017-05-12 16:50] #974 closed

[2017-05-12 19:21] kurdin commented on #974
After doing research I found that the best way is not to try and use `stopPropagation` on html element that was applied before with other frameworks. It is ani-pattern and not going to work well.

So we should do more React way to handle those outside click and trigger some actions when it is detected.

I created simple wrapper to detect outside clicks, there is many options for React, and here is

[2017-05-13 05:10] kanzelm3 opened #1075 "Component state is being updated before componentWillUpdate"
**Observed Behaviour**

Inferno is updating component state too early in the lifecycle. If `this.setState()` is called inside `componentWillReceiveProps()` in response to prop changes, by the time `componentWillUpdate()` is called `this.state` has already been updated to the `nextState`.

Here is a jsfiddle with a simple contrived example: https://jsfiddle.net/ymvqmcf3/

Simply click the button an

[2017-05-14 07:23] ethanresnick opened #1078 "Document size of a bundle with inferno-compat"
The inferno website shows prominently the size of inferno compared to react, but I can't seem to find the size of inferno when `inferno-compat` is also included. This seems like very important information as, for people who want/need to use components from the react ecosystem, the relevant size comparison is between react and inferno + inferno-compat, not just inferno.

[2017-05-14 17:14] Havunen commented on #1078
Could you send PR for this. You can see all sizes by cloning repo and doing `npm run build`

[2017-05-14 17:16] Havunen commented on #1050
Lets try to fix this for V4. Currently I dont think there is any easy way :(

[2017-05-14 17:27] Havunen opened #1079 "Improve test suite"
ATM when running `npm run browser` task the file watcher is working only for test files. It would be nice If watcher would pick up typescript file changes re-compile and re-run tests. Currently this process must be done manually.

[2017-05-15 05:17] ethanresnick commented on #1078
Sure, but I'm a bit confused about how the website is generated. If I just make a PR to update the readme, will those changes be reflected on the site?

[2017-05-15 05:22] ethanresnick opened #1081 "Inferno and Web Components?"
Does inferno work with web components? I know react [largely does](https://facebook.github.io/react/docs/web-components.html). Are there any reasons inferno would work differently? Maybe things with the event system, or whether the virtual dom updates attributes or DOM Node properties, etc? This would be useful to document.

cc @treshugart: maybe you've already looked into this?

[2017-05-15 15:46] munkyjunky commented on #1029
Sorry for the massive delay - had a lot on and not been able to get round to this.
https://github.com/munkyjunky/inferno-1029

See `src/child.js` - I'll update this ticket a bit more later, but if you run that in Chrome and put a debugger in `Child />` `componentWillUnmount` you should be able to see the issue.

[2017-05-15 16:15] treshugart commented on #1081
I'm not sure about Inferno, but if it follows React closely it likely doesn't integrate well. The two main issues with React are:

- No custom event support: https://github.com/facebook/react/issues/7901
- Needs to set props instead of attrs: https://github.com/facebook/react/issues/7249

The issue about attributes vs properties is one that is mostly at fault for thinking that you can't pass compl

[2017-05-15 18:36] munkyjunky commented on #1029
OK so,

Given the below render function, when `this.props.showChild === false` the `componentWillUnmount` of `<Child />` is triggered *after* the node is removed from the DOM. In the example repo I shared it doesn't cause a JS error (as there's nothing touching the DOM directly) but the original bug was when using a 3rd party library that attaches to the DOM this causes issues when attempting to u

[2017-05-15 18:36] ethanresnick commented on #1081
@treshugart Thanks for jumping in. I was aware of those issues with React, but I've also seen your react-integration lib that seems to work around them nicely. Hopefully, someone from inferno can jump in to confirm that it's behavior is the same, in which case the react-integration lib should just work too.

[2017-05-15 18:39] treshugart commented on #1081
@ethanresnick There's also https://github.com/skatejs/val which is possibly a more robust angle to tackle the problem from.

[2017-05-16 02:30] ethanresnick commented on #1081
Good to know about; thanks.

[2017-05-18 21:46] LukeSheard commented on #1078
@ethanresnick The website is in a separate repo (infernojs/inferno-website) so you would need to find the relevant file and update there as well.

[2017-05-19 06:21] rikkertkoppes opened #1083 "className cannot be passed through with props"
"inferno": "^3.1.2",
    "inferno-hyperscript": "^3.1.2"

When I pass a className prop to a component and use those props directly, the passed in className is not rendered

    import Inferno from 'inferno';
    import h from 'inferno-hyperscript';

    function Test1({children, ...props}) {
        return h('div.test1', props, children);
    }

    function Test2({children, ...props}) {
        r

[2017-05-20 07:23] Havunen commented on #1083
This is bug

[2017-05-20 07:31] Havunen commented on #1083
Will be fixed in next release.

[2017-05-20 07:31] #1083 closed

[2017-05-20 07:49] Havunen commented on #1029
This is bug

[2017-05-20 08:05] Havunen commented on #1029
Will be fixed in next release.

[2017-05-20 08:05] #1029 closed

[2017-05-20 08:28] Havunen commented on #1023
@MichaelRando Did you have recyclingEnabled there was bug that input callbacks were not updated correctly when inferno was recycling controlled elements. I wonder if we can close this issue ?

[2017-05-20 08:30] Havunen commented on #1027
I implemented this. It will be available in next release https://github.com/infernojs/inferno/commit/5bafb2e020fd6a7e2ee6036ccb55fa841dabf10a

[2017-05-20 08:30] #1027 closed

[2017-05-20 08:32] Havunen commented on #1055
The doc has been updated https://github.com/infernojs/inferno/commit/d6606490895e2bea3accb8539816c94afd3ef5aa

[2017-05-20 08:32] #1055 closed

[2017-05-20 08:37] Havunen commented on #1060
This is bug

[2017-05-20 09:12] Havunen commented on #1075
This is more like feature atm, I have the feeling that fixing this wont be straightforward. We should improve `inferno-component` and setState logic to match React's as close as possible.

[2017-05-20 09:13] Havunen commented on #1075
Also fixing this will be major breaking change for some people who are depending on this functionality.

[2017-05-20 18:30] MichaelRando commented on #1023
I'm setting no inferno options. recyclingEnabled is default, presumed false. Retested with version 3.2.0; Input fields again are still broken. Code is as seen above. changing `onChange={this.handleChange}` to `onchange={this.handleChange}` does fix the problem.

[2017-05-20 21:06] #628 closed

[2017-05-21 14:16] kanzelm3 commented on #1075
Dang, react-toolbox uses this pattern, so we can't upgrade to latest until this gets fixed. I would definitely consider this a bug, and I wish we could prioritize fixing this before v4. If anyone is relying on this functionality today, it was probably just as a workaround to the bug, but it doesn't seem like others have encountered it as I think I'm the first to report it. If I get some time this

[2017-05-21 15:00] ilyaigpetrov opened #1085 "`linkEvent` Should be Composable"
I think `linkEvent` should be (A) composable and (B) callable:
[code]
More detailed example:
[code]

[2017-05-21 17:49] ilyaigpetrov opened #1086 "Inferno.js Renders New State Only Once"
### What It Does

It renders 3 checkboxes, handles clicks and sets new state with opposite value (checked -> unchecked, e.g.).

### Observed Behaviour

The first click is handled fine -- checkbox changes value to opposite, UI reflects this.
But on subsequent clicks checkbox doesn't change its value.

### Expected Current Behaviour

Checkboxes MUST change its value on click.

### Inferno Metadata

[2017-05-21 18:04] Havunen commented on #1075
yep, is there any chance you @kanzelm3  could take a look at fixing this? Its definitely related to `setState` again,  ping @trueadm

[2017-05-21 18:39] wnr opened #1087 "HTML elements inside foreignObject inside SVG gets wrong namespace"
## Issue Template

**Observed Behaviour**

Inferno is setting the namespaceURI of HTML children `SVG > foreignElement > div/p/etc` to `http://www.w3.org/2000/svg`.

**Expected Current Behaviour**

Inferno should set the namespace of such children to `http://www.w3.org/1999/xhtml`. See React handling of this https://github.com/facebook/react/blob/fe750c9d5daaea8f71a776b80040afc0f088bdb6/src/rendere

[2017-05-21 19:20] Havunen commented on #1023
Okay, I have investigated this issue and this is why it works in React. When event is triggered React starts bookKeeping of all on going events, while any events are active all `setState` calls become async. Inferno handles `setState` calls differently: first is sync - then async. So in the above code example: It will actually change the value back to original value as its controlled form element,

[2017-05-21 19:55] Havunen commented on #1086
Fixed in 3.2.1 https://github.com/infernojs/inferno/releases/tag/v3.2.1

[2017-05-21 19:55] #1086 closed

[2017-05-22 14:24] jpstevens opened #1090 "Controlled inputs not behaving correctly (radio/checkbox)"
For the following code snippet:

[code]

**Observed Behaviour**

Clicking on the rendered checkbox changes it to be checked, even though the `checked` attribute is set to false.

**Expected Current Behaviour**

Clicking on the above checkbox should **_not_** change it to be checked, as it is a controlled component (with the checked value always set to false).

Here is an example of how it works in

[2017-05-22 14:32] trueadm commented on #1090
I believe I saw this before and it's likely due to this line of code:

https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/wrappers/InputWrapper.ts#L75

We should ideally check here if the input is a checkbox and if it is, ignore "value" and instead check the "checked" value here instead as using "value" is incorrect.

@jpstevens is this something you'd be able to help with f

[2017-05-22 14:49] jpstevens commented on #1090
Sure thing, will open PR and make change 👍

[2017-05-22 15:26] Havunen commented on #1090
Please include test also

[2017-05-22 21:50] jpstevens commented on #1090
@Havunen There appear to be two sets of tests that cover checkboxes:

1. https://github.com/infernojs/inferno/blob/master/packages/inferno-create-element/__tests__/mixedFormElements.spec.jsx#L156

2. https://github.com/infernojs/inferno/blob/master/packages/inferno-create-element/__tests__/formelements.spec.jsx#L359

Having read through the specs it doesn't seem like they're really testing what th

[2017-05-23 03:34] kanzelm3 commented on #1075
@Havunen I looked at how React handles this case and made a pretty simple fix for it. I added a test case for this so that it won't get regressed in the future.

https://github.com/infernojs/inferno/pull/1093

[2017-05-23 05:10] Havunen commented on #1090
Yeah thats why I asked for you to include test for it :)

[2017-05-23 05:36] Havunen commented on #1075
LGTM  👍

[2017-05-23 08:42] jpstevens commented on #1090
@Havunen I've looked through the codebase, but can't see any examples of tests that _actually_ change props between renders.

Seeing as you're a contributor who's keen to get more tests added, can you point me in the direction of an example of this being done? ;)

I've tried setting up a naive test like the following:

[code]

Clicking the button should set the state to `checked: true`, making the

[2017-05-23 09:57] jpstevens commented on #1090
FYI, I've figured it out why my tests weren't working correctly.

The issue with the test not working was that I was triggering click events like this:

[code]

That doesn't work. Instead, I had to use:

[code]

[2017-05-23 12:17] sebastiande commented on #963
You could use something like the following code to focus the input

[code]

[2017-05-23 12:21] Ashot-KR commented on #963
@sebastiande thanks, i know.
React sets focus automatically, but inferno has not this behaviour.
Actually the question of this issue is: should Inferno copy this behaviour from React or not?
If answer is "no" then issue can be closed.

[2017-05-23 19:50] wnr commented on #1087
Shouldn't this be viewed as a bug? It clearly violates the statement `This module is a compatibility layer that makes React-based modules work with Inferno, without any code changes.` of inferno-compat. If you think fixing this is a good idea, I could try to submit a PR.

[2017-05-23 20:19] trueadm commented on #1087
I agree, it's a bug and we should resolve it. Isn't it as simple as making `isSVG` `false` when we encounter a `foreignElement` element?

[2017-05-24 01:58] kanzelm3 commented on #1079
@Havunen I took a stab at implementing this, try it out. It works well.

[2017-05-24 03:13] udnaan commented on #963
It's a smart idea to not blindly copy React.

Such differences should be documented for the new comers.

Optionally, a compatibility layer as an add-on might be a good idea, for the cases when the porting effort is too great.

[2017-05-24 08:54] Havunen commented on #1087
Yeah, to have as less impact on performance as possible we could do it so that it is checked only when isSVG is true

[2017-05-24 09:07] trueadm commented on #1087
@Havunen Sounds good to me.

[2017-05-24 09:43] wnr commented on #1087
Great, I'll give it a try :)

[2017-05-24 15:06] uditalias commented on #1008
I think it came back, version 3.1.1
`componentDidUpdate(prevProps...)`
The `prevProps` is same as current props

[2017-05-24 21:18] LukeSheard commented on #1075
Closing from #1093

[2017-05-24 21:18] #1075 closed

[2017-05-24 23:29] iambumblehead opened #1099 "feature request: remove circular dependency"
Hi,

I humbly request that circular dependencies be factored out of inferno. I'm using a build tool that doesn't support circular dependencies and did not encounter an issue until today when I tried using it with inferno,

this shows the circular dependency which starts at utils.js (InputWrapper uses utils' EMPTY_OBJ)
[code]

[2017-05-25 10:40] Havunen commented on #1099
madge shows following circular deps for only Inferno package:
[code]

[2017-05-25 10:42] Havunen commented on #1099
You could work around that by requiring `dist/inferno.js` instead of `index.js`

[2017-05-25 11:09] #1060 closed

[2017-05-25 11:09] Havunen commented on #1060
Will be fixed in next release

[2017-05-25 11:23] Havunen commented on #1075
I misunderstood the issue here originally, but PR has been merged and its fixed. Will be available in next release.

[2017-05-25 11:25] #1079 closed

[2017-05-25 12:17] Omlet commented on #895
I'm getting the same problem as @kirill-kruchkov. Will look into...

[2017-05-25 14:01] rikkertkoppes opened #1100 "Broken build 3.3.0: inferno_1.getFlagsForElementVnode is not a function"
something seems awfully broken in the latest release (3.3.0)

    inferno_1.getFlagsForElementVnode is not a function

A quick look at index.ts reveals that `getFlagsForElementVnode` is not copied on the default export, like the rest. Manually patching it in at least fixes the problem.

I'll investigate a bit further so see where this got introduced, but as the current build is broken, I thought y

[2017-05-25 14:18] rikkertkoppes commented on #1100
Here is your problem:

https://github.com/infernojs/inferno/commit/5444460905ea32d0896f9efc00378818115b6b10#diff-fee328e311a2c470fa1cf3c3a61483d0L42

It works nice in 3.2.2

[2017-05-25 14:19] Havunen commented on #1100
yep, merge errors lets release 3.3.1

[2017-05-25 14:21] rikkertkoppes commented on #1100
I'd say a test to check whether the default export matches the generic export would be easy to implement, no?

[2017-05-25 14:22] Havunen commented on #1100
Regular export has 4 additional exports for typescript

[2017-05-25 14:24] AlgoTrader commented on #1100
I got the same problem!

[2017-05-25 14:30] Havunen commented on #1100
3.3.1 out

[2017-05-25 14:30] #1100 closed

[2017-05-25 20:41] iambumblehead commented on #1099
I"m using inferno-hyperscript, which in turn requires inferno where the circular dependency is introduced

[2017-05-26 05:30] Havunen commented on #1099
Does your build system support aliasing?

[2017-05-26 08:09] AlgoTrader opened #1101 "Hydration of specific SSR generated HTML cause garbage CSR render results"
I several times saw replicated components when CSR tried to patch SSR render. The problem was very difficult to reproduce. Finally, I had to fork Inferno and write my own test to make it reproducible. So, the test case is following:

SSR render is:
```<div><span><div>Hello world</div></span><div><div id="b1">block 1</div><div id="b2">block 2</div><div id="b3">block 3</div></div></div>```

Componen

[2017-05-26 08:22] AlgoTrader commented on #1090
I saw the behavior many times. For comntrolled components in Inferno, you have to re-render the component as soon as model changes as a result of user click.

I do this.forceUpdate() in all checkbox/radio handlers right after updating the data source

[2017-05-26 08:41] AlgoTrader commented on #1101
The history of the bug is following. I use Inferno for SSR where Inferno is really brilliant. I made a big bet on Inferno using it in a quite large foodtech company site.

In big sites, it is quite difficult to make identical SSR and CSR rendering. I like the pure functional components but the dirty earth components often have side effects. In case when SSR and CSR rendering do not match, there ar

[2017-05-26 10:40] ilyaigpetrov opened #1103 "TypeError: Cannot read property 'flags' of null"
Inferno@3.3.1
[code]
#### Details

1. Occurs only when component is updated. If I render component only once without updating it -- no error occurs.
2. It involves a component which calls `props.onNewValue` inside a constructor (but only once, on the first construction).
3. I have a component with conditional children that are updated [here][1]. It is tricky to isolate, sorry.

[1]: https://github

[2017-05-26 12:44] Havunen commented on #1103
This is most likely setState related ping @trueadm

[2017-05-26 12:46] Havunen commented on #1103
I have seen this same issue happening in these cases:

1 - you are updating something that has not yet mounted (invalid usage)
2 - Your application crashed and then that happens after it (Inferno does not recover from runtime exception)
3 - You have some callback (maybe click) and that is callback for higher level component which does setState before child has mounted or something like that

[2017-05-26 12:47] Havunen commented on #1090
Is somebody working on this? We should fix it

[2017-05-26 13:38] Havunen commented on #1103
What you could try is move this:

[code]

Into componentWillMount?

[2017-05-26 13:49] ilyaigpetrov commented on #1103
@Havunen thanks, componentDidMount worked for me!
Meanwhile I composed [an isolated reproduction](https://jsfiddle.net/ilyaigpetrov/ds95qh33/) (quite large though).

[2017-05-26 16:07] AlgoTrader commented on #1101
Rendering result formatted reveals some funny effect:

[code]
The component render is 'almost correct' but it has exact copy of itself nested one level deeper. I am 99% sure the problem is in in `hydrate` function. hydrate try to make it's work good, but sometimes it just do double work cloning existing DOM elements

[2017-05-26 21:23] Omlet commented on #1103
@Havunen This is similar to #895 in that it occurs (for me) when dispatching actions.

[2017-05-27 02:14] iambumblehead commented on #1099
I added aliasing and inferno is working in my app but not fully...

I was using virtual-dom with innerHTML to render svg elements, but I'm unable to do this with inferno

My issue looks similar to this one, I'm tring to render a use tag with an 'xlink:href' attribute

https://github.com/infernojs/inferno/issues/156

[2017-05-27 06:39] Havunen commented on #1099
Ultimately, we should still remove circular dependencies, but that would need re-design of files / folders

[2017-05-27 07:38] Havunen commented on #1101
This seems to be all about SSR content not matching CSR and that causes the issues. Lets cross verify how React behaves in given scenario

[2017-05-27 08:22] Havunen commented on #1101
@AlgoTrader thanks for the test cases, I found the bug in hydration. This will be fixed in next release. I also added your test cases as part of Inferno to avoid regression. https://github.com/infernojs/inferno/commit/e109752926ae5c034757fa6150f9f9ab9b988e1b

[2017-05-27 08:22] #1101 closed

[2017-05-27 08:23] Havunen commented on #1087
Thanks @wnr your PR has been merged and will be available in next release. Closing.

[2017-05-27 08:23] #1087 closed

[2017-05-27 08:29] Havunen commented on #1103
@Omlet Does the dispatch start with event? If so then its related to `setState` issue, and need to be fixed in v4

[2017-05-27 09:17] Havunen commented on #1090
I added bunch of tests and fix for this, could anybody verify did I miss something is it now as it should be? Keep in mind I have not used React extensively before. TBH: I dont know why it was comparing value for checkbox... here is the commit https://github.com/infernojs/inferno/commit/5b0a8a82eb34b22ac1bd3f1f32e037be106406e6

[2017-05-27 14:28] Havunen commented on #1090
@AlgoTrader can you look into this please? Also fixed the SSR issue you had, would be nice if you can verify those then we could make new release.

[2017-05-29 09:39] AlgoTrader commented on #1090
I will try. The controlled controls are stateless. The should be just several test cases:

- <input type="checkbox/radio" value={false}> should be disabled no matter what
- <input type="checkbox/radio" value={true}> should be enabled no matter what
- when disabled, click should call onChange with new value but DO NOT change current input state
- when enabled, click should call onChange with new va

[2017-05-29 16:02] pygy opened #1105 "Problem when removing the `value` attr of a `select`."
When removing the value of a `select` element, Inferno is setting the value to `""`. If an `option` has `""` for value, that item will be selected instead.

**Expected Current Behaviour**

Inferno should set the value to `null`.

Plain DOM illustration: http://jsbin.com/femulidire/edit?html,js,console

Note that I'm not an Inferno user, I noticed this while studying the source code to see how you

[2017-05-31 00:34] loriensleafs commented on #729
The inferno devtools don't work in Chrome Canary for me, but they do work in Version 58.0.3029.110 (64-bit).

[2017-05-31 02:59] kanzelm3 opened #1106 "setState should not be blocked in componentWillUnmount"
**Observed Behaviour**

Inferno is setting `instance._blockSetState` to true inside the `unmountComponent` function and it is causing problems with some perfectly valid use-cases.

https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/unmounting.ts#L47

**Expected Current Behaviour**

Inferno should not block setState inside `unmountComponent` before `componentWillUnmount` is c

[2017-05-31 03:52] rpsirois opened #1109 "defaultValue property of input not set"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
**^ CDN is broken link**
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/infern

[2017-05-31 11:02] LukeSheard commented on #1106
What are the use cases that we want to allow `setState` from `componentWillUnmount`? To me this seems like something we should have a difference with React from.

[2017-05-31 14:42] mohammedzamakhan opened #1110 "Should participate in hnpwa"
**Observed Behaviour**

Inferno is not showcased on hnpwa.com, where you see other frameworks and libraries participating in pwa.

**Expected Current Behaviour**

Inferno should participate

[2017-05-31 16:20] ilyaigpetrov opened #1111 "utils.js: "The node to be removed is not a child of this node""
[code]
Seems similar to a fixed #117.
It will take some time before I provide an isolated reproduction.
Let me know if you don't need it — it may save me hours of work.

[2017-05-31 19:00] ilyaigpetrov commented on #1111
[Here](https://jsfiddle.net/ilyaigpetrov/4uyryp5t/) is a reproduction. Please, take a look.

[2017-06-01 09:24] ilyaigpetrov commented on #1111
I bypassed the bug by removing wrapping div in  `<div>{props.children}</div>`.
Not what I want, but at least I can work further on my project.

[2017-06-01 17:30] Havunen commented on #1109
We have basic support for defaultValue property, are you using Server side rendering or client side?

[2017-06-01 17:30] Havunen commented on #1110
I think we had short discussion about this in slack and somebody started working on it...

[2017-06-01 17:36] rpsirois commented on #1109
Client

On Jun 1, 2017 11:30, "Sampo Kivistö" <notifications@github.com> wrote:

[2017-06-01 17:36] Havunen commented on #1106
Seems like its used for things when you want to render something before component is removed from DOM... well its bad practice but I guess we must merge this.

[2017-06-01 18:08] kanzelm3 commented on #1106
I agree it is bad practice, but it's a practice that is (rarely) used in other OSS projects. Thanks for understanding!

[2017-06-01 19:06] Havunen commented on #1109
Yep, lets add support for this.

[2017-06-01 19:27] Havunen commented on #1106
This will land in 3.4

[2017-06-01 19:27] #1106 closed

[2017-06-01 19:34] Havunen commented on #1109
Support will land in 3.4

[2017-06-01 19:34] #1109 closed

[2017-06-01 19:37] rpsirois commented on #1109
Thank you, sir.

[2017-06-01 20:03] Havunen commented on #1071
Fix will land in 3.4

[2017-06-01 20:03] #1071 closed

[2017-06-01 20:05] Havunen commented on #1105
Fix will land in 3.4

[2017-06-01 20:05] #1105 closed

[2017-06-01 20:06] Havunen commented on #1090
Fix will land in 3.4

[2017-06-01 20:06] #1090 closed

[2017-06-01 20:23] Havunen commented on #1109
If you want to test out upcoming release you can install inferno-packages using `next` -tag
for example:
[code]

[2017-06-01 20:23] Havunen commented on #1106
If you want to test out upcoming release you can install inferno-packages using `next` -tag
for example:
[code]

[2017-06-01 20:23] Havunen commented on #1105
If you want to test out upcoming release you can install inferno-packages using `next` -tag
for example:
[code]

[2017-06-01 20:23] Havunen commented on #1101
If you want to test out upcoming release you can install inferno-packages using `next` -tag
for example:
[code]

[2017-06-01 20:25] Havunen commented on #1090
The release of 3.4 is mostly delayed because of testing this task. If you guys can help out testing the changes done to form elements that would be great help! You can install upcoming version by using `next` tag.

[code]
@jpstevens @AlgoTrader

[2017-06-01 20:26] Havunen commented on #1087
If you want to test out upcoming release you can install inferno-packages using `next` -tag
for example:
[code]

[2017-06-01 20:27] Havunen commented on #1071
@menberg @joelchen  If you want to test out upcoming release you can install inferno-packages using `next` -tag
for example:
[code]

[2017-06-01 21:41] LukeSheard commented on #1105
I think that this is incorrect. If you check this JSBin then you see that `sel` still retains its value as `''` despite having the value set to be null. I think this is more of a userland issue / we should be manually changing the `selectedIndex` value.

http://jsbin.com/barabofeze/edit?html,js,console

[2017-06-01 23:20] pygy commented on #1105
@LukeSheard The getter always returns `''` when the selectedIndex is `-1`.

http://jsbin.com/zenumitaqe/edit?html,js,console

If you set `el.value = ""` when the vdom `attrs.value` is removed, you can select an option whose value is the empty string. Do you think that it would be an appropriate behavior?

[2017-06-02 08:03] ilyaigpetrov commented on #1111
@Havunen I see! Thanks for your explanation.
I wish Inferno's error messages were better in such cases.

[2017-06-02 13:52] IgnusG opened #1114 "inferno-test-utils null element not handled properly"
**Observed Behaviour**

Inferno Test Utils doesn't handle Null Elements properly when searching with `findRenderedDOMElementsWithClass`.

Example code for Component
[code]

Example code for testing using Jest:

[code]
The received message is: `TypeError: instance.dom.getAttribute is not a function`

Stacktrace:
[code]

This no-op component is used for example in `incompose`

**Inferno Metadata**
I

[2017-06-02 16:45] Havunen commented on #1111
@ilyaigpetrov well thats true, we could and should implement proper error message when unmount same children twice (DEV only)! Its good idea. Could you send PR for this?

[2017-06-02 16:45] #1111 closed

[2017-06-02 18:51] LukeSheard commented on #1114
Test case added from this issue in 2eb9844. Check `inferno@next` and the fix should be there!

[2017-06-02 18:51] #1114 closed

[2017-06-02 19:33] Havunen commented on #1049
I'm moving this epic to v5. We are trying to create one more fully stable major version branch before going into topics discussed in this thread. V4 will be Long Time Support version (1year?) and we will try to minimize the differences to React v15. (fe. setState) Also we are planning to include latest versions of Redux/Mobx integrations with release v4 as well as go through all plugins under Infe

[2017-06-02 19:49] LukeSheard commented on #1081
Inferno should work exactly the same way as React for Web Components as commented above there are numerous options around this though, so I will close this.

[2017-06-02 19:49] #1081 closed

[2017-06-02 21:14] kanzelm3 opened #1116 "Feature request: "orphaned" DOM nodes"
**Observed Behaviour**

Inferno is (correctly) now removing content of SSR nodes that have DOM children but their vNodes do not have children (https://github.com/infernojs/inferno/blob/be39b4471e404c2998ed72439c4254d83e070730/packages/inferno/src/DOM/hydration.ts#L102)

**Proposed Behavior**

Inferno should add support for "orphaned" DOM nodes so that sites that need to allow third party vendors t

[2017-06-03 08:04] rafaelkallis commented on #949
@trueadm @LukeSheard Prettier supports typescript now. https://github.com/prettier/prettier/releases/tag/1.4.0

[2017-06-03 12:24] LukeSheard commented on #970
I've ported the tests over correctly and validated they work. If we built a small demo app we could validate the render with karma. That's as far as I've got for automation.

[2017-06-03 12:25] LukeSheard commented on #1017
Any update on a reproduction?

[2017-06-04 11:15] Havunen commented on #970
Sounds good :)

[2017-06-04 15:55] ddibiase opened #1117 "Issue with onInput for selects (IE10)"
Using the latest 3.4 build of Inferno, seems to be experiencing an issue on IE10 and below regarding select elements.

## Issue Template

**Observed Behaviour**

Inferno seems to be ignoring the onInput hook even though it works correctly in Chrome, Safari and FF. onInput is triggered as soon as a new selection is made. Upon changing the hook to onChange the hook fires correctly on all browsers.

[2017-06-05 07:57] Oscar-ren opened #1118 "How to pass props/state through Link Component"
Sorry, i don't find some issues about my program.

I use inferno to write a blog system, there are some blog href, I wan't to use Link to pass some state like
[code]

**Observed Behaviour**

children component don't have prop `this.props.location` or `this.props.state`, I can't receive the state

**Expected Current Behaviour**

I expected I can receive the state to render the children component

*

[2017-06-05 09:11] sxwebdev commented on #117
Hello. I have a similar problem. With what it can be connected? How to fix it?
thx.
![capture](https://cloud.githubusercontent.com/assets/3129246/26777979/fc53403c-49e7-11e7-971e-bd8eb953dcc0.PNG)

[2017-06-06 15:54] koellcode commented on #1001
Hi there! Have the same problem here. We are  using "nuka-carousel": "^2.0.4" and migrated from preact to infernojs recently. The problem is even there with "inferno": "^3.3.1" respectivly "inferno-compat": "^3.3.1". The mouse events seems to work, but on mobile devices the touchevents are not even registered. Is that maybe a regression or smth? or more like an inferno-compat issue?

[2017-06-06 17:23] koellcode commented on #1001
To verify, I swapped inferno-compat with preact-compat. And the touch events are properly registred in the EventListener section -.- (and working fine). Did I miss something that InfernoJS is not supported on Touch Devices? 🤔

[2017-06-06 20:05] Havunen commented on #1001
@koellcode Can you track down the issue you are having? PR would be nice :)

[2017-06-06 22:42] devongovett opened #1120 "className is not accessible on props with inferno-compat"
**Observed Behaviour**

When using `inferno-compat` to create an element, the `className` prop is not returned as part of the resulting node's `props` object. Instead, it is a property on the node itself. Possibly related to #959.

[code]

This causes issues with some react libraries that depend on `className` being in `props`. For example, [react-overlays](https://github.com/react-bootstrap/react

[2017-06-06 22:50] LukeSheard commented on #1120
@devongovett If you're comfortable doing so I think this should be an easy PR. If not a PR with some tests would be great and I'd be very happy guiding you through a fix?

[2017-06-07 02:00] devongovett commented on #1120
@LukeSheard should we fix in `inferno-compat` or `inferno` itself?

[2017-06-07 08:16] koellcode commented on #1001
@Havunen I've tried to write a failing test for it. Sadly come not that far ... will try to make a gist with inferno starter after work today

[2017-06-07 08:32] LukeSheard commented on #1120
@devongovett I think it should definitely go in `Inferno-compat`

[2017-06-07 16:18] phuo1032 commented on #1120
@LukeSheard what do you suggest is the best way to fix this without breaking inferno (non-compat)?

I believe this is where the className prop is used

https://github.com/infernojs/inferno/blob/master/packages/inferno-create-element/src/index.ts#L45

This module is used in inferno and inferno-compat. We may add a flag to createElement so it knows it's calling from compat. Would you please recommen

[2017-06-07 19:25] phuo1032 commented on #1120
By the way I was trying to build the dev branch before I make my change. And I am getting the following error during npm install

[code]

[2017-06-07 23:06] abirmingham opened #1121 "TSX element properties are not type-checked"
**Observed Behaviour**

Inferno is not supporting type-checking for [value-based](https://www.typescriptlang.org/docs/handbook/jsx.html) element properties in tsx files. This can be seen in [inferno/inferno-typescript-example's issue 8](https://github.com/infernojs/inferno-typescript-example/issues/8). In that issue I mention that I'm unsure whether the problem is configuration, inferno, or TypeSc

[2017-06-07 23:23] LukeSheard commented on #1120
@phuo1032 This should be in `inferno-compat` as we don't want to corrupt the core inferno codebase with compatibility functions. My suggestion would be writing a statement inside the `inferno-compat` version of `createElement` that handles if the props have `className` and directly mutate the VNode object.

[2017-06-07 23:28] LukeSheard commented on #1070
Closing this as it should be in infernojs/inferno-website

[2017-06-07 23:28] #1070 closed

[2017-06-08 14:42] uditalias commented on #1116
+1

[2017-06-08 20:52] phuo1032 commented on #1120
Any advice on the installation error I am getting from the dev branch?

[2017-06-10 07:44] Havunen commented on #1120
@LukeSheard has fixed this in dev, it will be available in next release.

[2017-06-10 07:44] #1120 closed

[2017-06-10 17:11] LukeSheard commented on #1118
Right now we don't assign the props that you pass into link onto the children components see (https://github.com/infernojs/inferno/blob/master/packages/inferno-router/src/Link.ts#L6) so the behaviour you're describing is expected. However what you can do is render those children with the props you want. I.e.

[code]

Where `prop` is that variable that you have in your code example. I hope this ans

[2017-06-10 17:11] #1118 closed

[2017-06-10 17:16] LukeSheard commented on #1033
I've not see any examples of integrating React / Preact / Inferno with Meteor. This would be best for Slack / I asked the author or Preact if he had seen any examples in his world (https://twitter.com/SheardLuke/status/873589230341173250).

[2017-06-10 17:19] LukeSheard commented on #973
This should be fixed with the latest release of `create-inferno-app` and `inferno@3.4.3`. Reopen if it's not!

[2017-06-10 17:19] #973 closed

[2017-06-10 17:21] LukeSheard commented on #958
@pvnr0082t How can we add the other packages from Inferno to cdnjs?

[2017-06-10 17:29] LukeSheard commented on #1117
Checking MDN it looks like this is actually expected behaviour and must be a quick of the implementation in other browsers. https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/oninput

[2017-06-10 17:29] #1117 closed

[2017-06-10 18:47] pomle commented on #1017
This seems to happen to me when I `.map()` over an Immutable.js `List`.

Error:
[code]

No error:
[code]
Attaching error screen from a `create-inferno-app` project.

!screen shot 2017-06-10 at 11 44 49 am](https://user-images.githubusercontent.com/1315639/27005374-533f8f16-4dd2-11e7-9a7f-bd7bf6b3eb5b.png)

[2017-06-10 19:36] LukeSheard commented on #1121
I'm actually going to wrap this up into #686 and close this issue to consolidate.

[2017-06-10 19:36] #1121 closed

[2017-06-10 19:38] LukeSheard commented on #919
Since this seems to be fixed. I'm going to close this issue. Feel free to reopen if there's something I've missed.

[2017-06-10 19:38] #919 closed

[2017-06-10 20:01] LukeSheard commented on #1045
Sorry that we haven't replied to this for a while. The Router hasn't had a lot of love recently and this would be a great PR! How is this different from the `onEnter` / `onLeave` hooks that we have already though?

[2017-06-10 20:04] LukeSheard commented on #1017
@pomle a small reproduction would be very helpful. I think this might be related to #1103 but without a small reproduction this is hard to isolate.

[2017-06-10 20:11] LukeSheard commented on #928
ZAq@teehemkay If you're resolving `inferno:main` as your entry point in something like web pack then `inferno-shared` will refer to `inferno-shared/dist-es`. Since we now support the `inferno:main` tag for ES6 I'm going to close this. If people still have strong opinion about this feel free to reopen.

[2017-06-10 20:11] #928 closed

[2017-06-10 20:19] LukeSheard commented on #881
I'm going to merge this with #860 since it would solve these issues.

[2017-06-10 20:19] #881 closed

[2017-06-10 20:20] LukeSheard commented on #984
I guess this should be fixed in 3.4.3 now? Reopen if not.

[2017-06-10 20:20] #984 closed

[2017-06-10 20:20] LukeSheard commented on #1005
Similar to #984 this should be fixed by 3.4.3 because of the version mismatch.

[2017-06-10 20:20] #1005 closed

[2017-06-10 20:22] LukeSheard commented on #891
@MichaelRando Is this still failing?

[2017-06-10 20:23] LukeSheard commented on #874
As @Havunen said, this should have been fixed now. If it's not then please reopen.

[2017-06-10 20:23] #874 closed

[2017-06-10 20:52] pomle commented on #1017
@LukeSheard here ya go: https://github.com/pomle/inferno-key-error-repo

[2017-06-10 21:04] pomle commented on #1017
@LukeSheard I think this is the "culprit". It checks is a node is exactly an Array. React supports iterables I believe.

https://github.com/infernojs/inferno/blob/2f487302f9da098a50b0605e97d115e3c4d6dfa0/packages/inferno/src/core/normalization.ts#L43

[2017-06-10 21:34] MichaelRando commented on #891
The test case I constructed for this appears to work. It's throwing console errors that might be a bug on:
[code]
but I cannot attribute that to inferno. It's just as likely a result of time's passage grinding down unmaintained code.

[2017-06-10 22:03] ruiaraujo commented on #891
@MichaelRando That is a bug in inferno and preact related with refs.

[2017-06-11 20:09] rosenfeld opened #1127 "[question] should shouldUpdateComponent hook be considered a hint?"
[this is the same question I made to Preact authors here: https://github.com/developit/preact/issues/728]

Hi, I'd like to apologize myself upfront if this is not the proper place to ask questions, but I couldn't find any discussion group or so. Slack doesn't seem to be publicly searchable. Please let me know where I should ask such questions.

This is what React says about shouldUpdateComponent:

[2017-06-11 20:27] Havunen commented on #1127
There are no plans to change shouldComponentUpdate behavior. Somebody was asking quite similar feature recently. It was mainly about hydration but concept is same. Basically we could add some special vNode flag / attribute to ignore those elements in diff process. Its slightly related to this feature request:

https://github.com/infernojs/inferno/issues/1116

[2017-06-11 22:58] rosenfeld commented on #1127
Great to hear @Havunen. It is very important when widely adopting some library that we are able to decide where it starts (by passing the element to render() in these vdom alternatives) and also to be able to determine where it stops (which the current behavior of shouldComponentUpdate allows us to). I'm closing this since it's essencially the same as #1116 request.

[2017-06-11 22:58] #1127 closed

[2017-06-12 13:13] rosenfeld commented on #1127
I also asked this question to the React team in case you are curious about it: https://github.com/facebook/react/issues/9926

[2017-06-12 14:09] jhsware commented on #1045
@LukeSheard no worries! onEnter is called after initial render so I don't think it works with SSR (and I want to mimic normal browser behaviour in the client = fetch first, then transition).

Using getComponent could be another solution, but I figured asyncBefore was easier to understand and allows the developer to perform parallel data fetching and handle download progress any way they want.

I'd

[2017-06-12 17:31] phuo1032 commented on #1120
Thanks a lot!

[2017-06-13 00:29] thomas-jeepe commented on #686
Any updates on typescript jsx support?

[2017-06-13 00:40] longlho commented on #686
Sorry I have not got time to work on this
On Mon, Jun 12, 2017 at 8:29 PM thomas-jeepe <notifications@github.com>
wrote:

[2017-06-13 09:26] kosiakMD commented on #1033
@LukeSheard On Meteor Official Tutorials there is React Tutorial. Same will be for Preact/Inferno.
Just Migration from React to Inferno if it exists.

[2017-06-13 09:56] AlgoTrader opened #1132 "Exception in hydration"
Inferno 3.4.3. Hydration again, SSR and client render differ

![image](https://user-images.githubusercontent.com/1556262/27077033-84797896-5037-11e7-9521-2a6defd60e23.png)

![image](https://user-images.githubusercontent.com/1556262/27077247-1550b834-5038-11e7-9e43-6a06fe67fb2c.png)

The bug is shown when server renders some component (Map in my case) but client has more information and decide to r

[2017-06-13 11:44] Havunen commented on #1132
Can you create steps to reproduce this error please?

[2017-06-13 13:41] AlgoTrader commented on #1132
Sampo,

Please do the following:

1) open site *https://bb8.foodfox.ru <https://bb8.foodfox.ru>*
put login '*dev*' and password '*m9D9zaTPqdPTZRHy*'
browser should rembeber password to work properly

2) put the key fullAddress to localStorage from console (site should be
bb8.foodfox,ru)
*localStorage.fullAddress='{"geoPoint":{"lon":37.623488,"lat":55.703628},"addressShortString":"Варшавское
шоссе,

[2017-06-13 16:44] Havunen commented on #1132
Hi, I added test case for this, fixed it and released 3.4.4

[2017-06-13 16:44] #1132 closed

[2017-06-13 16:50] AlgoTrader commented on #1132
Thanks a lot!

[2017-06-13 16:55] AlgoTrader commented on #1132
I have just tested the fix. It works great!

2017-06-13 19:45 GMT+03:00 Sampo Kivistö <notifications@github.com>:

[2017-06-14 07:12] #949 closed

[2017-06-14 08:43] PWesterdale opened #1135 "RenderToSnapshot - incorrect reference to vNode.props?"
**Observed Behaviour**

Inferno is currently breaking on snapshot test functionality. looking at the code
[code]

I believe vNodeToSnapshot should be passed `vnode.children` not `vnode.props.children`.
A crude amendment to the compiled javascript appears to fix my issue.

I have a repo exhibiting the behaviour here:
https://github.com/threadstudios/threadbare/tree/feature/test

**Expected Current

[2017-06-14 09:10] AlgoTrader opened #1136 "Inferno 3.5.0 and controlled checkboxes and radio"
Controlled inputs like type='checkbox' or type='radio' generate the onClick events but do not fire onChange events. This is my fault also, I checked the onClick only in https://github.com/AlgoTrader/inferno-controls.

[2017-06-14 10:04] AlgoTrader opened #1137 "Inferno 3.5.0 Hydration bug, patching hydrated text nodes"
The test case is following:

server renders empty span like `<span className="error"></span>`.
client makes hydration and then patch the same span with some text. As a result there is exception in the code:

![image](https://user-images.githubusercontent.com/1556262/27126667-ed03e26a-5100-11e7-82f4-f3ff29d82ad9.png)

The problem is that firstChild is null because server returned empty span and hyd

[2017-06-14 12:37] Silviu-Marian opened #1138 "Converting from HTML string to vNodes"
Hello

What's the best way to convert from an HTML string to vNodes? Do we have any utilities to facilitate this?

Thank you

[2017-06-14 12:40] Havunen commented on #1137
I have not checked the call stack, but I hope there is better way to solve this than adding null check there.

[2017-06-14 12:44] Havunen commented on #1138
Hi @Silviu-Marian

Can you explain what is the use-case for this? You can render HTML string inside node using dangerouslySetHtml (it internally uses innerHTML method) NOTE: It is possible security hole and slow.

https://infernojs.org/docs/guides/components  See  Inject HTML Helper - section

[2017-06-14 12:49] Havunen commented on #1136
@AlgoTrader Can you send PR for this functionality it might be something related to these lines:
https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/wrappers/InputWrapper.ts#L94-L96

[2017-06-14 12:50] Havunen commented on #1136
You can also test if `onchange` works instead of `onChange`, just to narrow down the case here.

[2017-06-14 13:00] LukeSheard commented on #1138
While this is extremely dangerous. It is possible if you were to port something like Preact Markup to Inferno. https://github.com/developit/preact-markup

[2017-06-14 13:01] Silviu-Marian commented on #1138
Wow that's a fast reply  :D

My use case is a collaborative contentEditable. An existing (prod) database has all the content saved as HTML strings, and the problem is that setting innerHTML on each external event is too slow for real-time collaborative editing

I was thinking
	- receive HTML, strip comments, convert to vNodes
	- MyEditor accepts and mounts vNodes instead of HTML
	- when new vNodes

[2017-06-14 13:25] PWesterdale commented on #1135
After speaking to @LukeSheard I will PR tests and a fix if required this evening.

[2017-06-14 16:26] AlgoTrader commented on #1137
Why not just use `dom.textContent = text`?

[2017-06-14 16:43] AlgoTrader commented on #1136
for checkboxes, both onChange and onchange work. For radio neither work

[2017-06-14 17:13] AlgoTrader commented on #1136
My research is following

1) dom handlers are installed correctly
2) onchange for radio does not generated due to manipulations with value, if I comment out applyValue(nextPropsOrEmpty, dom) onChange start work for initially enabled radios

It seems applying changes is somewhat incorrect. Radio inputs are unique that `value` usually never changes, only checked 'changes'. They have both checked and

[2017-06-14 18:11] LukeSheard commented on #1138
@Silviu-Marian We do not have a package for converting DOM structures to VNodes apart from Hydration from server side rendering. I don't imagine that we will ever support something from Inferno code but you're welcome to look at our hydration code and use it to create an OSS package yourself. There are plans to make for a slightly more open API that might allow something like this more easily down

[2017-06-14 18:16] LukeSheard commented on #1137
@AlgoTrader as far as I remember `createTextNode` is much quicker than `textContent`.

[2017-06-14 18:46] AlgoTrader commented on #1137
I just need it working

[2017-06-14 19:03] Havunen commented on #1137
@AlgoTrader  nodeValue is one of major performance tricks to make inferno fast, we need to find another solution to not compromise performance.

[2017-06-14 19:04] Havunen commented on #1137
I have not looked into stack trace yet. I can do it next weekend.

[2017-06-14 19:13] Havunen commented on #1136
@AlgoTrader can you contribute fix to Inferno? PR would be nice. I can look into these issues, but the thing is that I have my hands full of other work.

[2017-06-14 19:36] AlgoTrader commented on #1136
I will try my best

[2017-06-14 20:27] Silviu-Marian commented on #1138
I've read through the hydration code. It was a good read and I realized that `contentEditable` would be the only use case if I push for this.

The other problem I noticed is that it would only work if the altering part doesn't modify `EventListener`s

I'll go with [diffDOM](https://github.com/fiduswriter/diffDOM) for now. Thank you very much for your input. Support around this project is amazing

[2017-06-14 20:27] #1138 closed

[2017-06-14 21:41] #970 closed

[2017-06-15 14:41] dexx086 opened #1141 "Inferno.cloneElement is not working on standard HTML elements?"
**Observed Behaviour**

`Inferno.cloneElement` method seems ignoring props for standard HTML elements (like <textarea>, <input>, etc.), however works as expected on custom components that extends Inferno.Component.

Because after calling `Inferno.cloneElement(this.props.children, {className: "newclass"});`, the returned element has the original props, and the given props parameter is simply ignore

[2017-06-15 14:44] Havunen commented on #1141
Hi @dexx086  thanks for reporting this issue. This sounds like bug, I will look into this.

[2017-06-15 15:37] LukeSheard commented on #1135
Should be fixed in the next release thanks to #1139 !

[2017-06-15 15:37] #1135 closed

[2017-06-15 16:10] Havunen commented on #1141
I have added test cases and fix for this. It will be available in next release.

[2017-06-15 16:10] #1141 closed

[2017-06-15 19:01] dexx086 commented on #1141
Hi @Havunen , wow, that was a fast reaction and fix too!! :)
I've already checked it, and works! Thank you for your time.

[2017-06-16 05:46] kongdigital commented on #1050
This took me days to debug. I thought it was the other libraries I was using but it turns out I have a similar issue.

Basically in `patchKeyedChildren(a, b ...)`, if a =[1,2] and b=[2] the result is the props from 2 get passed to 1 and 2 is unmounted. I'lll see if I can create a fiddle.

[2017-06-16 08:26] dexx086 opened #1144 "cloneElement makes Inferno to render 'classname' property in DOM"
**Observed Behaviour**

This issue relates to #1141 however the problem is now with the rendered DOM element itself. In the related issue's sample jsFiddle, the rendered textarea get into the DOM with these attributes:

`<textarea classname="red" class="red"></textarea>`

Somehow, the 'classname' property gets rendered into the final DOM element which is unwanted.

I made a new [jsFiddle](https://

[2017-06-16 09:24] AlgoTrader commented on #1136
I face serious troubles with Inferno way of working with controlled components. Inferno rely on the assumption that input's onClick and onChange may cause input's props change. Right after calling callback we check if the props changed and try to apply them. We should not do it. If parent component will change its state, then it will schedule input's render and we will get new props in 'normal way

[2017-06-16 11:36] Havunen commented on #1136
I believe those test cases were cross verified with React, could you check React JSFiddle to verify that?

[2017-06-16 14:47] jhsware commented on #1045
@LukeSheard I have completed a solution for this with tests and docs, how should I submit it for review? There is a **v4-wip** branch and then the regular **dev** branch.

[2017-06-16 15:52] Havunen commented on #1144
Fixed in dev

[2017-06-17 07:01] caseyWebb opened #1145 "Typescript declaration for inferno-component is broken"
"typings" property in package.json points to the wrong file. It should be "dist/inferno-component.d.ts", but is "dist/index.d.ts"

Presumably this affects all inferno packages.

[2017-06-17 08:38] Havunen commented on #1145
HI @caseyWebb , Thanks for reporting this issue.

Is this something you could fix / test?, if so please send PR. I think it was caused by recent build changes in v3.5.0. ping @LukeSheard

[2017-06-17 09:08] dexx086 commented on #1144
Thank you, it was again a superfast fix :)

[2017-06-17 18:30] ilyaigpetrov opened #1146 "Inferno's onChange Fired Before Checkbox State Changed"
**Observed Behaviour**

In plain html checkboxes has `onclick` and `onchange`. `onclick` is fired before `onchange` and __after__ `input.checked` is mutated but you may cancel this mutation by calling `event.preventDefault()`. `onchange` is fired __after__ `input.checked` was mutated too but you can't cancel it via `event.preventDefault()`.

In current inferno@3.5.2 `onChange` is fired __before__

[2017-06-17 18:34] ilyaigpetrov commented on #1146
The desired behavior worked in the previous 3.2.0, but 3.5.2 broke my UI.

[2017-06-17 19:49] Havunen commented on #1146
@AlgoTrader Did you investigate this? How should it work?

[2017-06-17 20:44] caseyWebb commented on #1145
I can try 😃

[2017-06-19 09:47] AlgoTrader commented on #1146
Sampo,

I have lot's of stuff at my work. I have fixed the code, but I would like
to check it in React. It would be great if we could run black box Inferno
tests against both Inferno and React.

Anton

2017-06-17 22:50 GMT+03:00 Sampo Kivistö <notifications@github.com>:

[2017-06-19 14:17] oleksiipysanko opened #1148 "onInput focus lost on text input bind to redux"
**Observed Behaviour**

Inferno is not retaining focus on an input field.

I'm using `inferno-redux` to implement a simple form changing behavior. The form itself is a dumb component which dispatches actions to the store on `onInput` and `onSubmit` events.

Code:

[code]

I'm using it inside a smart component which is connected to the store in order to process user input.

Code:

[code]

The probl

[2017-06-19 16:08] Havunen commented on #1146
I think @LukeSheard  was working on getting React running againts Inferno tests so we could cross verify more quickly / easily

[2017-06-19 16:09] oleksiipysanko commented on #1148
I'm observing a strange behavior of `onChange` event as well. If I use it instead of `onInput` with form, action dispatches after field unfocus which is fine. But if I use `tab` to switch to the next field it doesn't focus. I've tested plain form html without events/values - tab switch works

[2017-06-19 17:31] oleksiipysanko commented on #1148
* Important note: * A smart component which contains form extends `inferno-component` and is wrapped with `inferno-redux`

After running more tests I've noticed that in the case of bound property update component not re-renders, but re-creates itself (a constructor gets called) in most cases. I'm not sure, but it can be a problem since a completely new input gets created and loses focus as a resul

[2017-06-19 22:31] bradrogers2 opened #1149 "calling forceUpdate on a component will call shouldComponentUpdate before render"
**Observed Behaviour**

Inferno is calling `shouldComponentUpdate` when `forceUpdate` is called. According to react's documentation it should be skipped: "Calling forceUpdate() will cause render() to be called on the component, skipping shouldComponentUpdate()."

**Expected Current Behaviour**

Inferno should not call shouldComponentUpdate when forceUpdate is called.

[2017-06-19 23:27] #1145 closed

[2017-06-20 05:36] kongdigital opened #1151 "Inferno 3.5 Typescript"
Hi,

I updated to 3.5 by accident and noticed Typescript returning a bunch of errors at me. It appears it cannot find the typings for inferno. After downgrading all inferno packages to 3.4 everything is back to normal. Did something change in the way Typescript is setup for 3.5?

[2017-06-20 07:19] LukeSheard commented on #1151
Please read the issues and pull requests before creating new issues. This was already fixed in dev last night (https://github.com/infernojs/inferno/pull/1147).

[2017-06-20 07:19] #1151 closed

[2017-06-20 12:26] oleksiipysanko commented on #1148
Sorry for bothering, the problem was in an app structure and not inferno.

For anyone struggling with the same issue: check your `redux` connected components hierarchy. I had an `inferno-router` connected to redux store which re-created `Route` components

[2017-06-20 12:26] #1148 closed

[2017-06-20 19:48] #1144 closed

[2017-06-20 20:49] Havunen commented on #1149
This will be fixed in next release!

[2017-06-20 20:49] #1149 closed

[2017-06-21 08:13] AlgoTrader commented on #1146
The controlled input's behavior is now not correct. It was incorrect in 3.2 also.

In 3.5.x onChange is called when the checkbox was reset to current props value. Workaround is to use onClick, the value in onClick is correct.

Cancelling click for controlled input's is nonsense. Controlled inputs can ignore both onClick and onChange  and in the case input is not toggled.

[2017-06-21 21:03] iambumblehead opened #1153 "inferno@3.6.0, inferno/dist/inferno.js is minified"
inferno@3.6.0, inferno/dist/inferno.js is minified

my build has relied on the unminified version of this file and is unable to use the minified version.

[code]

expected sources found in 3.3.1, inferno.js is unminified, and inferno.min.js is minified
unexpected sources found in 3.6.0, there is no difference between inferno.js and inferno.min.js

[2017-06-22 05:19] Havunen commented on #1153
Yep. This was caused by 3.5 build related changes, I have fixed it to v4dev its actually trivial fix. You can send PR or I can also port the change. Basically just add environment="development" uglify="false" into the yms:build:dev script

[2017-06-22 12:08] plievone opened #1154 "babel-plugin-inferno equivalent as a TypeScript custom transformer"
Both webpack ts-loader and awesome-typescript-loader now support TypeScript custom transformers, so it could be a good time to start sketching out a [babel-plugin-inferno](https://github.com/infernojs/babel-plugin-inferno) equivalent for .tsx (without needing to pipe to babel).

Example transformer: https://github.com/TypeStrong/ts-loader/blob/master/test/comparison-tests/customTransformer/upperca

[2017-06-22 12:38] longlho commented on #1154
Yeah transformers won't be stable till 2.4 which is in RC right now
On Thu, Jun 22, 2017 at 8:08 AM plievone <notifications@github.com> wrote:

[2017-06-22 19:14] iambumblehead commented on #1153
@Havunen thanks for the response. If you ask me to make PR I'll make one, but otherwise I'm happy to wait and continue using 3.3.1 for now.

[2017-06-23 08:43] Havunen commented on #1153
Ok I can fix it this weekend.

[2017-06-23 12:27] LukeSheard commented on #1153
@iambumblehead I can merge if you want to submit a PR.

[2017-06-23 23:43] LukeSheard commented on #1153
Fixed in 3.6.1

[2017-06-23 23:43] #1153 closed

[2017-06-24 20:44] IgnusG commented on #761
@Havunen Has this been integrated into inferno?

[2017-06-25 10:25] Havunen commented on #761
@IgnusG I dont think so, somebody could port it.

[2017-06-25 11:15] IgnusG commented on #761
@Havunen Could you reopen the issue?

[2017-06-26 06:08] nikitaMe1nikov opened #1156 "[inferno-router] cache(or save) DOM"
What should I do to cache(or save) DOM of same page? Because it's too slow to restore the entire list, especially on mobile. And remove from the cache when pop in history. I can of course use the modal but it will be without router logic.

[2017-06-26 07:10] Havunen commented on #761
Sure, but its not so relevant to main Inferno repository

[2017-06-26 21:11] LukeSheard commented on #1156
This is a very vague question that I'm not sure entirely what you're asking, could you possibly expand on what exactly you want to achieve?

[2017-06-27 05:25] nikitaMe1nikov commented on #1156
When navigating forward in browserHistory there is a destruction of the component on the previous route and creation of the component on the next route. What should I do to disable the destruction. Because it's too slowly on the mobile to create a component and to restore the state (scroll, etc.) of the component, when navigating backwards.

[2017-06-27 20:25] iambumblehead commented on #1146
I am having this issue as well.

If I render two checkboxes, one with inferno and another using innerHTML, the inferno checkbox state can never be changed --the innerHTML checkbox works as expected.

[2017-06-27 20:56] iambumblehead commented on #1146
rendering a checkbox this way reproduces the issue
[code]
'checked' must be true

[2017-06-28 15:38] Havunen commented on #1137
This will be fixed in 3.6.2

[2017-06-28 15:38] #1137 closed

[2017-06-28 15:55] Havunen commented on #1146
Related to #1136

[2017-06-28 15:57] Havunen commented on #1074
We discussed this in Inferno team and we could also move Hydration into its own package, as not everybody needs its functionality.

[2017-06-29 20:17] oleksiibilous opened #1157 "Error: Can't resolve './dist' in '/node_modules/inferno-redux'"
I've just updated `inferno-redux` to the version `3.6.3` and now I'm getting the error `Error: Can't resolve './dist' in '/node_modules/inferno-redux'`. There is no such error with the version `3.6.1`

[2017-06-30 12:46] mcjazzyfunky opened #1158 ""Ref" callback not called when corresponding dom element is removed"
Using:
https://unpkg.com/inferno@3.6.3/dist/inferno.js
https://unpkg.com/inferno-component@3.6.3/dist/inferno-component.js

Please have a look at the following demo:
https://jsfiddle.net/gcmsyjxz/

It shows "Foo" for one second and then it switches to show "Bar" for one second and so on.
Now please open the Browser's JavaScript console:
You'll see that the corresponding "ref" callbacks are called

[2017-06-30 13:47] Havunen commented on #1158
This is currently expected behavior in Inferno. Because there is actually only 1 div all the time, and it's never removed. Instead it "patches" it according to `vNode`.

The current logic is so that when `vNode.type` (which is either `"div", "span" or Function(class/pure)`) or `key` changes, we do actual `unmount` - `mount` logic otherwise we just patch it. We have had discussion about this and th

[2017-06-30 19:17] mcjazzyfunky commented on #1158
Thank you very much, Sampo/Havunen, for your answer and the detailed information you gave.

Just FYI - these two examples show how React and Inferno behave quite differently regarding DOM element ref callbacks and patching (see JS console output and "dots" in JSFiddle output window):

React:
https://jsfiddle.net/4w0280r2/

Inferno:
https://jsfiddle.net/wf0fnkno/

[2017-06-30 22:25] Anchakor commented on #1157
I just have a same error after doing upgrades from:
`    "@types/node": "^6.0.51",
    "@types/redux": "^3.6.0",
    "source-map-loader": "^0.1.5",
    "ts-loader": "^1.3.0"`
to:
`    "@types/node": "^8.0.7",
    "@types/redux": "^3.6.31",
    "source-map-loader": "^0.2.1",
    "ts-loader": "^2.2.1",
    "webpack": "^3.0.0"`
with:
`    "inferno": "^3.0.6",
    "inferno-component": "^3.0.6",
    "i

[2017-06-30 22:58] Anchakor commented on #1157
However I have to say I have this issue only with inferno-redux, not any other inferno modules.

[2017-07-01 00:02] Anchakor commented on #1157
OK, I can confirm the issue is with inferno-redux 3.6.3 as this is what I actually I have installed with npm.
**The dist directory contains only the index.d.ts file.**

[2017-07-01 08:20] Havunen commented on #1157
Thanks for specifying the issue @Anchakor I will make new release today

[2017-07-01 08:25] Havunen commented on #1158
@mcjazzyfunky Yep. Inferno has been working like that as long as I know.

[2017-07-01 09:02] Havunen commented on #1157
Released 3.6.4 https://github.com/infernojs/inferno/releases/tag/v3.6.4

[2017-07-01 09:02] #1157 closed

[2017-07-01 18:32] nikitaMe1nikov opened #1159 "inferno-apollo import in the main repo?"
There is a port https://github.com/zanettin/inferno-apollo of the react-apollo. Whether it is possible to import it to the main repository?

[2017-07-02 07:12] sijad commented on #1154
2.4 is out now, is there anything I can help with?

[2017-07-02 10:41] billel-boudchicha commented on #486
Material-ui@next v1.0.0alpha 20,  works great with inferno.
We are using it in our project made with inferno

[2017-07-04 07:18] AlgoTrader opened #1160 "Can you please actualize changelog?"
I have to inspect merges in order to understand what changed in recent releases

[2017-07-04 12:04] Havunen commented on #1160
Are you referring to this change log? https://github.com/infernojs/inferno/releases

[2017-07-05 06:36] jhsware commented on #1159
This would probably at least require some tests to be added. The current target is 88% test coverage.

[2017-07-05 07:14] nikitaMe1nikov commented on #1159
Also current realization needs optimization because it is based on inferno-compat. But there is not much code

[2017-07-05 08:13] LukeSheard commented on #1159
I’m personally of the opinion this shouldn’t be in the main repo, but I could be in the minority of the contributors. If anyone else has strong opinions it is I will leave this open, else I will close it in a day or two.

[2017-07-05 08:27] AlgoTrader commented on #1160
I mean https://github.com/infernojs/inferno/blob/master/CHANGELOG.md

[2017-07-05 12:13] Havunen commented on #1160
That is automatically built using commits, maybe you can use the one I linked?

[2017-07-05 16:04] logvi opened #1162 "Testing with Jest and snapshot. renderToSnapshot function doesn't include className"
Testing with Jest and snapshot. renderToSnapshot function doesn't include className.
Example:
[code]

Shanpshot will look like that (without className):
[code]

[2017-07-09 11:03] LukeSheard commented on #1162
This is a one line fix, you can just add `node.className` into the object [here](https://github.com/infernojs/inferno/blob/master/packages/inferno-test-utils/src/jest.ts#L26) and it should be added. Please do submit a PR with some test cases!

[2017-07-09 11:06] LukeSheard commented on #1160
I've updated the changelog. @Havunen It's as simple as running `npm run changelog` after we publish git tags.

[2017-07-09 11:06] #1160 closed

[2017-07-09 11:08] LukeSheard commented on #1159
Closing this now.

[2017-07-09 11:08] #1159 closed

[2017-07-09 12:31] Havunen commented on #1160
Yes I know that, I thought the issue here was about changelog being list of commits instead of actual changes

[2017-07-10 10:13] aseem2625 commented on #1045
@jhsware
Have to tried this [approach](https://stackoverflow.com/questions/34392988/async-data-flow-in-react-app-with-redux-reactrouter/34955577#34955577)

[2017-07-10 11:36] jhsware commented on #1045
@aseem2625 That is literally the solution that I have implemented. It's been around since the first version of React Router and works well for a variety of use cases.

[2017-07-10 11:46] aseem2625 commented on #1045
@jhsware Yeah, so what I noticed is that you've written kind of a wrapper. So, why do we need a wrapper unnecessarily?  I mean, solution in the link I gave(which you also implemented) is easy to put in and also inferno originally tends to be minimal right! So, those who are using infernojs for SPA, won't be needing this, isn't it?

What say? 😄

[2017-07-10 12:47] jhsware commented on #1045
@aseem2625 I haven't written a wrapper-API AFAIK. The PR I have submitted implements the same technique that was suggested in your link and is minimally intrusive and 100% backwards compatible. I don't think I understand your question?

[2017-07-10 20:56] LukeSheard commented on #1162
Fixed in #1165

[2017-07-10 20:56] #1162 closed

[2017-07-10 20:57] LukeSheard commented on #591
I'm pretty sure I've merged this now.

[2017-07-10 20:57] #591 closed

[2017-07-10 20:58] LukeSheard commented on #798
I think most of these issues should be fixed by now? Closing for now unless there are more problems.

[2017-07-10 20:58] #798 closed

[2017-07-10 20:58] LukeSheard commented on #832
Closing as a wont fix.

[2017-07-10 20:58] #832 closed

[2017-07-10 21:00] LukeSheard commented on #1156
I don't believe there's a way to do this currently. You could enable recycling by settings `Inferno.options.recyclingEnabled = true` in your code though to enable caching of VNodes by the DOM manager. Otherwise I don't believe this is a feature we'd currently go towards supporting.

[2017-07-10 21:00] #1156 closed

[2017-07-11 20:58] Havunen commented on #1154
I had a really quick look at this yesterday, I believe its do-able but we would need to copy paste some functions from typescript main repo as they are not exposed :/ In The end its all about copying JSX related code from main TS repository and replacing React related things with Inferno equilevants Babel-plugin-inferno is good source for that.

[2017-07-12 10:24] Oscar-ren commented on #791
Hi, I find this issue also in the no-ssr program, there is the code
[code]
First, the `post.date` is undefined, there will be rendered `<div className={postListStyle.date}></div>`, the div.firstChild is null.

Then, I change the `post.data` value and rerender the component, browser will be throw an error

![image](https://user-images.githubusercontent.com/9464221/28113263-7d0953ca-672e-11e7-8aa2-a

[2017-07-12 10:32] Oscar-ren commented on #791
Sorry, I used inferno@3.3.1, then I update to the lasted inferno@3.6.1, this program is fixed.

Maybe other people will have the same problem, so I don't delete my commet, thanks

[2017-07-17 03:10] rainyday opened #1166 "Builds development build when using browserify even when NODE_ENV=production"
**Observed Behavior**

Inferno gives the following error when built with gulp and browserify with NODE_ENV set to production:

[code]

**Expected Current Behavior**

I should not be getting this error since I'm building my application with NODE_ENV set to production and I do not get this error when building the same project using React.

Here's a snippet of my gulpfile:

[code]

[2017-07-17 16:26] billel-boudchicha opened #1167 "access child methods from parent via ref"
i want to access a method from a child component 'class' from parent component via function ref, when i console.log i get everything except the methods:
`<Child
					ref={node => {
						this.childNode = node;
					}}
				/>`

`class Child extends Component {
	method1(arg) {
		....
	}
	render() {...}`
is that normal behavior ?
thank you

[2017-07-17 18:08] IgnusG commented on #1167
To be honest I think that behavior is desired? If anything it makes the parent too dependent on the child which I would say is bad practice

[2017-07-17 19:57] billel-boudchicha commented on #1167
@IgnusG yes i think that too, to be honest i don't need it in my current project , the reason why i ask for is because i took material-ui/Drawer.js component and convert it to inferno (not npm install the whole lib which am not using), and they are calling method on the Child component 'Overlay.js' using ref to change the **opacity**
and i made a change to the component and using  : `InstanceRef._

[2017-07-17 23:07] LukeSheard commented on #1166
On the face of it this looks like you've not setting the variable `process.env.NODE_ENV` in your bundling, event though you've set it in the script you're using the bundle. seems like you need something like this https://github.com/hughsk/envify in your bundler.

[2017-07-18 01:12] mienaikoe opened #1168 "Request for Documentation on aliasing react to inferno for third-party react modules server-side"
The documentation for inferno-compat covers how to install for the purposes of using require('react') or require('react-dom') in client-side code with Aliasify. It doesn't seem to cover how to do that for server-side code (Aliasify is specifically for browserify, which is specifically for client-side code).

I've been hacking away trying to get this to work, as inferno works for everything else, b

[2017-07-18 01:36] mienaikoe commented on #1168
So it turned out to be relatively simple, but it requires some changes to your workflow:

browserify has a flag called `--node` that can be used to create node-run code bundles. that means you can use Aliasify in server-side as well.

`browserify --node -g aliasify {SRC_SERVER_CODE} > build/{RUNNABLE_SERVER_CODE}`

[2017-07-18 16:45] Havunen commented on #1167
Using component instances `._vNode` property is bad practice as this API is not considered public and might disappear any day. Also `vNode.dom` will disappear in inferno v4 when we start using Internal vNodes (Fibers). To me it sounds better idea to pass function callback down the component tree or add public function into child component which uses `ref` to get reference to DOM object

[2017-07-18 20:53] mienaikoe commented on #895
Also getting this problem. Seems to happen only when navigating from route to route for me. Happens even when I use the back button.

[2017-07-19 14:24] billel-boudchicha commented on #1167
@Havunen **add public function into child component which uses ref** is better . thankx
closing it .

[2017-07-19 14:24] #1167 closed

[2017-07-20 16:54] bgnx opened #1169 "Performance issue"
Inferno does unnecessary appendChild or insertBefore operations. In this example https://jsbin.com/maduwejuqo/1/edit?html,js,output for two moves and one append Inferno does 3 insertBefore operations and 1 appendChild

[2017-07-20 21:35] #1169 closed

[2017-07-21 04:33] kenny1har opened #1171 "Option "value" is not rendered correctly"
[code]
"value" props is not rendered in renderVNodeToString()

Please see the PR code.

[2017-07-21 04:36] #1171 closed

[2017-07-21 15:56] mienaikoe opened #1173 "[Request] inferno-router pathRankSort should not be so heavy-handed"
inferno-router has been pretty dependable, but i've got a particular issue that I can't really solve because pathRankSort doesn't allow me to use my own route sorting method. I see what you're trying to do with it. More "specific" routes should come first because they're more likely to match. However, you get into spooky routing behavior when you have routes like this:

    <Route path="/me" />

[2017-07-23 14:27] unsafecode opened #1174 "Testing w/ inferno-compat"
## Issue Template

**Observed Behaviour**

When testing components that reference `react`-based components (like `react-bootstrap` ones), Jest reports `Cannot find module 'react' from <whatever>`. It looks like `inferno-compat` is not taken into account when testing.

Additionally, trying to _patch_ Jest configuration in `package.json` like described for Preact (https://github.com/developit/preact

[2017-07-23 20:20] LukeSheard commented on #1174
I assume here that you're using `create-inferno-app`, in which case it's probably an issue with the `jest.config.js` file which doesn't take into account the web pack alias which are setup. This probably belongs there but you could checkout the create-inferno-app repo or if you can modify the jest config try alias the modules there.

[2017-07-24 08:54] unsafecode commented on #1174
@LukeSheard Exactly, I'm using `create-inferno-app`. Will look into that.

[2017-07-24 21:31] LukeSheard commented on #1174
Closing this now due to the open issue.

[2017-07-24 21:31] #1174 closed

[2017-07-26 11:35] peeterkask opened #1176 "Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
When trying to clear Inferno app root `Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.` error is thrown.

While converting legacy application to Inferno I have only some modules rendered using Inferno. They are rendered into their own DOM elements. When the module is not active anymore this DOM element gets cleared using `Inferno.render(null, targetEl

[2017-07-26 18:19] iambumblehead opened #1177 "Question / Feature Request, --Is there a recommended way to browser-publish a vtree over a server-rendered document that avoids rerender of iframe and video elements?"
Is there a recommended way to browser-publish a vtree over a server-rendered document?

I would like to avoid reloading/rerendering iframes or videos included in server-rendered documents, but they are reloaded when the browser app publishes the first vtree. Would you recommend a way of dealing with this problem?

[2017-07-27 20:13] andrewvmail opened #1178 "Using inferno inside angular"
Just wondering what is the best approach to migrate an angular 2 app to inferno. Did anyone every try it? or is it better to just do a complete re-write. I wonder if it is it possible to use the same approach like this https://github.com/LookLikeAPro/Angular-2-React-Example and slowly migrate?

Thanks
A

[2017-07-27 21:11] FQ400 commented on #1178
I guess this depends strongly on your use case.
What backend serves the angular2 app? Can it serve a page loading a different framework? If so you could apply a new framework per route.

[2017-07-27 21:35] andrewvmail commented on #1178
@FQ400 its actually a hybrid cordova app. so i cant serve different scripts from the backend per route...

[2017-07-30 04:05] ethanresnick opened #1179 "inferno-router: add withRouter function or equivalent"
react-router offers a function, `withRouter(component)`, which returns a higher-order component that renders its argument with various properties from the router (location, params, history, etc). This makes accessing the route info more convenient in components that are further down in the tree (no need to work with, or for the component to even know about, `context`). More importantly, though, [r

[2017-07-30 07:50] Havunen commented on #1177
Somebody needs to investigate why it happens and how we could avoid it. @iamdumblehead can you do it?

[2017-07-30 19:06] iambumblehead commented on #1177
@Havunen I did a small investigation and have a few ideas. I would be glad if you would recommend an approach.

I'm specifically seeing the issue in content rendered through __html (innerHTML). For example, this causes .blog-article to rerender when published to a document with same content,

[code]

This does _not_ cause .blog-article to rerender,

[code]

Is there already a solution in the infer

[2017-07-30 21:52] ethanresnick commented on #1179
Update: I actually tried this (i.e., creating a connected component with inferno-redux that depended on the router context), and the component seemed to re-render fine when the router context changed. This made me think that inferno-redux's connect function may be generating a less aggressive shouldComponentUpdate than the normal react-redux does. Is that right? Is it a problem?

Note: withRouter

[2017-07-31 09:48] iambumblehead commented on #1136
I commented out applyValue(nextPropsOrEmpty, dom); as @AlgoTrader discusses above.

I tried commenting-out [this call to stopPropagation][0]. I tried commenting-out or disabling all onchange functions. I'm still unable to check or uncheck a checkbox :(

Any ideas?

[0]: https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/wrappers/InputWrapper.ts#L54-L55

[2017-07-31 15:02] jadok opened #1181 "Event on div fire on child Element when not specified"
## Event on div fire on childElement

**Observed Behaviour**
An event function is triggered on a child element of the one I specified catching the Infenro event.

**Expected Current Behaviour**

Inferno event should only be triggered on the one spiecified, not its childs elements.

**Inferno Metadata**
Reproduct on Linux (Ubuntu 16.04) & Windows 7, Firefox v54 and Chrome Canari v61
inferno: 3.7.0

[2017-07-31 16:23] IgnusG commented on #1181
It is triggered only on the specified element. If you click the `span` you also clicked the burger `div`. The event is only fired once and the target is as in classic EventListeners the one you clicked (be it a child or not). If you want a reference to the div you either use state or refs.

[2017-08-01 07:51] jadok commented on #1181
Why does it work in that way?
Is there a reason for that behavior?
For me if we wished to have the child event we can just add an other linkEvent on the child div.

Anyway I guess it is the expected behavior, it works in the same way with the Vanilla JS

[2017-08-01 13:36] IgnusG commented on #1181
Imagine it wouldn't. You have 2 options:
- Only call when the div is pressed not it's children: This would make everything incredibly difficult. Your menu could only be opened when you click on the blank spaces and not the spans. On a mobile device this would be almost impossible as the spans take up most of the space.
- Call the handler but make the target always the one from the handler: You alr

[2017-08-01 15:53] jadok commented on #1181
Thank for developping the answer.
I understand that my point may result in weird behavior in some other contexts as CSS should not affect how JS elements are managed.

You may close the issue.

[2017-08-01 15:53] #1181 closed

[2017-08-02 19:41] iambumblehead commented on #1177
somewhat off-topic, but I notice that when I pushed commits to the inferno repo that I forked, the linting/testing auto-runs --how can I do that for my own repositories?

also @Havunen are you on vacation or what? It would be awesome if you would accept my pull request :)

[2017-08-03 08:59] jhsware opened #1182 "getChildContext isn't updated properly when state is changed in componentWillReceiveProps"
https://jsfiddle.net/htn0ssq1/1/

The behaviour is the same on my local machine using inferno@3.7.0
---

## Issue Template

**Observed Behaviour**

Passing context as plain string isn't updated properly, the two values displayed in the example aren't equal except on first render despite both derived from the same state property.

I believe getChildContext is evaluated too early.

**Expected Curren

[2017-08-03 15:41] Havunen commented on #1177
@iambumblehead Its all about setting pre-commit hook.  My holidays start next week and I will be more active then. Currently I'm really busy trying to finalize my work tasks.

[2017-08-03 16:14] Havunen commented on #1182
This is fixed in dev. It will be available in next release.

[2017-08-03 16:14] #1182 closed

[2017-08-03 17:30] Havunen commented on #1179
@ethanresnick is this something you could create PR for?

[2017-08-04 01:19] ethanresnick commented on #1179
@Havunen Maybe in a couple weeks, but not sooner than that

[2017-08-06 08:30] MikaelPorttila opened #1183 "Typings issue, missing Map and Set definitions"
**Observed Behaviour**
I just added Inferno v3.7.1 to my project and I'm running the following libs in tsconfig:
"lib": ["es2015", "dom", "es5", "es6"]

While trying to build with Webpack 2 and Typescript I get these errors:

C:\projects\UserScript-wh-filter\node_modules\inferno\dist\index.d.ts
(33,34): error TS2304: Cannot find name 'Map'.

ERROR in C:\projects\UserScript-wh-filter\node_modules\i

[2017-08-09 10:14] Havunen commented on #1154
@sijad I'm currently busy with working on Inferno 4.0, if you could work on this task it would be great for TS - inferno community :+1:, I dont know if @longlho already started this or what is the status, but I guess we don't even have public repo for this atm.

Basically somebody needs to look into typescript plugins, how we could hook into the system and transform JSX nodes our own way. Here is

[2017-08-09 21:55] johot opened #1184 "Possible to create component that takes raw html as input and leverages virtual DOM?"
I'm trying to create a webpage where I with javascript can insert raw html and have it only update the DOM where changes have been made. I am currently using a library called nanomorph to do this and it's working fine. Nanomorph does however not use the concept of a virtual DOM. Now I wanted to compare nanomorph to inferno.

Is there any way I can render raw html out from a component and have it o

[2017-08-09 22:12] Havunen commented on #1184
If I understood it correctly: what you are trying to do is againts the idea of virtual DOM. If you want to render raw HTML you are not creating virtual nodes and there won't be any diffing involved. `dangerouslySetInnerHTML` is wrapper for native javascript `.innerHTML` method. The idea of vDOM is that you create virtual nodes which represent the HTML and then you can do diffing etc.

[2017-08-09 22:16] Havunen commented on #1184
If this HTML is generated only once, Then you could create another application inside your main application. Call inferno render on it to hydrate the dom (like you do on SSR),  But you still need to code all the components that represent the given DOM to have any point using it.

[2017-08-09 22:17] johot commented on #1184
Yes and that is what I want. I basically have a backend layer that spits out lots of raw html. The backend is "dumb" since it will take an input file and convert it into html. Instead of then doing a `body.innerHtml = lotsOfRawHtml` which would cause the entire DOM to be re-rendered I want to use a diffing solution so that only the parts that changed between the rendering updates would be changed

[2017-08-09 22:27] Havunen commented on #1184
Okay cool, inferno does support that basically you need to code the views and then call `Inferno.render(vNode, document.getElementById('root')` and if the client side render result matches server side html Inferno will "hydrate" and start using that DOM.

for example if your server side returns simple html like this:`<div><div>foobar</div></div>` then using JSX language the code could be something

[2017-08-09 22:37] johot commented on #1184
Hmm but in my case I can't insert any JSX since I don't know anything about what html I will get back from the inputfile to html rendering code.  It could be anything.

I need something like:
[code]

However this won't work since the html will be escaped. And using the `dangerouslySetInnerHTML` will not work either since it will simply use innerHtml and re-render everything.

[2017-08-09 22:39] johot commented on #1184
And yes I know this is a pretty strange example, basically I will only need one component that is smarter than something that simply replaces the .innerHtml of an element. That's the special case I want to try using inferno for. I know it's not really what it's built for :)

[2017-08-09 23:16] Havunen commented on #1184
but in case you don't know what the HTML is going to be you cannot create virtual DOM for it and then you cannot do any diffing.

[2017-08-09 23:18] johot commented on #1184
I was hoping inferno could create a virtual dom from a html string just as
if I had written it in jsx form :)

tors 10 aug. 2017 kl. 01:16 skrev Sampo Kivistö <notifications@github.com>:

[2017-08-10 06:12] FQ400 commented on #1184
@johot what if you parse the HTML first using `html2hscript` or similar? Then you get your DOM abstraction.

https://github.com/twilson63/html2hscript

[2017-08-10 06:34] johot commented on #1184
Hmm interesting that might just work will try thanks!

[2017-08-10 09:17] johot commented on #1184
@FQ400 unfortunately that library only seem to give me back a string of how it would look in hyperscript. I guess I need a way to return actual hyperscript objects.

[2017-08-10 09:22] FQ400 commented on #1184
But you got the idea?

[2017-08-10 09:24] johot commented on #1184
@FQ400 yes definately :) I am guessing what happens after render is that infernojs converts the data coming out into a virtual DOM, compares it against a previous virtual DOM and applies the changes to the real DOM right? So my problem is that infernojs is not built to handle raw html (which makes sense for most cases). I guess I would need to parse the html into JSX or something on the fly (and m

[2017-08-10 10:06] FQ400 commented on #1184
I found another lib. It is for react but according to the source code it maybe could be adopted for Inferno. https://github.com/remarkablemark/html-react-parser

Is the option putting your HTML into an iframe and control it via url params or post-message useful?

[2017-08-10 10:27] johot commented on #1184
@FQ400 i'm guessing that would work if I was using react instead yes :) Something like that for inferno would probably solve my case. In react it's called ReactElements so I guess I need to convert html to inferno elements then?

[2017-08-10 11:00] Havunen commented on #1183
Set and Map are native javascript types. I dont know exactly what you are missing, but sounds like config issue.

[2017-08-10 12:56] FQ400 commented on #1184
Yes. You can try to replace `React` with `Inferno` [dom-to-react.js](https://github.com/remarkablemark/html-react-parser/blob/master/lib/dom-to-react.js)

Inferno has a `cloneElement` function. I am not sure if it has a `isValidElement` function. Those two are the only react specifics. The rest in the file looks common.

[2017-08-14 13:36] augmen opened #1185 "UI for Inferno"
Please guide us on the UI for the inferno like material UI

[2017-08-14 19:26] tloriato opened #1186 "Div with contenteditable=true & onInput - Bug"
---

## Issue Template

**Observed Behaviour**

By creating a textarea along with an onInput event we get this behavior:

![vgfcjfft7v](https://user-images.githubusercontent.com/11580564/29287784-00426c52-810d-11e7-853b-3b39681bfd65.gif)

**Expected Current Behaviour**

A normal textarea

**Code**

Here is the code to replicate:

[code]
Or fork this repo: https://github.com/tloriato/inferno-issue

[2017-08-17 10:48] Havunen commented on #1186
Inferno does not have any extra handling for contentEditable elements, I believe ( without looking into this ) its native browser behavior. textArea / inputs / select have special handling and thus they are different.

[2017-08-18 10:08] kotgakapainor opened #1187 "Inferno-Router: get Child Nodes of a Router Component"
**Observed Behaviour**
I'm trying to realize a full SSR via a static Method and looping through the matched Routes (renderProps) via `RouterContext`. Therefore I have to extract all the static Methods from all child Nodes deep down the tree.

When inspecting `props.children` of the matched route I get the right VNode but the children will always be undefined. **How am I able to access the child No

[2017-08-20 12:05] thepian opened #1188 "Importing inferno with rollup"
**Observed Behaviour**

Inferno is difficult to import with rollup. The default import relies on require, and importing the src directly doesn't seem to work.

**Expected Current Behaviour**

Inferno should provide a way to import ES directly without crazy config. Standard module notation is clearly the future direction

Alternately document the use of alias to import ES, such as
[code]

**Inferno

[2017-08-21 20:23] twhb commented on #1173
Just ran into this issue too.

I'll go a bit farther and say that measuring and branching based on the length of a variable name is never desirable behavior.

If inferno-router will continue to permit only one matching route, then I suggest it mimic react-router's Switch design and just use the first matching route. In other words, just delete the `.sort` line.

[2017-08-22 11:26] DaMouse404 opened #1190 "SSR Rendering Cache"
Hello 😸

We are currently looking to improve our server rendering performance and we're looking to take some of the learnings from Walmart Labs in https://github.com/walmartlabs/react-ssr-optimization. Part of which is adding a view cache to React when rendering on the server, initially we considered adding this after inferno but it feels like something that should be part of the core library as i

[2017-08-22 17:14] #1177 closed

[2017-08-22 17:16] Havunen commented on #1190
@DaMouse404 IMO it could be part of `inferno-server` package, I don't have the time implementing it, but if you do please send PR :)

[2017-08-23 13:11] DaMouse404 commented on #1190
Hi @Havunen,

I agree that'd be the best place to put it, do you think the implementation above is sensible? I'm assuming most people will just write:

[code]

One alternative could be to pass it into the component as a prop (works for stateless components too):

[code]

Any suggestions on what would best fit with the inferno API welcome 😸

[2017-08-23 15:10] deamme commented on #1154
I'm working on this and I've come pretty far but just need to convert the project into TypeScript and add tests.

[2017-08-24 14:38] Elia-Sh commented on #486
Hi @Havunen , @trueadm ,
Recently we started a big project with inferno,
and I've wanted to utilize the UI library:
https://github.com/carbon-design-system/carbon-components-react

Experimenting: `create-inferno-app` but got the same error:
[code]

Does this means that inferno does not support `carbon-components-react`,
and I will not be able to utilize it in the project?

If it helps this is `pac

[2017-08-24 14:47] byCedric commented on #486
@Elia-Sh I'm not sure if this is the right place for this issue report. Anyways, it looks like you don't have the `inferno-compat` library included. Please check out the [inferno-compat](https://github.com/infernojs/inferno/tree/master/packages/inferno-compat) library and check [how you can use it with `create-inferno-app`](https://github.com/infernojs/create-inferno-app/blob/master/README.md#usag

[2017-08-24 15:38] standy opened #1191 "Double text in SSR when started with quote symbols"
**Observed Behaviour**

Trying this code:
[code]
Gives:
[code]
Text doubles when started with `"` or `&`

**Expected Current Behaviour**

Should be
[code]

**Inferno Metadata**
Was tested here: https://npm.runkit.com/

[2017-08-24 23:41] alexburner commented on #1185
Inferno has a compatible API with React, so the whole world of React UI solutions is open to you

[2017-08-25 06:20] Havunen commented on #1185
Somebody mentioned on our slack channel 2 days ago about bootstrap integration that he had created. It can be found here:
docs: https://jhsware.github.io/inferno-bootstrap-docs/
repo: https://github.com/jhsware/inferno-bootstrap

[2017-08-25 06:20] #1185 closed

[2017-08-25 06:21] Havunen commented on #1191
This sounds like bug

[2017-08-25 07:44] Elia-Sh commented on #486
Thank you very much @byCedric , after adding `inferno-compact` I was able to import `carbon-components-react`.

[2017-08-25 09:05] Sundarcj opened #1192 "Hello Inferno"
Hi ,
   I have little experience in JS. I too want to contribute to inferno..,so what can i do ?
and i would like to develop my self as a JS Developer.so,Experts says "Instead of studying in the BOOK, contribute some open source Projects so that u can easily get some Ideas". can i start it from here?

Thanks in Advance

[2017-08-25 09:23] Havunen commented on #1192
Hi @Sundarcj

First join our slack channel https://inferno-slack.herokuapp.com/ You can find other people working on Inferno and inferno related projects from there. Usually those projects which you use yourself are good to work with.

We are currently lacking person who could maintain `inferno-router` -project so that could be something to help with! You can find open issues related to router fro

[2017-08-25 09:33] byCedric commented on #486
@Elia-Sh No problem! Feel free to still join the slack, https://inferno-slack.herokuapp.com/! 😄

[2017-08-25 09:45] Sundarcj commented on #1192
Thanks @Havunen i will do my best

[2017-08-25 10:20] Havunen commented on #1191
Lets close this issue, it will be available in next release. thanks @standy

[2017-08-25 10:20] #1191 closed

[2017-08-25 16:55] standy commented on #1191
Thank you!
This bug seems makes XSS vulnerability because puts unescaped string in SSR, so string with `script` tag can be rendered as is. Should be released asap and/or deprecate versions 3.6.0-3.8.0

[2017-08-26 11:04] rafaelkallis commented on #1190
I would argue that a render cache is not part of Inferno's responsibilities.

The approach described [here](https://medium.com/the-node-js-collection/simple-server-side-cache-for-express-js-with-node-js-45ff296ca0f0) using [memory-cache](https://www.npmjs.com/package/memory-cache) is my go-to approach.

TL;DR snippet [here](https://glitch.com/edit/#!/server-side-cache-express?path=server.js)

[2017-08-26 22:32] deamme commented on #1154
Please check it out: https://github.com/deamme/ts-transform-inferno
Any feedback, questions etc. is appreciated.

[2017-08-26 22:59] longlho commented on #1154
looks pretty good, maybe some examples & docs would be great :)

[2017-08-27 07:27] deamme commented on #1154
I've tried to improve README.md and there is an example folder that one can try to build and learn from.

[2017-08-28 04:36] markymark commented on #962
I noticed the same effect, and route ordering didn't change the result.

Are others using Inferno routing (particularly with wildcards) successfully in their projects?

[2017-08-28 15:23] Havunen commented on #962
Somebody who is having the issue could try to fix it and send PR?

[2017-08-28 15:34] markymark commented on #962
@Havunen I wanted to with some simple console logging, but got annoyed trying to figure out how to debug without restarting the local server after every change (very tedious).

Based on some reading it seemed like Webpack should watch `node_modules` too, but since it wasn't I wondered if there was something special to the `inferno-scripts` config (because that's what the `start` command runs) that

[2017-08-28 22:47] TedDriggs commented on #729
I'm getting this error when using Inferno 3.8.0 for everything in conjunction with Chrome 60.0.3112.113

[2017-08-29 09:21] #1192 closed

[2017-08-29 15:41] Havunen commented on #753
This was most likely caused by identical html which was fixed recently. Closing.

[2017-08-29 15:41] #753 closed

[2017-08-29 17:39] jduhls opened #1195 "How to execute component methods in tests"
**Observed Behaviour**

inferno-test-utils is...no longer exposing component methods in tests

**Expected Current Behaviour**

inferno-test-utils should...expose component methods in tests

[code]

**Inferno Metadata**

macOS

[code]

[2017-08-29 20:14] jambonrose commented on #634
(I'm leaving a comment on this issue because this was the first hit in a few Google searches while I was looking for the best way to test Inferno.)

`inferno-test-utils` now has a `renderToSnapshot` function, which allows for the following code when using Jest.

[code]

[2017-08-29 22:56] standy opened #1196 "Failed to escape numbers"
**Observed Behaviour**
Getting error in `escapeText`: `TypeError: text.slice is not a function`

Example:
[code]

**Expected Current Behaviour**
Should be no error

I suppose error in type declaration for `escapeText(text: string)`, text can be any and should cast directly to string

[2017-08-30 00:36] Baira opened #1197 "nested routes in inferno-router"
I use the latest inferno-router version but I have this issue with this code :

        <Route component={ Layout }>
            <Route component={ HomeLayout }>
                <Route path="/services" component={ Services }/>
            </Route>
            <Route component={ MemberLayout }>
                <Route path="/blog" component={ Blog }/>
            </Route>
        </Route>

`/service

[2017-08-30 00:47] Baira commented on #1197
I achieved this shortly after posting the issue by adding paths to the parent routes :

        <Route component={ Layout }>
            <Route path="/" component={ HomeLayout }>
                <Route path="/services" component={ User(Services) }/>
            </Route>
            <Route path="/app" component={ PlusLayout }>
                <Route path="/blog" component={ Blog }/>
            </R

[2017-08-30 12:54] sxwebdev opened #1199 "Components do not respond to changes in the mobx stores"
After I upgraded to 3.8.1 from 3.7.1, my components stopped responding to changes in the mobx stores. Why did it happen?

[2017-08-30 15:23] FQ400 commented on #1199
I have a similar issue. But more precice. The update seems to be delayed for one update cycle.

Tracetable, for example:
initial state 0 -> not shown
update state to 1 -> 0 shown
update state to 2 -> 1 shown

[2017-08-30 15:30] jduhls commented on #1195
Close this. I made a change elsewhere (components were now connected to redux). I mounted the original, non-connected component and all my methods are there now.

[2017-08-30 15:30] #1195 closed

[2017-08-30 15:46] Havunen commented on #1199
Can you guys create jsFiddle or similar test case to reproduce it please

[2017-08-30 16:23] linh1987 commented on #1199
After inspecting the dist of inferno-mobx, it seems like we have a problem with this build. The makeReactive function is empty:
`function useStaticRendering(boolean) {

}
function makeReactive(componentClass) {
    return componentClass;
}
`

[2017-08-30 17:12] Havunen commented on #1199
thats very possible, rollup was updated between these versions

[2017-08-30 17:27] Havunen commented on #1199
Yup, this was caused by rollup upgrade. They changed tree shaking algorithm and caused this bug. I will downgrade rollup and make new release.

[2017-08-30 17:38] Havunen commented on #1199
Its fixed now in 3.8.2 but lets keep this bug open for reference

[2017-08-30 17:39] FQ400 commented on #1199
I really appreciate that the issue is found. I struggle a bit with the jsfiddle example. Here is what I have: https://jsfiddle.net/1kf4ftzc/8/

Currently it doesn't work because.  😞  I am still figuring it out. But assuming all the needed functions where available, this would be a fiddle. :)
Maybe we can provide a basic setup for future issues?

[2017-08-30 17:39] leeoniya commented on #1199
0.49.2 fixed some more regressions, btw.

[2017-08-31 06:40] Havunen commented on #1199
Ideally we should run our tests against the bundle we ship. Currently however we run the tests against typescript sources compiled by typescript compiler, but rollup is not part of this process. Also debugging is really difficult at the moment and I had to fork `ts-jest` to be able to debug. We used to use Karma for testing which was better than Jest IMO. at least for inferno project, jest is also

[2017-08-31 07:08] Havunen opened #1200 "Inferno-router update `path-to-regexp` package and fix its usage"
`inferno-router` package depends on `path-to-regexp` (1.7.0) update it to version 2 (latest) and fix the usage. We should aim keeping all packages up to date.

[2017-08-31 07:53] AndreasElia commented on #1200
I'd like to tackle this one :)

[2017-08-31 16:00] Havunen commented on #1196
Okay fixed in dev :)

[2017-08-31 16:00] #1196 closed

[2017-09-01 00:48] TedDriggs opened #1201 "setState no longer typechecks correctly as of 3.8.0"
**If you can, please distill your problem down and include a JSFiddle example for illustration. Also when requesting bug fix please include at least one test to avoid regression.**
---

## Issue Template

**Observed Behaviour**

`setState` will not typecheck if `S` (the State generic) is not

**Expected Current Behaviour**

`setState` should accept a partial `S`, rather than requiring `S` to be co

[2017-09-01 08:43] Havunen commented on #1176
I'm investigating this issue now, it indeed seems like a bug.

[2017-09-01 08:50] Havunen commented on #1176
Yep its bug.

[2017-09-01 14:18] Havunen commented on #1176
This is now fixed in dev :) It will be available in next release.

[2017-09-01 14:18] #1176 closed

[2017-09-01 14:56] Baira opened #1203 "inferno-router - Adding a Progress Indicator"
At the bottom of the docs of inferno-router at this link : https://github.com/infernojs/inferno/tree/master/packages/inferno-router you can find this :

I find this very interesting but for a beginner like me this can be very confusing. Any examples to illustrate this ? Because achieving this using router hooks is way better than what I'm doing.

Thank you

[2017-09-01 16:27] danfma opened #1204 "Feature request: support promises in lifecycle components."
Hey, guys!

I like a lot of this library and its performance improvements over other js libraries. However, one thing that I always have missed in React and other VirtualDom like libraries are support for promises at the component lifecycle, just like we have with Aurelia. Now, I found this feature on Dio.JS too.

Please, give a look at its documentation to understand what I'm talking (https://dio

[2017-09-02 15:36] Havunen commented on #1203
@jhsware Can you improve the documentation regarding progress indicator please.

[2017-09-02 15:38] Havunen commented on #1204
It sounds interesting feature. IMO we could support this if it does not come with a lot of overhead. Are you referring to update state with promises? Or which feature exactly, can you add direct link please.

[2017-09-02 15:45] Havunen commented on #1103
@ilyaigpetrov Can you test if this bug is fixed in latest alpha please? `3.9.0-alpha.1a5cdaaa`, that is the version label for all packages.

[2017-09-02 17:39] ilyaigpetrov commented on #1103
I've created [fiddle with .9.0-alpha.1a5cdaaa](https://jsfiddle.net/r0jnt3b1/2/) but it behaves the same way as previous @latest fiddle created in this thread — both don't throw error any more, but checkboxes still don't work, I guess because of #1146.

[2017-09-06 08:34] sheweichun opened #1205 "inferno-route is not worked with HashHistory when Route has sub-route"
**Observed Behaviour**

inferno-route is not compitable with HashHistory

**Inferno Metadata**

macOS

[2017-09-06 10:45] DaMouse404 commented on #1190
@Havunen, do you have any input on the suggested implementation?

[2017-09-06 16:36] Havunen commented on #1190
I would personally prefer something like what @localvoid called blue prints.  Please read this post for more details https://medium.com/@localvoid/improving-ssr-performance-in-virtual-dom-libraries-57232e2ead21

[2017-09-06 16:40] Havunen commented on #1103
Yeah to make fiddle working we need to rewrite controlled elements logic. Its good to hear there is no error anymore :)

[2017-09-06 21:54] danfma commented on #1204
Actually, I think that it will be more interesting to support promises as the return of the lifecycle methods. So, I could, for example, implement a `componentWillUmount` that will return a promise, and only after that, the component will be removed from the screen.

This opens space for async rendering too.

[2017-09-07 07:09] pdeng6 opened #1206 "[critical bug] Inferno case in Speedometer 2.0 benchmark runs very slowly."
Abstract:
Speedometer 2.0 is using Inferno for benchmarking, unfortunately it seems an Inferno bug that causes the subcase is running very slowly (much slower than Preact and Vue).

Framework | Score
-- | --
VueJS-TodoMVC | 258.8
Preact-TodoMVC | 414.65
Inferno-TodoMVC | 16.14

So we filed a bug here and call for a fix from you talent guys.

Context:
Speedometer benchmark is on the road to 2.0 htt

[2017-09-07 09:15] trueadm commented on #1206
@pdeng6 Out of curiosity, did the usage of a `key` on the TODO items improve performance in the benchmarks, I can't see it being used:

https://github.com/TianyouLi/javascript-benchmarks/blob/master/Speedometer-2.0/resources/todomvc/architecture-examples/inferno/src/index.js#L89

This should also improve performance in all frameworks that support keys.

[2017-09-07 09:41] pdeng6 commented on #1206
@trueadm,
Thanks, just tried with the key, the result is almost the same to reverse order.
Does that mean, for a frequently updated list rendering, Inferno keyed algorithm is the typical and recommended usage than non-keyed?

thanks
Pan

[2017-09-07 09:46] trueadm commented on #1206
@pdeng6 Keys are highly recommended in React, Preact, Vue and any other virtual DOM library/framework because they are the only way of properly handling items in lists when it comes to stateful components/DOM nodes. When there are no keys, Inferno and other frameworks fall back to a different algorithms. Keys also allow for fast paths in lists, otherwise they have to sometimes do far more work (wh

[2017-09-07 14:44] Havunen commented on #1206
I can look into this. If the results are real then there is something to improve! :)

[2017-09-07 15:55] Seprum opened #1207 "Inferno ignores state changes while shouldComponentUpdate returns false"
## Issue Template
I am making custom inferno component for element with `contentediable` attribute (a kind of inline-input component).

Here is my `render` method:
[code]

The last `displayValue` remembered by Inferno is the value which was before I entered edit mode (before `onFocus` event fired) because `shouldComponentUpdate` prevents rendering until `onBlur` event is fired to avoid caret reset

[2017-09-07 16:16] Havunen commented on #1206
Okay it seems like this benchmark is not meant for comparison libraries between each other, all the application level sources are totally different doing different things. Also it seems like you are using `inferno-1.0.0-beta32` which is early development version of inferno before first stable 1.0.0 rolled out. source: https://github.com/TianyouLi/javascript-benchmarks/blob/master/Speedometer-2.0/r

[2017-09-07 19:41] Havunen commented on #1206
Actually after having deeper look into this. Its not only that. I upgraded InfernoJS to 3.9.0 and copy pasted Preact implementation. However now when we look into the results at detail level we can see something clearly incorrect:
[code]
There is too big gap between React / Inferno vs Vue/PReact sync rendering. It feels like its not measuring the time correctly. I need to dig more into this.

[2017-09-07 20:13] Havunen commented on #1206
Okay I know whats wrong.
FIrst check the differences between Libraries here... https://github.com/TianyouLi/javascript-benchmarks/blob/master/Speedometer-2.0/resources/tests.js  Even the runner function is different!
But enough about that. The thing is PReact and Vue rendered added only 1 item in sync render. While React and Inferno added 100 as its supposed to be. So you can roughly time PReact a

[2017-09-07 20:15] Havunen commented on #1206
You can just debug the benchmark yourself and see PReact and Vue does nothing in sync rendering. Also for the sake of benchmark its not actually veryfying the output from any libs. And not waiting for them to finish, simply measuring in setTimeout - 0. So its no reliable results in any sense. Closing.

[2017-09-07 20:15] #1206 closed

[2017-09-07 20:39] trueadm commented on #1206
@pdeng6 was the feedback from @Havunen useful? If needed, we can report these bugs/issues on the benchmark as it seems like a very large bug in the metrics.

[2017-09-08 00:47] pdeng6 commented on #1206
Thanks for your help, Havunen and trueadm, it is very useful.
@Havunen, is your local fix patch about inferno, Vue and Preact available? can you send a pull request to my repo, I'd like to run a evaluation on my machine.

[2017-09-08 07:06] zhangjunah opened #1208 "inferno-compat doesn't work with react-router V4"
Test Case

[code]

I Use inferno-compat in any project using react-router-dom.

Although everything renders correctly at first, actual routing will not after that, because components will not update (i.e. change) when the location changes.

The example given above works correctly when used with React/React-DOM, but when Inferno-compat is used, the issue will occur. I don't think this is intentiona

[2017-09-08 14:52] Havunen commented on #1154
Somebody please test @deamme 's solutions it looks awesome!

[2017-09-08 14:57] Havunen commented on #1206
@pdeng6 the benchmark needs to be updated, I cant quickly think any good way to do it. Maybe using promises or events to verify its done. PReact has debounced setState so they ain't doing anything when sync calling it 100 times. Debouncing might be good idea depending on the use cases of the library, but thats different topic.

[2017-09-08 16:18] TedDriggs opened #1209 "Problems with `Ref` type declaration make explicit typing impossible"
**Observed Behaviour**

[code]

This fails to typecheck:

[code]

Following the [`Ref` type declaration in inferno/src/core/VNodes.ts](https://github.com/infernojs/inferno/blob/master/packages/inferno/src/core/VNodes.ts#L20), we see:

[code]

This has three problems:

1. For a component `T`, the parameter should be `(node?: T | null)`. The same is technically true for HTML elements, as it will be

[2017-09-08 16:58] romgrk commented on #1184
A workaround to insert raw HTML:
[code]

This probably only works on component mount, but it's fine for static HTML.
(Yes I know, it's bad but some dude at my job thought it would be a good idea to have raw HTML in the database, now I'm stuck with that)

[2017-09-08 18:15] rikkertkoppes opened #1210 "Missing focusIn and focusOut event wrapping"
See https://developer.mozilla.org/en-US/docs/Web/Events/focusin for details

I'd love to send in a PR. Is DOM/constants.ts the only place I should be (apart from tests)?

Edit: originally observed in 3.3.1, reproduced in 3.9.0

[2017-09-08 19:14] Havunen commented on #1210
What wrapping is missing? Events should be onFocusIn and onFocusOut, they work like all native events

[2017-09-08 19:22] deamme commented on #1154
Not quite working with dynamic imports (code-splitting not possible). This should work but I haven't truly tried: TypeStrong/ts-loader#624

[2017-09-08 19:29] Havunen opened #1211 "Upgrade to Jest v21"
Our workflow is currently using Jest v20, because after upgrading to v21 Jest cannot find some modules. Upgrade to latest version and make sure tests pass. This most likely requires some changes to workflow and/or configs

[2017-09-09 05:50] rikkertkoppes commented on #1210
I will test in the latest version, but in 3.3.1, these events are do not work if they are not added to the delegatedEvents set

[2017-09-09 06:05] rikkertkoppes commented on #1210
Here is a reproduction:

	import Inferno from 'inferno';
	import h from 'inferno-hyperscript';

	const View = () => {
		return h('div', {
			onFocusOut: () => console.log('focus out')
		}, [
			h('input')
		]);
	}

	Inferno.render(h(View), document.querySelector('#mainContainer'));

Nothing is logged unless `onFocusOut` and `onFocusIn` are added to the delegatedEvents Set.

[2017-09-09 10:09] Havunen commented on #1210
Okay, I can look into this today

[2017-09-09 10:09] Havunen commented on #1209
@TedDriggs If you can figure out how to make it work, PR would be nice :)

[2017-09-09 10:10] Havunen commented on #1099
Circular dependencies should be removed anyway. Re-opening. I will implement it soon.

[2017-09-09 12:50] Havunen commented on #1099
Implemented in dev :) https://github.com/infernojs/inferno/commit/aeff5f9a27516676de821eda27aa2508a7ee181c

[2017-09-09 12:50] #1099 closed

[2017-09-09 13:12] Havunen commented on #1210
Yeah its bug, PR welcome :) Can you add tests also please.

[2017-09-09 16:24] jsina commented on #573
I've had the same problem when I follow the sample code on inferno website.
https://infernojs.org/docs/guides/routing

[2017-09-09 16:30] Havunen commented on #573
@jsina do you have JSX compiler?

[2017-09-09 16:35] jsina commented on #573
@Havunen here is my code
[code]

everything is ok except when I want to direct to this path="/user/:username"

[2017-09-09 17:10] dynasource opened #1212 "LinkEvent onSubmit failing"
## Issue Template

**Observed Behaviour**

Inferno is handling the LinkEvent onSubmit incorrectly. While submitting the form, the page gets refreshed instead of handling the Event. Sometimes is gets through though, but is looks like the Page refresh is called sooner than the event callback.

This happens with the following code
[code]

event.preventDefault() does not seem to do the trick. The only

[2017-09-09 18:21] dynasource commented on #1212
it seems that I missed an argument because of bad copy pasting between both options. My fault. It should be:
[code]

time for a break ;)

[2017-09-09 18:21] #1212 closed

[2017-09-09 18:56] Havunen commented on #573
@jsina Can you create jsFiddle please to reproduce the issue (sorry I'm lazy)... :( You can use this as base https://jsfiddle.net/wt5vL603/    all packages can be found from unpkg

[2017-09-09 19:09] jsina commented on #573
@Havunen here is the url:
https://jsfiddle.net/wt5vL603/15/

[2017-09-10 09:47] AndreasElia commented on #1200
I could use some help on this is anyone is available :(

[2017-09-10 11:20] Havunen commented on #1200
Are you having some specific issue you need help with?

[2017-09-10 11:46] deamme commented on #1200
There is no more asterisk (`/*`) support on `path-to-regexp` version 2, which is why tests are failing..

[2017-09-10 15:03] nightwolfz commented on #1197
In your first code, since both `MemberLayout`  and `HomeLayout` don't have a path set, the router assumes it's `/`.  So `HomeLayout` was always matched first, therefor the router never reached `MemberLayout`.

[2017-09-10 15:03] #1197 closed

[2017-09-10 15:06] nightwolfz commented on #1187
Duplicate of https://github.com/nightwolfz/inferno-starter/issues/28

In short, it's not easy.

[2017-09-10 15:06] #1187 closed

[2017-09-10 15:09] nightwolfz commented on #1179
I'm going to close this for now. The functionality should be available in [inferno-router-next](https://github.com/infernojs/inferno/tree/inferno-router-4) once it's merged

[2017-09-10 15:09] #1179 closed

[2017-09-10 15:11] nightwolfz commented on #1173
The next router implementation is going to use `Switch`. Stay tuned :)

[2017-09-10 15:11] #1173 closed

[2017-09-10 15:18] nightwolfz commented on #860
I had success [doing the following](https://github.com/nightwolfz/inferno-starter/blob/master/core/onEnter.js), I can get the static methods from the matched routes and execute them for fetching data.

I guess this issue was solved. If not, please re-open it.

[2017-09-10 15:18] #860 closed

[2017-09-10 16:41] nightwolfz commented on #962
Hopefully this fixes it https://github.com/infernojs/inferno/commit/fd1158d85783cbd1d3aa711996fb455c84fa4776

[2017-09-10 16:51] Havunen commented on #1199
Closing this issue now as rollup has fixed it in 0.49.3

[2017-09-10 16:51] #1199 closed

[2017-09-11 03:20] pdeng6 commented on #1206
Agree, debouncing might be good idea in some use case.

[2017-09-11 13:51] Havunen commented on #892
Enzyme support has been requested couple of times in slack, it would be nice if somebody could start working on this.

[2017-09-11 15:00] garrensmith commented on #892
I would be happy to start working on this. We need this for https://github.com/apache/couchdb-fauxton, since we are moving away from React. I'm new to inferno.js. So any suggestions/pointers on how to get started would be awesome and I can then take a stab at this

[2017-09-11 16:09] garrensmith commented on #892
Based off of this https://github.com/airbnb/enzyme/blob/master/packages/enzyme-adapter-react-16/src/ReactSixteenAdapter.js it seems i can just follow how those are done as a starting point.

[2017-09-11 17:02] anthony-redFox commented on #1210
Duplicated #1038

FocusIn and FocusOut doesn't works in inferno. The main issue in browsers Chrome, Firefox and MS Edge which doesn't work with property event (element.onfocusout)

Example focusout -https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_onfocusout_dom

[2017-09-11 17:08] Havunen commented on #1210
These days Inferno has synthetic events, so it could be implemented by simply adding onfocusout and onfocusin to delegatedEvents lists + adding test cases for it. Here is example: https://www.w3schools.com/code/tryit.asp?filename=FJG5DOCLREYI

[2017-09-11 22:06] Havunen commented on #1211
Its now implemented https://github.com/infernojs/inferno/commit/01994930a7dfb0498845b3745446cda94cc64ead

[2017-09-11 22:06] #1211 closed

[2017-09-11 22:36] longlho commented on #1205
@sheweichun mind throwing in a jsfiddle?

[2017-09-11 22:38] longlho commented on #1188
let me try taking a look at this

[2017-09-12 13:58] AndreasElia commented on #1200
I couldn't get my head around some of the test issues which popped up whilst updating and don't have a whole lot of time left to put into this. I've passed the issue over to @byCedric.

[2017-09-12 14:00] byCedric commented on #1200
Hi guys! I will try and get a pull request done on sunday (17th of sept). If I can't figure it out too, I will comment here by then. Cheers!

[2017-09-12 17:04] menberg opened #1215 "Inferno 3.9.0: Cannot read property 'dom' of null"
**Observed Behaviour**

Inferno is working fine on 3.8.2 but crashing on 3.9.0. I'm working on a very simple SSR Node/Express app. With Inferno 3.9.0, I can SSR/generate the page as expected, deliver to the client and rehydrate. But when changing the route (I'm using the router of cerebral@next), I'm getting a *TypeError: Cannot read property 'dom' of null* error with a *Sorry, an unexpected error

[2017-09-13 06:31] tomlagier commented on #1001
Having the same issue - touch events are not showing up as bound. Using `inferno/inferno-component: ^3.9.0` and `babel-plugin-inferno: ^3.2.0`. Have tried with both camel and lowercased variants and I cannot get the bindings to show up.

[2017-09-13 14:35] Havunen commented on #1215
Can you please reproduce the issue using jsFiddle for example here:
https://jsfiddle.net/wt5vL603/

You can make it use hydration by setting the same html there what you render from server side.

[2017-09-13 14:37] Havunen commented on #1001
@tomlagier can you create jsFiddle to reproduce the issue please. https://jsfiddle.net/wt5vL603/

[2017-09-13 16:28] tomlagier commented on #1001
Sure: https://jsfiddle.net/97w3ounh/1/

Note that the div with all the touch handlers doesn't get any listeners bound.

[2017-09-16 09:04] sheweichun commented on #1205
[code]

you can run demo like this，when you visit  'users' path，you will get error like this in the console
`gatherLib.js:5228 Uncaught TypeError: Cannot read property 'redirect' of undefined`

[2017-09-17 09:15] Havunen commented on #1210
These events will be available in Inferno 4.0 https://github.com/infernojs/inferno/commit/c0b81c7a3eeca316972cbf8576022df4ceaf4689

[2017-09-17 09:15] #1210 closed

[2017-09-17 09:15] Havunen commented on #1038
These events will be available in Inferno 4.0 https://github.com/infernojs/inferno/commit/c0b81c7a3eeca316972cbf8576022df4ceaf4689

[2017-09-17 09:15] #1038 closed

[2017-09-17 09:44] Havunen commented on #1207
Thanks for reporting this issue @Seprum  Its now fixed in dev and will be available in Inferno 4.0

[2017-09-17 09:44] #1207 closed

[2017-09-17 09:45] Havunen commented on #1209
@TedDriggs Any update on this? One option is that we just remove Ref type?

[2017-09-17 20:17] byCedric commented on #1200
Hi guys, I've been reading into the `path-to-regexp` library and all changes in `v2.0.0`. I did manage to get the basics working with `v2.0.0`. Unfortunately, not all tests are happy with this as it contains a few major changes.

The biggest "new" change is, like @deamme said, no (direct) support for asterisks `*`. Well, it does support a feature called [Unnamed parameters](https://github.com/pill

[2017-09-17 20:29] Havunen commented on #1200
Ping @nightwolfz

[2017-09-17 20:30] Havunen commented on #1200
Sounds like it was not so beginner friendly task ;)

[2017-09-17 20:36] Havunen commented on #1183
Closing as non Inferno related.

[2017-09-17 20:36] #1183 closed

[2017-09-17 20:36] byCedric commented on #1200
Haha, well, the task self is fairly easy. But it requires decisions that can't be made by me, a beginner here ;)

[2017-09-18 16:08] ilyaigpetrov commented on #1146
I made a mistake claiming that one event is fired before value mutation — both `onclick` and `onchange` are fired after mutation, see updated first message for details.

[2017-09-19 05:44] Havunen commented on #1146
Refactoring form elements is on my Todo list for Inferno V4. It would help a lot If you could provide test cases for them.

[2017-09-19 08:07] nightwolfz commented on #1200
@Havunen I updated `path-to-regexp-es6` to use version 1.7.0 of `path-to-regexp` so that we keep the `*` support. It was previously on version 2.x

@byCedric You should compare to `master` branch. https://github.com/pillarjs/path-to-regexp/compare/pillarjs:v1.7.0...nightwolfz:master

[2017-09-19 16:45] abirmingham commented on #686
Is there any workaround for type-checking TSX element properties in the meantime? See #1121. Losing type-checking on a slice of the code-base is pretty painful.

[2017-09-19 17:18] deamme commented on #686
Please look at this one by @rendall https://gist.github.com/rendall/cdd23c962c88fac3dbd9322cc2b09d58

[2017-09-21 02:43] pdeng6 commented on #1206
There is a discussion about keyed/nonkeyed.
https://bugs.webkit.org/show_bug.cgi?id=176586

[2017-09-21 16:24] antoninadert commented on #892
I'm a noob on Inferno but I will mentally support @garrensmith . Isn't there any core Inferno dev to support this ?

[2017-09-21 17:33] garrensmith commented on #892
I have the basics working. I’m on holiday for the next week. But should have something reasonably soon to show.

All misspelling thanks to my iPhone.
________________________________
From: Antonin Adert <notifications@github.com>
Sent: Thursday, September 21, 2017 6:24:44 PM
To: infernojs/inferno
Cc: garren smith; Mention
Subject: Re: [infernojs/inferno] enzyme-compat? (#892)

I'm a noob on Infern

[2017-09-21 21:28] mienaikoe commented on #1188
I use rollup with Inferno, and after some slogging, I got a working rollup config:
[code]

The trick is `rollup-plugin-commonjs` which is made specifically for importing from npm modules that use commonjs instead of es. It was buried in the documentation...

[2017-09-22 12:06] mysiar opened #1221 "redux-form"
It is rather question than issue.

Does anybody use redux-form with inferno ?

[2017-09-22 12:11] jacktuck commented on #1221
@mysiar Why not ask on Slack https://inferno-slack.herokuapp.com/

[2017-09-22 15:13] mysiar commented on #1221
@jacktuck just did, thanks :)

[2017-09-22 15:13] #1221 closed

[2017-09-22 15:41] OvermindDL1 commented on #1188
Just remember that things that need `rollup-plugin-commonjs` also mean they cannot be as well pruned or optimized as ES6 Module libraries, so you may quite often get more than what you expect in the output.

[2017-09-22 16:49] thepian commented on #1188
I think this shows that there is room for improvement. I may be wrong but ES6 seems a clear future direction, so finding a way to make it a first order citizen would be my recommendation. Loosing tree shaking for Inferno is a great shame.

I'd even accept an option to import via TypeScript which should provide an optimal compile

[2017-09-22 16:58] thepian opened #1222 "Support top level context for createVNode / render"
**Observed Behaviour**

Inferno is seeding an empty object as the root context. This means that if you want your component graph to have certain context information you have to wrap it like so:

[code]

**Expected Current Behaviour**

Inferno should be able to pass a context to the render function

[code]

and/or allow default context to be passed to createVNode

[code]

If that isn't acceptable I

[2017-09-22 18:51] longlho commented on #1188
keep in mind tree-shaking offers no value for inferno since it's already tiny

[2017-09-22 19:50] OvermindDL1 commented on #1188
@longlho Not just that but a lot of inlining and speed optimizations can be performed better on ES6 module code.

[2017-09-22 19:58] longlho commented on #1188
not really, the difference in ES6 module is the module loading mechanism, which, at the end of the day is just webpack/rollup concatenating things together and adjust scopes. Inlining is done via JIT in whichever interpreter you use, along w/ other speed optimizations (object stack/heap allocation, loop unrolling, scope hoisting...) during runtime depending on usage. Webpack/Rollup are bundler, no

[2017-09-22 22:45] OvermindDL1 commented on #1188
Some bundlers can inline specific functions from modules instead of entire modules, like rollup can with ES6 modules, which reduces filesize quite nicely.  Although it 'tends' to not matter if something like google's closure compiler is run over the code (depending on what is exposed and what is not, and for commonjs modules they tend to get globally exposed via their return so they do not always

[2017-09-23 12:30] thepheer opened #1223 "CDN version of inferno-compat makes no sense"
https://unpkg.com/inferno-compat/dist/inferno-compat.js 4th line:
[code]
It replaces `global.Inferno` with an empty object and then refers to it in the subsequent args.
So the problem is both modules are trying to have the same name in global scope.

[2017-09-23 17:53] thepian commented on #1188
I understand your point about the tiny size. If I was to digress I'd say; However I see the main appeal for Inferno being regular websites rather than SPA. For SPA a loading time in seconds can often be acceptable so it's not worth worrying much about bundle size under 1Mb. I seek to make Reactive Websites with a great UX, so I can't accept visual load time due to payload size, hence my bundle bud

[2017-09-23 17:56] thepian commented on #1204
I think Observables is going to start showing up as another option for this sort of thing, but that would probably be a fundamentally different Component API.

[2017-09-23 18:06] thepian commented on #1178
There is no reason why you shouldn't be able to.

If you make a new route with an InfernoAppComponent you can kick off the app in there.

`ElementRef` will give you the element for the component, and you can then call `Inferno.render(.., elRef) in `onInit`.

[2017-09-24 05:19] Havunen commented on #1222
Lets extend The render method, can you send PR for it? + Tests :)

[2017-09-26 15:22] rendall commented on #686
Would anyone like to form or participate in a working group to hammer this out?  If so, please let me know here or direct message.  The gist that @deamme referenced above works to resolve basic Inferno TSX conflicts, but conflict with supplemental libraries like inferno-router remain.