[2017-01-19 15:01] doytch commented on #717
Sorry for the radio silence on this. Been trying to reproduce this this week but since upgrading to 1.2.0 I haven't been able to, so feel free to close as no repro. :man_shrugging:

[2017-01-19 16:02] #717 closed

[2017-01-20 06:57] Havunen commented on #745
You need to set value? We should cross validate how React does it.

[2017-01-20 14:26] thysultan commented on #743
@kurdin I seems that that case is not handled since you can only set the `defaultValue` property with the DOM, with you suggestion how will it behave if both defaultValue and value exist?

[2017-01-20 14:43] kurdin commented on #745
This is definitely a bug, if this renders on mount `<textarea defaultValue={this.props.textarea} onInput={this.props.handleTextareaChange} />` it should do the same on rerender when you change state.  `textarea` should behave same as `input` field.

[2017-01-20 14:49] trueadm commented on #745
The issue is to do with this: https://github.com/infernojs/inferno/blob/master/src/DOM/wrappers/TextareaWrapper.ts#L73

It should work like this:
https://github.com/infernojs/inferno/blob/master/src/DOM/wrappers/InputWrapper.ts#L139

If someone can make a PR for it, that would be awesome :)

[2017-01-20 14:49] kurdin commented on #743
@thysultan You should add `value` attribute only if it does not exist already on element. If already exist render it as usual.

[2017-01-20 14:56] kurdin commented on #743
in case anyone need to fix this, I found work around but it is ugly:
[code]
on SSR it will add `value` attribute

[2017-01-20 15:05] kurdin opened #749 "Question SSR: insertComment and <!---->"
I am trying to figure out how to render on server exactly the same HTML and bootstrap it on client without any changes to DOM, or at least start client side component without visible changes to end users. I found that in SSR string inferno adds  `` comments and then client side component removes it on render, looks like it controlled by insertComment variable in SSR code.

Question what is that an

[2017-01-20 15:12] trueadm commented on #749
@kurdin They are essential to making hydration work properly. They are used to separate text VNodes and void VNodes, otherwise they won't properly convert over. Imagine:

`<div>{ [1, 2, 3] }</div>`

There are 3 child VNodes in the div VNode above. If you rendered that via SSR without comments, it would be: `<div>123</div>` and would register as a single TextNode on the DOM. We don't want that, so

[2017-01-20 15:31] kurdin commented on #48
@trueadm
Just tested in IE10 and it throws `Map in undefined` error. Look like Maps still in use in Inferno code:

https://github.com/infernojs/inferno/blob/1.2.1/src/DOM/events/delegation.ts#L4

[2017-01-20 15:32] trueadm commented on #48
@kurdin Inferno uses Maps again, so you will need to use your own polyfills as per the [README.md](https://github.com/infernojs/inferno#browser-support)

[2017-01-20 15:45] kurdin commented on #749
Hmm in you example `<div>{ [1, 2, 3] }</div>` don't you think this is not valid example for DOM anyway? You need `<tag>` to separate DOM nodes right? I am trying to understand why I did not have that problem when I was rendering DustJs templates on server and bootstrap them on client with my framework. I thought If you valid HTML markup and matching whitespaces, DOM will handle it without issues.

[2017-01-20 15:46] kurdin commented on #749
Can you avoid inserting comments if you template has well structured HTML markup?

[2017-01-20 15:48] trueadm commented on #749
@kurdin Inferno inserts comments because it needs them because your markup isn't "well structured". If you want to avoid using them, avoid cases where text VNodes can be adjacent and avoid void VNodes. I'm not too sure what the issue is here though, they make no impact on SEO and little difference on performance.

[2017-01-20 15:49] kurdin commented on #48
I see. Sorry, I guess your README is too long :)  can you please add this to https://infernojs.org/docs/guides/

[2017-01-20 18:43] craigmichaelmartin commented on #745
Thanks for leaving this open for someone to help (and setting them up to succeed)! I've been watching the repo, eager to learn more, and contribute where I can. I'll create a PR for this.

[2017-01-20 19:10] mxfs opened #750 "inferno-mobx question: implementation of isUsingStaticRendering for SSR"
Is `isUsingStaticRendering`(mobx-react) necessary for the implementation of SSR with inferno-mobx?
Do you plan to implement it in the future?

From mobx-react docs

When using server side rendering, normal lifecycle hooks of React components are not fired, as the components are rendered only once. Since components are never unmounted, observer components would in this case leak memory when being r

[2017-01-20 20:06] Havunen commented on #745
@craigmichaelmartin that would be awesome, please also include tests to avoid regression on future :)

[2017-01-20 20:08] #720 closed

[2017-01-20 20:09] #739 closed

[2017-01-20 22:52] kurdin commented on #749
@trueadm it does matter :) especially if you have large page rendered on server, why would I want to waste browser time to touch DOM in every places where it needs to remove those comments?
and I don't think it is only inserts comments if markup isn't "well structured".

Look at this example, jsx template:
[code]
Does it has wrong markup? I don't think so.
on server it renders to: `<p>Hello - Serg

[2017-01-20 23:28] davidcalhoun opened #751 "Minor website issue: meta og:url variable missing"
Super minor issue with the website - looks like a template variable didn't get set correctly on https://infernojs.org/:

![inferno](https://cloud.githubusercontent.com/assets/120596/22168886/e97ce0a4-df24-11e6-9367-1ecddc2efaeb.png)

[2017-01-20 23:54] ddibiase commented on #751
Thanks for reporting this. It's been corrected!

[2017-01-20 23:54] #751 closed

[2017-01-21 08:44] mxfs opened #753 "SSR: Inferno.render causes double iframe request"
Is normal that `Inferno.render` method load again an iframe?
The first iframe request is result of the SSR html, the second from the client js (double robots.txt request in network tab)

A similar problem happens with the dog gif, but this one not call a new request, only reset the gif animation.

The `div` with `background-image` (cat gif) looks good.

I noticed that the html returned by `renderT

[2017-01-21 10:13] thysultan commented on #749
@kurdin you can have

[code]

When `name` changes and the component is diff'ed it will only change `{this.state.name}` and not `Hello -`, With that in mind the DOM doesn't differentiate between different textNodes unless they are separated by a non-textNode this is to allow textNodes to have any kind of whitespace in one textNode which is why the text in <p>Hello - Sergey</p> is parsed as one text

[2017-01-21 10:55] yczhang89 opened #754 "inferno-core setState newState/nextState callback is not called with props and context"
**Observed Behaviour**

With inferno-compat, `nextState(state)` is called after `Component.setState(nextState)` where `nextState` is a function.

**Expected Behaviour**

`nextState(state, props, context)` is called.

React API specifies that `nextState` should be called as `nextState(state, props)` (https://facebook.github.io/react/docs/react-component.html#setstate). However, React actually calls

[2017-01-21 11:22] wagerfield opened #755 "InfernoTestUtils.findAllInTree causes stack overflow"
I'm experiencing a `Maximum call stack size exceeded` range error when calling `InfernoTestUtils.findRenderedDOMComponentWithTag` with the following setup:

[code]

The stack trace I get looks like this:

[code]

Stepping through the stack trace, I can see that it the errors come from:

[code]

Since `findAllInTree` is being called recursively on `L2672`, I am guessing that this is the result of a

[2017-01-21 11:39] Havunen commented on #754
This is bug in inferno-core thanks for reporting! I can fix it in next (1.2.2) release.

[2017-01-21 11:40] Havunen commented on #755
Hi, thanks for reporting this issue. Having this fixed for next (1.2.2) release would be nice.

[2017-01-21 12:22] wagerfield commented on #755
Is this something you have any experience with @Havunen?

[2017-01-21 12:35] Havunen commented on #755
I have not used them, I know those were ported directly from React utils.

[2017-01-21 12:51] Havunen commented on #754
I misunderstood the question, its indeed only for inferno-compat

[2017-01-21 13:29] yczhang89 commented on #754
Without an understanding of inferno implementation, it seems to me `this.props` and `this.context` are necessary for inferno-core to make atomic state updates. Will inferno (without inferno-compat) correctly handles the following case?

[code]

I looked into the documentation, but did not find any related specifications.

[2017-01-21 13:37] Havunen commented on #754
Inferno core does not take function as argument for setState at least for now. It could be something we could build into core if more people see it important

[2017-01-21 13:40] yczhang89 commented on #754
Thanks :)

[2017-01-21 13:53] Havunen commented on #754
@yczhang89 I have been outdated! I gave wrong information. It is already there.
https://github.com/infernojs/inferno/blob/master/src/component/es2015.ts#L96-L98

I will add missing parameters and test

[2017-01-21 14:07] Havunen commented on #754
Implemented support for this. Closing.

[2017-01-21 14:07] #754 closed

[2017-01-21 14:20] Havunen commented on #755
verified this is bug

[2017-01-21 14:24] yczhang89 commented on #754
It's really great to hear that! Thanks!

IMHO, React-like API has a loose semantics; and I see atomic state updates as a fundamental building block to work with that.

[2017-01-21 15:35] Havunen commented on #755
This is now fixed in dev and will be available in next 1.2.2 release. Performance should be way better also.

[2017-01-21 15:35] #755 closed

[2017-01-21 15:44] Havunen commented on #738
@fmarsoni using setState sync fixes cursor jumping issue:
https://jsfiddle.net/ehm2evbx/

Fixing setState is too complex for me, it requires most likely @trueadm 's input

[2017-01-21 15:49] wagerfield commented on #755
@Havunen legend—thanks for taking a look at that—you've saved me a lot of time!

In the test you added for this case, why are you expecting the `result.length` of `scryRenderedDOMComponentsWithTag` to equal 5? I would expect this to be 2 since there are only 2 elements being rendered in that test—one parent `SuperComponent` and one child `SuperComponent`.

[2017-01-21 16:07] kurdin commented on #749
My goal is to minimize touching DOM on initial render, as fastest as possible bootstrap time on the client with HTML rendered on server. Can you agree this is a good thing right? :)

@thysultan I don't think you need another implementation that tracks behavior. I think if you'll use just tags to create single vNodes for each tag should solve this problem. In your example: '<p>Hello - {this.state.n

[2017-01-21 16:46] thysultan commented on #749
@kurdin If you used hyperscript/createElement you can go around this but because the jsx-plugin cannot know what kind of value a variable holds it cannot simply added the two nodes together into one, for example one text node: `"Hello"+this.state.name`, if `this.state.name` returns `undefined` it will concat `undefined` to the string but it wants to avoid rendering null, undefined, false, etc...

[2017-01-21 16:59] trueadm commented on #749
@kurdin I did extensive tests on this here and this was in fact massively faster. Touching comment DOM nodes on the DOM is cheap, they don't cause redraws and reflows.

[2017-01-21 17:10] Havunen commented on #755
Yeah, I basically just fixed the loop. I dont know what that function was supposed to return. I tried reproducing it with React but no luck.

Link to fiddle:
https://jsfiddle.net/yfhwy3gu/

[2017-01-22 16:34] longlho commented on #753
@mxfs do you have a simple snippet? That's possible if client & server rendering result in different markups

[2017-01-22 23:09] georgelee1 opened #760 "Router Link doesn't pass all defined props"
When using Inferno Router `Link` component additional defined props are not propagated down to the rendered `a`.

My specific example is the `title` prop does not set on the underlying anchor element,

[code]

The does not follow the same behaviour as React Router which does pass on additional defined props. In the React Router Link (https://github.com/ReactTraining/react-router/blob/master/module

[2017-01-23 00:44] mxfs commented on #753
@longlho It happens with the same markup inside the #root (mount) container https://github.com/mxfs/inferno-ssr-bug

[2017-01-23 11:21] antid0te opened #761 "Hot module replacement ?"
Is it possible to have hot module replacement with Infernojs and webpack ?

I cloned a bunch of repo who provide a starter project, they all claim to have hot module replacement, but none of them have a working solution.

[2017-01-23 13:39] Havunen commented on #761
Hi @antid0te did you try https://github.com/infernojs/create-inferno-app
What issue are you having exactly?

In inferno HMR works webpack native way not React way. If you are interested in React way that module could be ported to Inferno.

[2017-01-23 13:46] antid0te commented on #761
Yes i tried it, but when i make a change, the whole page is refreshed.

[2017-01-23 15:45] doytch commented on #677
Is there a roadmap or goal for the native dev tools project anywhere? I'm willing to throw time into it; likely on the front-end/extension side since my knowledge of the Inferno guts is nowhere near the rest of y'all.

[2017-01-23 19:07] Havunen commented on #677
@trueadm you started native devTools project right? Do you have repository up somewhere? What problems did you face other than not having enough time? :)

[2017-01-24 00:27] kurdin commented on #749
@thysultan, yes, I understand that you can go around adding comments with using hyperscript/createElement but it is not an option for large projects with separate people responsible for HTML/CSS views and JavaScript functionality. Looks like this is JSX parser problem and not inferno.

[2017-01-24 01:52] kurdin commented on #749
@trueadm I did some testing for our own evaluation. if you interesting try this: https://github.com/kurdin/inferno-vs-jdflux
Short story: We trying to find replacement for our own flux like framework based on jquery, dustjs (templates) and [virtual-dom](https://github.com/Matt-Esch/virtual-dom). It works fast on client and server but we lack of documentation and limited time to do support lead us

[2017-01-24 02:05] kurdin commented on #749
P.S
I kind of understand why you need SSR this:
[code]
to this:
[code]
but rendering this:

[code]

to this:
[code]

???? why

all those comment tags just does not look right. Can this be fixed on JSX parser level or not worth it?

[2017-01-24 10:01] trueadm commented on #749
@kurdin You are getting whitespace, because you have whitespace between the spans. This is something that could totally be optimied though if you feel like helping with a PR. On the note of performance, try using `noNormalize` and see how that affects performance.

`<div noNormalize>Hello world</div>`

Normalization does a bunch of stuff that you might not need, depending on your usage of Inferno,

[2017-01-24 15:34] kurdin commented on #749
@trueadm adding `noNormalize` to test app make SSR twice faster
[code]
but client gives warning:
`inferno.node.js:63 Inferno hydration: Server-side markup doesn't match client-side markup or Initial render target is not empty`
and on next render text `Saying Hello to` is removed from HTML.

[2017-01-24 16:36] trueadm commented on #749
@kurdin `noNormalize` cannot be used on text text nodes, so you will need to ensure all text nodes are normalized or are wrapped in an element directly (this includes whitespace). So:

```Saying Hello to <b>{names.length}</b> names: ````

Needs to be:

```<span>Saying Hello to <b>{names.length}</b> names:</span>```

[2017-01-24 16:39] kurdin commented on #749
@trueadm thanks! Trying to understand where SSR is getting slow.

[2017-01-24 16:40] trueadm commented on #749
@kurdin it's most likely because of the normalization process in `createVNode` it has a huge impact on performance. Also is jdflux properly stripping out all strings for bad characters like Inferno/React does?

[2017-01-24 16:51] kurdin commented on #749
yes, adding `noNormalize` make SSR twice fast. Wonder why, if I read it correctly from code `inferno-server` does not use `createVNode` at all. Right

yes, it just use http://www.dustjs.com/ for rendering. Dustjs one of the fastest template engine for node, if you never use it, I highly recommend it as express render engine.

jdflux is much simple in term of rendering, take compiled dustjs templat

[2017-01-24 16:53] trueadm commented on #749
@kurdin `inferno-server` is a renderer, it still needs to be fed virtual DOM. The only way to create Inferno virtual DOM is with `createVNode` every factory for Inferno uses it.

[2017-01-24 17:06] kurdin commented on #749
@trueadm I understand this, but `inferno-server` just renders `vNodes` that was created with `createVNode` right?

[2017-01-24 17:13] kurdin commented on #749
BTW: is this a bug:

https://github.com/infernojs/inferno/blob/master/packages/inferno/dist/inferno-server.js#L556-L561

[code]
Source:
https://github.com/infernojs/inferno/blob/master/src/server/renderToString.ts#L155-L161

[2017-01-24 17:24] trueadm commented on #749
@kurdin Yes, `inferno-server` simply renders VNodes. That isn't a bug, they used to do different things, but the API needs cleaning up to remove one of them. :)

[2017-01-24 21:02] kurdin commented on #749
Here you go, 10000 names SSR renders under 100ms with inferno
![image](https://cloud.githubusercontent.com/assets/6027060/22266296/8af07e66-e24d-11e6-8bb9-fc1ce3b4e576.png)

I was able fix SSR speed by removing normalize from server rendering but keep in for client.

https://github.com/infernojs/inferno/blob/master/packages/inferno/dist/inferno.node.js#L268
[code]
@trueadm for some reasons `normal

[2017-01-24 23:51] kurdin commented on #761
@antid0te looks like currently HMR work only with CSS. If you change JS, whole page needs to be refreshed.

[2017-01-25 00:24] kurdin commented on #753
@mxfs when I trying to start your app I see error:

$ babel src/server.js --out-file dist/server.js && babel src/client.js --out-file static/client.js
[code]
That code looks strange to me. You should create one component inferno and share it between server and client.

[2017-01-25 01:00] mxfs commented on #753
@kurdin sorry, I fixed it (For some reason i forget .babelrc)

I know I can share the same component, but I think it's not necessary for this simple app.
If you need this, let me know to implement a bundler.

[2017-01-26 16:16] Havunen commented on #749
@kurdin that is validation for development build only, you should benchmark using process.env.NODE_ENV production

[2017-01-26 19:45] skicomdev commented on #749
@Havunen yes, I did figure this out but removing `normalize(vNode)` completely from SSR make it even faster.

[2017-01-26 21:10] mrjjwright opened #771 "Latest mobx-inferno and inferno throwing on start"
After launching either from nwb or my app I get the below when loading the mobx `observer`.   Pretty sure it's coming from this [commit](https://github.com/infernojs/inferno/commit/ae28994f69bc4e59e52e9bccf77122574af0dcb0).

[code]

[code]

[2017-01-26 21:28] kurdin commented on #749
@Havunen  yes, I did figure this out but removing normalize(vNode) completely from SSR make it even faster.

[2017-01-26 22:37] mrjjwright commented on #771
I am working around it with an in app copy of `makeReactive.ts` that I export as `observe`  and simply calling

[code]
before I use it.

[2017-01-27 08:12] rbelmega opened #773 "renderToString doesn't generate selected attributes from value/defaultValue"
For server-side rendering: adding a value or defaultValue to a `<select>` doesn't generate static HTML with the appropriate selected attributes. Here is an issue  [issue](https://github.com/facebook/react/issues/1398) from React that could describe better

[2017-01-27 08:18] rbelmega commented on #773
It's very easy to make some words **bold** and other words *italic* with Markdown. You can even [link to Google!](http://google.com)

For server-side rendering adding a **value** or defaultValue to a select doesn't generate static HTML with the appropriate selected attributes. Here is an issue [link to Google!](http://google.com)

[2017-01-27 09:37] thysultan commented on #773
Could this be related to [https://github.com/infernojs/inferno/issues/745](https://github.com/infernojs/inferno/issues/745)?

[2017-01-27 10:05] rbelmega commented on #773
@thysultan I don't believe so. This works fine with browsers rendering, but from server it comes without selected attribute

[2017-01-27 10:09] thysultan commented on #773
@rbelmega Do you have an example of the input vs expected html vs actual html.

[2017-01-27 10:11] thysultan commented on #773
@rbelmega Actually this is the issue i meant to link to [https://github.com/infernojs/inferno/issues/743](https://github.com/infernojs/inferno/issues/743)

[2017-01-27 10:38] Havunen commented on #771
`Inferno-dom`  package no longer exists and is removed. Can you see where that is referred?

[2017-01-27 10:50] Havunen commented on #749
@kurdin removing it definitely makes things faster because:
- no longer keyed algorithm is used ( it diffs [a,b,c] => [a,c] to ( a => a, b => c, remove c)  instead (a => a, c => c, remove b))
- no longer nested arrays are handled ( this causes exceptions runtime )
- no longer state of element remains set (not sure if this matters on SSR)
- no longer deletes ref from props
- no longer deletes key f

[2017-01-27 10:55] Havunen commented on #749
You can make your application working without normalisation when:
- You can handle that scenario in user-land by always defining keys when you need them. This depends on your user-land implementation.
- Never use arrays inside arrays
- never read ref/key from props
- always use correct types.
- Never use hoisted nodes and move them

[2017-01-27 15:55] rbelmega commented on #773
@thysultan it should pass next unit-test

`import renderToString from '../../server/renderToString';`
...
`
it('should support server-side rendering', function() {
var stub = (
`
  `<select value="giraffe">`
    `<option value="monkey">A monkey!</option>`
    `<option value="giraffe">A giraffe!</option>`
    `<option value="gorilla">A gorilla!</option>`
  `</select>);`

		var markup = renderToStri

[2017-01-28 08:12] Havunen commented on #761
@kurdin thats how I understood it also. @antid0te if you are interested in that React like behavior maybe you could port that package to Inferno?

[2017-01-28 08:13] Havunen commented on #760
Closing this as it has been fixed :)

[2017-01-28 08:13] #760 closed

[2017-01-28 08:41] Havunen commented on #745
I started looking into this and its little different task for textarea compared to input as textarea dont support native defaultValue. so we need logic for this.

[2017-01-28 10:59] Havunen commented on #745
This will be fixed in next release. Closing.

[2017-01-28 10:59] #745 closed

[2017-01-28 11:18] Havunen commented on #773
I had look at this, its renderToString related only

[2017-01-28 11:19] Havunen commented on #628
React like HMR (This has been requested multiple times)

[2017-01-28 11:19] Havunen commented on #761
Added this into POST 1.0 roadmap
https://github.com/infernojs/inferno/issues/628

[2017-01-28 12:41] rbelmega commented on #773
@Havunen, yes, so we are loosing isomorphic select redering

[2017-01-29 06:23] michaelAndersonCampingWorld opened #778 "Nested paths in router do not switch properly"
Nested routes don't change children when url changes, but do on refresh

**If you can, please distill your problem down and include a JSFiddle example for illustration.**

---

## Issue Template

**Observed Behaviour**

Inferno is rendering children correctly on refresh regardless of route, but doesn't render properly when url changes with Link.

Here is the router code:

[code]
The two routes whi

[2017-01-29 12:09] nightwolfz commented on #771
@mrjjwright Please use `inferno-mobx` instead.

`mobx-inferno` is the very old version

[2017-01-29 17:10] kurdin commented on #749
@Havunen Thanks for all this info. I will have to review all those cases and see if I can turn off normalization for SSR in my case.

[2017-01-29 17:32] kurdin opened #779 "Component not destroyed on its mount DOM element removal."
## Issue Template

html
[code]
component:
[code]
render
[code]
component will output in console 'I am alive' every second.

**Observed Behaviour**
if ajax call made to server and replace div#view with another HTML content  and right after that another component render to div#app ` Inferno.render(<Comp/>, document.getElementById('app'));` first component still alive and output message to console. I

[2017-01-29 19:08] nightwolfz commented on #743
Added fix on `dev` branch, let me know if issue still persists.

[2017-01-29 19:08] #743 closed

[2017-01-29 19:25] nightwolfz commented on #773
Added a fix to `dev` branch, let me know if issue persists

[2017-01-29 19:25] #773 closed

[2017-01-29 19:25] #771 closed

[2017-01-29 19:29] nightwolfz commented on #750
It's in a separate branch which I didn't have time to integrate because of various life events.

https://github.com/infernojs/inferno/blob/mobx-v4/src/mobx/observer.ts#L199

[2017-01-30 03:35] #750 closed

[2017-01-30 04:48] dax0 commented on #745
Is there an ETA on that release?

[2017-01-30 11:06] Havunen commented on #745
This week hopefully. We need to solve some build related issues to be able to release.

[2017-01-30 17:59] Havunen commented on #779
You need to replace the component with another or render null to make it unmount, That is the current expected behavior. There are no hooks currently (no plans either?) to track removal of root nodes.

[2017-01-30 18:13] Havunen commented on #548
Basics for testing and benchmarking are implemented also it has gone through one optimization process. I will close this ticket, as this is continuous process.

[2017-01-30 18:13] #548 closed

[2017-01-30 18:14] Havunen commented on #383
Closing as documentation improvements can continue on website repo. Lets try to keep this repo clean and focused on Inferno core.

[2017-01-30 18:14] #383 closed

[2017-01-30 18:16] Havunen commented on #486
Work will continue regarding this, but closing this ticket as its not Inferno-core related.

[2017-01-30 18:16] #486 closed

[2017-01-30 18:18] #626 closed

[2017-01-30 18:23] Havunen commented on #667
This question also depends if user wants to use `inferno-compat` package or not. We could list those separately : Inferno-native / Inferno-compat ?

[2017-01-30 18:28] Havunen commented on #725
@JacobSoderblom I have not heard anybody has started work on this. I think this would be nice addition :)

[2017-01-30 18:34] Havunen commented on #628
Support Passive Event Listeners  (touchStart etc) This could be done synthetic events.

more Info:
https://github.com/WICG/EventListenerOptions/blob/gh-pages/explainer.md

[2017-01-30 18:48] Havunen commented on #628
Supporting rendering fragments:

https://github.com/infernojs/inferno/issues/501

[2017-01-30 21:34] TrySound opened #781 "Scroll is lost"
**Observed Behaviour**

When I tried to make reactive list I found my scroll is locked after a few pressing of down key.
This is happen only with `key` prop

http://codepen.io/TrySound/pen/ygpGVz

**Expected Current Behaviour**

Scroll should be nice and with minimal `render` calls

**Inferno Metadata**

Pen contains inferno@1.2.2
Windows 8
Chrome 55

[2017-01-31 01:49] kurdin commented on #779
Hmm, ok why not to add something like that to inferno. This could be useful in many situations.

[2017-01-31 05:05] SuhairZain commented on #667
@Havunen
Regarding that, I was under the impression that `inferno-compat` was compatible with all React libraries, out of the box. In that case, we wouldn't have to list them, right?

[2017-01-31 05:21] longlho commented on #667
I think it can maybe be a special section of compatibility (w/ & w/o inferno-compat). There are libs that use internal React modules, which `inferno-compat` won't cover

[2017-01-31 05:30] SuhairZain commented on #667
@longlho
In that case, it'd be useful to have a confirmed list of compatible libraries for `inferno-compat` as well. I'm currently caught up in some work. Will get right into this the next week in case someone else doesn't do it by then. 😄

[2017-01-31 09:05] kraaden opened #783 "htmlFor attribute is not working properly"
The following JSX code

    <label htmlFor="abc">test</label>

generates wrong HTML code:

    <label htmlfor="abc">test</label>

It should be:

    <label for="abc">test</label>

**Inferno Metadata**

It was tested with `inferno-compat 1.2.2` on Windows 10 with the latest Chrome browser.

[2017-01-31 15:06] hulkish commented on #587
@nightwolfz just tested `inferno`starter`... hmr is not working

[2017-01-31 15:11] Havunen commented on #783
Hi @kraaden what is the use-case behind this need? Cant you write
`<label for="abc">test</label>` ?

[2017-01-31 15:12] longlho commented on #783
`htmlFor` is from React I believe

[2017-01-31 15:13] Havunen commented on #783
So this could be addition to `inferno-compat` package?

[2017-01-31 15:28] Havunen commented on #587
@hulkish what is expected outcome for definition of working in this case? It refreshes window when you change a file that is expected behavior by native webpack HMR

[2017-01-31 15:29] longlho commented on #783
yeah I believe so, I can try to make a quick fix tonite

[2017-01-31 15:29] kraaden commented on #783
`JSX` uses `htmlFor` attribute instead of `for`, because `for` is a reserved word in JavaScript (similar to `className`):

https://facebook.github.io/react/docs/dom-elements.html

[2017-01-31 15:31] Havunen commented on #783
https://jsfiddle.net/1xtw7cwq/1/

[2017-01-31 15:32] Havunen commented on #783
You can also use `xlink:href` instead `xlinkHref` with Inferno

[2017-01-31 15:49] kraaden commented on #783
We use `TypeScript` and it is not possible to compile `TSX` when keywords like `class` or `for` are used:

    // in typescript
    <label for="abc">test</label>

Error message:

    Property `for` does not exists on type `HTMLProps<HTMLLabelElement>`

[2017-01-31 16:09] hulkish commented on #587
@Havunen I'm sorry, but I think you're confusing HMR with [nodemon](https://github.com/nightwolfz/inferno-starter/blob/master/package.json#L10)

[2017-01-31 17:03] trueadm commented on #783
You need to create your own type and add them to that for TS. I'll speak to the TS team soon and get them to fix this bug.

[2017-01-31 17:34] Havunen commented on #781
I noticed that if you click on scroll bar before moving with arrows it works as expected :)

[2017-01-31 17:37] TrySound commented on #781
Heh. Nice, but who is guilty?)

[2017-01-31 17:42] Havunen commented on #781
It has something do with the fact that when using keys, it keeps internal state of that DOM element. Now you can see it better when you highlight text and start moving down with arrows

When using keys highlighted node keeps going up, while when not using keys its always changing the highlighted node. This also shows how patching routine works

[2017-01-31 17:43] Havunen commented on #781
also offtopic: in the example you are passing nested arrays as children

[2017-01-31 17:46] Havunen commented on #781
Anyway this is interesting issue because even non keyed Inferno makes them internally keyed using normalisation.

[2017-01-31 17:53] Havunen commented on #781
Okay now I understand the issue. Because in your example you are defining keys that are unique for each render. That means eventually the one you are scrolling down will be moved out from the window and focus is lost. In the above scenario you need to define keys from (0 - 10) to make it work as intended.

when doing following patch:
`[0,1,2,3,4,5,6,7,8,9] => [1,2,3,4,5,6,7,8,9.10]`
you want to pa

[2017-01-31 17:56] Havunen commented on #781
So you want to use keys based on location of the node in the DOM to tell Inferno to patch the contents and not move DOM within its siblings? I think this is not bug.

[2017-01-31 18:01] TrySound commented on #781
Okay. I got it. I need to do something like this
[0,1,2,3,4,5,6,7,8,9] => [1,2,3,4,5,6,7,8,9,0]

Thanks for your help. Let's keep it open for a while. I'll close it by myself.

[2017-01-31 18:09] Havunen commented on #781
but now keep in mind when keys are defined like that and you have components inside cells, they will be unmounted / mounted again

[2017-01-31 18:10] Havunen commented on #781
I will verify what React does.

[2017-01-31 18:23] Havunen commented on #781
Here is React version it behaves exactly same:
https://jsfiddle.net/cfxbp75u/

so I believe patching routine is correct.

[2017-01-31 19:42] Havunen commented on #779
Lets see if we get more requests for it, then we can consider. Currently there are no plans for it.

[2017-01-31 19:42] #779 closed

[2017-01-31 20:13] dax0 commented on #745
Is there a way for me to try out the unreleased build?

[2017-01-31 23:09] LukeSheard commented on #704
I can take a look at this tomorrow.

[2017-01-31 23:23] k15a commented on #101
Hey @trueadm, does Inferno support rendering Promises and Observables out of the box or do I have to do something extra?

[2017-02-01 06:35] Havunen commented on #745
You can at least do it manually by making `npm run build` and replacing dist files in your apps node_modules/inferno/dist  We are moving to lerna I need to speak with @longlho how to make release candidate

[2017-02-01 06:35] #781 closed

[2017-02-01 12:35] atwaves opened #786 "Inferno dev tools error when use functional component"
[code]

![untitled](https://cloud.githubusercontent.com/assets/9660479/22506919/f8f86cba-e893-11e6-98c9-01b96ee7c79f.jpg)

[2017-02-01 15:17] rikkertkoppes commented on #738
I can confirm the issue. Moreover, when using inferno-redux, it is not easily worked around by using `setStateSync`, as inferno-redux handles setting the state: https://github.com/infernojs/inferno/blob/master/src/redux/connect.ts#L261-L283

			handleChange() {
				if (!this.unsubscribe) {
					return;
				}
				const storeState = this.store.getState();
				const prevStoreState = this.state.storeS

[2017-02-01 18:05] Havunen commented on #738
The work regarding this has started:

https://github.com/infernojs/inferno/pull/785

But this is difficult issue to get right. Sorry for the delay.

[2017-02-01 18:28] Havunen commented on #786
Hi @atwaves thanks for reporting this issue, I will have a look at this now.

[2017-02-01 19:08] Havunen commented on #786
You need to use `import 'inferno-devtools';`  or move `require('inferno-devtools')` before inferno

[2017-02-02 06:50] rikkertkoppes commented on #738
Thanks, that is some nice news to wake up to for a change

[2017-02-02 12:44] buzinas opened #791 "TypeError: Cannot set property 'nodeValue' of null"
When using SSR and the initial value of a TextNode is an empty string, it doesn't actually create the TextNode, so if we update the value on the client, Inferno crashes with the error mentioned in the title.

E.g:

[code]

The code above works pretty fine when using directly in the browser. But if we try to render it on the server, the empty TextNode isn't created, and then when we click on the bu

[2017-02-02 12:46] buzinas commented on #791
By the way, to see that everything works fine when not rendering on the server, just comment the line:

[code]

And the error will be gone.

[2017-02-02 14:27] kirill-kruchkov commented on #738
Related issue with radio buttons: https://codepen.io/dinalt/pen/ZLxqxm

[2017-02-02 14:35] Havunen commented on #738
initial PR to fix this behavior:
https://github.com/infernojs/inferno/pull/785

[2017-02-02 16:59] sveinburne commented on #725
Hi ! We are building our stack for a startup project and inferno sounds like an awesome candidate, but an Apollo bridge is required for us to proceed.

[2017-02-02 17:37] LGabAnnell commented on #778
I've ran into the same thing, I've looked at the `Route` source code, and have come to the conclusion that `onEnter` as well as `getComponent` are only called once (on router construction, in the `componentWillMount` method) and only if the url matches when you enter the page (which explains why you see the correct component on hard refresh, and not when navigating with by clicking on a `Link` com

[2017-02-02 19:28] kurdin opened #793 "[Feature Request] sub component option to remount/replace with replaceVNode instead update with patchComponent"
I have sub component that renders table structure and later on `componentDidMount` jquery plugin takes that inferno rendered structure and apply some jquery functionality. On parent component update, inferno tries to update/patch sub component structure with invalid results. The only way to go around this problem is to force sub component to rerender/remount ifself again instead of update.

I've b

[2017-02-02 19:49] Havunen commented on #793
Hi @kurdin can you give minimal code to reproduce the wanted behavior / scenario. That could help with this. I'm wondering why Inferno hydration doesn't solve the case.

[2017-02-02 19:52] kurdin commented on #793
@Havunen will do

[2017-02-02 20:15] kurdin commented on #791
I can confirm this is a bug. if you add space in `state = { message: '  '}` everything works.

[2017-02-02 20:23] buzinas commented on #791
@kurdin Since an empty space is not a problem for my specific situation, this is exactly the workaround I'm using now. But I thought I should open an issue here, so we can push a fix for this. I would do it myself if I had any idea how server rendering works.

[2017-02-03 00:00] thysultan commented on #791
@buzinas you could see if changing this [renderToString.ts#L142](https://github.com/infernojs/inferno/blob/master/src/server/renderToString.ts#L142)

[code]
to this

[code]

might fix this.

[2017-02-03 00:39] LukeSheard commented on #704
This has been fixed by #792

[2017-02-03 00:39] #704 closed

[2017-02-03 01:35] kurdin commented on #793
@Havunen here you go: https://jsfiddle.net/otf9wp12/

[2017-02-03 05:21] Stuk commented on #704
Awesome! Thanks!

[2017-02-03 11:08] JacobSoderblom commented on #725
@Havunen @sveinburne I'll start on this tomorrow, but my time is a bit limit right now. So if anybody feels it takes to long, they should feel free to take over 😄

[2017-02-03 15:53] jduhls opened #798 "missing functional component typescript props and definitions"
**Observed Behaviour**

Building functional components with Typescript, inferno, and atom (w/ atom-typescript) I was unable to get IDE feedback on prop types as well as during build/compile.  For example:

[code]

All of the props typings for the `<FormSelect>` component would be `any` even though I have a typescript definition file for `<FormSelect>` props. I was actually able to get typings to w

[2017-02-03 15:59] longlho commented on #798
thanks for reporting we're in the process of buffing up our type defs :)

[2017-02-03 17:35] kanzelm3 opened #799 "Event attribute detection is too loose"
**Observed Behaviour**

Inferno is using a method called [`isAttrAnEvent`](https://github.com/infernojs/inferno/blob/master/src/shared.ts#L36) to detect whether an attribute is an event or not. This method is detecting false positives for any prop that starts with 'on' such as `onlyActiveIndex` or `oneMoreThing`. When it detects any prop that starts with 'on' that is not a function, it throws with

[2017-02-03 19:59] Havunen commented on #799
@kanzelm3 thanks for reporting this, looks like `isAttrAnEvent` is now also in core... Inferno should use native events and read those from `vNode` events, plugins (babel/createElement/hyperscript) can do the work to detect those correctly. This behavior needs refactoring.

[2017-02-03 20:09] kanzelm3 commented on #799
@Havunen no problem, let me know if you need help with it.

[2017-02-03 21:16] buzinas commented on #791
@trueadm any thoughts?

[2017-02-04 00:36] inversion-of-control opened #802 "Inferno.PropTypes is undefined"
**Observed Behaviour**

`Inferno.PropTypes` with functional es2015 component as per [eslint-plugin-inferno](https://github.com/infernojs/eslint-plugin-inferno/blob/master/docs/rules/prop-types.md) documentation:

i.e.

[code]

yields the following runtime error:

``
Uncaught TypeError: Cannot read property 'any' of undefined
``

I cannot find an exposed reference to `Inferno.PropTypes` anywhere wi

[2017-02-04 07:23] Havunen commented on #802
Hi @inversion-of-control are you using `ìnferno-compat` ?  I think propTypes are only available there, keep in mind that package adds overhead to Inferno.

[2017-02-04 08:11] atwaves commented on #786
@Havunen My mistake. Thank you

[2017-02-04 13:07] Havunen commented on #786
@atwaves NP :) closing.

[2017-02-04 13:07] #786 closed

[2017-02-04 14:27] Abhith opened #803 "Readme : Obsolete link (Benchmarks > Angular Test Table = Page not found)"
The **Angular Test Table** link (https://infernojs.org/benchmarks/angular-test-table/infernojs/index.html) in the **Benchmarks** section on README gives a "**Page not found**".

[2017-02-04 15:25] inversion-of-control commented on #802
Hey @Havunen. Many thanks for the fast response.

No, I'm not using `inferno-compat` for that exact reason - it's a shame to be forced into using it just  to use `Inferno.PropTypes` (or indeed `eslint` with `plugin:inferno/recommended` settings).

My experience with Inferno has been very positive (many thanks to all involved!) but this feels like an oversight. Was there a specific motivation for o

[2017-02-04 15:43] Havunen commented on #802
Just by looking at the source code I think its just shipped with Inferno-compat but does actually nothing?

Maybe you could try to do `npm install --save-dev proptypes` and then import it and assign it into Inferno.

note: I didn't try this out:
[code]

There is wrapper written for `createClass`, but if you are not using it, it should be fine I guess.

[2017-02-04 15:47] Havunen commented on #803
I remember that benchmark, it might be a little bit out dated. We should update it and the link.

[2017-02-04 15:49] Havunen commented on #799
I did look into this and it seems that `isAttrAnEvent` is in core because of rest parameters. @kanzelm3 do you have an idea how to make it more strict without killing performance its used in `patchProp` which is performance critical area

[2017-02-04 15:54] kanzelm3 commented on #799
@Havunen you could keep it a constant time operation by creating a lookup table of valid DOM events where the key is the event name and the value is true. If this is also used for non-standard events, then you could look at the 3rd character after `on` and flag it as an event attribute if it is uppercase.

[2017-02-04 16:07] Havunen commented on #803
Looks like many of those links are broken.

[2017-02-05 12:10] jduhls commented on #798
RE: Default/global properties not propagating (e.g. `key`, `children`, etc...) is solved by:

[code]

[2017-02-05 17:53] nightwolfz commented on #791
@thysultan Unfortunately it doesn't seem to help in this case.

Maybe changing the following https://github.com/infernojs/inferno/blob/master/src/server/renderToString.ts#L129

to

`renderedString += children ? escapeText(children) : ' ';` is the way to go?

[2017-02-05 18:06] thysultan commented on #791
@nightwolfz maybe, `escapeText(children) || ' '` or `children === '' ? escapeText(children) : ' '` since `children ? ...` will fail when children is the number `0`.

[2017-02-06 07:07] screendriver commented on #681
and how can I solve this when I have `noImplicitAny` turned on in my project?

[2017-02-06 07:32] Havunen commented on #681
@screendriver at the moment its not possible, I know @longlho  is working on better typescript support, related ticket: https://github.com/infernojs/inferno/issues/798 and https://github.com/infernojs/inferno/issues/686   start of implementation PR: https://github.com/infernojs/inferno/pull/800  anyway this is open source project so if you can help with this it would be awesome. Lets continue disc

[2017-02-06 07:47] screendriver commented on #681
Thank you very much for that quick response and your help 👍

[2017-02-06 08:44] nightwolfz commented on #791
I went with `children === '' ? ' ' : escapeText(children)`

[2017-02-06 09:31] buzinas commented on #791
@nightwolfz, @thysultan my only doubt is: adding a space won't make Inferno fail when trying to make the reconciliation? Shouldn't we change some code in the client code to reflect this change?

[2017-02-06 11:27] thysultan commented on #791
@buzinas No it won't, inferno will fix the mis-match when hydrating here - [https://github.com/infernojs/inferno/blob/master/src/DOM/hydration.ts#L197](https://github.com/infernojs/inferno/blob/master/src/DOM/hydration.ts#L197), the same as it would if you rendered `Date.now()` as a textNode.

[2017-02-06 11:37] buzinas commented on #591
any news?

[2017-02-06 12:06] buzinas opened #808 "JSX spread attributes"
**Observed Behaviour**

When using Inferno's babel plugin, our JSX nodes are transpiled to `createVNode`. The problem is: if we are using JSX spread attributes, the events don't work as expected. This happens because Inferno's VirtualDOM separate the events from the props - and while [`createElement`'s source checks the existence of events in props](https://github.com/infernojs/inferno/blob/master

[2017-02-06 12:18] Alxandr commented on #591
No, sorry, I've been busy lately. Most of it is working I believe (not all tests are ported), but last I worked on it there was a large issue with tslint errors on the inferno repo (which I've been told has been fixed by now though). See https://github.com/infernojs/inferno/pull/638 for last updates.

[2017-02-06 16:21] trueadm commented on #808
There is a check for this, it's done during the normalization process of createVNode, unless this has changed since.

[2017-02-06 17:11] Havunen commented on #808
it seems to be only reading events property from props, but it doesn't loop props

[2017-02-06 18:27] sveinburne commented on #725
@JacobSoderblom check this thread apollographql/react-apollo#372

[2017-02-06 19:01] buzinas commented on #808
Searching for `isAttrAnEvent`, I can't see that check anywhere while creating VNodes.

[2017-02-06 19:43] screendriver commented on #802
Same here. `Inferno.PropTypes` is `undefined` but [eslint-plugin-inferno](https://www.npmjs.com/package/eslint-plugin-inferno) complains about it :thinking:

[2017-02-06 21:31] Havunen commented on #802
That rule should most likely be off by default, mind sending PR?

[2017-02-07 02:05] LukeSheard commented on #778
Merged the PR for this issue.

[2017-02-07 02:05] #778 closed

[2017-02-07 06:23] screendriver commented on #802
I would do that. But first I don't know the reason why it's there and second I am not experienced enough with ESLint rules 😞

Unfortunately I can't open issues at `eslint-plugin-inferno` because issues are disabled there.

[2017-02-07 06:56] JacobSoderblom commented on #725
@sveinburne well that's nice! I'll try to talk to them and see if they have started the work, or what their thoughts are about this.

[2017-02-07 21:11] Vpr99 opened #809 "Support for rendering ImmutableJS Maps, Lists, Records, etc."
I'm in the process of implementing ImmutableJS in one of our services and I noticed that when iterating over the items in a List, Inferno can't render the Immutable List directly, since it's not a JS array.

Here's the Stack Overflow discussion that led me to this conclusion:
http://stackoverflow.com/questions/27864706/when-to-use-tojs-with-immutable-js-and-flux

Here's the stack trace:
[code]

Co

[2017-02-07 21:21] trueadm commented on #809
@Vpr99 This has come up in past so it's a good question. The problem is that we found iterating over Immutable JS collections to be extremely slow compared to using plain JS objects. Behind the scenes, Inferno would also have to do a similar `toJS()` operation in order to properly work with the data, or to fully work with ImmutableJS's objects, there'd need to be a huge amount of code added to dea

[2017-02-07 22:00] longlho commented on #809
@Vpr99 `toArray()` is your friend

[2017-02-07 23:04] jdalton commented on #809
I ran into this while trying to switch Lodash docs over the Inferno as well.

[2017-02-07 23:06] jdalton commented on #809
I thought the win with Immutable JS was object comparison speeds. Is this not necessarily the case here?

[2017-02-07 23:09] Vpr99 commented on #809
@jdalton this is too funny. We were just doing an exploration into whether Immutable was worthwhile. We're gonna pass on Immutable for now because the cost of `toJS()` functions was pretty high. [Alex Faunt](https://medium.com/@AlexFaunt/immutablejs-worth-the-price-66391b8742d4) brings up some good points.

That being said, we liked some of the Object functions that Immutable offers. I'm refactori

[2017-02-07 23:11] longlho commented on #809
@jdalton yes object ref comparison is certainly sweet but pretty much everything else about ImmutableJS is slower :(

[2017-02-07 23:17] jdalton commented on #809
@Vpr99

Cool! I use Lodash's site as my sandbox to explore things too :D

[2017-02-07 23:39] degroote22 opened #810 "Can't install some packages bc of inferno-create-class bug"
**Observed Behaviour**

Inferno isn't updating packages wich depend on inferno-create-class such as inferno-compat and inferno-create-class itself and gives me this error:

`error Couldn't find a package.json file in "/home/project/node_modules/inferno-create-class/node_modules/inferno-vnode-flags"`

**Expected Current Behaviour**

Inferno should install properly.

**Inferno Metadata**

Trying to

[2017-02-08 00:28] degroote22 opened #812 "Component (was Proptypes) issue with inferno-compat"
**Observed Behaviour**

While using the latest version 1.3.0-rc.1, React.PropTypes is an object of the type:
[code]
where foo is the actual object we'd want.

That being said, for instance, trying to access React.PropTypes.string.isRequired will give a type error because it cannot access the property isRequired of undefined.
It also seems that's a bug generated on the build part...

**Expected Cur

[2017-02-08 00:59] lourenco commented on #812
same issue with React.Component

[2017-02-08 06:47] Havunen commented on #812
@longlho any idea for cause of this?

[2017-02-08 06:49] Havunen commented on #810
This will be fixed in next RC

[2017-02-08 06:53] Havunen commented on #802
Pull request for removing it from default settings has been merged. thanks for @JacobSoderblom

[2017-02-08 09:10] madhu1992blue opened #813 "Support for D3"
Hi,
Since D3 uses lot of dom related operations. It's hard to create d3 charts using Inferno or React without using findDOMNode. This is a plugin request to create something like React-D3 plugins for Inferno as well.

Thanks,
Madhusudan N.

[2017-02-08 10:27] TrySound commented on #813
There's `ref` prop: `(Element) => void`.

[2017-02-08 11:04] thysultan commented on #799
If `isAttrAnEvent ` is only used on non-component vnodes it might not be a problem.

[2017-02-08 13:15] degroote22 commented on #812
I tried building Inferno and got this error:
Using named and default exports together. Consumers of your bundle will have to use inferno-compat['default'] to access the default export, which may not be what you want. Use `exports: 'named'` to disable this warning

[2017-02-08 13:43] degroote22 commented on #812
I did fix it on my machine, see the above PR.
This change was introduced on pull #790 and I don't get it...
Could you explain it to me @Havunen @longlho?

[2017-02-08 13:45] imetallica opened #815 "[Request] Integrate inferno-mobx with Inferno's functional components"
Is it possible to create an API for functional components?

Currently, it only supports Component classes and stateless components. So it's quite awkward if we need to generate side-effects on initialization, for example.

[2017-02-08 14:30] rotaercz commented on #799
I'm just throwing this out there.

We do a lot of things for more speed. Maybe perhaps Inferno should flag props that start with 'ion' as events. Short for InfernoOn.

I would rather code in a particular way if it results in having more speed and a smaller file size.

[2017-02-08 15:12] ZGF4 opened #817 "Ref on custom component"
`ref` callbacks seem to work work fine when placed directly on an html element.  However it doesn't seem to trigger if placed on a component that I've created.  Any ideas?

[2017-02-08 15:22] dax0 commented on #817
Update it looks like it's only an issue with functional components

[2017-02-08 15:41] imetallica commented on #815
This is the error I get when I try to use `mobx` with functional components:

[code]

[2017-02-08 15:55] Havunen commented on #813
yep, `ref` is the best way to access dom nodes directly atm.

[2017-02-08 15:57] Havunen commented on #817
This definitely sounds like bug @dax0 do you have simple steps to reproduce?

[2017-02-08 15:59] #812 closed

[2017-02-08 16:03] Havunen commented on #799
With babel-plugin we can actually assert against all attributes as it happens compile time. For createElement / hyperscript we need to invent something.

[2017-02-08 16:09] Havunen commented on #799
Also there is related issue into this. When using Spread attributes we need to flag node something like `hasSpreadAttributes` and then normalise them runtime :(

https://github.com/infernojs/inferno/issues/808

[2017-02-08 16:15] #810 closed

[2017-02-08 16:15] #802 closed

[2017-02-08 16:18] Havunen commented on #738
I have been wonder how could we write test case for this cursor jumping to avoid regression? Help wanted.

[2017-02-08 17:15] menberg opened #818 "TypeError: inferno-compat 1.3.0-rc.2 breaks react-hot-loader"
**Observed Behaviour**

I'm using react-hot-loader with inferno-compat, it worked until 1.2.2. With 1.3.0-rc.3 (correction: rc.2), I get an `Uncaught TypeError: Cannot set property createElement of #<Object> which has only a getter`
on line `React.createElement = patchedCreateElement;`

**Expected Current Behaviour**

inferno-compat 1.3.0 should work with react-hot-loader 3.0.0-beta.6 like before.

[2017-02-08 17:51] Havunen commented on #818
Hi @menberg thanks for letting us know about this issue.

Are you using rc.2 or rc.1   rc.3 is not released? Also can you give minimal steps to reproduce please.

[2017-02-08 18:51] TrySound commented on #817
http://codepen.io/TrySound/pen/QdVXGp
Functional doesn't work at all. Class passes class instance - is it a normal case?

[2017-02-08 18:52] dax0 commented on #817
Yeah it should pass class instance.

[2017-02-08 18:53] TrySound commented on #817
What should pass functional?

[2017-02-08 19:28] Havunen commented on #818
Thanks for creating the repo, I will have a look soon.

[2017-02-08 19:34] trueadm commented on #817
Functional components don't support refs as they have no state or instance to bind to

[2017-02-08 19:45] Havunen commented on #817
Okay this is definitely not a bug, maybe feature request.

[2017-02-08 20:14] lukeed commented on #817
What would you use `ref` on a functional component for? We have a `onComponentDidMount` [lifecycle hook](https://github.com/infernojs/inferno#functional-component-lifecycle-events) which (probably) can be used for what you want.

[2017-02-08 20:15] TrySound commented on #817
By the way is it a good or bad practice to use onComponentDidMount as ref for components?

[2017-02-08 20:17] dax0 commented on #817
Yeah I realized I would eventually need to convert this to a stateful component, was just confusing because it seemed like refs weren't working at all.  I can't really think of a valid reason to have a ref on a functional component itself. However does passing down the ref to a child element make sense?  I tend to wrap most elements in a functional component (think `input` `textarea` etc) so I can

[2017-02-08 20:38] Havunen commented on #818
It looks like "React" defined so that those properties are getters... I can't find anything from the source files related to this change. Maybe it has something to do with how we build stuff, ping @longlho

[2017-02-08 22:55] wagerfield commented on #817
I think it would be useful, perhaps even necessary to pass `ref` down on `props` when creating higher order _functional_ components as @dax0 suggested. Why is it stripped from `props` in the first place?

I am in the process of authoring the `styletron-inferno` bindings and would like to be able to use a functional component over a class component, but am currently unable to do so because of this

[2017-02-08 23:10] SeanHayes opened #819 "className being set with sibling className if not specified"
**Observed Behaviour**

    <div className={'profile center-container'}>
        { this.gifs.length > 0 && <div className="tabs">
            <span>UPLOADS</span>
        </div> }

        {/* inferno sometimes adds className="tabs" itself to the following <div>. setting className="" prevents className="tabs" from being set, as expected. */}
        { this.section === this.PROFILE && <div>

[2017-02-08 23:13] trueadm commented on #817
To quickly just state something, `ref` and `key` are special cases that can *never* be props. If you want to pass something down, use another name for the property other than those names. This is because they are stripped and applied to the root of the VNode itself and this is how React and other libraries work too. For example pass down `elementRef` which tells the component to use `ref` on the D

[2017-02-09 06:16] Havunen commented on #819
Hi @SeanHayes thanks for reporting this issue. Is there any chance you could create jsFiddle where problem occurs or show more code? I need minimal steps to reproduce to be able to help.

Thanks for understanding

[2017-02-09 07:36] dfrankland opened #821 "Deprecate or remove `inferno-hyperscript` npm versions pre-adoption into infernojs/inferno repo"
**The issue**

When trying to update to the "latest" version you actually get a version pre-`1.0.0-beta1`. This could be difficult for someone to debug if they think they are upgrading. The exact versions in question are the following:

*   `1.0.0` (2016-01-25)
*   `1.1.0` (2016-04-07)
*   `2.0.0` (2016-04-22)
*   `2.0.1` (2016-04-24)
*   `2.0.3` (2016-08-09)

**How to check**

Notice it goes `1.0

[2017-02-09 10:17] wagerfield commented on #817
@trueadm, I searched the repo for `elementRef` and couldn't find anything?

http://codepen.io/wagerfield/pen/zNmzza

[2017-02-09 11:55] wagerfield commented on #817
Looking at `styled-components` (a lib that Styletron was influenced by) they approached this problem with the same method described above—but used a special prop called `innerRef`.

Looking at the implementation of `styletron-react`, @rtsao has taken the same approach, so I will do the same for `styletron-inferno`.

See [here](https://github.com/styled-components/styled-components/pull/122) and [h

[2017-02-09 12:32] dax0 commented on #817
Yeah I guess we could use a different name. Just would have been nice to pass down props blindly.

[2017-02-09 16:06] Havunen commented on #821
This most likely happened because hyperscript was moved into Inferno from external package. We need to think how to around this. One option is to deprecate this package and then keep it consistent with Inferno versioning. Or we skip over Inferno 2.x and move to Inferno 3.x

[2017-02-09 22:14] insin opened #823 "Inferno 1.3.0-rc.3's module build breaks tools which can't handle ES6"
1.3.0-rc.3 is published as the `latest` version on npm.

When using Webpack 2, which picks up `module` builds by default, 1.3.0-rc.3's `module` build is breaking tests which run on PhantomJS and builds which use UglifyJsPlugin, neither of which can currently handle ES6.

AFAIK the current recommendation for `module` builds is that they contain untranspiled ES6 module syntax, but everything else sh

[2017-02-09 22:27] longlho commented on #823
@insin currently there's no official `spec` for `module` field, if you want to exclude it you can do that via `mainFields` resolution in webpack config. ES5 transpilation can create global variables that cannot be tree-shaked properly (class conversion to prototype for example).

[2017-02-10 07:42] Havunen opened #824 "Inferno 1.3-rc3 version field is not replaced in module build"
When using module version of Inferno build (dist-es). Inferno.version is returning string 'version' and not the version number. Rollup should replace this string with actual version number.

[2017-02-10 07:44] Havunen opened #825 "Inferno 1.3-rc3 shared helpers are duplicated accross packages"
Inferno 1.3-rc3 shared functionality like `isNullOrUndefined` helper is duplicated multiple times in inferno-compat package. There should be only one implementation of that function.

[2017-02-10 07:45] Havunen commented on #823
If you don't want to use es6 sources you need to define `resolve: mainFields: ['main']`

[2017-02-10 11:48] niant opened #826 "Disabled elements' onClick event triggers when there are elements inside"
Rendering element with onClick function triggers even when element is disabled.

[code]

If I remove that span from inside, it will work as expected (not trigger onClick function).
or
If I use `onclick={}`instead, it works as expected (not triggers onclick function).

It would seem it triggers always when clicking that span area and if I click area around it (but still button area): it won't trigg

[2017-02-10 13:02] gruber123 opened #827 "Simple Clock doesn't work on Jsfiddle"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/inferno.js).
- Check that the i

[2017-02-10 13:32] KleoPetroff commented on #827
The external resources are missing. It seems that the linked `dist` folder under packages/inferno is removed.

[2017-02-10 14:03] Havunen commented on #827
This is related to new way of building, ping @longlho

[2017-02-10 14:05] gruber123 commented on #827
Hi Kliment,

My code is:

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://rawgit.com/trueadm/inferno/master/browser/browser.js"></script>
<script src="https://unpkg.com/inferno@1.2.2/dist/inferno.min.js"></script>
<script src="https://unpkg.com/inferno@1.2.2/dist/inferno-component.min.js"></script>
<script src="simpleclock.js"></script>
<div id="conta

[2017-02-10 14:06] Havunen commented on #827
The thing is:
These files dont exists
<script src="https://unpkg.com/inferno@1.2.2/dist/inferno.min.js"></script>
<script src="https://unpkg.com/inferno@1.2.2/dist/inferno-component.min.js"></script>

[2017-02-10 14:26] longlho commented on #827
@Havunen this is 1.2.2 I believe

[2017-02-10 14:47] gruber123 commented on #827
So in repo I see the whole solution but not for SimpleClock,

and how I can understand inferno if there existing other things such as lerna that i don't know what's this.

What I want there is simple solution without npm installs json configurations that take in account npm installed package or .travis, .yaml, .babelrc files, simple script tags inside html.

Or solution that works locally without

[2017-02-11 06:03] rokoroku commented on #823
@Havunen  The `module` field is well known as **another transpiled build** using **es6 module** syntax which enables [tree-shaking](http://www.2ality.com/2015/12/webpack-tree-shaking.html).

Currently, inferno's `module` fields is just an *es6-targeted* build which still need to be transpiled into *es5* again. Rather, we just want to use *es5-transpiled* build with *es6 module* syntax.

Relavant i

[2017-02-11 08:38] JacobSoderblom commented on #725
Okey I have talked to them and they have not started the work to break out graphql UI logic to a separate package, so I'll continue to port their solution to `inferno`.

The porting is almost done, there is just some testes that need to be written. I have not started with the server side rendering part yet, I believe that it could wait and that we could release the client part first :)

[2017-02-11 15:47] flieks commented on #729
i still have this issue and have both same versions 1.1.2
used the create-inferno-app but didn't want to eject. I did update the scripts but they updated to 1.2 , not updating devtools. So was forced to eject. Now it works. Thanks to kurdin for the tip.

[2017-02-11 16:07] longlho commented on #823
this will be addressed in #830

[2017-02-11 16:27] thysultan commented on #826
When delegating events inferno should probably check if the target element is disabled [1]`element.hasAttribute("disabled")` before dispatching the event.

[[1](https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/events/delegation.ts#L40)]

@Havunen BTW Is there a reason for this in line 59 `if (parentDom || parentDom === document.body) {`? ` `parentDom === document.body` see

[2017-02-12 08:00] atwaves opened #832 "Suggestion - Realize [ componentWillAppear, *WillEnter, *WillLeave ] methods"
Suggestion - Realize additional **TransitionGroup** methods:
**componentWillAppear
componentWillEnter
componentWillLeave**

by default, without using `<TransitionGroup></TransitionGroup>`.
This feature will greatly simplify animations implementation

[2017-02-12 21:50] Alxandr opened #833 "test-utils needs methods to simulate events (especially for synthetic ones)"
See https://github.com/reactjs/react-redux/blob/master/test/components/Provider.spec.js#L192 for sample usage in react-redux. Currently I'm just calling `button.click()` which works, but only if I use `onclick` and not `onClick`.

[2017-02-13 09:35] ul opened #835 "SVG tags are case-sensitive, but inferno-hyperscript lowers their case"
**Observed Behaviour**

`inferno-hyperscript` (and probably other helpers) lowers case of any tag name (https://github.com/infernojs/inferno/blob/master/packages/inferno-hyperscript/src/index.ts#L50), but SVG tags are case-sensitive (e.g. `feGaussianBlur`).

**Expected Current Behaviour**

`inferno-hyperscript` should not lower case of tag name if `VNodeFlags.SvgElement` flag is set.

[2017-02-13 15:48] mattatwork26 commented on #682
I am not using the inferno-mobx store but I had the same issue.

Adding

Object.keys(dom.dataset).forEach((key) => {
  delete dom.dataset[key];
});
dom.style.cssText = "";

to the patchElement function removes inline styles and data- properties on recycle

[2017-02-13 21:08] leiyangyou opened #839 "Inferno Create Class Multihooks called with the wrong instance"
## Create class runs mixin supplied hooks with wrong instance

**Observed Behaviour**

Trying to use react-router 3.0.0 with inferno, Link breaks as react-router's getInitialState is getting the wrong instance, it appears to be getting Cl, instead of an instance of Cl

Chased the problem down to the following lines,

[code]

could someone let me know whether the hook.apply(inst, arguments) is inte

[2017-02-14 14:25] JacobSoderblom opened #851 "Error when using inferno-component version 1.3.0-rc.3"
At `inferno-component` version 1.3.0-rc.3 you cannot create an component as below

[code]

it gives you the error "Class constructor Component cannot be invoked without 'new'", tried with version 1.2.2 and it works like a charm.

[2017-02-14 20:10] degroote22 opened #852 "setState callback being called before setState(or wrong instance?)"
On some edge cases the setState callback will fire before setState is done, it seems, or with the wrong instance.
setState callback should be fired after the state has changed to the class.

I'm using the latest rc3 and while using 1.2.2 I never saw the bug.

Here is a repro. https://github.com/degroote22/setstateinfernobug
It's a create-inferno-app ejected(no reason to do it anymore, btw).
Curren

[2017-02-14 23:21] degroote22 commented on #852
not so easy to reproduce as i'd thought. I'll try to come up with a better repro

[2017-02-14 23:21] #852 closed

[2017-02-15 20:54] degroote22 opened #854 "setState callback being fired before state being set"
The callback seems to be called before setState is done.
Code to reproduce has been added to an UT which is pending in the PR mentioned below.

[2017-02-15 21:54] degroote22 commented on #854
I believe the problem is this line: https://github.com/infernojs/inferno/blob/master/packages/inferno-component/src/index.ts#L100
Actually, the else of this line, which calls the callback before the state has been set.
I'm afraid to change something here and break something else so I won't try to solve this by myself.

[2017-02-16 04:36] aguilera51284 commented on #851
i also had the error when creating a component.
```inferno-component@1.2.2``` fix the problem
thx @JacobSoderblom

[2017-02-16 11:20] dancoates opened #857 "1.3.0-rc.3 is published to npm under 'latest' tag."
It looks like there are still some bugs to fix in 1.3.0-rc.3 but it is currently listed as the 'latest' version of inferno and inferno sub-packages like inferno-router on npm. This means that anyone running `npm install inferno` will get the unstable release candidate. Should npm latest point to 1.2.2 instead?

[2017-02-16 15:42] Nepoxx opened #858 "How to manually invoke Inferno-Router's Link"
This is a question, not a bug.

I currently use the following to move between router views:

[code]

This works, but it creates a `<a>` tag. If I want to change route from a non-`<a>` element, how would I do so?

The following does not work:
[code]

[2017-02-16 16:29] landabaso commented on #450
Is this fix already on npm? I tried both with 1.2.2 and 1.3.0-rc.3 and they both throw:
`Uncaught Error: Inferno Error: string "refs" are not supported in Inferno 1.0. Use callback "refs" instead.`

Thanks!

[2017-02-16 17:05] RB-bro opened #859 "Using slatejs with inferno, not quite finishing render"
I set up a barebones repo here https://github.com/RB-bro/inferno-slate-compat
I'm trying to start with the simple demo from the Slate.js page using Inferno instead of React for rendering. My barebones repo works fine with React, but does not render with inferno-compat.

I've turned on

localStore.debug = 'slate:*'

and discovered that the logs match up between React and inferno up until the the le

[2017-02-16 17:27] hguillermo commented on #851
Hey @JacobSoderblom
I was able to remove that error using these specific versions:
"babel-loader": "6.2.10"
"babel-preset-es2015": "6.22.0"
"babel-plugin-transform-runtime": "6.9.0"
Also don't include these plugins in your .babelrc:
- "transform-es2015-classes"
- "transform-runtime"

At least for now. I am not sure what is exactly the problem but those settings worked for me.

[2017-02-16 21:48] ghsyeung commented on #851
I am using webpack (following https://github.com/infernojs/inferno-typescript-example). The issue seems to be webpack loads `inferno-component` from the wrong place.

By default, the resolution is `mainFields: ["browser", "module", "main"]` (see https://webpack.js.org/configuration/resolve/#resolve-mainfields).

If I define it as `mainFields: ["browser", "main", "module"]`, then browser doesn't co

[2017-02-17 03:40] hguillermo opened #860 "Suggestion: renderProps from match & inferno-router should return the components"
For instance I have this code:
[code]
renderProps from react-router return the components from the matching routes. Inferno-routes does not. This would be useful from some async server rendering tasks.

I got the idea from here: https://www.codementor.io/reactjs/tutorial/redux-server-rendering-react-router-universal-web-app

Is it clear? If not I can provide more information. Thanks

[2017-02-17 04:05] aguilera51284 commented on #860
hu! i have the same problem :S

[2017-02-17 14:04] drcmda commented on #823
It looks like not even directing the alias to the distributable works,

    ERROR in build/vendor.js from UglifyJs
SyntaxError: Unexpected character '`' [build/vendor.js:4046,20]

[2017-02-17 16:29] landabaso commented on #819
I'm also getting the same error message `Uncaught (in promise) TypeError: Cannot read property '_unmounted' of null`.
I just did a quick test with inferno for similar issues to my problem. I'm sorry not being able to give more info for the moment (I only get that error message). @SeanHayes, did you solve your issue?

[2017-02-17 22:12] kanzelm3 opened #861 "RenderStream throws exception on invalid vNode because it is expecting a promise"
**Observed Behaviour**

Inferno is throwing when an invalid vNode is rendered inside renderStreamAsString when renderNode is called. It should still return a promise, not undefined. https://github.com/infernojs/inferno/blob/master/packages/inferno-server/src/renderToString.stream.ts#L126

[2017-02-18 08:19] landabaso opened #862 "setState in cWRP is not passed as nextState in sCU"
I'm setting state in componentWillReceiveProps based on current and next props.
Then, that new state is not passed as nextState in shouldComponentUpdate.

Tested on 1.2.2 and 1.3.0-rc.3. Works fine on React. Looking fwd to integrate my project with inferno. Thanks for the project!

[2017-02-19 00:48] blazedd commented on #857
This created an unexpected issue with our application as well. Would be nice if this was tidied up. :)

[2017-02-19 02:00] longlho commented on #857
ping @Havunen

[2017-02-19 06:45] benoneal opened #864 "onChange/onInput not working for radio or number inputs"
It's a common design pattern to hide radio/checkbox inputs via css, and style their labels instead. Interacting with the label will change the input, whether through mouse clicking or keyboard navigation. I've built dozens of such inputs in React, with events on the 'hidden' input firing correctly.

Nothing I do is working with Inferno. Neither onChange nor onInput events on the input are firing a

[2017-02-19 20:48] longlho commented on #857
@dancoates @blazedd latest tag should be 1.2.2 now

[2017-02-19 20:59] nightwolfz commented on #864
@benoneal Works fine on inferno `1.3.0-rc3`

[code]

[2017-02-19 22:02] wagerfield commented on #833
Will take a look at adding this sometime this week hopefully. [Linking here for reference](https://github.com/facebook/react/blob/b26265718aad394333f3c7f9cc08295ffc750501/src/test/ReactTestUtils.js#L372).

[2017-02-19 22:34] dancoates commented on #857
Thanks @longlho looks good to me.

[2017-02-19 22:34] #857 closed

[2017-02-20 00:05] benoneal commented on #864
I have no idea if it being a stateful component matters, but my actual full code where I'm seeing this issue is below:

[code]

Using inferno `1.3.0-rc3` (upgraded from rc1).

[2017-02-20 01:00] LukeSheard commented on #864
@benoneal can you create a code pen from this because this appears to work.

[2017-02-20 23:49] hguillermo commented on #239
Hey @trueadm. Was the async option removed from route? I don't see it in the code.

[2017-02-20 23:54] durango commented on #239
https://github.com/infernojs/inferno/blob/8a878f3e1ecc7468e14dc059c48a3b5c69ad578f/packages/inferno-router/src/Route.ts#L10

might be what you're looking for, although I'm not sure if it's exactly async... but because of this

https://github.com/infernojs/inferno/blob/8a878f3e1ecc7468e14dc059c48a3b5c69ad578f/packages/inferno-router/src/Route.ts#L36

you might be able to make a workaround in that c

[2017-02-21 00:15] hguillermo opened #869 "Question: Best way to server side rendering for async data with inferno-router?"
In react-router is not too difficult to do a async rendering using some react libraries.
Do you have guys plans to include this option? I saw the async parameter was part of the route in inferno-router but I don't see it anymore. Was it removed?
The problem I am trying to solve is a full server side rendering for some components that have some async api calls. Any idea is welcome.

Thanks

[2017-02-21 08:16] gilesbutler commented on #735
Hi @Havunen, I get the same error as @briansakal when using JSX and following the example from the docs... https://infernojs.org/docs/api/inferno-mobx

Any ideas why?

Thanks

[2017-02-21 08:38] gilesbutler commented on #735
Urgh 🙄 scrap that!! My mistake!

I added the connect function to the wrong component. It's too early in the morning 😂

[2017-02-21 10:17] akai opened #870 "Not update props/state, when the component should no update"
See React: https://github.com/facebook/react/blob/15-stable/src/renderers/shared/stack/reconciler/ReactCompositeComponent.js#L856

---

## Example:

[code]

If I input text by `input`, I can empty text. But if I input by `ContentEditable`, cant empty.

But works fine on React.

[2017-02-21 14:57] longlho commented on #823
you can do `resolve: { mainFields: ['browser', 'main'] }`

[2017-02-21 17:02] kanzelm3 commented on #861
This will be fixed once a new release goes out.

[2017-02-21 17:02] #861 closed

[2017-02-21 22:59] xirzec commented on #809
I just got hit with this while using Immutable.List, and having to do `.toArray()` myself is a bit annoying, since React supports it out of the box.

The real problem for me isn't that Inferno should do custom work for ImmutableJS, but that it should support ES6-style iterables. FWIW, preact has a PR to support iterables: https://github.com/developit/preact/pull/476

[2017-02-21 23:43] jrop commented on #729
This issue should be re-opened: I am getting this issue on inferno@1.2.2 and inferno-devtools@1.2.2 (macOS, Google Chrome/Firefox)

[2017-02-21 23:54] jrop commented on #729
More information:

This works (devtools load):
[code]

But with this code devtools do not load:

[code]

This is tolerable, but I found this behavior unexpected.

[2017-02-22 08:03] Havunen commented on #851
I believe this PR will fix this issue: https://github.com/infernojs/inferno/pull/829

[2017-02-22 08:04] Havunen commented on #854
PR for test case was merged, I will have look at this soon.

[2017-02-22 08:06] Havunen commented on #870
Can you please add test case into PR. It makes managing this project way easier for us thanks! :)

[2017-02-22 08:09] Havunen commented on #862
Hi, I will have a look at this soon. Thanks for letting us know.

[2017-02-22 08:24] Havunen commented on #725
I'm closing this ticket, when porting in is done please ping one of us and we can mention it in the infernojs website.

[2017-02-22 08:24] #725 closed

[2017-02-22 09:10] Alxandr commented on #833
@Havunen In that case, it's still an issue with `test-utils`, cause I call `renderIntoDocument` to do my tests. Sample from my tests (without the `onclick`, waiting for this issue): https://github.com/Alxandr/inferno/blob/feature-redux/packages/inferno-redux/__tests__/components/connect.spec.js#L262

[2017-02-22 09:56] trueadm commented on #809
@xirzec we'd be happy to take a PR that deals with this in a performant way. In their current state, itterables are slow on runtime performance though.

[2017-02-22 11:32] Havunen commented on #826
This will be fixed in next RC

[2017-02-22 11:32] #826 closed

[2017-02-22 11:47] Havunen commented on #835
This is not so trivial to fix without bloating the packages with a lot of code. In JSX we do this precompilation time, everything under svg tag in JSX are handled as SVG's. in createElement/hyperscript APIs javascript runs the most inner children first. so we cannot detect if parent is SVG because SVG is not created by that time yet.
We could do this by adding all the possible SVG tag names into t

[2017-02-22 11:52] Havunen commented on #862
This will be fixed in the next RC

[2017-02-22 11:52] #862 closed

[2017-02-22 12:03] #870 closed

[2017-02-22 12:06] Havunen commented on #824
Hey @longlho, inferno/dist/dist-es/index.js  still has this line:

[code]

There should be version number instead 'VERSION' stirng.

[2017-02-22 12:07] Havunen commented on #825
This seems to work nicely now, closing. Thanks @longlho

[2017-02-22 12:07] #825 closed

[2017-02-22 12:08] Havunen commented on #823
Is this valid issue? Should dist-es be targeted to es5 with module syntax?

[2017-02-22 12:09] #813 closed

[2017-02-22 12:10] Havunen commented on #851
@longlho This is also related to dist-es discussion.

[2017-02-22 12:12] Havunen commented on #854
@trueadm Can you have a look at this please. There are test cases in dev now.

[2017-02-22 12:40] Havunen commented on #821
@longlho can you look into this please.

[2017-02-22 13:04] ul commented on #262
It's `requiredExtensions` which is not working properly, `foreignObject` works fine and it has been supported for years by all browsers except IE11 and below. Edge supports `foreignObject`.

[2017-02-22 13:05] ul commented on #835
Why is case normalization performed at all? To ensure that `type` will be stable on patching? I think we shouldn't care much about it. I imagine that passing `div` one time and `DIV` another one for the same VNode is low-probability and is more a code smell.

Other places where we rely on particular `type` casing are rare, like

https://github.com/infernojs/inferno/blob/master/packages/inferno/src

[2017-02-22 13:07] insin commented on #823
I don't know if that's what it *should* be, but it's what the other dependencies I'm using which ship a `module` build are doing (e.g. react-bootstrap, react-router).

[2017-02-22 13:17] Havunen commented on #835
Yeah I was thinking same, dropping the toLowerCase, but my previous comment was about that Inferno `flags` will not be set correctly for inner SVG elements. This can cause incorrect rendering etc.

[2017-02-22 13:23] ul commented on #835
If I understand you correctly then `flags` are not set properly right now too?

[2017-02-22 13:24] ul commented on #835
Oh, then I need to switch to raw `createVNode` in my ClojureScript wrapper. This will add some code, but will allow to resolve both issues.

[2017-02-22 13:25] Havunen commented on #835
@ul yeah they are wrong atm it seems. I believe we can just drop `toLowerCase` and then redesign createElement / hyperscript API later?

[2017-02-22 13:27] ul commented on #835
Sure! I'm going to think about good solution too.

[2017-02-22 13:34] Havunen commented on #835
Okay pushed change, lets close this issue. redesigning those API's will be another big task maybe for Inferno 1.4

[2017-02-22 13:34] #835 closed

[2017-02-22 13:34] ul commented on #835
Thank you!

[2017-02-22 13:48] longlho commented on #823
it's a grey area & it depends on how many dist files we want to maintain. @lukeed, @LukeSheard, @aretecode & I had a discussion about this and we'd like to consolidate to 3 dist files (ES6, ES5 for Node & minified UMD ES5 for CDN). The rest is up to consuming apps.

[2017-02-22 13:49] longlho commented on #851
dupe of #823

[2017-02-22 13:49] longlho commented on #818
kk will take a look

[2017-02-22 14:19] Havunen commented on #803
Angular test table seems to be dead benchmark, It was used in Inferno 0.1   I updated other links (dev branch). Closing.

[2017-02-22 14:19] #803 closed

[2017-02-22 14:27] Havunen commented on #827
This will be fixed in next RC, look into dev branch. We now use cdn for referencing the libraries

[2017-02-22 14:27] #827 closed

[2017-02-22 14:28] Havunen commented on #815
Currently focus is on fixing bugs and making 1.3 stable. This is something we could implement or at least investigate for Inferno 1.4

[2017-02-22 14:40] Havunen commented on #869
ping @nightwolfz @lukeed @LukeSheard

[2017-02-22 14:56] Havunen commented on #791
Can we close this issue, Is it fixed?

[2017-02-22 15:31] afgomez opened #874 "Attempting to configurable attribute of unconfigurable property error under safari 7"
**Observed Behaviour**

Inferno is raising an `Attempting to configurable attribute of unconfigurable property.` error when firing event handlers in Safari 7.0.6, preventing the handler from being run.

Attached is the screenshot of our error reporting tool.

<img width="1081" alt="screen shot 2017-02-22 at 16 25 37" src="https://cloud.githubusercontent.com/assets/57448/23218202/f0928ed2-f91b-11e6

[2017-02-22 15:32] longlho commented on #874
does this happen in `1.2.2`?

[2017-02-22 15:47] afgomez commented on #874
@longlho Looks like it, yes :(

[2017-02-22 16:07] cstoobes commented on #729
I also cannot get devtools to work. I've installed matching versions of inferno, inferno-component and inferno-devtools (all 1.2.2) on Windows.
I've tried both code examples above and just get the "Waiting for roots to load..." error. It appears this bug should be reopened.

[2017-02-22 16:14] longlho commented on #851
related issue from babel: https://github.com/babel/babel/issues/4269

[2017-02-22 16:27] longlho commented on #818
issue is that `webpack` decides to define getters for harmony exports:
[code]

trying to figure out a fix

[2017-02-22 16:45] degroote22 commented on #854
I believe this bug was creating trying to fix this other one: https://github.com/infernojs/inferno/issues/674

[2017-02-22 17:09] xirzec commented on #809
@trueadm cool, I'll take a look into this in the not too distant future.  👍

I want to make sure that I understand the performance concern correctly. It makes total sense that if the iterable itself is slow to enumerate, there's nothing Inferno can really do about it. Is there another concern that by supporting iterables that inferno would be slower for other values?

Naively, my thought is that a

[2017-02-22 17:17] trueadm commented on #809
@xirzec I profiled this exact use case a while back and performance on looping over arrays dropped 80% on hot paths due to constantly checking for a bad property on an inline cache. It may have improved since though. Generally speaking, itterables are a nightmare for any JavaScript engine to make performant due to all the edge cases that can occur!

[2017-02-22 17:36] thysultan commented on #791
@Havunen Yes, [fixed via commit](https://github.com/infernojs/inferno/commit/0c1d611dbaaf6b738b1182951aaa7527ff804d21)

[2017-02-22 18:00] hguillermo commented on #869
Hi @nightwolfz @lukeed @LukeSheard!
Do you have ideas about this? Any hint will be greatly appreciated.

[2017-02-22 18:02] hguillermo commented on #860
@aguilera51284 how did you solve it? I am still thinking about it. For now I wrote a middleware in express. Not an ideal solution but at least something.

[2017-02-22 19:43] aguilera51284 commented on #860
I changed to Cerebral and i manipulate the states of the application :S  not the best way but I hope they fix that bug.

[2017-02-22 21:10] hguillermo commented on #860
I see. Yes...If I have some time I am going to put a PR

[2017-02-23 04:10] degroote22 commented on #869
If the router supported receiving the component from a resolving promise then code splitting would also be easier. Perhaps an api like
[code]

[2017-02-23 04:19] degroote22 commented on #858
You can access the router property from the context.
Then,
`this.context.router.push('/myroute');
`

[2017-02-23 06:36] Havunen commented on #858
That sounds correct answer, closing.

[2017-02-23 06:36] #858 closed

[2017-02-23 06:38] Havunen commented on #791
Great, closing.

[2017-02-23 06:38] #791 closed

[2017-02-23 06:43] Havunen commented on #729
@cstoobes Can you please give code snippet to reproduce the issue and I will have a look and reopen.

[2017-02-23 06:45] Havunen commented on #874
about the history of this property, It was added there by my request. When using native javascript event listeners you can read currentTarget (click) from event parameter. When using synthetic events that currentTarget is obviously always document.

I'm not even using that property anymore and I wonder if we can just drop it?

[2017-02-23 07:23] hguillermo commented on #869
That could work. Also maybe something like this:
[code]
Where the component doesn't render until the getData is completed. I guess there are many ways. Not sure what would be the best approach.

[2017-02-23 07:37] Havunen commented on #851
I Dropped module entry point due to many issues it raises, this will be fixed in next RC.

[2017-02-23 07:37] #851 closed

[2017-02-23 07:37] Havunen commented on #823
I Dropped module entry point due to many issues it raises, this will be fixed in next RC.

[2017-02-23 07:37] #823 closed

[2017-02-23 07:38] Havunen commented on #824
I Dropped module entry point due to many issues it raises, this will be fixed in next RC.

[2017-02-23 07:38] #824 closed

[2017-02-23 07:38] Havunen commented on #818
I Dropped module entry point due to many issues it raises, this will be fixed in next RC.

[2017-02-23 07:38] #818 closed

[2017-02-23 13:47] marksamman opened #878 "defaultChecked is not working"
I expect this to render a checked checkbox, but it renders an unchecked checkbox:
[code]

It can be reproduced using 1.3.0rc5, the "Try Our Example" box on https://www.infernojs.org/ and a JSFiddle (https://jsfiddle.net/bqraqtmq/2/), using Chrome and Firefox on OS X.

[2017-02-23 13:50] trueadm commented on #878
If you add it as a value in here:

https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/constants.ts#L22

And rebuild Inferno locally, does that work for you?

[2017-02-23 14:28] marksamman commented on #878
Thanks for the quick response! That didn't make any difference, although I'm not sure I tested it properly. I tried these methods:
1) edited the minified build of 1.2.2 and added defaultChecked to that string
2) cloned the Inferno repository, yarn, yarn run build, and copied over packages/inferno/dist/ and packages/inferno/dist-es/ into my projects node_modules/inferno/

[2017-02-23 14:29] trueadm commented on #878
@marksamman Sorry, you're right. Once you've added it to that string, you'll need to add some logic in this function to make it wire up:

https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/wrappers/InputWrapper.ts#L117

[2017-02-23 15:24] marksamman commented on #878
Thanks, I've submitted a pull request with a fix that solved this issue. I'm not sure if wrapping ```dom.checked = checked``` in ```if (!isNullOrUndef(checked)) {``` could have any unintended side-effects though.

[2017-02-23 15:52] cstoobes commented on #729
I literally commented out all of my javascript and pasted in Jrop's code examples above, and it still didn't work. So I'm guessing it must be a configuration issue. I'm on Windows with the latest version of Chrome and React Dev Tools. This is my package.json:
<pre>
  "dependencies": {
    "babel-plugin-inferno": "^1.9.0",
    "babel-preset-es2015": "^6.22.0",
    "babelify": "^7.3.0",
    "browser

[2017-02-24 00:07] hguillermo opened #880 "Suggestion: it would be nice to have a helmet package similar to react-helmet."
Or maybe I should just create a project for it. I suppose I can take react-helmet as a base and adapt it to InfernoJS. Unless you know a similar library for InfernoJS?

[2017-02-24 07:41] AlgoTrader opened #881 "Server rendering and async route component (inferno-router, inferno-server)"
Thanks for the  great work first!
There are two ways to render a route, synchronous and asynchronous:
[code]
The first variant works excellent with both client and SSR.
The second, when in client, works just excellent. When using SSR with inferno-server, the HTML output is always `` and component render function is never called

The problem is SSR does not wait for asyncComponent to load and rende

[2017-02-24 08:26] AlgoTrader commented on #880
It would be great. I find many React projects bloated, so it would be grate to have it small and simple

[2017-02-24 09:16] AlgoTrader commented on #869
#881
I have reported the similar issue

[2017-02-24 10:14] Havunen commented on #881
@lukeed @LukeSheard @nightwolfz any thoughts?

[2017-02-24 12:26] Havunen commented on #878
Hey @marksamman thanks for your contribution. If you have time can you also send another PR for simple test case please. I'm closing this issue and releasing RC5 this bug fix will be included in that.

[2017-02-24 12:26] #878 closed

[2017-02-24 12:30] timurgarif opened #883 "Any plans to add react-dom/server for inferno-compat?"
Provided

even 2x times boost for compat mode would be great.

[2017-02-24 13:54] longlho commented on #883
you can do this
[code]

[2017-02-24 16:04] screendriver opened #884 "renderIntoDocument does not render into document"
## Issue Template

**Observed Behaviour**

I tried to write my first test with inferno. Unfortunately I don't get it. I setup jsdom with following config file `setup.js`:

[code]

My test looks like (I am using TypeScript)

[code]

and I'm using webpack to build a test bundle and run it with tape:

[code]

In my console output I get an `undefined`. Is there something I am missing?

**Inferno Metad

[2017-02-24 16:12] hguillermo commented on #881
If at least match (from inferno-router:https://github.com/infernojs/inferno/issues/860 ) would return the components property in renderProps I could get the all the async data then the server rendering part later. For now I have something like a middleware to get the data and then the server render part later. Not an ideal solution but at least something for now.
I also used a HOC idea + Redux wit

[2017-02-24 16:13] hguillermo commented on #881
@AlgoTrader if you find a nice solution please share it with me. Thanks!

[2017-02-24 16:39] timurgarif commented on #883
@longlho, maybe I'm missing something, but how is it different from requiring inferno-server directly?
`require('inferno-server').renderToString` which is not a point in question.

AFAIU, ('inferno-server').renderToString is incompatble with original React components.

[2017-02-24 17:05] jacktuck opened #885 "Suggestion: Inferno should have a showcase"
Inferno should have a showcase which showcases websites which have been built using it.

[2017-02-24 17:47] AlgoTrader commented on #881
Obviously, Inferno router's match works in synchronous way. In React, match function calls callback but not just returns value. Asynchronous match can wait untill all the async routes are resolved. One possible way to resolve the problem is to make match async and render the Router or RouterContext after all the async routes are loaded

[2017-02-24 18:27] hguillermo commented on #885
We are building the RedBull TV pwa app using infernojs. It would be nice to be included! :)

[2017-02-24 18:43] wagerfield commented on #884
Please see a working example here: https://github.com/wagerfield/inferno-test-example

[2017-02-24 22:59] wagerfield commented on #884
@screendriver I'm going to close this issue, but please post any questions in here if you're still having problems.

[2017-02-24 22:59] #884 closed

[2017-02-25 03:49] xareelee opened #886 "Any plan on native platform (like React Native)?"
Hi, thank you all for building this stunning framework. Do you have any plan to port this library to native platform (like React Native)?

[2017-02-25 05:42] Havunen commented on #886
Currently there are no plans going for native. I think it would not give any benefit using Inferno in native env  compared to React. I have not studied React native lib tho, I might be wrong.

[2017-02-25 05:43] Havunen commented on #885
Hey, this sounds like something that could go into `inferno-website` repository:
https://github.com/infernojs/inferno-website

[2017-02-25 16:26] osdevisnot commented on #628
For inferno in tsx, jsx-factory is now in TS stable -- https://github.com/Microsoft/TypeScript/wiki/Roadmap

[2017-02-25 21:33] Schiavi commented on #880
I did import react-helmet for inferno a few days ago, feel free to use it:
[github.com/schiavi/inferno-helmet](https://github.com/schiavi/inferno-helmet)

[2017-02-25 21:47] marksamman opened #888 "select defaultValue doesn't select the specified option"
I expect this to show "world" as the selected option, but it shows "hello":
[code]

I can reproduce this using Chrome, Firefox and Safari on OS X, with 1.3.0rc8.

[2017-02-26 07:22] Havunen commented on #888
Hi @marksamman defaultValue for select is probably never implemented, do you mind sending PR for this?

[2017-02-26 07:22] #886 closed

[2017-02-26 07:23] Havunen commented on #885
There is actually task for this. https://github.com/infernojs/inferno-website/issues/41

[2017-02-26 07:23] #885 closed

[2017-02-26 10:31] hguillermo commented on #880
Thanks @Schiavi! I was just going to start working on it. Good I saw your message on time!

[2017-02-26 10:50] Havunen commented on #880
@Schiavi if you are willing to keep it up to date, we could mention it in websites / readme?

[2017-02-26 12:09] Schiavi commented on #880
@Havunen sure! I'll do my best

[2017-02-26 12:25] marksamman opened #889 "render() resets the selected option in a select element"
The selected option in a select element is reset on subsequent render() calls. I expect it to remember the selected option.

JSFiddle: https://jsfiddle.net/bqraqtmq/5/

I can reproduce this using Chrome, Firefox and Safari on OS X, with 1.3.0rc8.

**EDIT:** non-controlled textarea and checkbox resets on render() as well

[2017-02-26 16:04] DoumanAsh opened #890 "Docs provide example with rendering into document.body"
If you take a look at [docs](https://infernojs.org/docs/api/inferno) they show you examples of rendering stuff into document.body.

But if you're actually try that (which frankly i would find rather useful) you get error:
[code]

I don't really know a reason why we cannot render into body, but i guess something should be aligned

[2017-02-26 17:19] Havunen commented on #890
@trueadm do you remember what was the reason behind that warning?

[2017-02-26 17:37] MichaelRando opened #891 "react-bootstrap Modal component fails to render"
Some kind of this.refs.modal issue when I tried to add basic react-bootstrap to an inferno-compat project.

Project is: https://github.com/MichaelRando/preact-rollup-bootstrap#inferno

[2017-02-26 18:12] screendriver opened #892 "enzyme-compat?"
I know that enzyme is not compatible with Inferno and that there is an issue where there are discussions to support other JSX libraries too: https://github.com/airbnb/enzyme/issues/715

Today I found [preact-compat-enzyme](https://www.npmjs.com/package/preact-compat-enzyme) that would enable this for preact. Is it worth it to look deeper into it an try to adopt it to Inferno?

[2017-02-26 21:14] DoumanAsh opened #893 "IE11 support without polyfills: Object.assign is used and prevents it."
Error is thrown on page load.

Repo with code https://github.com/DoumanAsh/aght-lazy-db

To reproduce:
[code]
After that you can open IE11 on `http://localhost:3333/`

At first i found it is strange that my bundle uses `inferno.node.js` but then i took a look at CDN version and it seems rather similar.
Still could it be that bundling from npm package may work incorrectly?

## Issue Template

**Obs

[2017-02-26 21:35] DoumanAsh commented on #893
I made several experiments and it seems issue happens when you have anything more complex than `<div></div>`

Something like that fails
[code]

But if i'll leave only tr then it is ok:
[code]

[2017-02-26 21:36] longlho commented on #893
u'd need to polyfill that

[2017-02-26 21:39] DoumanAsh commented on #893
According to README:
[code]

i.e. < IE11 requires polyfills if i understood correctly
Should this information be updated then?

[2017-02-27 07:09] Havunen commented on #891
What version of Inferno? Also `this.refs`  is for string refs only which is inferno-compat stuff. You should use ref callbacks. Can you give more details what fails?

[2017-02-27 08:05] rikkertkoppes commented on #738
Maybe check input.selectionStart / input.selectionEnd on componentDidUpdate.

[2017-02-27 11:13] trueadm commented on #890
People should not render into body as it can overwrite the contents. We should update examples. React throws the same error

[2017-02-27 11:33] DimitarChristoff commented on #864
can confirm that event normalisation for radios is broken under:

[code]

`onChange` does not fire.

[2017-02-27 14:42] MichaelRando commented on #891
I provided an entire repro project, feel free to run it. You might've noted that I'm just importing a ui library and calling its modal, which does not appear, and the answers to your other questions..

[2017-02-27 15:05] screendriver commented on #884
Thank you for the hint. What's really strange: my posted code above works on my MacBook but not on my Linux machine 😳 🤔

I will play with it a little bit and look what's happening...

[2017-02-27 15:34] longlho commented on #893
oh ur right yeah

[2017-02-27 16:35] Havunen commented on #891
ok I will have a look. Thanks for raising an issue

[2017-02-27 16:38] hguillermo commented on #880
I am going to close this issue. I think we are okay for now.

[2017-02-27 16:38] #880 closed

[2017-02-27 16:38] Havunen commented on #864
We dont support IE8, with what browser you are having the issue?

[2017-02-27 16:39] Havunen commented on #890
Closing.

[2017-02-27 16:39] #890 closed

[2017-02-27 16:53] DimitarChristoff commented on #864
it's chrome 55.

managed `input[type=radio]` with `onChange={handleChange}` handlers that fire under react 15.4.2 don't fire with inferno unless `onClick={handleChange}` is added.

[2017-02-27 16:55] trueadm commented on #864
@DimitarChristoff if you can attempt a PR, it's likely related to these lines:

https://github.com/infernojs/inferno/blob/master/packages/inferno-compat/src/index.ts#L100

Thanks :)

[2017-02-27 20:07] Havunen commented on #891
just as an status update:

After playing with your repo, I got the modal to render. It required 3 changes in Inferno:
- trigger mount callbacks before update when replacing with new node
- loop lifecycle callbacks backwards to keep order correct
- mountClassComponentCallbacks for input and not vNode

but after that it failed with formControls, I think this will not ship with 1.3 as it requires qui

[2017-02-27 20:24] MichaelRando commented on #891
Thank you. I appreciate the update. Cheers.

[2017-02-27 20:25] marksamman commented on #889
Another JSFiddle where the select dropdown flickers on Google Chrome on OS X with frequent state updates: https://jsfiddle.net/bqraqtmq/7/. I've also added a checkbox, textarea and radio button to this example (they all reset on render calls).

[2017-02-27 21:36] kanzelm3 commented on #819
We are seeing the `Cannot read property '_unmounted' of null` error as well... it is happening when inside patchComponent when `lastVNode.children` is `null`. It is throwing because `instance._unmounted` is `null` to be more specific.

[2017-02-27 21:44] kanzelm3 opened #895 "patchComponent: Cannot read property '_unmounted' of null"
**Observed Behaviour**

Inferno is throwing and uncaught exception `Cannot read property '_unmounted' of null`. It is happening inside patchComponent when `lastVNode.children` is `null`. It is throwing because `instance._unmounted` is null to be more specific.

https://github.com/infernojs/inferno/blob/8a605aba148136678f1e7689064b1deb535ac1a5/packages/inferno/src/DOM/patching.ts#L289

**Expected C

[2017-02-28 05:38] osdevisnot commented on #521
@dchest it seems jsxFactory compiler option is now available in TS stable. Is there any example of using it with inferno? When trying [here](https://github.com/osdevisnot/atomic-inferno), unfortunately I am getting this error in browser:
![screen shot 2017-02-27 at 9 27 06 pm](https://cloud.githubusercontent.com/assets/802242/23393079/0f9cff52-fd35-11e6-981c-dd06cc18b1fc.png)

[2017-02-28 05:45] Havunen commented on #895
I faced same error when investigated another task. Can you create simple steps to reproduce please.

[2017-02-28 05:47] Havunen commented on #521
What is that JSX factory how does it know how to create  vNodes from JSX?

[2017-02-28 05:48] Havunen commented on #521
Just wondering because... We have our babel plugin that compiles JSX into createVNodes

[2017-02-28 05:51] Havunen commented on #891
This Bug is blocking fixing this.
https://github.com/infernojs/inferno/issues/895

[2017-02-28 06:08] DoumanAsh commented on #890
Will Inferno website docs get update too? https://infernojs.org/docs/api/inferno

[2017-02-28 06:28] Havunen commented on #890
Created ticket for website repo https://github.com/infernojs/inferno-website/issues/73

[2017-02-28 06:29] Havunen commented on #895
I am seeing same exception here also: https://github.com/infernojs/inferno/blob/8a605aba148136678f1e7689064b1deb535ac1a5/packages/inferno/src/DOM/unmounting.ts#L51

[2017-02-28 06:39] DoumanAsh commented on #890
Ah... i'm sorry i thought documentation is here in this repo.
Anyway thanks :) Inferno should has accurate docs :)

[2017-02-28 08:45] Havunen opened #896 "Windows build is broken"
Steps to reproduce:
Fresh clone of inferno repo
[code]

Log of build:
[code]

[2017-02-28 11:43] Havunen commented on #896
Adding file extensions fixes windows and linux is also passing. Closing.

[2017-02-28 11:43] #896 closed

[2017-02-28 11:52] dchest commented on #521
@osdevisnot perhaps, this is because the imports are incorrect? Check how they've done in my comment.

[2017-02-28 13:51] Havunen commented on #895
There is also third place where this fails instance being null, so somewhere its not setting instance correctly.

[2017-02-28 13:52] Havunen commented on #893
Looks like ```Object.assign``` is slow compared to lodash merge, so we could write our custom function and get rid of Object.assign we don't need to follow full standard here in Inferno codebase.

[2017-02-28 13:53] trueadm commented on #893
@Havunen We originally did, but we removed out version to cut down on file-size. We could re-introduce our own for performance reasons – also means we don't need the polyfill.

[2017-02-28 15:15] DoumanAsh commented on #893
Btw, note that the issue not only with `Object.assign` i think E11 requires some extra polyfils like older versions.
First time i've been testing it i also found that Map or WeakMap is used and requires polyfill in IE.

[2017-02-28 15:32] Havunen commented on #893
weakMap was removed in `1.3-rc`

[2017-02-28 15:34] Havunen commented on #893
for Map you don't need polyfill IE11 supports Map except constructor parameters but we ain't using those.

[2017-02-28 15:36] DoumanAsh commented on #893
@trueadm The issue is that README.md states that IE11 is supported without polyfills :)

@Havunen Then if weakMap is removed in 1.3 it is no longer issue :)

[2017-02-28 16:40] osdevisnot commented on #521
@dchest unfortunately no. When I switch the import style to match your comment, the TS compiler spits out this error:
![screen shot 2017-02-28 at 8 40 01 am](https://cloud.githubusercontent.com/assets/802242/23414644/87ff2950-fd91-11e6-9369-f673cb244131.png)

[2017-02-28 16:58] afgomez opened #898 "IE-Edge behaves weirdly with inferno-compat and/or inferno-redux 1.3.0-rc8"
I'm migrating a React app to Inferno and I'm having some problems with inferno 1.3.0-rc8 in IE11 and Edge 13 (Haven't tested in other versions). It works correctly in both Firefox and Chrome.

I have these two components:
https://gist.github.com/afgomez/4a49b42d158890b5af7ba2b871ac221f

Redux is used to handle state. It contains an array of images

The `PhotoDropzone` uses [react-dropzone] to hand

[2017-02-28 18:00] Havunen commented on #893
found still one reference to WeakMap from inferno-mobx.

[2017-02-28 18:32] Havunen commented on #893
Removed dependency to Object.assign this will ship in next release 1.3 stable

[2017-02-28 18:32] #893 closed

[2017-02-28 20:50] Havunen commented on #888
This will ship on next release.

[2017-02-28 20:50] #888 closed

[2017-02-28 23:13] marksamman commented on #889
It appears that textarea, checkbox and radio buttons work fine in the dev branch. However, select is affected by this bug.

[2017-03-01 06:35] Havunen commented on #898
Can you create jsFiddle or somehow reduce test scenario where to reproduce this issue.

[2017-03-01 12:43] Havunen commented on #895
Simple steps to reproduce needed...

[2017-03-01 15:09] afgomez commented on #898
@Havunen sure! I've put together https://github.com/afgomez/inferno-ie-bug-test. Just clone it and run

[code]

Maybe the problem is in the code itself, and not in inferno, so I could use an extra pair of eyes. Let me know if that's the case.

[2017-03-01 15:57] Havunen commented on #898
@afgomez so drag and drop is working on all browser, but add images button doesn't work properly in IE / Edge

[2017-03-01 16:28] afgomez commented on #898
The button works (images can be added) but strange things are happening with the state. The images can be in two states, with `sending: true` or `false`.

The `ADD_IMAGES` action sets their `sending` property to `true` and handles the upload (in the demo repo this is a `setTimeout`). Then a `MARK_AS_UPLOADED` action is dispatched that sets the `sending` to false.

When the images have `sending`, t

[2017-03-01 17:03] Havunen commented on #898
I noticed that everything goes same way until dialog is opened. Internet explorer / MS Edge seems to stop script execution while that dialog is open, while Google chrome continues the script execution.

[2017-03-01 17:26] Havunen commented on #898
Yeah, I think this happens because you are calling file dialog to open in middle of render. That should be done in click callback.

[2017-03-01 17:42] afgomez commented on #898
I'm not sure I can do that, because the `dropzone` instance is not available in the component where the button lives.

Also, this works with the current stable Inferno 1.2.2 :/

In any case I'll play a bit with it to see if I can make it in a different way. Thanks for the hints!

[2017-03-01 18:25] Havunen commented on #898
ah, I see. then this is a bug.

[2017-03-02 19:47] roastlechon commented on #895
@Havunen @kanzelm3 we currently are not able to provide a simple repository to reproduce the issue sadly.

[2017-03-02 20:56] Havunen commented on #895
Well I have good news for you. I have successfully reproduced this and added test scenario for failing patch and unmount: https://github.com/infernojs/inferno/commit/8eb679ad0cadf52d83ff8914f5ad567fdd35d0b8

the scenario is not that simple tho... lol

[2017-03-02 20:59] roastlechon commented on #895
@Havunen You are awesome! Our code that produces this issue is surrounding something relating to Mapbox. Some what complicated as well.

[2017-03-03 12:49] rikkertkoppes opened #903 "modules not exported the same way between es5 and es6 builds"
Working with RC.8 here, I am using the following stack:

typescript 2.1.4
webpack 2.2.1

When packing inferno, I run into issues with how the modules are exported. When working in typescript, the typings from `dist-es/index.d.ts` are correctly resolved, indicating that, for example, `Component` is the default export from `inferno-component`. Typescript build phase works ok.

Next inline is the web

[2017-03-03 13:36] Havunen commented on #903
HI @rikkertkoppes module root was dropped away from package.json. Are you using `jsnext:main` that is non-standard and used for building inferno internally?

[2017-03-03 13:37] Havunen commented on #903
@longlho Any idea what could cause this?

[2017-03-03 13:43] rikkertkoppes commented on #903
No, not using `jsnext:main`, it's the opposite. Webpack picks out the `main` field and produces es5 code which is ok, but does not follow the module signature that is expected by typescript (expecting `Component` as default export, not root export)

When I modified `inferno-component`s package.json and added a `module` field pointing to the same es6 build (`dist-es/index.js`), everything gets pack

[2017-03-03 13:49] longlho commented on #903
@rikkertkoppes do you have your `tsconfig.json` & `webpack.config.js`?

[2017-03-03 14:07] rikkertkoppes commented on #903
Both are handled by grunt, but these are the options set for them

ts:

    module: 'commonjs',
    target: 'es5',
    sourceMap: true,
    comments: true

webpack:

    entry: "./public/js/dist/main.js",
    devtool: "source-map",
    output: {
        path: "public/js/",
        filename: "packed.js"
    },
    //use ts sourcemaps
    module: {
        preLoaders: [{
            test: /\.js$/,

[2017-03-03 15:30] Havunen commented on #895
This will be fixed in next release. Closing.

[2017-03-03 15:34] Havunen commented on #889
PR for this has been merged, fix is available in next release. Closing

[2017-03-03 15:34] #889 closed

[2017-03-03 15:35] Havunen commented on #854
This has been fixed and will be available in next release.

[2017-03-03 15:35] #854 closed

[2017-03-03 16:46] Havunen commented on #809
Support for this has been added into inferno-compat. It will be available in next release. In future we could consider moving this into core behind inferno.options that way it could be done more efficiently than now. Closing.

[2017-03-03 16:46] #809 closed

[2017-03-03 16:48] Havunen commented on #833
renderIntoDocument now appends parent node into document. Added test cases there its now propagating synthetic and native events correctly. Will be available in next release. Closing

[2017-03-03 16:48] #833 closed

[2017-03-03 16:50] trueadm commented on #892
@screendriver would you be interested in porting `preact-compat-enzyme` to Inferno? That would be awesome :)

[2017-03-03 18:02] jdalton commented on #809
Whoa awesome! 🤘

[2017-03-03 18:13] longlho commented on #903
do you mind making a small example repo to demo the issues? Looking at the configs things seem fine

[2017-03-03 18:17] longlho commented on #821
There're a couple of ways we can do this:

- independent versioning: This means every package's version is independent from inferno.
- unpublish/deprecate via npm
- Jump everything to `3.x`

Regardless, the latest dist tag is point to `1.3.0-rc.9` right now so when you do `npm i inferno-hyperscript` you should get that version, is that not the case @dfrankland ?

[2017-03-03 19:33] rikkertkoppes commented on #903
Yeah sure, probably after the weekend though

[2017-03-03 23:33] Havunen commented on #450
@landabaso  you must use createElement API with inferno-compat to be able to use strong refs. Its legacy way of doing it anyway so better to use callbacks

[2017-03-03 23:44] Havunen commented on #682
Recycling Will Be disabled by default 1.3+ enabling it moves responsibility to the user and he/she must Be aware of possible side effects. Closing.

[2017-03-03 23:44] #682 closed

[2017-03-03 23:49] Havunen commented on #798
What still needs to be done regarding this task?

[2017-03-03 23:51] Havunen commented on #793
Hey I have changed this behavior in rc8? @kurdin  can you test is this still an issue when using latest RC?

[2017-03-03 23:55] Havunen commented on #817
There is currently no plans changing this behavior. Closing

[2017-03-03 23:55] #817 closed

[2017-03-03 23:57] Havunen commented on #819
Hey @SeanHayes  .unmounted of null Bug has been fixed in latest RC. Can you please try it out If that resolves your issue?

[2017-03-04 00:00] Havunen commented on #839
Hi @leiyangyou  have you tested is this still an issue with 1.3.0-RC9?

[2017-03-04 00:02] Havunen commented on #859
@RB-bro  Hey can you test with latest Inferno 1.3.0-RC9 to see If that resolves this issue?

[2017-03-04 00:07] Havunen commented on #891
So now the last issue to Make this fully working is to Make string refs fire before function ref callbacks.

[2017-03-04 00:10] Havunen commented on #874
Is safari7 supported anyway? We are running tests for Safari 9 and 10

[2017-03-04 00:12] Havunen commented on #732
@longlho I guess we are done with this task :)

[2017-03-04 00:13] #749 closed

[2017-03-04 00:14] Havunen commented on #686
What still needs to be done regarding this task?

[2017-03-04 00:15] Havunen commented on #685
Updating version and publishing is now automated, changelog is still missing. Any idea how to implement that?

[2017-03-04 00:17] Havunen commented on #667
There is task for this at inferno-website repo. If you guys have time please send PR there :) https://github.com/infernojs/inferno-website/issues/72

[2017-03-04 00:17] #667 closed

[2017-03-04 00:19] Havunen commented on #628
@osdevisnot jsx-factory is just createElement?

[2017-03-04 00:23] Havunen commented on #565
@trueadm do you still have some plans how to get rid of normalizing or shall we drop nonKeyed algo because everything is now forced to be keyed unless flags state its nonKeyed but nobody is using those. We can simplify some routines by dropping nonKeyed out and save bytes

[2017-03-04 03:33] RB-bro commented on #859
That fixed it!

[2017-03-04 03:33] #859 closed

[2017-03-04 03:43] kurdin commented on #793
@Havunen I will test but what did you change? Did you add `renderType` attribute to component?

[2017-03-04 10:12] SuhairZain commented on #667
@Havunen I was caught up in some work again. Otherwise, this would have been completed already. Now I think it's better to contribute to inferno-website. Thanks for the heads up. 😄

[2017-03-04 10:23] Havunen commented on #783
Did anybody create issue for Typescript about this?

[2017-03-04 21:42] trueadm opened #904 "Document noNormalize, hasKeyedChildren and hasNonKeyedChildren optimizations"
As per https://github.com/marko-js/isomorphic-ui-benchmarks/pull/4:

We should really document what `noNormalize`, `hasKeyedChildren`  and `hasNonKeyedChildren` do. They are performance optimizations that can massively improve performance on both SSR and on the browser.

[2017-03-05 01:06] jadok opened #905 "VirtualDOM - Component mapping re redering"
I have an issue with component mapping and state.
I have a Component A with an array of number that I store in the state of my Component A.

I have a component B with 2 state properties and 1 properties given from Component A.

On rendering using a Array.map function I create Component B base on my array stored in my state of Component A.

My problem is when I remove an element from the state of t

[2017-03-05 10:07] Havunen commented on #905
Hi thanks for raising an issue. I can look into this now.

[2017-03-05 13:33] Havunen commented on #905
There are some issues in your code, let me explain:
- First of all you are calling `setState` in component constructor. This should be banned. I will add validation error message for this into inferno core. This is chicken egg situation you cannot `update` something before you have created `something`
- Then about the last node dissappearing, that is expected behavior in your given scenario becaus

[2017-03-05 13:40] Havunen commented on #904
hasKeyedChildren and nonKeyedChildren are documented here:
https://infernojs.org/docs/guides/benefits/list-rendering

[2017-03-05 13:42] Havunen commented on #904
noNormalize could be documented here:
https://infernojs.org/docs/guides/optimisations

[2017-03-05 14:00] Havunen commented on #905
Also I noticed you are assigning to components own instances props, thats generally anti pattern and you should send new values "up" and pass properties "down"

[2017-03-05 14:48] Havunen commented on #905
Pull request opened to your demo repo. I'm closing this.

[2017-03-05 14:48] #905 closed

[2017-03-05 14:51] Havunen opened #906 "Add validation to not allow calling setState from component constructor"
Add validation when not in production build to not allow calling setState or setStateSync from component constructor.

[2017-03-05 14:52] Havunen commented on #906
This is chicken egg situation as its not possible to update something that is not yet constructed. If somebody tries to do it Inferno should fail with error message.

[2017-03-05 14:54] Havunen commented on #898
I not able to identify where this goes wrong... Help wanted.

[2017-03-05 14:58] jadok commented on #905
Thank a lot for you reply and the PR, seems like I will some times to understand everything but I believe I got the Id.

[2017-03-05 15:39] Havunen commented on #904
Normalization is also now documented.

[2017-03-05 15:39] #904 closed

[2017-03-05 16:51] longlho commented on #685
there's https://github.com/lerna/lerna-changelog but I have not tried it

[2017-03-05 22:05] buzinas commented on #738
I'm always using the stable version (it seems to be 1.2.2 now), but this bug is causing some headaches for me, so I'd like to know if it's fixed in one of these new release candidate versions.

[2017-03-06 03:30] leiyangyou commented on #839
Tested on both 1.3.0-RC9 and 1.3.0-RC10, still seems to be problematic

stacktrace from Link is as follows

Uncaught TypeError: Cannot read property '@@contextSubscriber/router' of undefined
    at Function.getInitialState (ContextUtils.js:88)
    at Cl.<anonymous> (inferno-compat.node.js:485)
    at new Cl (inferno-compat.node.js:544)
    at createClassComponentInstance (inferno.node.js:754)

[2017-03-06 03:37] leiyangyou commented on #839
For the moment, I made a simple change to the multihook code, and hasn't broken anything for me yet.

[code]

[2017-03-06 07:09] screendriver commented on #892
If I had enough time for it I would definitely do that 😭

[2017-03-06 10:29] 4leem commented on #906
Good idea. We already have ESLint rules 'no-did-mount-set-state' and 'no-did-update-set-state' which prevent using setState in componentDidMount and componentDidUpdate respectively.

[2017-03-06 12:05] trueadm commented on #906
@4leem IMO it's better to do `setState` in those methods rather than in `componentWillMount` and `componentWillUpdate`.

[2017-03-06 14:21] 4leem commented on #906
Using setState in componentDidUpdate will trigger a render again, which in most of the cases is inappropriate or unwarranted.

[2017-03-06 14:38] Havunen commented on #738
It should be fixed but there are no tests for it

[2017-03-06 14:40] trueadm commented on #906
@4leem You should not be using `setState` in `componentWillUpdate` (https://facebook.github.io/react/docs/react-component.html#componentwillupdate).

[2017-03-06 14:40] Havunen commented on #839
Can you send PR for that and see if all tests pass? :)

[2017-03-06 16:50] 4leem commented on #906
@trueadm Yes, I totally agree. I just wanted to outline that using `setState` in the above mentioned methods should  be avoided as a best practice[to avoid unnecessary re-render].

[2017-03-06 16:50] trueadm commented on #906
@4leem Ah I got you now, sorry for the confusion :)

[2017-03-06 19:25] cstoobes commented on #729
@Havunen, were you able to recreate this? What can I do to keep this moving?

[2017-03-06 21:03] Havunen commented on #729
@cstoobes are you using inferno-compat also Make sure you import devTools before any components. Also Make sure you dont have functional component as Application root.

[2017-03-06 21:37] cstoobes commented on #729
No, I'm not using inferno-compat.
I'm requiring inferno-devtools only for non-production mode and have placed this above  components:
<pre>
if (process.env.NODE_ENV !== 'production') {
  require('inferno-devtools');
}
</pre>
My inferno application root extends inferno-component.

[2017-03-06 22:52] leiyangyou commented on #839
I realized that I was wrong about how that line fixed everything when I started adding tests

[2017-03-07 08:35] springuper opened #908 "Wrong SVG attribute: stopcolor instead of stop-color"
**Observed Behaviour**

we use react for development, and inferno for production.

source code:

[code]

inferno renders it like this:

[code]

react does in the right way:

[code]

**Expected Current Behaviour**

Inferno should render `stop` attributes the same as react, and follows the standard:  https://developer.mozilla.org/en-US/docs/Web/SVG/Element/stop

**Inferno Metadata**

macOS: 10.12.1

[2017-03-07 16:27] osdevisnot commented on #628
@Havunen it's a change in semantics, where a consuming component would invoke factory function rather than the source component. (Here)[https://gist.github.com/sebmarkbage/d7bce729f38730399d28] is detailed explanation.

[2017-03-07 16:28] Aleksion commented on #686
I don't know if it's me doing something wrong, but I hit a few issues when trying to use the Inferno typings in an isomorphic project.

The issue is that the typings assume the importing inferno-component and/or inferno-create-element result in an object with a default export.

However, when typescript is used with module:commonjs, the node version of those components are used and they do NOT cont

[2017-03-07 18:58] Havunen commented on #686
@Aleksion is this 1.3.0.-rc.10 or 1.2.2?  If it is 1.3 try commenting out "jsnext:main" in all installed inferno package.json's

[2017-03-07 18:59] Havunen commented on #908
This is feature in Inferno, We use native html attributes you need to write:
[code]

[2017-03-07 19:00] Havunen commented on #908
Or in case you are using inferno-compat you could send PR there.

[2017-03-07 19:03] Havunen commented on #729
@cstoobes does it work if you change it to top level import?

[2017-03-07 19:06] cstoobes commented on #729
No, I feel like I've tried every variation possible.

[2017-03-07 19:08] Havunen commented on #839
This has been merged, will be available in next release.

[2017-03-07 19:08] #839 closed

[2017-03-07 19:09] Havunen commented on #729
Are you using SSR? Can you put same repo up somewhere to reproduce this?

[2017-03-07 19:28] Aleksion commented on #686
@Havunen - I was using 1.3.0-rc.10
Commenting out jsnext:main did nothing to alleviate the issue. However, running 1.2.2 does work.

The problems I have with that though is that the interfaces are defined Globally - meaning Props clash with my own Props interfaces. I do see why they are, when you worked under the constraints of a single typings file. But it's naturally much less of a problem than

[2017-03-07 19:36] cstoobes commented on #729
No SSR. My inferno app is part of a much larger website, so I can't really share it. I've tried to eliminate outside conflicts by commented out all javascript except the bare essentials to render the inferno app.

[2017-03-07 19:43] Havunen commented on #686
ping @longlho any idea regarding this?

[2017-03-07 19:46] cstoobes commented on #729
Using the same configuration I noted previously and only this code in the JS:

[code]

I still only get  "Waiting for roots to load..." error in the React Dev Tools.

[2017-03-07 19:59] Havunen commented on #729
Copy pasted your code into basic inferno-create-app and its working...

[2017-03-07 20:00] Havunen commented on #729
Are you using React-dev-tools 2.0.12? Chrome 56.0.2924.87?

[2017-03-07 20:06] cstoobes commented on #729
Ok, makes me think it's a config issue.  Yes, I am using those versions.

[2017-03-07 21:07] joshburgess commented on #729
Just to add to this, I have been unable to get the Inferno devtools working with the special createRenderer function in Inferno (the function meant to be used in combination with a scan().... used in a reactive programming setup as an alternative to manually mounting a static component to a node with render).

Also, why do we have to use inferno-component? I'm pretty sure React itself doesn't requ

[2017-03-07 21:08] longlho commented on #686
yeah it seems like rollup UMD packaging by itself is not enough to satisfy all the use cases. `rollup` isn't particularly forgiving to non-ES6 modules so we might have to bring back the wrapper file

[2017-03-07 21:49] Havunen commented on #729
We need to wrap our stateless component inside class to make it compatible with React Dev tools, I know there is Bug that If you render root before devTools was initialized and that root was stateless component then there is currently no way to "boot up" the tools and it gets stuck on loading state.

[2017-03-08 11:28] screendriver commented on #587
@Havunen HMR is **not** for refreshing the whole site 😉 It should only replace that part of the website that changed, without any refresh / reload. The whole application state remains unchanged.

[2017-03-08 15:54] Havunen commented on #587
That has never been implemented

[2017-03-08 20:02] amadt opened #910 "Question: Should _unmounted be false by default"
I am trying to get [kadira storybook](https://github.com/storybooks/react-storybook) to work with inferno. It is currently throwing an error because it expects a component's `_unmounted` to be false by default.

If change the _unmounted default to false, storybook works fully. In react, that unmounted value is initially false. It kind of makes sense. If I haven't ever mounted the component, then I

[2017-03-08 20:45] Havunen commented on #910
yeah I think it should be false, can you send PR for this to see if all tests pass and get credit for the change. Thanks.

[2017-03-08 21:33] Havunen commented on #908
PR for this has been merged it will Be available on next release

[2017-03-08 21:33] #908 closed

[2017-03-08 21:58] Havunen commented on #910
Thanks for PR. Merged.

[2017-03-08 21:58] #910 closed

[2017-03-09 02:54] kanzelm3 commented on #895
@Havunen I have tested this with rc.9 and rc.10 and I still see the issue in both.

[2017-03-09 06:10] Havunen commented on #895
@kanzelm3 okay, I need steps to reproduce it.

[2017-03-09 07:04] screendriver commented on #587
I know that but it would be awesome if it would 🙃

[2017-03-09 08:28] ninemilli-song commented on #864
hi，it is inferno bug or not. when you use input which type is checkbox, you defined onChange event, then inferno will convert the onChange event to onClick. so if you have onChange and onClick event at meantime, your onChange event handler will be not trigger.
if you input's type is radio, then your onChange event will be oninput event by inferno.  so the same as above your have onChange and onCli

[2017-03-09 08:50] benoneal commented on #864
The problem with all these onClick / onInput shenanigans is that none of them fire when the input element itself is not directly interacted with (or in my experience, even if it is), as is the case where the input is "hidden" and the interaction is solely through the label element. onChange is the correct/optimum event, as it captures this interaction, as well as all methods of interacting with th

[2017-03-09 15:53] Havunen commented on #864
@benoneal you can use native DOM events by using `onclick` instead of `onClick`

[2017-03-09 23:25] hguillermo opened #914 "Link component Bug? Link from inferno-routes not working as expected"
I have a small SPA with 5 routes. I am using the Link to navigate to other routes but it is doing a server request. My route is similar to this:

[code]

The Link from the contact page is similar to this:
[code]

I can see the request going to the origin. Ideas?

[2017-03-10 02:02] tonyjiang88215 opened #915 "svg element`s attribute: viewBox is not be rendered"
I am using <svg> element in my components , it`s all worked perfect on version 1.3.0-rc.8.  The attribute "viewBox" was not exists on dom elements anymore.

Here is my code:

const Plus = () => {

	return (
		<svg viewBox="0 0 1024 1024" width="16" height="16">
			<path d="M275.471893 478.579263l548.095788 0 0 67.043075-548.095788 0 0-67.043075Z"></path>
			<path d="M516.003366 238.046767l67.04307

[2017-03-10 03:43] tonyjiang88215 commented on #915
When I upgrade to 1.3.1 the viewBox attributes is not added to the dom element anymore.

[2017-03-10 04:02] springuper opened #917 "Server side rendering with `cloneElement` broken"
**Observed Behaviour**

We uses webpack to build both client side and server side bundles, since we upgrade to 1.3.0-rc.10, Inferno is broken with the following error:

[code]

i found that it's because we use `cloneElement` and string refs, when server side bundle executes to it, `inferno-compat`'s `injectStringRefs` throws that exception.

**Expected Current Behaviour**

Inferno should work well

[2017-03-10 06:17] Havunen commented on #915
Are you using inferno-compat?

[2017-03-10 06:19] Havunen commented on #917
This is bug.

[2017-03-10 06:21] tonyjiang88215 commented on #915
@Havunen yes, the same version with inferno , 1.3.1

[2017-03-10 11:02] kirill-kruchkov commented on #895
Hello! This one reproduces in 1.3.0.

[2017-03-10 14:30] rikkertkoppes commented on #903
here you go: https://github.com/rikkertkoppes/infernoBuildProblem

I included the ts build and the webpack bundle files in the repo. Description in the readme

[2017-03-10 14:30] longlho commented on #903
awesome thanks!

[2017-03-10 14:50] longlho commented on #903
yeah confirm the prob is that we dist UMD ES5 but type def still assumes it's ES6. The solution is prob to set main as non-rollup (transpiled only) and set `browser` to the minified file.

@Havunen thoughts?

[2017-03-10 14:56] Aleksion opened #919 "Inferno Error: Only one child is allowed within the `Provider` component"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/inferno.js).
- Check that the i

[2017-03-10 15:01] Aleksion commented on #919
Found the error. Apparently Spaces is considered children when rendering (at least it is on node). Resulting in two additional children in the above case.

[2017-03-10 15:05] longlho commented on #919
@Aleksion yup, spaces in the same line are considered children, but not
[code]

[2017-03-10 15:07] Aleksion commented on #919
Arh got it. Thanks.

But couldn\t they, theoretically, be soreted out?

This is how it looks:

[code]

Anyways. Thank you for a swift response!!!

[2017-03-10 15:09] longlho commented on #919
the thing is spaces are considered intentional, like `<p><span>hello</span> <span>world</span></p>

[2017-03-10 15:24] Aleksion commented on #919
Ok, got it.
Thank you for clarifying :)

[2017-03-10 15:48] DimitarChristoff commented on #864
We can all modify our code to make it compatible with inferno, but ultimately, it comes down to this: if inferno-compat is to maintain compatibility with react, it needs to go down the same path as them (regardless of your opinion on the correctness of having the universal contract) - otherwise, it is not a drop-in replacement.

I had a look at fixing, but it's typescript...

[2017-03-10 22:40] xirzec commented on #915
I'm hitting this too. All my SVG icons are broken with 1.3.1. Worked fine on 1.3.0-rc10

[2017-03-10 22:44] xirzec opened #922 "componentDidUpdate is not a function when using react-redux"
## Inferno doesn't handle componentDidUpdate not existing on component instances

**Observed Behaviour**

react-redux cheekily removes componentDidUpdate in some cases:

https://github.com/reactjs/react-redux/blob/master/src/components/connectAdvanced.js#L223-L228

This causes inferno to blow up here:

https://github.com/infernojs/inferno/blob/0203b437ba2b2f8305b7dbf49752c463af3f5146/packages/infe

[2017-03-10 22:55] LukeSheard commented on #922
Have you tried using `inferno-redux` instead of react-redux here? Happy to take a PR for this though.

[2017-03-10 22:58] xirzec commented on #915
I think I know what's going on. I looked at this commit: https://github.com/infernojs/inferno/commit/0abb044c6ad35bc2cbc60e048da29374561e8472

Specifically right here: https://github.com/infernojs/inferno/blob/0abb044c6ad35bc2cbc60e048da29374561e8472/packages/inferno-compat/src/index.ts#L125-L127

We do this:

[code]

but in the map file we have: `viewBox: 'viewBox',`

So it maps to itself, which

[2017-03-10 23:28] xirzec commented on #922
Haven't tried `inferno-redux`, we're trying to keep our stuff react-flavor-neutral (but have to use inferno rather than react for now thanks to patent clause fun.) Just sent the PR.

[2017-03-11 10:03] Havunen commented on #915
Will be fixed in next release.

[2017-03-11 10:03] #915 closed

[2017-03-11 10:12] Havunen commented on #922
Will be fixed in next release.

[2017-03-11 10:12] #922 closed

[2017-03-11 10:16] Havunen commented on #917
This will be fixed in next release.

[2017-03-11 10:16] #917 closed

[2017-03-11 10:17] Havunen commented on #919
@Aleksion do you have ticket for this: I haven't upgrade yet, since the typescript isomorphic import issue is still open in 1.3.1?

[2017-03-11 10:18] Havunen commented on #914
Hi @hguillermo can you make jsFiddle to reproduce this issue?

[2017-03-11 10:19] Aleksion commented on #919
@Havunen - yeah I believe it's tracked on #686
I can open a new one if you prefer that though :)

[2017-03-11 11:42] Havunen commented on #903
@longlho Sounds good to me

[2017-03-11 11:44] Havunen commented on #864
@DimitarChristoff I understand that, but I'm thinking do you want to sacrifice synthetic events feature vs having this edge case working? Doing that change globally would make big hit on performance which is probably one of major reasons people use inferno-compat over React?

[2017-03-11 11:46] Havunen commented on #895
@kirill-kruchkov I can re-open this, but last time I spent 2 full days trying to reproduce it and found one of scenarios when it happens, which is now fixed and tested for regression. If you can reproduce it again using different strategy I'm more than willing to fix it. But I need help reproducing this issue.

[2017-03-11 13:05] zohl opened #926 "inferno-router doesn't work correctly when rendered more than once"
Hello,

many thanks for your great job! I had a good time playing with the library, but encountered strange behaviour, when tried to use `inferno-router`.

In a nutshell, the problem looks like this:
- there is an inferno-router expression (`<Router>...</Router>`)
- there is also a global state (just an `Object`)
- some of the components depend on the global state
- to apply changes in the global

[2017-03-11 14:41] jduhls opened #927 "IE11: "Invalid argument" using input type="color""
**Observed Behaviour**

Inferno is...

When using in IE 11, input type="color" is not acceptable.

**Expected Current Behaviour**

Inferno should...

Maybe it is ok? I'm trying to implement with the polyfill:

https://github.com/dciccale/nativeColorPicker

...but I can't get past the inferno error.

**Inferno Metadata**

Windows 7
IE 11

![screen shot 2017-03-11 at 8 37 52 am](https://cloud.github

[2017-03-11 15:01] jduhls commented on #927
Workaround adds "type" attribute after mount but now the polyfill chokes on existing value:

[code]

[2017-03-11 15:13] benoneal commented on #864
For me personally, performance is *nice*, but package size is much more important. React + ReactDOM are HUGE. My applications aren't performance bottlenecked, but larger packages mean longer waits before the UI is live and functional.

Also native dom events are even worse. `onclick` isn't even an option here, because the user is unable to click on the input itself (it's hidden). I could technical

[2017-03-11 15:25] jduhls commented on #927
I've abandoned using type="color" and went with a javascript colorpicker library altogether.

[2017-03-11 15:33] Ashot-KR opened #928 "Add `module` field in `package.json`"
Since v1.3.0 inferno and it's packages has `dist-es` folder, so why don't add a `module` field to import bundled Inferno es2015 module with `import Inferno from 'inferno'`? At this moment i should use `import Inferno from 'inferno/dist-es'`.

By the way: most installed inferno packages has `node_modules` folder with `inferno-shared` in it. What's the point of this? why it not installed as dependen

[2017-03-11 15:35] Havunen commented on #928
Because many users started reporting errors when they used ES6 modules. So I simply dropped the module field. You can use it at your own risk, we don't currently support it because `module` entry point is undocumented feature.

[2017-03-11 16:13] Ashot-KR commented on #928
I've made experiment:
1. i added `"module": "dist-es/index.js"` to installed inferno and it's packages manually
2. tried to bundle project and get error `warning' is not exported by node_modules/inferno/node_modules/inferno-shared/dist/inferno-shared.node.js` because each package has it's own `inferno-shared` module and `inferno-shared.node.js` do not export `warning` as it cjs module
3. i removed

[2017-03-11 17:47] Alxandr opened #929 "Failed to execute 'replaceChild' on 'Node'"
On branch `dev`, I've managed to produce an error where it's trying to replace a node with `null`. It's caused by the code here: https://github.com/Alxandr/inferno/blob/feature-redux/packages/inferno-redux/__tests__/components/connect.spec.js#L976. I've been unable to create a simpler case where it fails.

Full error:

[code]

[2017-03-12 00:25] Havunen commented on #928
Btw 'inferno:main' is pointing to es6

[2017-03-12 16:02] TrySound commented on #928
@Havunen I'm maintainer of rollup-plugin-node-resolve. If there's a problem, let's fix it. Bundling commonjs is not efficient for libraries. As you can see redux uses this too reduce bundle size.
https://github.com/reactjs/redux/pull/2283

[2017-03-12 16:05] longlho commented on #928
@TrySound problem is that people don't configure `rollup`/`webpack` to transpile ES6 in `node_modules`. Webpack also has a different mechanism of wrapping `default`-exported module that uses `defineProperty`, making `getter/setter` injection broken. Not to mention TS ecosystem as well:

See:
https://github.com/infernojs/inferno/issues/903
https://github.com/infernojs/inferno/issues/686

It's more

[2017-03-12 19:07] Havunen commented on #929
This was caused by legacy code from times when we tried to support vFragments (rendering arrays from components). Its now fixed in dev.

[2017-03-12 19:07] #929 closed

[2017-03-12 19:52] joshburgess opened #930 "Support Functional Component Lifecycle Hooks in HyperScript/Hyperscript-helpers"
## Issue Template

**Observed Behaviour**

It seems that Inferno is not currently supporting functional component lifecycle hooks if you are using hyperscript (or hyperscript-helpers) instead of JSX. The issue seems to be that using a functional JSX component like `<SomeComponent onSomeLifecycleHook={someFunction} />` triggers some special initial parsing to convert those lifecycle hooks into an O

[2017-03-12 21:36] longlho commented on #919
@Aleksion #931 might address your TS issue

[2017-03-13 15:47] hguillermo commented on #926
@zohl Why do you call Inferno.render more than once in the client side? Can you explain your reasons? I never saw that and I am not sure if it was designed to do that. You can make your code work without that udpate(). Check this example:
https://github.com/nightwolfz/inferno-starter/blob/master/src/client/client.js#L39
I did work with React, Preact and Inferno and all the routers for those librar

[2017-03-13 15:51] hguillermo commented on #914
@Havunen I am working on it. I am trying to create a simple project to reproduce the bug. I think it is related to some related library or a particular version. I will let you know. Thanks

[2017-03-13 19:43] Ashot-KR commented on #713
I've found edge case with zeros: when `{ 0 }` is only child of vnode devtools throws error.
Examples:
[code]
Issue reproduced with Number representation of `0`. If it's a String everything is ok.

Exception from console
[code]

[2017-03-13 19:57] Havunen commented on #713
Okay, lets fix this.

[2017-03-13 22:34] carrickjason opened #933 "Inferno Error: hydrate() expects a valid VNode"
Any tips on this error?

Uncaught Error: Inferno Error: hydrate() expects a valid VNode, instead it received an object with the type "function"

I don't have any idea where to start.

using v1.3.1

[2017-03-13 22:37] LukeSheard commented on #933
What's your setup of your app, webpack / babel / rollup / etc?

[2017-03-13 22:38] carrickjason commented on #933
Webpack

[code]

[2017-03-13 22:40] LukeSheard commented on #933
What's your babelrc?

[2017-03-13 22:41] hguillermo commented on #914
@Havunen So far I found out that inferno is generating an additional server call when I include this code on the render:
[code]
The line that is generating the error is:  parentDom.replaceChild(nextDom, lastDom)
[code]
I am trying to isolate the error. So far that is what I found.

[2017-03-13 22:41] carrickjason commented on #933
[code]

[2017-03-14 05:08] carrickjason commented on #933
Found my problem. Was passing function (`App`) to render function instead of JSX (`<App/>`) 🙃 Thanks anyways @LukeSheard !

[2017-03-14 05:08] #933 closed

[2017-03-14 16:35] ul opened #934 "inferno-component 1.4.0 is not packaged properly"
**Observed Behaviour**

inferno-component doesn't set itself as `Inferno.Component`, you can check it looking at the package source here https://unpkg.com/inferno-component@1.4.0/dist/inferno-component.js

**Expected Current Behaviour**

inferno-component should set itself as `Inferno.Component` as it used to be

[2017-03-14 20:25] zohl commented on #926
Oh, looks like I misunderstood the concept and was lucky enough to make it work in the wrong way :)

I assumed, that if I want to change something on a page, I have to generate new tree of virtual nodes, so `inferno` can diff it with the current one and apply the changes. Therefore I generated it from a scratch, including `Router`.
It turned out, that it can be done much easier by extending `Compo

[2017-03-14 20:25] #926 closed

[2017-03-14 21:46] LukeSheard commented on #933
@carrickjason Good to see you solved your problem! 🎊

[2017-03-15 16:54] Havunen commented on #934
This same behavior happens with hyperscript plugin  it should be available as `ìnferno.h`

[2017-03-15 16:55] Havunen commented on #934
ping @longlho

[2017-03-15 17:10] longlho commented on #934
I'll take a look tonite

[2017-03-15 17:14] Havunen commented on #934
This can be reproduced using our own repo run `http-server` at root and navigate to examples

[2017-03-15 19:03] katyo commented on #903
I also have an issue with importing default export in typescript.
Is there any workaround for fix that now?
Maybe it would be better avoid default export at all or simply add named export.

[2017-03-16 01:14] Omlet commented on #895
I'm getting the same issue in 1.4 when dispatching actions from `componentWillReceiveProps`. I did not have this issue before with Inferno 1.0.0-beta42, but going back results in the same problem, so it's something that I changed. Still looking into it.

[2017-03-16 06:16] moatra commented on #934
I seem to be running into similar problem with `inferno-create-element`, where doing `import createElement from 'inferno-create-element';` from typescript worked with 1.2.2 and now returns `undefined` with 1.3.0 and 1.4.0.

[2017-03-16 06:36] trueadm commented on #934
This is due to how ES2015 modules/TypeScript work. Inferno's packages export an object literal via a UMD bundle, which means that, by spec `import { ... } from` will not work on them. Babel incorrectly allows for them to work still, but really the only way for them to work under spec is to ensure that Inferno ships a ES2015 module rather than a UMD bundle.

Alternatively, you can tell TypeScript t

[2017-03-16 06:45] Havunen commented on #895
@Omlet can you share source code for that project or create minimal setup to reproduce it?

[2017-03-17 02:24] Omlet commented on #895
@Havunen I'll try and write up a minimal setup. I did some minor testing using inferno redux, and found the following:

- Component A is connected to store
- Component B is connected to store
- Component C within Component B receives store as prop from Component B
- Component C dispatches an action, which causes A's `componentWillReceiveProps` to fire.
- If Component A dispatches an action within

[2017-03-17 03:54] moatra commented on #934
Right.  I have typescript set up to [support node module resolution](https://github.com/moatra/catfire/blob/master/tsconfig.json).  The project was building and working with inferno `1.2.2`,  but when I try to[ upgrade to `1.4.0`](https://github.com/moatra/catfire/compare/inferno-1.4-upgrade) the builds break due to the `inferno-create-element` and `inferno-component` imported values being undefin

[2017-03-17 06:56] Havunen commented on #895
Okay thanks for update. Can you create external repository to reproduce it?

[2017-03-17 07:18] AlgoTrader commented on #934
http://codepen.io/AntonZ/pen/VpreoG

Exact the issue!

[2017-03-17 08:59] Ashot-KR commented on #713
@Havunen i've found that simplest way to fix issue is to force convert zeroes to string [here](https://github.com/infernojs/inferno/blob/master/packages/inferno-devtools/src/bridge.ts#L283) with `const children = vNode.children === 0 ? vNode.children.toString() : vNode.children;`
But it seems to me problem may be a little bit deeper

[2017-03-17 10:32] Ashot-KR opened #945 "autoFocus prop renders in DOM with stringified boolean values"
Example: https://jsfiddle.net/mx8axp7m/

**Observed Behaviour**

When input has `autoFocus` prop, inferno stringify it's boolean value.
So `autoFocus={ false }` will be rendered as `autofocus="false"` which will trigger autofocus

**Expected Current Behaviour**

Inferno should not stringify values(at least boolean values) of `autoFocus`
`<input autoFocus={ true } />` should be rendered as `<input

[2017-03-17 13:11] Havunen commented on #945
Fixshould be as easy as adding autoFocus to booleanProps

[2017-03-17 13:12] Havunen commented on #713
Sure, can you send PR pls

[2017-03-17 13:14] Ashot-KR commented on #713
@Havunen ok, i'll create PR later today or tomorrow

[2017-03-18 04:03] kanzelm3 commented on #895
Ok, I have found the root cause of the issue. I'll do my best to explain, but @Omlet is correct it is directly related to dispatching actions from within `componentWillReceiveProps` in a child component.

Let's say you have component A, a container component wrapped with the `connect` higher order component from `react-redux` and component B, a child of Component A that will react to changes in pr

[2017-03-18 14:58] Havunen commented on #895
ping @trueadm , How should we fix this? It sounds like `setState` related.

[2017-03-18 18:16] trueadm opened #949 "Inferno should convert to use Prettier"
WIP PR:

https://github.com/prettier/prettier/pull/1033

Reference to why we should use it:

https://www.youtube.com/watch?v=hkfBvpEfWdA

[2017-03-18 19:06] trueadm commented on #895
I'm a little confused, `componentWillReceiveProps` is a special case in that it specifically blocks default `setState` behaviour and thus should prevent a re-render in `queueStateChanges`. It does this by setting `component._blockRender` to be `true` until after `componentWillReceiveProps` has finished. `setState` should only change the current `component.state` object, I'm not sure how `instance.

[2017-03-18 19:12] vjeux commented on #949
Note that it's likely going to take at least a month before prettier typescript support is fully ready to be used in production.

[2017-03-18 19:51] trueadm commented on #949
@vjeux That's cool. I think Prettier is one of the coolest tools around BTW, keep up the good work :)

[2017-03-18 21:37] Havunen commented on #895
It would truly help if you guys @kanzelm3  @Omlet could setup minimal steps to reproduce. Maybe new repository?

[2017-03-18 21:40] kanzelm3 commented on #895
I will work on it tonight, I had to take a break, my daughter's birthday party was today. You are correct that blockRender is set on the component that `componentWillReceiveProps` is called on, the issue is that the action that's dispatched triggers setState on a parent component that does not have blockRender set, and the whole flow is synchronous.

[2017-03-18 21:50] trueadm commented on #895
@kanzelm3 Ah, I see. Maybe we should introduce a sort of global blockRender effect and put it on `Inferno.options` like we've done with others. This should force all components to behave this way? @longlho @Havunen if you get a chance to try this one, it might be a simple fix to this, it may not though.

[2017-03-18 21:58] kanzelm3 commented on #895
Yeah that's what I was thinking, I just wasn't sure how feasible adding a global blockRender would be and wasn't sure where to start.

[2017-03-18 22:00] kanzelm3 commented on #895
Because if blockRender was set globally then any actions dispatched from `componentWillReceiveProps` that result in parent components calling setState would then be queued instead of updating synchronously.

[2017-03-18 22:02] trueadm commented on #895
I'd add a `blockRender` to https://github.com/infernojs/inferno/blob/master/packages/inferno/src/core/options.ts:

Remove it as a property from the component and instead check from `options`.

This doesn't really have anything to do with sync vs async. In fact, in many ways this is an unintended side-effect that React should never have supported and in the future, with Fiber will likely go away in

[2017-03-19 14:55] longlho commented on #934
@AlgoTrader @moatra @ul can you guys try out `npm install inferno@canary` to see if the issue's still there?

[2017-03-19 15:00] longlho commented on #903
Can you guys try canary tag w/ `npm i inferno@canary` to see if the issue's fixed?

[2017-03-19 15:02] longlho commented on #713
Can you guys try canary tag w/ `npm i inferno@canary` to see if the issue's fixed?

[2017-03-19 15:02] longlho commented on #945
Can you guys try canary tag w/ `npm i inferno@canary` to see if the issue's fixed?

[2017-03-19 15:03] longlho commented on #883
oh you mean to have Inferno server render React component?

[2017-03-19 15:05] longlho commented on #832
not sure I understand the suggestion? Do you mean to have those methods available for components by default w/o using `TransitionGroup`?

[2017-03-19 15:06] longlho commented on #685
`lerna-changelog` is added

[2017-03-19 15:06] #685 closed

[2017-03-19 16:02] Ashot-KR commented on #945
I'm far from my computer right now. I can check it later.

[2017-03-19 16:12] Ashot-KR commented on #713
I'll check it later

[2017-03-19 17:13] trueadm commented on #832
@atwaves TransitionGroup isn't something that we ever wanted to natively support. There are far better ways of dealing with animation and as such, this is is why this library is no longer natively supported in React.

[2017-03-19 19:23] Ashot-KR commented on #713
@longlho i got error from `inferno-shared` on `canary`:
[code]
`inferno-shared/dist/index.js` does not export `default` field

[2017-03-19 19:41] timurgarif commented on #883
@longlho, yes, I'm asking about inferno-compat for SSR.

[2017-03-19 19:56] Ashot-KR commented on #713
@longlho #951 fixes it

[2017-03-19 20:02] longlho commented on #883
I don't think that's gonna happen. The solution I posted is essentially replacing all react create element with inferno one at the require cache level so you would always create inferno virtual node instead of the react one on the server side

[2017-03-19 22:14] LukeSheard commented on #949
@vjeux definitely looking forward to Prettier supporting TS!

[2017-03-19 22:26] timurgarif commented on #883
Unfortunately your solution is not working.

If  this is official position we can close the issue.

[2017-03-19 22:32] LukeSheard commented on #883
@timurgarif I don't think so, also because you'd have the dependency hurdle on the server side and there never will be ( in NPM at least https://github.com/npm/npm/issues/2943 ) unless you really want to write hacky solutions (https://docs.npmjs.com/files/package.json#local-paths) perhaps. Maybe we can revisit this in the future though.

[2017-03-19 22:32] #883 closed

[2017-03-19 22:34] LukeSheard commented on #906
@Havunen I've been trying to think of a way to do this, but how would we?

[2017-03-19 22:50] trueadm commented on #883
You can alias via Babel/Webpack/Browserify still? In fact, almost everyone who uses `inferno-server` to alias `react-dom/server` do this. On a side note: `react-dom/server` is going to go away in the future in favour of a clearer path without coupling, so this will be far easier for everyone to do.

[2017-03-19 22:51] trueadm commented on #906
@LukeSheard we could enforce callback `setState` for Inferno, not `inferno-compat` though. This is likely something that might happen in the future for React too given React Fiber is going to be async by default at some stage.

[2017-03-19 23:02] LukeSheard commented on #906
@trueadm Oh, I didn't think about inferno-compat. Certainly in Inferno it's easy todo by just extending the `_blockSetState` property. I've opened #952 for discussion further.

[2017-03-19 23:09] longlho commented on #821
`inferno-hyperscript 2.0.0 - 2.0.3` have been deprecated

[2017-03-19 23:09] #821 closed

[2017-03-19 23:15] dfrankland commented on #821
Sorry, I haven't been following up. I would get the older, higher semver versions when using update utilities like [`npm-check`](https://www.npmjs.com/package/npm-check).

Glad to see the older packages deprecated though! 👍

[2017-03-20 08:12] ul commented on #934
looks good to me

[2017-03-20 08:50] Ashot-KR commented on #713
@longlho new `canary` version works fine

[2017-03-20 10:55] Ashot-KR commented on #945
works on `canary`

[2017-03-21 00:32] moatra commented on #934
The @canary install seems to have fixed the `.default` on the package being undefined.

Now I'm running into another issue where extending `Component` from TypeScript seems to be causing `TypeError: class constructors must be invoked with new`.  I'll dig in to my tsconfig and see if I've got a setting flipped somewhere, but this is behavior that used to work with 1.2.2.   When I've got a better id

[2017-03-21 00:47] moatra opened #954 "[1.4.1] inferno-component is exported as a class"
**Observed Behaviour**

After running `npm install inferno-component@1.4.1`, the default behavior of a `require('inferno-component');` is to load `./node_modules/inferno-component/index.js`, which then requires `./node_modules/inferno-component/dist/index.js`, which exports `Component` as an [ES2015 class](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes).

**Expected Curr

[2017-03-21 02:22] alwaysonlinetxm commented on #874
I just removed these code in my project, and I wonder if these will be some side-effect ?

[2017-03-21 08:25] cbioley commented on #934
I'm having the same error as @moatra. A fresh `create-inferno-app` and `npm start` gives me a `Class constructor Component cannot be invoked without 'new'` now.

[2017-03-21 11:30] Havunen commented on #895
@trueadm I dont think that will work... imagine wouldn't that mean all renders are blocked accross the board while one component got props?

[2017-03-21 11:31] Havunen commented on #895
Btw we have faced same issue as described here in our company. Its also related to componentWillReceiveProps

[2017-03-21 11:36] Havunen commented on #895
I have verified this is not related to componentWillReceiveProps only but also componentWillUpdate

[2017-03-21 11:40] Havunen commented on #874
currentTarget won't be available in click events, no other change.

[2017-03-21 13:50] #954 closed

[2017-03-21 14:18] longlho commented on #934
Can you guys try canary tag w/ `npm i inferno@canary` to see if the issue's fixed?

[2017-03-21 14:49] cbioley commented on #934
@longlho Fresh canary solved the `Class constructor Component cannot be invoked without 'new'` 👍

[2017-03-21 19:16] #783 closed

[2017-03-21 20:36] cstoobes commented on #729
I upgraded to version 1.4.0 of inferno, inferno-component and inferno-devtools, and I no longer get the loading error! Devtools appears to work as expected.

[2017-03-21 21:43] Havunen commented on #895
I pushed few variations of test cases to dev to reproduce this issue.

[2017-03-21 21:45] Havunen commented on #945
Fixed in 1.4.2

[2017-03-21 21:45] #945 closed

[2017-03-21 21:46] Havunen commented on #934
Fixed in 1.4.2

[2017-03-21 21:46] #934 closed

[2017-03-21 22:05] #713 closed

[2017-03-21 22:06] #732 closed

[2017-03-22 00:47] moatra commented on #903
As of inferno@1.4.2, the `main` entry point appears to be working correctly.  However, for webpack builds for clientside bundling now pick up on the `browser` entry point. That field for `inferno-component` points to `dist/inferno-component.min.js`, which returns the Component UMD but does not have the `default` property set on the module.

[2017-03-22 03:10] pvnr0082t opened #958 "Which files need to be hosted in the latest version?"
Hi @trueadm @Havunen,
I'm a member of [cdnjs](https://github.com/cdnjs/cdnjs). I'd like to confirm if we only need to host `inferno.js` and `inferno.min.js` under `dist` in v1.4.1 as previous version or the other `.js` files under `dist` directory need to be hosted also?
Thank you.

https://github.com/cdnjs/cdnjs/pull/10887
https://github.com/cdnjs/cdnjs/issues/10886

[2017-03-22 03:13] longlho commented on #958
thanks for contacting us! We did a conversion to monorepo structure so I think the correct dist files are under `packages/*/dist/inferno-*.js` & `packages/*/dist/inferno-*.min.js`. For ex:

`packages/inferno/dist/inferno.js`
`packages/inferno/dist/inferno.min.js`
`packages/inferno-component/dist/inferno-component.js`
`packages/inferno-component/dist/inferno-component.min.js`

[2017-03-22 03:28] buzinas commented on #808
@trueadm

[2017-03-22 07:15] pvnr0082t commented on #958
Okay. So for `inferno`, I think we need `inferno/dist/inferno.js`and `inferno/dist/inferno.min.js` only. I think `inferno-component` should be hosted as another library in cdnjs. How do you think?

[2017-03-22 12:17] longlho commented on #958
Yup that'd work. Lmk what's needed to onboard them :)

[2017-03-22 17:30] LukeSheard commented on #958
This should be a little more complicated actually. @longlho since you moved us to Monorepo we've lost all packages apart from Inferno. Since we used to have all the dist files contained in Inferno CDNjs would pick up all of them.

Now I guess we need to add all the packages to CDN network since they're split out @pvnr0082t?

[2017-03-22 18:14] hguillermo commented on #881
@AlgoTrader How did you solve the problem?

[2017-03-22 19:13] AlgoTrader commented on #881
I call static method fetchData of the matched route and when the result promise is resolved, all the data is available for render. I supply those fetch data method all the params and route path. This method is called only on server side. Client side gets dehydrated state in html. Quite a lot of manual work, but it at least works

[2017-03-22 19:23] hguillermo commented on #881
@AlgoTrader I am doing something similar. For now I think it is the best option. Thanks for your response.

[2017-03-22 20:34] hguillermo commented on #881
@AlgoTrader I have this:
[code]
Then I use the matched property to get all the static methods to get all the async data for all the matched components. How do you pass the data for the SSR part?

I guess you have something like this:
[code]
Would you mind sharing that part? I am hacking the data results into the props to pass the async data but I am sure it is a better way.

[2017-03-22 21:00] Havunen commented on #903
yeah I think this is also still wrong. When using webpack we should import dist/index.js  the non minified or bundled es5 code, and webpack will handle the requires. Then those full bundles `(js/min.js)` we should send into CDNjs

Anyway it "works" now, so I think this fix is not critical and can wait for 1.5

[2017-03-22 21:01] TrySound opened #960 "browser field is webpack default field"
**Observed Behaviour**

webpack loads by default ['browser', 'module', 'main']

So since this release
https://github.com/infernojs/inferno/commit/5f5d59016d90596889f481c60d2bd3b5ea97c3fa

I got useless runtime errors
```Uncaught Error: Inferno Error: a runtime error occured! Use Inferno in development environment to find the error.```

**Expected Current Behaviour**

Maybe not minified version?

*

[2017-03-22 21:03] TrySound commented on #903
@moatra Does it work with webpack-dev-server? I got `'fs' and 'net' are not resolved`

[2017-03-22 21:05] TrySound commented on #903
@Havunen I guess it's critical because of webpack-dev-server :)

[2017-03-22 21:29] Havunen commented on #903
@TrySound strange. We are using Webpack Dev server with Inferno also at work, but didn't notice any issue

[2017-03-22 21:32] TrySound commented on #903
This without `browser` field
[code]

[2017-03-22 22:11] hguillermo opened #961 "Question: How to pass props to RouterContext?"
Is it possible to pass props for the RouterContext for SSR?
[code]

This way I can inject data to the components.  Ideas?

[2017-03-22 22:20] LukeSheard commented on #961
What props would you pass through to the RouterContext component? I'm a little confused by your question.

[2017-03-22 22:31] samjbmason commented on #960
Yeah Im also seeing this. It is definitely using the minified production build

[2017-03-22 22:32] hguillermo commented on #961
@LukeSheard My bad I wasn't clear. I am trying to do a full SSR with async data. I used "match" to get all the matched components (const renderProps = match(routes, req.originalUrl);). In each component I have a static method to pull data. After those promises are fulfilled I am using renderToString to generate the page. What I was hoping is to pass a prop to RouterContext and have that prop avail

[2017-03-22 22:43] LukeSheard commented on #961
@hguillermo You can get the component tree off the `matched` prop on the renderProps. You could then reduce the child with something like this to reduce the component tree to get the promises.

[code]

[2017-03-22 22:52] hguillermo commented on #961
That makes totally sense and I actually did something similar. I was able to run those promises and have the data ready. Later I have to run renderToString to render the page and there is when I have the problem. I am not clear how to make that data available in the components.  I am using inferno-router and maybe I am missing something?

[2017-03-23 01:02] viveleroi commented on #874
I'm seeing this with PhantomJS 2.1.1 on macOS Sierra.

This error triggers when my test triggers a `button` click: `$node.find('button')[0].click();`

`TypeError: Attempting to configurable attribute of unconfigurable property.`

Using Karma, Mocha, Chai, and the related plugins to run the test.

[2017-03-23 03:14] pvnr0082t commented on #958
@LukeSheard Can the files under `packages` compatible with the browser? We host the files which can directly use on the browser, like files under `dist` folder published on NPM.

[2017-03-23 04:50] AlgoTrader commented on #881
I use Provider (from either inferno-mobx or inferno-redux) to inject fetched data to components to render.

In React, match returns components with fetched data (async match). In Inferno, match is synchronous and all the fetching need to be done manually before renderToString.

[2017-03-23 05:04] AlgoTrader commented on #961
The simplest way to inject data using Provider. Components get data using connect decorator or connect function.

Proveder shoud wrap the root component, usually it's RouterContext for SSR

[2017-03-23 14:24] longlho commented on #903
that's bc of `debug` and modules that export non-browser-compatible entry point in `main`

[2017-03-23 15:06] hguillermo commented on #961
@AlgoTrader Great! I just did it and it worked great! Thanks man!

[2017-03-23 15:08] hguillermo commented on #961
Also thanks @LukeSheard! Your suggestions were excellent.

[2017-03-23 15:08] #961 closed

[2017-03-23 15:10] hguillermo commented on #881
I wrote a super basic Provider because I don't really need mobx or redux right now for this project.  Thanks for your help @AlgoTrader. You pointed me in the right direction.

[2017-03-23 15:34] Havunen commented on #903
we have one more option, add webpack entry point ... :-)

[2017-03-23 16:38] m242 opened #962 "Inferno router prefers wildcard routes incorrectly"
**Observed Behaviour**

Inferno is selecting a wildcard route even when another route is a better match.

    <Router history={ browserHistory }>
        <Route path="/" component={ Home }/>
        <Route path="/about" component={ Site }>
            <Route path="/features" component={ Features }/>
        </Route>
        <Route path="/:artist" component={ Artist }>
            <Route path="/:ur

[2017-03-23 16:43] m242 commented on #962
Note that this:

    <Route path="/about" component={ Site }/>
    <Route path="/about/features" component={ Features}/>

Renders only the Features component, and not the Site component.

[2017-03-23 17:04] Havunen commented on #962
ping @LukeSheard

[2017-03-23 17:18] m242 commented on #962
Adding to the above example - when going to the uri `/about` the Artist component renders, not the Site component.

[2017-03-23 17:34] m242 commented on #962
Gist--

https://gist.github.com/m242/cbfd7b9db5fd2be18fdcdbc6dfe95de1

[2017-03-23 21:35] LukeSheard commented on #962
Yeah, I think this is just some bug in the selection code in `match`. I'll have a look at it tomorrow.

[2017-03-23 21:48] Ashot-KR opened #963 "Inferno autoFocus behaviour differs from React"
**Observed Behaviour**

**React** – https://jsfiddle.net/69z2wepo/74482/
By clicking on "Show another input" button new input element with `autoFocus` prop will be created and focus will be set in this newly created input.
**Inferno** – https://jsfiddle.net/wynsuuyo/1/
Exactly the same component, but newly created input wouldn't get focus

**Expected Current Behaviour**

I'm not sure it's a bug, b

[2017-03-24 13:57] longlho commented on #960
Can you guys try canary tag w/ `npm i inferno@canary` to see if the issue's fixed?

[2017-03-24 14:58] AlgoTrader opened #965 "inferno-compat packaging issue"
inferno-compat is compatibility layer for react-depended stuff. When I load it like this:

`<script src="https://unpkg.com/inferno-compat@1.4.2/dist/inferno-compat.js"><script>`

It Is expected the script to export React/ReactDOM namespaces. It exports react stuff in Inferno namespace. As a result it cannot be used in codepen, jsfiddle, etc.

All the react libs expect stuff to be in window.React

[2017-03-24 18:41] hguillermo commented on #869
I am going to close this because #881 is more precise

[2017-03-24 18:41] #869 closed

[2017-03-24 18:55] Havunen commented on #958
browser compatible files should be located in `packages/"packagename"/dist/"packagename".js` and `min.js`

[2017-03-24 21:18] hguillermo commented on #914
@Havunen I am closing this because I found out the problem was the style in my code. I had a background image style with an undefined value that was doing a server request.
Thanks for your help!

[2017-03-24 21:18] #914 closed

[2017-03-24 22:16] Havunen commented on #930
I will look into this tomorrow

[2017-03-25 09:19] Havunen commented on #898
Good news, this will be fixed in next 1.5 release :)

note: I had to add few polyfills to make it work in IE11

[2017-03-25 10:33] Havunen commented on #965
We should probably make it export both

[2017-03-25 10:35] Havunen commented on #895
Good news this will be fixed in 1.5

[2017-03-25 10:42] Havunen opened #967 "Improve documentation for setState vs setStateSync"
basically: setState sync will go async when called multiple times while setStateSync does this synchronously

setStateSync can fall into infinite loop while setState does not
calling setStateSync in parent component from childrens lifecycle method can cause incorrect render / errors.

[2017-03-25 10:46] AlgoTrader opened #968 "Inferno-compat 1.4.2 is broken, no PropTypes defined."
inferno-compat 1.4.2:
[code]

inferno-compat 1.4.0:

[code]

[2017-03-25 10:49] AlgoTrader commented on #965
Exporting both seems to be OK, provided there are no conflicts with own Inferno names.

[2017-03-25 10:58] Havunen commented on #874
Lets drop this property, if it is absolutely needed for somebody he/she can use `onclick` instead of `onClick`. Also recommended way to use click events is to do `linkEvent` which makes this property useless.

[2017-03-25 11:01] AlgoTrader commented on #968
I have found the reason. inferno-compat expect `proptypes` to export default property. `proptypes` does not export in "new" es6 import but exports in "old" node style:

[code]

[2017-03-25 11:21] AlgoTrader commented on #968
proptypes npm module was updated some two weeks ago and it seems they are exporting in slightly different manner. I would suggest make a 'fallback' like this:

[code]

[2017-03-25 11:27] Havunen commented on #968
lets do this same way preact does. its implemented for it anyway.

[2017-03-25 11:29] Havunen commented on #965
We want Inferno-compat to "mask" inferno if they are both used.

[2017-03-25 12:00] kanzelm3 commented on #895
@Havunen that's great news, looking forward to it and sorry I couldn't help more.

[2017-03-25 12:02] Havunen commented on #799
After 1.5 This is no longer issue. "on" check is done only for htmlNodes runtime.

[2017-03-25 12:02] AlgoTrader commented on #965
I use native Inferno whenever possible and inferno-compat for external deps. "masking" Inferno would be very bad for me. It will broken all the my code.

I would oppose to masking Inferno when using inferno-compat

[2017-03-25 12:02] Havunen commented on #808
This will be fixed in 1.5 as props will contain events also, no normalization is needed.

[2017-03-25 12:03] Havunen commented on #738
We need tests for this before launching Inferno 1.5

[2017-03-25 12:06] Havunen commented on #965
Yeah with both I meant `inferno-compat` + `inferno`

[2017-03-25 12:18] AlgoTrader commented on #968
Well, I think, when some external components are used, it would be great to have some tests that verify everything is OK. I think the bug is rather build related. `import PropTypes from 'proptypes'` is transpiled into `var _proptypes = require('proptypes').default` when it should be 'var _proptypes = require('proptypes').'

Is there anything I can help with?

[2017-03-25 12:19] Havunen commented on #968
propTypes should be inlined into bundle not required, thats why it fails

[2017-03-25 12:21] AlgoTrader commented on #968
I would accept any solution that works. Thanks guys for excellent work.

[2017-03-25 12:40] Havunen commented on #927
This will be fixed in Inferno 1.5
note that IE11 still wont render color picker, because that browser doesn't support HTML5 color picker, but Inferno will now set that attribute correctly without failing.

[2017-03-25 12:47] Havunen commented on #864
I just went through this thread from start again and now I understand the issue. I will look into it now.

[2017-03-25 13:30] Havunen commented on #864
first of the issues here is that Inferno uses native html attributes and htmlFor doesn't mean anything for it. I will add this transformation into babel-plugin so htmlFor becomes for

[2017-03-25 15:33] Havunen commented on #864
onChange will now fire for radio inputs... there was bug in inferno-compat package...

[2017-03-25 18:47] Havunen commented on #738
Added manual tests (examples/compat) and found few issues where cursor jumped when using setState. Those will be fixed in next release 1.5

[2017-03-26 12:05] pvnr0082t commented on #958
Okay, it seems that `dist/"packagename".js` only published on NPM not on GitHub. We will fetch files from NPM.

[2017-03-26 13:20] Havunen commented on #965
Can you do simply `window.React = window.Inferno;` I think this is non trivial fix because this needs to work in nodeJS environments also.

[2017-03-26 14:50] Havunen opened #970 "Finalize fixture tests"
In `dev` branch we now have `fixture` folder that contains tests for different bundle systems. These tests have been ported from React to test Inferno compatibility. I have finished tests for browserify

Code here: https://github.com/infernojs/inferno/tree/dev/fixtures/packaging/browserify

but all others are still in progress. Finalize other bundling tests and add rollup there.

Objective is to t

[2017-03-26 15:01] Havunen commented on #930
I think this is working as expected? What is exactly the issue. I added two tests for hyperscript and both work fine.

[2017-03-26 15:03] Havunen commented on #930
Code in hyperScript package that handles this:
https://github.com/infernojs/inferno/blob/dev/packages/inferno-hyperscript/src/index.ts#L74-L78
test cases:
https://github.com/infernojs/inferno/commit/e0f77d36c2ed784c3fa05edb4a57e8676b5fb57e

[2017-03-26 15:28] Havunen commented on #903
somebody add test cases for this

[2017-03-26 15:31] Havunen commented on #903
can you guys try out if latest canary works for you  `npm i inferno@canary`

[2017-03-26 15:52] AlgoTrader commented on #965
Farewell jsfiddle, codepen, etc. That's the serious reason. Pre-bundled packages are required for demo stuff, otherwise they are useless.

[2017-03-26 15:56] Havunen commented on #965
Can you send PR then please? I checked PReact compatible and I think we are both doing it same way? Why assigning to window wont work for you?

[2017-03-26 16:02] AlgoTrader commented on #965
I try to make a codepen demo. It is here http://codepen.io/AntonZ/pen/VpreoG

I see no other reasons to use prebundled inferno/inferno-compat builds. I try to show some people how Inferno can be used as React drop-in. But it cannot now.

[2017-03-26 17:03] Havunen commented on #965
Okay I understand. Let me check if I can fix this

[2017-03-26 17:16] Havunen commented on #965
What we can do is that if React is not defined we change React and ReactDOM to point Inferno. I know many people mix inferno and React within their applications so we cannot just change it if both are there,

[2017-03-26 18:09] AlgoTrader commented on #965
Ok, React and ReactDOM pointing to Inferno are excellent. I have found a codepen workaround:

[code]

[2017-03-26 18:10] AlgoTrader commented on #965
If people use React and Inferno they are most probably use webpack.

[2017-03-26 19:12] ZGF4 commented on #903
The latest canary has fixed the issue for me :+1:

[2017-03-26 19:24] AlgoTrader commented on #963
autofocus works only on loading document. React's autoFocus is very different from html attribute autofocus. You may see, React strip autofocus attribute from DOM nodes. React use it as a hint for js only.

[2017-03-27 05:32] moatra commented on #903
Installed `inferno@1.5.0-alpha.2f6639f8`:

Observed the following for `var ic = require('inferno-component');`:
* `ic` is an es5-friendly function for webpack builds with `target='node'`✔️
* `ic` is an es5-friendly function for webpack builds with `target='web'`✔️
* `ic.default` is defined and set to the same value as `ic` for webpack builds with `target='node'`✔️
* `ic.default` is defined and set

[2017-03-27 15:26] joshburgess commented on #930
I'll try it again when I get a chance, but it wasn't working for me when I made this. The lifecycle events were just coming through as props and never getting assigned to the refs object.... but I was also using hyperscript-helpers, not standard hyperscript with the h() calls.

[2017-03-27 19:37] trueadm commented on #930
@joshburgess you're using `hyperscript-helpers`? Does that even support Inferno?

[2017-03-27 19:59] Havunen commented on #968
Closing as 1.5 has been released! 👍

[2017-03-27 19:59] #968 closed

[2017-03-27 20:00] Havunen commented on #965
Closing as 1.5 has been released! 👍

[2017-03-27 20:00] #965 closed

[2017-03-27 20:00] Havunen commented on #927
Closing as 1.5 has been released! 👍

[2017-03-27 20:00] #927 closed

[2017-03-27 20:00] Havunen commented on #898
Closing as 1.5 has been released! 👍

[2017-03-27 20:00] #898 closed

[2017-03-27 20:00] Havunen commented on #895
Closing as 1.5 has been released! 👍

[2017-03-27 20:00] #895 closed

[2017-03-27 20:00] Havunen commented on #874
Closing as 1.5 has been released! 👍

[2017-03-27 20:00] Havunen commented on #864
Closing as 1.5 has been released! 👍

[2017-03-27 20:00] #864 closed

[2017-03-27 20:00] Havunen commented on #819
Closing as 1.5 has been released! 👍

[2017-03-27 20:00] #819 closed

[2017-03-27 20:00] Havunen commented on #808
Closing as 1.5 has been released! 👍

[2017-03-27 20:00] #808 closed

[2017-03-27 20:00] Havunen commented on #799
Closing as 1.5 has been released! 👍

[2017-03-27 20:00] #799 closed

[2017-03-27 20:00] Havunen commented on #738
Closing as 1.5 has been released! 👍

[2017-03-27 20:00] #738 closed

[2017-03-27 20:07] zerkalica opened #972 "Exception. The input element's type ('range') does not support selection"
Exception, if changing range input:

Uncaught DOMException: Failed to read the 'selectionStart' property from 'HTMLInputElement': The input element's type ('range') does not support selection.
    at Object.onTextInputChange

Code:

[code]

In [InputWrapper](https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/wrappers/InputWrapper.ts#L22)

[code]

Inferno version: 1.5.2 from

[2017-03-27 20:15] viveleroi commented on #874
Thanks, the update solves the error, but it seems like at least in PhantomJS, triggering a click on an element via jQuery fails to fire a click handler on a component.

In my test I have:

`$node.find('> .title').click();`

In my component I have:

`return <a onClick={this.onClick.bind(this)} />;`

The test runs, the click() call is executed, but the `onClick` listener is never executed. I know fr

[2017-03-27 20:18] Havunen commented on #972
woah, that was bad code there... those were debugging variables... :(  lets hotfix this 1.5.3 inc

[2017-03-27 20:21] trueadm commented on #874
@viveleroi has the `<a>` been appended to the document or is it detached?

[2017-03-27 20:21] Havunen commented on #874
make sure you have attached the node to document where you rendered your content

[2017-03-27 20:21] leeoniya commented on #972
@Havunen do your regression tests watch for console logs/errors/exceptions? seems like something that can be caught automatically if the coverage is already there.

[2017-03-27 20:23] Havunen commented on #972
yeah I all tests are passing, I will ad one more for input type 'range'

[2017-03-27 20:24] viveleroi commented on #874
Yes, my tests create and append a DIV to the document.body and the library I'm testing renders to that element.

[2017-03-27 20:25] trueadm commented on #874
@viveleroi can you do `document.querySelector('.title').click()`?

[2017-03-27 20:28] viveleroi commented on #874
Good thought, but no go. I verified `document.querySelector('.title')` was giving me a valid element, but `onClick` is still not triggering.

[2017-03-27 20:31] trueadm commented on #874
@viveleroi can you make a test repo? This sounds like a bug in Phantom.

[2017-03-27 20:34] viveleroi commented on #874
I'll try, not sure if I'll have to reproduce this in another repo. You're probably right, PhantomJS has a track record of crap like this but it presents an issue with my project.

[2017-03-27 20:35] trueadm commented on #874
@viveleroi Personally, I'd never touch Phantom again after the years of pain I had battling it. I just scrapped it and used JSDOM in the end. You could also try headless Chrome? Don't let your tooling slow you down if you can avoid it.

[2017-03-27 20:39] leeoniya commented on #874
no reason to use Phantom these days [1], masochism aside.

[1] https://github.com/segmentio/nightmare

[2017-03-27 20:56] viveleroi commented on #874
I'm definitely am eager to throw out Phantom so thanks for the recommendations. Using the Chrome launcher for karma, the tests pass only when I use `document.querySelector('.title').click()` and not the jQuery version. I don't mind removing jQuery from my tests, I'm only using it for a few things I can easily do natively, but figured you should know.

[2017-03-27 20:59] Havunen commented on #972
1.5.3 has been released. Sorry for this :(

[2017-03-27 20:59] #972 closed

[2017-03-27 21:22] joshburgess commented on #930
@trueadm Yes, I am. I assumed it wouldn't matter. I believe that it is hyperscript implementation agnostic. You basically just pass in your implementation of `h` to it and then get out the individual html element creation functions you need. At least, this is all I did when I was using Snabbdom instead of Inferno.

Here's an example:

[code]

Perhaps, I'm wrong and it works for basic vNode creatio

[2017-03-27 21:31] Havunen commented on #930
If you can add hyperscript-helpers please do. Feel free to send PR

[2017-03-27 21:46] #404 closed

[2017-03-27 21:46] #544 closed

[2017-03-27 22:03] trueadm commented on #874
@viveleroi Glad you made some progress tonight :)

[2017-03-27 22:34] unsafecode opened #973 "Error: Inferno Error: Only one child is allowed within the `Provider` component"
## Issue Template

**Observed Behaviour**

After upgrading from `v1.4.2` to `v1.5.3` I get this error `Error: Inferno Error: Only one child is allowed within the Provider component`. But my app init stayed the same as before:

[code]

**Expected Current Behaviour**

Inferno should behave as before. Besides, what's wrong with this code now?

**Inferno Metadata**

Windows 10 / Chrome 56 / node 6.1.0

[2017-03-27 23:40] trueadm commented on #973
@unsafecode can you output the compiled JS code? It might be to do with recent changes in the Babel compiler rather than Inferno itself.

[2017-03-27 23:50] unsafecode commented on #973
@trueadm Here it is:
https://gist.github.com/unsafecode/4e39d706b367838eefcf943ab72e155c

[2017-03-28 02:51] ggpp224 opened #974 "can't stopPropagation"
inferno@1.5.3

`<input
                type="text"
                onClick={(evt) =>{
                    evt.stopPropagation();
                }}
            />
`
then

`window.addEventListener('click', this.onBodyClick);`

i click the input, the `onBodyClick` still exec.

if `onClick` was written `onclick`, all is good.

[2017-03-28 07:51] kirill-kruchkov commented on #973
@unsafecode, had the same, updating babel-plugin-inferno to 3.1.0 helped.

[2017-03-28 08:16] unsafecode commented on #973
@kirill-kruchkov I had this app created via `create-inferno-app`, so I don't have a direct dependency to `babel-plugin-inferno`. Should I add it manually, in order to override it? Will it work or does create-inferno-app have a locked dep to it?

[2017-03-28 09:43] unsafecode commented on #973
@kirill-kruchkov I can confirm `inferno-scripts` is locker to `babel-plugin-inferno@^2.0.0`, so installing it directly or updating it won't work.

https://github.com/infernojs/create-inferno-app/blob/master/packages/inferno-scripts/package.json#L31

[2017-03-28 10:07] kirill-kruchkov commented on #973
@unsafecode I see, maybe we should wait for new create-inferno-app or suggest a PR. Sorry, I haven't time for this right now.

[2017-03-28 10:47] AlgoTrader opened #976 "Inferno server rendering and key attribute [inferno-server]"
I have troubles with key attribute when first render is server side.
The first render on server strip all the key attributes when generate html for client.
The second render on the client see no key attributes and try to patch components generated by server no matter that component key is different.

It there any way to embed `key` information into html generated by server-side? Server generate co

[2017-03-28 10:57] AlgoTrader commented on #976
I have found a workaround. I have to use different root tag names for such components.

My problem is `Inferno hydration: Server-side markup doesn't match client-side markup or Initial render target is not empty`. Yep, server renders mobile-optimized version when client may render either mobile or desktop version. Yes, this what I have to do, I cannot render identical html on client and server-sid

[2017-03-28 11:23] AlgoTrader commented on #976
Another idiotic workaround:

[code]

I just erase server markup before rendering client-side. There is a third way - render both mobile and desktop component versions and switch them using display:none. In the case, I can achieve identical SSR and client markup

[2017-03-28 15:34] hguillermo opened #977 "Improvement: Inferno-router should support routes with no component (similar to react-router)"
I have these routes:
[code]
I needed to add ``component={ Empty }`` because inferno-router wasn't rendering the child components of ``/Channels`` route. This is a migration from react and react-router was rendering it correctly without the ``Empty`` component.

Basically this is what I did in the ``Empty`` component to make it work:
[code]

It would be really nice if you guys can make it work simi

[2017-03-28 15:37] hguillermo commented on #976
@AlgoTrader I didn't have that problem yet but I will keep my eyes open and let you know.

[2017-03-28 16:59] mattatwork26 opened #978 "Props not available in functional components. (JSFiddle)"
Functional component props are being assigned to className instead of props in 1.5.3.

https://jsfiddle.net/nbnp8pou/

![inferno-functional-component-1 5 3](https://cloud.githubusercontent.com/assets/15381992/24417456/1d89f3b0-13ae-11e7-9ff6-6f08f74b404a.png)

Have I missed something in the release notes?

[2017-03-28 17:18] Havunen commented on #978
Its referencing to old createVNode API somewhere... I'm not aware how JSFiddle integration works ping @trueadm

[2017-03-28 18:07] mattatwork26 commented on #978
This issue is occuring in my dev environment also not just JSFiddle.

[2017-03-28 18:57] Havunen commented on #978
Make sure you have latest babel-plugin installed old version wont work with new Inferno.

You need babel-plugin v3+
https://github.com/infernojs/babel-plugin-inferno/releases/tag/3.0.0

[2017-03-28 18:59] Havunen commented on #974
Fixed and released 1.5.4

[2017-03-28 18:59] Havunen commented on #974
Keep in mind that if you add window listener before synthetic event there is no way to stop propagation because its called first.

[2017-03-28 20:30] MichaelRando commented on #874
I would petition to have event.currentTarget be a reference to the node that the event handler was attached to. The only way I would ever be able use inferno is to swap it back and forth with React, and in React I believe currentTarget is normal/necessary for use. (And there is no linkEvent.)
for example:
[code]
So there's no bind() per element, and currentTarget and currentTarget.dataset work tog

[2017-03-28 20:35] korbin commented on #874
This is a concern of ours re: switching between React and `inferno-compat` as well- makes it a little difficult to  plug and play.

[2017-03-28 21:04] Havunen commented on #978
Fixed JS Fiddle integration. https://jsfiddle.net/ovnewgdw/

Closing.

[2017-03-28 21:04] #978 closed

[2017-03-29 10:01] afgomez commented on #898
Thanks a lot!

[2017-03-29 11:46] ZGF4 opened #979 "onClick not firing"
Using Inferno 1.5.4
onClick is not firing.  I've tested onMouseUp and it works.  Digging deeper but not too sure what's up yet

[2017-03-29 11:49] Havunen commented on #979
what kind of type element? just div?

[2017-03-29 12:07] ZGF4 commented on #979
Yeah testing with a plain `div`

[2017-03-29 12:11] Havunen commented on #979
There is no longer `events` object

[2017-03-29 12:12] ZGF4 commented on #979
Hm so I changed it to a simple `onClick={console.log}` and it seems to be triggering multiple times.

[2017-03-29 12:14] ZGF4 commented on #979
[code]
This prints out the onClick callback once and then undefined a few times

[2017-03-29 12:48] ZGF4 commented on #979
Okay narrowed it down. Seems if the parent container has an `onClick` prop, even if it's set to null, none of the children seem to trigger.  Is it possibly related to #826

[2017-03-29 14:13] Havunen commented on #979
sounds like a bug

[2017-03-29 15:07] Havunen commented on #979
I cannot reproduce this, I need more details. Are you using JSX or createElement API?

[2017-03-29 16:49] #960 closed

[2017-03-29 16:50] Havunen commented on #903
I think this is now fixed. Closing. Please comment or file new issue if you guys still have problems with this.

[2017-03-29 16:50] #903 closed

[2017-03-29 20:56] Darguelles opened #981 "Error "inferno-router" requires a history prop passed"
I have the prop specified in my routes constant like this :
const browserHistory = createBrowserHistory();

const routes = (
    Router history={ browserHistory }
        Route component={ App }
            IndexRoute component={ Home }

        Route
    Router
)

but the project still doesnt work. In my pc where i created the project it works perfectly, but when other teammate clones the proy, t

[2017-03-29 23:57] jeffsilva commented on #981
Same here.
After upgrading to 1.5.5.
I think 1.5.5 also broke inferno-mobx Provider, but i will probably open another issue for that after i do some investigations.
npm 3.10.10
node v6.10.0

[2017-03-30 00:37] Darguelles commented on #981
i've updated all the inferno dependencies and the error is fixed now, even i think that was a dirty solution, here's my last package json if someone need it:
{
  "name": "eb-vendor-web",
  "version": "0.1.0",
  "private": true,
  "devDependencies": {
    "inferno-scripts": "2.0.0"
  },
  "dependencies": {
    "babel-plugin-inferno": "^3.1.0",
    "bootstrap": "^3.3.7",
    "history": "^4.6.1",

[2017-03-30 01:59] jeffsilva commented on #981
i don't know if it's related but it's working for me now too after upgrading babel-plugin-inferno to 3.1.0.

[2017-03-30 05:26] Havunen commented on #981
Yes it is related babel plugin v3+ is needed for JSX to work with Inferno 1.5

[2017-03-30 05:42] Darguelles commented on #981
@Havunen , thanks for all the support.

[2017-03-30 05:42] #981 closed

[2017-03-30 14:46] zerkalica opened #983 "Probably bug: OnClick called twice in collection of radios"
Inferno 1.5.5

#OnClick called twice in collection of radios

[code]

Check https://jsfiddle.net/8pfu4739/3/

If i add e.preventDefault() and e.stopPropagation() component will never rerender:

https://jsfiddle.net/8pfu4739/4/

For checkboxes - same thing. 1.3.0-rc.10 works fine, probably appeared in 1.5.1

[2017-03-30 17:21] dillonkrug opened #984 "[Resolved] Inferno devtools "waiting for roots to load" issue"
I'm not sure where to put this, but hopefully it will help others who may be running into the same problem.

My issue was that devtools always showed "waiting for roots to load" no matter what I did.

As it turned out, this was happening because webpack was bundling two complete copies of inferno.  The devtools were "listening" to one, while the other copy was the one actually rendering my app.

T

[2017-03-30 17:33] Havunen commented on #984
Can you make sample repository to make this duplication happen. I have seen it also @longlho could take a look and fix it if you can reproduce it somewhere.

[2017-03-30 19:59] Havunen commented on #983
Hi, just released 1.5.6 and this issue is now fixed.

[2017-03-30 19:59] #983 closed

[2017-03-30 20:36] zerkalica commented on #983
Great, thank you

[2017-03-31 01:35] luosong opened #985 "throwError('string "refs" are not supported in Inferno 1.0. Use callback "refs" instead.')"
all package updated 1.5.6.
when rollback 1.5.5, no error throw.

I guess vnode.ref was breaking changed？

[2017-03-31 02:43] mjw56 commented on #521
hey, in case anyone stumbled here looking to get inferno working with rollup and typescript, I have a really simple setup started here: https://github.com/mjw56/inferno-ts-rollup

improvements are welcome! maybe we could have some sort of a semi-official example somewhere?

[2017-03-31 05:16] Havunen commented on #985
This sounds like you are using old API. Are you using JSX, did you update babel-plugin-inferno to v3+ ?

[2017-03-31 06:30] luosong commented on #985
We not use babel-plugin-inferno. We use typescript and ts-loader, so not use babel.
I confirm again. 1.5.3 works correctly. but 1.5.5 not works.

[2017-03-31 06:38] LexRiver opened #987 "infernojs.org bug"
open https://infernojs.org/
go to any page like "Docs"
hit F5 to refresh
got "Not found"

[2017-03-31 06:50] Havunen commented on #987
wow.... :(

[2017-03-31 07:19] zerkalica commented on #983
1.5.6, With e.preventDefault() and e.stopPropagation() component still not rerender:

https://jsfiddle.net/8pfu4739/5/

It's standard behavior?

[2017-03-31 09:00] Havunen commented on #983
yeah because you did `preventDefault`  so you prevented changing it.

[2017-03-31 10:34] zerkalica commented on #983
Can you explain or provide some example, where it feature used? I expected that by default changing state - always rerenders something, why not?

[2017-03-31 10:41] 4leem opened #988 "Update changelog"
@longlho Could you please update the change log, since we have bumped up from 1.4.2 to 1.5.6(as of now) ?

[2017-03-31 12:20] Havunen commented on #988
https://github.com/infernojs/inferno/releases

[2017-03-31 12:30] longlho commented on #988
CHANGELOG is updated, althou commits w/o PR wasn't picked up by`lerna-changelog` so we'd have to take a look

[2017-03-31 12:30] #988 closed

[2017-03-31 12:36] Havunen commented on #983
its default browser behavior. with quick debug it looks like it indeed renders first one as checked and second as not checked but nothing happens? Shall we create new bug for this?

[2017-03-31 15:58] zerkalica opened #989 "Component A inside component A: renders only parent"
Same component inside with different props doesn't render.

[code]

shows 1

https://jsfiddle.net/L7wbu3o1/

[2017-03-31 16:09] zerkalica commented on #989
Sorry, my mistake

[2017-03-31 16:09] #989 closed

[2017-04-01 06:24] Havunen commented on #985
Can you give more info, what packages are you using. Is inferno-compat included? What code is causing this exception?

[2017-04-01 07:05] Havunen commented on #906
Original task here is implemented. Closing.

[2017-04-01 07:05] #906 closed

[2017-04-01 09:00] AlgoTrader opened #992 "[inferno-router] match function problems"
I try to upgrade from 1.3.0rc8 to 1.5.6 and experience serious problems with SSR. match function seems to be broken.

1) match() for any route that is not '/' just returns `undefined`
[code]
There is serious flaw in matchRoutes function. It returns object only in specific cases, the default path implicitly returns undefined as there is no return statement!

2) match() for '/' match the root route

[2017-04-01 09:57] zerkalica opened #993 "Some map optimization hint"
I  have some questions about [rendering.ts](https://github.com/infernojs/inferno/blob/master/packages/inferno/src/DOM/rendering.ts#L27)

[code]

Do you sure, that bench https://esbench.com/bench/5802a691330ab09900a1a2da is correct? How match iterations per test do esbench?

If lookup array is small < 100 items, optimisation works, but more - not.

Look at my example https://esbench.com/bench/58df7

[2017-04-01 10:14] AlgoTrader commented on #992
Well, it seems the VNode API changes caused match function to stop to work.
match expects root route children to be in `route.props.children` but they are now in `route.className.children`.

match function is currently not covered by any unit tests.  Don't you mind if you add a match unit tests? It seems, we need to improve tests coverage to make Inferno more stable product.

[2017-04-01 12:14] trueadm commented on #993
@zerkalica No one should be mounting 10s, let alone 100s of roots in an app. A typical app will generally have 1 root.