[2018-09-10 15:57] Havunen commented on #1385
@chrkulbe I got it now, its bug indeed.

[2018-09-10 16:08] Havunen commented on #1385
Snapshot rendering seems to be so broken in many ways... I will write some tests to it and fix it.

[2018-09-10 19:51] Havunen commented on #1385
Fixed in 5.6.1

[2018-09-10 19:51] #1385 closed

[2018-09-11 20:37] Havunen commented on #1336
I think we could add this option to v6. Maybe its enough If custom comparator logic is only used in development build? The thing is this logic needs to go into patch routine which is called for every vNode update.

[code]

Then return value would be isDifferent? True -> replaces component with new one and false would do update.

[2018-09-11 20:39] Havunen commented on #1333
Please re-open If you can reproduce this somewhere

[2018-09-11 20:39] #1333 closed

[2018-09-11 22:26] theKashey commented on #1336
I would say - that's the best way. RHL is dev time tool, and shall not slow down anything in production, and element comparison is a quite hot path.

[2018-09-12 02:41] sprlwrksAprilmintacpineda commented on #1384
@Havunen Now I am in the slack channel.

[2018-09-14 04:33] dlants opened #1386 "support for pointer events"
Building apps that work across desktop & touch environments is pretty common, and pointer events make the task of handling touch/mouse input across devices much saner!

It would be very nice to be able to use `onPointerDown`, etc... in inferno.

Looks like React got them in 16.4 https://reactjs.org/blog/2018/05/23/react-v-16-4.html

Also worth noting, since Safari doesn't support pointer-events, i

[2018-09-14 17:41] dlants commented on #1386
Looks like React got them in 16.4 https://reactjs.org/blog/2018/05/23/react-v-16-4.html

[2018-09-16 05:45] aprilmintacpineda opened #1387 "What static methods do inferno have?"
This is not actually a bug report, but I need help.

https://github.com/mridgway/hoist-non-react-statics/blob/master/src/index.js

I created https://github.com/aprilmintacpineda/redefine-statics-js which is kind of like https://github.com/mridgway/hoist-non-react-statics/blob/master/src/index.js except it's decoupled from react and can be used pretty much anywhere (at least that's the intention).

[2018-09-16 09:31] Havunen commented on #1386
Inferno uses native DOM events, synthetic event means in inferno that there is only one event listener attached to DOM. If you want to use pointer events, checkout https://developer.mozilla.org/en-US/docs/Web/API/Pointer_events

[2018-09-16 15:27] dlants commented on #1386
I see. I guess in that case this issue could  cover adding the types for these, or documenting how one could extend the types in their own project

[2018-09-16 16:01] Havunen commented on #1386
Yeah, it seems like types are missing. I will add those for v6

[2018-09-16 16:47] Havunen commented on #1387
Hi,

I dont know what `type` is for. But I guess it would be:

[code]

[2018-09-17 02:11] aprilmintacpineda commented on #1387
@Havunen Thanks! :-)

[2018-09-17 02:11] #1387 closed

[2018-09-18 12:10] Havunen commented on #1336
I added the option to dev branch. It will be available in v6

[2018-09-18 12:37] Havunen commented on #1285
Its now possible to override flags with any custom value using: `$Flags={value}` in babel plugin v6

[2018-09-18 12:44] Havunen commented on #1158
This will be changing in v6 and refs will be called with null values.

[2018-09-18 12:46] Havunen commented on #1363
Somebody could build custom renderer that fakes out native DOM APIs providing some simple objects

[2018-09-21 13:44] Havunen commented on #1297
@bloody-ux Can you create Github repository to reproduce it and I will have a look

[2018-09-29 18:06] Havunen commented on #501
This is now finally out for testing! Please see
https://github.com/infernojs/inferno/releases/tag/v6.0.0-rc.0

[2018-10-04 20:41] simonjoom commented on #501
Hmm i tried the last one v6.0.0-rc.1 still Fragment is not working for me

[2018-10-04 20:46] Havunen commented on #501
@simonjoom do you use JSX? Did you remember to update babel-plugin-inferno to `6.0.0-5`https://github.com/infernojs/babel-plugin-inferno/blob/dev/package.json

Are you getting any error message?

[2018-10-06 17:52] simonjoom commented on #501
i ve got the latest inferno took from github and builded manually.
But yes i think i should to try with the babel you mention (i used only web pack aliases)

I created a repo merging gatsby with inferno, it's working nice)

https://github.com/simonjoom/gatsby-starter-inferno-master

[2018-10-07 17:39] simonjoom commented on #501
hello, i just tried without success with the branch dev as well.
Fragment is not working.

the plugin is well installed with webpack and babel config
for a tag <>blabla</>
i ve got this error
Inferno Error: createElement() name parameter cannot be undefined, null, false or true, It must be a string, class

i tried with
import {Fragment} from 'React
<Fragment >blabla</Fragment >

I ve got "export '

[2018-10-07 17:56] trueadm commented on #501
@simonjoom  I believe you're meant to use `Inferno.createFragment`. It's not a 1:1 of the React API, it's a different API.

[2018-10-07 18:05] IgnusG commented on #501
Hmm, all Did you configure the babel plugin correctly @simonjoom?
Check out if the fragment syntax is correct (reference here https://github.com/infernojs/babel-plugin-inferno/blob/6071ba7c24106ad4eb57f1d7ffbf8e8271f9b456/README.md#fragments)

And check if your configuration in `.babelrc` is correct (reference here https://github.com/infernojs/babel-plugin-inferno/blob/6071ba7c24106ad4eb57f1d7ffbf

[2018-10-07 18:59] Havunen commented on #501
I think the issue was because new methods were not exported from inferno-compat. I will make new release

[2018-10-08 02:16] simonjoom commented on #501
hello yes it's working great now:) thanks
just i saw a little bug if a fragment is around a single react node,

ok i know it's stupid to do
 <><myComponent/></>
but it should to render <myComponent/> and not return null.

Maybe ping KyleAMathews from gatsby about this, i think it's interesting for gatsby now.
look my thread on it:
https://github.com/gatsbyjs/gatsby/issues/8858

[2018-10-08 02:19] simonjoom commented on #501
about the starter repo i did,  i did not updated it, so well yes babel-plugin is not well configured.
I do that now

[2018-10-08 07:01] Havunen commented on #501
@simonjoom if you are rendering component it needs to be written `<><MyComponent/></>` notice uppercase, otherwise its handled as vNode element ( div, span etc... ).

[2018-10-08 11:05] benhodgson87 opened #1391 "[inferno-compat] oninput logic breaks non-'text' input types"
**Observed Behaviour**

When a line input type is set to a value other than 'text', and the build is resolved to inferno-compat in Webpack, password inputs (in my case using [Formik](https://github.com/jaredpalmer/formik)) will not allow the user to input any text - despite being valid. Changing inputs to `type="text"` allows the field to work as expected.

**Expected Current Behaviour**

inferno-

[2018-10-08 13:06] Havunen commented on #1391
I think input type text has been added there to avoid types like "checkbox" and "radio". PR would be nice :)

[2018-10-08 13:43] simonjoom commented on #501
yes sorry i wrote badly here. but on my app it's well written like:
`<><MyComponent/></>`

and it's return nothing in rendering so yes it's a bug from inferno

[2018-10-08 20:54] Havunen commented on #501
@simonjoom Interesting, can you create steps to reproduce it somewhere? Maybe github repository? I need to be away for a while, but when I'm back I would like to have a look at that issue.

[2018-10-08 22:09] Havunen commented on #501
@simonjoom  I Just published `6.0.0-rc.5` and babel-plugin `6.0.0-6` It fixes issue with empty fragments and when hydrating Fragments. Can you test if that resolved your issue. Thanks for all the help!

[2018-10-09 19:18] Havunen commented on #1384
@sprlwrksAprilmintacpineda Have you tested Inferno 6 rc? There are changes to lifecycle and setState timing. If that does not resolve the issue then we need steps steps to reproduce it. Github repository or something

[2018-10-09 23:15] simonjoom commented on #501
hello ok the issue of single fragment is still here unfortunately with the last version you asked me to try.

Anyway looking at the source code i found that in develop mode i ve got some:
<div class="app" __source="[object Object]" __self="[object Object]">

was the same thing than https://github.com/developit/preact/issues/1058
I added pragma and this thing was resolved for me too ))

Because i u

[2018-10-10 01:04] simonjoom commented on #501
ok again something to read:

I found a very strange behavior with inferno;
A input field builded with reactComponent who has got a type="password" don't event any onChange, if i change the field to a type="text" onChange then is working

I thought was my code but in normal mode (without inferno) i ve not this issue

[2018-10-10 14:35] simonjoom commented on #501
ok nice that you fixed input type in c7113bc (even if it's still not released in your last version)

About pragma, i adjust it just to avoid some bad output in source code.
The Fragment problem is still here and even without pragma this code upper SideBarContext.Consumer is not working

even a simpler component wrapped around fragment will not return anything in render.

Regards

[2018-10-10 17:32] Havunen commented on #501
@simonjoom I cannot reproduce the issue you are having. ( Single component inside fragment )

Can you check this file what test case is missing?
https://github.com/infernojs/inferno/blob/master/packages/inferno/__tests__/fragments.spec.jsx

This example
[code]

Will not work in InfernoJS because it needs new context API.

I might know what you mean with Router issue. So all components there re-mou

[2018-10-10 18:05] simonjoom commented on #501
yes all remount
but  this behaviour is certainly due the fact that i use a special component from gatsby that i bit modified for my case.

However with normal react i have not this unmount.

It's happened on a state change who modify the children components inside :

I don't put all the class here because it's very complicate but it's like a component who (re)render a component depending location

[2018-10-11 13:57] johnsonw opened #1393 "inferno-clone-vnode doesn't include children in cloned node"
**Inferno Metadata**
OS: OS X
Browser: Chrome
Package: inferno-clone-vnode
version tested: 5.6.1 & 6.0.0-rc.5

**Observed Behaviour**
I am upgrading from inferno 3.x to 5.6.1 and as I was testing my codebase I came across an instance where a cloned node wasn't including its children. This behavior is different than what I was seeing in 3.x so I checked the docs to see if **cloneVNode** had changed

[2018-10-11 15:31] Havunen commented on #1393
I will have a look at this today

[2018-10-11 15:37] johnsonw commented on #1393
Thank you @Havunen. Let me know if I can help in any way.

[2018-10-11 15:41] Havunen commented on #1393
This issue reminds me of this one: https://github.com/infernojs/inferno/issues/1333

It was closed due to no steps to reproduce.

[2018-10-11 15:51] johnsonw commented on #1393
Yes, this issue does sound similar. I can get around it by passing the children from the element as the third argument (see the test I wrote above). Should we be expected to pass the children each time we call cloneVNode?

[2018-10-11 16:06] Havunen commented on #1393
@johnsonw lets cross verify from React how it works

[2018-10-11 16:21] Havunen commented on #1393
Yeah its bug

[2018-10-11 16:31] johnsonw commented on #1393
I created a fiddle with React showing that the children are rendered: https://jsfiddle.net/johnsonw/mc5o3a0g/1/

[2018-10-11 16:35] johnsonw commented on #1393
Let me know if you want me to follow up with a PR.

[2018-10-11 16:46] Havunen commented on #1393
@johnsonw If you want to fix it, sure! Test cases could be added here:
https://github.com/infernojs/inferno/blob/master/packages/inferno-clone-vnode/__tests__/cloneVNode.spec.jsx

I think same time when fixing that we could remove the rest parameter from children, otherwise its creating new array every time cloneVNode is called. Same pattern could be used as in createElement
https://github.com/inf

[2018-10-11 16:48] Havunen commented on #1393
I created one test case already to reproduce it in Inferno tests:

[code]

[2018-10-11 16:50] johnsonw commented on #1393
@Havunen, no problem. I'll start working on this tonight 👍

[2018-10-11 17:59] Havunen commented on #501
@simonjoom I have fixed the re-mount issue with Fragments, thanks for reporting it! Commit link here:
https://github.com/infernojs/inferno/commit/0de12231dd9ad6668c56997023bc05094beda41a

For that use case I'm still missing steps to reproduce, do you know how to reproduce it?

[2018-10-11 19:08] Havunen commented on #501
Maybe you were using clone element and experienced this Bug https://github.com/infernojs/inferno/issues/1393 ?

[2018-10-12 13:49] Havunen commented on #1393
@johnsonw How is it going, can you get the PR done this weekend? I would like to proceed with v6 release, and this issue should be fixed

[2018-10-12 14:05] #1391 closed

[2018-10-12 14:19] johnsonw commented on #1393
Hi @Havunen,

I've updated the source locally and the majority of my tests are passing now. I still have a few I am working through (not sure that they are related to this). Once all of the tests are passing i'm going to go through and do a manual test and then I should be able to commit the change. I might have it later tonight. Will keep you posted.

[2018-10-12 16:42] Havunen commented on #501
Okay, the issue occurs only when using `createElement` API, which means your babel plugin was not correctly configured, this is bug anyway and needs to be fixed. You can look into compiled output and if it uses `createElement` calls its not using inferno babel plugin.

[2018-10-12 19:59] johnsonw commented on #1393
Quick update. With the change i've put in locally all of my tests are now passing. I'm now doing a manual test to make sure everything in our app is still working properly. Once I confirm that it is, I will start the PR process.

[2018-10-13 05:43] johnsonw commented on #1393
Hi @Havunen,

All tests are passing and i've added two additional tests. I've pushed the update to my local app and everything appears to be working correctly. Let me know if you have any questions and I will do my best

[2018-10-13 12:06] aprilmintacpineda opened #1395 "Click events gets called n-times"
To see this happening --> https://aprilmintacpineda.github.io/inferno-fluxible/

Note: The same behaviour is not present in react even though they have exactly the same codes --> https://aprilmintacpineda.github.io/react-fluxible/

[2018-10-13 12:11] aprilmintacpineda commented on #1395
https://github.com/aprilmintacpineda/inferno-fluxible/blob/master/example/src/Todos.js#L61
https://github.com/aprilmintacpineda/inferno-fluxible/blob/master/example/src/Todos.js#L16

On react:

https://github.com/aprilmintacpineda/react-fluxible/blob/master/example/src/Todos.js#L16
https://github.com/aprilmintacpineda/react-fluxible/blob/master/example/src/Todos.js#L65

[2018-10-13 12:13] Havunen commented on #1395
Ok, I need to check this out.

Side note:
Btw `inferno-create-class` is horrible I don't recommend using it ... its for compatibility reasons there. Better to use Component classes.

[2018-10-13 12:16] aprilmintacpineda commented on #1395
Is the same true for react? We're using `inferno-create-class` in our company app.

[2018-10-13 12:44] aprilmintacpineda commented on #1395
hmmm, how is _auto binding system_ bad? In a class component we'll also bind our methods right?

[code]

I think create class could be an HOC that does the same thing:

[code]

I created this kind of HOC before I learned about `inferno-create-class` and it worked pretty well. It's not yet very practical to use classes in JavaScript since it's not widely supported yet and we have to transpile our c

[2018-10-13 13:03] Havunen commented on #1395
Well because it binds everything, performance wise this is non-optimal when constructing the instance.

Imagine you have Button component which has 10 methods, then this button component is used inside list, say 100 rows, 2 buttons each 10 methods; That would be 2000 calls to `bind` and for in iteration of instance methods of button for 200 times. When possibly there was no bind was needed at all.

[2018-10-13 13:40] aprilmintacpineda commented on #1395
yeah that makes sense. I guess I could just do this then -->

[code]

https://jsfiddle.net/pzmqLjo7/

[2018-10-13 13:43] aprilmintacpineda commented on #1395
@Havunen it's also worth noting that the behaviour described in this issue is only present in production mode.

[2018-10-13 13:50] Havunen commented on #1395
@aprilmintacpineda  Did you copy correct code, that is the simple clock example?

[2018-10-13 13:54] aprilmintacpineda commented on #1395
@Havunen On the `function Clock` above? Yeah, basically that's the clock example on jsfiddle.

[2018-10-13 14:17] Havunen commented on #1395
There is something really strange going on there, definitely bug somewhere. It might be that its bug in `inferno-scripts` also

[2018-10-13 14:31] Havunen commented on #1395
@aprilmintacpineda There is still a bug, I found it... there are multiple instances of InernoJS script attached to your bundle... that is the root cause

[2018-10-13 14:32] Havunen commented on #1395
This needs to be fixed in `inferno-scripts`

[2018-10-13 14:33] Havunen commented on #1395
That is also why it works in development mode, but fails in production mode.

[2018-10-13 14:36] Havunen commented on #1395
Okay, adding alias to inferno, same way as in development build fixes it.

[2018-10-13 14:38] Havunen commented on #1395
removing inferno-create-class seems, fixes it because it depends on Inferno, adding any other package that depends on Inferno would reveal the same bug. Webpack pulls 2 versions of Inferno there, and they confuse each other. Adding alias to inferno seems to fix it so there is only one inferno in production build.

[2018-10-13 14:47] aprilmintacpineda commented on #1395
Oh no! That means each packages you have that has inferno as a dependency would create different instances of inferno. Did I understood correctly?

[2018-10-13 15:05] Havunen commented on #1395
@aprilmintacpineda Yeah, so it seems. its bug. I will update `create-inferno-app`, I will update latest from the upstream same time.

[2018-10-13 16:53] #1393 closed

[2018-10-13 23:26] #1375 closed, assigned to nobody

[2018-10-13 23:27] Havunen commented on #1323
I'm closing this ticket as Inferno v6 is now released! :tada:

https://github.com/infernojs/inferno/releases/tag/v6.0.0

[2018-10-13 23:27] #1323 closed

[2018-10-13 23:27] Havunen commented on #1286
I'm closing this ticket as Inferno v6 is now released! :tada:

https://github.com/infernojs/inferno/releases/tag/v6.0.0

[2018-10-13 23:27] #1286 closed

[2018-10-13 23:27] Havunen commented on #1285
I'm closing this ticket as Inferno v6 is now released! :tada:

https://github.com/infernojs/inferno/releases/tag/v6.0.0

[2018-10-13 23:27] Havunen commented on #1222
I'm closing this ticket as Inferno v6 is now released! :tada:

https://github.com/infernojs/inferno/releases/tag/v6.0.0

[2018-10-13 23:27] #1222 closed

[2018-10-13 23:28] Havunen commented on #501
I'm closing this ticket as Inferno v6 is now released! :tada:

@simonjoom if you still experience issues with Fragments you can create new Github ticket and we can continue there.

https://github.com/infernojs/inferno/releases/tag/v6.0.0

[2018-10-13 23:28] #501 closed

[2018-10-14 04:40] aprilmintacpineda opened #1396 "Uncaught DOMException: Failed to execute 'insertBefore' on 'Node': The node before which the new node is to be inserted is not a child of this node."
[code]

This happened after -->

**render**

[code]

**componentDidMount**

[code]

**InfernoCarousel** component

[code]

[2018-10-14 04:40] aprilmintacpineda commented on #1396
Will check in v6 if this is still happening.

[2018-10-14 05:02] aprilmintacpineda commented on #1396
Side note: migrating to v6 is quite nasty.

I got tons of errors:

[code]

Then on an example project, I had to add `SKIP_PREFLIGHT_CHECK=true`. I'm using `babel-eslint` for `inferno-carousel` library, inside is `example/` folder, that's where the error is.

[2018-10-14 05:34] aprilmintacpineda commented on #1396
Hmm... The same issue happens in react as well. Any thoughts @Havunen?

[2018-10-14 07:29] Havunen commented on #1396
The error about `.visitor` is that you have babel v6 in the build chain and babel-plugin-inferno depends on babel v7

[2018-10-14 08:11] Havunen commented on #1396
@aprilmintacpineda you have some external javascript modifying the DOM so vDOM and DOM does not match anymore... :/

[2018-10-14 10:16] aprilmintacpineda commented on #1396
@Havunen yeah that works. But then I encountered a different error that says `Error: Inferno Error: Encountered child without key during keyed algorithm. If this error points to Array make sure children is flat list. Location:` with this code -->

[code]

I needed to put it inside a div like so:

[code]

This is not the case for react though.

[2018-10-14 10:58] Havunen commented on #1396
Well that is warning that there is one keyed item and siblings dont have keys

[2018-10-14 11:00] aprilmintacpineda opened #1397 "What's this code that was injected in index.html on build?"
**This is a question and not a bug report**

After migrating to v6 I saw that `index.html` has this -->

![image](https://user-images.githubusercontent.com/21032419/46915786-1c0dea80-cfe3-11e8-9c81-162a57fb65d4.png)

`1.[hash].js` is inferno itself and `main.[hash].js` is the actual app, right? On build I saw that there's also `runtime~main.[hash].js` which I don't see anywhere in the `index.html`

[2018-10-14 12:06] Havunen commented on #1397
Well its not related to Inferno, you can open issue here:

https://github.com/infernojs/create-inferno-app

Just by looking at that code it seems to be webpack related.

[2018-10-14 12:06] #1397 closed

[2018-10-14 17:41] artemirq commented on #1073
@Havunen What about immutability of VNode in Inferno 6.0?

[2018-10-14 18:36] Havunen commented on #1073
@artemirq If vNode is hoisted and used in one or more places it will be cloned, Im not sure If it gains any performance that way

[2018-10-14 22:31] simonjoom commented on #501
cool thanks

[2018-10-15 03:11] aprilmintacpineda commented on #1384
I haven't experienced this in a while, I would reopen this again if I come across it...

[2018-10-15 03:12] #1384 closed

[2018-10-15 07:48] Havunen opened #1398 "invert linkEvent"
InfernoJS `linkEvent` puts event parameter as second argument, while native callbacks get event as first argument. This is every day burden when working with linkEvent and same callbacks are used in different ways.

We could implement new method and deprecate `linkEvent` to avoid creating breaking change.

New method could work exactly same as `linkEvent` but invert parameters to callback here:

h

[2018-10-15 09:52] trueadm commented on #1398
It was done this way originally to make the developer aware of the difference. It originally was `event` first but people kept using `this` to try and access the object. When I changed it, people were forced to understand there was a difference and consult the docs.

[2018-10-15 16:59] simonjoom opened #1399 "render fragment new issue last version"
First i can confirm that fragment is rendering properly now for me in a single Fragment

`<><div>Test</div></>`

render well Test  hourra!

I found a bug in rendering fragment in fragment:

[code]

it's render not Test but 'Object'

[2018-10-15 17:04] Havunen commented on #1399
Hi @simonjoom

Thanks for reporting the issue, can you please create test case here:

https://jsfiddle.net/2nm1kqct/

so its easier to track down and write test case :)

[2018-10-16 14:10] chrkulbe opened #1400 "rendering selectbox options as (functional) component fails when using properties on select"
Before migrating to V6 all works fine.
After migration **dom.value = props.value;** fails, because dom is null.

[code]
This happens when we will use our own (functional) component to render the option tag and use

- a style object **style={{}}**
- an id **id="foobar"**
- ...
within the select tag.

[code]

Removing the property from the select tag or using **\<option/\>** directly without wrappin

[2018-10-16 15:29] Havunen commented on #1400
HI @chrkulbe
Thanks for reporting the issue. I will look into it.

[2018-10-16 15:45] Havunen commented on #1400
@chrkulbe

This is indeed bug I will fix it and release a patch.

On a side note:

Its not good practice to declare Component inside another Component render if it was not just to show case the bug.

[code]

This is better practice.

[code]

[2018-10-16 15:48] chrkulbe commented on #1400
I know, it was only for the show case. :o)Am 16.10.2018 17:45 schrieb Sampo Kivistö <notifications@github.com>:@chrkulbe
This is indeed bug I will fix it and release a patch.
On a side note:
Its not good practice to declare Component inside another Component render if it was not just to show case the bug.
export const Combobox= (props) => {
// This component will be created again in every render o

[2018-10-16 16:43] Havunen commented on #1399
@simonjoom This sounds to me you have not configured `babel-plugin-inferno` correctly. Maybe you are using old version of babel-plugin with latest Inferno?

[2018-10-16 16:44] Havunen commented on #1399
@simonjoom If updating does not help, can you copy paste compiled code here and not JSX :)

[2018-10-16 20:30] Havunen commented on #1400
Fixed, 6.0.2 released :)

[2018-10-16 20:30] #1400 closed

[2018-10-16 20:46] IgnusG commented on #1363
@sprlwrksAprilmintacpineda If you want simple out of the box testing for your components you could use `enzyme` along with  [`enzyme-adapter-inferno`](https://github.com/bbc/enzyme-adapter-inferno).

Support for V6 will be coming shortly hopefully

[2018-10-16 21:34] simonjoom commented on #1399
i just look in your last release of the last babel-plugin-inferno seems nothing change from v6.0.0-6 that i used.

So it's not babel-plugin-inferno

ok i will look compiled code and will paste

[2018-10-16 22:38] dessalines opened #1401 "Typescript example in README.md"
The typescript example on the readme is a browserify version, rather than this leaner, and more popular webpack version. https://github.com/infernojs/inferno-typescript-example

At the very least both should probably be linked, but I tested the bundle sizes of both, and the webpack is both smaller, and has hot reloading.

[2018-10-17 05:58] Havunen commented on #1401
@dessalines Would you like to update the example? I really don't have time to maintain it to keep it up to date with latest things. There is now days native typescript compiler built for Inferno by @deamme

https://github.com/deamme/ts-transform-inferno

So if you use typescript you don't need babel.

[2018-10-17 19:17] simonjoom commented on #1399
here the code just a simple fragment in fragment give a bad ouput see below:

[code]

[code]

[2018-10-17 20:58] Havunen commented on #1399
Hi,

This is indeed bug, I will fix it and make new release.

[2018-10-17 21:18] Havunen commented on #1399
Fixed. Thanks for reporting the issue! :)

[2018-10-17 21:18] #1399 closed

[2018-10-18 09:48] simonjoom commented on #1399
thanks to you )
i just updated my version for the last this night)

[2018-10-20 07:15] Havunen commented on #1073
@artemirq

I think this is interesting concept, I have not read enough about it to form opinion yet. I believe async rendering also comes with priority queues or something similar. Pushing everything to event queue wouldn't probably make much sense otherwise.

I don't know if managing priority queue is worth the cost of just diffing through, because inferno diff is really fast.

I think we could j

[2018-10-22 19:28] #1401 closed

[2018-10-23 06:55] chrkulbe opened #1404 "renderToSnapshot fails when using fragments"
inferno@6.0.3
inferno-test-utils@6.0.3

Hi,

when I use snapshot testing via inferno-test-utils and make a snapshot of a component returning a fragment, renderToSnapshot fails.

**vNodeToSnapshot** returns an array and **snapshot.props** dosn't exists.

[code]

Thx

[2018-10-23 08:46] chrkulbe commented on #1404
It will also fail, if you return only the children property and the children property is an array,

[code]

[2018-10-24 23:48] artemirq commented on #1073
@Havunen Hey! Check it out https://twitter.com/reactjs/status/1054886083475857408

React.memo
https://scotch.io/tutorials/react-166-reactmemo-for-functional-components-rendering-control

React.Lazy
https://medium.com/@vigzmv/react-lazy-what-and-how-to-use-in-your-app-14b416dde8f7

Interesting, for Inferno does need to implement something like React.memo or React.PureComponent?

React.Lazy is very

[2018-10-27 05:23] chrkulbe opened #1406 "Please update https://infernojs.github.io/uibench-inferno"
Hi,

it would be nice if you update the three (react-like, non optimized, optimized) ui bench version @ https://infernojs.github.io/uibench-inferno so we can use it.

Thx

[2018-10-28 08:54] Havunen commented on #1406
Hi @chrkulbe

I have not seen that page before, I dont know who created it? Maybe luke long time ago... We should probably create a page that hosts all the benchmarks. Do you know where those files are hosted?

[2018-10-28 09:53] Havunen commented on #1404
Hi @chrkulbe

thanks for reporting the issue. This has been fixed and will be included in next release.

[2018-10-28 10:32] chrkulbe commented on #1406
Hi,I never used GitHub pages before. Bit I think infernojs is the owner of this page.It could be configured within GitHub.https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/https://help.github.com/categories/github-pages-basics/https://pages.github.comHope that helps.

[2018-10-28 10:48] kurtextrem commented on #1406
I do think they lay here: https://github.com/infernojs/uibench-inferno/tree/gh-pages (in that branch)

[2018-10-28 11:07] Havunen commented on #1406
I removed that site, lets create a new one with fresh content

[2018-10-28 11:14] chrkulbe commented on #1406
But remember, the are linked in one of the external performance tools.

[2018-10-28 16:37] Havunen commented on #1406
Please use this link for now.
https://infernojs.github.io/inferno/

I will deprecate the other repository and send PR for boris to update the links

[2018-10-28 16:37] #1406 closed

[2018-10-28 16:55] Havunen commented on #1406
PR to update the links: https://github.com/localvoid/uibench/pull/19

[2018-10-29 06:46] chrkulbe commented on #1406
I've compared the four demos and have some questions:

1. Can you rearrange the function/classes of the normalization version so that the app.js files are comparable? Without it is difficult to find the differences between the tests, because they have different orders.
2. Please use the same vanilla JS optimization in each file like
[code]
or
[code]
I don't know if every browser optimize that, but

[2018-10-29 07:07] Havunen commented on #1406
The purpose of UI benchmark is to track regression in performance bugs in inferno code base, they used to be written in "stupid" way to see some niches here and there. Only the "inferno" benchmark is optimized, those benchmarks are not comparable. Also the reactlike benchmark is implemented so that its same as react version of ui benchmark

[2018-10-29 07:07] Havunen commented on #1406
Maybe that should be documented somewhere; I wonder what are you comparing there?

[2018-10-29 12:10] chrkulbe commented on #1404
It is not completely fixed.

I got *TypeError: Cannot convert undefined or null to object* at *delete snapshot[i].props.children;* when the children of a fragments contains text elements.

Your tests misses such constellation also (see *p*).
[code]

[2018-10-29 14:31] friedemannsommer opened #1407 "SSR with `inferno-server` TypeScript compilation fails because of typing error"
**Observed Behaviour**
TypeScript compilation fails with this error:
`./node_modules/inferno/dist/core/types.d.ts(2675,35): error TS2312: An interface may only extend a class or another interface.`
This corresponds to this line:
https://github.com/infernojs/inferno/blob/0cf89f98acfdbb3127f792d00d2877498d10016f/packages/inferno/src/core/types.ts#L3249

The Problem with this line is, that `InfernoNo

[2018-10-29 15:25] Havunen commented on #1404
Ok, lets re-open

[2018-10-29 15:52] Havunen commented on #1407
What do you do need to see this error?

I updated inferno example here: https://github.com/infernojs/inferno-typescript-example
I don't see any errors 😕

[2018-10-29 16:02] friedemannsommer commented on #1407
@Havunen I'm running a TypeScript build with "gulp".

[code]

Example (stripped down) file from my source:
[code]

[2018-10-29 16:06] makepost commented on #1407
[code]

Circular reference causes it I think, InfernoNode and JSX.Element extend each other. `types.ts` has a `// @ts-ignore` right above InfernoNode but that's actually the problem, if you remove it you'll see the same error during own Inferno build. Maybe leave just InfernoNode and alias JSX.Element to it? I'll try and see if tests pass.

[2018-10-29 16:14] Havunen commented on #1407
the correct type is `interface Element extends InfernoElement<any> {}`
but there is another issue that typescript example is not validating prop types. need to check that too

[2018-10-29 16:15] Havunen commented on #1407
https://github.com/infernojs/inferno-typescript-example

[2018-10-29 17:30] Havunen commented on #1407
@friedemannsommer  soon :+1:

[2018-10-29 17:56] Havunen commented on #1404
6.1.1 released. This should be fixed now :) Thanks @chrkulbe

[2018-10-29 17:56] #1404 closed

[2018-10-29 17:57] Havunen commented on #1407
Inferno v6.1.1 released, this should be fixed now. Thanks @friedemannsommer and @makepost

[2018-10-29 17:57] #1407 closed

[2018-10-29 18:00] friedemannsommer commented on #1407
@Havunen Thanks for the fast fix, i'll check back if this works for me.

[2018-10-29 18:18] friedemannsommer commented on #1407
@Havunen The fix works like a charm. Thanks again.

[2018-10-29 19:35] smcatala commented on #1401
FYI, the bundle size of the [browserify/typescript example](https://github.com/smcatala/inferno-typescript-browserify-example/) is now improved: `npm run build` was using the development build of inferno. thanks for raising this: I had this same configuration error in other modules as well.

note that `npm run debug` runs a server with hot module reload (and Inferno in dev mode).

[2018-10-29 20:51] #1110 closed

[2018-10-30 10:23] UgRoss opened #1409 "Inferno-compat and MobX [v5]"
## Issue Template

`Mobx` + `inferno-compat` gives following warning:
[code]

<img width="559" alt="screen shot 2018-10-30 at 12 07 03 pm" src="https://user-images.githubusercontent.com/5703885/47710841-72626680-dc3c-11e8-994c-ba3b5642b042.png">

is it possible to support `unstable_batchedUpdates` in the `inferno-compat` library?

**Dependencies:**
[code]
-------
I'm sorry if there is any duplicat

[2018-10-30 15:13] makepost commented on #1409
Inferno has a dedicated `inferno-mobx` binding that supports MobX 4 as well as 5 and doesn't require the compat package. While the undocumented React batched update API is useful for Redux and apps without state management, in MobX the pattern is instead to nest `action`s.

BTW the React binding falls back to immediate render if you have neither `react-dom` nor `react-native` that batch differentl

[2018-10-30 15:48] UgRoss commented on #1409
Yes, I saw `inferno-mobx` binding, but problem is that this is not for `inferno-compat`.
Seems, everything is working with these warnings.
Just wanted to let you guys know about that and to ask if it's possible to fix.
Thank you for your answer!

[2018-10-30 17:08] smcatala opened #1410 "render() does not seem to replace existing DOM elements inside the container when first called."
replace line 7 of https://github.com/infernojs/inferno-typescript-example/src/index.html as follows:
[code]
the inserted text is from the [React.render() doc](https://reactjs.org/docs/react-dom.html#render).
according to the React documentation, the `<p>` element inside the `<div id="app">` container should be replaced when render is first called, but it does remain after injection of the rendered

[2018-10-30 17:31] Havunen commented on #1410
Hydration needs to be called manually now. I dont know If we should fix this or not. If hydration is not used wouldnt it be better to render on empty node

[2018-10-30 21:59] smcatala commented on #1410
just checked with `npx create-react-app` with the same `index.html` modification (adding `<p>...</p>` in `<div id="root">`: the inserted `<p>` element is replaced with the injected react app.
not sure how you want to handle this: for compatibility with react, we would need the same behaviour, but is that also what you want ?

[2018-10-31 01:37] dlants opened #1411 "inferno v6 lost dataTransfer on dragEvent from v5"
**Observed Behaviour**
[code]
Inferno v6 is missing the `dataTransfer` member on the `DragEvent` type

I think the issue is here: https://github.com/infernojs/inferno/blob/427ba3b80a9b4c910a8e6e764fd2c09b8556ac1d/packages/inferno/src/core/types.ts#L60

As the `InfernoMouseEvent` extends `MouseEvent` but not `DragEvent`

**Expected Current Behaviour**
The event should have the `dataTransfer` member

[2018-10-31 06:53] Havunen commented on #1411
@dlants Can you send PR to fix the typing please? :)

[2018-10-31 06:56] Havunen commented on #1410
We could test how it works in React 17:

[2018-11-01 17:35] makepost opened #1412 "Fragment elements re-appear outside after rendering empty fragment"
**Observed Behaviour**

Inferno is rendering empty fragment's new children after the fragment's siblings.

**Expected Current Behaviour**

Inferno should render empty fragment's new children where original children were.

**Inferno Metadata**

macOS 10.13.6
Node.js v10.12.0

Made an example without JSX transforms or test runners to ensure I didn't misconfigure, and checked that if I return arrays

[2018-11-01 19:36] Havunen commented on #1412
Yep, its a bug! Good catch! I will fix it and release new version :+1:

[2018-11-01 19:37] Havunen commented on #1411
ok, I will fix it for next release

[2018-11-02 14:45] Havunen opened #1413 "Optimize static vNode trees"
We could detect static vNode trees during compilation time ( JSX ).

Some idea how this could work:

When static shape is detected. See https://github.com/infernojs/babel-plugin-inferno/issues/54
We hoist the given vNode tree and flag it as Static.
Now during patch algorithm, when two identical vNodes are diffed we check if the shape has been marked as static we just return. This static flag could

[2018-11-02 15:42] Havunen opened #1414 "InfernoJS online seminar topics!"
Lately I have got some questions about how InfernoJS works. I thought it could be useful to share this information with all of you at once.

These are some topics that I thought could interest you:

- How to optimize InfernoJS apps at application level
- InfernoJS internals: VNode shape, normalization process, keyed algorithm, Fragment implementation?

Would you like to attend this kind of online

[2018-11-02 16:08] makepost commented on #1414
For internals explanation, article format is good, maybe on GitHub Wiki. I learned a lot about React by following developers who blogged or wrote articles and tweeted news, and reading them on my way.

Library and app showcase can start based on a list such as @guuibayer's [awesome-inferno](https://github.com/guuibayer/awesome-inferno) which maybe should be linked from the official Inferno website

[2018-11-02 17:34] martensm opened #1415 "SVGRectElement not patching class attribute correctly"
Observed Behaviour
-----------------------

Inferno doesn't appear to set the `class` attribute when a nested component with a `<rect>` element's state changes.

Here is a codepen which illustrates this issue:
https://codepen.io/anon/pen/bQbyQE?editors=0010

Here is the same example using React:
https://codepen.io/anon/pen/NEKmVV?editors=0010

Inferno is...
------------
Throwing this error when tr

[2018-11-02 17:51] jhsware commented on #1414
It would be awesome to get a deeper understanding of what goes on under the hood. In my case it would help understanding how to optimise the libraries I maintain for performance where it makes sense.

I would be happy talk about my experience, why I ported/created these libs and perhaps inspire others to create even better libraries.

Other topics of interest:

• Debugging tricks
• Some general In

[2018-11-02 22:28] deamme commented on #1414
I'm definitely up for this. I really want to understand more about Inferno internals.
Regarding the Typescript transformer - it's pretty much just a port of babel-plugin-inferno. Although I can still do an overview of the project etc.

[2018-11-03 00:02] martensm commented on #1415
https://github.com/infernojs/babel-plugin-inferno/pull/51 possibly related to this. The Inferno version of the codepen shown above is not using `babel-plugin-inferno` though. Is `babel-plugin-inferno` expected to be installed for this to work correctly?

[2018-11-03 13:32] Havunen commented on #1415
Hi @martensm

Thanks for reporting this issue. babel-plugin-inferno is recommended if JSX is used with Inferno. However this should work without it too, so its indeed a bug.

[2018-11-04 13:55] Omlet opened #1416 "ComponentDidMount and setState callback not firing under certain circumstances"
Recently migrated from v5 to v6 with no immediate trouble: the application, for the most part, functioned as I had expected. However, I then noticed that certain components weren't loading properly, e.g. clicking a button wouldn't work, because I bind the event handler in `componentDidMount`, or network requests weren't being made. This also happens to callbacks for `setState`; I have a base compo

[2018-11-04 14:03] Havunen commented on #1416
Hi @Omlet can you tell a bit more about the setup you have? Do you use inferno-compat, hydration or any other plugins?

[2018-11-04 14:46] Havunen commented on #1416
@Omlet You could try `v6.0.3` in release after that there was fix that setState callback and componentDidMount were triggered multiple times. Maybe its related to that?

[2018-11-04 20:37] Havunen commented on #1416
Also what exact versions are you using and did you remember to update all packages?

[2018-11-05 02:03] dessalines opened #1417 "How to "lift up state" / output of a component?"
In react, a component can output a value using:

[code]

As long as `temperature` is in the state object. How does this work in inferno? I can't find any examples with this.

[2018-11-05 06:59] Havunen commented on #1417
Hi @dessalines

I'm not sure what you mean, but generally speaking  "lift up state" can be done at least in two ways

The practice should be same as in ReactJS. If you want to keep current component changes close to minimum, then you can move the object / thing that you want to lift up, to higher order component and implement componentWillReceiveProps / getDerivedStateFromProps to child component

[2018-11-05 16:18] dessalines commented on #1417
I figured this one out finally, but it would be a really good idea to add this to the [the quickstart page](https://www.infernojs.org/docs/guides/event-handling), I could do this if you direct me to where.

I basically assumed that `linkEvent` would also work for outputs, but unfortunately it doesn't. For typescript:

The parent component needs:
[code]

And the child needs:
[code]

[2018-11-05 19:14] IgnusG commented on #1417
`linkEvent` is just a wrapper with the function and the data to be passed into it. Inferno then takes this object and once it deems it's the right time to call the function (an event happened and it's now firing) it calls the function with the data.

Theoretically, you could build yourself a wrapper which takes this object and calls your specified function (that is if you prefer to use `linkEvent`

[2018-11-05 19:17] IgnusG commented on #1417
Btw. you can get around the binding of `this` using class properties if you have them enabled in your babel config:
[code]

[2018-11-05 21:05] FQ400 commented on #1417
[code]
<img width="140" alt="screen shot 2018-11-05 at 22 03 40" src="https://user-images.githubusercontent.com/451298/48026571-b24ab180-e146-11e8-8ddf-d9e4dfe7d88a.png">
enables syntax highlighting.

[2018-11-07 14:07] Havunen commented on #1416
@Omlet We faced this issue too with setState callback and that is now fixed. Can you verify is this still an issue?

[2018-11-07 15:49] renanmpn opened #1418 "[Question] Old web toolkit support version"
Hi everyone,

I need to use an old version of  QT web toolkit 5.6.3 and I need to know if Inferno.js will work properly.
Anyone knows this information?

Best,

[2018-11-07 15:54] Havunen commented on #1418
I'm not familiar with QT web toolkit at all. Does it still execute the code in browser? or what is the environment runtime? In browser environment InfernoJS is tested IE10+ and NodeJS 6. InfernoJS might work in older browser or nodejs too, but its not tested

[2018-11-07 15:58] Havunen commented on #1418
Hi,

Is this what you mean: https://wiki.qt.io/JavaScript

Its based on Webkit so there should not be any issues

[2018-11-07 16:02] renanmpn commented on #1418
Yeap, it is still in browser. Is there any tests that I can run in my local environment to guarantee if it will work without problems?

These are the links about my QT version:

http://doc.qt.io/qt-5/qtwebengine-platform-notes.html
http://download.qt.io/community_releases/5.6/5.6.3/

[2018-11-07 16:23] Havunen commented on #1418
I might be able to setup jasmine standalone package for you, just a moment. This could be actually used by anybody else too to check their own browser against inferno specs.

[2018-11-07 16:28] renanmpn commented on #1418
Thank you very much. I'll start the tests ASAP. Thank you again

[2018-11-07 17:14] renanmpn commented on #1418
@Havunen I'm trying to run the tests, but there are problems.
First this error:
GET http://10.1.7.28/component2 404 (Not Found) [native code]:1
dispatchEvent [native code]:1
triggerEvent tests.js:9451
(anonymous function) tests.js:66314
attempt jasmine.js:5470
run jasmine.js:5500
runNext jasmine.js:5426
next jasmine.js:5433
(anonymous function) jasmine.js:5347
(anonymous function) jasmine.js:5516

[2018-11-07 18:36] Havunen commented on #1418
Is the Jasmine reporting those as failed tests or the whole environment crashes? Console.errors are expected

[2018-11-07 18:45] claudiodonate commented on #1418
Hello @Havunen .

The system is trying to load a new page on the browser: GET http://10.1.7.28/component2 404 (Not Found)
When it is not found, the page goes blank. If I trigger the BACK command, it goes back to the previous URL and the test starts again.

We are testing it on an embedded system, running linux and the qtwebkit version that @renanmpn mentioned above as our browser.

The test goes o

[2018-11-07 18:49] Havunen commented on #1418
Ah okay, maybe it means inferno-router is not compatible, but I believe Inferno core works fine.

[2018-11-07 18:56] Havunen commented on #1418
I can try to create limited test case and post it here

[2018-11-07 18:59] makepost commented on #1418
Does Qt WebEngine let you configure URL rewrites when you initialize it in your app? I think if you point 404s to index.html the router tests should pass too.

[2018-11-07 19:01] claudiodonate commented on #1418
@Havunen , that would be awesome!

@makepost , I don't know how to do that right now, some investigation is necessary.

[2018-11-07 19:11] Havunen commented on #1418
Okay here you go. I excluded `inferno-compat`, `inferno-router` and `inferno-devtools` everything else is still there. Also included a fix to jasmine from here: https://github.com/jasmine/jasmine/pull/1621

[inferno-6.1.5-simple.zip](https://github.com/infernojs/inferno/files/2558813/inferno-6.1.5-simple.zip)

[2018-11-07 19:42] claudiodonate commented on #1418
@Havunen , the same error is still happening. Maybe it is not related to the modules removed. Is it possible to change the JS to print the test name when each one starts? Then will be able to know which one breaks.

[2018-11-08 08:43] aprilmintacpineda commented on #1416
@Havunen I'm intrigued, can you explain what happened?

[2018-11-08 16:24] makepost commented on #1418
[CreateElement github1176](https://github.com/infernojs/inferno/blob/4a82dd9b5107e9f848c0dbdda9fb5f16f9dac4ff/packages/inferno-create-element/__tests__/github1176.spec.tsx) looks like that test, but it isn't clear why it fails for you from the data available. Maybe you could make a repo or gist with just a class running a web view and the tests like your app does, and a script, preferably a Docker

[2018-11-08 16:41] makepost commented on #1418
Running all tests is preferable, since web view is just an embedded browser and it's interesting what leads to the error. Let's see what full building example @claudiodonate and @renanmpn come up with.

[2018-11-19 17:11] MrFoxPro opened #1419 "Raw text in renderToString causes an error."
## Issue Template

**Observed Behaviour**

Inferno is not rendering raw text component properly.

**Expected Current Behaviour**

Inferno should handle raw text.

Im trying to render page with some div elements and raw text on server with renderToString function, but every time i see an error: `Error: Inferno Error: renderToString() expects a valid VNode, instead it received an object with the typ

[2018-11-19 17:37] makepost commented on #1419
How to reproduce that?

[code]

[2018-11-21 13:29] sheff146 opened #1420 "If setState is called several times in a row, only the last call is applied"
**Observed Behaviour**

If **setState** method is called several times in a row and child object of state is updated there, only the last **setState** call is applied.

See Codepen example: https://codepen.io/sheff146/pen/bQLNmy.

It works fine when we have flat state structure, and it starts to behave incorrectly when we update state child objects.

**Expected Current Behaviour**

Inferno should

[2018-11-24 18:11] Havunen commented on #1420
Fixed and released 6.3.0

[2018-11-24 18:11] #1420 closed

[2018-11-25 03:26] makepost opened #1421 "Ternary outside fragment if array replaces element"
Using fragments a lot now since #1412, ran into another problem.

**Observed Behaviour**

Inferno is rendering an array after its siblings in the fragment, if the array is in a ternary with an element.

**Expected Current Behaviour**

Inferno should render the array in the same place where the element was.

**Inferno Metadata**

Ubuntu 18.10
Node.js v10.12.0

package.json

[code]

index.js

[code]

[2018-11-25 08:40] Havunen commented on #1416
This should be fixed. Please re-open if its still an issue

[2018-11-25 08:40] #1416 closed

[2018-11-25 09:40] Havunen commented on #1421
Good catch! I will fix this and release 6.3.1

[2018-11-25 11:08] Havunen commented on #1421
@makepost  Thanks for reporting this bug, Its now fixed and released in v6.3.1 https://github.com/infernojs/inferno/releases/tag/v6.3.1

[2018-11-25 11:08] #1421 closed

[2018-11-28 18:34] #1417 closed

[2018-12-03 03:09] aprilmintacpineda opened #1423 "Inferno v7 update is slow."
## Issue Template

**Observed Behaviour**

After updating from ~6 to ~7. I noticed an issue with the component updates, the update seem to take a lot of time before `render` is called again after `setState`. Due to this issue, I changed back to ~6.

Inferno v6 integrated with:

- [fluxible-js](https://github.com/aprilmintacpineda/fluxible-js)
- [inferno-fluxible](https://github.com/aprilmintacpine

[2018-12-03 07:37] Havunen commented on #1423
@aprilmintacpineda If you want to render synchronously you can call `rerender` after setState to flush all pending setStates

If thats not the case can you create some place to reproduce the issue you are having? Maybe its a bug?

[2018-12-03 22:37] EM-LilianaIturribarria opened #1424 "inferno-devtools not working"
When adding:

[code]
before my render, a compilation error appears:

[code]

I have the same version for inferno & inferno-devtools: 7.0.1

This is my index.js

[code]

[2018-12-04 05:32] Mrcooder commented on #21
This page seems not exists

[2018-12-04 11:15] trueadm commented on #21
@mcooder the benchmark was removed a while ago. This is a very old thread.

[2018-12-10 03:47] aprilmintacpineda commented on #1423
Hmmm... For some reason that's not clear to me, I don't experience this anymore. Could this be an issue when you use v7 BUT one of the packages you use declared v6. Resulting to two different versions of inferno installed on your app?

[2018-12-10 07:52] Havunen commented on #1423
Yeah, that might be the case

[2018-12-10 09:07] #1423 closed

[2018-12-11 08:21] iambumblehead opened #1426 "nodes are replaced when there are no changes"
In this example, the latest version of inferno 7.0.2 replaces the entire node hierarchy on each render call. I updated from inferno 5.0.3 where only changed nodes were replaced.
[code]
am I doing something wrong?

[2018-12-13 16:41] Havunen commented on #1426
Hi @iambumblehead this sounds like a bug. I will look into it tonight

[2018-12-13 17:40] Havunen commented on #1424
This must be on your end, because findDOMFromVNode is exported from inferno library.

See:
https://github.com/infernojs/inferno/blob/master/packages/inferno/src/index.ts#L55

Maybe its NPM cache issue? If not please create github repository or similar to reproduce the issue. Im closing this. You can re-open if it still exists, please create steps to reproduce also.

[2018-12-13 17:40] #1424 closed

[2018-12-13 18:35] Havunen commented on #1426
Fixed and released in 7.0.4!

[2018-12-13 18:35] #1426 closed

[2018-12-26 03:32] highhi opened #1428 "There seems to be a mistake in type definition of SFC and Provider"
inferno @7.0.4
inferno-mobx @7.0.4

Hi.

There seems to be a mistake in type definition of SFC and Provider.

[code]

[code]

The type of SFC should be corrected like this.

[code]
ref: https://github.com/infernojs/inferno/blob/master/packages/inferno/src/core/types.ts#L157-L162

But I did not know how to fix Provider.

Thank you.

[2018-12-26 14:13] Havunen commented on #1428
This is tricky issue, because you can actually return string/number/undefined from SFC as its perfectly valid code.

Then this would fail:

[code]

[2018-12-27 10:22] highhi commented on #1428
Thank you! :)
I confirmed that the issue was solved.

[2018-12-29 00:43] acheronfail opened #1429 "How to detect modifiers when using a controlled input[type="checkbox"]?"
**TL;DR**: How can I detect modifier keys when a controlled `<input type="checkbox" />` is checked?

[code]

---

**More details:**

I want to be able to detect whether or not the Shift Key is pressed when a controlled checkbox is clicked.

The problem is that if the `checked` prop is passed to an input, then the `onClick` handler fires a `"change"` event instead of a `"click"` event. Unfortunatel

[2018-12-29 00:51] acheronfail commented on #1429
FWIW, I've updated the example repository with a minimal example of the same thing using React, and the behaviour differs between React and Inferno (React provides the `"click"` event, so we can access key modifier information).

[2018-12-31 11:34] Havunen commented on #1429
Hi

@acheronfail I didn't look into the code repo you provided yet. You could try using `onclick={method}` format instead of `onClick` this forces new click listener to be created on the html Node, non-synthetic event. Its less performant but that event will have the native click event for the given node.

[2019-01-04 16:28] osener opened #1430 "Events not registered inside Shadow DOM"
When mounted inside a Shadow DOM root, components rendered with Inferno do not handle events. Tested with Chrome 69 and Inferno 7.0.5.

Test case: https://codesandbox.io/s/3v17o2zwx5

[2019-01-04 16:38] osener commented on #1430
Just tried using non-synthetic events per https://github.com/infernojs/inferno/issues/1429#issuecomment-450635830 and it worked. Unfortunately, I'm using `inferno-compat` alias in a [ReasonReact](https://reasonml.github.io/reason-react/) application, so unfortunately this workaround is not usable for me (at least without some fragile build-time tricks).

I want to congratulate you for the amazing

[2019-01-05 09:37] Havunen commented on #1430
One possible way to add support for this could be that when going through html Nodes, we check if `htmlNode.host` exists and if it does we opt-out from synthetic events. This might have some negative performance impact because it needs to check all nodes.  And when host document ( Shadow-root)  is detected it would opt-out from synthetic events.

Better ideas are welcome

[2019-01-05 13:32] osener commented on #1430
@Havunen using `":host *"` CSS selector seems to be faster: https://jsperf.com/shadow-root-detection/1

[2019-01-06 20:18] Havunen commented on #1430
Yeah thats what I thought. Reading host property when going through the Nodes (mount/patch) and then opting oit from synthetic event system If shadow root is detected.

[2019-01-09 10:18] aprilmintacpineda opened #1432 "element being passed to ref is sometimes null"
## Issue Template

**Observed Behaviour**

[code]

**Expected Current Behaviour**

I expect the `el` parameter to always be a reference to `the element`, but sometimes, `el` is `null` resulting to type errors like `cannot read classList of null`.

See it here: https://jsfiddle.net/2nm1kqct/22/

Open the console, you'll see the logs there.

**Inferno Metadata**

Version: 7.0.5

[2019-01-09 14:35] Havunen commented on #1432
This is expected behavior.
The parameter will be called with its removed from the DOM.
React does it same way: https://jsfiddle.net/s6ne279g/

Ref callback will be called when:

1. The html node has been attached to DOM. ( argument is the created DOM node )
2. The html node has been removed from DOM ( argument will be null )
3. The callback function of given vNode has changed. Old function gets nu

[2019-01-12 21:20] acheronfail commented on #1429
@Havunen Yes, that does indeed work!

I'll keep this issue open anyway since I believe this diverging behaviour is not an intended feature of Inferno.

[2019-01-12 21:28] acheronfail opened #1433 "[inferno-compat] does not handle prefixed handers like `onTransitionEnd`"
## Observed Behaviour

Inferno (with `inferno-compat`) fails to call the `onTransitionEnd` handler on any given DOM node.

This only happens with Chrome.

## Expected Current Behaviour

When supplying the `onTransitionEnd` prop, a the passed function should be called at the end of the transition.

In order to provide better compatibility with React components, I think the `inferno-compat` module s

[2019-01-12 21:39] acheronfail commented on #1433
I've just noticed [this file in `inferno-compat`](https://github.com/infernojs/inferno/blob/master/packages/inferno-compat/lib/ReactTransitionEvents.js). However, as you can see in my example linked above, the `onTransitionEnd` event is never called on Chrome... 🤔

[2019-01-13 17:13] Havunen commented on #1433
Hi @acheronfail

I think we could change Inferno core to use `addEventListener` instead of directly assigning event listeners to html Node. Using addEventListener should fix `transitionEnd` event and then InfernoJS does not need to worry about non-standard event names.

I will create benchmark for events to see that it does not regress in performance.

[2019-01-13 18:20] Havunen commented on #1433
Hmm, after first trial using addEventListener may not be so straightforward because then inferno needs to remember lastValue method. This gets more tricky when using `linkEvent`...

[2019-01-14 21:39] acheronfail commented on #1433
If you're happy with that I can make a PR. 😄

[2019-01-15 21:18] acheronfail commented on #1433
Awesome. With my patch in my earlier comment, these are the results of running that benchmark (on a MacBook Pro (15-inch, 2017) 2.8 GHz Intel Core i7).

## CHROME (addEventListener) vs CHROME

Chrome 71.0.3578.98

hoistedNonSyntheticEvents     | hoistedNonSyntheticEvents
------------------------------|------------------------------
**mount**                     | **mount**
Avg: 3.959999998915009

[2019-01-15 21:20] acheronfail commented on #1433
It would almost certainly be faster with a better patch, since the above one still allows property handlers to be set (for input wrappers, etc) and just overwrites them.

I'll see if I can create a PR that uses `addEventListener` everywhere.

[2019-01-16 07:19] acheronfail opened #1435 "[feature request] support capturing event handlers"
[React has support for defining event handlers](https://reactjs.org/docs/events.html#supported-events) that use capturing rather than bubbling:

I'd like for this to exist in Inferno too.
If #1434 is merged, then adding this functionality won't be too difficult since we'll be using `addEventListener` and we can change the args if `"Capture"` is found at the end of the event prop.

What are people'

[2019-01-16 10:35] Havunen commented on #1435
It would also be great to support passive event listeners. However I don't know how React defines Passive and Capture ... Also what happens when browser vendors extent the options, would be better to have future proof API and put that into inferno-compat

[2019-01-16 10:39] Havunen commented on #1433
So left side on the table is the new results and right side is the current?

The table shows how much time it takes for the whole mount/patch/unmount operation to complete. So its little bit slower, would be great to be able to keep the performance same level as before

[2019-01-16 11:14] acheronfail commented on #1435
There's an interesting discussion about this in React here: https://github.com/facebook/react/issues/6436

[2019-01-16 11:19] trueadm commented on #1435
I can expand on capture events for React (I'm in the middle of looking at the event system for React). React allows most events to work in the "capture" phase by appending "Capture" to the end of the prop name, i.e. `onClickCapture`.

A captured event gets triggered in the opposite ordering of bubbling (so before bubbled events get fired). React collects the DOM node hierarchy and traverses throug

[2019-01-16 11:31] acheronfail commented on #1435
After thinking about this a little more I think a future proof API is actually a good idea. I'm not sure React's way of appending "Capture" is the best way to do this.

In the thread I linked above there were a few different suggestions, some which stood out to me were:

[code]

[code]

In both cases if there are future changes to the `addEventListener` API then these *should* be future proof.

[2019-01-16 11:35] Havunen commented on #1433
Slower is better, the number is the time it takes

[2019-01-16 12:31] chrkulbe opened #1436 "forwardRef fails on patchFunctionalComponent"
Hi,

when patching a function component inferno dosn't differ between function component with and without forwardrefs, like on mounting.

[code]

[code]
So the call to nextVNode.type will be without ref. At the end ref is context, lastVNode.ref !== nextVNode.ref and the ref will be nulled.

[code]

Thx

[2019-01-16 12:55] trueadm commented on #1435
Agreed, this is something we're looking at too. I thought I'd add what React does right now anyway for context. A better API might be to leverage a JSX node that the compiler can optimize away at build time:

[code]

This would improve performance and reduce code size.

[2019-01-17 06:35] Havunen commented on #1436
Hi @chrkulbe

Thanks for reporting this issue, I will have a look into it when I have some free time :)

[2019-01-21 16:35] #1433 closed

[2019-01-21 19:42] Havunen commented on #1436
Fixed in master

[2019-01-21 19:42] #1436 closed

[2019-01-22 07:55] chrkulbe opened #1437 "Question: Inferno Roadmap and React compatibility"
Hello,

our internal project is growing and we are reaching a complexity, so we have to discuss internally about used libs.

We love the speed, ease and optimizations of inferno so our app is instantly available on the client side.

On the other hand, we currently have a compatiblity with react and some react libs with inferno-compat. We can use react libs in inferno and can also transpile our pro

[2019-01-22 08:21] Havunen commented on #1437
Hi @chrkulbe

We don't have any roadmap, this is community driven project where we implement new features as needed. You can do that too :)

We are using InfernoJS at Visma so there will always be support to get bugs fixed. Bugs have high priority, but new features are implemented when there is free time, high demand, or somebody is just willing to do it. Nobody gets paid for working for InfernoJS

[2019-01-22 12:19] chrkulbe commented on #1437
HI @Havunen

No we haven't rendering / performance problems.
My question based only on compatibility with react.
It seems, we must made a decision, which framework we will use in the feature without having compatibilities to the other.

[2019-01-28 14:33] j-roch opened #1439 "Inferno ignores iframe document when attaching event"
Hi,

I tried to render application (using inferno-compat) to div inside an iframe. Everything was ok until I noticed that any mouse events are not firing.

It looks like that if I have inferno running on main document so any event listener is connected to it's document (not document of iframe -> parent document of element that application is rendered to).

Probably all document.X occurrences shoul

[2019-01-28 17:01] Havunen commented on #1439
This is slightly related to another feature request https://github.com/infernojs/inferno/issues/1430

[2019-01-29 06:30] brucou opened #1440 "not an issue: example featuring inferno + web component + state machine"
As recommended in this [section](https://github.com/infernojs/inferno#more-examples) of the documentation I would like to add an example that features inferno + web component (custom element, no shadow dom) + state machine.

The codesandbox is here : https://codesandbox.io/s/9zjo5yx8po

Feel free to close this anytime, as this is not an issue.

[2019-01-30 07:06] aprilmintacpineda commented on #1432
@Havunen is there a way not to get this effect?

[2019-01-30 20:33] Havunen commented on #1432
@aprilimintacpineda Do not create new functions inside render, pass the ref function as reference.

Maybe If you ask in Slack channel somebody can share a code with you. I think this is quite common issue in React / Inferno

[2019-01-31 03:41] brucou commented on #1440
Maybe the repo is a better link as it has a README.md which will grow to explain the implementation : https://github.com/brucou/movie-search-app-inferno

[2019-01-31 08:08] aprilmintacpineda commented on #1432
Aaa I see... Using the updated codes below:

https://jsfiddle.net/qzgb6t4u/

I no longer get NULL value, I'm assuming you don't call he callback every time, but only when necessary?

Looks like I need to get myself more informed about refs. I think it's better to just learn how to use createRef. Thanks @Havunen.

[2019-01-31 08:08] #1432 closed

[2019-01-31 08:56] aprilmintacpineda commented on #377
I think it's good for inferno to support passive listener for `onScroll` by default.

[2019-02-05 21:00] EM-LilianaIturribarria opened #1442 "Inferno JS + Video JS not working"
JSFiddle
https://jsfiddle.net/EMLilianaIturribarria/cda24p1L/11/

It looks like it has an error:
"Uncaught SyntaxError: Unexpected token <"
on the render... it was very difficult to make inferno work on jsfiddle there should be more detailed instructions.

**Observed Behaviour**

When creating a component that contains a video tag to use videojs, the same error keeps appearing:
"Uncaught TypeError

[2019-02-06 13:08] Havunen commented on #1442
Hi @EM-LilianaIturribarria

`event.isImmediatePropagationStopped` seems to be jQuery event method? I don't see how its related to InfernoJS?

[2019-02-06 16:40] EM-LilianaIturribarria commented on #1442
Hi @Havunen
at first i was thinking the same thing, so i created a single html file with just the videojs and it works there.
Also i found this: https://github.com/segmentio/consent-manager/issues/18
it looks like it is a problem with inferno and not the library.
I've used videojs without jquery with react, angular, vue, etc..
so there shouldn't be any problem.

Can you please advice?

Below you c

[2019-02-06 17:21] Havunen commented on #1442
@EM-LilianaIturribarria Do you have some place where I can reproduce the described issue? single html content above does not even have inferno? and mp4 is non existent, I also tried with demo mp4 and the content played without any error. Then I added inferno to the page and still no error? Are there some steps that need to be taken to encounter the exception?

[2019-02-06 17:28] Havunen commented on #1442
Okay, seems like loading `consent-manager.js` causes this issue. I need to dive deeper to find the root cause.

[2019-02-06 17:41] EM-LilianaIturribarria commented on #1442
Sorry @Havunen
i forgot that my test included a mp4 hosted on local. Here's a link you can use https://springboardplatform.com/storage/SI-General/conversion/1736301_2.mp4
That example was just to show you that videojs as a standalone works,
but including just the videojs script on my project with inferno begins to show the mentioned error.

Thanks for looking into this, i really appreciate it.

[2019-02-06 18:02] Havunen commented on #1442
@EM-LilianaIturribarria

Also the JSFiddle you linked works are expected: https://jsfiddle.net/EMLilianaIturribarria/cda24p1L/11/

Just right click video and show controls? And play?

[2019-02-06 18:09] EM-LilianaIturribarria commented on #1442
i only see a black rectangle, no video.
and with that error the unexpected token <
I wasn't able to make any js fiddle work with inferno...
https://jsfiddle.net/EMLilianaIturribarria/cda24p1L/13/
https://cl.ly/106285f684db

I am using inferno-compat, but i don't even know what consent-manager.js is
I've commented those lines from my webpack but i still have the error:
"Uncaught TypeError: event.is

[2019-02-06 18:13] Havunen commented on #1442
@EM-LilianaIturribarria

First fiddle is black because you did not specify controls attribute to video element
Fixed fiddle: https://jsfiddle.net/w1829p35/

[2019-02-06 18:15] EM-LilianaIturribarria commented on #1442
Oh sorry, thanks for catching that.
so should i open the issue there?

[2019-02-06 18:19] Havunen commented on #1442
@EM-LilianaIturribarria

Well, I dont know. Can you show me how to reproduce this error https://cl.ly/8db18d7b4009 ?

[2019-02-06 18:30] EM-LilianaIturribarria commented on #1442
Hi @Havunen
i was debugging
and removing the following on my project fixed the videojs issue
[code]
so it is an error with inferno-compat.

[2019-02-06 18:42] Havunen commented on #1442
@EM-LilianaIturribarria

Yeah good catch! including inferno-compat makes it fail:

https://jsfiddle.net/7fg2v0ya/

[2019-02-06 18:46] EM-LilianaIturribarria commented on #1442
is there another way to include styles?
i see that i am only using inferno-compat for applying styles to the component like this:

[code]

i can't use only css cause all of that is dynamic...

[2019-02-06 18:57] Havunen commented on #1442
@EM-LilianaIturribarria

Of course. Native InfernoJS way is same as HTML
first way:

[code]

Second way ( strings )

[code]

Third way ( string template )

[code]

I also found the root cause of this bug. Its because inferno-compat defines `isPropagationStopped` method to be react compatible and video.js does not check if all methods are defined in the event, just `isPropagationStopped` and if it

[2019-02-06 19:22] EM-LilianaIturribarria commented on #1442
Great!
Thanks so much for your help @Havunen

[2019-02-06 19:57] trueadm commented on #1442
@Havunen ‘isPropagationStopped‘ comes from synthetic events. Removing it will likely break React compat. There’s also a few other methods needed too, like ‘persist()’.  It should be documented in the React docs site.

[2019-02-06 20:00] trueadm commented on #1442
Also on the note of synthetic events, one thing that that should probably change in Inferno (that I originally created) was the monkey patching of the native event with ‘defineProperty’. I found out the other day that causes major depots in V8, causing the event delegation logic to never optimize properly.

[2019-02-06 20:04] Havunen commented on #1442
Yeah I moved those methods to Inferno core synthetic events only. That will fix the issue described here. Lets see about optimizing it later.

[2019-02-06 20:17] Havunen commented on #1442
Fixed in 7.1.2

[2019-02-06 20:17] #1442 closed

[2019-02-08 19:35] Havunen opened #1443 "Implement support for Inferno.memo ( React.memo )"
Implement support for React.memo and drop support for functional component hooks `onComponent` -API becomes useless after implementing this.

https://reactjs.org/blog/2018/10/23/react-v-16-6.html#reactmemo

[2019-02-08 19:37] Havunen opened #1444 "Implement support for React.lazy"
Add support for React.lazy
https://reactjs.org/blog/2018/10/23/react-v-16-6.html#reactlazy-code-splitting-with-suspense

[2019-02-08 21:12] brucou commented on #1440
just made the corresponding pull request for your review

[2019-02-11 00:52] mehcode opened #1446 "Inferno 7.1.2 release does not include core types"
##### inferno 7.1.2

[code]

##### inferno 7.1.1

[code]

[2019-02-11 06:48] Havunen commented on #1446
HI @mehcode

Thanks for reporting this issue. Its most likely caused by some package update. I need to into this

[2019-02-11 11:34] Havunen commented on #1446
v7.1.7 released. It fixes this error :)

[2019-02-11 11:34] #1446 closed

[2019-02-15 11:13] chrkulbe opened #1447 "Question: Why does inferno change given keys on _normalizeVNodes?"
Hi,

I'm wondering, why inferno repaints some dom elements if I trigger rerender (manually) without changing properties.
It seems that Inferno improperly modifies the key when using arrays.

e.g.
First render cycle I set a key like 'DemoKey'. With _normalizeVNodes (called by
[code]
) inferno prefix the key with the current key of the parent array (**$0** or any other running number).
If rerenderin

[2019-02-15 11:35] chrkulbe commented on #1447
2nd Question: Should we also use keys for our own components that are not directly represented by a dome node?

[2019-02-15 13:02] Havunen commented on #1447
@chrkulbe This sounds like bug. Do you have nested arrays returned from render? Can you create JSFiddle to demostrate the issue? This needs to be fixed.

[2019-02-17 09:58] Havunen commented on #1447
@chrkulbe Okay, now I understood what you meant. So `$` has been used as reserved key to recognize vNode has gone through normalization, because in some cases same vNode can come there multiple times.

If you get multiple prefixes for the same node that means the given vNode is inside nested array and its location in the vNode tree has been changed. To me it sounds like you have nested tree to ren

[2019-02-17 10:02] Havunen commented on #1447
Can you clarify what you mean by this? Generally you want to always use keys when rendering dynamic lists. The key is used to keep DOM state correct, and trigger lifecycle for Components.

[2019-02-17 14:38] Smorgasbordq opened #1449 "Inferno Delegation Not Working Properly Outside of Webpack"
## Issue Template

I'm wondering if it's a configuration issue on my end, but it seems Inferno hasn't been playing well with any bundling outside of webpack's.

**Observed Behaviour**
I cloned parcel inferno at [https://github.com/plrenaudin/parcel-inferno](https://github.com/plrenaudin/parcel-inferno), and ran npm-check-updates -u to update.
I also updated the .js to .tsx, and after everything se

[2019-02-17 21:01] Havunen commented on #1449
Hi @Smorgasbordq

Can you clarify the expected behavior. What do you mean by

[code]

Inferno will make only specific events synthetic. onClick and few others. All other events will use native DOM API.

[2019-02-17 22:16] Smorgasbordq commented on #1449
Sure.  After attempting a route (or clicking on an anchor element), it appears that Inferno adds additional eventListeners of the same type to (I believe) the document.  I looked at the element in chrome tools, and it registered many event listeners.  The event type was indeed onClick.  It was almost as if the handleEvent function was unable to realize that an event was ever registered in the firs

[2019-02-18 02:15] springuper commented on #1443
great to learn Inferno is going to support it, could you share an estimated date if possible?

[2019-02-18 12:24] chrkulbe commented on #1447
It was hard to extract the problem but here it is

https://jsfiddle.net/26qz7eo4/1/

All elements are keyed and dosen't changed (on dom), but will be readded.
To visualize the readding to the dom, all elements have an inital animation.

To prove, that the render with dom target within the rerender function isn't the problem, disable setTimeout and use the div with the ref. The dom elements will be

[2019-02-18 12:26] chrkulbe commented on #1447
At the domlevel it make sense to use keys for element reusing. Make it also sense at Component/Funktional level? What will be reused here?

[2019-02-19 20:18] Havunen commented on #1447
@chrkulbe If you have key for component it will be removed and attached again including its whole subtree. Also lifecycle events will trigger again. I found there was bug in the code as you suspected. I will make fix and release new version. Thanks for the help! :+1:

[2019-02-19 20:40] Havunen commented on #1447
Fixed in v7.1.8

[2019-02-19 20:40] #1447 closed

[2019-02-20 15:40] nikku opened #1450 "Switch to opencollective-postinstall"
Inferno depends on a huge amount of dependencies, pulled in via `opencollective`.

To give users a better install experience, consider to switch to [`opencollective-postinstall`](https://github.com/opencollective/opencollective-postinstall), as suggested by the library authors themselfes (cf. https://github.com/opencollective/opencollective-cli/issues/7#issuecomment-461389421).

Checkout the insta

[2019-02-20 15:48] Havunen commented on #1450
Yep lets do this! 👍

[2019-02-20 17:13] Havunen commented on #1449
@Smorgasbordq I cloned the repository, and ran `npm run start` I didn't find any additional eventListeners? What exactly needs to be done? There is 1 event listener for `input`, 1 event listener for `click` and one for `popstate` I also added debugger to `dom.addEventListener` and it came to those only once.

[2019-02-20 17:21] #1450 closed

[2019-02-20 17:22] nikku commented on #1450
Thanks for picking this one up so quickly. :+1:

[2019-02-20 17:22] Havunen commented on #1414
I'm closing this issue as Wiki and other articles are most likely better source for information :)

[2019-02-20 17:22] #1414 closed

[2019-02-20 17:27] Havunen commented on #1419
I'm closing this issue due to inactivity and its missing steps to reproduce it. If there is still issue please re-open.

[2019-02-20 17:27] #1419 closed

[2019-02-20 17:31] #1410 closed

[2019-02-21 00:15] Smorgasbordq commented on #1449
You were unable to reproduce the issue?  Strange.  For me, it did start up with a single eventListener, but after attempting a route (or clicking on an <a></a>) it seemed that additional listeners were registered.

[2019-02-21 02:16] aprilmintacpineda commented on #1450
Whooo! now it's pretty fast as of 7.1.9!

[2019-02-21 08:51] Havunen commented on #1449
@Smorgasbordq Okay, Lets create new ticket if the issue if it happens again.

[2019-02-21 08:51] #1449 closed

[2019-02-22 13:28] chrkulbe opened #1451 "Question: Should a snapshout includes props.children?"
Hello again,

after reruning some test, my old snapshots missing somthing like this:
[code]
It seems, that in a previous version of inferno/inferno-compat/inferno-test-utils the children of a react component dosn't exists in the props of an element within the snapshoot.

What behaivour is correct? Currently the children exists twice. One time as attibute/prop and the other time as real dom child.

[2019-02-22 15:06] Havunen commented on #1451
@chrkulbe

Hey, I think we should check how React does it and mimic the behavior.

[2019-02-23 02:04] chrkulbe commented on #1451
Some thoughts why we shouldn't mimic react behaivor, if its differs.

- If inferno-compats works correctly, snapshots shouldn't depends on modifications for react.

- If children dosen't existings at the dom level (as an attribute of a node), it shouldn't be visible in the snapshot also.

- When I replace an Inferno component with a React component acting identical the snapshot shouldn't change, s

[2019-02-25 08:40] chrkulbe commented on #1451
I think it is a bug.
It is NOT a inferno-compat problem.
Since I didn't know how to create a JSFiddle inferno unit test, here is the code.

[code]

The resulting snaphot:
[code]

If you play with the divs, remove them or add another nesting, the snapshot will give you different results.

If a Component/function has only one nesting level, the props.children will be deleted by the snapshot itsself.

[2019-02-25 10:53] tianyingchun opened #1452 "div click event not firing on the latest IOS safari 12.2 beta"
## Issue Template

**Observed Behaviour**

inferno version: 7.1.9
the div click event not firing at latest ios safari 12.2.beta event if we add style { cursor:pointer }

**Expected Current Behaviour**

the click event should be fired.

**Inferno Metadata**
iPhone 12.2 beta
safari iOS app webview

[2019-02-25 11:07] trueadm commented on #1452
@tianyingchun This used to be handled, by trapping non-interactive elements with an `onclick`. It was removed at some point though https://github.com/infernojs/inferno/commit/735094e96129466831fb152a956ec348b8a10463#diff-9b026a56429045a873c2918055de77c8L137. @Havunen will likely know more. Adding an `onclick` to a non-interactive elements gives it a intersection region, that allows it to trigger c

[2019-02-25 11:40] Havunen commented on #1452
Safari 12.1 worked as expected so 12.2 should work too. If they are going change this behavior old way should be deprecated before removal. Also other browsers works as epxected mobile and desktop without any of these hacks:

- CSS cursor pointer
- inline `onclick` listener
- tabIndex attribute

IMO This should be fixed from Apple side. Where we can report this bug to Apple?

[2019-02-26 09:02] Havunen commented on #1451
@chrkulbe Would you like to send PR to fix the behavior? :)

[2019-02-27 21:06] simonjoom opened #1453 "useState hook"
Does inferno compatible with the new react hook useState?

[2019-02-28 06:43] Havunen commented on #1453
No, not yet at least

[2019-03-01 07:29] foisonocean commented on #1453
@Havunen
Is there any plans to implement hooks in the future?

[2019-03-05 15:42] chrkulbe commented on #1451
Sorry for the alte reply.

The problem occures in combination with inferno-compat createVNode option/hook. This isn't a problem in gernerally, but when I run a single test file with raw inferno components and a test suite with one file containing a react component / using inferno-compat, the snapshot of the first raw inferno test file fails.

I think there a several options:

- remove all props.ch

[2019-03-05 17:19] Havunen commented on #1451
@chrkulbe How did you plan to detect React components exactly?

[2019-03-05 20:27] chrkulbe commented on #1451
@Havunen Currently I don't know.

I think the safest solution was to inject metadata in each inferno compat function / class by wrapping it, because each React.fnc call like React.createElement must use the compat functions / classes.
React by itself has something like this (REACT_ELEMENT_TYPE) to identify its structure..

Pass through the "flag". This can be different for every compat type :o). U

[2019-03-06 12:43] chrkulbe commented on #1451
Hi, I've changed the code in a fork and all works great, because each react element calls React.createElement which was patched.

But lerna prevents me to commit, because the unit tests fails.
The Problem here is, that all JSX code in React unit tests will be transpiled to use inferno.createVNode instead React.createElement, because this is not a React project. Many React tests fails missing the n

[2019-03-07 05:10] aprilmintacpineda opened #1454 "Confusion on forwardRef and ref"
This is a docs issue.

on https://github.com/infernojs/inferno#forwardref-package-inferno the following code is suggested:

[code]

I remember that:

[code]

is not a good idea because you're passing in a new function everytime, so is this a different case because we're using `forwardRef`?

[2019-03-07 07:27] chrkulbe commented on #1451
Pull Request: #1455

[2019-03-07 08:15] chrkulbe commented on #1443
Why will be all  `onComponent `-API s becomes useless? React.memo replaces `onComponentShouldUpdate` but not the other hooks!?!

[2019-03-07 12:36] chrkulbe commented on #1444
Is it necessary to integrate the functionality (also #1443) in inferno like react did, or can we write a HoC which change the state to initialize rendering after resolving the dynamic import?

[2019-03-07 13:50] Havunen commented on #1443
@chrkulbe Nothing is decided, there was discussion in Slack about dropping them. I recently did trial with this and we could maybe just add this functionality without any breaking changes

[2019-03-07 13:57] Havunen commented on #1454
@aprilmintacpineda Yeah you are right. Its better to hoist the `ref` callback function. Or maybe use newly added `createRef` method.

[2019-03-10 10:04] iambumblehead commented on #1426
@Havunen I am still seeing this problem in inferno 7.1.9

[2019-03-11 09:20] chrkulbe commented on #1451
New PR: https://github.com/infernojs/inferno/pull/1456

[2019-03-11 15:54] Havunen commented on #1451
I merged the PR and added test cases for it. Releasing 7.1.10 soon

[2019-03-11 16:33] Havunen commented on #1451
7.1.10 released.

[2019-03-11 16:33] #1451 closed

[2019-03-14 01:30] #1440 closed

[2019-03-14 22:21] bumblehead opened #1457 "default.a.createContext is not a function"
I'm trying to upgrade inferno in a package that uses and exists with other packages that use react and react-redux. Inferno is being updated from version 3.9.0 to the current 7.1.0 and this inferno-using component wraps another package using react-redux and redux 4.0.1.
[code]
Do you have any ideas for me to resolve this?

The component where the error seems to originate imports and uses react-red

[2019-03-14 22:58] iambumblehead commented on #1457
I tried adding this to my webpack.config and the application renders now, but with warnings about unsafe legacy lifecycles. Do you think this is safe to continue using?
[code]

[2019-03-15 03:19] iambumblehead opened #1458 "How does one disable the big red warning message?"
I've updated inferno and redux in an application using [react-toastify.][0] Because react-toastify [uses 'legacy' lifecycle][0] functions, inferno prints the following red message to the console,
[code]
Is it safe to use inferno with react-toastify? If so, how should one disable the warning message?

[0]: https://github.com/fkhadra/react-toastify/issues/323

[2019-03-15 08:46] iambumblehead commented on #1458
inferno team / @Havunen,

The response in this related ticket is detailed and may interest you https://github.com/fkhadra/react-toastify/issues/323#issuecomment-473195315

[2019-03-15 11:02] Havunen commented on #1458
We could add same `__suppressDeprecationWarning` that React uses. Its development warning anyway

[2019-03-15 11:04] Havunen commented on #1458
@iambumblehead
If you want to contribute the code change, the place where this change could be implemented is here:

https://github.com/infernojs/inferno/blob/21b11ee40f2f3a3129627bd8ed002f0dc3078834/packages/inferno/src/DOM/utils/componentutil.ts#L7-L30

Remember test cases :)

[2019-03-15 11:08] Havunen commented on #1457
@iambumblehead

The warning means you are using those methods somewhere in your code, but InfernoJS or ReactJS will not call these methods anymore after you have started using new lifecycle APIs

[2019-03-18 08:42] alanlima commented on #1458
Hey @Havunen / @iambumblehead,

If it is ok, I can submit a PR to close this issue.

I was playing around with inferno's source code and I managed to finish it.

@iambumblehead if you are already working on this issue, please ignore me ;). I just started because I would like to learn anyway and end up finishing it. 🙃

[2019-03-18 19:46] niofis opened #1459 "Inferno hydrate promise"
I am toying with a proof of concept for having a full app built in inferno that's server side rendered and hydrated on the client side. With the aim of having it work even if the client has no javascript enabled.

You can take a look at the current implementation here: [https://github.com/niofis/ssr-todo](https://github.com/niofis/ssr-todo), the only problem is, that the hydrate step clears the ta

[2019-03-19 10:19] Havunen commented on #1459
@niofis

I cloned your repository and noticed you are doing development in minified (production) version of InfernoJS. When you do that you are missing all development warnings and validations. After changing your template infernojs source to
[code]

You can see error in console. `Inferno hydration: Server-side markup doesn't match client-side markup` This is why the flicker happens.

[2019-03-19 10:35] Havunen commented on #1459
I don't know where this `getInitialProps` method has come from? Maybe its been there since the first version of ssr implementation. I couldn't find any documentation about it either... Maybe @trueadm knows.

[2019-03-19 11:01] trueadm commented on #1459
I'm not sure about `getInitialProps` either. I don't remember adding it? I believe Next.js had something similar back in the day, so maybe it's from that. Either way, in my opinion, it should be removed as it's clearly not right and is causing confusion. Props should be passed via vNodes only, having them resolve via some method breaks a lot of assertions.

[2019-03-19 15:42] makepost commented on #1459
[History before monorepo](https://github.com/infernojs/inferno/commits/5679c3c570c69015a2d478d7443d5384f6b07149/src/server/renderToString.queuestream.ts) says @ddibiase and @thysultan worked on [experimental Render Stream API](https://infernojs.org/docs/api/inferno-server) that Inferno 1.2.1 introduced in 2017. I prefer another data loading approach, which is probably similar to what they were try

[2019-03-19 16:59] niofis commented on #1459
@Havunen exactly; that happens  because on first render the markup doesn't match with the virtual dom generated by hydrate, as the components do not have the same props like the ones used when doing the server side rendering; but if the hydrate step worked the same way as **streamQueueAsString** does, calling **getInitialProps** for each compononent, then the same markdown structure could be gener

[2019-03-19 17:17] makepost commented on #1459
How is this part different in the current approach?

[2019-03-19 17:33] niofis commented on #1459
Currently it doesn't have any routing

[2019-03-20 07:42] zharkov-eu opened #1460 "Inferno-redux typings issue"
Inferno-redux has compile time typings error when importing relative path.
May {InfernoNodeArray} need to be imported from "inferno"?

Error message:
`
node_modules/inferno-redux/dist/components/Provider.d.ts:15:136 - error TS2307: Cannot find module '../../../inferno/src'.
15     render(): VNode | (string & VNode) | (number & VNode) | (false & VNode) | (true & VNode) | (InfernoElement<any> & VNod

[2019-03-20 15:34] iambumblehead commented on #1458
@alanlima that is awesome! I have not worked on this issue and am looking forward to using your changes.

[2019-03-20 20:38] alanlima commented on #1458
Hi guys,

@Havunen I submitted the PR but there is a branch restriction (probably because I did PR from `master` branch).
I read the contribution guide and the PR should be done under `dev` branch, but there is any. **Should I create it on my repository first?**

[2019-03-21 07:52] Havunen commented on #1460
Yeah this is bug, would you like to fix it?

[2019-03-21 18:01] makepost commented on #1459
@niofis While I don't understand where in your proposal `hydrate` is supposed to look for the existing state and how you avoid re-fetching what the server passed but do fetch on route change, as a whole this is interesting. Please keep on.

[2019-03-24 06:47] Havunen commented on #1460
My previous comment was based on the error message, but I don't actually see any `src...` related paths in `inferno-redux`.

[2019-03-24 06:48] Havunen commented on #1460
What version of InfernoJS you are using? Maybe this is config related?

[2019-03-24 07:09] #1452 closed

[2019-03-24 08:08] Havunen commented on #1458
@alanlima

I removed the docs about dev branch. Dev branch no longer exists, it was just more maintenance for me.

[2019-03-24 08:08] Havunen commented on #1458
PR for this ticket has been merged. I will create new release.

[2019-03-24 08:32] Havunen commented on #1458
7.1.11 released

[2019-03-24 08:32] #1458 closed

[2019-03-27 23:18] simonjoom commented on #1453
preact just implemented a hook compat version

https://github.com/developit/preact/tree/master/hooks

i looked on code, maybe can somebody inspired to add this support to inferno?

I would like to use amazing react-spring who use hook system =)

[2019-03-31 15:53] sxwebdev opened #1462 "How to use feathericons with infernojs?"
How to use feathericons with infernojs?

[https://github.com/feathericons/feather](https://github.com/feathericons/feather)

[code]
does not working

[code]
return string and does not rendered

thx

[2019-04-02 04:34] Havunen commented on #1462
You can do it this way, this is for React but same practices apply to Inferno:

https://github.com/feathericons/react-feather/tree/master/src/icons

[2019-04-05 19:56] dessalines opened #1463 "How to do router hash links? IE scroll to that part of the page"
I need to scroll to a certain part of the page, using hash routing. Something like:

`/#/post/32#comment-id`

This project seems to solve it for the react router, but it doesn't work with inferno:
https://github.com/rafrex/react-router-hash-link.

[Here's the main source,](https://github.com/rafrex/react-router-hash-link/blob/master/src/index.js) seems like it could be easily adapted to the infern

[2019-04-08 23:22] dessalines commented on #1179
Is this implemented? withRouter

[2019-04-08 23:39] dessalines commented on #1179
Nevermind, I found a trivial way to handle this:

`this.context.router.history.push(page);`

[2019-04-15 08:36] joseprio opened #1465 "Setting a Ref to the previous element sets it to null"
## Issue Template

**Observed Behaviour**

Inferno is setting a Ref object (created through Inferno.createRef) to null, instead of the generated DOM element.

**Expected Current Behaviour**

Inferno should set the Ref to the created DOM element.

I wrote a CodePen illustrating the problem: https://codepen.io/anon/pen/EJwpmR

Moving the selected element forward works perfect, but setting it to a pr

[2019-04-17 09:23] #1465 closed

[2019-04-18 22:16] joseprio opened #1467 "Add support for JSX pragmas"
## Issue Template

**Observed Behaviour**

Not an issue, but a feature request. `babel-inferno-plugin` processes JSX in an optimized way, but it doesn't understand the JSX pragma annotation, like `@babel/plugin-transform-react-jsx`:
[code]
This would be useful for applications that use the JSX syntax for other purposes.

**Expected Current Behaviour**

`babel-inferno-plugin` should transform the J

[2019-04-23 08:15] joseprio commented on #1465
Any ETA for the next version release? :)

[2019-04-24 20:53] Havunen commented on #1467
Hi @joseprio

babel-plugin-inferno has support for pragmas, see: https://github.com/infernojs/babel-plugin-inferno#pragma

[2019-04-24 21:07] Havunen commented on #1465
Released 7.1.12

[2019-04-30 09:20] abaksha-sc opened #1469 "Attribute 'selectedIndex' of select tag renders as 0 when passed -1 in IE / (old) Edge"
## Issue Template

**Observed Behaviour**

When attribute 'selectedIndex' passed as -1 to create node 'select', it has value as 0 after render.
This problem reproduces in IE 11 and Edge browsers, because they have a bug:
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/21337450/

When element 'select' append on any other child, property 'selectedIndex' resets to 0.
As result re

[2019-05-06 12:10] renjiza opened #1471 "Support for the experimental syntax 'decorators-legacy' isn't currently enabled"
i had create project using create-inferno-app with v7.1.12 when i used inferno-mobx i got problem with this decorator-legacy, can anyone help me step to fix this ?, thanks before

[2019-05-07 05:45] Havunen commented on #1471
@renjiza This is babel plugin specific question, If I remember correctly legacy decorators does nothing else but wraps the function with another function call which adds the functionality there.

Take a look at the new decorators plugin: https://babeljs.io/docs/en/babel-plugin-proposal-decorators

[2019-05-08 16:45] renjiza commented on #1471
sorry i had miss that plugin, thanks

[2019-05-08 16:45] #1471 closed

[2019-05-10 07:46] TroyTae opened #1472 "Cannot find type for JSX Element"
**Observed Behaviour**

Hello now I create a UI component base on inferno.
And I want to define type like this...
[code]
So I found type definition like `React.HTMLProps`.

There are some definition in inferno but no exported!
[code]

**Expected Current Behaviour**

Can you export this?
Or is there some other way?
As a temporary measure, I created another type definition file.
[code]

**Inferno Me

[2019-05-10 10:24] TroyTae commented on #1472
One more thing, I cannot pass InfernoNode because of type.
But this is work fine in JS.
There is need to think about relationship between VNode and InfernoNode.

[2019-05-10 15:16] Havunen commented on #1472
@TroyTae You are right. I have experienced some compatibility issues also with that in the past. Do you know how this could be fixed?

[2019-05-13 01:49] TroyTae commented on #1472
Ah you already know about this issue!
Then I'll close this and create a fixing PR :)

[2019-05-13 01:49] #1472 closed

[2019-05-15 12:57] chrkulbe opened #1473 "forwardRef seals functional component so it isn't extensible"
Hello,

we use static members on class components and also on functional components. On functional components they aren't real statics, but the usage is identical.

The problem is the forewardRef function. It seals the resulting object so it cant be extend. Also the extention of the original render function will be hidden.

[code]
This fails caused by sealing.

[code]
This fails caused by hiding.

[2019-05-16 19:18] tamb commented on #1299
Can you paste an example of how this would work within a react app using inferno-compat?  What's the alias in webpack look like?

[2019-05-24 02:29] renjiza opened #1474 "input text for custom with pattern is not working"
creating using mobx
i have want make input number only using pattern like
const { globalStore } = this.props

_handle (e) {
 this.props.globalStore.mynumber = (e.target.validity.valid) ? e.target.value : this.props.value ;
}

and render
`<input type="text" value={globalStore.mynumber} pattern="[0-9]*" onInput={(e) => this._handle(e)} />`

its fine when i write "123",
but when i write "123abc" on i

[2019-05-24 11:14] #1474 closed

[2019-05-24 11:23] renjiza opened #1475 "input field still free flow value for display"
I have input field type text with regex for accept number only and send to mobx observable variable

But when onInput triggered , display text inside input field UI still uncontrolled although mobx value has controlled

Example :
`
I write 123abc
On mobx variable = 123
On input field UI = 123abc
`

I tried on react its working fine , is it bug ?
Thanks before

[2019-05-24 11:35] renjiza commented on #1475
@Havunen  can help this ? Thanks before

[2019-05-25 20:32] tamb opened #1477 "Inferno website is down. This should really be fixed"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/inferno.js).
- Check that the i

[2019-05-26 11:24] nassirdreffy opened #1478 "homepage is down"
the official Website is down.

[2019-05-26 17:45] DanteCely commented on #864
Hi, you can use onFocus. It woks for me.

code example:
`<label className="btn btn-info" key={index}>
                <input type="radio" name="orderOption" value={value} onFocus ={this.handleInput} autoComplete="off"/>
                {namebutton}
              </label>`

[2019-05-28 02:40] Havunen commented on #1475
@renjiza can you please create github repository jsFiddle or other way to reproduce the issue you are having?

[2019-05-28 02:41] Havunen commented on #1478
I have been traveling in NYC for a week now. I will get back to home next week. I can look into website issue then.

[2019-05-28 02:53] Havunen commented on #1477
https://github.com/infernojs/inferno/issues/1478

[2019-05-28 02:53] #1477 closed

[2019-05-28 02:58] Havunen commented on #1473
Hi,

Thanks for reporting this issue.
Yeah this is bug. I need to look into this when I'm back home.

[2019-05-30 06:31] joseprio opened #1479 ""Waiting for roots to load..." message in React dev tools"
**Observed Behaviour**

Inferno app isn't showing properly in Chrome dev tools React tab, even though it's using using inferno-devtools.

**Expected Current Behaviour**

The inferno app should show in the Chrome dev tools React tab

**Inferno Metadata**

Inferno 7.1.12; works in Inferno 5.6.1, but seems to be broken since 6.0.0-rc.0

To reproduce, I created a very simple app using `create-inferno-

[2019-05-30 06:33] joseprio commented on #1479
React dev tools properly detect it, but never finishes loading, showing a `Waiting for roots to load...` message

[2019-05-30 13:47] Havunen commented on #1479
Its possibly broken by some update to react-devtools browser addon. I think it would be more future proof to build our own browser addon. But for now lets just fix this.

[2019-05-30 17:27] Havunen commented on #1473
Extending forwardRef components will be allowed now. It was anyway allowed in production mode and I checked React also allows it. However keep in mind that forwardRef will create new object and used in different way compared to normal component, but if you have some custom logic it should be fine.

[2019-05-30 18:29] Havunen commented on #1478
@aretecode Started working on this, beta site here: https://infernojs.aretecode.now.sh/

[2019-05-30 19:02] Havunen commented on #1479
Fixed 7.1.13

[2019-05-30 19:02] #1479 closed

[2019-05-30 19:02] Havunen commented on #1473
Fixed in 7.1.13

[2019-05-30 19:02] #1473 closed

[2019-05-31 09:09] joseprio commented on #1479
@Havunen awesome! Thanks for taking care of this.

[2019-06-01 02:54] aretecode commented on #1478
@Havunen https://infernojs.aretecode.now.sh/docs/guides/installation the docs are loading now

[2019-06-02 15:03] Havunen commented on #1478
Homepage is up again! https://infernojs.org

[2019-06-02 15:03] #1478 closed

[2019-06-03 15:37] joseprio opened #1480 "Using Fragment prevents React Dev Tools from working"
## Issue Template

**Observed Behaviour**

The Root node isn't showing in React Dev Tools when a Fragment is used; instead, an error appear in the console and it permanently shows "Waiting for roots to load..."

**Expected Current Behaviour**

The Root node should appear.

This is the code the reproduces this problem from a basic `create-inferno-app`:
[code]

The error in the console:
[code]

Oddl

[2019-06-08 16:50] anpos231 commented on #1480
I can confirm I am having this error too.

[2019-07-02 10:19] smcatala commented on #1299
@tamb maybe something like https://github.com/preactjs/preact/pull/963#issuecomment-408635151 ?

[2019-07-04 08:12] smcatala commented on #1299
for the record, here is another way of adding the `createContext` function, e.g. for [developing `inferno` components in `storybook`](https://gist.github.com/smcatala/935881d7cceb3d040eab45fb91a6a859):
first install [`create-react-context`](https://www.npmjs.com/package/create-react-context) for `react`,
then add the following `inferno-compat.js` script to your project, e.g. in a `lib/` folder at

[2019-07-13 09:18] Havunen opened #1482 "New event propagation system"
Implement new event propagation system to support shadow roots and iframes. The basic idea is simple:
- event.composedPath() returns html nodes across The shadow root boundaries. Get the first html node from the stack & loop through them

Implement new benchmark or check If existing event benchmark can be used to make sure there is no regression in performance.

Verify composedPath works through i

[2019-07-13 11:53] Havunen commented on #1482
We should also measure is it faster to loop dom nodes from composedPath compared to parentNode

[2019-07-17 07:13] #1467 closed

[2019-07-17 13:16] Havunen commented on #1482
Browser support is horrible for path and composed path...

Neither IE11 nor Edge (v18) supports either path or composedPath. Firefox supports composedPath. Chrome supports both path (it was Google's original idea) and composedPath.

[2019-07-17 14:39] Havunen commented on #1457
If you change rect-redux to inferno by alias you can also uninstall that component. As long as you use basic functionality it should be safe.

[2019-07-17 14:39] #1457 closed

[2019-07-17 14:40] Havunen commented on #1480
I think this bug should be fixed in next release.

[2019-07-17 14:44] Havunen commented on #1480
@joseprio Would you like to fix this bug or shall I do it?

[2019-07-17 14:45] Havunen commented on #1418
I think this issue was resolved. If something is still unclear please re-open

[2019-07-17 14:45] #1418 closed

[2019-07-17 14:47] Havunen commented on #1463
I believe this is new functionality in React-router and was not there by the time it was ported to InfernoJS. Do you see this functionality important? Would you like to do the porting @dessalines ?

[2019-07-17 14:50] Havunen commented on #1462
I think same practices apply to Infernojs what does to React. You need to alias React with Inferno in your webpack/rollup config. Also make sure you are using inferno js babel plugin to transform style rules. If the package does not work, you can just copy paste it and it will definitely work.

[2019-07-17 14:50] #1462 closed

[2019-07-17 14:53] Havunen commented on #1459
@niofis What do you think about removing `getInitialProps` method all together. Maybe you can use constructor or other lifecycle method to do your thing?

[2019-07-17 14:54] Havunen commented on #1454
This part of documentation was not performance focused and tried to demostrate the forwardRef behavior. All the same "ref" practices apply to forwardRef components what does to normal components.

[2019-07-17 14:54] #1454 closed

[2019-07-17 14:54] #1437 closed

[2019-07-17 14:57] Havunen commented on #1363
The second parameter of render is used to target rendering. It could be Html Node, element, or similar fake JS object (jsDOM?)

[2019-07-17 14:57] #1363 closed

[2019-07-17 14:58] Havunen commented on #1033
Closing as this issue is getting old. Please re-open if its still an issue.

[2019-07-17 14:58] #1033 closed

[2019-07-17 14:59] Havunen commented on #994
Closing as this issue is getting old. Please re-open if its still an issue.

[2019-07-17 14:59] #994 closed

[2019-07-17 15:19] dessalines commented on #1463
It's not necessary anymore, unless other ppl want the feature. I fixed it in a more manual way by using `props.match.params...` and the `.omponentDidUpdate` event.

[2019-07-25 19:22] Havunen commented on #1469
To fix this issue we would need to change the order of appending child nodes to parentNode, however that change causes incompatibility with React.Portals. Inferno would render them in opposite order vs React. I think `componentDidMount` -hack is acceptable workaround for now.

[2019-08-05 03:09] dessalines opened #1483 "inferno-compat issue: TypeError: _react.default.createContext is not a function"
Versions:

[code]

I'm trying to internationalize an app I've written in inferno. I tried lingui, and failed, and now am trying i18next, using `inferno-compat`.

**Observed Behaviour**
After aliasing `react` and `react-dom` to `inferno-compat`, it correctly compiles, but gets the console error:

`TypeError: _react.default.createContext is not a function`

If I alias them to simply `inferno`, I get

[2019-08-05 05:21] Havunen commented on #1483
What kind of functionality you need from i18next framework? We are sing i18next package and calling translate method there.

[2019-08-05 19:14] dessalines commented on #1483
Translations, primarily the Trans tag and T tags.

I did find this project, which appears to have I18n support for inferno directly, but it doesn't have much documentation. https://github.com/nimbusec-oss/inferno-i18next

After I add some typings for it I'll be able to test it out.

[2019-08-06 12:39] tamb commented on #1444
I think inferno should have a new release under `@inferno` and features like this can be released under smaller packages in that npm scope. `@inferno/suspense` etc

[2019-08-13 19:23] Havunen commented on #1430
This ended up being far more easier task than initially I thought. It will be implemented in next release.

[2019-08-13 19:23] #1430 closed

[2019-08-13 19:24] Havunen commented on #1482
Closing. Found another way.

[2019-08-13 19:24] #1482 closed

[2019-08-15 15:04] simonjoom opened #1485 "forwardRef problem in last version (today)"
i found a problem with forwardRef in production mode:
I use gatsby-link using forwardRef

i got an error 'type ' is not a function
i changed the code and return render instead of object { render } fixed the problem for me.

below code updated
[code]

[2019-08-15 15:12] Havunen commented on #1485
Then you are creating normal functional component and not forwardRef component

[2019-08-15 15:12] Havunen commented on #1485
You need to find the place where you are calling function forwardRef with wrong parameter

[2019-08-15 15:15] simonjoom commented on #1483
like preact you need the polyfill version of react-context.
install in your deps:
create-react-context (https://github.com/jamiebuilds/create-react-context)

and if you build with web pack
add an alias:
 "create-react-context": `node_module/create-react-context`,

if still not working;
manually find all package using react.createContext  and be sure it's pointing to the create-react-context you in

[2019-08-16 20:22] simonjoom commented on #1485
here the code used.
Is is a bad way like that?  (i don't know at all about the concept forwardRef.. it's the code taken from a router library that i use)

let myLink = forwardRef(({ innerRef, ...props }, ref) => (
<GatsbyLink innerRef={ref || innerRef} {...props} />
))

export default myLink

[2019-08-16 20:27] Havunen commented on #1485
ForwardRef allows you to move the ref to specific Component or element. See the second parameter of forwardRef callback function.

If you dont set ref to myLink then it does not matter

[2019-08-17 06:09] Havunen commented on #1485
I'm closing this issue because I think its not bug. However if you think your code is right and still it fails please re-open the ticket with code sample to reproduce. Thanks!

[2019-08-17 06:09] #1485 closed

[2019-08-17 14:12] askuzminov commented on #1480
We can add in createReactDOMComponent
  if (vNode.type === VNodeFlags.Fragment) {
    vNode.type = 'Fragment';
  }
and VNodeFlags.Fragment in updateReactComponent.

But react-devtools has a new version that is no longer compatible with inferno-devtools.
https://reactjs.org/blog/2019/08/15/new-react-devtools.html

[2019-08-17 16:12] Havunen commented on #1480
It takes a lot time to maintain the compatibility with React dev tools. I somehow think it would be better to just implement inferno-dev-tools and remove all hacks.

[2019-08-17 21:34] joseprio commented on #1480
Maybe the hacks needed to support React dev tools could be present only in the dev version of Inferno? About the react-devtools becoming incompatible, people can still compile the extension with backwards compatibility or just use an old version.

[2019-08-19 10:37] askuzminov commented on #1480
I agree with @Havunen. Native dev tool will be easier to support, will be fully compatible without hacks and it will be possible not to depend on the development of react.

[2019-08-20 18:33] eramosr18 commented on #1277
Hey, I'm having the same issue after upgrading from Inferno 3  to 7, everything works except with the value, here is an example of how the input is coded:

`var {createComponentVNode, createVNode} = require('inferno');
var {createClass}     = require('inferno-create-class');

// props
// - value      : (required) string -> input value
// - placeholder: (optional) string -> what to show as a placeh

[2019-08-20 21:19] Havunen commented on #1277
@eramosr18 In some version long time ago. Maybe InfernoJS 4? InfernoJS started following the same pattern with input elements what react does. Basically meaning the input value will always come from the virtual DOM and not real DOM. This is good for security point of view, so external scripts cannot so easily manipulate the state by changing dom value.

To make your component compatible you need t

[2019-08-21 16:15] simonjoom commented on #1485
ok
I completly recreate my repo i use babel 7 refresh all my deps,

i've got still an error that i could not use forwardref with the current code;
i have got still render is not a function...
changing return {
        render,
    }
to return render; works nicely.

I think there is a bug somewhere in inferno..

But thks for your answer i will take off forward ref , as well i have no need them in my

[2019-08-21 22:15] simonjoom commented on #1485
i found the problem i reopen an issue

[2019-08-21 22:38] simonjoom opened #1486 "forward-ref react vs inferno diff"
ok i found the problem of forwardref explained before:

I use reach router, and in their forwardref implementation is:
[code]
my call:
 <Link
        to={prefixedTo}
        state={state}
        innerRef={this.handleRef.bind(this)}
/>

The behaviour have got a slight difference between react and inferno:
. inferno pass a context in ref so as a result <a "ref"/> ref become an object and not anymor

[2019-08-22 06:03] Havunen commented on #1486
Yeah this is bug in hydration. Thanks for reporting it! :)

[2019-08-22 10:40] simonjoom commented on #1486
great it could help )

[2019-08-22 14:51] Havunen commented on #1486
This is now fixed in master. It will be available in next release.

[2019-08-22 14:51] #1486 closed

[2019-08-22 15:05] Havunen commented on #1486
7.3.1 released.

[2019-08-22 15:19] Havunen opened #1487 "Refactor / simplify Lerna build process"
It would be nice  implement new lerna build pipeline.

When running  `npm run publish` it should do following:

1. Bump version of all packages
2. Run inferno js build script `npm run build`
3. Run benchmarks build script `npm run benchmarks`
4. Run tests
5. Release Github tags and NPM packages

If any of the above steps fail it should stop the process.

Currently its doing build and package versi

[2019-08-27 22:07] simonjoom commented on #1486
cool

[2019-10-01 13:21] pauldijou opened #1490 "Function component returning null creates an empty text node in the DOM"
## Issue Template

**Observed Behaviour**

Inferno is creating an empty text node when a functional component returns `null`.

[code]

Here, the `div` will have one children, an empty text node.

**Expected Current Behaviour**

Inferno should not create anything. `null`, as from my understanding, means to put nothing in the DOM at all. Replacing the functional component with directly `{null}` in t

[2019-10-01 23:11] fkleuver opened #1492 "1kcomponents example not working"
Just noticed today that this website isn't working: https://infernojs.github.io/inferno/1kcomponents/

![image](https://user-images.githubusercontent.com/9655331/66007071-27d31500-e4b1-11e9-8230-06524d298502.png)

It's probably this commit, since a lot of code disappeared from the bundle: https://github.com/infernojs/inferno/commit/f0d010daee5010545a3016078d1503e30511885b
Might be the rollup updat

[2019-10-02 05:10] stylemistake commented on #1453
It seems that hooks aren't that hard to implement. All Inferno hook points are clearly defined, we just need to expose them on an options object, and copy paste, wire up the Preact's file.

[2019-10-06 21:32] Havunen commented on #1490
Empty text node is used to track position of Component with null children.

Ideally we dont want to do this, but it fixes some issues. We could try remove that logic and see which test cases will fail

[2019-10-07 07:59] pauldijou commented on #1490
Could using an HTML comment be a valid alternative?

[2019-10-08 12:12] TotallWAR opened #1493 "Is there tool for inferno-mobx debugging like redux devtools?"

[2019-10-08 18:13] Havunen commented on #1492
Fixed in master

[2019-10-08 18:13] #1492 closed

[2019-10-11 15:31] TotallWAR opened #1494 "componentDidUpdate inferno-mobx prevProps are equal to this.props"
**Observed Behaviour**

Prevprops.state.someValue.var in inferno component method componentDidUpdate are equal to this.props.state.someValue.var

**Expected Current Behaviour**

Props are should be different

**Inferno Metadata**

macOS
Chrome

I use inferno-mobx.
packages' versions:
    "inferno": "^7.3.2",
    "inferno-clone-vnode": "^7.3.2",
    "inferno-component": "^7.3.2",
    "inferno-hydra

[2019-10-14 14:08] Havunen commented on #1494
Hi @TotallWAR

Can you create simple demo to reproduce the issue please. For example JsFiddle https://jsfiddle.net/2nm1kqct/ or github repo.

[2019-10-23 10:33] TotallWAR commented on #1494
@Havunen i created:

https://codesandbox.io/s/inferno-mobx-props-not-updating-un8gy

[2019-10-23 14:49] dominikstoetter commented on #1266
is there any update on this?

[2019-10-24 13:41] Havunen commented on #1266
I think it depends a lot what you want to do ? Where does the error occur?

[2019-10-26 13:45] Havunen commented on #1494
I checked your codesandbox example and Inferno core -wise this is working correctly. Because Questionnaire Component does forceUpdate so there are no new props its just rendering again. Whether this is expected behavior from inferno-mobx I dont know.

By wrapping all components inside HoC we could achieve the props changing. We need to check how React / React-mobx does it to verify the correct beh

[2019-11-04 13:59] Seally commented on #1460
This issue appears in the generated type definitions as provided by the `inferno-redux` package available from `npm` (version 7.3.2).

`node_modules/inferno_redux/dist/components/Provider.d.ts`
[code]

`import("../../../inferno/src")` is, from the perspective of the consuming package, not referencing an existing path (unless one adds that path manually). From my understanding, this should be somet

[2019-11-05 07:32] Havunen commented on #1460
@Seally good information. If you happen to find workaround / fix please open PR :)

[2019-11-09 15:04] qostya opened #1496 "Synchronous setState"
Why does Inferno's setState is synchronous?

How it works now:
<img width="496" alt="Снимок экрана 2019-11-09 в 17 17 10" src="https://user-images.githubusercontent.com/6301329/68530577-7bd7e180-031a-11ea-9980-c0c03d907058.png">
Result:
<img width="1418" alt="Снимок экрана 2019-11-09 в 17 17 34" src="https://user-images.githubusercontent.com/6301329/68530579-809c9580-031a-11ea-870c-a06025709575.pn

[2019-11-10 08:35] Havunen commented on #1496
Because React was that way originally too. I think they changed it in v16. Inferno starts queuing Set state calls when you chain them. When this queuing process is in use then state changes get merged together. And it behaves like in React

[2019-11-11 09:12] qostya commented on #1496
So how can I chain them? Nothing works here...
[code]

Prints
[code]

Parent-to-child async setState also is not working:
[code]
Prints `2` 2 times

[2019-11-11 11:30] qostya commented on #1496
I understand that it triggers only in lifecycle methods... Do you have any plans to expand that to event handlers?

[2019-11-11 22:23] Havunen commented on #1496
Yeah that could be done. There might be some edge cases that needs to handled, but it should be doable

[2019-11-12 02:57] AsuraLuo opened #1497 "The inferno-devtools not support the lastest react-devtools, please fixed it"
React Developer Tools
4.2.0
<img width="1281" alt="Screen Shot 2019-11-12 at 10 57 23 AM" src="https://user-images.githubusercontent.com/15855779/68638036-43fbb480-053b-11ea-8333-1aeb707eff1a.png">

[2019-11-12 06:46] Havunen commented on #1497
Yeah react broke the compatibility. You can use previous version of the browser extension or if you have time you could develop own extension for InfernoJs so we can manage the it ourselves.

There is already discussion here:
https://github.com/infernojs/inferno/issues/1480

[2019-11-12 06:46] #1497 closed

[2019-11-12 09:35] Havunen commented on #1496
@qostya Do you have some arguments why it should do "async" -setState flow from delegated event handlers? Is it because React does so or is there another argument? What If React changes that, do we change then again?

[2019-11-12 09:37] Havunen commented on #1496
IMO it would be much nicer to have async flow or sync flow always, but that is not compatible with React either.

[2019-11-12 10:14] qostya commented on #1496
@Havunen I think it's not just for React, but because we need the same and reusable api everywhere

[2019-11-13 14:22] Havunen commented on #1496
@qostya Can you clarify what means everywhere in this context? Are you referring to infernojs APIs or other libraries?

[2019-11-20 19:39] Havunen commented on #1490
Yes, comment nodes could be used but they pollute DOM :(

I need to check if same routines what we use for Fragments could be used to add support for not rendering anything.

[2019-12-06 21:55] robbiespeed commented on #1496
Is the reason for async mainly so that state changes get queued?
I agree with @Havunen it would be nice if it was just simplified so `setState` was either always async or sync. Then another method could be added either `setStateAsync` or `setStateSync` to give the user control as to what to use.

[2019-12-07 02:28] robbiespeed commented on #815
@Havunen I could take a look at fixing this, I'm going to be writing inferno integration for my own state management library which functions using a similar observer pattern to mobX. It wouldn't be hard to port whatever I do to mobX, my main concern is what Inferno APIs are considered stable, because doing this work would require forcing an update of a functional component which is only possible u

[2019-12-09 13:02] Havunen commented on #1496
@robbiespeed Yes, when it goes into "async" flow it will start merging state changes together to avoid diffing whole vNode tree multiple times. Its more about batching the updates together.

I think React does it that way too, only exception is that how event handlers are handled. See React setState is synchronous here:
https://jsfiddle.net/xaL8p1c6/

This version of fiddle is async because setSta

[2019-12-09 16:05] jhsware opened #1499 "Because tests are run on each commit, it is daunting to contribute"
I use Source tree because it gives a nice overview, so it isn't possible to "skip hooks" or similar. Would be nice if one could run tests on push rather than on each commit. Right now, each commit takes a couple of minutes and it discourages from committing each change individually.

[2019-12-09 22:55] Havunen commented on #1499
@jhsware I also use source tree for diffing and viewing branches. You can stage the changes there and If you want to skip hooks do `git commit -n` on console

[2019-12-10 09:20] jhsware commented on #1499
@Havunen nice work around! I've submitted a feature request to Atlassian for a --no-verify option https://jira.atlassian.com/browse/SRCTREE-7067

[2019-12-10 09:20] #1499 closed

[2019-12-10 14:28] robbiespeed commented on #1496
I understand, it seems like a very bad design if you can't be sure whether it's going to be async or sync. That should be chosen within the method, not left to be determined based on call site.

[2019-12-14 07:59] dessalines opened #1500 "Need help debouncing input"
There seem to be some react libraries for debouncing input, but can't get any of them to work with inferno. I tried several ES6 debounces, but none seemed to work either.

I basically need `onInput={linkEvent(this, debounce(this.handleChange))}`

Has anyone gotten input debounce working?

[2019-12-15 22:38] Havunen commented on #1500
@dessalines usually debounce implementations work so that they return new function which is the debounced one. Maybe the issue you are having is related to that you need to store the debounced function somewhere and then pass that to linkEvent rather than creating new one in each render.

Something like this:

`
// Now that we are storing the reference anyway we can just bind "this"
this.handleCha

[2019-12-16 00:22] dessalines commented on #1500
I'll try this out and get back, thanks.

[2019-12-16 03:52] dessalines commented on #1500
Thanks, that seems to work, but also this:

`handleChange = debounce((i: form, event: any) => {...`

Another issue I'm running into when using debounce, is that if the input has an initial value that's not null or undefined, it won't allow the value to be changed. Only `<input defaultValue={this.state...` works, but not `<input value={this.state....`

[2019-12-16 09:41] TotallWAR commented on #1493
I tried yo use `mobx-devtools-mst` but it doesn't work.

[2019-12-17 06:24] Havunen commented on #1500
@dessalines when input has value defined then that input becomes so called controlled input and the value in JS side is the source of truth.

So when using value on input then you need to read the value in onInput event and set it into state. Then put that value ( or modified one ) from state to inputs value property. This is how you stay in control what the real value shown to user is.

Now about

[2019-12-17 18:33] dessalines commented on #1500
Basically I have a searchbox, that on a page reload (when you've already done a query, and it puts that query in the url params), it fills that box. So I need debouncing both when the input is initally empty, and when it has an initial value. But when its filled, the input now doesn't fill anything.

I'll try to implement this / find a way around it.

[2020-01-01 21:32] dessalines commented on #1500
Okay I finally figured this one out!

So it turns out you never really want to debounce the input directly, it will cause lots of weird timing issues.

What you do, is break out your fetching / API call into a separate method, call it from your `handleChange`, and then in the constructor, do `this.fetch = debounce(this.fetch).bind(this);`

Thanks for the assistance @Havunen !

[2020-01-01 21:32] #1500 closed

[2020-01-15 07:51] TotallWAR commented on #1299
So how can i use createContext in infernojs? What is right/recommended way?

[2020-01-23 08:39] jhsware opened #1501 "Inconsistency between how inferno and inferno-server handles components returning arrays"
If an inferno component returns a literal array the DOM-library will render it using "mountArrayChildren", but inferno-server will throw the error "renderToString() received an object that's not a valid VNode".

Is this a bug in inferno-server or inferno?

i.e.

[code]

Would render in the browser, but not on the server. Swapping array to a fragment (<></>) solves this issue.

[2020-01-23 14:34] Havunen commented on #1501
This seems like bug. Thanks for reporting it.

[2020-01-24 17:33] jhsware commented on #1501
@Havunen what is the intended behaviour? Should I see if I can suggest a fix?

[2020-01-27 11:55] Havunen commented on #1501
@jhsware Sure, basically arrays should be handled same way as fragments. See non-server side code:

https://github.com/infernojs/inferno/blob/master/packages/inferno/src/core/implementation.ts#L400-L402

I think server side could just jump into rendering children logic flow? Note that test cases needs to be added for all these 3 methods:

https://github.com/infernojs/inferno/blob/master/packages/i

[2020-01-27 16:56] jhsware commented on #1501
@Havunen okay great, yeah I'll start by adding tests. Will see if I can figure it out Tomorrow.

[2020-01-28 08:56] jhsware opened #1502 "Merge ts"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/inferno.js).
- Check that the i

[2020-01-28 10:12] Havunen commented on #1502
Yeah, could be merged

[2020-01-28 12:04] jhsware commented on #1499
@Havunen FYI I just noticed that you can select "Bypass commit hooks" from the "Commit options" drop down. It is located above the commit message input box in Source Tree.

[2020-01-28 17:15] #1501 closed

[2020-01-28 19:07] Havunen commented on #1501
7.4.0 published

[2020-02-27 19:56] gromovadarya90 opened #1506 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:26] renata7738 opened #1508 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
-

[2020-02-27 22:27] #1508 closed

[2020-02-29 01:14] BaibhaVatsa commented on #1453
Hi! I was interested in working on this issue if this is still open and good to go for

[2020-02-29 01:22] stylemistake commented on #1453
@BaibhaVatsa Yes, I'd really like to see this implemented.

[2020-02-29 04:20] BaibhaVatsa commented on #1453
Since I am new to this project, would you like to give me any pointers regarding the implementation apart from the link to preact implementation?

[2020-02-29 05:25] stylemistake commented on #1453
This is a very basic, bare bones setup for hooks (i was coding it inside tgstation repo, which is less than ideal, but this diff will give you the basic idea) :
https://github.com/stylemistake/tgstation/commit/d1b13851c3131ea5c35db79e93d84b7b8ac6f647

I think these are all the hook points necessary to implement the top level React Hooks API in Inferno. You can use the `options` object to expose va

[2020-02-29 11:05] marvinhagemeister commented on #1453
_Disclaimer: I'm one of the maintainers of Preact_

https://github.com/preactjs/preact/blob/master/hooks/src/index.js#L47-L61

The "stinky" bit you're referring to is the place where we invoke and process all pending effects that have been scheduled by various hooks. In our case `component._renderCallbacks` contains not just effects for hooks, but also callbacks for class lifecycle methods like `c

[2020-02-29 11:18] stylemistake commented on #1453
Epic.

[2020-02-29 12:08] stylemistake commented on #1453
@marvinhagemeister to be clear, I don't think that code is bad in context of Preact, it's just written in a way that makes it less portable, at least that's how it appears.

[2020-02-29 17:49] #1460 closed

[2020-03-01 06:02] marvinhagemeister commented on #1453
Yeah, the code was specifically written for Preact and we never intended it to be used with other frameworks. I doubt that we'll change that as it would likely result in negative effects on our byte count. Some of us are experimenting with bringing hooks into the core itself, thus making it likely even less portable.

You're best bet is probably to copy that code and replace the integration to wha

[2020-03-02 08:26] Havunen commented on #1487
We should test if we can refactor build script to use multiple rollup output formats instead of spawning multiple parallel processes to work same time.

[2020-03-09 07:18] aeroxy opened #1510 "@material-ui/core ^4.9.5 'memo' is not exported from 'react'"
Using:

[code]
got:

[code]

App.js

[code]

[2020-03-09 08:17] anthony-redFox commented on #1510
Duplicated #1443

[2020-03-16 04:14] abhi18av commented on #1266
Hi @Havunen , I was wondering now that `v7` is there, has the sitution regarding `error handling/boundaries` changed in `InfernoJS`?

[2020-03-16 06:22] Havunen commented on #1266
Hi @abhi18av , Error processing has not been implemented.

[2020-03-16 21:16] abhi18av commented on #1266
Oh, I see. Thanks for the quick revert. 👍
________________________________
From: Sampo Kivistö <notifications@github.com>
Sent: Monday, March 16, 2020 11:52:19 AM
To: infernojs/inferno <inferno@noreply.github.com>
Cc: Abhinav Sharma <abhi18av@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [infernojs/inferno] will the next next version coming with any mechanism of error processing (#

[2020-04-29 14:09] tamb commented on #1496
Can we get a code example of async setState from chaining?

[2020-04-29 14:11] tamb commented on #1496
I agree 100%.  I would say since performance is so amazing to leave the implementation as is and then add two additional methods for sync and async.

[2020-04-29 14:13] tamb commented on #1443
Maybe an inferno supported library for this? Keep the core light.

[2020-05-07 06:08] Havunen opened #1512 "Nicer formatting for generated type files"
Change generated type files to have nicer formatting so they are human readable.
This is useful because many IDE's allow jumping to typings.

Currently they are one method per line and lines can be very long

[2020-05-23 03:34] skaraman opened #1513 "component.state is set to null"
https://github.com/infernojs/inferno/blob/7d1b93aa11965bdd8468795d5ca5725810692a66/packages/inferno/src/core/component.ts#L90

I'm new to using inferno and have been trying to port my preact project into it. I came across this issue where I saw that component.state is set to null, this caused renders with state in my app to crash right away.

I think this is because in the new React lifecycle they

[2020-05-23 13:32] Havunen commented on #1513
Component instances state is null by default. In infernojs we originally initialized it as empty object but this was not how React did it so we changed it to default null to keep compatibility with React.

`.$PS` property is to keep track of internal pending state

[2020-05-23 21:20] skaraman commented on #1513
That doesn’t make sense to me because you can’t destruct out of null, it throws an error, but it’s expected to destruct state in render

[2020-05-25 06:53] Havunen commented on #1513
This is how React does it.

https://jsfiddle.net/jmdfzt2y/

There are some npm packages which assume state is initialized as null and check against it. Those will not work if we change  state to empty object.

I think one other reason for state not being initialized as empty object is to avoid people writing code like:
[code]

[2020-06-03 00:48] sultan-ov opened #1515 "Unused “_ref.children” property in functional components"
Differences between ways of functional components declaration are not documented:

[code]
In the second case, props are passed through the **“\_ref”** argument and a local variable is created for each argument. Here I had encountered the error **“Uncaught Reference Error: children is not defined”** because the local variable **“children”** is not created for **“\_ref.children”**

**Versions:**

"i

[2020-06-03 06:11] Havunen commented on #1515
I think you are missing destructing of children from props in the second example. Or did I miss something?

[2020-06-03 14:52] sultan-ov commented on #1515
I mean the **"\_ref.children"** property which itself inferno transfers when we render the component with children:

[code]

Argument **"\_ref"** is created dynamically with a generated number at the end, so I can not destruct **"\_ref.children"** manually. **babel-plugin-inferno** should itself destructure the argument **"\_ref"** but he does it only for those props that I myself transmit:

[code

[2020-06-04 01:16] sultan-ov commented on #1515
Sorry, I really missed the idea that I should destructing **“children”** in the arguments

[2020-06-04 01:16] #1515 closed

[2020-06-19 20:27] chrisdavies commented on #1453
I built something similar to hooks for a standalone library I built recently. It was pretty handy, so I decided to bundle up the hooks functionality into its own library [xferno](https://www.npmjs.com/package/xferno). It's not quite React hooks, as it requires you to wrap your components in an `xferno` function call:

[code]

[2020-06-21 01:03] chrisdavies commented on #1453
OK. I published `0.0.3` of [xferno](https://www.npmjs.com/package/xferno). It now works almost identically to React hooks. You no longer need to wrap your functional components in an `xferno` call:

[code]

It's got some hackery going on under the hood, but if anyone on the core team likes it enough, I'd be down with renaming it to `inferno-hooks` or whatever. I didn't want to grab that name witho

[2020-06-21 04:49] stylemistake commented on #1453
Holy moly, the madman did it!

One thing that I'm concerned about, is performance, because you essentially wrap every functional component with another component, but it already looks very usable! Big up!

**P.S.** If you ever get to the point of improving performance, you may want to expose more inferno internals through the options object. I might do some benchmarks soon.

[2020-06-21 13:50] chrisdavies commented on #1453
I have the same concern. I put together two (very simple) perf files `perf-raw.jsx` and `perf-hooks.jsx`, which I manually use for testing perf between the hooks implementation and the equivalent non-hook implemenation. So far, the performance is equivalent. But I'd definitely appreciate better / more real-world performance measurements.

[2020-06-23 14:01] dessalines opened #1517 "Preferred / better typescript build system for inferno (parcel, rollup) ?"
I'm the front end dev for [Lemmy](https://github.com/LemmyNet/Lemmy), and we're using @deamme 's typescript transformer, along with fuse-box, to do our front end builds.

Unfortunately tho, fuse-box has upgraded to a new version, and it [doesn't seem to support inferno](https://github.com/deamme/ts-transform-inferno/issues/17) (I tried and failed at adapting it).

Although fuse-box v3 is currently

[2020-06-23 15:04] DylanCulfogienis commented on #1299
This is still an issue. Is there any action that's being taken?

[2020-06-25 14:45] PorterK commented on #1443
Hey @Havunen are there any updates on this?

[2020-06-26 09:10] Havunen commented on #1443
No, I have not had time to work on this. I personally have no need for this functionality so its pretty low on my todo list.  Would you like to work on this? As suggested by @tamb it would make sense to have this as separate opt-in module.

[2020-06-29 12:19] PorterK commented on #1443
Yeah, I can give it a go! Would like to use inferno on a project but we use MUI, so memo support is necessary (according to #1510) I wont have time to grab this until early next week

Thanks

[2020-06-29 13:23] marvinhagemeister commented on #1443
@PorterK FYI: Our implementation in Preact might be of interested as a starting point:

https://github.com/preactjs/preact/blob/8825bf1ca2e4b5957556d9c6d385feceeffc242f/compat/src/memo.js#L11-L34

[2020-06-30 06:56] Havunen commented on #1443
Hmm, we could try out if Preact approach works for us? In infernojs we can add SCU hook on functional component too using `onComponentShouldUpdate` that might be good fit for this feature

[2020-07-02 13:22] Razican opened #1518 "Type errors reported in `NavLink` when only "to" is used"
Hi, I just recently started developing with inferno, and I found this type error I'm getting using `NavLink`. It might be a bug in the type definition, or it might just be me not understanding what's happening.

**Observed Behaviour**

The following code is giving a type error:
[code]

This gives:
[code]

**Expected Current Behaviour**

If I understand `NavLink` properly, those parameters should b

[2020-07-02 15:53] nawfalhasan commented on #1517
Might want to add esbuild to the equation as well :)

[2020-07-02 20:47] Havunen commented on #1518
I think you are right here. Would you like to make PR to fix it? :)

[2020-07-03 14:53] Razican commented on #1518
Sure! Is there documentation on which options are mandatory and which ones are optional?

[2020-07-03 16:28] Havunen commented on #1518
I think those typings are the only documentation we have. The router was initially based on react-router https://github.com/ReactTraining/react-router

Maybe that can give some hint.
Ultimately we can just try out what works and changes types accordingly :)

[2020-07-03 18:45] MrFoxPro commented on #1517
webpack with ts-loader works well for me

[2020-07-11 04:57] stylemistake commented on #1453
@chrisdavies I did some A/B tests on /tg/station (which uses IE11 to render UIs), one with just inferno, and one with xferno. Identical code, no hooks, just to measure what amount of overhead xferno was generating during re-renders.

[Screenshot of the interface I was testing.](https://user-images.githubusercontent.com/1516236/87216543-61428600-c349-11ea-901f-ea53b5c4c7cf.png) It uses a lot of sim

[2020-07-19 06:04] isiahmeadows opened #1519 "Updates to keyed lists break FLIP animations when they occur mid-animation"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/inferno.js).
- Check that the i

[2020-07-22 00:30] joseprio opened #1520 "Use `== null` instead of `isNullOrUndef`?"
More of a question than an issue; why is inferno using `isNullOrUndef` in `inferno-shared` instead of just using `== null`? Ran a benchmark (https://www.measurethat.net/Benchmarks/Show/6389/0/compare-comparison-with-null-or-undefined) and  `== null` seems to be 3 times quicker than `=== null || === undefined` in all browsers I tested. Is it because of byte savings?

[2020-07-26 12:16] Havunen commented on #1520
It was the fastest way we found at that time. Also v8 engine will inline these small functions so there will not be function call -cost. This should be measured in some of Inferno rendering benchmark If change gives any measurable gains.

I think I tested it before and results were within error margin, but sure it could be tested again.

[2020-07-26 13:11] joseprio commented on #1520
What about changing `isNullOrUndef` and `isInvalid` to use `== null`? It's shorter and should be faster.

[2020-07-26 13:18] trueadm commented on #1520
We should benchmark this again, as this optimization was for V8 when it used CrankShaft. It might have changed with the move to TurboFan. In terms of size, it's actually a couple of bytes smaller (non-gzip) to do `isNullOrUndef` than `== null`, as minified it would be `a(x)` vs `==null`. Not that it really makes that much of a difference though.

[2020-08-20 17:44] dessalines commented on #1517
@MrFoxPro Does that do minifying / tree-shaking too?

[2020-08-20 22:09] tamb commented on #1517
webpack is more stable.  I've had issues with the typescript plugin for rollup.  No experience with parcel.

[2020-08-31 14:07] dessalines opened #1522 "className={...} broken on inferno-server 7.4.1 when using isomorphic example."
I'm trying to use the most recent version of inferno to build an isomorphic app, using @MrFoxPro 's example: https://github.com/MrFoxPro/inferno-isomorphic-template , which is the same setup used in the official inferno docs.

When upgrading to inferno `v7.4.1`, any time I use `className={...}`, I get the following error. (If I don't use curly braces, then there's no error).

[code]

I don't think

[2020-08-31 19:18] Havunen commented on #1522
This sounds to me compilation issue more than infernojs bug.

[2020-08-31 19:20] Havunen commented on #1522
Did you try upgrading ts-tranform-inferno to latest version?

https://github.com/deamme/ts-transform-inferno#readme

[2020-08-31 20:38] dessalines commented on #1522
I did, its using the latest `transform-inferno`, and `transform-classcat`, you can verify yourself by running `yarn outdated`.

I'm not married to fuse-box, especially since fuse-box v4 doesn't support inferno, but thn in that case lemmy needs a new build system, but more importantly for this issue, I need *any* working example of an inferno isomorphic app using the latest inferno.

[2020-09-02 20:34] Havunen commented on #1513
I'm closing this as the issue seems stale

[2020-09-02 20:34] #1513 closed

[2020-09-05 15:55] dessalines commented on #1522
@Havunen I finally figured out how to get isomorphic working with webpack! [PR here](https://github.com/MrFoxPro/inferno-isomorphic-template/pull/9).

Since the [isomorphic instructions on the inferno website](https://infernojs.org/docs/guides/isomorphic) are broken (IE don't work with the latest inferno, plus fuse-box is deprecated), it would probably be a good idea to use my example. I can submi

[2020-09-12 07:51] Havunen commented on #1522
@MrFoxPro Can you check if the guide needs updating?

[2020-09-16 00:25] simonjoom opened #1523 "innerref problem (again in server rendering)"
https://github.com/infernojs/inferno/issues/1486

the issue i mentioned on the link upper reappear for react server rendering on the last version
i ve got type is not a function again

i did a quickfix in rendertostring around line 69
[code]

[2020-09-16 20:22] Havunen commented on #1523
Thanks for reporting this issue. Would you like to send PR to fix it or implement a test case to reproduce it easily? :)

[2020-09-17 01:15] simonjoom commented on #1523
to reference my last issue for more details:
https://github.com/infernojs/inferno/issues/1486

you already resolved that in client side (i did not noticed the problem)
for fast fix just add the conditionnal type.render? like i did, else type is not a function can occur again.

i just used your inferno server rendering version working with fragment and it's work now !
thanks you (before i used reac

[2020-09-18 19:10] Havunen commented on #1522
Ok, I will look into this.

[2020-09-18 19:16] Havunen commented on #1522
So the problem here is compiled code makes no sense:
[code]

[2020-09-18 19:19] Havunen commented on #1522
So what I did was I changed order of transformers

[code]
Use inferno transformer before TsTransformClasscat and all works.

[2020-09-18 19:19] #1522 closed

[2020-09-18 19:20] Havunen commented on #1522
I will update inferno website example

[2020-09-19 06:35] Havunen commented on #1518
I have fixed this issue here: https://github.com/infernojs/inferno/commit/85aa2514a851f1c7b5898f807fa019399218cf52
Fix is available in v7.4.4

[2020-09-19 06:35] #1518 closed

[2020-09-19 08:01] Havunen commented on #1523
This issue is now fixed in: https://github.com/infernojs/inferno/commit/fb6570c302907cef6e2975afd609b08374634991
It will be available in v7.4.5

[2020-09-19 08:01] #1523 closed

[2020-09-19 08:52] Havunen commented on #1496
Originally InfernoJS had setState and setStateSync but setStateSync was dropped due to problems it can cause. When the application grows one might accidentally enter into infinite loop using setStateSync version when those methods were merged into one at the same time setState was changed so that it automatically handles that infinite loop problem by queuing changes.

In the previous post I added

[2020-09-19 21:55] dessalines commented on #1522
I would still recommend leaving this open, so as to switch to a webpack build once @MrFoxPro has a look at my PR. I'm now using that build for lemmy. fuse-box v3 is dead after all.

[2020-09-21 17:35] brenr opened #1524 "Website returning 502 Bad Gateway"
I was trying to read up on the documentation on the infernojs website but upon clicking links, no content is being displayed as a result of a 502 Bad Gateway response from the api endpoints as evident in the dev console.

[2020-09-21 18:03] Havunen commented on #1522
There can be another example done using webpack, why not? But this issue was for the example which is now fixed

[2020-09-21 18:19] Havunen commented on #1524
Fixed, sorry for trouble

[2020-09-21 18:19] #1524 closed

[2020-09-21 18:22] brenr commented on #1524
@Havunen yeah sorry for posting issue in main repo - I made original issue in website repo and it didn't seem to be acknowledged.

[2020-09-22 11:42] simonjoom commented on #1523
Yes i confirm, it's working now.  yeah it was from inneref thks

[2020-10-03 07:43] simonjoom opened #1525 "UNSAFE_componentWillMount"
Well, UNSAFE_componentWillMount is not recognized by inferno as not implemented

I did not understand why my ssr didnt work (well i used this UNSAFE_componentWillMount for it )
I know it's more like a lint issue but at least inferno's server side render should to say when there is some function not implemented by his api i think.
For me i resolved it and go back to componentWillMount but.

[2020-10-03 08:54] simonjoom commented on #1525
Edit: UNSAFE_componentWillMount is used by react-side-effect who is the main dep of helmet..
I understand why my Helmet was buggy and did not return the good meta head now

[2020-10-03 13:21] simonjoom opened #1526 "hoc composition + functionnal component not working"
i use a hoc system, and when i plug it to a functionnal component inferno do not like (no issue with react)

something like:
[code]

[code]
in a class..
[code]

when i change functionalComp to a normal class   React.Component  then no error and it's working

[2020-10-04 05:48] Havunen commented on #1526
Hi,

Can you create github repo or something like that where the issue can Be reproduced please?

[2020-10-04 14:19] simonjoom commented on #1526
sorry my repo is very complicate and i changed lot of code from now  and i ve really little time.

[2020-10-04 14:22] simonjoom commented on #1526
well it's seem i found back on this error right now:
Unhandled Rejection (Error): Inferno Error: mount() received an object that's not a valid VNode, you should stringify it first, fix createVNode flags or call normalizeChildren. Object:

[2020-10-04 16:01] simonjoom commented on #1526
Ok one thing interesting i have got this error with one update state:

if i do with newmessage is a state updated from parent component of ChatLocation and passed to his props

[code]

i have got the issue upper
but below no issue: (well the code is cleaner too)

[code]

[2020-10-04 16:14] simonjoom commented on #1526
same something like that give me the same error:
[code]
i Put " isLogin? <Comp1/>: isLogout?<Comp2/>: <Comp3/>" to a new functionnal component outside of the main component and it's no giving any error

[2020-10-04 19:25] Havunen commented on #1526
How are you compiling the JSX? Are you using inferno-babel-plugin or do you have inferno-compat?

[2020-10-04 19:27] simonjoom commented on #1526
i hav got  inferno-compat

[2020-10-04 19:27] Havunen commented on #1526
If you are using inferno-babel-plugin then all components in JSX must start with upper case letter.

[2020-10-04 19:29] simonjoom commented on #1526
it's not that, i always do that

[2020-10-04 19:42] Havunen commented on #1526
Okay we can fix it when we can reproduce it

[2020-10-06 16:03] NtTestAlert opened #1527 "Versions above 7.4.2 do not work in browser via unpkg"
The script tags are taken from the documentation on website.

[code]

works as expected. change the versions to 7.4.3 or 7.4.5 and each script overwrites entire Inferno object to contain only its exports.

[code]

[2020-10-06 19:23] Havunen commented on #1527
Hi

Thanks for reporting this issue. I will take a look tomotrow. Btw inferno-component package is not needed anymore

[2020-10-13 02:37] smolck opened #1528 "Avoiding overwriting content of container?"
The documentation for the `render` function states the following:

Is there an easy way of avoiding this? I'd like for the element being rendered to just be appended to the container if it isn't already there, and updated otherwise, but I can't seem to find any information on how to achieve that with inferno. I could maybe do a workaround, but it seems like there should be some builtin way of doin

[2020-10-13 08:15] Havunen commented on #1528
To my knowledge that will not work, because how VNode diffing works.
You select a root, and then we create in memory object tree of the contents of that node and then on next render we diff if the tree has changed and update the html accordingly.

You could add another div into the container and render into that?

[2020-10-13 12:33] smolck commented on #1528
Okay, thank you for the quick reply! Creating a new div to render into (along with a little css) seems to achieve the effect I’m looking for, I was just curious if there was a more elegant way/specially supported way of doing this. Thanks again!

[2020-10-13 12:33] #1528 closed

[2020-10-22 12:28] Havunen commented on #1527
This is now fixed in v7.4.6

[2020-10-22 12:28] #1527 closed

[2020-11-06 04:46] martinoppitz opened #1529 "provide a esbuild workflow"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/inferno.js).
- Check that the i

[2020-11-13 20:26] Havunen commented on #1525
You could work around this by mapping componentWillMount to UNSAFE_componentWillMount... maybe inferno-compat could do that if you want 1:1 compatibility...

[2020-11-13 20:26] #1525 closed

[2020-12-13 00:26] #1409 closed

[2020-12-31 02:07] WojciechKrakowiak opened #1531 "Cursor style not updated during render on state change"
Issue fiddle:
https://codepen.io/WojciechWKROPCE/pen/yLavomN – you can toggle state with mouse click

**Observed Behaviour**

Inline style CSS value (set with style attribute) for cursor is not updated on render, after second and following state changes.
In example styles are set after first state change correctly, but they aren't updated after next state changes.

You can see actual state change

[2021-01-01 18:45] Havunen commented on #1531
Hi,

Your codepen example seems to work just fine on my computer, windows 10 chrome v87.

I think this is browser / os related issue rather than inferno js, it seems the html and styles are applied to DOM correctly

[2021-01-01 19:12] WojciechKrakowiak commented on #1531
@Havunen Thanks for checking.
I just tested it in other browsers and on Windows, and I still see the issue, so I believe it's inferno js.

Just to be sure: you're clicking mouse more than once? After first click the cursor toggles correctly from "normal" to "col-resize", but after next clicks, the inline style remains "col-resize", while the state changes correctly.

Here is a recording of this st

[2021-01-01 21:17] Havunen commented on #1531
ah yes, I see what you mean now.
I will check it

[2021-01-01 21:26] Havunen commented on #1531
It seems the provided value "normal" does not work when using
[code]

Maybe because it does not seem to be standard value based on the specification:
https://developer.mozilla.org/en-US/docs/Web/CSS/cursor

I tested with "initial" and it worked with chrome, maybe you need to use "auto"

[2021-01-01 21:39] WojciechKrakowiak commented on #1531
@Havunen
Yes, you're right, my bad. It's working with "auto" value.
Thank you very much! :)

[2021-01-02 09:19] #1531 closed

[2021-01-07 10:41] pinussilvestrus opened #1532 "Patch v5.0.x to get rid of opencollective runtime dependency"
Hi 👋🏻

I saw that the inferno package replaced `opencollective` with `opencollective-postinstall` to get rid of many dependencies (cf. https://github.com/infernojs/inferno/issues/1450). Due to different reasons, we are sticking to the `v5.0.x` version of the `inferno` package in our [`dmn-js`](https://github.com/bpmn-io/dmn-js) project, so we can't receive this update since the fix is not backport

[2021-01-07 22:17] Havunen commented on #1532
Yeah, I believe that can be done :)

Btw. What is the main reason to not being able to move to v7? We have fixed many issues in the latest versions

[2021-01-08 07:33] pinussilvestrus commented on #1532
Thanks for the quick answer! Really appreciate it.

The reason we can't currently update inferno is that it would break any `dmn-js` extension that was built based on the current version of Inferno. dmn-js is an embeddable JS library people can use to build their own Decision Management Applications.

We don't have an easy migration path currently that would make it easier for those extensions to

[2021-01-08 15:14] Havunen commented on #1532
cant you update to v5.6.1 ? I don't think it makes much sense of inferno to release patch to some very old minor version? Just by browsing through release notes I dont see any breaking change between 5.0.6 - 5.6.1

[2021-01-11 08:22] pinussilvestrus commented on #1532
Would this solve the `opencollective` problem? I see the change was introduced with [v7.1.9](https://github.com/infernojs/inferno/releases/tag/v7.1.9) earliest.

[2021-01-11 08:33] Havunen commented on #1532
I would like to release patch to 5.6.1 to fix latest v5 version of infernojs to change that dependency rather than fix some old minor version

[2021-01-12 07:02] pinussilvestrus commented on #1532
We will check whether an update to `v5.6` is possible on our side and will then get back to you. Thanks a lot for your support so far!

[2021-01-13 10:27] pinussilvestrus commented on #1532
Good news 📣 We were able to upgrade our inferno version to `v5.6.1` (cf. https://github.com/bpmn-io/dmn-js/pull/616). So we would be very thankful if you could create a patch version for `v5` with the changes I suggested above 👍 Thanks again for your support.

[2021-01-13 12:45] Havunen commented on #1532
Okay v5.6.2 is available now, without opencollective dependency. https://github.com/infernojs/inferno/releases/tag/v5.6.2
However I highly recommend to move to latest infernojs version :)

[2021-01-13 12:45] #1532 closed

[2021-01-13 13:34] pinussilvestrus commented on #1532
Thanks a lot!

[2021-01-20 10:26] farooqkz opened #1533 "Inferno's Heroku app does not work"
Hello there!
I was trying to join the Slack community to ask a question(or two!) but inferno-slack.herokuapp.com throws an "Application Error" at me.
Since it doesn't show much other than that, I don't think there is need to send a screenshot.

[2021-01-20 11:10] Havunen commented on #1533
yeah, this is known issue. I don't know who has created the application or maintains it.

Do you know how to set it up?

here is temporary link to slack: https://join.slack.com/t/infernojs/shared_invite/zt-kiexqrn5-AsRkXxSZ4D41JfM9T_Jj0g

[2021-01-20 11:14] farooqkz commented on #1533
Thanks for the link, I just joined.
About setting that up, I have little experience with setting up a web app on Heroku... well just once or twice I've done so. Thus I don't have much idea how can I help you with that.

[2021-02-07 20:26] xnimorz opened #1534 "Inferno loses `force` param when `forceUpdate` is called inside the updating cycle or there are any pending updates in `QUEUE`"
**Observed Behaviour**

Inferno loses `force` param when `forceUpdate` is called inside the updating cycle (when `renderCheck.v` is set to `true`) or there are any components in `QUEUE`
https://github.com/infernojs/inferno/blob/master/packages/inferno/src/core/component.ts#L31-L40

So it means that `shouldComponentUpdate` for the component will be executed if `forceUpdate` is called in `componentD

[2021-02-11 13:13] LazyLahtak opened #1536 "Inferno with TypeScript ignores `defaultProps` in JSX"
**Observed Behaviour**

Inferno with TypeScript ignores `defaultProps` in JSX.
Error: `Property 'value' is missing in type '{}' but required in type 'ComponentPropsType'`.
See Inferno example: https://codesandbox.io/s/inferno-ts-example-i0i2c?file=/src/App.tsx.

**Expected Current Behaviour**

Inferno with TypeScript should notice `defaultProps` in JSX, like React.
See React example: https://codes

[2021-02-11 13:25] Havunen commented on #1536
Hi,

Thanks for reporting this issue. I need to investigate where this error actually comes from :)

[2021-02-14 15:22] Havunen commented on #1534
Released in 7.4.8 https://github.com/infernojs/inferno/releases/tag/v7.4.8

[2021-02-14 15:22] #1534 closed

[2021-02-20 12:34] lesar opened #1537 "hydrate vNode.type is not a function"
**Observed Behaviour**
on console log
Uncaught TypeError: vNode.type is not a function
****
Inferno is...
    "inferno": "^7.4.8",
    "inferno-hydrate": "^7.4.8",
    "inferno-hyperscript": "^7.4.8",
    "inferno-router": "^7.4.8",
    "inferno-server": "^7.4.8",

**Expected Current Behaviour**

Inferno should no throw error

**Inferno Metadata**

Linux Ubuntu 20.04.2
Firefox 85.01

on server sid

[2021-02-20 13:50] simonjoom commented on #1453
if Sampo Kivisto (Havunen) could have a look on xferno will be great to create inferno-hooks in optimal way.. .
https://github.com/infernojs/inferno/issues/1453#issuecomment-468157176

I really want to try hook in my next application, as all code seems to work with hooks now.. (Apollo ..Etc) which it seems to give much better coding practice.

[2021-02-20 14:14] Havunen commented on #1537
What is this code?

[code]

[2021-02-21 00:24] lesar commented on #1537
Hyperscript

[2021-02-21 07:50] Havunen commented on #1537
Ok, are you able to upload reproducible code somewhere? Then I could take a look

[2021-02-22 15:54] lesar commented on #1537
code sent.
If is needed any clarification contact me by this issue or by mail.

best regards,
Leonardo

[2021-02-24 00:22] Jarred-Sumner commented on #1453
I wonder if one could implement hooks with good performance via compiling functional components that use hooks into class components at runtime on the first usage. Since all hooks need to run each render, you have guarantees that even for nested hooks, it should be possible to track all the calls. If you can compile the dynamically created functions into functions on a prototype that don't get re-

[2021-02-24 01:10] stylemistake commented on #1453
The real slowdown in xferno is not caused by overhead of hooks, but by some small bug that negates child/type flags optimization on vnodes. If someone would look into it, that would be great!

[2021-02-24 01:32] Jarred-Sumner commented on #1529
Here's what I am doing:
[code]

[code]

This doesn't handle error messages

[2021-02-24 13:57] simonjoom commented on #1453
Well lets start to fix that and create a real inferno-hooks.. if one moderator can have a look...
 Unfortunately my qualification not good enough to do that ;)

[2021-02-24 18:43] lesar commented on #1537
I have make the error gone but need some help to understand.
(Most example is on JSX but I like to use hyperscript)

P.S. in my code **h** is inferno-hyperscript function
and **hh** is hyperscript-helper build using **h** inferno-hyperscript function

In many writes I find this:
[code]
the bit `<App />` is a function call or is a function reference? ... f() or f

In my code **on server side** I ha

[2021-02-24 19:04] Havunen commented on #1537
Hi,

So if you want to hydrate or render content, then you need to pass virtual node object to hydrate or render method.

I recommend you put break point or console log page variable in this code example:

[code]

InfernoJS renders javascript objects which we call vNodes (virtual nodes)
You can see how vNode looks from this page:
https://github.com/infernojs/inferno/blob/master/packages/inferno/sr

[2021-02-25 16:53] lesar commented on #1537
Ok thank you very much.
I do some test and update this post.
by now have to stop a little: I have destroy my boot on dev machine and must find a way to restore.

:-)

[2021-03-02 11:22] lesar commented on #1537
I came back: boot now works :-)
The code is working but why???
can I have some clarification?
am I do some wrong tings but code is not throw error?
Or have to use renderToString by giving it a vnode
and hydrate by give it a function returning a vnode?

On **client** script I invoke hydrate using this param:
[code]
and it print:

[code]
so hydrate take a function returning a vnode in my code and do

[2021-03-02 15:52] lesar commented on #1537
## Solved

On client script I invoke hydrate using too many hyperscript function call:
[code]
is wrong: call `h()` on function reference generate a empty like vnode so do not throw error.

The right call have to be:

[code]
So on server side and client side there are the same call type

forgive my mistake.

best regards,
Leonardo

[2021-03-02 15:52] #1537 closed

[2021-03-05 07:46] ReginaLiang opened #1538 "[inferno-test-utils] renderIntoContainer can't render mocked component inner children."
Reproduce steps:

I have a  component as follow:
[code]

when I tested this component with jest. I mocked `Overlay` component.
[code]

then using `renderIntoContainer` to render `TextView`.

`const renderedTree = renderIntoContainer(<TextView {...props} />);`

I expect `renderedTree.dom` is instance of `HTMLElement`. Actually, `renderedTree.dom` is **null**.

So, I think maybe renderIntoContainer

[2021-03-05 08:08] Havunen commented on #1538
Hi,

thanks for reporting this issue, this indeed sounds like a bug.

One possible issue is that `renderIntoContainer` does not seem to attach the html element to DOM. This may cause issues in some cases.

[2021-03-09 11:30] l1553k opened #1539 "Inferno is rendering only the first child"
**Observed Behaviour**

Inferno is rendering only the first child. This simple code:
[code]
is rendering only the div and `<h1>One!</h1>`.

I have to write the component as:
[code]
to render all four headers.

**Expected Current Behaviour**

Inferno should render all children, not just the first one.

**Inferno Metadata**

Linux
Chromium / Firefox
Parcel

I have created a minimal example repositor

[2021-03-09 20:01] l1553k commented on #1539
Thank you @Havunen. I was actually struggling with that for at least 3 days, and eventually replaced Inferno with Preact. But I will definitely give it a try again with my next project :)

But in that case, what's the point of inferno-hyperscript?

[2021-03-09 20:13] Havunen commented on #1539
I don't know its history, its just another API Dominic created to use inferno without JSX

[2021-03-10 21:03] #1539 closed

[2021-03-11 02:39] ReginaLiang opened #1540 "[inferno-test-utils] How to use this lib to change state or props, trigger change/input event/keydown event?"
When I use `inferno-test-utils` lib to test my inferno app, I encounter some problems that need your help.
Firstly I rendered a component use `renderIntoContainer`.

But I have some problems blocks my work.
1. How to get this `rendered instance` that I can get the global variables bound component?
2. How can I change `state/props` in a test suite so that improving code coverage?
3. How can I manua

[2021-03-11 06:35] Havunen commented on #1540
Hi,

If you use `renderIntoContainer` then you need to manually attach the container to DOM to make events work :(

The issue with `renderIntoContainer` is that if inferno attaches it to the DOM then somebody would need to remove the container from the DOM or it leaks resources.

Maybe you could try to have a look at these tests for some idea how to write to your own:

https://github.com/infernojs

[2021-03-12 14:20] jhsware commented on #1238
Work in progress https://github.com/jhsware/inferno/tree/animation-hooks

[2021-03-12 14:23] jhsware commented on #761
@Havunen Did you have any success with this?

[2021-03-15 15:30] romgrk opened #1543 "Question: migrating react app to inferno"
Hey,

So I have a react app that I'd like to migrate to inferno for performance reasons. I spent a few hours trying to configure my (ejected) create-react-app to use inferno but wasn't successful. I was wondering if there was a guide of all the points to be careful of to do the migration? I was also wondering if it's thinkable to port an app using React hooks via xferno, described in #1453.

Thank

[2021-03-20 16:20] adamwong246 opened #1544 "https://inferno-slack.herokuapp.com/ is erroring"
I'd like to join the slack but the link directing me to join seems to be failing.

[2021-03-20 16:24] adamwong246 commented on #1544
I see a duplicate PR, I will close this one

[2021-03-20 16:24] #1544 closed

[2021-03-20 16:25] adamwong246 commented on #1533
+1. I would like to join the slack too.

[2021-03-21 09:34] Havunen commented on #1533
New link for the next 30days...

https://join.slack.com/t/infernojs/shared_invite/zt-o6qou6c1-FKD0TtMpiGTuwzIPSiC_rg

What do you guys think of moving to discord?

[2021-03-22 17:14] farooqkz commented on #1533
What about a free(as in freedom) platform like Matrix?

[2021-03-27 16:53] jhsware opened #1545 "Switch to esbuild for Inferno project"
The current build pipeline for the Inferno project is slow enough to be an obstacle in development and testing of the core libraries. Esbuild promises to be an order of magnitude faster with support for both JSX and TS.
https://github.com/evanw/esbuild

Perhaps one could reach out to Evan Wallace and the Esbuild team to discuss if it is feasible and what obstacles might be in the way.

[2021-03-27 21:37] #1238 closed

[2021-03-28 06:32] jhsware opened #1546 "Update Inferno website with documentation on animation hooks"
Suggested additions to website to cover documentation of new feature:

- difference from React + Preact (frontpage), add animation hooks
- release notes
- API, add inferno-animation

- add didAppear och willDisappear to Quick Start / Components, section Lifecycle events on class components
- add a note about new lifecycle events to Quick Start /switching to Inferno

- consider using inferno-animat

[2021-03-28 10:42] zydjohnHotmail opened #1547 "Can I combine different web page with this repo?"
*Before* submitting an issue please:
- Check that you are using the latest version of Inferno. Either using our [CDN @ Master](http://cdn.infernojs.org/latest/inferno.js) or by checking the tags on [NPM](http://www.npmjs.com/package/inferno).
- Check that the bug has not been fixed in the latest development version. Use our [CDN @ Edge](http://cdn.infernojs.org/edge/inferno.js).
- Check that the i

[2021-03-28 11:14] Havunen commented on #1533
There is now a new community discord server for InfernoJS!
You can join using this link: https://discord.com/invite/AW92rGbJ

[2021-03-28 11:14] #1533 closed

[2021-03-28 11:17] Havunen commented on #1547
Okay, so you are building some web crawler. How is this question related to inferno-js?

[2021-03-28 11:25] zydjohnHotmail commented on #1547
Hello:
I think inferno-js can be used to build large DOM tree, if so, then give me some details on how to use the repo to build one big DOM tree for my question. Hope you understand.

[2021-03-28 11:30] Havunen commented on #1547
If you have the data to build the website, then basically you need to make one page that loads the data and then renders this large DOM tree based on the data.

But if you do not own the data to build the website then I think combining them by reading the HTML is not a smart thing to do.

The question is very unclear about what you are trying to achieve here. If you are in control of the website,

[2021-03-28 11:33] zydjohnHotmail commented on #1547
Hello:
Unfortunately, I am not in control of the website, I have to use client side tools to combine all web pages into one big page, so I can use JavaScript to click and submit the form.

[2021-03-28 11:45] Havunen commented on #1547
Okay, then I recommend you to look into web crawlers. for example puppeteer https://www.digitalocean.com/community/tutorials/how-to-scrape-a-website-using-node-js-and-puppeteer

[2021-03-28 11:45] #1547 closed

[2021-03-28 11:47] zydjohnHotmail commented on #1547
Hello:
I know puppeteer, but it can be used for only on one page at a time base.  I want to combine all 3 pages into one page, so I want to know if this repo can help.

[2021-03-28 12:01] Havunen commented on #1547
If those pages contain dynamic data, that would mean you need to fetch that data on regular basis to keep your "one page" updated. After you have sent network request HTTP - GET ( I assume ) to the other sever to fetch the data then you already have it. I don't understand why you then would like to build a new page from that data if you only want to submit a form.

If the page content is not dynam

[2021-03-28 12:08] zydjohnHotmail commented on #1547
Hello:
From my experience, those data is not very dynamic for some time.  So if I fetch them, then within a few hours, those DOM elements are the same.
For copy and paste, for small page, it should be good enough, but those pages I am talking about are just big.  I think about 2MB to 3MB in size per page, then I think I need some kind of JavaScript tools to build the web page.

[2021-03-28 12:30] jhsware commented on #1546
Note to self: Investigate maintaining backward compatibility with existing inferno-animation so we don't need to do a major version release of Inferno but still can use inferno-animation@NPM.

[2021-03-28 16:29] Havunen commented on #1543
Hi,

The application build systems are so different in a javascript world that It's difficult to give any pointers without more information about this specific project.

Updating inferno-create-app from the Facebook upstream is on my todo list and I will try to do it in near future

[2021-03-28 17:53] romgrk commented on #1543
Got it. Yeah, the update would be great.

[2021-03-28 19:03] Havunen opened #1548 "Update inferno-router history dependency to v5"
Update inferno-router history dependency to v5

[2021-03-28 19:04] Havunen opened #1549 "Update inferno-mobx, mobx dependency to v6"
Update inferno-mobx, mobx dependency to v6

[2021-04-08 11:03] jhsware commented on #1546
Needs update for functional components implemented in https://github.com/infernojs/inferno/pull/1552

[2021-04-08 11:04] jhsware commented on #1546
Partially fixed in https://github.com/infernojs/inferno-website/pull/150

[2021-04-08 16:59] #1546 closed

[2021-04-12 09:07] simonjoom opened #1557 "Found Issue fragment"
I use Gatsby staticquery

here my relevant code which result nothing rendered in server side with inferno:

[code]
[code]

I get back on the Gatsby old code without fragment and I haven't any issue

the code here work :
[code]

It's seems that React fragment is never rendered with inferno
[code]

I didn't minified the code
And my inferno config is 100% working (babel-plugin-inferno)
Other simple f

[2021-04-14 10:03] jhsware commented on #1545
This is a missing feature in Esbuild that is required for production builds of Inferno evanw/esbuild#128

[2021-04-14 10:04] jhsware commented on #1545
We ended it up with this instead https://github.com/infernojs/inferno/pull/1558

[2021-04-14 10:07] jhsware commented on #1529
If you use const enums in your code there is an issue with esbuild that is worth being aware of (I don't think it is a show stopper for app development though). See https://github.com/infernojs/inferno/issues/1545

[2021-04-14 10:13] Havunen commented on #1557
Hi!

Can you reproduce this issue somewhere? fe. JSfiddle, Github repo?

[2021-04-19 03:40] simonjoom commented on #1557
sorry hard for me to do that as it's a snippet of Gatsby and the code is huge and my skills not good to create a jsfiddle

The issue is coming on server side, maybe you should to test more fragment with rendertostring from inferno

[2021-04-22 03:09] developomp opened #1562 "discord invite link invalid"
invite link for the inferno discord community has expired (https://discord.com/invite/AW92rGbJ).
Consider removing or updating the links in:
- https://infernojs.org
- https://github.com/infernojs/inferno

Sorry for not following the template but this is not a normal inferno "bug".

[2021-04-22 20:13] Havunen commented on #1562
Here is new link without expiration
https://discord.gg/pYFsMTYndu

[2021-04-22 23:21] developomp commented on #1562
That's a really small number of people for a framework with almost 15k stars on gh.
I'm not sure if that's the link I'm looking for.

[2021-04-23 07:07] Havunen commented on #1562
Yes it is, it's a new server. We recently moved from Slack to Discord

[2021-04-24 03:10] hermantolim opened #1563 "NavLinkProps missing LinkHTMLAttributes<HTMLLinkElement>"
**Observed Behaviour**

Can not use some of `Link` accepted attributes on `NavLink` as seen in [https://github.com/LemmyNet/lemmy-ui/pull/270](https://github.com/LemmyNet/lemmy-ui/pull/270)

**Expected Current Behaviour**

attributes like `title` should also be accepted on `NavLink`

[2021-04-24 05:58] Havunen commented on #1563
Hi,

Thanks for reporting this issue!
Is this something you would like to fix?

[2021-04-24 14:02] hermantolim commented on #1563
sure, will be working on it

[2021-04-24 22:45] developomp commented on #1562
Alrighty then

[2021-04-24 22:45] #1562 closed

[2021-04-27 07:24] #1563 closed

[2021-04-27 07:25] Havunen commented on #1563
This will be fixed in the next release

[2021-05-17 17:15] iambumblehead opened #1565 "Inferno 7.4.8, TypeError: n.getFlagsForElementVnode is not a function"
Using inferno from a CDN results in this error `TypeError: n.getFlagsForElementVnode is not a function`

[code]

[code]

[2021-05-18 17:33] Havunen commented on #1565
I tested this and its working as expected. Did you remember to load inferno script in your html file?

[code]

[2021-05-18 17:33] #1565 closed

[2021-05-18 17:34] iambumblehead commented on #1565
@Havunen thank you and I'm sorry if I've wasted your time here -- I think you are right and I will try it out in a moment and let you know how it goes

[2021-05-18 17:42] Havunen commented on #1557
I cannot reproduce this issue :/

[2021-05-18 17:50] iambumblehead commented on #1565
@Havunen yes my attempt was wrong -- everything is working thank you

[2021-05-27 20:21] ScottAwesome commented on #1453
@stylemistake do you know where that issue is, by approximation?

I'm interested in designing hooks for inferno, but I'm not quite sure where this bug maybe

[2021-05-27 22:00] stylemistake commented on #1453
@ScottAwesome I have forgot already, but this is probably the piece that creates the slowdown:

https://github.com/chrisdavies/xferno/blob/master/src/xferno.jsx#L217-L223

VNodeFlags are being forced to ComponentUnknown, because well, the target component is abstracted away by the HookComponent and Inferno is required to go through all possible code paths.

[2021-05-28 17:09] ScottAwesome commented on #1453
Thanks for the information!

So, this is something that really should be optimized in core rather than as an addon library I imagine?

Would that be something that would be acceptable?

I wonder how hard it would be to simply  extract some of the lifecycle method logic (since you can use it on function components too) and expose that as hooks in that case. I'd like to do something work with that i

[2021-05-28 19:35] stylemistake commented on #1453
I assume that both ways are fairly complex. In case of xferno, a lot of work has already been done, but figuring out how to optimize it might be hard. But if you choose to reimplement everything in core, you will spend more time, but might end up with a better implementation.

I have no preference one way or the other.

Here is what I think is the most optimal way of implementing hooks:

- You nee

[2021-05-31 07:11] #1549 closed

[2021-05-31 11:50] ivanblinov2k17 opened #1566 "ClassName attribute does not replace destructured one if defined after"
**Observed Behaviour**
Unlike React, if we pass the className attribute after destructured className, destructured will be applied

[code]

We will get in DOM
`<div class="getterClass">asd</div>`
I guess this behaviour can be related with work of normalizeProps function.
There is a functional call
`(0, _inferno.normalizeProps)((0, _inferno.createVNode)(1, "div", "divClass", "asd", 16, _extends({},

[2021-05-31 12:06] Havunen commented on #1566
HI,

Thanks for reporting this issue. It indeed looks like a bug. I will investigate this

[2021-05-31 12:21] Havunen commented on #1566
Yep, it was indeed a bug. Its now fixed in the master branch and will be available in the next release

[2021-05-31 12:21] #1566 closed

[2021-06-01 05:12] Havunen commented on #1557
Is this issue actually linked to:
https://github.com/infernojs/babel-plugin-inferno/issues/56

[2021-06-01 05:54] Havunen commented on #1557
Hi,

can you try updating to babel-plugin-inferno v6.3.0 and see if that fixes the issue you are having?

[2021-06-01 06:37] #1487 closed

[2021-06-08 08:32] Havunen commented on #1557
I'm closing this issue please reopen if its still reproducible

[2021-06-08 08:32] #1557 closed

[2021-06-14 05:19] amartincolby commented on #1543
I'm trying to get VSCode, ESlint, and TypeScript to all play nicely with Inferno. What's required in updating the create-inferno-app? I'd happily jump on that.

[2021-06-20 05:34] simonjoom commented on #1557
Hi, I confirm, i updated now it's working

[2021-06-22 04:25] simonjoom opened #1568 "issue or feature shallowDiffers inferno"
just was a look in the code of preact
it there some change in shallow

https://github.com/preactjs/preact/commit/de388d2066df632b10c57644b9643164a39ff426
[code]

[2021-07-04 17:20] sdoncho opened #1569 "Is there a way to only rerender differences with setState?"
This is not a bug, I am trying to understand how Inferno works.

I am trying to migrate a very frontend heavy application from Vue to inferno, due to the claims of fast rendering. I have a huge DOM tree, which is indeed rendered fast. My problem is that Inferno rerenders the whole tree whenever setState is called. This leads to unpleasant artifacts like images flickering etc.

E.g., the following

[2021-07-04 19:19] Havunen commented on #1569
Hi,

Inferno diffs the input and changes DOM only where last properties do not match the new ones.
If you are experiencing re-creation of DOM on same input then, you need to check if you are using `key` properties in lists and are they changing? Or maybe you are re-creating component in your render method which then would re-render those.

[2021-07-04 19:47] sdoncho commented on #1569
@Havunen thank you for the fast reply!

I am not changing the props at all! As I mentioned this is the only time-based function I run:

window.setInterval(() => { console.log("Render without change in state"); this.setState(this.state) }, 500)

One of the props is a list, but I am not changing it as you can see in the setInterval.

All my changes are event driven, so there is nothing to change the

[2021-07-04 19:53] Havunen commented on #1569
This call is at least wrong:
this.setState(this.state)
You should not pass state to setState, but instead pass the changes as object, if there are no changes you can pass empty object

this.setState({})

You could add DOM breakpoint in your chrome devtools to stop the execution and check why its recreated

[2021-07-17 00:19] dessalines opened #1571 "Add attribute support for <img and <iframe lazy loading"
Spec: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-loading

[2021-07-19 13:19] #1571 closed

[2021-08-15 23:57] jrwdexter opened #1573 "Many "Inferno is in development mode" logs during testing"
**Observed Behaviour**

When running tests that utilize **Inferno** as part of the framework, every test will log `Inferno is in development mode.` to the console. This is due to the `NODE_ENV !== 'production'` check in `index.ts` within Inferno.

This logging behavior, without an ability to stop it, pollutes test logs with these statements.

**Expected Current Behaviour**

I don't know if there's

[2021-08-16 05:05] Havunen commented on #1573
Hi

I think you have something wrong in your test suite build if you see more than one message it means you have more than one infernojs bundled in your javascript bundle. Is that intentional?

[2021-08-20 10:26] MikeVitik commented on #1566
Do you have any info about the date of the next release?

[2021-08-20 10:37] Havunen commented on #1566
Oh heck. I had forgotten this was never released. I will make hotfix for it

[2021-08-21 19:30] Havunen commented on #1571
Sorry for delay this fix is now available in v7.4.9 https://github.com/infernojs/inferno/releases/tag/v7.4.9

[2021-08-21 19:30] Havunen commented on #1563
Sorry for the delay, this fix is now available in inferno v7.4.9

[2021-08-21 19:32] Havunen commented on #1566
Sorry for the delay, this fix is now available in inferno v7.4.9

[2021-09-08 11:07] igvnv commented on #1573
I have this `console.log` for each testing suite. But, to be honest, I don't want to `console.log` at all, even in browser.

[2021-09-08 11:52] Havunen commented on #1573
what about disabling the console log then?
[code]

[2021-09-08 12:01] igvnv commented on #1573
Monkey patching? I once did this and then lost some valuable data in tests. It was my bad, should never rely on `console.log`, but some 3rd-party libraries still can use it.

Is there a need for displaying this message? I understand and appreciate that the library displays `console.warn` when I use minified version during developing. But if every library will spam in console with "you are in devel

[2021-09-08 12:06] Havunen commented on #1573
It is valuable information because people do bundling mistakes and then report issues to inferno saying its slow or post benchmarks to internet and don't even use optimized version, well yeah its slow if the build is not even in production mode.

[2021-09-08 13:54] igvnv commented on #1573
Understandable.

I suppose that wrapping this `console.log` into `if (process.env.NODE_ENV !== 'test')` won't affect developers and production users but will add a small improvement for developing process. It is not a big change, but even small changes make us happier.

[2021-09-08 19:40] Havunen commented on #1573
Okay sure, would you like to send PR?

[2021-09-12 08:40] #1548 closed

[2021-09-12 08:58] #1512 closed

[2021-09-15 09:06] #1569 closed

[2021-09-15 09:09] Havunen commented on #1545
I think the current build is fast enough for daily development work. We can close this issue

[2021-09-15 09:09] #1545 closed

[2021-09-15 09:10] Havunen commented on #1568
Hmm, it seems this is some new property added when compiling react jsx. Maybe we should do this change to inferno-compat package

[2021-09-15 09:14] Havunen commented on #1519
Is this something what new inferno animation package will solve @jhsware ?

[2021-09-15 09:18] Havunen commented on #1526
I'm closing this issue because after almost 1 year there is no new information how to reproduce the issue.

Please re-open if its still a problem and add some steps to reproduce it.

[2021-09-15 09:18] #1526 closed

[2021-09-15 12:02] jhsware commented on #1519
Yes @Havunen, this should be solved by inferno-animation. The *Shuffle w. Anim* test in `inferno/docs/animations-demo/index.html` doesn't shuffle the keys (it shuffles the items) but it should be equivalent behaviour.

[2021-10-28 07:01] jhsware opened #1577 "SSR tests are run in JSDOM env and rely on document"
**Observed Behaviour**

All server rendering tests are run with JSDOM-environment exposing `document` which isn't available in node during SSR.

**Expected Current Behaviour**

We should run *.spec.server.jsx with separate config file and `testEnvironment: "node"`

[2021-10-29 10:48] ivanblinov2k17 opened #1579 "Context assigned to null if component wrapped in Fragment"
Looks like a typo here

[code]

should be

[code]

[2021-11-03 20:45] Havunen commented on #1579
Yeah, thanks for reporting this issue

[2021-11-03 21:23] Havunen commented on #1579
This is fixed in 7.4.11

[2021-11-03 21:23] #1579 closed

[2021-11-08 15:17] #1573 closed

[2021-11-13 18:43] jhsware opened #1582 "PR1581 breaks demos and probably a lot of other things"
[code]
https://github.com/infernojs/inferno/blob/5c017e189c67875516145f3efb56b0a8e6d124f3/packages/inferno/src/index.ts#L24

process isn't available in the browser. Also the solution is very implementation specific, should probably be solved in a more general way.

I suggest reverting this change and reopening the PR.

[2021-11-13 20:23] Havunen commented on #1582
I will check this out later, its not publicly available yet

[2021-11-16 16:52] Havunen commented on #1582
fixed in master

[2021-11-16 16:52] #1582 closed

[2021-12-16 17:07] Gwenio opened #1585 "inferno-mobx observer is incompatible with certain life cycle hooks"
**Preface**

The issue comes from the fact that if class Components implement at least one of the getSnapshotBeforeUpdate or the getDerivedStateFromProps life cycle hook then the componentWillMount, componentWillReceiveProps, and componentWillUpdate hooks will be ignored.

Which by the way this behavior is not mentioned in the documentation on class Components.

For inferno-mobx's observer functio

[2021-12-16 17:50] Havunen commented on #1585
Hi,

Thanks for reporting this issue. You seem to have good knowledge about mobx, would you like to send PR to fix the issue?

The reason why those lifecycle methods dont get called when implementing the new methods is for react compatibility

[2021-12-17 18:04] Gwenio commented on #1585
Should still be mentioned in the documentation.

---

But back to inferno-mobx. If I am going to submit a PR, I would like to have the direction of it nailed down.

Here is list of things that can be done on inferno-mobx (would each be a separate PR):
- add new function to inferno-mobx that wires up class components correctly in a way that is independent of new / old lifecycle
- the existing obser

[2021-12-24 12:16] PindaPixel commented on #1536
Old issue, but the comparison shows inferno using class component syntax while the react example uses a function component.
In react using a class component you will get typescript complaining `Property 'defaultProps' does not exist on type 'typeof SimpleComponent'.ts(2339)` in this example:
[code]

While it is true inferno does not infer defaultProps on a function component either while react doe

[2021-12-24 12:38] Havunen commented on #1536
@PindaPixel very interesting! I need to look into this or would you like to create PR to improve the default props typings?

[2021-12-24 13:48] PindaPixel commented on #1536
Yeah I'll see if I can get it working properly. This is all that is needed to get the desired behaviour for both classes and functions:
[code]
But it's not perfect, ideally we'd want `Component<P>.defaultProps` to have type `Partial<P>` which is not possible on the static field in the class declaration. I'll see if I can do something there.

[2022-02-19 11:32] Havunen opened #1594 "Rendering links starting with "javascript:" should log warning"
Given following JSX, it should log warning
[code]

[2022-02-20 12:56] Havunen commented on #1585
That should not generally happen, because unmounted components are tracked: https://github.com/infernojs/inferno/blob/c658a41266e97e1a33d65f536c705cc70f5bd997/packages/inferno/src/DOM/patching.ts#L461-L463

yeah, using setState ensures the application does not get into infinite loop, empty object would do

What is the status with this issue btw, is it now considered fixed as both PRs were merged?

[2022-02-20 18:26] Havunen commented on #1536
This should now be fixed with: https://github.com/infernojs/inferno/commit/696006c3d817fc4f0af45d422eb78ad6deeb1caa

[2022-02-20 18:34] Havunen commented on #1536
This is fixed now in `inferno@8.0.0-alpha.4`

[2022-02-20 18:34] #1536 closed

[2022-02-20 20:25] Havunen commented on #1116
Hmm, this can already be achieved by using inferno.render API, this is an old issue so I'm closing this.

[2022-02-20 20:25] #1116 closed

[2022-02-20 20:27] #1439 closed

[2022-02-20 20:36] Havunen commented on #761
I think this issue could be closed, its just better tl refresh the browser IMO, because otherwise component state remains the same between reloads and weird issues will occur.

[2022-02-20 20:36] #761 closed

[2022-04-26 14:34] Havunen commented on #1568
That property seems to be added by https://www.npmjs.com/package/babel-plugin-transform-react-jsx-source I don't recommend using it.

[2022-04-26 14:34] #1568 closed

[2022-05-24 20:43] Havunen commented on #1520
I tested this change and seems the current check for === null || void 0 is the fastest.

This benchmark is from running the code directly in v8 to exclude DOM and so on. using == null checks  65.46seconds

![image](https://user-images.githubusercontent.com/2021355/170127979-c1629122-6ca2-45f5-8d03-61425f1c567f.png)

And this benchmark is having the current isNullOrUndef  === null || void 0 check i

[2022-05-24 20:43] #1520 closed

[2022-05-29 19:28] Havunen commented on #1469
IE11 and old edge are EOL and have only minor share of web browser market. Im closing this issue.

[2022-05-29 19:28] #1469 closed

[2022-06-01 05:38] Havunen commented on #1480
Inferno-devtools has retired

[2022-06-01 05:38] #1480 closed

[2022-06-17 11:14] Havunen commented on #1594
fixed in v8

[2022-06-17 11:14] #1594 closed

[2022-06-19 01:06] AntonOfTheWoods opened #1599 "8.0.0 breaks compilation in TS projects that have React class-based components"
## Issue Template

**Observed Behaviour**

Inferno using TS is no longer compiling in projects that have React class-based components. With 7.4.11 this works with no issues.

**Expected Current Behaviour**

Inferno should continue to compile in projects that have React class-based components.

8.0.0

See an extremely basic example here https://github.com/AntonOfTheWoods/inferno-react-broken

The e

[2022-06-19 06:10] Havunen commented on #1599
Thanks for reporting this issue and creating simple steps to reproduce. It seems this issue was caused by type refactoring for v8. https://github.com/infernojs/inferno/commit/696006c3d817fc4f0af45d422eb78ad6deeb1caa

[2022-06-19 06:17] Havunen commented on #1543
`create-inferno-app` is so badly outdated that it might be easier to fork it again

[2022-06-19 06:22] Havunen commented on #1496
This is something that I would like to implement for v9.
I believe the only correct way forward would be to make `setState` always "async". It cannot be always "sync" due to the infinite loop problem that it creates. It also has callback function parameter so its already an indication that it might not run synchronously.

[2022-06-19 06:37] Havunen commented on #1599
Fixed in 8.0.1 https://github.com/infernojs/inferno/releases/tag/v8.0.1

[2022-06-19 06:37] #1599 closed

[2022-06-19 07:22] AntonOfTheWoods commented on #1599
Awesome, thanks!

[2022-08-01 23:35] dessalines opened #1601 "Inferno-router Switch error: Its element type 'InfernoNode' is not a valid JSX element."
I have this issue when trying to use `IRouteProps.component`.

Code:

[code]

Error:
[code]

Inferno `8.0.1`

[2022-08-02 08:41] Havunen commented on #1601
Can you show how "routes" variable is constructed so I could reproduce the same issue. I have found some problems with inferno-router typings which I'm trying to fix, but I'm not sure if its the same issue you are having

[2022-08-02 09:49] Havunen commented on #1601
Did you also update inferno-router 8.0.1

[2022-08-02 16:11] Havunen commented on #1601
I think this issue occurs because IRouteProps declares component as optional parameter, because either "component" or "render" can be used. The problem appears when using IRouteProps Component property to render the component because it might be null. using it with `!` operator might fix the issue you are having. To tell the typescript compiler that it will never be "undefined".

I have released a

[2022-08-02 18:23] dessalines commented on #1601
`8.0.2` fixed it, thanks!

[2022-08-02 18:23] #1601 closed

[2022-08-09 19:24] IsaacHub opened #1603 "Examples have broken links 404"
In this link https://infernojs.github.io/inferno/
All the examples throwing 404 error, please check and fix them.

![brave_znFsl18DpL](https://user-images.githubusercontent.com/20126441/183742450-fa8a177f-d60d-49bc-a171-198472628666.png)

[2022-08-10 13:05] Havunen commented on #1603
Thanks for reporting this, I will check it out

[2022-08-14 16:29] Havunen commented on #1603
This is now fixed.

[2022-08-14 16:29] #1603 closed

[2022-08-16 01:28] tolg opened #1604 "Why remove CSSProperties in 8.0?"
CSSProperties is a vary handy type when coding some HTML element style, but I found that inferno 8.0 changed the `style` property's type to `any`. What's the consideration of this changing?

[2022-08-16 05:37] Havunen commented on #1604
Yeah, I'm planning to add them back, but need to think how to get it done nicely.
React.CssProperties is based on this package: https://github.com/frenic/csstype
which types them like `textAlign: 'middle',` in inferno that would be: `text-align: 'middle',` or it could be given as style string

[2022-08-17 10:07] Coachonko commented on #1453
Any news on hooks?

[2022-08-17 11:03] Havunen commented on #1604
Oh it seems it supports types by hyphen https://github.com/frenic/csstype 🤩

[2022-08-18 15:59] Havunen commented on #1604
This will be fixed in 8.0.3

[2022-08-18 15:59] #1604 closed

[2022-08-24 18:05] Coachonko opened #1605 "inferno-server docs"
packages/inferno-server/readme.md contains a list of contents, renderToString is repeated. renderToString is the only one function that is documented. Please indicate which functions are available on each different platform.

[2022-08-31 18:52] #1463 closed

[2022-08-31 18:55] #1297 closed

[2022-08-31 18:55] Havunen commented on #1297
Closing due to inactivity

[2022-09-02 08:54] Coachonko opened #1606 "File-system router"
Is there a file-system router for inferno-router?

[2022-09-02 08:58] #1606 closed

[2022-09-04 14:28] Coachonko opened #1607 "Document inferno-router"
Currently the website links to the react router documentation, third party documentation is not perfectly matching current inferno-router functionality (hooks missing, native support missing though mentioned), furthermore it may be taken down at any time since react-router v5 is old and soon unmaintained

It would be best to mirror the docs for now, edit and publish them on the Inferno website lat

[2022-09-04 16:14] Havunen commented on #1607
Yeah thats true, was there something specific what you were looking for? Did you find the information? Is it something you could maybe add to the inferno router documentation?

[2022-09-05 06:14] Coachonko commented on #1607
The technique documented in react-router v5 to give specific classes to inactive NavLink does not seem to work, I'm seeking help in the discord to confirm whether it is the intended behavior or not first, but nobody has replied on discord yet.

[code]
results in
[code]